<template>
  <v-container class="mt-1">
    <v-row>
      <v-col
        cols="12"
        md="2"
        class="pr-lg-5"
      >
        <overview-key-value
          v-if="!formDataLoading"
          :opportunity="opportunity"
          :service="service"
        />
      </v-col>
      <v-col
        cols="12"
        md="10"
        class="description pl-lg-15 mt-0 pb-0"
      >
        <div>
          <pre-action-indicator
            :title="status.signUpTitle"
            :description="status.signUpMessage"
            :btn-label="status.signUpTitle"
            :icon="require('../../assets/doc-sign.svg')"
            :show-spin="status.ndaSignInProgress"
            :in-progress="!!preActionMessage"
            :progress-text="preActionMessage"
            @click-btn="$emit('triggerAction', 'showSignUpModal')"
          />
        </div>
        <v-container v-if="formDataLoading">
          <v-row class="mt-3">
            <v-col class="text-center pa-0">
              <v-progress-circular
                color="primary"
                indeterminate
              />
            </v-col>
          </v-row>
        </v-container>
        <div v-else>
          <slot name="content">
            <overview-fab-details
              v-if="opportunity"
              :opportunity="opportunity"
            />
            <overview-company-description
              :is-on-mobile="isOnMobile"
              :opportunity="opportunity"
              :service="service"
              :status="status"
              :is-tearsheet="true"
            />
            <overview-terms
              :opportunity="opportunity"
              :service="service"
            />
            <overview-countries-of-operation
              :opportunity="opportunity"
              :service="service"
            />
            <overview-media-gallery
              :opportunity="opportunity"
              :service="service"
            />
            <!-- <common-rich-text-editor-view
                :value="opportunity.description"
              /> -->
          </slot>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

  <script>
  import OverviewKeyValue from '../../landing/tabs/components/OverviewKeyValue'
  import PreActionIndicator from '../../landing/components/PreActionIndicator'
  import OverviewFabDetails from '../../landing/tabs/components/OverviewFabDetails'
  import OverviewCompanyDescription from '../../landing/tabs/components/OverviewCompanyDescription'
  import OverviewCountriesOfOperation from '../../landing/tabs/components/OverviewCountriesOfOperation'
  import OverviewMediaGallery from '../../landing/tabs/components/OverviewMediaGallery'
  import OverviewTerms from '../../landing/tabs/components/OverviewTerms'

  export default {
    name: 'CommonDigitalRoadshowLandingTabsOverview',

    components: {
      OverviewKeyValue,
      PreActionIndicator,
      OverviewFabDetails,
      OverviewCompanyDescription,
      OverviewCountriesOfOperation,
      OverviewMediaGallery,
      OverviewTerms,
    },

    props: {
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
      formDataLoading: {
        type: Boolean,
        required: false,
      },
    },
    data () {
      return {
        notes: [],
      }
    },
    computed: {
      preActionMessage () {
        return ''
      },
    },
    methods: {
    },
  }
  </script>
  <style lang="scss">
    .issuer-summary,
      .opp-summary {
        border-top: 1px solid var(--v-trsText-lighten1);
        position: relative;
        padding-top: 12px;
      }
    .badge-container {
      position: absolute;
      right: -20px;
      top: 0px;
    }
  </style>
