<template>
  <overview
    :is-opportunity-approved="isOpportunityApproved"
    :is-document-seen="isDocumentSeen"
    :investment-done="investmentDone"
    :opportunity="opportunity"
    :service="service"
    :status="status"
    :portal="portal"
    :reload-opportunity="$emit('reloadOpportunity')"
    :is-on-mobile="isOnMobile"
    :form-data-loading="formDataLoading"
    @triggerAction="triggerAction"
  >
    <template v-slot:content>
      <overview-fab-details-spv
        v-if="opportunity"
        :opportunity="opportunity"
        :service="service"
      />
      <overview-company-description-spv
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
      />
      <overview-countries-of-operation-spv
        :opportunity="opportunity"
        :service="service"
      />
      <overview-media-gallery-spv
        :opportunity="opportunity"
        :service="service"
      />
    </template>
  </overview>
</template>

<script>
  import Overview from './Overview'
  import OverviewFabDetailsSpv from '../../landing/tabs/spv/OverviewFabDetailsSpv'
  import OverviewCompanyDescriptionSpv from '../../landing/tabs/spv/OverviewCompanyDescriptionSpv'
  import OverviewCountriesOfOperationSpv from '../../landing/tabs/spv/OverviewCountriesOfOperationSpv'
  import OverviewMediaGallerySpv from '../../landing/tabs/spv/OverviewMediaGallerySpv'

  export default {
    name: 'CommonDigitalRoadshowLandingTabsOverview',

    components: {
      Overview,
      OverviewFabDetailsSpv,
      OverviewCompanyDescriptionSpv,
      OverviewCountriesOfOperationSpv,
      OverviewMediaGallerySpv,
    },

    props: {
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
      formDataLoading: {
        type: Boolean,
        required: false,
      },
    },
    data () {
      return {
        notes: [],
      }
    },
    methods: {
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
<style lang="scss">
</style>
