<template>
  <div class="d-flex">
    <common-certificate-badge
      v-for="certificate of certificates"
      :key="certificate.id"
      :certificate="certificate"
      class="mr-2"
    />
  </div>
</template>
<script>
  import * as CertificateSrvc from '@/components/common/services/certificates'
  export default {
    name: 'CertificateBadges',
    props: {
      recipient: {
        type: String,
        default: '',
      },
      field: {
        type: String,
        default: 'recipient_name',
      },
    },
    data: () => ({
      loading: false,
      certificates: [],
    }),
    mounted () {
      this.loadCertificate()
    },
    methods: {
      async loadCertificate () {
        this.loading = true
        try {
          const data = await CertificateSrvc.getCertificates(this.recipient, this.field)
          this.certificates = data.results
        } catch (err) {
          this.certificates = []
        }
        this.loading = false
      },
    },
  }
</script>
