<template>
  <v-avatar
    :size="size"
  >
    <img
      v-if="img"
      :src="img"
      :alt="certificate.details"
      style="object-fit: contain"
    >
    <span
      v-else
      class="text-h1"
    >
      {{ certificate.details[0] }}
    </span>
  </v-avatar>
</template>
<script>
  export default {
    name: 'CertificateBadge',
    props: {
      certificate: {
        type: Object,
        default: () => {},
      },
      size: {
        type: Number,
        default: 40,
      },
    },
    computed: {
      img () {
        const baseUrl = this.CONSTS.STATIC_ASSET_BASE_URL
        const MAPPER = {
          'KYC APPROVE': 'ic_customer_kyc.png',
        }
        return MAPPER[this.certificate.details]
          ? `${baseUrl}${MAPPER[this.certificate.details]}`
          : null
      },
    },
  }
</script>
