<template>
  <div>
    <div
      v-if="custodianData && !investmentLoading"
    >
      <common-document-pdf-form
        class="mt-5"
        :initial-visible="pdfFormInitialVisible"
        :doc-url="custodianData.signed_url"
        :initial-data="internalInvestorCustodian ? internalInvestorCustodian.custodian_data_list : []"
        :no-sign-button="false"
        :guide-title="'Edit Custodian Agreement Document'"
        :guide-text="guideText"
        :show-guide="false"
        @fill-form="saveFormData($event)"
        @sign-pdf="signDocument($event)"
        @close="closeForm"
      >
        <template v-slot:activator="{ on, attrs }">
          <slot
            name="activator"
            v-bind="{
              on: { ...on, click: (ev) => createDocumentAndClick(on.click, ev) },
              attrs,
              loading
            }"
          />
        </template>
      </common-document-pdf-form>
    </div>
  </div>
</template>

<script>
  import { getInvestorCustodianEsignUrl, getCustodianById, saveCustodianDocument, submitCustodianDocument } from '@/components/common/services/custodians'

  export default {
    name: 'SignCustodianDocument',

    components: {},

    props: {
      opportunity: {
        validate: () => true,
      },
      custodian: {
        validate: () => true,
      },
      investorCustodian: {
        validate: () => true,
      },
      investment: {
        validate: () => true,
      },
      service: {
        validate: () => true,
      },
    },

    data: () => ({
      investmentLoading: false,
      loading: false,
      esignLoading: false,
      custodianData: null,
      guideText: 'Please edit this document and click the “Save Data” button at either the top right or bottom center of the form. You may return to this section as often as you need until you complete the form. Once complete, click on the “DOCUSIGN“ button of the ”Sign and Send Contract” from the Subscription Tab to digitally sign and send this document.',
      pdfFormInitialVisible: false,
      internalInvestorCustodian: null,
    }),

    computed: {
    },

    watch: {
      investorCustodian: {
        handler (val) {
          this.internalInvestorCustodian = val
        },
        immediate: true,
      },
      investment: {
        handler (val) {
          this.loadData()
        },
        immediate: true,
        deep: true,
      },
      showModal (val) {
        //
      },
    },

    created () {
    },

    methods: {
      async createDocumentAndClick (onClick, ev) {
        if (!this.investorCustodian) {
          this.loading = true
          try {
            await submitCustodianDocument(this.investment.trellis_iid)
            this.internalInvestorCustodian = await this.service.getInvestorCustodianById(this.custodian.id, this.investment.entity.trellis_uid)
          } catch (err) {
            console.log(err)
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to submit custodian document.',
            })
          }
        }
        setTimeout(() => {
          onClick(ev)
        }, 100)
      },
      async loadData () {
        if (!this.custodian) {
          return
        }
        this.investmentLoading = false
        this.loading = true
        try {
          await this.getCustodian()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load custodian data.',
          })
        }
        this.loading = false
      },
      async signDocument (data) {
        this.esignLoading = true
        try {
          // await submitCustodianDocument(this.investment.trellis_iid)
          const result = await getInvestorCustodianEsignUrl(this.investment.entity.trellis_uid, this.custodian.id)

          this.$store.dispatch('app/loading', 'Redirecting...', { root: true })
          window.open(result.url, '_self')
        } catch (err) {
          // pass
        }
        this.esignLoading = false
      },
      async getCustodian () {
        this.custodianData = await getCustodianById(this.custodian.id)
      },
      async saveFormData (data) {
        try {
          await saveCustodianDocument(this.investment.trellis_iid, data)
          this.$store.dispatch('app/message', 'Saved your data')
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save form data',
          })
        }
      },
      closeForm () {
        this.investmentLoading = true
        this.$emit('reload')
      },
    },
  }
</script>
