<template>
  <common-common-modal
    v-model="showModal"
    max-width="650"
    :control-visibility="true"
    scrollable
  >
    <template v-slot:activator="{ on, attrs }">
      <slot
        name="activator"
        v-bind="{ on, attrs }"
      />
    </template>
    <template v-slot:default="{ close }">
      <common-trs-modal-card>
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>Wiring Instructions</common-trs-modal-card-title-content>
          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="close"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>

        <common-trs-modal-card-text>
          <div class="trsText--text font-weight-medium text-body-1">
            Entity: {{ investment.entity.name }}
            <br>
            TID: {{ investment.entity.trellis_uid }}
          </div>
          <div>
            {{ instructions }}
          </div>
        </common-trs-modal-card-text>
        <common-trs-modal-card-actions class="flex-row-reverse">
          <common-trs-btn
            type="primary"
            text
            class="white--text"
            @click="close"
          >
            Got it
          </common-trs-btn>
        </common-trs-modal-card-actions>
      </common-trs-modal-card>
    </template>
  </common-common-modal>
</template>

<script>

  export default {
    name: 'WiringInstruction',

    components: {},

    props: {
      investment: {
        validate: () => true,
      },
      opportunity: {
        validate: () => true,
      },
      custodian: {
        validate: () => true,
      },
    },

    data: () => ({
      showModal: false,
    }),

    computed: {
      instructions () {
        try {
          const foundCoustodian = this.opportunity.details.custodians.find(cus => cus.id === this.custodian.id)
          return foundCoustodian.wiring_instructions
        } catch {
          return ''
        }
      },
    },

    watch: {
      showModal (val) {
        //
      },
    },

    created () {
    },

    methods: {
    },
  }
</script>
