<template>
  <div class="user-detail-card">
    <p>
      {{ val }}
    </p>
    <p>{{ title }}</p>
  </div>
</template>

<script>
  export default {
    name: 'CoomUserDetailCard',

    components: {
    },

    props: {
      title: {
        value: String,
        default: '',
      },
      val: {
        value: String,
        default: '',
      },
    },
  }
</script>
<style lang="scss" scoped>
  .user-detail-card {
    p {
      font-size: 14px;
      margin-right: 60px;
    }
    p:first-child {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
</style>
