<template>
  <v-row>
    <v-col cols="4">
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Inline Data'"
      >
        <common-input-combobox
          v-model="internalValue.data"
          :disabled="disabled"
          :label="'Inline Data'"
          :error-messages="errors"
          color="primary"
          multiple
          persistent-hint
          small-chips
          validate-on-blur
          clearable
          class="input-combobox-auto-height"
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'AdditionalFields',
    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
