<template>
  <v-row dense>
    <v-col cols="6">
      <common-input-select
        v-model="internalValue.fileDocType"
        label="Type"
        :items="CONSTS.FILE_TYPES_DISPLAY"
        :disabled="disabled"
      />
    </v-col>
    <v-col cols="6">
      <common-input-text-field
        v-model="internalValue.fileDescription"
        :error-messages="errors"
        label="File Description"
        color="primary"
        validate-on-blur
        :disabled="disabled"
      />
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFieldsFile',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue: {
        handler (value) {
          if (!value.dataFileCategory) {
            this.internalValue.dataFileCategory = { Type: '0' }
          }
        },
        immediate: true,
      },
    },

    methods: {
      updateInternalValue () {
        // force update
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
