<template>
  <v-row dense>
    <v-col
      cols="6"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Helper Texts'"
      >
        <common-input-combobox
          v-model="internalValue.helperTexts"
          deletable-chips
          :disabled="disabled"
          :label="'Helper Texts'"
          :error-messages="errors"
          color="primary"
          multiple
          persistent-hint
          small-chips
          validate-on-blur
          clearable
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'PublicImage',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    mounted () {
    },
  }
</script>
