<template>
  <v-row dense>
    <v-col cols="4">
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Data Source'"
      >
        <common-input-select
          v-model="internalValue.dataSource"
          :disabled="disabled"
          label="Data Source"
          color="primary"
          :items="FORM_DEF_DATA_SOURCE_TYPES"
          :error-messages="errors"
          validate-on-blur
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isInline"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Inline Data'"
      >
        <common-input-combobox
          v-model="internalValue.data"
          :disabled="disabled"
          :label="'Inline Data'"
          :error-messages="errors"
          color="primary"
          multiple
          persistent-hint
          small-chips
          validate-on-blur
          clearable
          class="input-combobox-auto-height"
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isInline"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Default'"
      >
        <form-templates-data-entity-item-selector
          v-model="internalValueDefault"
          type="select"
          data-source="inline"
          :disabled="disabled"
          :error-messages="errors"
          color="primary"
          :label="'Default'"
          validate-on-blur
          :entity="null"
          :is-common="isCommon"
          :inline-data="internalValue.data"
        />
      </validation-provider>
    </v-col>
    <v-col
      v-if="isEntity"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Entity'"
      >
        <common-app-entity-item-selector
          v-model="internalValue.entity"
          :disabled="disabled"
          :error-messages="errors"
          color="primary"
          :label="'Entity'"
          validate-on-blur
          :entity="'data-entities'"
          :include="internalValue.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON ? 'common' : 'tenant'"
          item-text="name"
          item-value="name"
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isEntity"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Default'"
      >
        <form-templates-data-entity-item-selector
          v-model="internalValue.default"
          :type="internalValue.input"
          data-source="entity"
          :disabled="disabled"
          :error-messages="errors"
          color="primary"
          :label="'Default'"
          validate-on-blur
          :entity="internalValue.entity"
          :is-common="internalValue.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON"
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isEntity"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Id Field'"
      >
        <common-input-text-field
          v-model="internalValue.radioIdFieldName"
          placeholder="id"
          :error-messages="errors"
          color="primary"
          :label="'Id Field'"
          hint="id fieldname in table ('id' by default)"
          validate-on-blur
          :disabled="disabled"
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isEntity"
      cols="4"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Label Field'"
      >
        <common-input-text-field
          v-model="internalValue.radioNameFieldName"
          placeholder="name"
          :error-messages="errors"
          color="primary"
          :label="'Label Field'"
          hint="label fieldname in table ('name' by default)"
          validate-on-blur
          :disabled="disabled"
        />
      </validation-provider>
    </v-col>

    <v-col
      v-if="isEntity"
      cols="4"
      class="d-flex align-center"
    >
      <common-input-checkbox
        v-model="internalValue.radioUniqueByName"
        label="Unique By Name"
        :disabled="disabled"
      />
    </v-col>

    <v-col
      v-if="isEntity"
      cols="12"
    >
      <v-row no-gutters>
        <v-col cols="12">
          <v-subheader class="pa-0">
            Queries
          </v-subheader>
        </v-col>

        <v-col
          v-for="(query, index) in internalValue.radioQueries"
          :key="index"
          cols="12"
        >
          <radio-query
            v-model="internalValue.radioQueries[index]"
            :disabled="disabled"
            :sections="sections"
            @remove="removeItem"
          />
        </v-col>
        <v-col
          cols="12"
        >
          <radio-query
            v-model="newQuery"
            :disabled="disabled"
            :is-new="true"
            :sections="sections"
            @add="addItem"
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  import FormTemplatesDataEntityItemSelector from '@/components/common/fmsvc/form-templates/DataEntityItemSelector'
  import {
    FORM_DEF_INPUT_TYPES,
    FORM_DEF_DATA_SOURCE_TYPES,
  } from '@/constants'

  export default {
    name: 'AdditionalFieldRadio',

    components: {
      RadioQuery: () => import('./RadioQuery'),
      FormTemplatesDataEntityItemSelector,
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
      FORM_DEF_DATA_SOURCE_TYPES,
      FORM_DEF_INPUT_TYPES,
      newQuery: {},
    }),

    computed: {
      isEntity () {
        return this.internalValue.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY ||
          this.internalValue.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON
      },
      isInline () {
        return [
          this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE,
          this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX,
        ].includes(this.internalValue.dataSource)
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      internalValueDefault: {
        get () {
          if (this.internalValue.default && this.internalValue.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
            return this.internalValue.data[this.internalValue.default[0]]
          }
          return this.internalValue.default
        },
        set (val) {
          if (this.internalValue.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
            const idx = this.internalValue.data.findIndex(v => v === val)
            this.internalValue.default = [idx]
          } else {
            this.internalValue.default = val
          }
        },
      },
    },

    watch: {
      internalValue: {
        handler (value) {
          if (!value.radioQueries) {
            this.internalValue.radioQueries = []
          }
        },
        immediate: true,
      },
    },

    methods: {
      removeItem (value) {
        const index = this.internalValue.radioQueries.indexOf(value)
        if (index !== -1) {
          this.internalValue.radioQueries.splice(index, 1)
          this.internalValue = { ...this.internalValue }
        }
      },
      addItem (event) {
        event.preventDefault()
        let val = this.internalValue.radioQueries
        if (!Array.isArray(val)) {
          val = []
        }
        this.internalValue = {
          ...this.internalValue,
          radioQueries: val.concat([this.newQuery]),
        }
        this.newQuery = {}
      },
    },
  }
</script>
