<template>
  <v-row dense>
    <v-col
      cols="6"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Label field name'"
      >
        <common-input-text-field
          v-model="internalValue.labelName"
          :disabled="disabled"
          type="text"
          :error-messages="errors"
          color="primary"
          :label="'Label field name'"
          validate-on-blur
          placeholder="Label"
        />
      </validation-provider>
    </v-col>
    <v-col
      cols="6"
    >
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Text field name'"
      >
        <common-input-text-field
          v-model="internalValue.textName"
          :disabled="disabled"
          type="text"
          :error-messages="errors"
          color="primary"
          :label="'Text field name'"
          validate-on-blur
          placeholder="Text"
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
