<template>
  <div
    class="mx-5 mt-6 mb-2 pb-4 nav-container"
  >
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Form Title
            </th>
            <th class="text-left w-200">
              Status
            </th>
            <th class="action w-200">
              Action
            </th>
          </tr>
        </thead>
        <draggable
          v-model="internalForms"
          style="width: 100%;"
          :options="{ handle:'.drag-handle' }"
          tag="tbody"
          @change="onMove"
        >
          <tr
            v-for="(form, index) in internalForms"
            :key="index"
            class="draggable-item cursor-pointer"
            :class="{
              'primary--text': index === internalValue
            }"
            :style="{
              'background' : index === internalValue ? backgroundColor : 'transparent'
            }"
          >
            <td>
              <div class="d-flex flex-row mb-5 pr-10">
                <v-icon
                  class="drag-handle mr-2"
                  :class="{
                    'primary--text': index === internalValue
                  }"
                >
                  mdi-drag
                </v-icon>
                <div class="muted indexing d-flex flex-column py-2">
                  <span
                    v-line-clamp="1"
                    class="text-body-2 font-weight-medium"
                  >{{ form.formTempl.name }}</span>
                  <span
                    v-if="form.formTempl.description"
                    class="text-caption theme--light pt-2"
                    style="font-weight:300"
                  >{{ form.formTempl.description }}</span>
                </div>
              </div>
            </td>
            <td class="status-col">
              <div
                v-if="!form.response || !form.response.response"
                class="d-flex align-center"
              >
                <div class="rounded-circle grey" />
                &nbsp;
                <p class="pl-2 mb-0 text-caption font-weight-medium">
                  Not started
                </p>
              </div>
              <div
                v-else-if="!form.response.response.$$isCompleted"
                class="d-flex align-center"
              >
                <div class="rounded-circle bg-warning" />
                &nbsp;
                <p class="pl-2 mb-0 theme--dark text-caption font-weight-medium">
                  In progress
                </p>
              </div>
              <div
                v-else-if="form.response.response.$$isCompleted"
                class="d-flex align-center"
              >
                &nbsp;
                <v-icon
                  class="rounded-circle bg-success"
                >
                  mdi-check
                </v-icon>
                <p class="pl-2 mb-0 text-caption font-weight-medium">
                  Complete
                </p>
              </div>
            </td>
            <td>
              <common-trs-btn
                type="primary"
                class="text-body-1 text-caption action-btn start-edit-action-btn"
                :pem-roles-allowed="[
                  CONSTS.ISSUER_ROLE.SUPERADMIN,
                  CONSTS.ISSUER_ROLE.ISSUER_ADMIN,
                  CONSTS.ISSUER_ROLE.ISSUER_EDITOR,
                ]"
                @click="internalValue = index"
              >
                {{ (!form.response || !form.response.response) ? 'Start' : 'Edit' }}
              </common-trs-btn>
              <common-trs-btn
                v-if="!form.isPredefined"
                type="tertiary"
                icon
                class="text-body-1 ml-3"
                :pem-roles-allowed="[
                  CONSTS.ISSUER_ROLE.SUPERADMIN,
                ]"
                @click="deleteItem(index)"
              >
                <v-icon class="icon-delete" />
              </common-trs-btn>
            </td>
          </tr>
        </draggable>
      </template>
    </v-simple-table>
    <slot name="actions" />
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    name: 'CommonFormGroupNav',

    components: {
      draggable,
    },

    props: {
      value: {
        type: Number,
        required: true,
      },
      forms: {
        type: Array,
        required: true,
      },
      mode: {
        type: String,
        validate: (val) => ['create', 'edit', 'view'].indexOf(val) !== -1,
        default: 'edit',
      },
      canEdit: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalForms: [],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      primaryColor () {
        return this.$vuetify.theme.themes[this.$vuetify.theme.dark ? 'dark' : 'light'].primary
      },
      backgroundColor () {
        return this.primaryColor + '33'
      },
    },

    watch: {
      forms: {
        immediate: true,
        handler (val) {
          if (val) {
            this.internalForms = [...this.forms]
          }
        },
      },
    },

    async created () {
    },

    methods: {
      onMove () {
        this.$emit('save', this.internalForms)
      },
      deleteItem (index) {
        this.$root.$confirm({
          entity: null,
          message: 'Are you sure you want to delete this form?',
          yesButton: 'Yes',
          noButton: 'No',
          maxWidth: 400,
        })
          .then(async (confirm) => {
            if (confirm) {
              this.internalForms.splice(index, 1)
              this.$emit('save', this.internalForms)
            }
          })
          .catch(() => {
          })
      },
      close () {
        this.internalDialog = false
      },
      async save () {
        this.$emit('save', this.internalForms)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .nav-container {
    border: 1px solid #D7E0E2;
    border-radius: 4px;
  }
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    height: auto;
    border-bottom: none !important;
  }

  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    border-bottom: none !important;
  }
  .w-200 {
    width: 200px;
  }

  .rounded-circle {
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
  .v-icon {
    &.mdi-check {
     font-size: 10px;
     color: var(--v-accent-lighten5);
    }
  }

  .bg-secondary {
    background-color: var(--v-secondary-base);
  }

  .bg-warning {
    background-color: var(--v-warning-base);
  }

  .bg-success {
    background-color: var(--v-success-base);
  }

  .draggable-item td {
    vertical-align: baseline;
  }

  .start-edit-action-btn {
    width: 60px;
    min-width: 60px;
  }
</style>
