<template>
  <v-dialog
    v-model="internalDialog"
    fullscreen
    transition="dialog-bottom-transition"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <div
      class="flex-fill d-flex flex-column pwa-modal-overlay"
      style="height: 100%"
    >
      <div class="flex-fill" />
      <div class="pwa-modal-content">
        <slot
          name="default"
          v-bind="{ close, internalDialog }"
        />

        <common-trs-btn
          dark
          fab
          large
          color="primary"
          class="pwa-modal-close-icon elevation-2"
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </div>
    </div>

    <!-- <template
      v-for="(_, slot) of $slots"
      v-slot:[slot]
    >
      <slot :name="slot" />
    </template> -->
  </v-dialog>
</template>

<script>
  export default {
    name: 'PwaDrawerModal',

    components: {
    },

    props: {
      value: {
        type: Boolean,
        default: false,
      },
      controlVisibility: {
        type: Boolean,
        default: false,
      },
      loadData: {
        type: Function,
        required: false,
        default: () => {},
      },
    },

    data: () => ({
      internalValue: false,
    }),

    computed: {
      internalDialog: {
        get () {
          return this.controlVisibility ? this.value : this.internalValue
        },
        set (val) {
          if (this.controlVisibility) {
            this.$emit('input', val)
          } else {
            this.internalValue = val
          }
        },
      },
    },

    watch: {
    },

    async created () {
    },

    methods: {
      close () {
        this.internalDialog = false
        this.loadData()
      },
    },
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-dialog {
    // background: #FFF;
  }
  .pwa-modal-overlay {
    background: #00000033;
  }
  .pwa-modal-content {
    background: #FFF;
    border-top: 5px solid var(--v-primary-base);
    position: relative;
  }
  .pwa-modal-close-icon {
    position: absolute;
    top: -30px;
    right: 30px;
  }
</style>
