<template>
  <v-expansion-panels
    v-model="tab"
    accordion
  >
    <v-expansion-panel>
      <v-expansion-panel-header class="text-h3 font-weight-bold">
        <label class="white--text text-body-2">
          Filter
          <v-icon>mdi-filter-variant</v-icon>
        </label>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row>
          <v-col
            cols="12"
          >
            <common-input-text-field
              v-model="value.opportunity_name"
              label="Name"
              prepend-inner-icon="mdi-magnify"
              clearable
              hide-details
              @input="submit"
            />
          </v-col>
          <v-col
            cols="12"
          >
            <common-input-text-field
              v-model="value.issuer_name"
              label="Issuer Name"
              clearable
              hide-details
              @input="submit"
            />
          </v-col>
          <v-col
            cols="12"
          >
            <common-input-select
              v-if="entitiesSelect.length > 1 && !isAuthParty"
              v-model="entityId"
              label="Select Entity"
              :items="entitiesSelect"
              hide-details
            />
          </v-col>
          <v-col
            cols="12"
          >
            <form-entity-selector
              class="bottom-text"
              :value="value"
              :templ="{
                dataSource: 'entity_common',
                entity: 'market_short',
                id: 'opp_market_id',
                input: 'select',
                label: 'Market',
                mandatory: false,
                regex: '',
                returnObject: false,
                hideOptionalText: true,
                inputProps: { hideDetails: true, },
              }"
              @update="updateField"
            />
          </v-col>
          <v-col
            cols="12"
          >
            <form-entity-selector
              class="bottom-text"
              :value="value"
              :templ="{
                dataSource: 'entity_common',
                entity: 'stage',
                id: 'opp_stage_id',
                input: 'select',
                label: 'Stage',
                mandatory: false,
                regex: '',
                returnObject: false,
                hideOptionalText: true,
                inputProps: { hideDetails: true, },
              }"
              @update="updateField"
            />
          </v-col>
        </v-row>
        <div class="d-flex mt-4">
          <common-trs-btn
            type="tertiary"
            class="white--text"
            text
            @click="clear"
          >
            Clear
          </common-trs-btn>
          <v-spacer />
          <common-trs-btn
            type="secondary"
            text
            :loading="loading"
            @click="save"
          >
            Filter
          </common-trs-btn>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
  import FormEntitySelector from '@/components/common/fmsvc/form-templates/FormEntitySelector'
  export default {
    name: 'PortfolioFilter',

    components: {
      FormEntitySelector,
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      entityId: null,
      tab: 1,
    }),

    computed: {
      entities () {
        return this.$store.getters['auth/entities']
      },
      currentRole () {
        return this.$store.getters['auth/currentRole']
      },
      isAuthParty () {
        return [this.CONSTS.INVESTOR_ROLES.VIEWER, this.CONSTS.INVESTOR_ROLES.INVESTOR_ADMIN].includes(this.currentRole)
      },
      entitiesSelect () {
        const entities = this.entities
          .map(entity => ({
            text: entity.name,
            value: entity.id,
          }))
        if (this.isAuthParty) {
          return entities
        }
        return [{
          value: null,
          text: 'All',
        }].concat(entities)
      },
    },

    watch: {
      entityId: {
        handler (val) {
          this.save()
        },
        immediate: true,
      },
    },

    methods: {
      save () {
        this.$emit('loadData', this.isAuthParty, this.entityId)
        this.tab = 1
      },
      submit () {
        this.$emit('change', this.value)
      },
      clear () {
        this.$emit('change', {})
        this.$emit('loadData')
      },
      updateField (id, val) {
        const newVal = { ...this.value }
        this.$setObjectDeepValue(newVal, id, val)
        this.$emit('change', newVal)
      },
    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-select__selections{
    min-height: auto !important;
  }
  .bottom-text {
    margin-bottom: 0px !important;
  }
</style>
