<template>
  <v-card
    color="white"
    class="card"
  >
    <div
      class="d-flex"
      @click="$router.push({ name: 'OpportunityDetailLanding', params: { id: opportunity.opportunity.opp_id, isOnPortfolio: true }, query: { mode: CONSTS.DR_MODES.PRESENTATION, show: true } })"
    >
      <div
        class="logo-section"
      >
        <div class="mt-4 mx-5">
          <v-avatar
            v-if="logo"
            size="80"
            color="#FFF"
            class="elevation-0"
          >
            <v-img
              :src="logo"
              contain
              max-height="60"
              max-width="60"
            />
          </v-avatar>
        </div>
      </div>
      <div
        style="background-color: white;"
        class="mx-3"
      >
        <div
          class="text-body-2 trsText--text font-weight-normal text-start mt-4"
        >
          {{ opportunity.opportunity.opportunity_type === 'PRIMARY' ? 'Investment-Primary' : 'Investment-Secondary' }}
        </div>
        <common-text-truncate
          class="text-h3 black--text font-weight-bold text-start"
          :text="opportunity.opportunity.name"
        />
        <div
          class="mb-4"
          style="min-height: 30px;"
        >
          <div
            class="d-flex align-center justify-start"
            dense
            style="flex: 0;"
          >
            <span class="trsText--text text-body-2 font-weight-normal mr-1">Invested:</span>
            <span class="trsText--text text-body-2 font-weight-normal">
              {{ $currency(opportunity.investment_amount) }}
            </span>
          </div>
          <div
            v-if="(opportunity.opportunity.opportunity_type === 'PRIMARY') && opportunity.ioi_amount"
            class="d-flex align-center justify-start"
            dense
            style="flex: 0;"
          >
            <span class="trsText--text text-body-2 font-weight-normal mr-1">Indication Amount:</span>
            <span class="trsText--text text-body-2 font-weight-normal">
              {{ $currency(opportunity.ioi_amount) }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </v-card>
</template>
<script>
  import CommonTextTruncate from '@/components/core/common/TruncateText'

  export default {
    name: 'InvestmentCard',
    components: {
      CommonTextTruncate,
    },
    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
    },
    data: () => ({
    }),
    computed: {
      logo () {
        return this.opportunity.issuer && this.opportunity.issuer.branding && this.opportunity.issuer.branding.logo ? this.opportunity.issuer.branding.logo : ''
      },
      backgroundImage () {
        try {
          return this.opportunity.details.logo
        } catch (err) {
          return ''
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
.card {
  margin-bottom: 0px;
  margin-top: 0px;
}
.logo-section {
  min-width: 120px;
  border-right: 2px solid #f4f4f4;
}
</style>
