<template>
  <drawer-modal
    v-model="showModal"
    :control-visibility="true"
    :load-data="loadData"
  >
    <template v-slot:default>
      <div>
        <opportunity-detail-pwa
          :loading="loading"
          :opportunity="opportunity"
          :is-on-portfolio="isOnPortfolio"
          :service="roadshowService"
          @loadData="loadOpportunity"
          @reload="loadData"
        />
      </div>
    </template>
  </drawer-modal>
</template>
<script>
  import OpportunityDetailPwa from './OpportunityDetailPwa'
  import DrawerModal from './DrawerModal'
  import PwaService from '@/components/common/digital-roadshow-new2/service'
  export default {
    name: 'OpportunityDetailLanding',
    components: {
      OpportunityDetailPwa,
      DrawerModal,
    },
    data: () => ({
      opportunity: {},
      showModal: false,
      loading: false,
      roadshowService: null,
    }),
    computed: {
      id () {
        return this.$route.params.id
      },
      portal () {
        return this.$getPortal()
      },
      isOnPortfolio () {
        return this.$route.params.isOnPortfolio
      },
    },
    watch: {
    },
    created () {
      this.roadshowService = new PwaService(this.portal)
    },
    mounted () {
      if (this.$route.query.show) {
        this.showModal = true
        this.loadOpportunity()
      }
    },
    methods: {
      loadData () {
        this.$router.back()
      },
      async loadOpportunity () {
        this.loading = true
        try {
          this.opportunity = await this.roadshowService.getOpportunityById(this.id)
          this.loadFormData()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load opportunity',
          })
          this.$router.back()
        }
        this.loading = false
      },
      async loadFormData () {
        try {
          await Promise.all([
            this.roadshowService.loadIssuerForms(this.opportunity.issuer.issuer_id),
            this.roadshowService.loadOpportunityForms(this.opportunity.id),
          ])
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load form data',
          })
        }
      },
      close () {
        this.showModal = false
        this.$emit('loadData')
      },
    },
  }
</script>
