<template>
  <div>
    <v-progress-linear
      v-if="loading"
      color="primary"
      indeterminate
    />
    <div>
      <div
        class="logo-section"
      >
        <div class="mt-4 ml-5">
          <v-avatar
            v-if="logo"
            size="40"
            color="#FFF"
            class="elevation-0"
          >
            <v-img
              :src="logo"
              contain
              max-height="60"
              max-width="60"
            />
          </v-avatar>
        </div>
      </div>
      <div class="text-h2 black--text font-weight-bold ml-5 mb-4">
        {{ opportunity.name }}
      </div>
      <div v-if="backgroundImage">
        <v-img
          class="back-image-cont trsBack lighten-1"
          :style="{
            height: '150px',
            width: '100%',
          }"
          :src="backgroundImage"
        />
      </div>
      <div
        v-if="!isOnPortfolio && !isViewer"
        class="my-4 ml-5 d-flex"
      >
        <div class="d-flex align-center justify-center flex-column ma-3">
          <common-trs-btn
            type="tertiary"
            icon
            large
            color="#7A7A7A"
            @click="toggleFav"
          >
            <v-icon large>
              {{ opportunity.favorite === 1 ? 'mdi-bookmark' : 'mdi-bookmark-outline' }}
            </v-icon>
          </common-trs-btn>
          <span class="primary--text">Save</span>
        </div>
        <div class="d-flex align-center justify-center flex-column ma-3">
          <common-trs-btn
            type="tertiary"
            icon
            large
            color="#7A7A7A"
            @click="showModal = !showModal"
          >
            <v-icon medium>
              mdi-block-helper
            </v-icon>
          </common-trs-btn>
          <span class="primary--text">Dismiss</span>
        </div>
        <v-dialog
          v-model="showModal"
          max-width="500"
        >
          <template v-slot:activator="{ on }">
            <slot
              name="activator"
              v-bind="{ on }"
            />
          </template>
          <common-trs-modal-card>
            <common-trs-modal-card-title class="header-background">
              <common-trs-modal-card-title-content class="black--text">
                Confirmation
              </common-trs-modal-card-title-content>
              <common-trs-btn
                aria-label="Close"
                type="secondary"
                class="rounded-0"
                color="primary"
                size="large"
                icon
                text
                @click="close"
              >
                <v-icon>mdi-close</v-icon>
              </common-trs-btn>
            </common-trs-modal-card-title>
            <common-trs-modal-card-text class="content-background">
              <div class="text-center black--text ma-3">
                This will remove the opportunity from your active view. Do you want to continue ?
              </div>
            </common-trs-modal-card-text>
            <common-trs-modal-card-actions class="flex-row-reverse content-background">
              <common-trs-btn
                type="primary"
                text
                class="white--text"
                @click="dismissOpportunity"
              >
                Yes
              </common-trs-btn>
              <common-trs-btn
                type="tertiary"
                text
                class="primary--text"
                @click="close"
              >
                No
              </common-trs-btn>
            </common-trs-modal-card-actions>
          </common-trs-modal-card>
        </v-dialog>
      </div>
      <div class="mt-4 mx-5">
        <overview-fab-details-pwa
          :opportunity="opportunity"
        />
      </div>
      <div
        v-if="opportunity.description"
        class="ml-5"
      >
        <h2 class="black--text mb-1">
          Opportunity Description
        </h2>
        <common-rich-text-editor-view
          class="black--text"
          :value="opportunity.description"
        />
      </div>
      <div>
        <v-expansion-panels
          accordion
          multiple
          elevated
          light
        >
          <v-expansion-panel>
            <v-expansion-panel-header>Opportunity Details</v-expansion-panel-header>
            <v-expansion-panel-content>
              <div>
                <overview-key-value
                  :opportunity="opportunity"
                  :service="service"
                />
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>Company Details</v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="black--text">
                <overview-company-description
                  :opportunity="opportunity"
                  :service="service"
                  :is-pwa="true"
                />
                <div v-if="showText">
                  Not Available
                </div>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
</template>
<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  import OverviewFabDetailsPwa from '../opportunity/OverviewFabDetailsPwa'
  import OverviewKeyValue from '@/components/common/digital-roadshow-new2/landing/tabs/components/OverviewKeyValue'
  import OverviewCompanyDescription from '@/components/common/digital-roadshow-new2/landing/tabs/components/OverviewCompanyDescription'
  export default {
    name: 'OpportunityDetailPwa',
    components: {
      CommonRichTextEditorView,
      OverviewFabDetailsPwa,
      OverviewKeyValue,
      OverviewCompanyDescription,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      opportunity: {
        type: Object,
        default: () => {},
      },
      service: {
        validate: () => true,
      },
      isOnPortfolio: {
        type: Boolean,
        default: false,
      },
    },
    data: () => ({
      showModal: false,
      showText: false,
    }),
    computed: {
      currentRole () {
        return this.$store.getters['auth/currentRole']
      },
      isViewer () {
        return this.CONSTS.INVESTOR_ROLES.VIEWER === this.currentRole
      },
      logo () {
        return this.opportunity.issuer && this.opportunity.issuer.branding && this.opportunity.issuer.branding.logo ? this.opportunity.issuer.branding.logo : ''
      },
      backgroundImage () {
        try {
          return this.opportunity.details.logo
        } catch (err) {
          return ''
        }
      },
    },
    mounted () {
      this.$root.$on('checkData', (value) => {
        this.showText = value
      })
    },
    methods: {
      async dismissOpportunity () {
        await this.$store.dispatch('opportunities/toggleFav', {
          oppId: this.opportunity.id || this.opportunity.opp_id,
          favorite: -1,
        })
        this.showModal = false
        this.$emit('reload')
        this.$emit('loadData')
      },
      async toggleFav () {
        const favValue = this.opportunity.favorite !== 1 ? 1 : 0
        await this.$store.dispatch('opportunities/toggleFav', {
          oppId: this.opportunity.id || this.opportunity.opp_id,
          favorite: favValue,
        })
        this.$emit('loadData')
      },
      close () {
        this.showModal = false
      },
    },
  }
</script>
<style lang="scss" scoped>
  .logo-section {
    min-width: 120px;
  }
  .header-background {
    background-color: var(--v-trsBack-lighten1);
  }
  .content-background {
    background-color: white;
  }
  ::v-deep .v-icon {
    color: #7A7A7A !important;
  }
  .back-image-cont {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }
</style>
