<template>
  <div>
    <v-card class="pa-1">
      <v-card-title>
        <h3 class="white--text text-h3 my-4">
          My Profile
        </h3>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
          >
            <common-input-text-field
              v-model="wipValue.first_name"
              class="mb-3"
              readonly
              hide-details
              :label="'First Name'"
            />
            <common-input-text-field
              v-model="wipValue.last_name"
              class="mb-3"
              readonly
              hide-details
              :label="'Last Name'"
            />
            <common-input-text-field
              v-model="wipValue.username"
              class="mb-3"
              readonly
              hide-details
              :label="'Email Address'"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="mx-2">
        <drawer-modal
          v-model="showModal"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
        >
          <template v-slot:activator="{ on, attrs }">
            <common-trs-a-link
              class="primary--text"
              v-bind="attrs"
              v-on="on"
            >
              Update Password
            </common-trs-a-link>
          </template>
          <v-card
            flat
            light
          >
            <v-card-text>
              <reset-password
                @close="close"
              />
            </v-card-text>
          </v-card>
        </drawer-modal>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>

  export default {
    name: 'ProfileCard',

    components: {
      ResetPassword: () => import('./PwaResetPassword'),
      DrawerModal: () => import('./DrawerModal'),
    },

    props: {
      user: {
        type: Object,
        required: true,
      },
      mode: {
        type: String,
        default: 'view',
        validate: (val) => ['view', 'edit'].indexOf(val) !== -1,
      },
    },

    data: () => ({
      showModal: false,
      detailTab: null,
      wipValue: {},
    }),

    computed: {
      isEdit () {
        return this.mode === 'edit'
      },
    },

    mounted () {
      this.wipValue = this.user
    },
    methods: {
      close () {
        this.showModal = false
      },
    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-card .v-card__actions {
    padding-top: 0px !important;
  }
  ::v-deep .v-card__text {
    padding-bottom: 0px !important;
  }
</style>
