<template>
  <validation-observer
    ref="observer"
    v-slot="{ valid }"
  >
    <div class="pa-0">
      <h3 class="mt-1 black--text text-h3">Update Password</h3>
      <v-form>
        <v-row
          v-if="!verifyOTP"
        >
          <v-col cols="12">
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="Current Password"
            >
              <common-input-text-field
                v-model="form.oldPassword"
                label="Current Password"
                type="password"
                :error-messages="errors"
              />
            </validation-provider>
            <common-input-validation-provider-menu-error
              rules="required|min:8|includeANumber|includeASymbol|includeAUpperCase|includeALowerCase"
              :name="'New Password'"
              vid="confirmation"
              :bails="false"
            >
              <template v-slot:input="{ props, show, hide }">
                <common-input-text-field
                  v-model="form.password"
                  label="New Password"
                  class="mb-8"
                  :error-messages="props.errors"
                  type="password"
                  hide-details
                  @focus="show"
                  @blur="hide"
                />
              </template>
            </common-input-validation-provider-menu-error>
            <common-input-validation-provider-menu-error
              rules="required|confirmed:confirmation"
              :name="'Password'"
            >
              <template v-slot:input="{ props, show, hide }">
                <common-input-text-field
                  v-model="form.passwordConfirm"
                  label="Confirm Password"
                  :error-messages="props.errors"
                  type="password"
                  hide-details
                  @focus="show"
                  @blur="hide"
                />
              </template>
            </common-input-validation-provider-menu-error>
          </v-col>
        </v-row>
        <v-row
          v-if="verifyOTP"
        >
          <v-col cols="12">
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="OTP Code"
            >
              <common-input-text-field
                v-model="otpCode"
                label="OTP Code"
                :error-messages="errors"
              />
            </validation-provider>
            <label>
              having trouble?
              <common-trs-btn
                type="tertiary"
                class="primary--text"
                text
                @click="submit"
              >
                Resend OTP
              </common-trs-btn>
            </label>
          </v-col>
        </v-row>
      </v-form>
    </div>
    <v-divider />
    <div class="px-0 mt-3 mb-5 pb-0 d-flex justify-space-between">
      <common-trs-btn
        type="secondary"
        class="primary--text"
        @click="close"
      >
        Cancel
      </common-trs-btn>
      <common-trs-btn
        type="primary"
        class="white--text"
        :disabled="!valid"
        :loading="loading"
        @click="reset"
      >
        {{ verifyOTP ? 'Verify' : 'Submit' }}
      </common-trs-btn>
    </div>
  </validation-observer>
</template>

<script>
  import { api } from '@/api'

  export default {
    name: 'ResetPassword',

    components: {
    },

    data: () => ({
      form: {
        oldPassword: '',
        password: '',
        confirmPassword: '',
      },
      otpCode: '',
      verifyOTP: false,
      loading: false,
    }),

    computed: {
      profile () {
        return this.$store.getters['account/profile']
      },
      user () {
        return this.$store.getters['auth/user']
      },
    },

    methods: {
      reset () {
        if (this.verifyOTP) {
          this.verify()
        } else {
          this.submit()
        }
      },
      async submit () {
        if (this.form.oldPassword === this.form.password) {
          this.$store.dispatch('app/handleError', {
            message: 'New password should be different',
          })
          return
        }
        this.loading = true
        try {
          await api.post('reset-password', {
            password: this.form.oldPassword,
          }, { base: 'tenant' })
          this.verifyOTP = true
          this.$refs.observer.reset()
          const receiveOTP = this.profile.mfa_enabled ? 'phone' : 'email'
          this.$store.commit('app/showMessage', { text: `Successfully sent OTP code to your ${receiveOTP}` })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to reset password',
          })
        }
        this.loading = false
      },
      async verify () {
        this.loading = true
        try {
          await api.post('reset-password/verify-otp', {
            new_password: this.form.password,
            otp: this.otpCode,
          }, { base: 'tenant' })
          this.verifyOTP = false
          this.$store.commit('app/showMessage', { text: 'Successfully reset the password' })
          this.loadDefault()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save multi factor authentication settings',
          })
        }
        this.loading = false
      },
      close () {
        this.$emit('close')
        this.loadDefault()
      },
      loadDefault () {
        this.verifyOTP = false
        this.form = {
          oldPassword: '',
          password: '',
          confirmPassword: '',
        }
        this.otpCode = ''
        this.$refs.observer.reset()
      },
    },
  }
</script>
