<template>
  <common-app-page-header-v2
    class="pa-0 trs-filter-input"
    title="System Notifications"
    icon="icon-chat-messages"
    :applied-filter="$getAppliedFilter(internalValue, availableKeys, [])"
  >
    <template v-slot:primary-filter="{ toggleExpanded, expanded }">
      <common-input-text-field
        v-model="internalValue.title"
        label="Title"
        color="primary"
        clearable
        hide-details
        prepend-inner-icon="mdi-magnify"
        dense
        single-line
      >
        <template v-slot:append>
          <common-trs-filter-card-expand-btn
            :expanded="expanded"
            @toggleExpanded="toggleExpanded"
          />
        </template>
      </common-input-text-field>
    </template>
    <template v-slot:content>
      <v-col
        cols="12"
        sm="4"
      >
        <common-input-text-field
          v-model="internalValue.description"
          label="Description"
          color="primary"
          clearable
          hide-details
        />
      </v-col>
    </template>
  </common-app-page-header-v2>
</template>

<script>
  export default {
    name: 'AdminUserFilter',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      availableKeys: [
        { key: 'title' },
        { key: 'description' },
      ],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
