<template>
  <div>
    <list-header
      v-model="filters"
      class="mb-2"
    />
    <common-trs-card class="trs-table-container-card">
      <common-trs-data-table
        :headers="headers"
        :items="details"
        :options.sync="options"
        :server-items-length="totalCount"
        :loading="loading"
      >
        <template v-slot:item.title="{ item }">
          <common-trs-a-link
            @click="showDetails(item)"
          >
            <span>{{ item.title }}</span>
          </common-trs-a-link>
        </template>
        <template v-slot:item.expires_at="{ item }">
          {{ $dateFrom(item.expires_at) }}
        </template>
        <template v-slot:no-data>
          <span> No Results Found. </span>
        </template>
      </common-trs-data-table>
    </common-trs-card>
  </div>
</template>

<script>
  import * as systemNotificationsSrvc from '@/components/common/services/system-notifications'
  import debounce from 'lodash.debounce'
  import ListHeader from './Header'

  const TABLE_HEADERS = [
    { text: 'Title', value: 'title', sortable: true },
    { text: 'Type', value: 'type', sortable: true },
    { text: 'Severity', value: 'severity', sortable: true },
    { text: 'Expires At', value: 'expires_at', sortable: true },
  ]
  export default {
    name: 'AdminUsers',

    components: {
      ListHeader,
    },

    props: {
      preFilters: {
        type: Object,
        default: () => {},
      },
      hideFields: {
        validate: () => true,
        default: () => [],
      },
      query: {
        validate: () => true,
        default: null,
      },
    },

    data: () => ({
      loading: false,

      options: {
        sortDesc: [false],
        sortBy: ['created_on'],
      },
      details: [],
      totalCount: 0,
      headers: [],
      filters: {},
    }),

    computed: {
    },

    watch: {
      options: {
        handler () {
          this.loadData()
        },
        deep: true,
      },
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
          this.loadData()
        }, 500),
        deep: true,
      },
      hideFields: {
        handler (val) {
          this.headers = TABLE_HEADERS.filter(header => val.indexOf(header.value) === -1)
        },
        immediate: true,
      },
    },

    created () {
    },

    methods: {
      showDetails (item) {
        this.$root.$confirm({
          entity: null,
          message: '',
          description: item.message_details.details,
          yesButton: 'Got it',
          maxWidth: 400,
          color: 'primary',
          icon: {
            name: 'mdi-information',
          },
        })
      },
      async loadData () {
        this.loading = true
        try {
          const resp = await systemNotificationsSrvc.getSystemNotifications({
            ...this.options,
            filters: this.filters,
            query: this.query,
          })
          this.totalCount = resp.count
          this.details = resp.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load data',
          })
        }
        this.loading = false
      },
    },
  }
</script>

<style lang="scss">
</style>
