<template>
  <common-page-loader v-if="loading" />
  <common-trs-page-container
    v-else
    id="forms"
  >
    <template v-slot:page-content>
      <common-trs-card
        class="px-0"
      >
        <template v-slot:after-heading>
          <div class="trsText--text text-h3 font-weight-light">
            Preview Form
          </div>
        </template>

        <edit-form
          ref="editForm"
          v-model="form"
          :is-common="isCommon"
          :is-new="isNew"
          :is-preview="true"
          @save="save"
          @close="close"
        />
      </common-trs-card>
    </template>
  </common-trs-page-container>
</template>

<script>
  // import { api } from '@/api'
  import EditForm from '../form-builder/components/EditForm'
  import * as formsSrvc from '@/components/common/services/forms'

  export default {
    name: 'FormWizard',

    components: {
      EditForm,
    },

    data: () => ({
      loading: false,
      form: null,
    }),

    computed: {
      formId () {
        return this.$route.params.id
      },
      source () {
        return this.$route.query.source
      },
      isCommon () {
        return this.source === this.CONSTS.FORM_COMMON
      },
    },

    watch: {
      formId () {
        this.loadData()
      },
    },

    async created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true

        try {
          this.form = await formsSrvc.getFormById(this.formId, { base: this.isCommon ? 'common' : '' })
        } catch (err) {
          // handle err
          this.$router.push({ name: 'FormBuilderForms' })
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Invalid Form',
          })
        }

        this.loading = false
      },
      save (editedForm) {
      },
      close () {
        this.$router.push({ name: 'FormBuilderForms' })
      },
    },
  }
</script>

<style lang="sass">
</style>
