<template>
  <v-dialog
    v-model="internalDialog"
    :fullscreen="$vuetify.breakpoint.smAndDown"
    :max-width="700"
    scrollable
    v-bind="$attrs"
    v-on="$listeners"
  >
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Upload a File
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>

      <div
        class="trs-card__text-action-wrapper"
      >
        <div
          class="pa-4"
        >
          <common-input-file
            color="primary"
            :label="$formTemplInputShortLabel(inputTempl)"
            validate-on-blur
            v-bind="inputTempl.inputProps"
            :file-type="fileType.value"
            @change="uploadFile"
          />

          <common-input-checkbox
            v-if="internalDoc.details"
            v-model="internalDoc.details.watermark"
            label="Watermark Document"
          />
          <common-input-checkbox
            v-if="internalDoc.details"
            v-model="internalDoc.details.download_allowed"
            label="Download Allowed"
          />
        </div>
        <common-trs-modal-card-actions>
          <v-spacer />
          <common-trs-btn
            :disabled="!internalDoc.file && !internalDoc.document_id"
            type="primary"
            @click="save"
          >
            Save
          </common-trs-btn>
        </common-trs-modal-card-actions>
      </div>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'InputTemplateFileEditModal',

    components: {
    },

    props: {
      show: {
        type: Boolean,
        required: true,
      },
      value: {
        type: Object,
        validate: () => true,
      },
      inputTempl: {
        type: Object,
        validate: () => true,
      },
      fileType: {
        type: Object,
        validate: () => true,
      },
    },

    data: () => ({
      doc: null,
      uploading: false,
      uploadingProgress: 0,
    }),

    computed: {
      internalDialog: {
        get () {
          return this.show
        },
        set (val) {
          this.$emit('update:show', val)
        },
      },
      internalDoc: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    async created () {
    },

    methods: {
      uploadFile (ev) {
        if (ev) {
          this.internalDoc = {
            ...this.internalDoc,
            file: ev,
            name: ev.name,
          }
        } else {
          this.internalDoc = {
            ...this.internalDoc,
            file: null,
            name: '',
          }
        }
      },
      save () {
        this.close()
        this.$emit('upload')
      },
      close () {
        this.internalDialog = false
      },
    },
  }
</script>

<style lang="sass">
</style>
