<template>
  <common-common-modal
    v-model="internalValue"
    max-width="500"
    :control-visibility="true"
  >
    <template v-slot:default="{ close }">
      <v-card>
        <v-card-title>
          Document Name
          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="close"
          >
            mdi-close
          </v-icon>
        </v-card-title>

        <v-card-text>
          <v-row
            dense
            align="center"
          >
            <v-col
              cols="4"
            >
              <common-input-text-field
                v-model="pre"
                single-line
                hide-details
                placeholder="Prefix..."
              />
            </v-col>
            <v-col
              cols="4"
            >
              - {{ baseName }} -
            </v-col>
            <v-col
              cols="4"
            >
              <common-input-text-field
                v-model="post"
                single-line
                hide-details
                placeholder="Suffix..."
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <common-trs-btn
            type="primary"
            class="white--text"
            @click="save(close)"
          >
            Upload
          </common-trs-btn>
        </v-card-actions>
      </v-card>
    </template>
  </common-common-modal>
</template>

<script>
  export default {
    props: {
      value: {
        type: Boolean,
        default: false,
      },
      baseName: {
        type: String,
        default: '',
      },
    },

    data () {
      return {
        pre: '',
        post: '',
      }
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue (val) {
        if (val) {
          this.pre = ''
          this.post = ''
        }
      },
    },

    methods: {
      save (close) {
        const name = `${this.pre ? this.pre + ' - ' : ''}${this.baseName}${this.post ? ' - ' + this.post : ''}`
        this.$emit('nameSelected', name)
        close()
      },
    },
  }
</script>
