<template>
  <div :class="!isOnRoadshow ? 'trsBack lighten-1 pa-2' : ''">
    <div
      v-if="!isOnRoadshow"
      class="mb-3"
    >
      <label class="mr-auto font-weight-light mb-2 mx-2">Payments</label>
    </div>
    <common-trs-data-table
      :headers="headers"
      :items="investment.payments"
      hide-default-footer
    >
      <template v-slot:item.date="{ item }">
        <div>{{ showDate(item) }}</div>
      </template>
      <template v-slot:item.amount="{ item }">
        <div>{{ item.amount ? $currency(item.amount) : '-' }}</div>
      </template>
      <template v-slot:item.status="{ item }">
        <div>{{ CONSTS.PAYMENT_STATUS_TEXT[item.status] }}</div>
      </template>
      <template v-slot:item.actions="{ item }">
        <div class="position-relative d-flex">
          <div class="position-absolute">
            <v-badge
              v-if="item.new_note === true"
              class="new-note-badge"
              dot
              color="blue lighten-1"
              overlap
            />
          </div>
          <wire-payment-chat
            v-if="showChat"
            :investment="investment"
            :payment="item"
            :notes="item.notes"
            :isissuer="isIssuer"
            @reload-data="$emit('load-data')"
          />
        </div>
      </template>
    </common-trs-data-table>
  </div>
</template>
<script>
  import WirePaymentChat from './WirePaymentChat'
  export default {
    name: 'WirePayment',
    components: { WirePaymentChat },
    props: {
      investment: {
        type: Object,
        required: true,
        default: () => {},
      },
      isIssuer: {
        type: Boolean,
        default: false,
      },
      isOnRoadshow: {
        type: Boolean,
        required: true,
      },
      showChat: {
        type: Boolean,
        required: true,
      },
    },
    data: () => ({
      headers: [
        { text: 'Payment Date', value: 'date', sortable: false },
        { text: 'Amount', value: 'amount', sortable: false },
        { text: 'Status', value: 'status', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }),
    methods: {
      showDate (item) {
        if (item.status === this.CONSTS.PAYMENT_STATUS.SENT) {
          return this.$date(item.sent_on) || '-'
        } else if (item.status === this.CONSTS.PAYMENT_STATUS.CONFIRMED) {
          return this.$date(item.confirmed_on) || '-'
        } else {
          return this.$date(item.due_date) || '-'
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
 .new-note-badge {
    left: 19px;
    top: -17px;
  }
</style>
