<template>
  <common-common-modal
    v-model="showModal"
    max-width="650"
    :control-visibility="true"
    scrollable
  >
    <template v-slot:activator="{ on, attrs }">
      <slot
        name="activator"
        v-bind="{ on, attrs }"
      >
        <div>
          <v-icon
            small
            class="icon-chat-messages trsText--text"
            v-on="on"
            @click="getInvestmentNotes"
          />
        </div>
      </slot>
    </template>
    <template v-slot:default="{ close }">
      <common-trs-modal-card>
        <v-progress-linear
          v-if="loading"
          color="primary"
          indeterminate
        />
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>Wire Payment Notes</common-trs-modal-card-title-content>
          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="close"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>

        <validation-observer
          ref="observer"
          v-slot="{ valid }"
        >
          <common-trs-modal-card-text>
            <div>
              <div class="mb-3">
                <div
                  v-if="(!isissuer && internalPaymentValue.status === CONSTS.PAYMENT_STATUS.PENDING)"
                  class="font-weight-bold text-body-2"
                >
                  Please send the Wire Payment details.
                </div>
                <div
                  v-if="(!isissuer && investment.status === CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED)"
                  class="text-body-2"
                >
                  In order to complete the transaction, please confirm payment has been sent. The issuer will confirm afterwards when payment is received.
                </div>
                <div
                  v-if="(isissuer && payment.status === CONSTS.PAYMENT_STATUS.PENDING_ACKNOWLEDGEMENT)"
                  class="font-weight-bold text-body-1"
                >
                  Please acknowledge the payment
                </div>
              </div>
              <div v-if="paymentsSelect.length > 1">
                <common-input-select
                  v-model="paymentId"
                  placeholder="Select a Payment"
                  :items="paymentsSelect"
                  hide-details
                  class="mb-2"
                  @change="getInvestmentNotes"
                />
              </div>
              <section
                ref="chatArea"
                class="chat-area mb-1 rounded-0"
              >
                <div
                  v-if="checkNoMessage"
                  class="d-flex justify-center"
                >
                  No Messages
                </div>
                <div
                  v-if="!isissuer && paymentInstructions && (paymentInstructions.trim().length > 0)"
                  class="message-box"
                >
                  <div
                    class="message bank-details"
                    :class="{ 'message-out': isissuer, 'message-in': !isissuer }"
                  >
                    <div>Please use these instructions to wire the funds for your investment:</div>
                    <pre>{{ paymentInstructions.trim() }}</pre>
                  </div>
                  <div class="time">
                    by {{ paymentInstructionsBy }}
                  </div>
                </div>
                <div
                  v-for="(note, index) in noteData"
                  :key="index"
                  class="message-box"
                  :class="{'align-end': (senderId === note.by)}"
                >
                  <div
                    class="message"
                    :class="{ 'message-out': (senderId === note.by), 'message-in': (senderId != note.by) }"
                  >
                    <pre>{{ note.note }}</pre>
                  </div>
                  <div class="time">
                    {{ $date(note.date) }} at {{ $time(note.date) }} by {{ note.name }}
                  </div>
                </div>
              </section>
              <validation-provider
                v-slot="{ errors }"
                rules="required"
                :name="'Response'"
              >
                <common-input-textarea
                  v-if="!isViewer"
                  v-model="msg"
                  class="mb-3 ip-box"
                  hide-details
                  single-line
                  placeholder="Write response..."
                  :error-messages="errors"
                />
              </validation-provider>
            </div>
          </common-trs-modal-card-text>
          <common-trs-modal-card-actions class="flex-row-reverse">
            <common-trs-btn
              v-if="(!isissuer && internalPaymentValue.status === CONSTS.PAYMENT_STATUS.PENDING) || (isissuer && internalPaymentValue.status === CONSTS.PAYMENT_STATUS.PENDING_ACKNOWLEDGEMENT) && !isViewer"
              type="primary"
              text
              class="white--text"
              :disabled="loading || !valid"
              @click="sendPaymentAcknowledgeMent(close)"
            >
              {{ setBtnTxt }}
            </common-trs-btn>
            <common-trs-btn
              v-if="(isissuer && internalPaymentValue.status === CONSTS.PAYMENT_STATUS.PENDING) && !isViewer"
              type="primary"
              text
              class="white--text"
              :disabled="loading || !valid"
              @click="sendPaymentAcknowledgeMent(close)"
            >
              Confirm Payment
            </common-trs-btn>
            <common-trs-btn
              v-if="!isViewer"
              type="secondary"
              text
              class="white--text"
              :disabled="loading || !valid"
              @click="sendInvestmentNote"
            >
              Send Message
            </common-trs-btn>
          </common-trs-modal-card-actions>
        </validation-observer>
      </common-trs-modal-card>
    </template>
  </common-common-modal>
</template>

<script>
  import Vue from 'vue'
  import * as wirePaymentService from './service'
  // import PAYMENT_STATUS from '@/constants'

  export default {
    name: 'WirePaymentChatBoxModal',

    components: {},

    props: {
      investment: {
        required: true,
      },
      payment: {
        type: Object,
        default: () => {},
        required: true,
      },
      isissuer: {
        type: Boolean,
        required: true,
      },
      notes: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
      senderId: null,
      noteData: null,
      loading: false,
      msg: null,
      btnTxt: '',
      paymentInstructions: null,
      paymentInstructionsBy: null,
      showModal: false,
      paymentId: null,
      internalPaymentValue: {},
    }),

    computed: {
      paymentsSelect () {
        return this.investment.payments.map(item => ({
          text: `Payment of amount ${item.amount ? this.$currency(item.amount) : '-'} on date ${item.created_on ? this.$date(item.created_on) : '-'}`,
          value: item.id,
        }))
      },
      portal () {
        return this.$getPortal()
      },
      checkNoMessage () {
        let flag = false
        if (((this.portal === this.CONSTS.PORTAL.ISSUER) && (this.payment.status === this.CONSTS.PAYMENT_STATUS.PENDING) && (!this.noteData || this.noteData.length === 0)) || (!this.paymentInstructions && (!this.noteData || this.noteData.length === 0))) {
          flag = true
        }
        return flag
      },
      isViewer () {
        return this.$store.getters['auth/roles'].length === 1 && this.$store.getters['auth/roles'].includes(this.CONSTS.ISSUER_ROLE.ISSUER_VIEWER)
      },
      setBtnTxt () {
        if (this.isissuer) {
          return this.CONSTS.PAYMENT_BTN_TXT.SEND_PAYMENT_ACKNOWLEDGEMENT
        } else {
          return this.CONSTS.PAYMENT_BTN_TXT.SEND_PAYMENT_NOTE
        }
      },
    },

    watch: {
      showModal (val) {
        if (val) {
          this.getInvestmentNotes()
        }
      },
      investment: {
        handler () {
          this.paymentId = this.paymentId || this.payment.id
        },
        immediate: true,
      },
      payment: {
        handler (val) {
          if (val) {
            this.internalPaymentValue = this.internalPaymentValue || val
          }
        },
        immediate: true,
        deep: true,
      },
    },

    created () {
      if (this.investment && this.investment.opportunity && this.investment.opportunity.details && this.investment.opportunity.details.payment_instructions) {
        this.paymentInstructions = this.investment.opportunity.details.payment_instructions
        this.paymentInstructionsBy = this.investment.issuer.name
      } else {
        this.paymentInstructions = null
        this.paymentInstructionsBy = null
      }
      this.accountDetails()
    },

    methods: {
      moveScroll () {
        Vue.nextTick(() => {
          const messageDisplay = this.$refs.chatArea
          if (messageDisplay) {
            messageDisplay.scrollTop = messageDisplay.scrollHeight
          }
        })
      },
      accountDetails () {
        const profile = this.$store.getters['account/profile']
        this.senderId = profile.username
      },
      async getInvestmentNotes () {
        this.loading = true
        try {
          const data = await wirePaymentService.getInvestmentNotes(
            this.investment.id,
            null,
            this.paymentId,
            this.isissuer ? null : { base: 'tenant' },
            this.isissuer,
          )
          this.noteData = data.notes
          this.internalPaymentValue = data
          this.$emit('reload-data', true)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load Response',
          })
        }
        this.loading = false
      },
      async sendInvestmentNote () {
        if (this.msg) {
          this.loading = true
          try {
            const payload = {
              note: this.msg,
            }
            // eslint-disable-next-line no-unused-vars
            await wirePaymentService.sendInvestmentNote(
              this.investment.id,
              payload,
              this.paymentId,
              this.isissuer ? null : { base: 'tenant' },
              this.isissuer,
            )
            this.moveScroll()
            this.msg = null
            this.$emit('reload-data', true)
            this.getInvestmentNotes()
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to send note',
            })
          }
          this.loading = false
        }
      },
      async sendPaymentAcknowledgeMent (close) {
        if (this.msg) {
          try {
            const payload = {
              note: this.msg,
              payment_status: this.isissuer ? 'CONFIRMED' : 'SENT',
            }
            // eslint-disable-next-line no-unused-vars
            await wirePaymentService.sendPaymentAcknowledgeMent(
              this.investment.id,
              payload,
              this.paymentId,
              this.isissuer ? null : { base: 'tenant' },
              this.isissuer,
            )
            this.moveScroll()
            this.msg = null
            this.$emit('reload-data', true)
            this.getInvestmentNotes()
            close()
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to send note',
            })
          }
          this.loading = false
        }
      },
    },
  }
</script>
<style scoped lang="scss">
  .chat-area {
    border: 2px solid var(--v-trsBack-base);
    border-bottom: 1px solid var(--v-trsBack-base);
    background: white;
    height: 35vh;
    padding: 1em;
    overflow: auto;
    margin: 0;
    &::-webkit-scrollbar {
        height: 0.5em;
        width: 0.5em;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--v-trsBack-base);
      }
  }
  .message-box {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
  }
  .time {
    font-size: 10px;
  }
  .message {
    width: max-content;
    max-width: 65%;
    border-radius: 6px;
    padding: 0.5em 1.2em;
    font-size: 12px;
  }
  .message-out {
    background: #407fff;
    color: white;
    /* margin-left: 50%; */
  }
  .message-in {
    background: #f1f0f0;
    color: black;
  }
  .ip-box {
    margin-top: -5px;
    border: 1px solid var(--v-trsBack-base);
    .v-textarea {
      box-shadow: 0px -9px 13px rgb(0 0 0 / 10%);
    }
  }
  .bank-details {
   max-width: 100% !important;
    div {
      font-weight: bold;
    }
  }
  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

</style>
