<template>
  <div class="px-1">
    <hr
      v-if="isRoadshow"
      class="mb-4"
    >
    <v-progress-linear
      v-if="loading"
      color="primary"
      indeterminate
    />
    <div
      v-for="(data, index) in filteredData"
      :key="index"
      class="mt-4"
    >
      <div
        v-if="data.title"
        class="px-6 trsText--text text-h4 font-weight-medium"
      >
        {{ data.title }}
      </div>
      <common-trs-data-table
        :headers="headers"
        :search="search"
        :items="data.list"
        class="trs-table-container-card"
        :hide-default-footer="true"
        disable-pagination
      >
        <template v-slot:[`item.name`]="{ item }">
          {{ item.share_terms_name || item.name || 'Others' }}
        </template>
        <template v-slot:[`item.share_terms`]="{ item }">
          <div class="badge-box-card">
            <share-term-badge
              class="mx-1"
              :type-list="item.securities"
            />
          </div>
        </template>
        <template v-slot:[`item.investors`]="{ item }">
          <span>
            {{ $number(item.number_holders) }}
          </span>
        </template>
        <template v-slot:[`item.number_fully_diluted`]="{ item }">
          <span>
            {{ $number(item.number_fully_diluted) }}
          </span>
        </template>
        <template v-slot:[`item.ratio_fully_diluted`]="{ item }">
          <span>
            {{ (parseFloat(item.ratio_fully_diluted) * 100).toFixed(2) }} %
          </span>
        </template>
        <template
          v-if="data.total"
          slot="body.append"
        >
          <tr
            class="text-right footer-bg"
          >
            <td
              id="t0"
              class="trs--text text-body-1 font-weight-bold text-left"
            >
              Total
            </td>
            <td
              id="t1"
            />
            <td
              id="t2"
              class="trs--text text-body-1 font-weight-bold"
            >
              <span>
                {{ $number(data.total.number_holders) }}
              </span>
            </td>
            <td
              id="t3"
              class="trs--text text-body-1 font-weight-bold"
            >
              <span>
                {{ $number(data.total.number_fully_diluted) }}
              </span>
            </td>
            <td
              id="t4"
              class="trs--text text-body-1 font-weight-bold"
            >
              <span>
                {{ (parseFloat(data.total.ratio_fully_diluted) * 100).toFixed(2) }} %
              </span>
            </td>
          </tr>
        </template>
      </common-trs-data-table>
    </div>
  </div>
</template>

<script>
  import ShareTermBadge from './ShareTermBadge'

  export default {
    name: 'IssuerCaptableSummary',

    components: {
      ShareTermBadge,
    },

    props: {
      headers: {
        type: Array,
        required: true,
      },
      captableSummary: {
        type: Object,
        required: true,
        default: () => {},
      },
      search: {
        type: String,
        default: '',
      },
      shareTermList: {
        type: Array,
        required: true,
      },
      warrantTermList: {
        type: Array,
        required: true,
      },
      convertibleTermList: {
        type: Array,
        required: true,
      },
      loading: {
        type: Boolean,
        default: true,
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      filteredData: [],
    }),

    watch: {
      captableSummary: {
        handler (val) {
          if (val && Object.keys(val).length > 0) {
            this.updateCaptableSummary()
          }
        },
        immediate: true,
      },
    },

    methods: {
      updateCaptableSummary () {
        this.filteredData = []
        const updatedFinancingRounds = this.mergeOthersData(this.captableSummary.equity_summary.others.share_terms, this.captableSummary.equity_summary.financing_rounds)
        const updatedWarrantFinancingRounds = this.mergeOthersData(this.captableSummary.equity_summary.others.warrant_terms, this.captableSummary.equity_summary.financing_rounds)

        const shareTermsFR = updatedFinancingRounds.financingRounds.filter((fr) => fr.share_terms.length > 0)
        const warrantTermsFR = updatedWarrantFinancingRounds.financingRounds.filter((fr) => fr.warrant_terms.length > 0)
        const convertibleTermsFR = this.captableSummary.convertible_summary.financing_rounds.filter((fr) => fr.convertible_terms.length > 0)
        const eips = this.captableSummary.equity_summary?.equity_incentive_plans?.equity_incentive_plans.filter(fr => fr.options.length > 0)

        let allShareTerms = shareTermsFR.map((fr) => fr.share_terms)
        let allWarrantTerms = warrantTermsFR.map((fr) => fr.warrant_terms)
        let allConvertibleTerms = convertibleTermsFR.map((fr) => fr.convertible_terms)

        allShareTerms = [].concat.apply([], allShareTerms, updatedFinancingRounds.others)
        allWarrantTerms = [].concat.apply([], allWarrantTerms, updatedWarrantFinancingRounds.others)
        allConvertibleTerms = [].concat.apply([], allConvertibleTerms)

        let commonShareTerms = allShareTerms.filter(shareTerm => shareTerm.share_terms_type === this.CONSTS.SHARE_TERM_TYPES.COMMON)
        let preferredShareTerms = allShareTerms.filter(shareTerm => shareTerm.share_terms_type === this.CONSTS.SHARE_TERM_TYPES.PREFERRED)
        const consolidatedEip = this.getConsolidatedEipDetail(eips)

        commonShareTerms = this.getShareTermBoardApprovalDate(commonShareTerms)
        preferredShareTerms = this.getShareTermBoardApprovalDate(preferredShareTerms)

        commonShareTerms = this.getWarrantsOfShareTerms(allWarrantTerms, commonShareTerms, this.CONSTS.SHARE_TERM_TYPES.COMMON)
        preferredShareTerms = this.getWarrantsOfShareTerms(allWarrantTerms, preferredShareTerms, this.CONSTS.SHARE_TERM_TYPES.PREFERRED)

        commonShareTerms = this.getConvertiblesOfShareTerms(allConvertibleTerms, commonShareTerms, this.CONSTS.SHARE_TERM_TYPES.COMMON)
        preferredShareTerms = this.getConvertiblesOfShareTerms(allConvertibleTerms, preferredShareTerms, this.CONSTS.SHARE_TERM_TYPES.PREFERRED)

        commonShareTerms = this.getUpdatedHolders(commonShareTerms, this.CONSTS.SHARE_TERM_TYPES.COMMON)
        preferredShareTerms = this.getUpdatedHolders(preferredShareTerms, this.CONSTS.SHARE_TERM_TYPES.PREFERRED)

        commonShareTerms = this.getUpdatedTemsListAsPerDate(commonShareTerms)
        preferredShareTerms = this.getUpdatedTemsListAsPerDate(preferredShareTerms)

        this.filteredData = [{
          title: 'Common Shares',
          list: commonShareTerms,
          total: this.getTotals(commonShareTerms),
        }, {
          title: 'Preferred Shares',
          list: preferredShareTerms,
          total: this.getTotals(preferredShareTerms),
        }, {
          title: 'Equity Incentive Plans',
          list: consolidatedEip,
        }]
      },
      getShareTermBoardApprovalDate (list) {
        list.forEach((term) => {
          const linkedTerm = this.shareTermList.find((shareTerm) => shareTerm.id === term.share_terms_id)
          if (linkedTerm) {
            term.board_approved_on = linkedTerm.board_approved_on
          }
        })
        return list
      },
      mergeOthersData (others, financingRounds) {
        const othersIndx = []
        let idx = 0
        others.forEach((o) => {
          financingRounds.forEach((f) => {
            if (f.share_terms && f.share_terms.length > 0) {
              for (const i in f.share_terms) {
                if (o.share_terms_id === f.share_terms[i].share_terms_id) {
                  f = this.getMergedData(f, i, o, 'share_terms', 'shares')
                  othersIndx.push(idx)
                }
              }
            }
            if (f.warrant_terms && f.warrant_terms.length > 0) {
              for (const i in f.warrant_terms) {
                if (o.warrant_terms_id === f.warrant_terms[i].warrant_terms_id) {
                  f = this.getMergedData(f, i, o, 'warrant_terms', 'warrants')
                  othersIndx.push(idx)
                }
                f.warrant_terms[i].warrants = this.removeNoValueHolders(f.warrant_terms[i].warrants, 'number_fully_diluted')
              }
            }
          })
          idx++
        })
        othersIndx.forEach((index) => {
          others.splice(index, 1)
        })
        return { others: others, financingRounds: financingRounds }
      },
      removeNoValueHolders (list, key) {
        const noWarrantIdx = []
        for (const j in list) {
          const currentWarrant = list[j]
          if (parseInt(currentWarrant[key]) > 0) {
            noWarrantIdx.push(currentWarrant)
          }
        }
        return noWarrantIdx
      },
      getMergedData (round, idx, other, termKey, shareKey) {
        round[termKey][idx].number_fully_diluted = parseFloat(round[termKey][idx].number_fully_diluted) + parseFloat(other.number_fully_diluted)
        round[termKey][idx].number_outstanding = parseFloat(round[termKey][idx].number_outstanding) + parseFloat(other.number_outstanding)
        round[termKey][idx].ratio_fully_diluted = parseFloat(round[termKey][idx].ratio_fully_diluted) + parseFloat(other.ratio_fully_diluted)
        round[termKey][idx].ratio_outstanding = parseFloat(round[termKey][idx].ratio_outstanding) + parseFloat(other.ratio_outstanding)
        if (round[termKey][idx][shareKey] && round[termKey][idx][shareKey].length > 0) {
          round[termKey][idx][shareKey] = this.getMergedHolders(round[termKey][idx][shareKey], other[shareKey])
        }
        return round
      },
      getMergedHolders (orgHolderList, extraHolderList) {
        const existingHolderList = []
        const newHolderList = []
        const allData = []
        orgHolderList.forEach((o) => {
          for (const e of extraHolderList) {
            if (o.holder.id === e.holder.id) {
              o.number_fully_diluted = parseFloat(o.number_fully_diluted) + parseFloat(e.number_fully_diluted)
              o.number_outstanding = parseFloat(o.number_outstanding) + parseFloat(e.number_outstanding)
              o.ratio_fully_diluted = parseFloat(o.ratio_fully_diluted) + parseFloat(e.ratio_fully_diluted)
              o.ratio_outstanding = parseFloat(o.ratio_outstanding) + parseFloat(e.ratio_outstanding)
              existingHolderList.push(e)
            } else {
              const existingHolder = existingHolderList?.find((holder) => holder?.holder?.id === e?.holder?.id)
              const newHolderIndex = newHolderList?.findIndex((holder) => holder?.holder.id === e?.holder?.id)
              if ((!existingHolder || Object.keys(existingHolder)?.length === 0) && (newHolderList?.length === 0 || newHolderIndex === -1)) {
                newHolderList.push(e)
              }
            }
          }
        })
        orgHolderList = [...orgHolderList, ...newHolderList]
        orgHolderList.forEach((data) => {
          if (parseInt(data.number_fully_diluted) > 0 || parseInt(data.number_outstanding) > 0) {
            allData.push(data)
          }
        })
        return allData
      },
      getWarrantsOfShareTerms (warrantList, shareTermList, termType) {
        warrantList.forEach((warrantTerm) => {
          const liknedWarrantTerm = this.warrantTermList.find(term => warrantTerm.warrant_terms_id === term.id)
          const linkedShareTerm = this.shareTermList.find(term => liknedWarrantTerm.share_terms_id === term.id)
          const termIndex = shareTermList.findIndex(term => term.share_terms_id === linkedShareTerm.id)
          if (termIndex > -1) {
            if (!shareTermList[termIndex].warrants) {
              shareTermList[termIndex].warrants = []
            }
            shareTermList[termIndex].warrants.push(...warrantTerm.warrants)
          } else if (linkedShareTerm.type === termType) {
            linkedShareTerm.warrants = warrantTerm.warrants
            linkedShareTerm.share_terms_type = termType
            shareTermList.push(linkedShareTerm)
          }
        })
        return shareTermList
      },
      getConvertiblesOfShareTerms (convertibleList, shareTermList, termType) {
        convertibleList.forEach((convertibleTerm) => {
          const linkedConvertibleTerm = this.convertibleTermList.find(term => convertibleTerm.id === term.id)
          const linkedShareTerm = this.shareTermList.find(term => linkedConvertibleTerm.share_terms_id === term.id)
          const termIndex = shareTermList.findIndex(term => term.share_terms_id === linkedShareTerm.id)
          if (termIndex > -1) {
            if (!shareTermList[termIndex].convertibles) {
              shareTermList[termIndex].convertibles = []
              shareTermList[termIndex].convertible_type = []
            }
            shareTermList[termIndex].convertibles.push(...convertibleTerm.convertibles)
            shareTermList[termIndex].convertible_type.push({ type: linkedConvertibleTerm.convertible_type })
          } else if (linkedShareTerm.type === termType) {
            linkedShareTerm.convertibles = convertibleTerm.convertibles
            linkedShareTerm.share_terms_type = termType
            linkedShareTerm.convertible_type = [{ type: linkedConvertibleTerm.convertible_type }]
            shareTermList.push(linkedShareTerm)
          }
        })
        return shareTermList
      },
      getUpdatedHolders (list, termType) {
        list.forEach(term => {
          const sharesFullyDiluted = parseFloat(term.number_fully_diluted) || 0
          const warrantsFullyDiluted = this.calculateSum(term.warrants, 'number_fully_diluted')
          const sharesFullyOwnership = parseFloat(term.ratio_fully_diluted) || 0
          const warrantsFullyOwnership = this.calculateSum(term.warrants, 'ratio_fully_diluted')

          const noOfShareHolders = term?.shares?.length || 0
          const noOfWarrantHolders = term?.warrants?.length || 0
          const noOfConvertibleHolders = term?.convertibles?.length || 0

          term.number_holders = noOfShareHolders + noOfWarrantHolders + noOfConvertibleHolders
          term.number_fully_diluted = sharesFullyDiluted + warrantsFullyDiluted
          term.ratio_fully_diluted = sharesFullyOwnership + warrantsFullyOwnership
          term.securities = term.shares?.length > 0 ? [{ type: termType }] : []
          if (term.warrants && term.warrants.length > 0) {
            term.securities.push({ type: this.CONSTS.SHARE_TERM_TYPES.WARRANT })
          }
          if (term.convertibles && term.convertibles.length > 0) {
            term.securities.push(...term.convertible_type)
          }
        })
        return list
      },
      getConsolidatedEipDetail (list) {
        const consolidatedEip = {}
        consolidatedEip.name = 'Equity Incentive Plan'
        consolidatedEip.number_holders = 0
        consolidatedEip.number_fully_diluted = 0
        consolidatedEip.ratio_fully_diluted = 0
        consolidatedEip.securities = [{ type: this.CONSTS.SHARE_TERM_TYPES.OPTION }]
        list.forEach((eip) => {
          consolidatedEip.number_holders += eip?.options?.length
          consolidatedEip.number_fully_diluted += eip.number_fully_diluted
          consolidatedEip.ratio_fully_diluted += parseFloat(eip.ratio_fully_diluted)
        })
        return consolidatedEip.number_holders > 0 ? [consolidatedEip] : []
      },
      getUpdatedTemsListAsPerDate (list) {
        // Commented for future scope
        /* list.forEach((item) => {
          item.priority = item.convertibles?.length > 0 ? 3 : (item.warrants?.length > 0 ? 2 : item.shares?.length > 0 ? 1 : 4)
        }) */
        return list.sort((a, b) => new Date(a.board_approved_on) - new Date(b.board_approved_on))
      },
      getTotals (list) {
        const total = {}
        total.number_holders = this.calculateSum(list, 'number_holders')
        total.number_fully_diluted = this.calculateSum(list, 'number_fully_diluted')
        total.ratio_fully_diluted = this.calculateSum(list, 'ratio_fully_diluted')
        return total
      },
      calculateSum (list, key) {
        let total = 0
        if (list && list.length > 0) {
          total = list.reduce((accumulator, currentValue) => {
            (total += +parseFloat(currentValue[key]))
            return total
          }, 0)
        }
        return total
      },
    },
  }
</script>
<style lang="scss" scoped>
  .badge-box-card {
    ::v-deep .badge-box {
      margin-right: 4px;
    }
  }
</style>
