<template>
  <div>
    <hr
      v-if="isRoadshow"
      class="mb-4"
    >
    <common-trs-data-table
      :headers="headers"
      :search="search"
      :items="filteredSummaryData"
      :loading="loading"
      class="trs-table-container-card"
      :hide-default-footer="true"
      disable-pagination
    >
      <template v-slot:[`item.name`]="{ item }">
        {{ item.name || 'Others' }}
      </template>
      <template v-slot:[`item.share_terms`]="{ item }">
        <share-term-badge
          class="mx-1"
          :type-list="item.securities"
        />
      </template>
      <template v-slot:[`item.investors`]="{ item }">
        <span>
          {{ $number(item.number_holders) }}
        </span>
      </template>
      <template v-slot:[`item.number_fully_diluted`]="{ item }">
        <span>
          {{ $number(item.number_fully_diluted) }}
        </span>
      </template>
      <template v-slot:[`item.ratio_fully_diluted`]="{ item }">
        <span>
          {{ (item.ownership * 100).toFixed(2) }} %
        </span>
      </template>
      <template slot="body.append">
        <tr
          class="text-right footer-bg"
        >
          <td
            id="t0"
            class="trs--text text-body-1 font-weight-bold text-left"
          >
            Total
          </td>
          <td
            id="t1"
          />
          <td
            id="t2"
            class="trs--text text-body-1 font-weight-bold"
          >
            <span>
              {{ $number(calculateSum('number_holders')) }}
            </span>
          </td>
          <td
            id="t3"
            class="trs--text text-body-1 font-weight-bold"
          >
            <span>
              {{ $number(calculateSum('number_fully_diluted')) }}
            </span>
          </td>
          <td
            id="t4"
            class="trs--text text-body-1 font-weight-bold"
          >
            <span>
              {{ (calculateSum('ownership') * 100).toFixed(2) }} %
            </span>
          </td>
          <!-- <td
            id="t5"
            class="trs--text text-body-1 font-weight-bold"
          >
            <span>
              {{ $currencyWithPrecision(calculateSum('invested_capital')) }}
            </span>
          </td> -->
        </tr>
      </template>
    </common-trs-data-table>
  </div>
</template>
<script>
  import ShareTermBadge from './ShareTermBadge'

  export default {
    name: 'CaptableSummaryView',

    components: {
      ShareTermBadge,
    },

    props: {
      headers: {
        type: Array,
      },
      captableSummary: {
        type: Object,
      },
      search: {
        type: String,
      },
      totalData: {
        type: Object,
      },
      shareTermList: {
        type: Array,
      },
      warrantTermList: {
        type: Array,
      },
      loading: {
        type: Boolean,
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      filteredSummaryData () {
        return this.getCaptableSummary()
      },
    },
    watch: {
      filteredSummaryData: {
        handler (val) {
          if (val) {
            this.expanded = val
            val.forEach(element => {
              element.expanded = element.share_terms
            })
          }
        },
        immediate: true,
      },
    },
    methods: {
      calculateSum (key) {
        let total = 0
        total = this.filteredSummaryData.reduce((accumulator, currentValue) => {
          (total += +currentValue[key])
          return total
        }, 0)
        return total
      },
      getShareTermDetails (uniqueShareTermIds, item, list, type) {
        if (list && item && uniqueShareTermIds) {
          item.securities = item.securities || []
          const securities = []
          uniqueShareTermIds.forEach((obj) => {
            list.forEach((data) => {
              if (data.id === obj) {
                if (type && type === this.CONSTS.SHARE_TERM_TYPES.CONVERTIBLE) {
                  data.type = data.convertible_type
                } else if (type) {
                  data.type = type
                }
                if (data.type === this.CONSTS.SHARE_TERM_TYPES.COMMON) {
                  item.priority = 1
                } else if (data.type === this.CONSTS.SHARE_TERM_TYPES.PREFERRED) {
                  item.priority = item.priority < 2 ? item.priority : 2
                } else if (data.type === this.CONSTS.SHARE_TERM_TYPES.WARRANT) {
                  item.priority = item.priority < 3 ? item.priority : 3
                } else {
                  item.priority = item.priority < 4 ? item.priority : 4
                }
                securities.push(data)
              }
            })
          })
          item.securities = [...new Set(item.securities.concat(securities))]
        }
      },
      getCaptableSummary () {
        let summary = []
        if (this.captableSummary && Object.keys(this.captableSummary).length > 0) {
          summary = [...new Set(summary.concat(this.captableSummary.financing_rounds))]
          summary = [...new Set(summary.concat(this.captableSummary.other))]
          summary = [...new Set(summary.concat(this.captableSummary.equity_incentive_plans))]
        }
        this.getUpdatedItems(summary)
        return summary.filter((data) => { return data.number_holders > 0 })
      },

      getUpdatedItems (items) {
        items.forEach((item) => {
          if (item.share_terms && item.share_terms.length > 0) {
            this.getShareTermDetails(item.share_terms, item, this.captableSummary.share_terms, null)
          }
          if (item.convertible_terms && item.convertible_terms.length > 0) {
            this.getShareTermDetails(item.convertible_terms, item, this.captableSummary.convertible_terms, this.CONSTS.SHARE_TERM_TYPES.CONVERTIBLE)
          }
          if (item.warrant_terms && item.warrant_terms.length > 0) {
            this.getShareTermDetails(item.warrant_terms, item, this.captableSummary.warrant_terms, this.CONSTS.SHARE_TERM_TYPES.WARRANT)
          }
          if (item.option_share_terms && item.option_share_terms.length > 0) {
            item.priority = 5
            const securities = [{
              type: this.CONSTS.SHARE_TERM_TYPES.OPTION,
            }]
            item.securities = item.securities ? [...new Set(item.securities.concat(securities))] : securities
          }
        })
        items.sort((a, b) => a.priority - b.priority)
        return items
      },
    },
  }
</script>
<style lang="scss" scoped>
  .footer-bg {
    background: var(--v-accent-base);
  }
  ::v-deep .v-data-table__wrapper table tbody tr {
    td {
      font: normal 500 14px/16px $font-family-base;
    }
  }
  ::v-deep .v-data-table__wrapper table thead tr {
    th {
      font: normal normal 14px/16px $font-family-base;
    }
  }
</style>
