<template>
  <v-dialog
    v-model="internalValue"
    :max-width="900"
    :fullscreen="$vuetify.breakpoint.smAndDown"
  >
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <v-spacer />

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text class="d-flex justify-center flex-column">
        <v-card
          :width="768"
          elevation="0"
          class="mx-auto"
        >
          <label class="primary--text text-h3">
            {{ status.signUpTitle }}
          </label>
          <p class="mt-5 trsText--text text-body-1">
            {{ status.signUpMessage }}
          </p>
          <v-row>
            <v-col
              cols="12"
              class="pb-0 pt-0"
            >
              <label class="trsText--text text-body-2 text--lighten-1">
                Opportunity Name
              </label>
              <div class="trsText--text text-body-1">
                {{ opportunity.name }}
              </div>
            </v-col>
            <v-col
              cols="12"
              class="pb-0 pt-2"
            >
              <label class="trsText--text text-body-2 text--lighten-1">
                Issuer
              </label>
              <div class="trsText--text text-body-1">
                {{ opportunity.issuer.name }}
              </div>
            </v-col>
            <v-col
              v-if="tearsheetData.tenant"
              cols="12"
              class="pb-0 pt-2"
            >
              <label class="trsText--text text-body-2 text--lighten-1">
                Fiduciary
              </label>
              <div class="trsText--text text-body-1">
                {{ tearsheetData.tenant.name }}
              </div>
            </v-col>
          </v-row>
          <v-row v-if="!isLoading">
            <v-col>
              <sign-in-content
                v-if="status.signUpMode === 'signin' || status.signUpMode === 'signin_tenant'"
                :sign-up-mode="status.signUpMode"
                :fixed-email="fixedEmail"
                :redirect-path="redirectPath"
              />
              <sign-up
                v-if="status.signUpMode === 'signup' || status.signUpMode === 'signup_init'"
                :fixed-email="fixedEmail"
                :sign-up-mode="status.signUpMode"
                @complete="onSignUpComplete"
              />
              <!-- <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="entity"
              >
                  <common-input-select
                  v-model="entityId"
                  label="Invest by"
                  placeholder="Select Entity"
                  :items="entitiesSelect"
                  :error-message="errors"
                  :hide-details="errors.length === 0"
                  class="mb-4"
                  />
              </validation-provider> -->
              <!-- <v-divider class="mt-4" /> -->
              <!-- <div class="d-flex mt-4">
                  <common-trs-btn
                  text
                  type="secondary"
                  class="primary--text"
                  @click="internalValue=false"
                  >
                  Cancel
                  </common-trs-btn>
                  <v-spacer />
                  <common-trs-btn
                  :disabled="!valid && !loading"
                  :loading="loading"
                  type="primary"
                  @click="doSignup"
                  >
                  {{ status.signUpTitle }}
                  <v-icon right>
                      mdi-send
                  </v-icon>
                  </common-trs-btn>
              </div> -->
            </v-col>
          </v-row>
          <v-row v-if="isLoading">
            <v-col class="text-center">
              <v-progress-circular
                v-if="isLoading"
                color="primary"
                indeterminate
                size="30"
              />
              We are preparing your account. Please wait for a moment.
            </v-col>
          </v-row>
        </v-card>
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>

  <script>
  // import { api } from '@/api'
  import SignUp from '@/views/pages/components/SignUp'
  import SignInContent from '@/views/pages/components/SignInContent'
  import axios from 'axios'
  import { API_BASE_URL } from '@/constants'

  export default {
    name: 'CommonTearsheetLandingSignupModal',
    components: {
      SignUp,
      SignInContent,
    },

    props: {
      value: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      tearsheetData: {
        validate: () => true,
      },
    },

    data: () => ({
      loading: false,
      form: {
        amount: 0,
      },
      isLoading: false,
    }),

    computed: {
      redirectPath () {
        return this.$router.resolve({ name: 'DigitalRoadshow.Landing', params: { id: this.$route.params.id }, query: { mode: this.CONSTS.DR_MODES.PRESENTATION } }).route.fullPath
        // return ''
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      fixedEmail () {
        try {
          return this.tearsheetData.user.username
        } catch (err) {
          return ''
        }
      },
      token () {
        return this.$route.query.token
      },
      fidId () {
        return this.$route.query.tenant_id
      },
      id () {
        return this.$route.params.id
      },
    },

    watch: {
      internalValue (val) {
        if (val) {
          this.loadData()
        }
      },
      signUpMode: {
        handler () {
          this.loadData()
        },
        immediate: true,
      },
      value () {
        this.form = {
          amount: 0,
        }
      },
    },

    async created () { },

    methods: {
      async onSignUpComplete (credentials) {
        this.internalValue = false
        await this.$store.dispatch('auth/autoLoginWithRetry', {
          username: credentials.email,
          password: credentials.password,
        }, { root: true })

        this.$router.replace({ name: 'DigitalRoadshow.Landing', params: { id: this.$route.params.id }, query: { mode: this.CONSTS.DR_MODES.PRESENTATION } })
      },
      close (ev) {
        this.internalValue = false
      },
      async doSignup () {
        this.loading = true
        try {
          // this.investments = await this.service.getDLInvestmentByOppId(this.opportunity.id)
          // await this.whiteListedEnities()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to withdraw IOI',
          })
        }
        this.loading = false
      },
      async loadData () {
        this.loading = true
        const waitRun = (timeout) => new Promise((resolve) => setTimeout(() => resolve(), timeout))

        const getTearSheetById = async (fidId, id, token) => {
          const apiResponse = await axios.get(
            `${API_BASE_URL}/fid/${fidId}/opportunities/${id}/tearsheet`,
            {
              headers: {
                Authorization: token,
              },
            },
          )
          return apiResponse.data
        }

        try {
          if (this.status.signUpMode === 'signin_tenant') {
            this.isLoading = true
            try {
              await this.$store.dispatch('auth/tearsheetSignup', {
                form: { email: this.fixedEmail },
                token: this.token,
                fidId: this.fidId,
              }, { root: true })
            } catch (err) {
              // pass
            }

            let retryCount = 10
            while (retryCount > 0) {
              const data = await getTearSheetById(this.fidId, this.id, this.token)
              if (data && data.user && data.user.is_existing_tenant_user) {
                break
              }
              retryCount = retryCount - 1
              await waitRun(3000)
            }
            this.isLoading = false
          }
        } catch (err) {
          // this.$store.dispatch('app/handleError', {
          //   err,
          //   message: 'Failed to withdraw IOI',
          // })
        }
        this.loading = false
      },
    },
  }
  </script>

  <style lang="scss" scoped>
  .v-dialog .v-card .v-card__title .v-icon.header-icon {
      top: 0px;
      left: 0px;
  }
  </style>
