<template>
  <common-app-page-header-v2
    :applied-filter="$getAppliedFilter(internalValue, availableKeys, [])"
    class="pa-0 trs-filter-input mb-7"
  >
    <template v-slot:primary-filter="{ toggleExpanded, expanded }">
      <common-input-combobox
        v-model="internalValue.activity_type"
        :items="CONSTS.ACTIVITY_TYPES"
        item-value="value"
        item-text="text"
        label="Type"
        color="primary"
        clearable
        hide-details
        single-line
        dense
        :return-object="false"
      >
        <template v-slot:append-outer>
          <common-trs-filter-card-expand-btn
            :expanded="expanded"
            @toggleExpanded="toggleExpanded"
          />
        </template>
      </common-input-combobox>
    </template>
    <template v-slot:actions>
      <slot name="actions" />
    </template>
    <template v-slot:content>
      <v-col
        cols="4"
      >
        <common-input-text-field
          v-model="internalValue.created_by"
          label="Viewed By"
          color="primary"
          clearable
          hide-details
          dense
        />
      </v-col>
      <v-col
        cols="4"
      >
        <common-input-inline-date-picker
          v-model="internalValue.created_on_gte"
          label="From"
          color="primary"
          clearable
          hide-details
          dense
        />
      </v-col>
      <v-col
        cols="4"
      >
        <common-input-inline-date-picker
          v-model="internalValue.created_on_lte"
          label="To"
          color="primary"
          clearable
          hide-details
          dense
        />
      </v-col>
      <v-col
        v-if="hideFilters.indexOf('log') === -1"
        cols="4"
      >
        <common-input-text-field
          v-model="internalValue.log"
          label="Activity Data"
          color="primary"
          clearable
          hide-details
          dense
        />
      </v-col>
      <v-col
        v-if="hideFilters.indexOf('resource') === -1"
        cols="4"
      >
        <common-input-text-field
          v-model="internalValue.resource"
          label="Resource"
          color="primary"
          clearable
          hide-details
          dense
        />
      </v-col>
    </template>
    <template v-slot:append>
      <slot />
    </template>
  </common-app-page-header-v2>
</template>

<script>
  export default {
    name: 'ActivitiesFilter',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      hideFilters: {
        validate: () => true,
        default: () => [],
      },
    },

    data: () => ({
      cPanel: 0,
      availableKeys: [
        { key: 'name' },
        { key: 'status' },
        { key: 'issuer_market_id' },
        { key: 'issuer_stage_id' },
        { key: 'issuer_name' },
      ],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
