<template>
  <div>
    <activities-filter
      v-model="filters"
      :hide-filters="hideFilters"
    >
      <template v-slot:actions>
        <div class="d-flex align-center justify-end">
          <common-trs-btn
            v-if="showExportActivityData"
            class="white--text"
            type="primary"
            text
            :disabled="!totalCount || fidExportActivities"
            :loading="loader"
            v-on="on"
            @click="exportData"
          >
            Export Activities Data
          </common-trs-btn>
        </div>
      </template>
    </activities-filter>
    <common-trs-data-table
      :headers="headers"
      :items="items"
      :options.sync="options"
      :server-items-length="totalCount"
      :loading="loading"
    >
      <template v-slot:item.activity_type="{ item }">
        <!-- <common-text-truncate
          class="trsText--text text-body-1 font-weight-normal"
          style="height: auto;"
          :line-clamp="1"
          :text="CONSTS.ACTIVITY_TYPE_NAMES[item.activity_type] || getTitleCasedType(item.activity_type)"
          :tooltip="true"
        /> -->
        {{ CONSTS.ACTIVITY_TYPE_NAMES[item.activity_type] || getTitleCasedType(item.activity_type) }}
      </template>
      <template v-slot:item.created_on="{ item }">
        {{ item.created_on ? $date(item.created_on) : '' }}
      </template>
      <template v-slot:item.log="{ item }">
        <!-- {{ item.log ? (item.log.length > 50 ? item.log.slice(0, 50) + '...' : item.log) : '' }} -->
        <div v-html="item.log" />
      </template>
      <template v-slot:item.details="{ item }">
        <span v-if="item.details && item.details.doc_name">
          Doc Name: {{ item.details.doc_name }}
        </span>
        <!-- <div v-if="item.activity_type === CONSTS.ACTIVITY_TYPE.DATAROOM_DOCUMENTS_VIEWED">
          <span v-if="item.details && item.details.doc_name">
            Doc Name: {{ item.details.doc_name }}
          </span>
        </div>
        <div v-if="item.activity_type === CONSTS.ACTIVITY_TYPE.DOCUMENTS_VIEWED">
          <span v-if="item.details && item.details.doc_name">
            Doc Name: {{ item.details.doc_name }}
          </span>
        </div> -->
      </template>
      <template v-slot:no-data>
        <span> No Results Found. </span>
      </template>
    </common-trs-data-table>
  </div>
</template>

<script>
  import ActivitiesFilter from './ActivitiesFilter'

  import * as activitySrvc from '@/components/common/services/activities'
  import debounce from 'lodash.debounce'
  // import CommonTextTruncate from '@/components/core/common/TruncateText'

  const TABLE_HEADERS = [
    { text: 'Type', value: 'activity_type', sortable: true },
    { text: 'Viewed  By', value: 'created_by', sortable: true },
    { text: 'Viewed Date', value: 'created_on', sortable: true },
    { text: 'Activity Data', value: 'log', sortable: true, width: 400 },
    { text: 'Resource', value: 'resource', sortable: true },
    { text: 'Details', value: 'details', sortable: true, width: 200 },
    // { text: '', value: 'actions', sortable: false, align: 'right' },
  ]
  export default {
    name: 'ActivitiesList',

    components: {
      ActivitiesFilter,
      // CommonTextTruncate,
    },

    props: {
      preFilters: {
        type: Object,
        default: () => {},
      },
      hideFilters: {
        validate: () => true,
        default: () => [],
      },
      hideFields: {
        validate: () => true,
        default: () => [],
      },
      showExportActivityData: {
        type: Boolean,
        default: true,
      },
    },

    data: () => ({
      loading: false,

      options: {
        sortBy: ['created_on'],
        sortDesc: [false],
      },
      items: [],
      totalCount: 0,
      headers: [],
      filters: {},
      loader: false,
    }),

    computed: {
      fidExportActivities () {
        return this.portal && this.isFidViewer
      },
      portal () {
        return this.$getPortal()
      },
      isFidViewer () {
        return this.$store.getters['auth/isFidViewer']
      },
    },

    watch: {
      options: {
        handler () {
          this.loadData()
        },
        deep: true,
      },
      preFilters: {
        handler () {
          this.filters = {
            ...this.filters,
            ...this.preFilters,
          }
        },
        deep: true,
        immediate: true,
      },
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
          this.loadData()
        }, 500),
        deep: true,
      },
      hideFields: {
        handler (val) {
          this.headers = TABLE_HEADERS.filter(header => val.indexOf(header.value) === -1)
        },
        immediate: true,
      },
    },

    created () {
    },

    methods: {
      getTitleCasedType (type) {
        return type.split('_').map(this.$titlecase).join(' ')
      },
      async exportData () {
        this.loader = true
        try {
          const response = await activitySrvc.exportActivitiesData({
            ...this.options,
            filters: this.filters,
          }, { base: 'tenant' })
          this.$store.commit('app/showMessage', { text: response.details })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to export activities data',
          })
        }
        this.loader = false
      },
      async loadData () {
        this.loading = true
        try {
          const resp = await activitySrvc.getActivities({
            ...this.options,
            filters: this.filters,
          }, { base: 'common' })
          this.totalCount = resp.count
          this.items = resp.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load activities',
          })
        }
        this.loading = false
      },
    },
  }
</script>

<style lang="scss">
</style>
