<template>
  <div class="text-center">
    {{ activity.log }}
  </div>
</template>

<script>
  export default {
    name: 'ActivityDetail',

    components: {
    },

    props: {
      activity: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
    }),

    computed: {
    },
  }
</script>
