<template>
  <v-dialog
    v-model="internalDialog"
    :max-width="300"
    :hide-overlay="false"
    persistent
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-btn
          text
          color="#2A3333"
          type="tertiary"
          class="back-btn"
          x-small
        >
          <v-icon>mdi-keyboard-backspace</v-icon>
        </common-trs-btn>
        <common-trs-modal-card-title-content>
          <img :src="require('@/components/common/assets/dwolla-logo1.png')">
        </common-trs-modal-card-title-content>
        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <div class="d-flex flex-column px-4 text-center">
        <img
          style="width: 80%; margin: auto"
          class="m-auto mt-10"
          :src="require('@/components/common/assets/dwolla-logo2.png')"
        >
        <span
          v-if="entity"
          class="mt-10"
          style="font-size: 14px; font-weight: 400;"
        >
          To setup your account, we need your permission to share the details  of your selected Entity <b>{{ entity.name }}</b> with Dwolla.
        </span>
        <div class="mt-16">
          <common-input-checkbox
            v-model="isChecked"
            class="mb-4"
          >
            <template v-slot:label>
              <div style="font-size: 12px; font-weight: 400">
                I have read and I accept the
                <a
                  href="#"
                  style="color:#4F4D4D; text-decoration: none;"
                >Account Creation Terms and Conditions</a>.
              </div>
            </template>
          </common-input-checkbox>
        </div>
        <div class="text-center">
          <common-trs-btn
            class="mb-4"
            style="background-color: #BB5439; width: 200px; margin: auto"
            :disabled="!isChecked"
            @click="()=>{$emit('openSetupAccountModal'); this.close()}"
          >
            Continue
          </common-trs-btn>
        </div>
      </div>
    </common-trs-modal-card>
  </v-dialog>
</template>
  <script>
  export default {
    name: 'ConfirmAccountSetupModal',
    components: {
    },
    props: {
      value: {
        type: Boolean,
        default: false,
      },
      entity: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
      internalDialog: false,
      isChecked: false,
    }),

    methods: {
      close () {
        this.internalDialog = false
        this.isChecked = false
      },
    },
  }
</script>
