<template>
  <v-dialog
    v-model="internalDialog"
    :fullscreen="$vuetify.breakpoint.smAndDown"
    :hide-overlay="false"
    persistent
    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>{{ pageTitle }}</common-trs-modal-card-title-content>
        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <validation-observer
          v-slot="{ valid }"
        >
          <form-templates-input-template
            :section-values="businessType"
            :input-templ="BUSINESS_TYPE_FORM"
            :mode="'edit'"
            :use-dot-prop-access="true"
            @update="updateBizField"
          />

          <div style="max-width: 800px; margin: 0 auto;">
            <v-row
              dense
            >
              <v-col
                v-for="(templ, index) in formTempls"
                :key="index + 'line1'"
                :sm="templ.smCol ? templ.smCol : 12"
                :md="templ.mdCol ? templ.mdCol : 12"
              >
                <form-templates-input-template
                  v-if="templ.input"
                  :input-templ="templ"
                  :section-values="form"
                  :mode="'edit'"
                  :use-dot-prop-access="true"
                  @update="updateField"
                />
              </v-col>
            </v-row>
            <v-row
              v-if="entity.type === 'ENTITY' && isIndividualBiz"
              dense
            >
              <v-col
                v-for="(templ, index) in CONSTROLLER_FORM"
                :key="index + 'line1'"
                :sm="templ.smCol ? templ.smCol : 12"
                :md="templ.mdCol ? templ.mdCol : 12"
              >
                <form-templates-input-template
                  v-if="templ.input"
                  :input-templ="templ"
                  :section-values="form"
                  :mode="'edit'"
                  :use-dot-prop-access="true"
                  @update="updateField"
                />
              </v-col>
            </v-row>

            <common-input-checkbox
              v-model="affirmEULA"
              label="By checking this box you agree to our  Terms of Service and Privacy Policy as well as our vendor Dwolla’s Terms of Service and Privacy Policy."
              class="mb-4"
              hide-details
            />
          </div>

          <div class="d-flex justify-center mb-6">
            <common-trs-btn
              type="primary"
              size="large"
              style="min-width: 400px;"
              :disabled="!valid || !affirmEULA"
              @click="onAgreeAndContinue"
            >
              Agree and Continue
            </common-trs-btn>
          </div>
        </validation-observer>
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>
  <script>
  import {
    BUSINESS_TYPE_FORM,
    ACCOUNT_SETUP_INDIVIDUAL_FORM,
    ACCOUNT_SETUP_ENITTY_FORM,
    ACCOUNT_SETUP_ENITTY_LLC_FORM,
    CONSTROLLER_FORM,
  } from './accountModalForms'
  import FormTemplatesInputTemplate from '@/components/common/fmsvc/form-templates/InputTemplate'
  import * as plaidServices from '@/components/common/services/plaid'

  export default {
    name: 'SetupAcountModal',

    components: {
      FormTemplatesInputTemplate,
    },

    props: {
      value: {
        type: Boolean,
        default: false,
      },
      entity: {
        validate: () => true,
        required: true,
      },
      account: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
      form: {},
      businessType: { bizType: '' },
      BUSINESS_TYPE_FORM: BUSINESS_TYPE_FORM,
      CONSTROLLER_FORM: CONSTROLLER_FORM,
      affirmEULA: false,
    }),

    computed: {
      internalDialog: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      bizType () {
        return this.businessType.bizType
      },
      isIndividualBiz () {
        return this.bizType === 'Individual'
      },
      pageTitle () {
        if (this.entity.type === 'INDIVIDUAL') {
          return 'Create a Personal Verified Customer Record'
        } else if (this.entity.type === 'ENTITY') {
          if (this.isIndividualBiz) {
            return `Create a Business Verified Customer Record for ${this.entity.name} Entity`
          } else {
            return `Create a Business Verified Customer Record for ${this.entity.name} Entity`
          }
        }
        return ''
      },
      formTempls () {
        if (this.entity.type === 'INDIVIDUAL') {
          return ACCOUNT_SETUP_INDIVIDUAL_FORM
        } else if (this.entity.type === 'ENTITY') {
          if (this.isIndividualBiz) {
            return ACCOUNT_SETUP_ENITTY_FORM
          } else {
            return ACCOUNT_SETUP_ENITTY_LLC_FORM
          }
        }
        return []
      },
    },

    watch: {
      value (val) {
        if (val) {
          this.loadData()
        }
      },
    },

    async created () {
      plaidServices.submitDwolla(50006, {
        customer_type: 'PERSONAL',
        customer_details: {
          email: 'amit_kapoor@tmail.com',
          firstName: 'Amit Kapoor',
          type: 'personal',
          lastName: '11',
          dateOfBirth: '01/01/2001',
          ssn: '1111',
          address1: '1',
          city: '1',
          address2: '1',
          state: 'WA',
          postalCode: '1',
        },
        institution_id: 'ins_56',
        account_id: 'XdjMqpz54yHL1elalBqJuW3DP3XoApHPo4GE6',
      })
    },

    methods: {
      onAgreeAndContinue () {
        console.log(this.entity.trellis_uid, {
          customer_type: this.bizType,
          customer_details: this.form,
          institution_id: this.account.institution_id,
          account_id: this.account.account_id,
        })
        plaidServices.submitDwolla(this.entity.trellis_uid, {
          customer_type: this.bizType,
          customer_details: this.form,
          institution_id: this.account.institution_id,
          account_id: this.account.account_id,
        })
      },
      close () {
        this.internalDialog = false
      },
      loadData () {
        this.form = {
          email: this.entity.primary_email,
          firstName: this.entity.name,
          type: this.entity.type === 'INDIVIDUAL' ? 'personal' : 'business',
        }
        this.affirmEULA = false
      },
      updateField (id, val) {
        this.$setObjectDeepValue(this.form, id, val)
        this.form = { ...this.form }
      },
      updateBizField (id, val) {
        this.$setObjectDeepValue(this.businessType, id, val)
        this.businessType = { ...this.businessType }
      },
    },
  }
  </script>

  <style lang="scss" scoped>
  </style>
