<template>
  <v-dialog
    v-model="showIdleModal"
    width="500"
  >
    <v-card>
      <v-card-title class="trsText--text text-body-1 text-left grey lighten-2 pa-4 font-weight-bold">
        Session Expired
      </v-card-title>

      <v-card-text>
        <p class="trsText--text text-body-1">
          You have left this browser idle for 30 minutes. You will be logged out in {{ second }} second(s).
        </p>
        <p class="trsText--text text-body-1">
          Please be active to avoid logging out automatically.
        </p>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <common-trs-btn
          class="white--text"
          type="tertiary"
          text
          @click="beActive()"
        >
          Okay
        </common-trs-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {

    data: () => ({
      time: 10000,
      showIdleModal: false,
    }),

    computed: {
      second () {
        return this.time / 1000
      },
      isIdle () {
        return this.$store.state.idleVue.isIdle
      },
    },

    watch: {
      isIdle: {
        handler (val) {
          if (val) {
            this.showIdleModal = this.$router.currentRoute.path.indexOf('login') === -1
            this.time = 10000
            this.startTimer()
          }
        },
        immediate: true,
      },
    },

    methods: {
      beActive () {
        this.showIdleModal = false
      },
      startTimer () {
        const timerId = setInterval(() => {
          this.time -= 1000
          if (!this.$store.state.idleVue.isIdle) clearInterval(timerId)

          if (this.time < 1) {
            clearInterval(timerId)
            this.$store.dispatch('logout')
            this.$router.replace({ name: 'Login' })
            this.showIdleModal = false
          }
        }, 1000)
      },
    },
  }
</script>
