<template>
  <div
    v-if="pemAllowed"
    class="d-flex align-center flex-column justify-center pa-2"
    :class="$attrs.disabled ? '' : 'cursor-pointer'"
    v-bind="{ ...$attrs }"
    v-on="$listeners"
  >
    <v-icon
      class="mb-2"
      medium
      :disabled="$attrs.disabled"
    >
      {{ icon }}
    </v-icon>
    <span
      v-if="!hideTitle"
      :class="$attrs.disabled ? 'grey--text caption' : 'primary--text caption'"
    >
      {{ title }}
    </span>
  </div>
</template>
<script>
  import permissionMixin from '@/components/core/mixins/permission'
  export default {
    name: 'OpportunitySummaryTerm',
    mixins: [permissionMixin],
    props: {
      icon: {
        type: String,
        required: true,
      },
      title: {
        type: String,
      },
      hideTitle: {
        type: Boolean,
        default: false,
      },
    },
    computed: {

    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-icon {
    &.v-icon {
      font-size: 20px!important;
    }
  }
</style>
