<template>
  <div class="text-center py-1 px-2 primary white--text alert-item">
    {{ alert.text }}
  </div>
</template>
<script>
  export default {
    name: 'OpportunityCardAlertItem',
    props: {
      alert: {
        type: Object,
        required: true,
      },
    },
    computed: {

    },
  }
</script>
<style lang="scss" scoped>
.alert-item {
  opacity: 0.8;
}
</style>
