<template>
  <v-expansion-panels v-if="!isOnMobile">
    <v-progress-linear
      v-if="loading"
      indeterminate
    />
    <v-expansion-panel>
      <v-expansion-panel-header class="header-section">
        <!-- card image back Section -->
        <v-img
          v-if="backgroundImage"
          class="cursor-pointer lighten-1 rounded"
          min-height="130"
          min-width="180"
          height="130"
          width="180"
          :src="backgroundImage"
          @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
        />
        <v-img
          v-else
          class="cursor-pointer lighten-1"
          min-height="130"
          min-width="180"
          height="130"
          width="180"
          :src="require('../assets/opportunity_background.svg')"
          @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
        />
        <!-- card opp name Section -->
        <div class="px-5 py-0 info-section">
          <common-text-truncate
            class="text-body-2 trsText--text font-weight-medium cursor-pointer mb-1"
            style="height: 40px; word-break: break-word;"
            :line-clamp="2"
            :text="opportunity.name"
            :tooltip="true"
            @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
          />
          <common-text-truncate
            class="trsText--text text-body-2 font-weight-normal"
            style="height: 40px;"
            :line-clamp="1"
            :text="opportunity.details ? (opportunity.details.shortDesc || '') : ''"
            :tooltip="true"
          />
          <span
            v-if="showOpportunityType"
            class="trsText--text text-caption font-weight-normal py-1 px-2"
            style="background-color: #eaeaea;"
          >
            {{ $titlecase(opportunity.opportunity_type) }}
          </span>
          <common-text-truncate
            class="trsText--text text-caption font-weight-normal pt-2"
            style="height: 30px;"
            :line-clamp="1"
            :text="opportunity && opportunity.issuer && opportunity.issuer.name"
            :tooltip="true"
          />
        </div>

        <!-- card opp info Section -->
        <div
          class="d-flex py-4 card-opp-info"
        >
          <div
            v-for="(header, index) in headerData"
            :key="index"
            class="d-flex flex-column card-opp-info-list"
          >
            <common-text-truncate
              style="width: 140px;"
              class="trsText--text text-body-2 font-weight-medium card-opp-items"
              :line-clamp="1"
              :text="header.value"
              :tooltip="header.showTooltip"
            />
            <span class="trsText--text text-caption font-weight-normal pt-4">{{ header.label }}</span>
          </div>
        </div>
        <!-- card action button Section -->
        <div
          class="d-flex px-3 pt-2"
          style="width: 310px;"
        >
          <slot name="card-actions" />
        </div>
      </v-expansion-panel-header>
      <v-expansion-panel-content class="trsBack lighten-1">
        <v-row class="mx-0">
          <v-col
            :cols="portal === CONSTS.PORTAL.INVESTOR ? '9' : '12'"
            class="pl-6"
            :class="portal === CONSTS.PORTAL.INVESTOR ? 'content-section' : ''"
          >
            <v-row>
              <div
                v-for="(info, index) in infoList"
                :key="index"
                class="col-4 py-2"
              >
                <common-text-truncate
                  class="trsText--text text-body-2 font-weight-medium"
                  :line-clamp="1"
                  :text="info.value"
                  :tooltip="info.showTooltip"
                />
                <span class="trsText--text text-caption font-weight-normal pt-4">
                  {{ info.label }}
                </span>
              </div>
            </v-row>
          </v-col>
          <v-col
            v-if="portal === CONSTS.PORTAL.INVESTOR"
            cols="3"
            class="d-flex justify-space-around align-center"
          >
            <slot name="content-actions" />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  <v-card
    v-else
    class="mt-0 card elevation-1"
    :class="{
      'v-card--sm': $vuetify.breakpoint.smAndDown,
      'v-card--md': $vuetify.breakpoint.mdAndDown
    }"
  >
    <v-progress-linear
      v-if="loading"
      indeterminate
    />
    <div class="d-flex card-header">
      <div>
        <v-img
          v-if="backgroundImage"
          class="cursor-pointer lighten-1"
          max-height="88"
          max-width="150"
          :src="backgroundImage"
          @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
        />
        <v-img
          v-else
          class="cursor-pointer lighten-1"
          height="100"
          max-width="150"
          width="150"
          :src="require('../assets/opportunity_background.svg')"
          @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
        />
      </div>
      <div class="pa-4">
        <common-text-truncate
          class="text-body-2 trsText--text font-weight-medium cursor-pointer"
          style="height: 40px;"
          :line-clamp="1"
          :text="opportunity.name"
          :tooltip="true"
          @click.stop="$openUrl($router.resolve(detailRoute).href, isViewer)"
        />
        <div class="trsText--text text-caption font-weight-normal pt-2">
          {{ opportunity && opportunity.issuer && opportunity.issuer.name }}
        </div>
      </div>
    </div>
    <div class="detail-section pa-4">
      <div class="d-flex pt-4 pb-0">
        <div
          v-for="(header, index) in headerData"
          :key="index"
          class="d-flex flex-column px-4"
        >
          <common-text-truncate
            style="width: 100px;"
            class="trsText--text text-body-2 font-weight-medium"
            :line-clamp="1"
            :text="header.value"
            :tooltip="header.showTooltip"
          />
          <span class="trsText--text text-caption font-weight-normal pt-4">{{ header.label }}</span>
        </div>
      </div>
    </div>
    <v-card-actions class="action-btn d-flex flex-column justify-space-around trsBack lighten-1">
      <slot name="card-actions" />
    </v-card-actions>
    <v-expand-transition>
      <div
        v-show="expanded"
        class="trsBack lighten-1"
      >
        <v-card-text>
          <div class="d-flex py-4">
            <div
              v-for="(info, index) in shortInfoList"
              :key="index"
              class="d-flex flex-column px-4"
            >
              <common-text-truncate
                style="width: 85px;"
                class="trsText--text text-body-2 font-weight-medium"
                :line-clamp="1"
                :text="info.value"
                :tooltip="info.showTooltip"
              />
              <span class="trsText--text text-caption font-weight-normal pt-4">
                {{ info.label }}
              </span>
            </div>
          </div>
          <v-divider
            class="border-style"
          />
          <div class="d-flex justify-center">
            <slot name="content-actions" />
          </div>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
  import CommonTextTruncate from '@/components/core/common/TruncateText'
  export default {
    name: 'ListItemV3',

    components: {
      CommonTextTruncate,
    },

    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
      loading: {
        type: Boolean,
      },
      investment: {
        type: Boolean,
      },
      detailRoute: {
        type: Object,
        required: true,
      },
      alerts: {
        type: Array,
        default: () => [],
      },
      infoList: {
        type: Array,
        default: () => [],
      },
      headerData: {
        type: Array,
        default: () => [],
      },
      isOnMobile: {
        type: Boolean,
        default: false,
      },
      expanded: {
        type: Boolean,
        default: false,
      },
      shortInfoList: {
        type: Array,
        default: () => [],
      },
      showOpportunityType: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      portal () {
        return this.$getPortal()
      },
      backgroundImage () {
        try {
          return this.opportunity.details.logo
        } catch (err) {
          return ''
        }
      },
      isViewer () {
        if (this.detailRoute && this.detailRoute.name === 'DigitalRoadshow.Landing') {
          return true
        }
        return false
      },
    },
  }
</script>
<style lang="scss" scoped>
  .info-section {
    width: 300px;
    min-width: 300px;
    position: relative;
    &::after{
      content: '';
      width: 1px;
      right: 0px;
      height: 70px;
      top: 24px;
      position: absolute;
      background-color:#B9C5C7 !important;
    }
  }
  .header-section {
    padding: 0px !important;
    min-height: 130px;
  }
  .content-section {
    position: relative;
    &::after{
      content: '';
      width: 1px;
      right: 5px;
      height: 40px;
      top: 50px;
      position: absolute;
      background-color:#B9C5C7 !important;
    }
  }
  ::v-deep .v-expansion-panel-header__icon {
    padding-right: 24px !important;
  }
  ::v-deep .v-expansion-panel-content__wrap {
    padding: 0 0px 0px !important;
  }
  .card {
    min-height: 200px;
  }
  .v-card--sm {
    max-width: 453px;
  }
  .v-card--md {
    max-width: 552px;
  }
  .card-header {
    width: 500px;
    height: 88px;
  }
  .detail-section {
    width: 500px;
    height: 111px;
  }
  .action-btn {
    width: 52px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .border-style {
    border-color: #B9C5C7;
  }
  ::v-deep .v-icon {
    &.v-icon {
      font-size: 20px!important;
    }
  }
  .card-opp-info {
    width: 500px;
  }
  .card-opp-info-list {
    padding-left: 48px;
  }
  @media (min-width: 960px) and (max-width: 1500px) {
    .card-opp-info {
      width: 348px!important;
      .card-opp-items {
        width: 80px!important;
      }
      .card-opp-info-list {
        padding-left: 20px !important;
      }
    }
  }
</style>
