<template>
  <v-card
    v-if="layout === 'card'"
    class="mt-0 align-self-stretch d-flex flex-column flex-fill"
    style="width: 100%;"
  >
    <v-row
      class="mx-2 pt-4"
      dense
      style="min-height: 40px; flex: 0;"
    >
      <v-col>
        <slot name="loader">
          <v-progress-circular
            v-if="loading"
            color="primary"
            indeterminate
            size="20"
          />
        </slot>
      </v-col>
      <v-col class="text-right">
        <slot name="status">
          <field-status
            v-model="opportunity.status"
          />
        </slot>
      </v-col>
    </v-row>
    <slot name="card-title">
      <router-link
        :to="detailRoute"
        class="d-flex justify-center flex-column align-center text-decoration-none text-center flex-fill"
      >
        <v-img
          v-if="opportunity.issuer && opportunity.issuer.branding && opportunity.issuer.branding.logo"
          height="100"
          max-width="60%"
          max-height="100"
          min-height="100"
          contain
          :src="opportunity.issuer.branding.logo"
        />
        <div
          v-else
          style="height: 100px;"
        />
        <div
          style="height: 60px;"
          class="my-5 mx-2 d-flex flex-column"
        >
          <span
            class="text-h3 mb-2"
            style="word-break: break-word;"
          >{{ opportunity.name }}</span>
          <span
            v-if="opportunity.ticker"
            class="text-h4"
          >{{ opportunity.ticker }}</span>
        </div>
      </router-link>
    </slot>

    <slot name="card-actions" />

    <v-row
      class="mx-2"
      dense
      style="min-height: 105px; flex: 0;"
    >
      <v-col
        v-if="opportunity.issuer"
      >
        <field-company-stage
          v-model="opportunity.details.stage"
        />
      </v-col>
      <v-col
        v-if="opportunity.issuer"
      >
        <field-market
          v-model="opportunity.details.market"
        />
      </v-col>
      <v-col>
        <field-price
          v-if="!investment"
          v-model="opportunity.minimum"
          text="Minimum Investment"
        />
        <field-price
          v-if="investment"
          v-model="opportunity.investment_amount"
          text="Amount Invested"
        />
      </v-col>
    </v-row>

    <slot name="card-text-section">
      <v-card-text class="text-body-1 mb-3 font-weight-light grey--text">
        <v-simple-table
          dense
          class="simple-key-value-table"
        >
          <tbody>
            <slot name="card-overview">
              <tr>
                <td>Issuer</td>
                <td>{{ opportunity.issuer && opportunity.issuer.name ? opportunity.issuer.name : '' }}</td>
              </tr>
              <tr>
                <td>Investment Type</td>
                <td>{{ opportunity.type && opportunity.type.name ? opportunity.type.name : '' }}</td>
              </tr>
              <tr>
                <td>Geography</td>
                <td>{{ opportunity.issuer.details && opportunity.issuer.details.address ? $getCommonAddrStateCountry(opportunity.issuer.details.address) : '' }}</td>
              </tr>
              <tr>
                <td>Target Raise</td>
                <td>{{ $currency(opportunity.size) }}</td>
              </tr>
              <tr>
                <td>Expected Completion</td>
                <td>{{ $date(opportunity.end_date) }}</td>
              </tr>
            </slot>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </slot>

    <div class="card-bottom-actions-container">
      <slot name="card-bottom-actions" />
    </div>
  </v-card>

  <tr v-else>
    <slot name="table-content">
      <td>
        <v-img
          v-if="opportunity.issuer && opportunity.issuer.branding && opportunity.issuer.branding.logo"
          height="50"
          width="50"
          contain
          :src="opportunity.issuer.branding.logo"
        />
      </td>
      <td>
        <router-link
          :to="detailRoute"
          class="text-decoration-none"
        >
          {{ opportunity.name }}
        </router-link>
      </td>
      <td>{{ opportunity.issuer.name }}</td>
      <td>{{ opportunity.type && opportunity.type.name ? opportunity.type.name : '' }}</td>
      <td>{{ opportunity.issuer && opportunity.details.stage && opportunity.details.stage.name ? opportunity.details.stage.name : '' }}</td>
      <td>{{ opportunity.issuer && opportunity.details.market && opportunity.details.market.name ? opportunity.details.market.name : '' }}</td>
      <td>{{ opportunity.issuer.details && opportunity.issuer.details.address ? $getCommonAddrStateCountry(opportunity.issuer.details.address) : '' }}</td>
      <td>{{ $currency(opportunity.size) }}</td>
      <td>{{ $currency(opportunity.minimum) }}</td>
      <td>{{ $date(opportunity.end_date) }}</td>
      <td>
        <slot name="status">
          <field-status
            v-model="opportunity.status"
          />
        </slot>
      </td>
    </slot>
    <td>
      <slot name="table-actions" />
    </td>
  </tr>
</template>

<script>
  import FieldCompanyStage from './field/CompanyStage'
  import FieldMarket from './field/Market'
  import FieldPrice from './field/Price'
  import FieldStatus from './field/Status'

  export default {
    name: 'CommonOpportunityListItem',

    components: {
      FieldCompanyStage,
      FieldMarket,
      FieldPrice,
      FieldStatus,
    },

    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
      layout: {
        type: String,
        validate: (val) => ['card', 'table'].indexOf(val) !== -1,
        default: 'card',
      },
      loading: {
        type: Boolean,
      },
      investment: {
        type: Boolean,
      },
      detailRoute: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    watch: {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
.card-bottom-actions-container {
  ::v-deep .v-btn {
    border-radius: 0px;
  }
}
</style>
