<template>
  <v-card
    v-if="layout === 'card'"
    class="mt-0 d-flex flex-column flex-fill rounded-lg elevation-2"
  >
    <!-- <v-row
      class="mx-2 pt-4 p-absolute"
      dense
      style="width: 100%;"
    >
      <v-col>
        <slot name="loader">
          <v-progress-circular
            v-if="loading"
            color="primary"
            indeterminate
            size="20"
          />
        </slot>
      </v-col>
      <v-col class="text-right">
        <slot name="status">
          <field-status
            v-model="opportunity.status"
          />
        </slot>
      </v-col>
    </v-row> -->
    <slot name="card-title">
      <v-img
        class="back-image-cont cursor-pointer trsBack lighten-1"
        :style="{
          height: '221px',
          width: '100%',
        }"
        :src="backgroundImage"
        @click="$openUrl($router.resolve(detailRoute).href, isViewer)"
      >
        <div
          class="logo-cont"
        >
          <issuer-logo
            :opportunity="opportunity"
          />
        </div>
        <div class="d-flex justify-end">
          <slot name="top-right-actions" />
        </div>
        <div class="quick-actions-cont">
          <slot name="quick-actions" />
        </div>
        <div class="alerts-cont">
          <div
            v-for="(alert, index) in alerts"
            :key="index"
          >
            <card-alert-item :alert="alert" />
          </div>
        </div>
      </v-img>
    </slot>

    <slot name="card-actions" />

    <div class="title-cont trsBack lighten-1 px-3 pt-4 pb-1">
      <common-text-truncate
        style="word-break: break-word; height: 22px;"
        class="text-h4 trsText--text font-weight-bold text-center cursor-pointer"
        :text="opportunity.name"
        :tooltip="false"
        @click="$openUrl($router.resolve(detailRoute).href, isViewer)"
      />
      <common-text-truncate
        style="word-break: break-word; height: 14px;"
        class="text-body my-2 trsText--text font-weight-light text-center text-caption font-weight-medium text-uppercase"
        :text="opportunity.details ? (opportunity.details.shortDesc || '') : ''"
      />
      <div
        class="mx-2 d-flex align-center justify-center"
        dense
        style="min-height: 30px; flex: 0;"
      >
        <span class="trsText--text text-caption font-weight-light mr-1">Minimum Inv:</span>
        <span class="trsText--text text-caption font-weight-bold">
          {{ $currency(opportunity.minimum) }}
        </span>
      </div>
    </div>

    <div class="card-bottom-actions-container">
      <slot name="card-bottom-actions" />
    </div>
  </v-card>

  <tr
    v-else-if="layout === 'table'"
    class="cursor-pointer"
  >
    <slot name="table-content" />
  </tr>

  <div
    v-else-if="layout === 'table-row'"
    class="trsBack lighten-1 overflow-hidden"
  >
    <v-row no-gutters>
      <v-col
        cols="12"
        sm="6"
        md="3"
      >
        <div
          :style="{
            height: '100%',
            width: '100%',
            'background-image': `url(${backgroundImage})`,
            'background-size': 'cover'
          }"
          class="d-flex align-center justify-center"
        >
          <issuer-logo
            :opportunity="opportunity"
          />
        </div>
      </v-col>

      <v-col
        cols="12"
        sm="6"
        md="9"
        class="py-lg-2 py-md-2 pl-lg-4 pl-md-4"
      >
        <v-row>
          <v-col
            v-for="(info, index) in infoList"
            :key="index"
            cols="4"
          >
            <div class="mx-2">
              <div class="trsText--text text-body-1 font-weight-light">
                {{ info.label }}
              </div>
              <div class="trsText-lighten1 text-body-1">
                {{ info.value }}
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>

  <div
    v-else-if="layout === 'opp-detail'"
  >
    <common-trs-card>
      <div class="d-flex align-center pa-2 px-5">
        <v-img
          v-if="backgroundImage"
          class="lighten-1"
          max-height="88"
          max-width="150"
          :src="backgroundImage"
        />
        <div
          class="flex-fill ml-3"
        >
          <div class="trsText--text text-body-2 pt-2">
            {{ opportunity.issuer.name }}
          </div>
          <div class="black--text text-h4 pt-4 font-weight-medium">
            {{ opportunity.name }}
            <slot name="status" />
          </div>
        </div>
        <div>
          <slot name="opp-detail-actions" />
        </div>
      </div>
      <slot name="opp-detail-tabs" />
    </common-trs-card>
  </div>
</template>

<script>
  import IssuerLogo from './field/IssuerLogo'
  import CardAlertItem from './CardAlertItem'
  import CommonTextTruncate from '@/components/core/common/TruncateText'

  export default {
    name: 'CommonOpportunityListItem',

    components: {
      IssuerLogo,
      CardAlertItem,
      CommonTextTruncate,
    },

    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
      layout: {
        type: String,
        validate: (val) => ['card', 'table', 'table-row', 'opp-detail'].indexOf(val) !== -1,
        default: 'card',
      },
      loading: {
        type: Boolean,
      },
      investment: {
        type: Boolean,
      },
      detailRoute: {
        type: Object,
        required: true,
      },
      alerts: {
        type: Array,
        default: () => [],
      },
      infoList: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
    }),

    computed: {
      logoImage () {
        try {
          return this.opportunity.issuer.branding.logo
        } catch (err) {
          return ''
        }
      },
      backgroundImage () {
        try {
          return this.opportunity.details.logo
        } catch (err) {
          return ''
        }
      },
      isViewer () {
        if (this.detailRoute && this.detailRoute.name === 'DigitalRoadshow.Landing') {
          return true
        }
        return false
      },
    },

    watch: {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
  .card-bottom-actions-container {
    ::v-deep .v-btn {
      border-radius: 0px;
    }
  }
  .back-image-cont {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .logo-cont {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .quick-actions-cont {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .alerts-cont {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
</style>
