<template>
  <v-row>
    <v-col
      cols="12"
      class="ml-2"
    >
      <common-rich-text-editor-view
        :value="opportunity.description"
      />
    </v-col>

    <v-col
      v-for="(value, label) in values"
      :key="label"
      :cols="label === 'Terms' ? 12 : 6"
    >
      <common-common-info-item
        :label="label"
      >
        <slot
          v-if="label === 'Status'"
          name="status"
        >
          <span class="text-h4 font-weight-normal">{{ value }}</span>
        </slot>
        <slot
          v-else-if="label === 'Terms'"
        >
          <terms
            :opportunity="opportunity"
          />
        </slot>
        <span v-else>{{ value }}</span>
      </common-common-info-item>
    </v-col>
  </v-row>
</template>

<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  import Terms from './field/Terms'

  export default {
    name: 'CommonOpportunitySummary',

    components: {
      Terms,
      CommonRichTextEditorView,
    },

    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
      values: {
        type: Object,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    watch: {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
