<template>
  <v-form ref="form">
    <holders-selection-form
      v-model="holder"
      :title="'Select Holder'"
      :holders-list="holdersList"
      @update="updateHolderId"
    />
    <v-row>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Equity incentive plan'"
          :rules="{ required: true }"
        >
          <common-input-select
            v-model="formData.equity_incentive_plan_id"
            label="Equity Incentive Plan"
            placeholder="Select Equity incentive plan"
            :items="eips"
            item-text="name"
            item-value="id"
            :error-messages="errors"
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Share terms'"
          :rules="{ required: true }"
        >
          <common-input-select
            v-model="formData.share_terms_id"
            label="Share Terms"
            placeholder="Select share terms"
            :items="shareTerms"
            item-text="name"
            item-value="id"
            :error-messages="errors"
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Granted options'"
          :rules="{ required: true, min_value: 0 }"
        >
          <common-input-currency-input
            v-model="formData.number"
            label="Granted Options"
            color="primary"
            :error-messages="errors"
            :options="{ locale: 'en-US', precision: 0 }"
            @input="calculate"
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Exercise price per share'"
          :rules="{ required: true, min_value: 0 }"
        >
          <common-input-currency-input
            v-model="formData.exercise_price"
            label="Exercise Price Per Share"
            color="primary"
            :error-messages="errors"
            :options="{ locale: 'en-US', precision: 2 }"
            prepend-inner-icon="mdi-currency-usd"
            @input="calculate"
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Grant date'"
          :rules="{ required: true }"
        >
          <input-template-date
            v-model="grantDate"
            :mask="'##/##/####'"
            :input-templ="{label: 'Grant date', mandatory: true}"
            :error-messages="errors"
            clearable
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Expiration date'"
        >
          <input-template-date
            v-model="expirationDate"
            :mask="'##/##/####'"
            :input-templ="{label: 'Expiration date'}"
            :error-messages="errors"
            clearable
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Board approval date'"
          :rules="{ required: true }"
        >
          <input-template-date
            v-model="boardApprovedOn"
            :mask="'##/##/####'"
            :input-templ="{label: 'Board approval date', mandatory: true}"
            :error-messages="errors"
            clearable
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Stock registration name'"
          :rules="{ required: true }"
        >
          <common-input-text-field
            v-model="stockRegistrationName"
            label="Stock Registration Name"
            color="primary"
            :error-messages="errors"
          />
        </validation-provider>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <validation-provider
          v-slot="{ errors }"
          :name="'Option type'"
        >
          <common-input-select
            v-model="formData.type"
            label="Option Type (Optional)"
            placeholder="Select option type"
            :items="optionTypes"
            item-text="title"
            item-value="value"
            :error-messages="errors"
          />
        </validation-provider>
      </v-col>
    </v-row>
    <!-- Vesting Section -->
    <v-row>
      <v-col>
        <common-vesting-form
          v-model="formData"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <notes-and-documents-form
          :id="optionId"
          :type="CONSTS.NOTES_DOCUMENT_API_TYPE.OPTIONS"
          :is-submit="isSubmit"
          @navToList="$emit('navToList', true)"
        />
      </v-col>
    </v-row>
  </v-form>
</template>
<script>
  import moment from 'moment'
  import InputTemplateDate from '@/components/common/fmsvc/form-templates/InputTemplateDate'
  import HoldersSelectionForm from './HoldersSelectionForm'
  import CommonVestingForm from '@/components/common/captable/components/forms/CommonVestingForm'
  import NotesAndDocumentsForm from './NotesAndDocumentsForm.vue'

  export default {
    name: 'OptionsForm',

    components: {
      HoldersSelectionForm,
      CommonVestingForm,
      NotesAndDocumentsForm,
      InputTemplateDate,
    },

    props: {
      value: {
        type: Object,
        required: true,
      },
      holder: {
        type: Object,
        required: true,
      },
      holdersList: {
        type: Array,
        required: true,
      },
      shareTerms: {
        type: Array,
        required: true,
      },
      eips: {
        type: Array,
        required: true,
      },
      optionId: {
        type: String,
      },
      isSubmit: {
        type: Boolean,
      },
    },

    data: () => ({
      calculatedAmount: null,
      notesData: {},
      grantDate: '',
      expirationDate: '',
      boardApprovedOn: '',
      stockRegistrationName: '',
    }),

    computed: {
      formData: {
        get () {
          return this.value || {}
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      optionTypes () {
        const types = []
        Object.keys(this.CONSTS.OPTIONS_TYPE).forEach((key) => {
          types.push({
            title: key,
            value: this.CONSTS.OPTIONS_TYPE[key],
          })
        })
        return types
      },
      selectedSharedTerms: {
        get () {
          return this.formData.share_terms_id || ''
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      value: {
        handler (val) {
          if (val) {
            this.grantDate = val.granted_on ? moment(val.granted_on).format('MM/DD/YYYY') : ''
            this.boardApprovedOn = val.board_approved_on ? moment(val.board_approved_on).format('MM/DD/YYYY') : ''
            this.expirationDate = val.expires_on ? moment(val.expires_on).format('MM/DD/YYYY') : ''
          }
        },
        immediate: true,
      },
      grantDate: {
        handler (val) {
          if (val) {
            this.formData.granted_on = moment(val).format('YYYY-MM-DD')
          }
        },
        immediate: true,
      },
      expirationDate: {
        handler (val) {
          if (val) {
            this.formData.expires_on = moment(val).format('YYYY-MM-DD')
          }
        },
        immediate: true,
      },
      boardApprovedOn: {
        handler (val) {
          if (val) {
            this.formData.board_approved_on = moment(val).format('YYYY-MM-DD')
          }
        },
        immediate: true,
      },
      selectedSharedTerms: {
        handler (val) {
          if (val) {
            const sharedTerm = this.shareTerms.find(term => term.id === val)
            this.stockRegistrationName = `${this.CONSTS.SECURITIES_PREFIX.OPTION}-`
            if (sharedTerm.board_approved_on) {
              this.boardApprovedOn = moment(sharedTerm.board_approved_on).format('MM/DD/YYYY')
            } else {
              this.boardApprovedOn = ''
            }
          }
        },
        immediate: true,
      },
      stockRegistrationName: {
        handler (val) {
          if (val) {
            this.formData.registration_name = val
          }
        },
        immediate: true,
      },
    },

    methods: {
      updateHolderId (val) {
        this.$emit('updateHolder', val)
      },
      calculate () {
        this.calculatedAmount = this.formData.number * this.formData.price_per_share
      },
    },
  }
</script>
