<template>
  <v-overlay :value="loading" />
</template>

<script>
  export default {
    name: 'CommonViewDocuSignWait',

    props: {
    },
    data () {
      return {
        loading: true,
      }
    },

    async created () {
      // await new Promise((resolve) => setTimeout(resolve, 5000))
      const notification = window.localStorage.getItem('docusign-redirect-notification')
      if (notification) {
        this.$root.$confirm({
          entity: null,
          title: ' ',
          message: notification,
          yesButton: 'Ok',
          noButton: false,
          maxWidth: 400,
        })
        window.localStorage.removeItem('docusign-redirect-notification')
      }
      return this.$router.replace(this.$route.query.redirect)
    },
  }
</script>
<style lang="scss" scoped>
</style>
