<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Text Only
        </div>
        <v-divider />
        <v-row>
          <v-col cols="12">
            <span class="mr-4">Primary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="primary"
              v-bind="{ [size]: true }"
            >
              Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Secondary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="secondary"
              v-bind="{ [size]: true }"
            >
              Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Disabled</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="disabled"
              :disabled="true"
              color="primary"
              v-bind="{ [size]: true }"
            >
              Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Tertiary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="tertiary"
              v-bind="{ [size]: true }"
            >
              Save
            </common-trs-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Icon Only
        </div>
        <v-divider />
        <v-row>
          <v-col cols="12">
            <span class="mr-4">Primary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="primary"
              trs-icon
              v-bind="{ [size]: true }"
            >
              <v-icon>mdi-cloud</v-icon>
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Secondary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="secondary"
              trs-icon
              v-bind="{ [size]: true }"
            >
              <v-icon>mdi-cloud</v-icon>
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Disabled</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="disabled"
              :disabled="true"
              color="primary"
              trs-icon
              v-bind="{ [size]: true }"
            >
              <v-icon>mdi-cloud</v-icon>
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Tertiary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="tertiary"
              trs-icon
              v-bind="{ [size]: true }"
            >
              <v-icon>mdi-cloud</v-icon>
            </common-trs-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Icon and Text
        </div>
        <v-divider />
        <v-row>
          <v-col cols="12">
            <span class="mr-4">Primary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="primary"
              v-bind="{ [size]: true }"
            >
              <v-icon class="mr-2">
                mdi-cloud
              </v-icon> Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Secondary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="secondary"
              v-bind="{ [size]: true }"
            >
              <v-icon class="mr-2">
                mdi-cloud
              </v-icon>
              Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Disabled</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="disabled"
              :disabled="true"
              color="primary"
              v-bind="{ [size]: true }"
            >
              <v-icon class="mr-2">
                mdi-cloud
              </v-icon>
              Save
            </common-trs-btn>
          </v-col>
          <v-col cols="12">
            <span class="mr-4">Tertiary</span>
            <common-trs-btn
              v-for="(size, index) in sizes"
              :key="index"
              class="mr-3"
              type="tertiary"
              v-bind="{ [size]: true }"
            >
              <v-icon class="mr-2">
                mdi-cloud
              </v-icon>
              Save
            </common-trs-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideButtons',

    components: {
    },

    data: () => ({
      sizes: ['small', 'medium', 'large'],
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
</style>
