<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <span>Primary</span>
        <v-card
          color="primary"
          class="color-guide-card ma-0"
        />
      </v-col>

      <v-col
        cols="12"
        class="d-flex"
      >
        <div class="mr-4">
          <span>Text Regular</span>
          <v-card
            color="trsText"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Text Unselected</span>
          <v-card
            color="trsText lighten-1"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Text Selected</span>
          <v-card
            color="primary"
            class="color-guide-card ma-0"
          />
        </div>
      </v-col>

      <v-col
        cols="12"
        class="d-flex"
      >
        <div class="mr-4">
          <span>Bg Global/Page</span>
          <v-card
            color="trsBack lighten-1"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Card</span>
          <v-card
            color="trsBack lighten-3"
            class="color-guide-card ma-0"
          />
        </div>
      </v-col>

      <v-col
        cols="12"
        class="d-flex"
      >
        <div class="mr-4">
          <span>Secondary</span>
          <v-card
            color="secondary"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Error</span>
          <v-card
            color="error"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Warning</span>
          <v-card
            color="warning"
            class="color-guide-card ma-0"
          />
        </div>
        <div class="mr-4">
          <span>Success</span>
          <v-card
            color="success"
            class="color-guide-card ma-0"
          />
        </div>
      </v-col>
    </v-row>

    <h3 class="mt-10">
      Dividers
    </h3>
    <v-row class="mt-10">
      <v-divider class="trsBack darken-1" />
    </v-row>
    <v-row class="mt-10">
      <v-divider class="trsBack lighten-1" />
    </v-row>
    <v-row class="mt-10">
      <v-divider class="trsBack" />
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideColorGuide',

    components: {
    },

    data: () => ({
      currentTab: null,
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
.color-guide-card {
  width: 100px;
  height: 100px;
}
</style>
