<template>
  <v-container>
    <v-row>
      <v-col cols="4">
        <div class="trsText--text text-h3">
          Default & Focus
        </div>
        <div class="trsText--text text-body-1 mb-3">
          Select the input to see focus status
        </div>
        <common-input-text-field
          label="Address 2"
          hint="Text instruction goes here"
          persistent-hint
        />
      </v-col>
      <v-col cols="4">
        <div class="trsText--text text-h3">
          Error
        </div>
        <div class="trsText--text text-body-1 mb-3">
          Try type somthing
        </div>
        <common-input-text-field
          label="Address 2"
          hint="Text instruction goes here"
          persistent-hint
          :error-messages="['Error message goes here']"
        />
      </v-col>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Type of Inputs
        </div>

        <v-row>
          <v-col cols="4">
            <common-input-autocomplete
              label="Autocomplete"
              :items="items"
            />
          </v-col>
          <v-col cols="4">
            <common-input-autocomplete
              multiple
              label="Autocomplete Multiple"
              :items="items"
            />
          </v-col>
          <v-col cols="4">
            <common-input-combobox
              multiple
              label="Commbo box"
              :items="items"
              prepend-inner-icon="mdi-magnify"
            />
          </v-col>
          <v-col cols="4">
            <common-input-currency-input
              v-model="currencyInput"
              label="Currency Input"
            />
          </v-col>
          <v-col cols="4">
            <common-input-inline-date-picker
              v-model="datePicker"
              label="Date Picker"
            />
          </v-col>
          <v-col cols="4">
            <common-input-inline-time-picker
              label="Time Picker"
            />
          </v-col>
          <v-col cols="4">
            <common-input-file
              label="File"
              :file-type="CONSTS.FILE_TYPES.DOCUMENT"
            />
          </v-col>
          <v-col cols="4">
            <common-input-file-button
              :upload-function="() => {}"
              :file-type="CONSTS.FILE_TYPES.DOCUMENT"
            >
              <template v-slot="{ openFileDialog }">
                <common-trs-btn
                  type="primary"
                  @click="openFileDialog"
                >
                  Upload
                </common-trs-btn>
              </template>
            </common-input-file-button>
          </v-col>
          <v-col cols="4">
            <common-input-phone-number
              :value="'+15555555555'"
              label="Phone Number"
            />
          </v-col>
          <v-col cols="4">
            <common-input-select
              label="Select"
              :items="items"
            />
          </v-col>
          <v-col cols="4">
            <common-input-select
              multiple
              label="Select Multiple"
              :items="items"
            />
          </v-col>
          <v-col cols="4">
            <common-input-text-field
              label="Text Field"
            />
          </v-col>
          <v-col cols="4">
            <common-input-switch
              v-model="form.switch"
              label="Switch"
            />
          </v-col>
          <v-col cols="4">
            <common-input-slider
              label="Slider"
            />
          </v-col>
          <v-col cols="4">
            <common-input-textarea
              label="Textarea"
            />
          </v-col>
          <v-col cols="4">
            <common-input-checkbox
              v-model="form.switch"
              label="Checkbox"
              hide-details
            />
            <common-input-checkbox
              :value="true"
              label="Checkbox Selected"
              hide-details
            />
            <common-input-checkbox
              :value="true"
              label="Checkbox Disabled"
              hide-details
              disabled
            />
          </v-col>
          <v-col cols="4">
            <common-input-radio-group>
              <common-input-radio
                label="Radio"
                hide-details
              />
              <common-input-radio
                label="Radio Selected"
                hide-details
              />
              <common-input-radio
                label="Radio Disabled"
                hide-details
                disabled
              />
            </common-input-radio-group>
          </v-col>
          <v-col cols="4">
            <common-input-text-field
              label="Text Field"
            />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Filters
        </div>

        <v-row>
          <v-col cols="4">
            <common-input-select
              v-model="filterByMarket"
              class="trs-filter-input"
              multiple
              :label="`Filter By Market ${filterByMarket.length > 1 ? `(${filterByMarket.length})` : ''}`"
              :items="items"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideFormElements',

    components: {
    },

    data: () => ({
      items: ['Item A', 'Item B', 'Item C', 'Item D', 'Item E'],

      currencyInput: 123455,
      datePicker: null,

      filterByMarket: [],
      form: {
        switch: true,
      },
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
.color-guide-card {
  width: 100px;
  height: 100px;
}
</style>
