<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        icon-Transaction-Services
        <common-trs-icon
          name="icon-Transaction-Services"
          :size="30"
          color="red"
        />
        <br>
        icon-Identity-Agent
        <common-trs-icon
          name="icon-Identity-Agent"
          :size="30"
          color="primary"
        />
        <br>

        More icons from <a href="/icomoon/demo.html">Here</a>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideIcons',

    components: {
    },

    data: () => ({
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
</style>
