<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Finger Print Icons
        </div>
        <v-divider />
        <v-row>
          <v-col>
            <common-trs-logos-logo
              type="black-1"
              width="150"
            />
          </v-col>
          <v-col>
            <common-trs-logos-logo
              type="black-2"
              width="150"
            />
          </v-col>
          <v-col>
            <common-trs-logos-logo
              type="white-1"
              width="150"
            />
          </v-col>
          <v-col>
            <common-trs-logos-logo
              type="white-2"
              width="150"
            />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12">
        <div class="trsText--text text-h3">
          Finger Print Icons
        </div>
        <v-divider />
        <v-row>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="1"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="2"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="3"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="4"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="5"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="6"
              width="75"
            />
          </v-col>
          <v-col>
            <common-trs-logos-finger-print-icon
              type="7"
              width="75"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideLogos',

    components: {
    },

    data: () => ({
      sizes: ['small', 'medium', 'large'],
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
</style>
