<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="trsText--text text-h3 font-weight-light">
          ABCDEFGHIJKLMNOPQRSTUVWXZY
        </div>
        <div class="trsText--text text-h3 font-weight-medium">
          ABCDEFGHIJKLMNOPQRSTUVWXZY
        </div>
        <div class="trsText--text text-h3 font-weight-bold">
          ABCDEFGHIJKLMNOPQRSTUVWXZY
        </div>

        <v-divider class="my-4" />
        <div class="trsText--text text-h3">
          H1 Headline
        </div>
        <br>
        <div class="trsText--text text-h4">
          H2 Headline
        </div>
        <br>
        <div class="trsText--text text-h5">
          H3 Headline
        </div>
        <br>

        <div class="trsText--text text-body-1">
          Table Data
        </div>
        <br>
        <div class="trsText--text text-body-2">
          Table Content Headers
        </div>
        <br>
        <div class="trsText--text text-body-2 font-weight-medium">
          Opp. Card Text
        </div>
        <br>
        <div class="trsText--text text-caption font-weight-medium">
          Form Field Text
        </div>
        <br>
        <div class="primary--text text-body-1 font-weight-bold">
          Nav Selected
        </div>
        <br>
        <div class="trsText--text text-body-1 font-weight-normal">
          Nav Regular
        </div>
        <br>
        <div class="trsText--text text-body-2 font-weight-normal">
          B1 Button
        </div>
        <br>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'StyleGuideTypography',

    components: {
    },

    data: () => ({
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
</style>
