<template>
  <v-row class="mb-4">
    <v-col
      v-if="publicBranding.drOptions.overviewTab.showCompanyStage"
      cols="4"
      class="text-center"
    >
      <div class="label-txt text-body-2 font-weight-bold mb-2">
        Company Stage
      </div>
      <div class="circle-container">
        <company-stage
          v-model="checkStage"
          :hide-name="true"
        />
      </div>
      <div
        class="text-body-2 label-txt mt-2"
      >
        {{ opportunity && opportunity.details && opportunity.details.stage && opportunity.details.stage.name }}
      </div>
    </v-col>
    <v-col
      cols="4"
      class="text-center"
    >
      <div class="label-txt text-body-2 font-weight-bold mb-2">
        Market
      </div>
      <div class="circle-container">
        <v-icon class="icon">
          mdi-plus-box-outline
        </v-icon>
      </div>
      <div class="text-body-2 label-txt mt-2 word-break">
        {{ opportunity && opportunity.details && opportunity.details.market.name }}
      </div>
    </v-col>
    <v-col
      cols="4"
      class="text-center"
    >
      <div class="label-txt text-body-2 font-weight-bold mb-2">
        Target Raise
      </div>
      <div class="circle-container">
        {{ $formatThousandReadable(opportunity.size) }}
      </div>
      <div class="text-body-2 label-txt mt-2">
        Est. by {{ $date(opportunity.end_date) }}
      </div>
    </v-col>
  </v-row>
</template>

<script>
  import CompanyStage from '@/components/common/opportunity/field/CompanyStage'

  export default {
    components: {
      CompanyStage,
    },
    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
    },

    data () {
      return {
      }
    },

    computed: {
      checkStage () {
        return this.opportunity && this.opportunity.details && this.opportunity.details.stage
      },
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    watch: {
    },

    created () {
    },

    methods: {
    },
  }
</script>

<style lang="scss" scoped>

.circle-container{
    height: 83px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 83px;
    align-items: center;
    color: #7A7A7A;
}

.label-txt{
  color: #7A7A7A;
}

.word-break {
  word-wrap: break-word;
}

.icon {
  color: #7A7A7A;
}
</style>
