<template>
  <div>
    <wizard
      v-if="loaded"
      ref="wizard"
      v-model="tab"
      :template="template"
      :input-values="inputValues"
      :initial-mode="mode"
      :current-path="currentPath"
      :next-btn-loading="nextBtnLoading"
      :enable-edit="enableEdit"
      :api-services="extendedApiService"
      :hide-form-title="hideFormTitle"
      v-bind="$attrs"
      class="mx-auto"
      @click:next="next"
      @click:prev="prev"
      @click:addInfo="addInfo"
      @click:deleteInfo="deleteInfo"
      @update="update"
    />

    <common-app-confirm
      ref="confirm"
      mode="ref"
    />
  </div>
</template>

<script>
  import { branchCompare } from './utils'
  import Wizard from './Wizard'

  export default {
    name: 'FormTemplate',

    components: {
      Wizard,
    },

    props: {
      template: {
        type: Object,
      },
      mode: {
        type: String,
        validate: (val) => ['create', 'edit', 'view'].indexOf(val) !== -1,
        default: 'edit',
      },
      response: {
        validate: () => true,
        default: () => {},
      },
      nextBtnLoading: {
        type: Boolean,
      },
      enableEdit: {
        type: Boolean,
        default: false,
      },
      apiServices: {
        type: Object,
        default: () => ({}),
      },
      hideFormTitle: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      inputValues: null,
      loaded: false,
      tab: 0,
    }),

    computed: {
      extendedApiService () {
        return {
          ...this.apiServices,
          getValueFromSection: (inputValues, sectionId, inputId, multipleId = null) => {
            try {
              const lSecObj = this.template.sections.find(sec => sec.id === sectionId)
              let lSectionValues = inputValues[lSecObj.key]

              if (multipleId !== null) {
                lSectionValues = inputValues[lSecObj.key][multipleId]
              }

              if (!lSectionValues) {
                // skip
                throw new Error('Section dose not have values yet')
              }

              return lSectionValues[inputId]
            } catch (err) {
              return ''
            }
          },
        }
      },
      currentPath () {
        const path = [0]
        let tab = 0
        do {
          tab = this.getNextTab(tab)
          if (path.indexOf(tab) !== -1) {
            this.$root.$formTemplConfirm({
              entity: null,
              message: 'Infinite loop detected',
              description: 'With your last answer, there will be an inifite loop. Please select your last answer again.',
              yesButton: 'Got it',
              maxWidth: 400,
              color: 'error',
              icon: {
                name: 'mdi-alert',
              },
            })
            return path
          }
          path.push(tab)
        } while (tab < this.template.sections.length - 1)
        return path
      },
      currentSection () {
        return this.template.sections[this.tab]
      },
      stringAccount () {
        return this.account.join(',')
      },
      scope () {
        if (this.tab === 0) return 'about'
        else if (this.tab === 2) return 'address'
        return 'account'
      },
    },

    watch: {
      response: {
        handler (val) {
          this.initInputValues()
        },
        immediate: true,
      },
      // inputValues: {
      //   handler (val) {
      //     this.$forceUpdate()
      //   },
      //   deep: true,
      // },
    },

    created () {
      setTimeout(() => {
        this.loaded = true
      }, 100)
    },

    mounted () {
      this.$root.$formTemplConfirm = this.$refs.confirm.open
    },

    methods: {
      beforeRouteLeave (to, from, next) {
        this.$refs.wizard.beforeRouteLeave(to, from, next)
      },
      getValueFromSection (sectionId, inputId) {
        return this.extendedApiService.getValueFromSection(this.inputValues, sectionId, inputId)
      },
      getDefaultValuesOfSection (section) {
        const sectionValues = {}
        Array.isArray(section.definition) && section.definition.forEach(def => {
          if (def.input === this.CONSTS.FORM_DEF_INPUT_TYPE.STATIC_TEXT) {
            return
          }

          let defaultVal = def.default === undefined
            ? ''
            : def.default

          if ((def.input === 'select' || def.input === 'radio') &&
            def.dataSrc === 'inline' &&
            def.data &&
            Array.isArray(def.data) &&
            !Number.isNaN(def.default) &&
            def.data.length > def.default) {
            defaultVal = def.data[def.default]
          }

          // If it's multiple value array, it should be wrapped by array
          if (def.multiple) {
            sectionValues[def.id] = []
          } else {
            sectionValues[def.id] = defaultVal
          }
        })
        return sectionValues
      },
      initInputValues () {
        const inputValues = {}
        this.template.sections.forEach(section => {
          const sectionValues = this.getDefaultValuesOfSection(section)

          if (section.multiple) {
            inputValues[section.key] = []
          } else {
            inputValues[section.key] = sectionValues
          }
        })
        if (this.mode === 'create') {
          this.inputValues = inputValues
        } else if (this.mode === 'view') {
          this.inputValues = this.response ? this.response.response : {}
        } else if (this.mode === 'edit') {
          this.inputValues = this.response
            ? { ...inputValues, ...this.response.response }
            : inputValues
        }
        if (!this.inputValues.$$form) {
          this.inputValues.$$form = this.template
        }
        if (!this.inputValues.$$status) {
          this.inputValues.$$status = {}
          this.template.sections.forEach(section => {
            this.inputValues.$$status[section.key] = {
              isCompleted: false,
            }
          })
        }
      },
      update (section, newSectionValues, multipleId) {
        let newSectionValue = this.inputValues[section.key]
        if (section.multiple) {
          newSectionValue[multipleId] = newSectionValues
        } else {
          newSectionValue = newSectionValues
        }

        this.inputValues = {
          ...this.inputValues,
          [section.key]: newSectionValue,
        }
      },
      deleteInfo (section, index) {
        const newSection = this.inputValues[section.key]
        newSection.splice(index, 1)
        this.inputValues = {
          ...this.inputValues,
          [section.key]: newSection,
        }
      },
      addInfo (section, value) {
        const sectionValues = {
          ...this.getDefaultValuesOfSection(section),
          ...value,
        }
        this.inputValues = {
          ...this.inputValues,
          [section.key]: this.inputValues[section.key].concat(sectionValues),
        }
      },
      getNextTab (baseTab) {
        const currentSection = this.template.sections[baseTab]
        if (!currentSection) {
          return
        }

        let nextTab = baseTab + 1
        if (currentSection.next) {
          const defaultTab = this.template.sections.findIndex(sec => sec.id === currentSection.next)
          if (defaultTab !== -1) {
            nextTab = defaultTab
          }
        }

        if (!currentSection.branch || !Array.isArray(currentSection.branch)) {
          return nextTab
        }

        for (let i = 0; i < currentSection.branch.length; i++) {
          const branch = currentSection.branch[i]

          try {
            const lValue = this.getValueFromSection(branch.lsection, branch.lvalue)

            if (branch.rvalue &&
              branchCompare(lValue, branch.rvalue, branch.expr)) {
              // find for the next section id
              const tabId = this.template.sections.findIndex(sec => sec.id === branch.next)
              if (tabId !== -1) {
                nextTab = tabId
              }
            }
          } catch (err) {
            console.log(err)
            return
          }
        }

        return nextTab
      },
      next (doNotMoveNextTab) {
        if (this.tab === this.template.sections.length - 1) {
          this.$emit('submit', this.inputValues)
          if (this.enableEdit && this.$refs.wizard.mode === 'edit') {
            this.$refs.wizard.mode = 'view'
          }
        } else {
          this.$emit('pre:submit', this.inputValues)
          if (!doNotMoveNextTab) {
            const nextTab = this.getNextTab(this.tab)
            this.tab = nextTab
          }
        }
      },
      prev () {
        const tabIndex = this.currentPath.indexOf(this.tab)
        if (tabIndex > 0) {
          this.tab = this.currentPath[tabIndex - 1]
        }
      },
      onChange (val) {
        const value = val.target.files[0]

        if (!value) return (this.image = null)

        this.image = URL.createObjectURL(value)
      },
    },
  }
</script>

<style lang="sass">
  .v-card.v-card.v-card--account
    border-color: currentColor
    border-width: 4px

    .v-icon
      color: inherit

  .v-card--account,
  .v-card--account:before
    border-radius: 50%

</style>
