<template>
  <v-fade-transition>
    <div
      v-if="isVisible"
      class="mb-4"
    >
      <!-- Debugging purpose -->
      <div
        v-if="isLocalhost"
        style="font-weight: bold"
      >
        --------------{{ inputTempl.id }} - {{ inputTempl.input }}------------
      </div>
      <component
        :is="InputTemplateComponent"
        v-if="InputTemplateComponent && !inputTempl.multiple"
        v-model="internalValue"
        :input-templ="inputTempl"
        :section-values="sectionValues"
        :is-common="isCommon"
        :template="template"
        :mode="mode"
        :use-dot-prop-access="useDotPropAccess"
        :api-services="apiServices"
        :input-values="inputValues"
        :reload-data="reloadData"
        :disabled="disabled"
        @save="$emit('save')"
      />
      <v-row
        v-if="InputTemplateComponent && inputTempl.multiple"
        no-gutters
      >
        <input-label
          class="mb-1"
        >
          {{ inputTempl.label }}
        </input-label>

        <draggable
          v-model="internalValue"
          style="width: 100%;"
          :options="{ handle:'.drag-handle' }"
        >
          <v-col
            v-for="(v, index) in internalValue"
            :key="index"
            cols="12"
            class="d-flex flex-row align-center"
          >
            <span class="pr-3">
              <v-icon
                v-if="isDraggable"
                color="primary"
                class="drag-handle"
              >
                mdi-drag
              </v-icon>
              {{ index + 1 }}.
            </span>
            <div class="flex-fill">
              <component
                :is="InputTemplateComponent"
                :value="internalValue[index]"
                :input-templ="inputTempl"
                :section-values="sectionValues"
                :is-common="isCommon"
                :template="template"
                :mode="mode"
                :use-dot-prop-access="useDotPropAccess"
                :api-services="apiServices"
                :input-values="inputValues"
                @delete="() => deleteItem(index)"
                @input="(val) => update(val, index)"
                @update="update"
              />
            </div>
            <span
              class="ml-2"
            >
              <common-trs-btn
                v-if="mode !== 'view'"
                type="tertiary"
                icon
                @click="deleteItem(index)"
              >
                <v-icon>mdi-delete</v-icon>
              </common-trs-btn>
            </span>
          </v-col>
          <v-col cols="12">
            <common-trs-btn
              v-if="mode !== 'view'"
              block
              color="#f1f1f1"
              type="secondary"
              class="primary--text elevation-0"
              @click="addItem"
            >
              <v-icon class="mr-2">
                mdi-plus-circle-outline
              </v-icon>
              Add
            </common-trs-btn>
          </v-col>
        </draggable>
      </v-row>
    </div>
  </v-fade-transition>
</template>

<script>
  import { branchCompare } from './utils'
  import InputTemplateText from './InputTemplateText'
  import InputTemplateNumber from './InputTemplateNumber'
  import InputTemplateCurrency from './InputTemplateCurrency'
  import InputTemplatePhoneNumber from './InputTemplatePhoneNumber'
  // import InputTemplateSelect from './InputTemplateSelect'
  import InputTemplateRadio from './InputTemplateRadio'
  import InputTemplateTextarea from './InputTemplateTextarea'
  import InputTemplateSlider from './InputTemplateSlider'
  import InputTemplateFile from './InputTemplateFile'
  import InputTemplateFileV2 from './InputTemplateFileV2'
  import InputTemplateBullet from './InputTemplateBullet'
  import InputTemplateDate from './InputTemplateDate'
  import InputTemplateTimeline from './InputTemplateTimeline'
  import InputTemplatePublicImage from './InputTemplatePublicImage'
  import InputTemplateModal from './InputTemplateModal'
  import InputTemplateAddress from './InputTemplateAddress'
  import InputTemplateUrl from './InputTemplateUrl'
  import InputTemplateDataFile from './InputTemplateDataFile'
  import InputTemplateCalculated from './InputTemplateCalculated'
  import InputTemplateDraggableList from './InputTemplateDraggableList'
  import InputTemplateButtonToggle from './InputTemplateButtonToggle'
  import InputRichTextEditor from './InputRichTextEditor'
  import InputStaticText from './InputStaticText'
  import draggable from 'vuedraggable'

  export default {
    name: 'InputTemplate',
    components: {
      draggable,
    },

    props: {
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      isCommon: {
        type: Boolean,
        default: true,
      },
      template: {
        type: Object,
        default: () => ({}),
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
        default: false,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
      },
      reloadData: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      isDraggable () {
        return this.inputTempl.input === this.CONSTS.FORM_DEF_INPUT_TYPE.PUBLIC_IMAGE
      },
      isVisible () {
        if (this.inputTempl.ctrlVisibility && this.inputTempl.visibility) {
          const visibility = this.inputTempl.visibility
          try {
            const lValue = this.apiServices.getValueFromSection(this.inputValues, visibility.lsection, visibility.lvalue)
            if (visibility.rvalue &&
              branchCompare(lValue, visibility.rvalue, visibility.expr)) {
              return true
            }
            return false
          } catch (err) {
            console.log(err)
            return false
          }
        }
        return true
      },
      InputTemplateComponent () {
        if (this.inputTempl.isCustomComponent) {
          return this.inputTempl.component
        }

        switch (this.inputTempl.input) {
          case this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT:
            return InputTemplateText
          case this.CONSTS.FORM_DEF_INPUT_TYPE.NUMBER:
            return InputTemplateNumber
          case this.CONSTS.FORM_DEF_INPUT_TYPE.CURRENCY:
            return InputTemplateCurrency
          case this.CONSTS.FORM_DEF_INPUT_TYPE.PHONE_NUMBER:
            return InputTemplatePhoneNumber
          case this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT_LONG:
            return InputTemplateTextarea
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT:
            return InputTemplateRadio
          case this.CONSTS.FORM_DEF_INPUT_TYPE.RADIO:
            return InputTemplateRadio
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI:
            return InputTemplateRadio
          case this.CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST:
            return InputTemplateRadio
          case this.CONSTS.FORM_DEF_INPUT_TYPE.FILE:
            return InputTemplateFile
          case this.CONSTS.FORM_DEF_INPUT_TYPE.FILE_V2:
            return InputTemplateFileV2
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SLIDER:
            return InputTemplateSlider
          case this.CONSTS.FORM_DEF_INPUT_TYPE.DATE:
            return InputTemplateDate
          case this.CONSTS.FORM_DEF_INPUT_TYPE.BULLET:
            return InputTemplateBullet
          case this.CONSTS.FORM_DEF_INPUT_TYPE.TIMELINE:
            return InputTemplateTimeline
          case this.CONSTS.FORM_DEF_INPUT_TYPE.PUBLIC_IMAGE:
            return InputTemplatePublicImage
          case this.CONSTS.FORM_DEF_INPUT_TYPE.STATIC_MODAL:
            return InputTemplateModal
          case this.CONSTS.FORM_DEF_INPUT_TYPE.ADDRESS:
            return InputTemplateAddress
          case this.CONSTS.FORM_DEF_INPUT_TYPE.URL:
            return InputTemplateUrl
          case this.CONSTS.FORM_DEF_INPUT_TYPE.DATA_FILE:
            return InputTemplateDataFile
          case this.CONSTS.FORM_DEF_INPUT_TYPE.CALCULATED:
            return InputTemplateCalculated
          case this.CONSTS.FORM_DEF_INPUT_TYPE.BUTTON_TOGGLE:
            return InputTemplateButtonToggle
          case this.CONSTS.FORM_DEF_INPUT_TYPE.DRAGGABLE_LIST:
            return InputTemplateDraggableList
          case this.CONSTS.FORM_DEF_INPUT_TYPE.RICH_TEXTEDITOR:
            return InputRichTextEditor
          case this.CONSTS.FORM_DEF_INPUT_TYPE.STATIC_TEXT:
            return InputStaticText
        }
        return InputTemplateText
      },
      internalValue: {
        get () {
          let value = this.useDotPropAccess
            ? this.$getObjectDeepValue(this.sectionValues, this.inputTempl.id)
            : this.sectionValues[this.inputTempl.id]

          if (this.inputTempl && this.inputTempl.multiple && !Array.isArray(value)) {
            value = []
          }
          return value
        },
        set (val) {
          this.$emit('update', this.inputTempl.id, val)
        },
      },
      isLocalhost () {
        return location.hostname === 'localhost'
      },
    },

    mounted () {
      // if (this.mode === 'create') {
      //   this.addItem()
      // }
    },

    methods: {
      addItem () {
        const newInternalValue = [...this.internalValue]

        const def = this.inputTempl

        // The code block is same from Index.vue -> getDefaultValuesOfSection
        let defaultVal = def.default === undefined
          ? ''
          : def.default

        if ((def.input === 'select' || def.input === 'radio') &&
          def.dataSrc === 'inline' &&
          def.data &&
          Array.isArray(def.data) &&
          !Number.isNaN(def.default) &&
          def.data.length > def.default) {
          defaultVal = def.data[def.default]
        }

        newInternalValue.push(defaultVal)

        this.$emit('update', this.inputTempl.id, newInternalValue)
      },
      deleteItem (index) {
        const newInternalValue = [...this.internalValue]
        newInternalValue.splice(index, 1)

        this.$emit('update', this.inputTempl.id, newInternalValue)
      },
      update (val, index) {
        const newInternalValue = [...this.internalValue]
        newInternalValue[index] = val

        this.$emit('update', this.inputTempl.id, newInternalValue)
      },
    },
  }
</script>
<style lang="scss">
  .input-template-comment {
    font-size: 12px;
    color: black;
  }
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
