<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-common-button-toggle
      v-if="mode !== 'view'"
      v-model="internalValue"
      :options="inputTempl.options"
      :error-messages="errors"
      :hide-details="errors.length === 0"
    />

    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        {{ internalValue || '-' }}
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  export default {
    name: 'InputTemplateText',

    components: { },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
