<template>
  <div>
    <div class="grey--text">
      {{ inputTempl.label }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InputTemplateStaticText',
    components: {
    },
    props: {
      mask: {
        type: String,
        default: '',
      },
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
    },
  }
</script>
