<template>
  <div v-if="!isInvalidOpportunityDoc">
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <input-label
        v-if="$formTemplInputLongLabel(inputTempl)"
        class="mb-1"
        v-text="$formTemplInputLongLabel(inputTempl)"
      />
      <validation-provider
        ref="validationProvider"
        :rules="ruleSets"
        :name="inputTempl.label"
        :vid="inputTempl.id"
      >
        <common-input-file
          ref="uploadFile"
          :error-messages="errors"
          :hide-details="errors.length === 0"
          color="primary"
          :label="$formTemplInputShortLabel(inputTempl)"
          validate-on-blur
          :persistent-hint="mode !== 'view'"
          v-bind="inputTempl.inputProps"
          :file-type="CONSTS.FILE_TYPES.ALL_DOCS"
          @change="uploadFile"
        >
          <template v-slot:append-outer>
            <v-progress-circular
              v-if="uploading"
              :rotate="270"
              :size="50"
              :width="10"
              :value="uploadingProgress"
              color="primary"
            >
              {{ uploadingProgress }}
            </v-progress-circular>
          </template>
        </common-input-file>
      </validation-provider>
      <div
        v-if="mode !== 'view'"
        class="input-template-comment mt-2"
        v-html="inputTempl.comment"
      />
    </div>

    <div
      v-if="doc && doc.document && mode !== 'view'"
      class="preview form-template-view-input-row mb-2"
    >
      <common-common-preview-file-line-wrapper
        :title="doc.name"
        :mime-type="doc.document.mime_type"
        :url="doc.document.signed_url"
        :has-download-btn="true"
      />
    </div>

    <v-row
      v-if="mode === 'view'"
      no-gutters
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col
        cols="6"
      >
        <div
          v-if="doc && doc.document"
          no-gutters
        >
          <a
            :download="filename"
            target="_blank"
            rel="noopener noreferrer"
            :href="doc.document.signed_url"
            class="d-flex align-center text-decoration-none"
          >
            <v-icon color="primary">mdi-paperclip</v-icon>
            {{ $getFileNameFromSignedUrl(doc.document.signed_url) }}
          </a>
        </div>
        <div v-else>
          No data
        </div>
      </v-col>
    </v-row>

    <input-template-data-file-name-select
      v-model="nameSelectModalVisible"
      :base-name="inputTempl.dataFileName"
      @nameSelected="startUpload"
    />

    <input-template-data-edit-modal ref="editModal" />
  </div>
  <div v-else>
    This field is only available on opportunity forms
  </div>
</template>

<script>
  import InputTemplateDataFileNameSelect from './components/InputTemplateDataFileNameSelect'
  import InputTemplateDataEditModal from './components/InputTemplateDataEditModal'
  import * as documentServices from '@/components/common/services/documents'
  import { api } from '@/api'
  import InputLabel from './InputLabel'

  const DEFAULT_DOC = documentServices.getOppDefaultDoc()
  export default {
    name: 'InputTemplateFile',

    components: {
      InputTemplateDataFileNameSelect,
      InputTemplateDataEditModal,
      InputLabel,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      isCommon: {
        type: Boolean,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      // internalValue: '',
      errors: [],
      doc: null,
      uploading: false,
      uploadingProgress: 0,
      nameSelectModalVisible: false,
      tempFileSelected: null,
    }),

    computed: {
      docTypes () {
        return this.$store.getters['documentTypes/docTypes'].filter(x => {
          return x.name.indexOf('DATA_ROOM') !== -1 || x.name.indexOf('REQUIRED') !== -1
        })
      },
      allDocTypes () {
        return this.$store.getters['documentTypes/docTypes']
      },
      filename () {
        return ''
      },
      isInvalidOpportunityDoc () {
        if (this.inputTempl.dataFileDocType !== this.CONSTS.FORM_DATA_FILE_TYPE.ISSUER_DOCUMENT && !this.opportunityId) {
          return true
        }
        return false
      },
      opportunityId () {
        if (this.apiServices &&
          this.apiServices.getOpportunityId) {
          return this.apiServices.getOpportunityId()
        }
        return null
      },
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return ruleSets
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    mounted () {
      this.loadDocument(this.internalValue)
      if (this.$refs.validationProvider) {
        this.$refs.validationProvider.validate()
      }
    },

    methods: {
      async uploadFile (ev) {
        if (this.$refs.validationProvider) {
          this.$refs.validationProvider.validate(ev)
        }
        if (this.tempFileSelected && !ev) {
          // If close icon is clicked on input
          if (this.internalValue) {
            await documentServices.deleteDocument(this.internalValue)
          }
          this.internalValue = ''
          this.loadDocument()
        } else {
          this.tempFileSelected = ev
          if (this.inputTempl.multiple) {
            this.inputTempl.dataFileName = ev.name
            this.nameSelectModalVisible = true
          } else {
            this.startUpload(this.inputTempl.dataFileName || ev.name)
          }
        }
      },
      async startUpload (name) {
        this.uploading = true
        try {
          const progressCallback = (progress) => {
            this.uploadingProgress = progress
          }

          let doc = {
            file: this.tempFileSelected,
            ...this.doc,
            category: this.inputTempl.dataFileCategory,
            name,
            description: this.inputTempl.dataFileDescription,
            details: {
              download_allowed: this.inputTempl.dataFileDownloadAllowed,
              watermark: this.inputTempl.watermarkEnabled,
            },
            data_list: [],
          }
          const isNew = !this.internalValue
          const docId = this.internalValue

          if (this.inputTempl.showEditModal) {
            try {
              const newProps = await this.$refs.editModal.open({
                document: doc,
              })

              doc = {
                ...doc,
                newProps,
              }
            } catch (err) {
              // handle error
              this.uploading = false
              return
            }
          }

          let uploadFunc = documentServices.uploadOpportunityDocument
          if (this.inputTempl.dataFileDocType === this.CONSTS.FORM_DATA_FILE_TYPE.ISSUER_DOCUMENT) {
            uploadFunc = documentServices.uploadIssuerDocument
          }

          const createdDoc = await uploadFunc(
            this.opportunityId,
            doc,
            isNew,
            docId,
            progressCallback,
          )
          const newDocId = createdDoc.document_id
          this.internalValue = newDocId
          this.$nextTick(() => {
            this.loadDocument(newDocId)
          })
          if (this.$refs.validationProvider) {
            this.$refs.validationProvider.setFlags({ dirty: true })
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to upload file',
          })
        }
        this.uploading = false
      },
      async loadDocument (documentId) {
        if (documentId) {
          if (this.inputTempl.dataFileDocType === this.CONSTS.FORM_DATA_FILE_TYPE.OPPORTUNITY_DOCUMENT) {
            const oppDoc = (await api.get(`opportunities/${this.opportunityId}/document/${documentId}`)).data
            this.doc = {
              ...oppDoc,
              document_type: oppDoc.document_type
                ? oppDoc.document_type.map(type => type.id)
                : [],
            }
          } else if (this.inputTempl.dataFileDocType === this.CONSTS.FORM_DATA_FILE_TYPE.ISSUER_DOCUMENT) {
            const issuerDoc = (await api.get(`document/${documentId}`)).data
            this.doc = {
              ...issuerDoc,
              document: {
                signed_url: issuerDoc.signed_url,
                doc_id: issuerDoc.document_id,
                mime_type: issuerDoc.mime_type,
              },
              document_type: issuerDoc.document_type
                ? issuerDoc.document_type.map(type => type.id)
                : [],
            }
          }
        } else if (this.inputTempl.dataFileDocType === this.CONSTS.FORM_DATA_FILE_TYPE.ISSUER_DOCUMENT) {
          this.doc = {
            ...DEFAULT_DOC,
          }

          const TYPE = this.allDocTypes.find(v => v.name === 'ISSUER_DOCUMENT')
          if (TYPE) {
            this.doc.document_type = [TYPE.id]
          }
        } else {
          this.doc = {
            ...DEFAULT_DOC,
          }

          const TYPE = this.allDocTypes.find(v => v.name === 'DATA_ROOM_DOCUMENT')
          if (TYPE) {
            this.doc.document_type = [TYPE.id]
          }
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .align-items-center {
    align-items: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .icon-delete {
    font-size: 15px;
  }
  .fs-12{
    font-size: 12px;
  }
</style>
