<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-input-s3-upload
      v-if="mode !== 'view'"
      v-model="internalValue"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      :file-type="CONSTS.FILE_TYPES.IMAGE"
      :crop-settings="{ doCrop: true }"
      :min-crop-box-height="inputTempl.minCropBoxHeight"
      :min-crop-box-width="inputTempl.minCropBoxWidth"
      :clearable="clearable"
      :public-image="true"
    >
      <template v-slot:preview="{ loading, url, openFileDialog, progress }">
        <div class="d-flex">
          <div class="flex-fill mr-2">
            <div
              v-if="!inputTempl.multiple"
              class="mt-2"
            >
              {{ inputTempl.label || 'Upload an image' }}
            </div>
            <v-img
              v-if="url"
              contain
              max-width="150"
              :src="url"
              :loading="loading"
              :gradient="`to top, rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0}), rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0})`"
              class="mt-2"
            />

            <v-img
              v-else
              contain
              max-width="150"
              :src="noImage"
              :loading="loading"
              :gradient="`to top, rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0}), rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0})`"
              class="mt-2"
            />
          </div>
          <div
            class="d-flex align-items-center flex-column justify-center"
            :class="{
              'mt-5': !inputTempl.multiple,
            }"
          >
            <div>
              <input-label
                v-if="mode !== 'view' && !inputTempl.multiple"
                class="size-instructions"
              >
                <div class="mb-2 trsText--text">
                  {{ inputTempl.instructionsWide }}
                </div>
                <div class="mb-2 trsText--text">
                  {{ inputTempl.instructionsHeigh }}
                </div>
                <div class="mb-2 trsText--text">
                  {{ inputTempl.instructionsImage }}
                </div>
              </input-label>

              <div v-if="inputTempl.helperTexts && !inputTempl.multiple">
                <div
                  v-for="(text, index) in inputTempl.helperTexts"
                  :key="index"
                  class="my-1 trsText--text text-extra-small text--light-1 font-weight-light"
                >
                  <v-icon
                    color="primary"
                    size="small"
                  >
                    mdi-check
                  </v-icon> {{ text }}
                </div>
              </div>

              <common-common-preview-file-line-wrapper
                v-if="url && !inputTempl.multiple"
                title=""
                :mime-type="'image/png'"
                :url="url"
                :has-download-btn="true"
                class="my-2"
              />
            </div>
            <div
              v-if="mode !== 'view'"
              class="d-flex align-center"
            >
              <div>
                <div
                  v-if="url"
                  class="d-flex"
                >
                  <v-icon
                    class="icon-edit-outlined primary--text pa-2 "
                    @click="openFileDialog"
                  />
                  <v-icon
                    v-if="!inputTempl.multiple"
                    class="icon-delete primary--text pa-2"
                    @click="() => {internalValue = ''}"
                  />
                </div>
                <common-trs-btn
                  v-else
                  text
                  outlined
                  type="secondary"
                  class="primary--text border-radius-0"
                  @click="openFileDialog"
                >
                  <div
                    v-if="!loading"
                    :data="inputTempl.label"
                  >
                    Upload New
                  </div>
                  <v-progress-circular
                    v-if="loading"
                    :size="30"
                    :rotate="270"
                    :width="5"
                    :value="progress"
                    color="primary"
                  >
                    <span style="font-size: 10px">{{ progress.toFixed(0) }}</span>
                  </v-progress-circular>
                </common-trs-btn>
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="mode !== 'view'"
          class="input-template-comment mt-2 font-weight-light"
          v-html="inputTempl.comment"
        />
      </template>
    </common-input-s3-upload>

    <v-row
      v-if="mode === 'view'"
      dense
      class="form-template-view-input-row align-center"
    >
      <v-col cols="6">
        <span
          class="form-template-view-input-label"
        >
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        <img
          v-if="internalValue"
          :src="internalValue"
          style="width: 100%"
        >
        <img
          v-else
          :src="noImage"
          style="width: 100%"
        >
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  import InputLabel from './InputLabel'
  export default {
    name: 'InputTemplatePublicImage',

    components: {
      InputLabel,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      clearable: true,
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      noImage () {
        return require('@/components/common/assets/no-image.jpg')
      },
    },
  }
</script>
<style lang="scss" scoped>
  .size-instructions {
    div {
      font: 300 12px/12.19px $font-family-base;
    }
  }
  .icon-edit-outlined {
    font-size: 18px;
  }
  .icon-delete {
    font-size: 15px;
  }
</style>
