<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <input-label
        class="text-body-1 font-weight-medium trsText--text"
      >
        {{ inputTempl.label }}
        <span v-if="!inputTempl.mandatory"> (optional)</span>
      </input-label>
      <v-row
        no-gutters
        class="justify-space-between addres-box rounded-1 pa-4 mt-5"
      >
        <div
          class="text-caption"
          v-html="$getCommonFullAddrHtml(internalValue)"
        />
        <input-template-address-modal
          v-if="internalValue"
          v-model="internalValue"
          :should-require="inputTempl.mandatory"
        />
        <div
          v-if="mode !== 'view'"
          class="input-template-comment mt-2"
          v-html="inputTempl.comment"
        />
      </v-row>
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <div
        v-html="$getCommonFullAddrHtml(internalValue)"
      />
    </div>
  </div>
</template>

<script>
  import InputLabel from './InputLabel'
  export default {
    name: 'InputTemplateAddress',

    components: {
      InputTemplateAddressModal: () => import('./components/InputTemplateAddressModal'),
      InputLabel,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLabel: '',
      newText: '',
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue (val) {
        this.init()
      },
    },

    created () {
      this.init()
    },

    methods: {
      init () {
        if (!this.internalValue) {
          this.internalValue = {}
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  div.indexing {
    min-width: 50px;
  }
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
  .addres-box {
    background: rgba(0, 159, 70, 0.1);
    width: 250px
  }
</style>
