<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <div
        class="d-flex align-center justify-between"
      >
        <div
          class="mr-10"
          style="width: 300px"
        >
          <input-label
            v-if="$formTemplInputShortLabel(inputTempl)"
            class="mb-1"
            v-text="$formTemplInputShortLabel(inputTempl)"
          />
          <slot
            name="download-file"
          />
          <div
            class="mt-2 fs-12"
            v-html="inputTempl.fileDescription"
          />
        </div>

        <div>
          <div
            v-if="!doc"
          >
            <common-trs-btn
              text
              outlined
              type="secondary"
              small
              class="primary--text mt-2"
              @click="handleUpload"
            >
              <div v-if="!uploading">
                Upload
              </div>
              <v-progress-circular
                v-if="uploading"
                :rotate="270"
                :size="10"
                :width="10"
                :value="uploadingProgress"
                color="primary"
              >
                {{ uploadingProgress }}
              </v-progress-circular>
            </common-trs-btn>
            <div
              class="d-flex fs-12"
            >
              <v-icon>
                mdi-check
              </v-icon>
              {{ foundFileType.exts }}
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap justify-end flex-fill">
          <div
            v-if="doc"
            class="d-flex flex-wrap justify-between align-center"
          >
            <div
              class="preview fs-12 mr-2"
              v-html="doc.name"
            />
            <div class="d-flex align-items-center justify-end">
              <common-common-preview-file-line-wrapper
                :title="doc.name"
                :mime-type="doc.mime_type"
                :url="doc.signed_url"
                :has-download-btn="true"
                :is-view-icon="true"
              />
              <v-icon
                color="success"
                class="icon-edit-outlined ml-3"
                size="17"
                @click="handleUpload"
              />
              <v-icon
                color="success"
                size="14"
                class="icon-delete ml-3"
                @click="deleteItem"
              />
            </div>
          </div>
        </div>
      </div>
      <input-template-file-edit-modal
        v-model="internalForm"
        :show.sync="showFileModal"
        :input-templ="inputTempl"
        :file-type="foundFileType"
        @upload="uploadFile"
      />
    </div>

    <v-row
      v-if="mode === 'view'"
      no-gutters
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        <div
          v-if="doc"
          no-gutters
        >
          <a
            :download="filename"
            target="_blank"
            rel="noopener noreferrer"
            :href="doc.signed_url"
            class="d-flex align-center text-decoration-none "
          >
            <v-icon color="primary">mdi-paperclip</v-icon>
            {{ doc.doc_name || 'Document' }}
          </a>
        </div>
        <div v-else>
          No data
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import { uploadDocument, updateDocument, getDocumentById, deleteDocument } from './utils'
  import InputLabel from './InputLabel'
  import InputTemplateFileEditModal from './components/InputTemplateFileEditModal'

  export default {
    name: 'InputTemplateFileV2',
    components: {
      InputLabel,
      InputTemplateFileEditModal,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      isCommon: {
        type: Boolean,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      // internalValue: '',
      errors: [],
      doc: null,
      uploading: false,
      uploadingProgress: 0,
      showFileModal: false,
      internalForm: { details: {} },
    }),

    computed: {
      foundFileType () {
        // console.log('file type:----', this.inputTempl.fileDocType)
        const foundFileType = this.CONSTS.FILE_TYPES_DISPLAY.find(type => type.value === this.inputTempl.fileDocType)
        return foundFileType || this.CONSTS.FILE_TYPE_DEFAULT
      },
      foundMimeType () {
        const foundMimeType = this.CONSTS.FILE_MIME_TYPES.find(type => type.type === this.inputTempl.fileDocType)
        return foundMimeType || this.CONSTS.FILE_MIME_TYPE_DEFAULT
      },
      filename () {
        if (!this.doc) {
          return ''
        }
        // let url = this.doc.signed_url.split('?')[0]
        // url = url.slice(url.lastIndexOf('/'))
        return ''
      },
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    created () {
      this.internalValue && this.loadDocument(this.internalValue)
    },

    mounted () {
    },

    methods: {
      base () {
        const portal = this.$getPortal()
        const baseMapper = {
          [this.CONSTS.PORTAL.ISSUER]: '',
          [this.CONSTS.PORTAL.TENANT]: 'tenant',
          [this.CONSTS.PORTAL.INVESTOR]: 'tenant',
        }
        return baseMapper[portal]
      },
      deleteItem () {
        try {
          deleteDocument(this.internalValue, { base: this.base() })
        } catch (err) {
          // ingore the error. Nothing to do about it
        }
        this.internalValue = ''
        this.internalForm = { details: {} }
        this.loadDocument('')
      },
      handleUpload () {
        // this.$refs.fileInput.click()
        this.showFileModal = true
      },
      async uploadFile () {
        const { file: ev, ...rest } = this.internalForm

        if (!this.internalForm.file) {
          // Update without file
          this.uploading = true
          try {
            const apiResponse = await updateDocument(rest, {
              base: this.base(),
            })
            this.internalValue = apiResponse.document_id
            this.loadDocument(apiResponse.document_id)
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to upload file',
            })
          }
          this.uploading = false
        } else {
          if (ev && !this.foundMimeType.value.includes(ev.type)) {
            this.$store.dispatch('app/handleError', {
              message: `Please upload ${this.foundFileType.exts} files only`,
            })
            return
          }

          this.uploading = true
          try {
            // const s3Key = `users/forms/${this.template.id}/files/${this.inputTempl.id}_${this.inputTempl.label}_${new Date().getTime()}/${ev.name}`
            const progressCallback = (progress) => {
              this.uploadingProgress = progress
            }

            const uploadFunc = this.apiServices.uploadDocument || uploadDocument
            const apiResponse = await uploadFunc({
              file: ev,
              request_payload: {
                ...rest,
              },
            }, {
              base: this.base(),
            }, progressCallback)
            this.internalValue = apiResponse.doc_id
            this.loadDocument(apiResponse.doc_id)
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to upload file',
            })
          }
          this.uploading = false
        }
      },
      async loadDocument (documentId) {
        if (!documentId) {
          this.doc = null
        } else {
          // Rabbit hole for entity onboaring form file response
          if (typeof this.internalValue === 'object' && this.internalValue.signed_url) {
            this.doc = this.internalValue
          } else {
            const getDocumentFunc = this.apiServices.getDocumentById || getDocumentById
            this.doc = await getDocumentFunc(documentId, { base: this.base() })
          }
          this.internalForm = { details: this.doc.details || {}, document_id: this.doc.document_id }
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .fs-12 {
    font-size: 12px;
    font-weight: 300;
  }
</style>
