<template>
  <div class="input-template-bullet">
    <div v-if="mode === 'edit' || mode === 'create'">
      <input-label>
        {{ inputTempl.label }}
        <span v-if="!inputTempl.mandatory">(optional)</span>
      </input-label>
      <v-row no-gutters>
        <v-col
          cols="12"
          class="mb-4"
        >
          <div>
            <validation-observer
              ref="newItem"
              v-slot="{ valid }"
            >
              <validation-provider
                v-slot="{ errors }"
                :name="inputTempl.label"
                :rules="{ ...ruleSets }"
              >
                <common-input-text-field
                  v-model="newLine"
                  :error-messages="errors"
                  :hide-details="errors.length === 0"
                  color="primary"
                  validate-on-blur
                />
                <div class="d-flex align-center justify-end">
                  <template>
                    <common-trs-btn
                      text
                      outlined
                      type="secondary"
                      small
                      class="primary--text mt-4 font-weight-medium"
                      :disabled="!valid"
                      @click="addLine"
                    >
                      Add
                    </common-trs-btn>
                  </template>
                </div>
              </validation-provider>
            </validation-observer>
          </div>
        </v-col>
        <v-col
          v-for="(line, index) in internalValue"
          :key="index"
          cols="10"
          class="mb-2"
        >
          <div class="d-flex justify-space-between align-center">
            <div
              class="text-body-2 mr-3"
              style="word-break: break-all;"
            >
              {{ line }}
            </div>
            <template>
              <common-trs-btn
                type="tertiary"
                icon
                @click="deleteLine(index)"
              >
                <v-icon
                  size="14"
                  class="icon-delete"
                />
              </common-trs-btn>
            </template>
          </div>
        </v-col>

        <v-col
          cols="12"
        >
          <div
            v-if="mode !== 'view'"
            class="input-template-comment mt-2"
            v-html="inputTempl.comment"
          />
        </v-col>
      </v-row>
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <span class="form-template-view-input-label">
        {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
      </span>
      <v-row
        v-if="internalValue && internalValue.length > 0"
        no-gutters
      >
        <ol>
          <li
            v-for="(line, index) in internalValue"
            :key="index"
            cols="12"
          >
            {{ line }}
          </li>
        </ol>
      </v-row>
      <v-row v-else>
        <v-col>No data</v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import InputLabel from './InputLabel'
  export default {
    name: 'InputTemplateBullet',

    components: { InputLabel },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLine: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue (val) {
        if (!Array.isArray(val)) {
          this.internalValue = []
        }
      },
    },

    methods: {
      deleteLine (index) {
        this.internalValue = this.internalValue.filter((line, i) => i !== index)
      },
      addLine (event) {
        let val = this.internalValue
        if (!Array.isArray(val)) {
          val = []
        }
        this.internalValue = val.concat([this.newLine])
        this.newLine = ''
        // this.$refs.newItem.reset()
      },
    },
  }
</script>
<style lang="scss" scoped>
  span.indexing {
    min-width: 20px;
  }
</style>
