<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <div class="d-flex justify-space-between">
        <div class="mr-10">
          <input-label
            v-if="inputTempl.longLabel"
            class="mb-1"
          >
            {{ inputTempl.longLabel }}
          </input-label>
          <input-label>
            {{ inputTempl.label }}
            <span v-if="!inputTempl.mandatory"> (optional)</span>
          </input-label>
        </div>
        <common-trs-btn
          type="primary"
          small
          @click="switchToAdd"
        >
          Add New
        </common-trs-btn>
      </div>

      <common-trs-data-table
        v-if="internalValue && internalValue.length > 0 && innerMode === 'view'"
        :headers="headers"
        :items="internalValue"
        :hide-default-footer="true"
        disable-pagination
        dense
      >
        <template v-slot:body="{ }">
          <draggable
            v-model="internalValue"
            style="width: 100%;"
            :options="{ handle: '.drag-handle' }"
            tag="tbody"
          >
            <tr
              v-for="(line, index) in internalValue"
              :key="index"
            >
              <td>
                <v-icon
                  color="primary"
                  class="drag-handle"
                >
                  mdi-drag
                </v-icon>
              </td>
              <td class="text-caption font-weight-medium pt-1">
                {{ internalValue[index].label }}
              </td>
              <td class="text-caption font-weight-medium pt-1">
                {{ internalValue[index].text }}
              </td>
              <td class="pt-2">
                <common-trs-btn
                  type="tertiary"
                  icon
                  @click="switchToEdit(index)"
                >
                  <v-icon size="22">
                    icon-edit-outlined
                  </v-icon>
                </common-trs-btn>
                <common-trs-btn
                  type="tertiary"
                  icon
                  @click="deleteLine(index)"
                >
                  <v-icon size="14">
                    icon-delete
                  </v-icon>
                </common-trs-btn>
              </td>
            </tr>
          </draggable>
        </template>
      </common-trs-data-table>

      <div
        v-if="innerMode === 'edit'"
        style="max-width: 300px"
        class="my-5"
      >
        <validation-provider
          v-slot="{ errors }"
          :rules="ruleSets"
          :name="'Label'"
        >
          <common-input-text-field
            v-model="newLabel"
            :error-messages="errors"
            color="primary"
            validate-on-blur
            dense
            :label="inputTempl.labelName || 'Label'"
          />
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          :rules="ruleSets"
          :name="'Text'"
        >
          <common-input-text-field
            v-model="newText"
            :error-messages="errors"
            color="primary"
            validate-on-blur
            dense
            :label="inputTempl.textName || 'Text'"
          />
        </validation-provider>

        <div class="text-right">
          <common-trs-btn
            class="primary--text mr-4"
            type="secondary"
            small
            @click="cancelEdit"
          >
            Cancel
          </common-trs-btn>
          <common-trs-btn
            type="primary"
            small
            @click="saveLine"
          >
            Save
          </common-trs-btn>
        </div>
      </div>
      <div
        v-if="mode !== 'view'"
        class="input-template-comment mt-2"
        v-html="inputTempl.comment"
      />
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <span class="form-template-view-input-label">
        {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
      </span>
      <v-row
        v-if="internalValue && internalValue.length > 0"
        no-gutters
      >
        <v-timeline
          :dense="$vuetify.breakpoint.smAndDown"
          color="primary"
          style="width: 100%"
        >
          <v-timeline-item
            v-for="(line, index) in internalValue"
            :key="index"
          >
            <!-- <span slot="opposite">Tus eu perfecto</span> -->
            <v-card class="elevation-2">
              <v-card-title class="text-h3">
                {{ line.label }}
              </v-card-title>
              <v-card-text class="text-h4">
                {{ line.text }}
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-row>
      <v-row v-else>
        <v-col>No data</v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import InputLabel from './InputLabel'
  import draggable from 'vuedraggable'

  export default {
    name: 'InputTemplateTimeline',

    components: {
      InputLabel,
      draggable,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLabel: '',
      newText: '',
      innerMode: 'view',
      selectedIndex: -1,
    }),

    computed: {
      headers () {
        return [
          { text: '', value: 'drag', sortable: false, width: 50 },
          { text: this.inputTempl.labelName || 'Label', value: 'label', sortable: false },
          { text: this.inputTempl.textName || 'Text', value: 'text', sortable: false },
          { text: 'Actions', value: 'actions', sortable: false },
        ]
      },
      isInternalValueArray () {
        return Array.isArray(this.internalValue)
      },
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue (val) {
        this.init()
      },
    },

    mounted () {
      if (this.mode === 'create') {
        this.innerMode = 'edit'
      }
    },

    created () {
      this.init()
    },

    methods: {
      deleteLine (index) {
        this.internalValue = this.internalValue.filter((line, i) => i !== index)
      },
      switchToEdit (index) {
        this.innerMode = 'edit'
        this.selectedIndex = index
        this.newLabel = this.internalValue[index].label
        this.newText = this.internalValue[index].text
      },
      switchToAdd () {
        this.innerMode = 'edit'
        this.selectedIndex = -1
        this.newLabel = ''
        this.newText = ''
      },
      cancelEdit () {
        this.innerMode = 'view'
        this.selectedIndex = -1
        this.newLabel = ''
        this.newText = ''
      },
      saveLine (event) {
        if (!this.newLabel || !this.newText) {
          return
        }
        let val = this.internalValue
        if (!Array.isArray(val)) {
          val = []
        }
        if (this.selectedIndex === -1) {
          val = val.concat([{
            label: this.newLabel,
            text: this.newText,
          }])
        } else {
          val[this.selectedIndex].label = this.newLabel
          val[this.selectedIndex].text = this.newText
        }
        this.selectedIndex = -1
        this.newLabel = ''
        this.newText = ''
        this.innerMode = 'view'
        this.internalValue = [...val]
        // this.$emit('save')
      },
      init () {
        if (!Array.isArray(this.internalValue)) {
          this.internalValue = []
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  div.indexing {
    min-width: 50px;
  }
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .v-data-table {
    border: 1px solid #D7E0E2;
    border-radius: 4px;
    padding: 10px;
  }
</style>
