<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
      class="pb-4"
    >
      <div class="d-flex justify-space-between">
        <div>
          <input-label
            v-if="inputTempl.longLabel"
            class="mb-1"
          >
            {{ inputTempl.longLabel }}
          </input-label>
          <input-label>
            {{ inputTempl.label }}
            <span v-if="!inputTempl.mandatory"> (optional)</span>
          </input-label>
        </div>
        <div>
          <common-trs-btn
            v-if="innerMode === 'view'"
            type="tertiary"
            color="primary"
            icon
            text
            class="mb-2"
            @click="gotoInnerEditMode"
          >
            <v-icon size="24">
              icon-edit-outlined
            </v-icon>
          </common-trs-btn>
        </div>
      </div>
      <v-row
        no-gutters
        style="width: 100%"
      >
        <common-rich-text-viewer
          v-if="innerMode === 'view'"
          v-model="internalValue"
        />
        <div
          v-if="innerMode === 'edit'"
          style="width: 100%"
        >
          <validation-provider
            :rules="ruleSets"
            :name="inputTempl.label"
            :vid="inputTempl.id"
          >
            <common-rich-text-editor
              v-model="innnerValue"
            />
          </validation-provider>

          <div class="text-right mt-2">
            <common-trs-btn
              type="tertiary"
              color="primary"
              text
              @click="cancelInnerValue"
            >
              Cancel
            </common-trs-btn>
            <common-trs-btn
              type="primary"
              color="primary"
              @click="saveInnerValue"
            >
              Save
            </common-trs-btn>
          </div>
        </div>
        <v-col
          cols="12"
        >
          <span
            class="input-template-comment"
            v-html="inputTempl.comment"
          />
        </v-col>
      </v-row>
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <span class="form-template-view-input-label">
        {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
      </span>

      <common-rich-text-viewer
        v-model="internalValue"
      />
    </div>
  </div>
</template>

<script>
  import InputLabel from './InputLabel'
  export default {
    name: 'InputTemplateRichTextEditor',

    components: {
      InputLabel,
      CommonRichTextEditor: () => import('@/components/common/rich-text-editor/Index'),
      CommonRichTextViewer: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLabel: '',
      newText: '',
      innerMode: 'view',
      innnerValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    mounted () {
      if (this.mode === 'create') {
        this.innerMode = 'edit'
      }
    },

    created () {
    },

    methods: {
      gotoInnerEditMode () {
        this.innerMode = 'edit'
        this.innnerValue = this.internalValue
      },
      saveInnerValue () {
        this.innerMode = 'view'
        this.internalValue = this.innnerValue
        this.$emit('save')
      },
      cancelInnerValue () {
        this.innerMode = 'view'
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
