<template>
  <div v-if="mode !== 'view'">
    <div
      v-if="section.description"
      class="mx-2 d-flex align-center mt-4"
    >
      <div class="text-body-2 trsText--text">
        {{ section.description }}
      </div>
    </div>

    <v-row>
      <v-col
        cols="12"
        class="d-flex flex-row align-center"
      >
        <v-spacer />
        <common-trs-btn
          v-if="mode !== 'view' && section.bulkUpload"
          outlined
          type="primary"
          class="mr-2 white--text"
          @click.stop="downloadMultipleSectionTemplate"
        >
          <v-icon>mdi-download</v-icon>
          Download Template
        </common-trs-btn>

        <form-templates-button-file-input
          v-if="mode !== 'view' && section.bulkUpload "
          accept="text/csv"
          :params="{ section: section }"
          :api-services="apiServices"
          @onFileSelected="(files, params) => $emit(uploadMultipleSectionFile, files, params)"
        >
          <template v-slot:activator="{ selectFile }">
            <common-trs-btn
              outlined
              type="secondary"
              class="primary--text"
              @click="selectFile"
            >
              <v-icon>mdi-upload</v-icon>
              Upload File
            </common-trs-btn>
          </template>
        </form-templates-button-file-input>
        <common-trs-btn
          v-if="mode !== 'view' && section.bulkUpload"
          text
          trs-icon
          small
          type="secondary"
          class="primary--text ml-2"
          @click.stop="showTemplateInfoBox"
        >
          <v-icon>mdi-information</v-icon>
        </common-trs-btn>
      </v-col>
    </v-row>

    <div v-if="section.showInTable">
      <div
        class="d-flex justify-space-between mx-3"
      >
        <div class="mr-10">
          <div
            v-if="innerMode === 'edit'"
            class="text-body-2 trsText--text"
          >
            {{ isAddNew ? `New ${secMultiLabel(section)}` : `Edit ${secMultiLabel(section)}` }}
          </div>
          <div
            v-if="innerMode === 'view'"
            class="text-body-2 trsText--text"
          >
            {{ section.name }}
          </div>
        </div>
        <common-trs-btn
          v-if="innerMode === 'view'"
          type="primary"
          small
          @click="switchToAdd"
        >
          Add New
        </common-trs-btn>
      </div>
      <div
        v-if="innerMode === 'edit'"
        class="my-3"
      >
        <form-templates-section-template
          :section-values="currentForm"
          :section="section"
          :multiple-id="selectedIndex"
          :template="template"
          :mode="mode"
          :api-services="apiServices"
          :input-values="inputValues"
          :hide-header="true"
          @update="update"
          @save="$emit('save')"
        />
        <div class="text-right mr-3">
          <common-trs-btn
            class="primary--text mr-4"
            type="secondary"
            small
            @click="cancelEdit"
          >
            Cancel
          </common-trs-btn>
          <common-trs-btn
            type="primary"
            small
            @click="saveItem"
          >
            Save
          </common-trs-btn>
        </div>
      </div>
      <common-trs-data-table
        v-if="inputValues[section.key] && inputValues[section.key].length > 0 && innerMode === 'view'"
        :headers="headers"
        :items="inputValues[section.key]"
        :hide-default-footer="true"
        disable-pagination
        dense
        class="entity-data-table mt-5 mx-3"
      >
        <template v-slot:body="{ }">
          <draggable
            v-model="inputValues[section.key]"
            style="width: 100%;"
            :options="{ handle: '.drag-handle' }"
            tag="tbody"
          >
            <tr
              v-for="(multiSectionItem, index) in inputValues[section.key]"
              :key="index"
            >
              <td>
                <v-icon
                  color="primary"
                  class="drag-handle"
                >
                  mdi-drag
                </v-icon>
              </td>
              <td
                v-for="(header, colIndex) in contentHeaders"
                :key="colIndex"
                class="text-caption font-weight-medium"
              >
                <span v-if="[CONSTS.FORM_DEF_INPUT_TYPE.SELECT, CONSTS.FORM_DEF_INPUT_TYPE.RADIO].includes(header.input)">
                  <span
                    v-if="header.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY || header.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON"
                    cols="6"
                  >
                    <span
                      v-if="header.input === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI || header.input === CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST"
                      class="d-flex flex-column"
                    >
                      <span
                        v-for="(val, index) in multiSectionItem[header.value]"
                        :key="index"
                        v-html="val && val.name ? val.name : '-'"
                      />
                    </span>
                    <span
                      v-else-if="header.type !== CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI"
                      v-html="multiSectionItem[header.value] && multiSectionItem[header.value].name ? multiSectionItem[header.value].name : '-'"
                    />
                    <span
                      v-else
                    >
                      -
                    </span>
                  </span>
                  <span
                    v-if="header.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE"
                    cols="6"
                  >
                    <span
                      v-if="(header.type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI || header.input === CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST) && Array.isArray(internalValue)"
                    >
                      <span
                        v-for="(val, index) in multiSectionItem[header.value]"
                        :key="index"
                        v-html="val ? val : '-'"
                      />
                    </span>
                    <span
                      v-else-if="header.type !== CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI && header.type !== CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST"
                      v-html="multiSectionItem[header.value] ? multiSectionItem[header.value] : '-'"
                    />
                    <span
                      v-else
                    >
                      -
                    </span>
                  </span>
                </span>
                <span v-else>
                  {{ multiSectionItem[header.value] }}
                </span>
              </td>
              <td>
                <common-trs-btn
                  type="tertiary"
                  icon
                  @click="switchToEdit(index)"
                >
                  <v-icon size="20">
                    icon-edit-outlined
                  </v-icon>
                </common-trs-btn>
                <common-trs-btn
                  type="tertiary"
                  icon
                  @click="$emit('deleteInfo', section, index)"
                >
                  <v-icon size="14">
                    icon-delete
                  </v-icon>
                </common-trs-btn>
              </td>
            </tr>
          </draggable>
        </template>
      </common-trs-data-table>
    </div>
    <div v-else>
      <v-expansion-panels
        v-model="panelStatus[section.key]"
        class="mt-2"
        accordion
        multiple
      >
        <draggable
          v-model="inputValues[section.key]"
          style="width: 100%;"
          :options="{ handle:'.section-drag-handle' }"
        >
          <v-expansion-panel
            v-for="(multiSectionItem, index) in inputValues[section.key]"
            :key="`section${index}.tab`"
            class="response-container"
          >
            <v-expansion-panel-header expand-icon="mdi-menu-down">
              <span class="font-weight-bold text-body-1">
                <v-icon
                  color="primary"
                  class="section-drag-handle"
                >
                  mdi-drag
                </v-icon>
                {{ secMultiLabel(section) }} {{ index + 1 }}</span>
              <common-trs-btn
                v-if="mode !== 'view'"
                type="tertiary"
                small
                trs-icon
                color="grey"
                @click.stop="$emit('deleteInfo', section, index)"
              >
                <v-icon>mdi-close-circle-outline</v-icon>
              </common-trs-btn>
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <form-templates-section-template
                :section-values="multiSectionItem"
                :section="section"
                :multiple-id="index"
                :template="template"
                :mode="mode"
                :api-services="apiServices"
                :input-values="inputValues"
                @update="update"
                @save="$emit('save')"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </draggable>
      </v-expansion-panels>
      <div
        class="response-container px-3"
      >
        <common-trs-btn
          v-if="mode !== 'view'"
          block
          color="#f1f1f1"
          type="secondary"
          :disabled="!observer || !observer.flags.valid"
          class="primary--text mt-5 elevation-0"
          @click="$emit('addInfo', section)"
        >
          <v-icon class="mr-2">
            mdi-plus-circle-outline
          </v-icon>
          New {{ secMultiLabel(section) }}
        </common-trs-btn>
      </div>
    </div>
  </div>
  <div v-else-if="mode === 'view'">
    <div
      v-for="(multiSectionItem, index) in inputValues[section.key]"
      :key="index"
    >
      <div class="ml-0 mt-5 mb-3">
        {{ secMultiLabel(section) }} {{ index + 1 }}
      </div>
      <form-templates-section-template
        :section-values="multiSectionItem"
        :section="section"
        :multiple-id="index"
        :template="template"
        :mode="mode"
        :api-services="apiServices"
        :input-values="inputValues"

        @update="update"
      />
    </div>
  </div>
</template>

<script>

  import FormTemplatesButtonFileInput from '@/components/common/fmsvc/form-templates/ButtonFileInput'
  import FormTemplatesSectionTemplate from '@/components/common/fmsvc/form-templates/SectionTemplate'
  import { downloadSectionTemplateCsv } from './utils'
  import draggable from 'vuedraggable'
  // import InputLabel from './InputLabel'

  export default {
    name: 'FormTemplatesSectionMultipleTemplate',

    components: {
      FormTemplatesButtonFileInput,
      FormTemplatesSectionTemplate,
      draggable,
      // InputLabel,
    },

    props: {
      section: {
        type: Object,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
      },
      observer: {
        validate: () => true,
      },
    },

    data: () => ({
      innerMode: 'view',
      selectedIndex: -1,
      currentForm: null,
      isAddNew: null,
      panelStatus: {},
    }),

    computed: {
      contentHeaders () {
        let defs = []
        if (Array.isArray(this.section.multipleColumnHeaders)) {
          this.section.multipleColumnHeaders.forEach((defId) => {
            const def = this.section.definition.find(def => def.id === defId)
            if (def && this.CONSTS.MULTIPLE_SEC_TABLE_COL_AVAILABLE_HEADER_TYPES.includes(def.input)) {
              defs.push(def)
            }
          })
        } else {
          defs = this.section.definition.filter(
            (def) => [this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT].includes(def.input),
          )
        }
        const cols = defs.map(def => ({ text: def.label, value: def.id, sortable: true, ...def }))
        return cols
      },
      headers () {
        const headers = [...this.contentHeaders]
        headers.unshift({ text: '', value: 'drag', sortable: false, width: 50 })
        headers.push({ text: 'Actions', value: 'actions', sortable: false })
        return headers
      },
    },

    watch: {
    },

    mounted () {
      setTimeout(() => {
        if (this.mode === 'create') {
          this.switchToAdd()
        }
      }, 100)
    },

    created () {
    },

    methods: {
      secMultiLabel (section) {
        return section.entityLabel || 'Response'
      },
      showTemplateInfoBox () {
        this.$root.$formTemplConfirm({
          entity: null,
          message: '',
          description: 'Columns with skipped will not be able to import via csv. Please add those columns after csv is imported.',
          yesButton: 'Got it',
          maxWidth: 400,
          color: 'primary',
          icon: {
            name: 'mdi-information',
          },
        })
      },
      downloadMultipleSectionTemplate () {
        downloadSectionTemplateCsv(this.section)
      },
      switchToEdit (index) {
        this.innerMode = 'edit'
        this.selectedIndex = index
        this.currentForm = this.inputValues[this.section.key][index]
      },
      switchToAdd () {
        this.$emit('addInfo', this.section)
        this.isAddNew = true
        setTimeout(() => {
          this.switchToEdit(this.inputValues[this.section.key].length - 1)
        }, 50)

        // Update panel status
        if (!this.panelStatus[this.section.key]) {
          this.panelStatus[this.section.key] = []
        }
        setTimeout(() => {
          this.panelStatus[this.section.key].push(this.inputValues[this.section.key].length - 1)
        }, 100)
      },
      cancelEdit () {
        if (this.isAddNew) {
          // delete the last added info
          this.$emit('deleteInfo', this.section, this.selectedIndex)
        } else {
          // just pass
        }
        this.innerMode = 'view'
        this.selectedIndex = -1
        this.currentForm = null
        this.isAddNew = null
      },
      update (section, newSectionValues, multipleId) {
        if (this.section.showInTable) {
          this.currentForm = newSectionValues
        } else {
          this.$emit('update', section, newSectionValues, multipleId)
        }
      },
      saveItem () {
        this.$emit('update', this.section, this.currentForm, this.selectedIndex)
        this.$emit('save')
        this.selectedIndex = -1
        this.currentForm = null
        this.innerMode = 'view'
        this.isAddNew = null
      },
    },
  }
</script>
<style lang="sass" scoped>
  .section-drag-handle
    cursor: move
    cursor: -webkit-grabbing
</style>
<style lang="scss" scoped>
  .entity-data-table {
    border: 1px solid #D7E0E2;
    border-radius: 4px;
    padding: 4px;
    ::v-deep th {
      font-size: 0.75rem !important;
    }
    tbody tr td {
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }
  }
</style>
