<template>
  <form>
    <div
      v-if="mode !== 'view' && !hideHeader && !section.hideSectionHeader"
      class="mb-3 mx-3 text-body-2 trsText--text pt-2"
    >
      {{ section.name }}
    </div>
    <v-row
      class="mx-auto"
      justify="space-around"
      :no-gutters="mode === 'view'"
    >
      <v-col
        v-if="isLocalhost"
        :cols="12"
      >
        -----------{{ section.key }}-----------
      </v-col>
      <v-col
        v-for="(defs, index) in sectionDefByColumn"
        :key="index"
        :cols="colWidth"
      >
        <div
          v-for="inputTempl in defs"
          :key="inputTempl.id"
          :class="`${section.key}-${inputTempl.id} ${inputTempl.id}`"
          cols="12"
          class="py-0 section-temp"
          :style="{ 'margin-top': inputTempl.marginTop || 0 }"
        >
          <form-templates-input-template
            :input-templ="inputTempl"
            :section-values="sectionValues"
            :is-common="!!section.source"
            :template="template"
            :mode="mode"
            :api-services="extendedApiService"
            :input-values="inputValues"
            @update="update"
            @save="$emit('save')"
          />
        </div>
      </v-col>
    </v-row>
  </form>
</template>

<script>
  import FormTemplatesInputTemplate from '@/components/common/fmsvc/form-templates/InputTemplate'

  export default {
    name: 'SectionTemplate',

    components: {
      FormTemplatesInputTemplate,
    },

    props: {
      sectionValues: {
        type: Object,
      },
      section: {
        type: Object,
      },
      multipleId: {
        type: Number,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
      },
      hideHeader: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      isLocalhost () {
        return location.hostname === 'localhost'
      },
      extendedApiService () {
        return {
          ...this.apiServices,
          getValueFromSection: (inputValues, sectionId, inputId) => {
            return this.apiServices.getValueFromSection(inputValues, sectionId, inputId, this.multipleId)
          },
        }
      },
      layoutColumn () {
        return +this.section.layoutCols || 1
      },
      colWidth () {
        return 12 / this.layoutColumn
      },
      sectionDefByColumn () {
        const defByColumns = []
        for (let i = 0; i < this.layoutColumn; i++) {
          defByColumns.push([])
        }

        this.section.definition.forEach(def => {
          if (!isNaN(def.columnNumber) && +def.columnNumber < this.layoutColumn) {
            defByColumns[+def.columnNumber].push(def)
          } else {
            defByColumns[0].push(def)
          }
        })
        return defByColumns
      },
    },

    methods: {
      update (id, val) {
        const newSectionValues = {
          ...this.sectionValues,
          [id]: val,
        }

        this.$emit('update', this.section, newSectionValues, this.multipleId)
      },
    },
  }
</script>
<style lang="scss" scoped>
  .section-temp {
    ::v-deep .v-btn.ma-0 {
      margin-bottom: 6px!important;
    }
    ::v-deep .v-label {
        font-size: 14px!important;
    }
  }
</style>
