<template>
  <v-card
    :elevation="$attrs.elevation || 12"
    class="ma-0 pb-3"
  >
    <v-card-title
      v-if="!hideFormTitle"
      class="justify-center text-h4 font-weight-medium pt-0"
    >
      {{ template.name }}
      <common-trs-btn
        v-if="enableEdit"
        type="tertiary"
        text
        small
        trs-icon
        class="ml-auto"
        @click="toggleViewEdit"
      >
        <v-icon
          v-if="mode === 'view'"
          small
        >
          mdi-pen
        </v-icon>
        <v-icon
          v-if="mode === 'edit'"
          small
        >
          mdi-close
        </v-icon>
      </common-trs-btn>
    </v-card-title>

    <div
      v-if="!hideFormTitle"
      class="text-center text-h4 grey--text font-weight-medium pt-0 my-3"
    >
      {{ template.description }}
    </div>

    <div
      v-if="mode !== 'view'"
      class="d-flex border-top-wizard"
    >
      <div
        v-show="template.sections.length > 1"
        class="left-side-tab"
      >
        <common-trs-page-nav-vertical
          ref="tabs"
          v-model="internalValue"
          class="sections-nav pt-5"
          :background-color="$attrs['tabs-background-color'] || 'transparent'"
        >
          <v-tab
            v-for="(item, i) in template.sections"
            :key="i"
            :ripple="false"
            :disabled="!isTabEnabled(i)"
            class="px-4 py-3 mb-2"
            height="auto"
            @click="changeTab(i)"
          >
            <div class="d-flex align-center justify-space-between flex-fill">
              <div
                class="max-w-90 text-body-2 trsText--text"
              >
                {{ item.name }}
              </div>
              <div
                v-if="internalValue === i"
                class="rounded-circle size-body bg-warning"
              />
              <div v-else-if="!isTabEnabled(i)" />
              <div
                v-else-if="inputValues.$$status &&
                  inputValues.$$status[item.key] &&
                  !inputValues.$$status[item.key].isCompleted"
                class="text-right section-nav__mark-complete primary--text"
                @click="markCompleteSection($event, item.key)"
              >
                <span class="text-mark-status"> Mark as Complete </span>
              </div>

              <div
                v-else-if="inputValues.$$status &&
                  inputValues.$$status[item.key] &&
                  inputValues.$$status[item.key].isCompleted"
                class="text-right section-nav__mark-incomplete warning--text"
                style="position:absolute;right:17px"
                @click="markInCompleteSection($event, item.key)"
              >
                <span class="text-mark-status">Mark as Incomplete</span>
                <v-icon
                  class="rounded-circle size-body bg-success"
                >
                  mdi-check
                </v-icon>
              </div>
            </div>
          </v-tab>
        </common-trs-page-nav-vertical>
      </div>
      <div class="flex-fill">
        <v-card-text
          v-if="mode !== 'view'"
          style="margin: 0 auto;"
          class="px-8"
        >
          <v-tabs-items
            v-model="internalValue"
          >
            <validation-observer
              v-for="(section, i) in template.sections"
              v-slot="{ }"
              :ref="'observers'"
              :key="i"
            >
              <v-tab-item
                v-if="section.multiple"
                :key="i"
                class="pb-12"
                eager
              >
                <form-templates-section-multiple-template
                  :template="template"
                  :section="section"
                  :mode="mode"
                  :api-services="apiServices"
                  :input-values="inputValues"
                  :observer="observers[internalValue]"
                  @uploadMultipleSectionFile="uploadMultipleSectionFile"
                  @deleteInfo="deleteInfo"
                  @addInfo="addInfo"
                  @update="update"
                  @save="save"
                />
              </v-tab-item>

              <v-tab-item
                v-if="!section.multiple"
                :key="i"
                class="pb-12"
              >
                <div
                  v-if="section.description"
                  class="mx-2 d-flex mb-2 mt-4"
                >
                  <div class="text-body-2 trsText--text">
                    {{ section.description }}
                  </div>
                </div>
                <form-templates-section-template
                  :section-values="inputValues[section.key]"
                  :section="section"
                  :template="template"
                  :mode="mode"
                  :api-services="apiServices"
                  :input-values="inputValues"
                  @update="update"
                  @save="save"
                />
              </v-tab-item>
            </validation-observer>
          </v-tabs-items>
        </v-card-text>

        <v-card-actions
          v-if="mode !== 'view'"
          class="pb-4 pa-4 px-11"
        >
          <!-- <common-trs-btn
            :disabled="internalValue === 0"
            class="primary--text"
            type="secondary"
            color="grey darken-2"
            min-width="125"
            @mousedown="$emit('click:prev')"
          >
            Previous
          </common-trs-btn> -->

          <v-spacer />

          <common-trs-btn
            :disabled="!observers[internalValue] || !observers[internalValue].flags.valid || nextBtnLoading"
            type="primary"
            class="white--text"
            min-width="100"
            @mousedown="onNext"
          >
            {{ internalValue === template.sections.length - 1 ? 'Finish' : 'Next' }}
          </common-trs-btn>
        </v-card-actions>
      </div>
    </div>

    <v-card-text
      v-if="mode === 'view'"
      style="max-width: 500px; margin: 0 auto;"
    >
      <div
        v-for="(section, i) in viewFilteredSections(template.sections, inputValues)"
        :key="i"
      >
        <!-- <v-divider class="my-5 mx-6" /> -->
        <div class="my-2" />
        <div class="mx-2 align-center d-flex mb-3 flex-column">
          <div class="text-center text-h3 font-weight-medium mb-3">
            {{ section.name }}
          </div>
          <div class="font-weight-medium text-body-1">
            {{ section.description }}
          </div>
        </div>
        <div
          v-if="mode === 'view' && section.multiple"
        >
          <form-templates-section-multiple-template
            :template="template"
            :section="section"
            :mode="mode"
            :api-services="apiServices"
            :input-values="inputValues"
            @uploadMultipleSectionFile="uploadMultipleSectionFile"
            @deleteInfo="deleteInfo"
            @addInfo="addInfo"
            @update="update"
            @save="save"
          />
        </div>
        <form-templates-section-template
          v-else
          :section-values="inputValues[section.key]"
          :section="section"
          :template="template"
          :mode="mode"
          :api-services="apiServices"
          :input-values="inputValues"
          @update="update"
          @save="save"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
  import FormTemplatesSectionTemplate from '@/components/common/fmsvc/form-templates/SectionTemplate'
  import FormTemplatesSectionMultipleTemplate from '@/components/common/fmsvc/form-templates/SectionMultipleTemplate'
  // Mixins
  import Proxyable from 'vuetify/lib/mixins/proxyable'
  import { parseSectionTemplateCsv } from './utils'

  export default {
    name: 'BaseFormTemplateWizard',

    components: {
      FormTemplatesSectionTemplate,
      FormTemplatesSectionMultipleTemplate,
    },

    mixins: [Proxyable],

    props: {
      template: {
        type: Object,
      },
      inputValues: {
        type: Object,
      },
      initialMode: {
        type: String,
      },
      currentPath: {
        type: Array,
      },
      nextBtnLoading: {
        type: Boolean,
        default: false,
      },
      enableEdit: {
        type: Boolean,
        default: false,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      hideFormTitle: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      observerValids: [],
      observers: [],
      mode: 'edit',
    }),

    computed: {
    },

    watch: {
      inputValues: {
        handler (val) {
          setTimeout(() => {
            this.getObservers()
          }, 100)
        },
      },
      internalValue (val) {
        this.initObservers(val)
      },
      initialMode (val) {
        if (val) {
          this.mode = val
        }
      },
    },

    created () {
      this.initObservers(this.internalValue)
      this.mode = this.initialMode
    },

    methods: {
      onNext () {
        this.$refs.observers && this.$refs.observers.map(ob => ob.reset())
        this.$emit('click:next')
      },
      beforeRouteLeave (to, from, next) {
        if (Array.isArray(this.$refs.observers) &&
          this.$refs.observers.some(observer => observer.flags.dirty)) {
          this.$root.$confirm({
            entity: null,
            message: 'There are unsaved changes on this page. Do you wish to save?',
            yesButton: 'Save Now',
            noButton: 'No',
            maxWidth: 400,
          })
            .then(async (confirm) => {
              if (confirm) {
                this.$refs.observers[this.internalValue].reset()
                this.$emit('click:next', true)
                next()
              }
            })
            .catch(() => {
              next()
            })
        } else {
          next()
        }
      },
      async uploadMultipleSectionFile (files, params) {
        try {
          const rows = await parseSectionTemplateCsv(files[0], params.section)
          rows.forEach(row => {
            this.$emit('click:addInfo', params.section, row)
          })
        } catch (errors) {
          if (Array.isArray(errors)) {
            this.$root.$formTemplConfirm({
              entity: null,
              message: 'Errors on CSV file',
              description: errors.join('<br/>'),
              yesButton: 'Got it',
              maxWidth: 400,
              color: 'error',
              icon: {
                name: 'mdi-alert',
              },
            })
          }
        }
      },
      addInfo (section) {
        this.$emit('click:addInfo', section)
      },
      deleteInfo (section, index) {
        this.$emit('click:deleteInfo', section, index)
      },
      initObservers (newTab) {
        setTimeout(() => {
          this.getObservers()
          this.observers[newTab] && this.observers[newTab].validate({ silent: true })
        }, 100)
      },
      isTabEnabled (index) {
        const allowedJump =
          // (this.mode === 'edit' && index <= this.internalValue) ||
          (this.mode === 'edit') ||
          // (this.mode === 'create' && index <= this.internalValue) ||
          (this.mode === 'create') ||
          (this.mode === 'view')

        const inPath = this.currentPath.indexOf(index) !== -1
        return allowedJump && inPath
      },
      getObservers () {
        if (Array.isArray(this.$refs.observers) &&
          this.$refs.observers.length === this.template.sections.length) {
          this.observers = this.$refs.observers
        } else {
          this.observers = []
        }
      },
      update (section, newSectionValues, multipleId) {
        this.$emit('update', section, newSectionValues, multipleId)
      },
      save () {
        this.$emit('click:next', true)
      },
      toggleViewEdit () {
        if (this.mode === 'view') {
          this.mode = 'edit'
        } else if (this.mode === 'edit') {
          this.mode = 'view'
        }
      },
      viewFilteredSections (sections, values) {
        return sections.filter(s => s.multiple || Object.values(values[s.key] || []).map(v => v || '').join('').length !== 0)
      },
      changeTab (index) {
        if (index < this.internalValue) {
          this.$emit('click:prev')
        } else if (index > this.internalValue) {
          this.$emit('click:next')
        }
      },
      markCompleteSection (event, sectionKey) {
        event.stopPropagation()
        this.inputValues.$$status[sectionKey].isCompleted = true

        this.calculateFormCompleted()
      },
      markInCompleteSection (event, sectionKey) {
        event.stopPropagation()
        this.inputValues.$$status[sectionKey].isCompleted = false

        this.calculateFormCompleted()
      },
      calculateFormCompleted () {
        const enabledSections = this.template.sections.filter((section, i) => this.isTabEnabled(i))
        let completedForm = true
        enabledSections.forEach(section => {
          completedForm = completedForm && this.inputValues.$$status[section.key].isCompleted
        })
        this.inputValues.$$isCompleted = completedForm
        this.$emit('click:next', true)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .sections-nav {
    ::v-deep .v-tabs-bar__content {
      max-width: 100%;
    }
    .v-tab {
      font-weight: 500;
      white-space: normal;
      height: auto;
      text-align: left;
      &.v-tab--active {
        .text-body-2 {
          font-weight: 500;
          color: var(--v-primary-base)!important
        }
      }
      .section-nav__mark-complete {
        width: 80px;
      }
      .section-nav__mark-incomplete {
        width: 80px;
        span {
          display: none;
        }
        &:hover {
          span {
            display: inline;
          }
          .v-icon {
            display: none;
          }
        }
      }
    }
    .v-tab--active::before {
      opacity: 0.12;
    }
  }
  .rounded-circle {
    border-radius: 100%;
  }
  .v-icon {
    &.mdi-check {
     font-size: 8px;
     color: var(--v-accent-lighten5);
    }
  }

  .size-body {
    width: 12px;
    height: 12px;
  }

  .bg-warning {
    background-color: var(--v-warning-base);
  }

  .bg-success {
    background-color: var(--v-success-base);
  }
  .max-w-90 {
    max-width: 90%;;
  }
  .text-mark-status {
    font-weight: 400;
    font-size: 0.625rem;
  }
  .border-top-wizard {
    border-top:1px solid rgb(185 197 199 / 50%);
  }
  .left-side-tab {
    width: 264px;
    min-width: 264px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
</style>
<style lang="sass" scoped>
  .v-card--wizard
    overflow: visible

  ::v-deep .v-divider
    border-color: #5c5c5c !important
</style>
