<template>
  <v-icon
    v-bind="$attrs"
    :color="color"
    v-on="$listeners"
  >
    mdi-{{ media }}
  </v-icon>
</template>

<script>
  const COLORS = {
    facebook: '#3b5998',
    twitter: '#55acee',
    instagram: '#e95950',
    linededin: '007bb5',
  }
  export default {
    props: {
      media: {
        type: String,
        validate: (val) => ['facebook', 'twitter', 'linkedin', 'instagram'].includes(val),
      },
    },

    data: () => ({
    }),

    computed: {
      color () {
        return COLORS[this.media]
      },
    },

    watch: {
    },

    methods: {
    },
  }
</script>
