<template>
  <notifications-list :alerts="alerts" />
</template>

<script>
  import NotificationsList from './components/List'
  import * as AlertService from '@/services/alerts'

  export default {
    name: 'NotificaionList',

    components: {
      NotificationsList,
    },

    data: () => ({
      loading: false,
      alerts: [],
    }),

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true
        try {
          const alert = await AlertService.getPendingActions()
          this.alerts = Object.values(alert).reduce((res, item) => res.concat(item), [])
          this.alerts.sort((a1, a2) => a2.timestamp - a1.timestamp)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load Alert data',
          })
        }
        this.loading = false
      },
    },
  }
</script>
