<template>
  <common-trs-page-container :padding="0">
    <notifications-list :alerts="alerts" />
  </common-trs-page-container>
</template>

<script>
  import NotificationsList from './components/List'
  import { api } from '@/api'

  export default {
    name: 'NotificaionList',

    components: {
      NotificationsList,
    },

    props: {
    },

    data: () => ({
      loading: false,
      alerts: [],
    }),

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true
        try {
          const apiResponse = await api.get('focus-items')
          this.alerts = apiResponse.data.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load stats data',
          })
        }
        this.loading = false
      },
    },
  }
</script>
