<template>
  <div>
    <v-row
      v-if="!isOnOverview"
      justify="center"
    >
      <v-col>
        <!-- Commenting Financing Round table for furtutre reference -->
        <!-- <captable-summary-view
          v-if="!captableDisabled || !isRoadshow"
          :headers="summaryViewHeaders"
          :captable-summary="summaryData"
          :search="search"
          :loading="loading"
          :is-roadshow="isRoadshow"
        /> -->
        <issuer-captable-summary
          v-if="!captableDisabled || !isRoadshow"
          :headers="summaryViewHeaders"
          :captable-summary="summaryData"
          :search="search"
          :loading="loading"
          :is-roadshow="isRoadshow"
          :share-term-list="shareTerms"
          :warrant-term-list="warrantTerms"
          :convertible-term-list="convertibleTerms"
        />
        <issuer-captable-v-0
          v-else
          :is-on-mobile="isOnMobile"
          :opportunity="opportunity"
          :service="service"
          :status="status"
          @setCurrentView="$emit('setCurrentView', $event)"
        />
      </v-col>
    </v-row>
    <div v-if="!summaryData">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import * as captableService from './services/captable'
  // import CaptableSummaryView from './components/IssuerCaptableSummaryView'
  import IssuerCaptableV0 from '@/components/common/digital-roadshow-new2/landing/tabs/components/IssuerCaptableV0'
  import IssuerCaptableSummary from './components/IssuerCaptableSummary'
  import moment from 'moment'

  export default {
    name: 'CaptableIndex',

    components: {
      // CaptableSummaryView,
      IssuerCaptableSummary,
      IssuerCaptableV0,
    },

    props: {
      search: {
        type: String,
        default: '',
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      opportunity: {
        type: Object,
        required: false,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      expanded: [],
      singleExpand: false,
      isExpanded: false,
      summaryViewHeaders: [
        { text: 'Share Terms', value: 'name', sortable: true, width: 200 },
        { text: 'Securities', value: 'share_terms', sortable: false, width: 380 },
        { text: 'Investors', value: 'investors', sortable: false, align: 'right' },
        { text: 'Fully Diluted', value: 'number_fully_diluted', sortable: false, align: 'right' },
        { text: 'Ownership', value: 'ratio_fully_diluted', sortable: false, align: 'right', width: '100' },
        // { text: 'Invested Capital', value: 'invested_capital', sortable: false, align: 'right' },
      ],
      loading: false,
      summaryData: {},
      captableDisabled: true,
      shareTerms: [],
      warrantTerms: [],
      convertibleTerms: [],
    }),

    computed: {
      captableId () {
        let details = {}
        if (this.portal === this.CONSTS.PORTAL.ISSUER) {
          details = this.$store.getters['account/captableStatus']?.details
        } else {
          details = this.opportunity?.issuer?.details?.captable
        }
        return details?.captable_org_id
      },

      portal () {
        return this.$getPortal()
      },

      opportunityId () {
        return this.opportunity ? this.opportunity.id : null
      },
    },

    watch: {
      captableId: {
        async handler (val) {
          if (val && (!this.summaryData || Object.keys(this.summaryData).length === 0)) {
            this.loading = true
            await this.loadShareTerms()
            await this.loadWarrantTerms()
            await this.loadConvertibleTerms()
            await this.loadSummaryViewData()
          }
        },
        immediate: true,
      },
    },

    mounted () {
      if (this.opportunityId) {
        this.$store.dispatch('sharedData/updateOpportunityId', this.opportunityId)
      }
    },

    methods: {
      async loadSummaryViewData () {
        try {
          if (this.captableId) {
            const currentDate = moment().format('YYYY-MM-DD')
            const resp = await captableService.getCaptableSummaryData(this.captableId, currentDate, false) // await captableService.getCaptableFinanceSummary(this.captableId)
            this.summaryData = resp.data
            this.captableDisabled = false
            this.loading = false
          }
        } catch (err) {
          this.loading = false
          this.captableDisabled = true
        }
      },
      async loadShareTerms () {
        try {
          if (this.captableId) {
            const resp = await captableService.getShareTermList(this.captableId)
            this.shareTerms = resp?.data?.share_terms
          }
        } catch (err) {
          this.loading = false
          this.captableDisabled = true
        }
      },
      async loadWarrantTerms () {
        try {
          if (this.captableId) {
            const resp = await captableService.getWarrantTermList(this.captableId)
            this.warrantTerms = resp?.data?.warrant_terms
          }
        } catch (err) {
          this.loading = false
          this.captableDisabled = true
        }
      },
      async loadConvertibleTerms () {
        try {
          if (this.captableId) {
            const resp = await captableService.getConvertibleTermList(this.captableId)
            this.convertibleTerms = resp?.data?.convertible_terms
          }
        } catch (err) {
          this.loading = false
          this.captableDisabled = true
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .background {
    background-color: var(--v-accent-base);
  }
  .text-style {
    color: var(--v-trsText-lighten1);
  }
  ::v-deep .v-data-table__wrapper {
    font-size: 12px;
    &::-webkit-scrollbar {
        height: 0.5em;
        width: 0.5em;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--v-trsBack-base);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--v-trsBack-lighten2);
    }
  }
</style>
