<template>
  <common-trs-page-container>
    <system-notifications-list />
  </common-trs-page-container>
</template>

<script>
  import SystemNotificationsList from './components/List'

  export default {
    name: 'SystemNotificaionList',

    components: {
      SystemNotificationsList,
    },

    props: {
    },

    data: () => ({
      count: {
        pending: 0,
        all: 0,
      },
    }),

    computed: {
    },
  }
</script>
