<template>
  <div class="needs-attention">
    <div class="primary text-h4 white--text pa-4 font-weight-bold">
      Notifications
    </div>
    <div class="d-flex flex-col">
      <v-simple-table class="flex-fill overflow-y-auto rounded-0">
        <tbody>
          <tr
            v-for="(alert, index) of filteredItems"
            :key="index"
            class="cursor-pointer need-attention-item"
            @click="$emit('alert-selected', alert)"
          >
            <td class="subtitle-2 font-weight-regular">
              <v-icon class="ml-2 mr-3">
                mdi-alert-circle-outline
              </v-icon>
              {{ alert.message }}
            </td>

            <td class="subtitle-2 font-weight-regular">
              {{ $date(alert.timestamp) }}@{{ $time(alert.timestamp) }}
            </td>
          </tr>
          <tr
            v-if="items.length === 0"
          >
            <td class="trsText--text text-h5 text-center">
              You have no notifications.
            </td>
          </tr>
          <tr
            v-if="items.length > 3"
            class="last-row-tble"
          >
            <td
              v-if="showAll"
              colspan="2"
              class="primary--text subtitle-2 font-weight-regular text-center cursor-pointer"
              @click="showAll = false"
            >
              Show Less
            </td>
            <td
              v-else
              colspan="2"
              class="primary--text subtitle-2 font-weight-regular text-center cursor-pointer"
            >
              <router-link
                :to="{ name: 'Notifications.All' }"
                class="text-body-1 primary--text font-weight-light text-decoration-none"
              >
                Show All ({{ items.length-4 }})
              </router-link>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'NeedsAttention',
    props: {
      items: {
        type: Array,
        required: true,
        default: () => [],
      },
      dateField: {
        type: String,
        default: 'created_on',
      },
    },
    data () {
      return {
        showAll: false,
      }
    },
    computed: {
      filteredItems () {
        return this.showAll ? this.items : this.items.slice(0, 3)
      },
    },
  }
</script>
<style lang="scss" scoped>
  .need-attention-item{
    &:hover {
       text-decoration: underline;
    }
  }
  .mdi-alert-circle-outline {
    font-size: 16px;
  }
</style>
