<template>
  <common-trs-card
    v-if="layout === 'card'"
    class="mt-0 px-0 v-card align-self-stretch d-flex flex-column flex-fill rounded-lg"
  >
    <v-img
      v-if="resource.image_url"
      width="100%"
      height="200px"
      :src="resource.image_url"
    />
    <div
      v-else
      style="height: 200px;"
    />

    <div
      class="text-h4 trsText--text ma-2 font-weight-bold"
    >
      <v-tooltip
        bottom
      >
        <template v-slot:activator="{ on }">
          <div
            class="truncate-overflow text-h4 font-weight-bold text-center mt-1"
            style="max-height: 1.5rem;"
            v-on="on"
          >
            {{ resource.title }}
          </div>
        </template>
        <span>{{ resource.title }}</span>
      </v-tooltip>
    </div>
    <div
      class="text-body-1 trsText--text mx-4 word-text text-center mb-5"
    >
      <v-tooltip
        bottom
      >
        <template v-slot:activator="{ on }">
          <div
            class="truncate-overflow"
            style="max-height: 3rem;"
            v-on="on"
          >
            {{ resource.description }}
          </div>
        </template>
        <span>{{ resource.description }}</span>
      </v-tooltip>
    </div>
    <v-divider />
    <div
      class="d-flex align-center justify-center mt-2"
    >
      <common-trs-btn
        type="secondary"
        @click="$emit('download')"
      >
        Download
      </common-trs-btn>
    </div>
  </common-trs-card>

  <tr v-else>
    <slot name="table-content" />
  </tr>
</template>

<script>
  export default {
    name: 'CommonresourceListItem',

    components: {
    },

    props: {
      resource: {
        type: Object,
        default: () => {},
      },
      layout: {
        type: String,
        validate: (val) => ['card', 'table'].indexOf(val) !== -1,
        default: 'card',
      },
    },

    data: () => ({
    }),

    computed: {
    },

    watch: {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
