<template>
  <div
    style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); height: 100%"
    class="mr-2 py-4"
  >
    <draggable
      v-model="internalForms"
      style="width: 100%;"
      :options="{ handle:'.drag-handle' }"
      @change="onMove"
    >
      <v-col
        v-for="(form, index) in internalForms"
        :key="index"
        cols="12"
        class="pa-0 draggable-item pa-2 d-flex justify-space-between align-center cursor-pointer"
        :class="{
          'primary--text': index === internalValue
        }"
        :style="{
          'background' : index === internalValue ? backgroundColor : 'transparent'
        }"
        @click="internalValue = index"
      >
        <div class="muted indexing d-flex">
          <v-icon
            class="drag-handle mr-2"
            :class="{
              'primary--text': index === internalValue
            }"
          >
            mdi-drag
          </v-icon>
          <span v-line-clamp="1">{{ form.formTempl.name }}</span>
        </div>
        <common-trs-btn
          type="tertiary"
          icon
          class="text-body-1"
          @click="deleteItem(index)"
        >
          <v-icon class="icon-delete" />
        </common-trs-btn>
      </v-col>
    </draggable>
    <slot name="actions" />
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    name: 'CommonFormGroupNav',

    components: {
      draggable,
    },

    props: {
      value: {
        type: Number,
        required: true,
      },
      forms: {
        type: Array,
        required: true,
      },
    },

    data: () => ({
      internalForms: [],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      primaryColor () {
        return this.$vuetify.theme.themes[this.$vuetify.theme.dark ? 'dark' : 'light'].primary
      },
      backgroundColor () {
        return this.primaryColor + '33'
      },
    },

    watch: {
      forms: {
        immediate: true,
        handler (val) {
          if (val) {
            this.internalForms = [...this.forms]
            if (this.forms.length > 0 && this.internalValue < 0) {
              this.internalValue = 0
            }
          }
        },
      },
    },

    async created () {
    },

    methods: {
      onMove () {
        this.$emit('save', this.internalForms)
      },
      deleteItem (index) {
        this.$root.$confirm({
          entity: null,
          message: 'Are you sure you want to delete this form?',
          yesButton: 'Yes',
          noButton: 'No',
          maxWidth: 400,
        })
          .then(async (confirm) => {
            if (confirm) {
              this.internalForms.splice(index, 1)
              this.$emit('save', this.internalForms)
            }
          })
          .catch(() => {
          })
      },
      close () {
        this.internalDialog = false
      },
      async save () {
        this.$emit('save', this.internalForms)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
