<template>
  <div
    class="actions elevation-2"
  >
    <div
      class="logo-container d-flex justify-center align-center"
    >
      <action-logo
        :opportunity="opportunity"
      />
    </div>
    <div
      class="actions-content pb-3"
    >
      <span
        v-if="opportunity.details.hideInvestmentTracker"
        class="subtitle mt-4"
        style="color: #5D686B;"
      >Target Raise:&nbsp;
        <span class="font-weight-black">{{ $currencyFormatter(opportunity.size) }}</span>
      </span>
      <span
        class="subtitle mt-4"
        style="color: #5D686B;"
      >{{ $t('common.drs.minimumInv') }}:&nbsp;
        <span class="font-weight-black">{{ $currency(opportunity.minimum) }}</span>
      </span>
    </div>
    <!-- <div
        v-if="!drOptions.hideThumb"
        class="actions-actions"
      >
        <action-action-item
          v-if="!drOptions.hideContact"
          title="Contact"
          icon="mdi-phone"
          class="py-2"
          @click="$emit('triggerAction', 'showContactModal')"
        />
      </div> -->
  </div>
</template>

  <script>
  import ActionLogo from '../../landing/actions/ActionLogo'
  // import ActionActionItem from './ActionActionItem'

  export default {
    name: 'CommonDigitalRoadshowLandingActions',

    components: {
      ActionLogo,
      // ActionActionItem,
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      investments: {
        type: Array,
        required: true,
      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      drOptions () {
        return this.$store.getters['publicBranding/s3Data'].drOptions || {}
      },
    },
  }
  </script>
  <style lang="scss" scoped>
    .actions {
      height: 100%;
      background: #FFF;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;

      border: 1px solid #EDF2F3;
      box-sizing: border-box;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116996);

      display: flex;
      flex-direction: column;
    }
    .logo-container {
      flex: 1;
      height: 100px;
      width: 100%;
    }
    .actions-content {
      background: #EDF2F3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
