<template>
  <v-card class="mt-0 pa-5">
    <v-form ref="form">
      <v-row>
        <v-col
          cols="12"
          class="pt-0"
        >
          <div class="trsText--text text-h3">
            Contact Us
          </div>
          <div class="trsText--text text-body-2">
            Lorem ipsum dolor set amet lorem ipsum dolor set amet
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <validation-provider
            v-slot="{ errors }"
            :name="'Your Email Address'"
            :rules="{ required: true, email: true }"
          >
            <common-input-text-field
              v-model="emailAddress"
              label="Your Email Address"
              value="www.prepopulated@gmail.com"
              :error-messages="errors"
            />
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            :name="'Subject'"
            :rules="{ required: true }"
          >
            <common-input-select
              v-model="subject"
              dense
              label="Select a Subject"
              :items="items"
              :error-messages="errors"
            />
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            :name="'Questions/concerns'"
            :rules="{ required: true }"
          >
            <common-input-text-field
              v-model="quAndCo"
              label="Enter your questions/concerns"
              class="mb-4"
              textarea
              rows="5"
              height="300"
              hide-details
              :error-messages="errors"
            />
          </validation-provider>
          <div class="d-flex justify-end">
            <common-trs-btn
              default
              color="success"
              class="text-capitalize"
              @click="submit"
            >
              Submit
            </common-trs-btn>
          </div>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>
<script>
  export default {
    name: 'ContactUs',

    props: {
    },

    data: () => ({
      formData: {},
      loading: false,
      items: [
        { text: 'User Accounts', value: 'useraccount' },
        { text: 'Stage', value: 'stage' },
        { text: 'Province', value: 'province' },
      ],
    }),

    computed: {
    },

    watch: {
    },
    methods: {
      submit () {
        this.$emit('submit', this.formData)
        this.resetForm()
      },
      resetForm () {
        this.formData = {}
      },
    },
  }
</script>
<style scoped>

</style>
