<template>
  <common-common-modal
    v-model="showModal"
    max-width="500"
    :control-visibility="true"
  >
    <template v-slot:activator="{ on, attrs }">
      <slot
        name="activator"
        v-bind="{ on, attrs }"
      />
    </template>
    <template v-slot:default="{ close }">
      <validation-observer
        v-slot="{ valid }"
        ref="observer"
      >
        <common-trs-modal-card>
          <common-trs-modal-card-title>
            <common-trs-modal-card-title-content>NDA Notes</common-trs-modal-card-title-content>
            <common-trs-btn
              aria-label="Close"
              type="secondary"
              class="rounded-0"
              color="primary"
              size="large"
              icon
              text
              @click="close"
            >
              <v-icon>mdi-close</v-icon>
            </common-trs-btn>
          </common-trs-modal-card-title>
          <common-trs-modal-card-text>
            <div class="ma-2">
              <section
                v-if="noteData.length > 0"
                ref="chatArea"
                class="chat-area"
              >
                <div
                  v-for="(note, index) in noteData"
                  :key="index"
                  class="message-box"
                  :class="{'align-end': (senderId === note.by)}"
                >
                  <div
                    class="message"
                    :class="{ 'message-out': (senderId === note.by), 'message-in': (senderId != note.by) }"
                  >
                    <pre>{{ note.note }}</pre>
                  </div>
                  <div class="time">
                    {{ $date(note.date) }} at {{ $time(note.date) }} by {{ note.name }}
                  </div>
                </div>
              </section>
              <validation-provider
                v-if="uploadAllowed"
                v-slot="{ errors }"
                rules="required"
                :name="'File'"
              >
                <common-input-file
                  v-model="internalDoc"
                  class="mt-2"
                  color="primary"
                  :label="'Select a file to Upload'"
                  :error-messages="errors"
                  clearable
                  hide-details
                  :file-type="CONSTS.FILE_TYPES.DOCUMENT"
                  validate-on-blur
                  @change="selectFile"
                >
                  <template v-slot:append-outer>
                    <v-progress-circular
                      v-if="loading"
                      :rotate="270"
                      :size="50"
                      :width="10"
                      :value="progress"
                      color="primary"
                    >
                      {{ progress }}
                    </v-progress-circular>
                  </template>
                </common-input-file>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                rules="required"
                :name="'Comment / Reason'"
              >
                <common-input-textarea
                  v-model="msg"
                  class="mt-2"
                  :error-messages="errors"
                  single-line
                  placeholder="Comment / Reason"
                />
              </validation-provider>
            </div>
          </common-trs-modal-card-text>
          <common-trs-modal-card-actions class="flex-row-reverse">
            <common-trs-btn
              v-if="portal === CONSTS.PORTAL.ISSUER && !showSendBtn"
              type="primary"
              text
              class="white--text"
              :disabled="!valid"
              :loading="loading"
              @click="sendRejectNoteAndDeclineNda"
            >
              Decline and Send Note
            </common-trs-btn>
            <common-trs-btn
              v-if="portal === CONSTS.PORTAL.INVESTOR && !showSendBtn"
              type="primary"
              text
              class="white--text"
              :disabled="!valid"
              :loading="loading"
              @click="uploadFileWithComment"
            >
              Upload and Send Note
            </common-trs-btn>
            <common-trs-btn
              v-if="showSendBtn"
              type="primary"
              text
              class="white--text"
              :disabled="!valid"
              :loading="loading"
              @click="sendNoteToInvestor"
            >
              Send Note
            </common-trs-btn>
          </common-trs-modal-card-actions>
        </common-trs-modal-card>
      </validation-observer>
    </template>
  </common-common-modal>
</template>

<script>
  import Vue from 'vue'
  import * as directNdaService from '@/components/common/services/directNda'
  import * as opportunityservice from '@/services/opportunities'
  export default {
    name: 'DirectUploadNdaChat',

    components: {},

    props: {
      id: {
        type: String,
        required: false,
      },
      notes: {
        type: Array,
        default: () => [],
      },
      status: {
        type: Object,
        required: false,
      },
      opportunity: {
        type: Object,
        required: true,
      },
      uploadAllowed: {
        type: Boolean,
        default: false,
      },
      showSendBtn: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      senderId: null,
      loading: false,
      msg: '',
      showModal: false,
      internalDoc: null,
      progress: 0,
    }),

    computed: {
      noteData () {
        return this.notes
      },
      portal () {
        return this.$getPortal()
      },
    },

    created () {
      this.accountDetails()
    },

    mounted () {
    },

    methods: {
      async selectFile (file) {
        this.internalDoc = file
      },
      async uploadFile (file) {
        this.loading = true
        try {
          if (file) {
            this.name = file.name
            const res = await opportunityservice.ndaDirectUpload(this.opportunity.id, file)
            if (res) {
              this.$store.dispatch('app/message', res.details || 'Successfully uploaded Signed NDA')
            }
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to upload file',
          })
        }
        this.loading = false
      },
      accountDetails () {
        const profile = this.$store.getters['account/profile']
        this.senderId = profile.username
      },
      moveScroll () {
        Vue.nextTick(() => {
          const messageDisplay = this.$refs.chatArea
          if (messageDisplay) {
            messageDisplay.scrollTop = messageDisplay.scrollHeight
          }
        })
      },
      async sendRejectNoteAndDeclineNda () {
        this.loading = true
        try {
          const response = await directNdaService.sendRejectNoteAndDeclineNda(this.opportunity.id, { note: this.msg }, { base: 'issuer' })
          if (response) {
            this.getIssuerNotes(this.opportunity.id)
            this.$emit('reloadData')
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to Decline NDA',
          })
        }
        this.msg = ''
        this.showModal = false
        this.$refs.observer.reset()
        this.loading = false
      },
      async sendNoteToInvestor () {
        if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          this.sendNoteToIssuer()
        } else {
          this.loading = true
          try {
            const response = await directNdaService.sendNoteToInvestor(this.opportunity.id, { note: this.msg }, { base: 'issuer' })
            if (response) {
              this.getIssuerNotes(this.opportunity.id)
              this.$store.dispatch('app/message', { text: 'Note Successfully sent to the Investor' })
              this.$emit('reloadData')
            }
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to Send Message',
            })
          }
          this.msg = ''
          this.showModal = false
          this.$refs.observer.reset()
          this.loading = false
        }
      },
      async sendNoteToIssuer () {
        this.loading = true
        try {
          const response = await directNdaService.sendNoteToIssuer(this.opportunity.id, { note: this.msg }, { base: 'tenant' })
          if (response) {
            this.getInvestorNotes(this.opportunity.id)
            this.$store.dispatch('app/message', 'Note Successfully sent to the Issuer')
            this.$emit('triggerAction')
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to Send Message',
          })
        }
        this.msg = ''
        this.showModal = false
        this.$refs.observer.reset()
        this.loading = false
      },
      async getInvestorNotes (id) {
        this.$emit('getInvestorNotes', id)
      },
      getIssuerNotes (id) {
        this.$emit('getIssuerNotes', id)
      },
      async uploadFileWithComment () {
        this.loading = true
        try {
          const progressCallback = (progress) => {
            this.progress = progress
          }
          const response = await directNdaService.ndaDirectUpload(this.opportunity.id, this.internalDoc, this.msg, progressCallback)
          if (response && response.details) {
            this.$store.dispatch('app/message', 'Successfully uploaded Signed NDA')
            this.$emit('triggerAction')
            this.$emit('close')
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to Directly Upload NDA',
          })
        }
        this.msg = ''
        this.loading = false
        this.showModal = false
        this.$refs.observer.reset()
        this.internalDoc = null
      },
    },
  }
</script>
<style scoped lang="scss">
.chat-area {
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  height: 35vh;
  padding: 1em;
  overflow: auto;
  margin: 0;
}

.message-box {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}
  .time{
    font-size: 10px;
  }
.message {
  width: max-content;
  max-width: 65%;
  border-radius: 6px;
  padding: 0.5em 1.2em;
  font-size: 12px;
}
.message-out {
  background: #407fff;
  color: white;
  /* margin-left: 50%; */
}
.message-in {
  background: #f1f0f0;
  color: black;
}
.new-note-badge{
    left: 3px;
    top: -14px;
}

  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

</style>
