<template>
  <common-trs-card
    elevation="0"
  >
    <div class="d-flex align-center">
      <h2 class="trsText--text text-caption mr-5">
        {{ placeholderText }}
      </h2>
      <div>
        <v-form>
          <v-text-field
            v-model="form.tagInput"
            type="text"
            class="custom-input mr-5"
          />
        </v-form>
      </div>
      <common-trs-btn
        small
        type="primary"
        class="white--text"
        :disabled="!isDisable"
        @click="addTags"
      >
        Add
      </common-trs-btn>
    </div>
    <div class="chip-box">
      <template>
        <v-chip
          v-for="(item, index) in chips"
          :key="index"
          class="ma-2"
          close
          @click:close="remove(index)"
        >
          {{ item.tag_name }}
        </v-chip>
      </template>
    </div>
  </common-trs-card>
</template>

<script>
  export default {
    name: 'TagBaseInput',

    props: {

      value: {
        type: Array,
        required: true,
        default: () => [],
      },
      placeholderText: {
        type: String,
        default: '',
      },
      pemRolesAllowed: {
        type: Object,
        default: () => {},
      },
    },
    data: () => ({
      shownTags: '',
      form: {
        tagInput: '',
      },
    }),
    computed: {
      portal () {
        return this.$getPortal()
      },
      isDisable () {
        return this.form.tagInput.length > 0
      },
      chips () {
        return this.value
      },
    },
    watch: {
    },
    methods: {
      addTags () {
        this.chips.push({ tag_name: this.form.tagInput, is_custom: true })
        this.form.tagInput = ''
        this.$emit('chipsdata', this.chips)
      },
      remove (index) {
        this.chips.splice(index, 1)
        this.$emit('chipsdata', this.chips)
      },
    },
  }
</script>
<style lang="scss" scoped>
    .chip-box {
        .v-chip {
            background: var(--v-trsBack-base);
            border-radius: 24px;
            margin-left: 0px!important;
            margin-right:10px;
            &.v-size--default {
                height: 28px;
            }
            ::v-deep .v-icon {
                font-size: 15px!important;
                color: var(--v-info-darken1);
                &.mdi-close-circle::before {
                   content: "\F015A"!important;
                }
                &.v-icon--right {
                   margin-left: 15px;
                }
            }
            ::v-deep .v-chip__content {
                font-weight: 400!important;
                font-size: 12px;
                text-transform: capitalize;
                color: var(--v-info-darken1);
            }
        }

    }
</style>
