<template>
  <v-row>
    <v-col v-if="videoSrc">
      <vue-plyr
        v-if="videoProvider"
        ref="plyr"
      >
        <div
          :data-plyr-provider="videoProvider"
          :data-plyr-embed-id="videoSrc"
        />
      </vue-plyr>
      <vue-plyr
        v-if="!videoProvider"
        ref="plyr"
      >
        <video
          controls
          crossorigin
          playsinline
        >
          <source
            size="720"
            :src="videoSrc"
            type="video/mp4"
          >
          <source
            size="1080"
            :src="videoSrc"
            type="video/mp4"
          >
          <track
            default
            kind="captions"
            label="English captions"
            src=""
            srclang="en"
          >
        </video>
      </vue-plyr>
    </v-col>
    <v-col v-if="!videoSrc">
      No video source available.
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'VideoPlyrComponent',
    props: {
      videoSrc: {
        type: String,
        required: true,
        default: '',
      },
    },
    computed: {
      videoProvider () {
        if ((this.videoSrc && this.videoSrc.indexOf('vimeo') > -1)) {
          return 'vimeo'
        } else if (this.videoSrc && this.videoSrc.indexOf('youtube') > -1) {
          return 'youtube'
        } else {
          return null
        }
      },
    },
  }
</script>
