<template>
  <div>
    <div v-if="overviewData">
      <v-row>
        <v-col
          cols="4"
          sm="2"
        >
          <span>CScore</span><br>
          <label class="trsText--text font-weight-bold text-h2 pl-3">
            {{ parseInt(overviewData.cscore * 100) }}%
          </label>
        </v-col>
        <v-col
          cols="4"
          sm="2"
        >
          <span>Avg Rating</span><br>
          <label class="trsText--text font-weight-bold text-h2 pl-3">
            {{ Object.values(overviewData.average_rating_by_day)[0] }}
          </label>
        </v-col>
        <v-col
          cols="4"
          sm="2"
        >
          <span>Median Rating</span><br>
          <label class="trsText--text font-weight-bold text-h2 pl-3">
            {{ overviewData.rating_median }}
          </label>
        </v-col>
        <v-col
          cols="4"
          sm="2"
        >
          <span>Participants</span><br>
          <label class="trsText--text font-weight-bold text-h2 pl-3">
            {{ overviewData.participant_count }}
          </label>
        </v-col>
        <v-col
          cols="4"
          sm="2"
        >
          <span>Predictive Inputs</span><br>
          <label class="trsText--text font-weight-bold text-h2 pl-3">
            {{ overviewData.predictive_input_count }}
          </label>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <plotly
            :layout="{
              title: 'Rating Distribution',
              xaxis: { autotick: false },
              yaxis: { showgrid: false, autotick: false }
            }"
            :data="[ratingDistribution]"
            :display-mode-bar="false"
            :static-plot="true"
          />
        </v-col>
        <v-col cols="6">
          <plotly
            :layout="{
              title: 'Average Rating Over Time',
              xaxis: { ticks: 'outside', showgrid: false, autotick: false },
              yaxis: { tick0: 0, dtick: 1, autotick: false }
            }"
            :data="[avgRating]"
            :display-mode-bar="false"
            :static-plot="true"
          />
        </v-col>
      </v-row>
      <div class="trsText--text text-h3">
        Most Relevant Reason
      </div>
      <div class="ml-4 mt-6 mb-10 d-flex flex-column">
        <label class="trsText--text text-h4 mb-2">
          {{ overviewData.most_relevant_reason.answer }}
        </label>
        <span>
          Relevancy: {{ overviewData.most_relevant_reason.relevancy }}
        </span>
        <span>
          Rating: {{ overviewData.most_relevant_reason.rating }}
        </span>
      </div>
    </div>
    <div
      v-else
      class="trsText--text text-body-1 text--light-1 mr-2 py-3"
    >
      <label>{{ infoMsg }}</label>
      <div
        v-if="isRaodshow"
        class="mt-5"
      >
        <strong><em>What is CrowdSmart</em></strong>
        <p>CrowdSmart transforms any investor’s ability to make predictively accurate investment decisions to deliver superior results. Join a Crowd, collaborate and amplify the return on your investment.</p>
        <v-divider class="my-4" />
        <strong><em>To participate in a CrowdSmart evaluation:</em></strong>
        <ol>
          <li>
            <div>
              <label>Click the “Start Evaluation” button in the lower right corner</label>
              <br>
              <img :src="require('@/components/common/assets/crowdsmart/evaluation-btn.png')">
            </div>
          </li>
          <li>
            <div>
              <label>Move the slider to match your sentiment</label>
            </div>
          </li>
          <li>
            <div>
              <label>Provide reasons that support your sentiment</label>
              <br>
              <img
                :src="require('@/components/common/assets/crowdsmart/evaluation-form.png')"
              >
            </div>
          </li>
          <li>
            <div>
              <label>When you are given reasons to rank, select the ones you agree with. Then order them by preference</label>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>
<script>
  import { Plotly } from 'vue-plotly'

  export default {
    name: 'CrowdsmartReportPane',
    components: { Plotly },
    props: {
      reportData: {
        type: Object,
      },
      isRaodshow: {
        type: Boolean,
        default: () => false,
      },
    },
    computed: {
      overviewData () {
        try {
          return this.reportData
            ? this.reportData.dialog.stats.overview
            : null
        } catch (err) {
          return null
        }
      },
      infoMsg () {
        try {
          return this.reportData.detail || 'No data Available'
        } catch (err) {
          return 'No data Available'
        }
      },
      ratingDistribution () {
        return {
          x: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
          y: this.overviewData.rating_distribution,
          type: 'bar',
          width: 0.8,
          text: this.overviewData.rating_distribution,
          marker: {
            color: 'green',
          },
          textposition: 'auto',
        }
      },
      avgRating () {
        return {
          x: [this.$date(Object.keys(this.overviewData.average_rating_by_day)[0]), this.$date(new Date())],
          y: [Object.values(this.overviewData.average_rating_by_day)[0], Object.values(this.overviewData.average_rating_by_day)[0]],
          type: 'scatter',
        }
      },
    },
  }
</script>
