<template>
  <div>
    <div
      v-if="isOnOverview && (financials && financials.length > 0)"
      class="pa-0"
    >
      <hr class="mb-3">
      <overview-nav-header
        title="Income Statement"
        @click="$emit('setCurrentView', 'financials-income-statements')"
      />
    </div>
    <v-row
      v-if="isDataAvailable"
      :class="{ 'flex-column' : !isOnOverview, 'mt-1': isOnOverview}"
    >
      <v-col
        class="pt-lg-0 pr-lg-0 col-12"
      >
        <v-simple-table
          class="custom-simple-table"
          dense
        >
          <thead>
            <tr>
              <th class="text-left" />
              <th
                v-for="(val, index) in financials.rev_data"
                :key="index"
                class="text-left"
              >
                {{ val.year }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Revenue</td>
              <td
                v-for="(val, index) in financials.rev_data"
                :key="index"
              >
                {{ $currency(val.value) }}
              </td>
            </tr>
            <tr>
              <td>Expenses</td>
              <td
                v-for="(val, index) in financials.exp_data"
                :key="index"
              >
                {{ $currency(val.value) }}
              </td>
            </tr>
            <tr>
              <td>EBITDA</td>
              <td
                v-for="(val, index) in financials.ebitda_data"
                :key="index"
              >
                {{ $currency(val.value) }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
      <v-col
        class="mb-lg-4 mb-md-4 col-12"
      >
        <div class="d-flex align-center justify-end">
          <common-common-button-toggle
            v-model="layout"
            :options="[
              { value: 'bar', label: 'Bar' },
              { value: 'line', label: 'Line' },
            ]"
            small
          />
        </div>
        <div
          v-if="layout === 'bar'"
        >
          <plotly
            :data="chartData"
            :layout="charLayout"
          />
        </div>
        <div
          v-if="layout === 'line'"
        >
          <plotly
            :data="chartLineData"
            :layout="charLayout"
          />
        </div>
      </v-col>
    </v-row>
    <financials-report
      v-if="(financials && financials.financial_documents && financials.financial_documents.income_statement && !isOnOverview)"
      :url="financials.financial_documents.full"
      text="Download Income Statement"
    />
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !isDataAvailable">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import OverviewNavHeader from './OverviewNavHeader'
  import FinancialsReport from './FinancialsReport'
  import { Plotly } from 'vue-plotly'

  export default {
    name: 'FinancialsIncomeStatements',

    components: {
      OverviewNavHeader,
      Plotly,
      FinancialsReport,
    },

    props: {
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      financials: {
        required: true,
      },
    },

    data: () => ({
      mode: null,
      layout: 'bar',
    }),

    computed: {
      chartData () {
        const data = [{
                        type: 'bar',
                        x: this.financials.rev_data.map(ele => ele.year),
                        y: this.financials.rev_data.map(ele => ele.value),
                        name: 'Revenue',
                        line: {
                          color: 'rgb(219, 64, 82)',
                          width: 3,
                        },
                      },
                      {
                        type: 'bar',
                        x: this.financials.exp_data.map(ele => ele.year),
                        y: this.financials.exp_data.map(ele => ele.value),
                        name: 'Expense',
                        line: {
                          color: 'rgb(55, 128, 191)',
                          width: 1,
                        },
                      },
                      {
                        type: 'bar',
                        x: this.financials.ebitda_data.map(ele => ele.year),
                        y: this.financials.ebitda_data.map(ele => ele.value),
                        name: 'EBITDA',
                        line: {
                          color: 'rgb(55, 128, 191)',
                          width: 1,
                        },
                      }]
        return data
      },
      chartLineData () {
        const data = [{
                        type: 'scatter',
                        x: this.financials.rev_data.map(ele => +ele.year),
                        y: this.financials.rev_data.map(ele => +ele.value),
                        mode: 'lines',
                        name: 'Revenue',
                        line: {
                          color: 'rgb(55, 128, 191)',
                          width: 3,
                        },
                      },
                      {
                        type: 'scatter',
                        x: this.financials.exp_data.map(ele => +ele.year),
                        y: this.financials.exp_data.map(ele => +ele.value),
                        mode: 'lines',
                        name: 'Expense',
                        line: {
                          color: 'rgb(254, 151, 12)',
                          width: 3,
                        },
                      },
                      {
                        type: 'scatter',
                        x: this.financials.ebitda_data.map(ele => +ele.year),
                        y: this.financials.ebitda_data.map(ele => +ele.value),
                        mode: 'lines',
                        name: 'EBITA',
                        line: {
                          color: 'rgb(55, 191, 128)',
                          width: 3,
                        },
                      }]
        return data
      },
      isDataAvailable () {
        return this.financials && this.financials.rev_data.length + this.financials.exp_data.length + this.financials.ebitda_data.length
      },
      charLayout () {
        const layout = {
          showlegend: true,
          xaxis: {
            tickformat: 'd',
          },
          autosize: false,
          height: (this.isOnOverview ? 400 : 550),
        }
        if (!this.isOnOverview) {
          delete layout.margin
        }
        return layout
      },
    },

    watch: {
      financials: {
        handler () {
          console.log(this.financials)
        },
        deep: true,
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      if (!this.isDataAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
        this.$root.$emit('dr-hideListItem', 'financials-income-statements', true)
        this.$root.$emit('dr-hideTabs', 'financials-income-statements', true)
      }
      if (!this.isDataAvailable) {
        this.$root.$emit('dr-hideReadMore', 'financials-income-statements', true)
      }
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
 .custom-simple-table {
    display: grid;
  }
 .v-data-table {
   table {
     thead, tbody {
       tr {
         th, td {
           font: normal normal 1rem/32px $font-family-base;
           &:first-child {
             padding-left: 0px!important;
           }
         }
       }
     }
   }
  }
  @media (max-width: 1400px){
  ::v-deep .js-plotly-plot {
    .plot-container {
      .svg-container {
         max-width: 496px!important;
        }
      }
    }
  }
</style>
