<template>
  <div>
    <div
      v-if="isOnOverview && (financials || financials.length > 0)"
      class="pa-0"
    >
      <hr class="mb-3">
      <overview-nav-header
        title="Balance Sheet"
        @click="$emit('setCurrentView', 'financials-balance-sheet')"
      />
    </div>
    <v-row
      v-if="financials"
      :class="{ 'flex-column' : !isOnOverview, 'mt-1': isOnOverview}"
    >
      <v-col
        class="pt-lg-0"
      >
        <v-simple-table
          dense
        >
          <tbody>
            <tr>
              <td>Assets</td>
              <td>{{ $currency(financials.bs_asset) }}</td>
            </tr>
            <tr>
              <td>Liability</td>
              <td>{{ $currency(financials.bs_liab) }}</td>
            </tr>
            <tr>
              <td>Equity</td>
              <td>{{ $currency(financials.bs_eq) }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
      <v-col
        class="mb-lg-4 mb-md-4"
      >
        <plotly
          :class="{ 'mt-8' : !isOnOverview}"
          :data="chartData"
          :layout="chartLayout"
        />
      </v-col>
    </v-row>
    <financials-report
      v-if="(financials && financials.financial_documents && financials.financial_documents.balance_sheet && !isOnOverview)"
      :url="financials.financial_documents.full"
      text="Download Balance Sheet"
    />
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !financials">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import OverviewNavHeader from './OverviewNavHeader'
  import FinancialsReport from './FinancialsReport'
  import { Plotly } from 'vue-plotly'

  export default {
    name: 'IssuerBoardOfDirectors',

    components: {
      OverviewNavHeader,
      Plotly,
      FinancialsReport,
    },

    props: {
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      financials: {
        required: true,
      },
    },

    data: () => ({
      mode: null,
    }),
    computed: {
      chartData () {
        const data = [{
          labels: ['Assets', 'Liability', 'Equity'],
          values: [this.financials.bs_asset, this.financials.bs_liab, this.financials.bs_eq],
          type: 'pie',
        }]
        return data
      },
      chartLayout () {
        const layout = {
          margin: {
            l: 0,
            t: 0,
            r: 0,
            b: 0,
          },
          autosize: true,
          height: (this.isOnOverview ? 200 : 350),
        }
        return layout
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
      },
    },
  }
</script>
<style lang="scss" scoped>
 .v-data-table {
   table {
     thead, tbody {
       tr {
         th, td {
           font: normal normal 1rem/32px $font-family-base;
           &:first-child {
             padding-left: 0px!important;
           }
         }
       }
     }
   }
 }
</style>
