<template>
  <div>
    <div
      v-if="isOnOverview && (financials && financials.length > 0)"
      class="pa-0"
    >
      <hr class="mb-3">
      <overview-nav-header
        title="Cash Flow"
        @click="$emit('setCurrentView', 'financials-cash-flow')"
      />
    </div>
    <v-row
      v-if="financials && isDataAvailable"
      :class="{ 'flex-column' : !isOnOverview, 'mt-1': isOnOverview}"
    >
      <v-col
        class="pt-lg-0 pt-md-0 col-12"
      >
        <v-simple-table
          class="custom-simple-table"
          dense
        >
          <thead>
            <tr>
              <th class="text-left" />
              <th
                v-for="(val, index) in financials.cfout_data"
                :key="index"
                class="text-left"
              >
                {{ val.year }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>In</td>
              <td
                v-for="(val, index) in financials.cfin_data"
                :key="index"
              >
                {{ $currency(val.value) }}
              </td>
            </tr>
            <tr>
              <td>Out</td>
              <td
                v-for="(val, index) in financials.cfout_data"
                :key="index"
              >
                {{ $currency(val.value) }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
      <v-col
        class="mb-lg-4 mb-md-4 col-12"
      >
        <div class="d-flex align-center justify-end">
          <common-common-button-toggle
            v-model="layout"
            :options="[
              { value: 'bar', label: 'Bar' },
              { value: 'line', label: 'Line' },
            ]"
            small
          />
        </div>
        <div
          v-if="layout === 'bar'"
        >
          <plotly
            :data="chartData"
            :layout="chartLayout"
          />
        </div>
        <div
          v-if="layout === 'line'"
        >
          <plotly
            :data="chartLineData"
            :layout="chartLayout"
          />
        </div>
      </v-col>
    </v-row>
    <financials-report
      v-if="(financials && financials.financial_documents && financials.financial_documents.cash_flow && !isOnOverview && isDataAvailable)"
      :url="financials.financial_documents.full"
      text="Download Cash Flow Report"
    />
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !isDataAvailable">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import OverviewNavHeader from './OverviewNavHeader'
  import { Plotly } from 'vue-plotly'
  import FinancialsReport from './FinancialsReport'

  export default {
    name: 'FinancialsCashFlow',

    components: {
      OverviewNavHeader,
      Plotly,
      FinancialsReport,
    },

    props: {
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      financials: {
        required: true,
      },
    },

    data: () => ({
      mode: null,
      layout: 'bar',
    }),

    computed: {
      chartData () {
        const data = [{
                        type: 'bar',
                        x: this.financials.cfin_data.map(ele => ele.year),
                        y: this.financials.cfin_data.map(ele => ele.value),
                        name: 'In',
                        line: {
                          color: 'rgb(219, 64, 82)',
                          width: 3,
                        },
                      },
                      {
                        type: 'bar',
                        x: this.financials.cfout_data.map(ele => ele.year),
                        y: this.financials.cfout_data.map(ele => ele.value),
                        name: 'Out',
                        line: {
                          color: 'rgb(55, 128, 191)',
                          width: 1,
                        },
                      }]

        return data
      },
      chartLineData () {
        const data = [{
                        type: 'scatter',
                        x: this.financials.cfin_data.map(ele => ele.year),
                        y: this.financials.cfin_data.map(ele => ele.value),
                        mode: 'lines',
                        name: 'In',
                        line: {
                          color: 'rgb(55, 128, 191)',
                          width: 3,
                        },
                      },
                      {
                        type: 'scatter',
                        x: this.financials.cfout_data.map(ele => ele.year),
                        y: this.financials.cfout_data.map(ele => ele.value),
                        mode: 'lines',
                        name: 'Out',
                        line: {
                          color: 'rgb(254, 151, 12)',
                          width: 3,
                        },
                      }]
        return data
      },
      isDataAvailable () {
        return this.financials && this.financials.cfout_data.length
      },
      chartLayout () {
        const layout = {
          showlegend: true,
          xaxis: {
            tickformat: 'd',
          },
          autosize: false,
          height: (this.isOnOverview ? 400 : 550),
        }
        if (!this.isOnOverview) {
          delete layout.margin
        }
        return layout
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        if (!this.isDataAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideListItem', 'financials-cash-flow', true)
          this.$root.$emit('dr-hideTabs', 'financials-cash-flow', true)
        }
        if (!this.isDataAvailable) {
          this.$root.$emit('dr-hideReadMore', 'financials-cash-flow', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .v-data-table {
   table {
     thead, tbody {
       tr {
         th, td {
           font: normal normal 1rem/32px $font-family-base;
           &:first-child {
             padding-left: 0px!important;
           }
         }
       }
     }
    }
 }
 .custom-simple-table {
    display: grid;
  }
 @media (max-width: 1400px){
  ::v-deep .js-plotly-plot {
    .plot-container {
      .svg-container {
         max-width: 496px!important;
        }
      }
    }
  }
</style>
