<template>
  <v-container
    class="pt-0"
  >
    <v-row
      v-if="financials"
    >
      <v-col
        v-for="(listItem, index) in listItems"
        :key="index"
        :cols="listItem.col"
        :sm="listItem.sm"
        :md="listItem.md"
        :class="[listItem.hideListItem ? 'hideList': '']"
        class="pt-lg-1 pt-md-1"
      >
        <component
          :is="listItem.comps"
          :is-on-mobile="isOnMobile"
          :financials="financials"
          :service="service"
          :status="status"
          :is-on-overview="true"
          @setCurrentView="$emit('setCurrentView', $event)"
        />
      </v-col>
    </v-row>
    <!-- <financials-report
      v-if="(financials && financials.financial_documents && financials.financial_documents.full)"
      :url="financials.financial_documents.full"
      text="Download Full Report"
    /> -->
    <financials-report
      v-if="(financialStatement && financialStatement.signed_url)"
      :url="financialStatement.signed_url"
      text="Download Full Report"
    />
    <div v-if="(mode == CONSTS.DR_MODES.PRESENTATION) && (notAvailable)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </v-container>
</template>

<script>
  import FinancialsBalanceSheet from './FinancialsBalanceSheet'
  import FinancialsCashFlow from './FinancialsCashFlow'
  import FinancialsIncomeStatements from './FinancialsIncomeStatements'
  import FinancialsFundingHistory from './FinancialsFundingHistory'
  import FinancialsReport from './FinancialsReport'

  export default {
    name: 'IssuerCompanyStory',

    components: {
      FinancialsReport,
    },

    props: {
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      financials: {
        required: true,
      },
    },

    data: () => ({
      listItems: [
        { id: 'financials-income-statements', comps: FinancialsIncomeStatements, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'financials-funding-history', comps: FinancialsFundingHistory, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'financials-balance-sheet', comps: FinancialsBalanceSheet, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'financials-cash-flow', comps: FinancialsCashFlow, col: 12, sm: 12, md: 12, hideListItem: false },
      ],
      mode: null,
      financialStatement: null,
    }),

    computed: {
      notAvailable () {
        return !this.financials && !this.financialStatement
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.listItems = this.listItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })

      this.loadData()
    },

    methods: {
      async loadData () {
        const form = this.service.getFormData('financials') || {}
        const statement = form['DRS.F.FI.Model']

        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => data.dataroom_document)

        if (statement) {
          const doc = await getDocFunc(statement)
          this.financialStatement = doc
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .wrapper {
    border: 3px dashed var(--v-trsBack-base);
  }
  .hideList {
    display:none !important;
  }
</style>
