<template>
  <v-card
    class="theme--light wrapper mt-2 rounded-0"
    elevation="0"
  >
    <v-card-text class="trsBack lighten-1 d-flex flex-column align-center py-8">
      <v-img
        height="117"
        width="86"
        src="../../../assets/doc-sign.svg"
      />
      <common-trs-btn
        v-if="downloadAllowed"
        :download="''"
        target="_blank"
        rel="noopener noreferrer"
        type="primary"
        large
        class="mt-3"
        :href="url"
      >
        {{ text }}
      </common-trs-btn>
    </v-card-text>
  </v-card>
</template>

<script>

  export default {

    components: {
    },

    props: {
      downloadAllowed: {
        type: Boolean,
        default: true,
      },
      url: {
        required: true,
      },
      text: {
        required: true,
      },
    },
  }
</script>
<style lang="scss" scoped>
  .wrapper {
    border: 3px dashed var(--v-trsBack-base);
  }
</style>
