<template>
  <div v-if="!isOnOverview">
    <div v-if="customersHasValue && !isOnOverview && customers && customers.length > 0">
      <v-row
        v-for="(item, index) in customers"
        :key="index"
      >
        <v-col
          cols="12"
          sm="9"
          lg="9"
          md="9"
        >
          <div
            class="text-h3 mb-1 primary--text"
            :class="{ 'cursor-pointer': item.Link }"
            @click="goToWebPage(item.Link)"
          >
            {{ item['DRS.IOPII.CS.Name'] }}
          </div>
          <div
            v-if="item['DRS.IOPII.CS.Sales']"
            class="trsText--text text-body-1 text--lighten-1 mb-2"
          >
            {{ item['DRS.IOPII.CS.Sales'] }}%
          </div>
          <more-text
            class="text-justify text-body-1"
            :text="item['DRS.IOPII.CS.Comments']"
            :max-length="500"
            :show-less="true"
          />
        </v-col>
        <v-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
        >
          <v-img
            height="229"
            width="229"
            :src="item['DRS.IOPII.CS.Logo']"
            contain
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="!customersHasValue && (mode == CONSTS.DR_MODES.DILIGENCE)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="customers && customers.length > 0 && customersHasValue">
      <hr class="mb-4">
      <overview-nav-header
        title="Customers"
        @click="$emit('setCurrentView', 'customers')"
      />
      <v-list class="row d-inline-flex w-100">
        <template v-for="(item, index) in customers">
          <v-list-item
            :key="index"
            class="pl-3 mb-7 col-6 col-md-4 col-lg-4"
          >
            <v-list-item-avatar
              v-if="item['DRS.IOPII.CS.Logo']"
              class="ml-0 mr-2 my-0"
            >
              <v-img :src="item['DRS.IOPII.CS.Logo']" />
            </v-list-item-avatar>
            <v-list-item-avatar v-if="!item['DRS.IOPII.CS.Logo']">
              <v-icon
                x-large
              >
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content class="py-0">
              <div class="trsText--text text-body-1 text--light-1">
                {{ item['DRS.IOPII.CS.Name'] }}
              </div>
              <div
                v-if="item['DRS.IOPII.CS.Sales']"
                class="trsText--text text-body-1 text--lighten-1"
              >
                {{ item['DRS.IOPII.CS.Sales'] }}%
              </div>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
    <div v-if="!customersHasValue && (mode == CONSTS.DR_MODES.DILIGENCE) && isOnOverview">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from './../../../../utils/MoreText'
  import OverviewNavHeader from './OverviewNavHeader'
  export default {
    name: 'IssuerCustomers',

    components: {
      MoreText,
      OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      customers: null,
      mode: null,
      filterDatawithDot: '',
    }),

    computed: {
      customersHasValue () {
        return this.customers
          ? this.customers.some(customer => (
            customer['DRS.IOPII.CS.Name'] ||
            customer['DRS.IOPII.CS.Sales'] ||
            customer['DRS.IOPII.CS.Link'] ||
            customer['DRS.IOPII.CS.Comments'])) : false
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('issuer-tab-data')

        this.customers = this.data['IssuerTab.DRS.Master.Customers'] || ''

        if (!this.customersHasValue && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'customers', true)
          this.$root.$emit('dr-hideListItem', 'customers', !this.customersHasValue)
        }
        if (!this.customersHasValue) {
          this.$root.$emit('dr-hideReadMore', 'customers', true)
        }
      },
      goToWebPage (link) {
        if (!link) { return }
        window.open(link.startsWith('http') ? link : `//${link}`, '_blank')
      },
    },
  }
</script>
<style scoped>
 .w-100 {
   width: 100%;
 }
</style>
