I<template>
  <div class="ml-n7">
    <captable-index
      :opportunity="opportunity"
      :is-on-mobile="isOnMobile"
      :service="service"
      :status="status"
      :is-roadshow="true"
      @setCurrentView="$emit('setCurrentView', $event)"
    />
  </div>
</template>

<script>
  import CaptableIndex from '@/components/common/captable/Index.vue'

  export default {
    name: 'IssuerCaptable',
    components: {
      CaptableIndex,
    },
    props: {
      opportunity: {
        type: Object,
        required: false,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>
