<template>
  <div>
    <div
      v-if="isOnOverview && fundingHistoryHasValue"
      class="pa-0"
    >
      <hr class="mb-3">
      <overview-nav-header
        title="Funding History"
        @click="$emit('setCurrentView', 'funding-history')"
      />
      <v-simple-table
        dense
        class="custom-simple-table"
      >
        <thead>
          <tr>
            <th class="text-left">
              Open
            </th>
            <th class="text-left">
              Close
            </th>
            <th class="text-left">
              Stage
            </th>
            <th class="text-left">
              Name
            </th>
            <th class="text-left">
              Round Type
            </th>
            <th class="text-left">
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in data"
            :key="index"
          >
            <td>{{ item['DRS.IOPII.DH.DateOpen'] }}</td>
            <td>{{ item['DRS.IOPII.DH.DateClosed'] }}</td>
            <td>{{ item['DRS.IOPII.DH.Stage'] ? item['DRS.IOPII.DH.Stage'].name : '' }}</td>
            <td>{{ item['DRS.IOPII.DH.RoundName'] }}</td>
            <td>{{ item['DRS.IOPII.DH.RoundType'] ? item['DRS.IOPII.DH.RoundType'] : '' }}</td>
            <td>{{ item['DRS.IOPII.DH.RoundSize'] ? $formatThousandReadable(item['DRS.IOPII.DH.RoundSize']) : '' }}</td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
    <div
      v-if="fundingHistoryHasValue"
      class="mb-3"
    >
      <v-row v-if="!isOnOverview">
        <v-col
          cols="12"
          class="pt-lg-1 pt-md-1"
        >
          <hr class="mb-3">
          <div class="text-h3 trsText--text mb-5 font-weight-bold">
            Funding History
          </div>
          <div
            class="trsText--text text-body-1 my-2"
          />

          <v-timeline
            dense
            class="ml-n10 mt-2"
          >
            <v-timeline-item
              v-for="(his, index) in data"
              :key="index"
              small
              color="trsText"
            >
              <span slot="opposite">{{ his['DRS.IOPII.DH.RoundName'] }}</span>
              <div>
                <div class="text-h4 trsText--text font-weight-bold">
                  {{ his['DRS.IOPII.DH.RoundName'] }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.RoundType']"
                  class="trsText--text text-body-1"
                >
                  Round Type: {{ his['DRS.IOPII.DH.RoundType'] }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.RoundSize']"
                  class="trsText--text text-body-1"
                >
                  Amount: {{ his['DRS.IOPII.DH.RoundSize'] ? $formatThousandReadable(his['DRS.IOPII.DH.RoundSize']) : '' }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.Stage']"
                  class="trsText--text text-body-1"
                >
                  Stage: {{ his['DRS.IOPII.DH.Stage'].name }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.DateOpen']"
                  class="trsText--text text-body-1"
                >
                  Open Date: {{ his['DRS.IOPII.DH.DateOpen'] }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.DateClosed']"
                  class="trsText--text text-body-1"
                >
                  Close Date: {{ his['DRS.IOPII.DH.DateClosed'] }}
                </div>
                <div
                  v-if="his['DRS.IOPII.DH.Valuation']"
                  class="trsText--text text-body-1"
                >
                  Valuation: {{ $formatThousandReadable(his['DRS.IOPII.DH.Valuation']) }}
                </div>
              </div>
            </v-timeline-item>
          </v-timeline>
        </v-col>
      </v-row>
    </div>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !fundingHistoryHasValue">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import OverviewNavHeader from './OverviewNavHeader'

  export default {
    name: 'IssuerFundingHistory',

    components: {
      OverviewNavHeader,
    },

    props: {
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: [],
      mode: null,
    }),

    computed: {
      fundingHistoryHasValue () {
        return this.data
          ? this.data.some(fundingHistory => (
            fundingHistory['DRS.IOPII.DH.DateClosed'] !== '' ||
            fundingHistory['DRS.IOPII.DH.RoundName'] !== '' ||
            fundingHistory['DRS.IOPII.DH.RoundSize'] !== '' ||
            fundingHistory['DRS.IOPII.DH.RoundType'] !== '' ||
            fundingHistory['DRS.IOPII.DH.Stage'] !== '' ||
            fundingHistory['DRS.IOPII.DH.Valuation'] !== '' ||
            fundingHistory['DRS.IOPII.DH.RoundSize'] !== '')) : null
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        this.fundingHistory = this.service.getFormData('issuer-tab-data') || []

        this.data = this.fundingHistory['IssuerTab.DRS.Master.DealHistory'] || ''

        // Overview tab wont be never available
        if (!this.fundingHistoryHasValue && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'funding-history', true)
          this.$root.$emit('dr-hideListItem', 'funding-history', true)
        }
        if (!this.fundingHistoryHasValue) {
          this.$root.$emit('dr-hideReadMore', 'funding-history', true)
        }
      },
    },

  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-timeline-item__dot--small {
      height: 26px !important;
      left: calc(50% - 12px);
      width: 26px !important;
      .v-timeline-item__inner-dot {
        height: 23px !important;
        margin: 1px;
        width: 23px !important;
        border: 3px solid var(--v-trsText-base);
      }
  }
  .custom-simple-table {
     display: grid;
  }
</style>
