<template>
  <div>
    <div>
      <hr class="mb-4">
      <v-row
        dense
        class="mb-2"
      >
        <v-col
          cols="12"
          lg="4"
          md="4"
          sm="6"
        >
          <div class="text-body-1 trsText--text text--lighten-1 mb-1">
            Contact Information
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-1">
            {{ issuerName }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1">
            {{ address ? address.line1 : '' }}
          </div>
          <div
            v-if="address && address.line2"
            class="text-body-1 trsText--text text--darken-1"
          >
            {{ address.line2 }}
          </div>
          <div
            v-if="address && address.line3"
            class="text-body-1 trsText--text text--darken-1"
          >
            {{ address.line3 }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1">
            {{ address ? address.city : '' }} {{ address && address.province ? address.province.name : '' }} {{ address ? address.postal : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ address && address.country ? address.country.name : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1">
            {{ contactName }}
          </div>
          <div>
            <a
              class="primary--text"
              :href="`mailto:${email}`"
              style="word-break: break-all;"
            >{{ email }}</a>
          </div>
          <div class="text-body-1 trsText--text text--darken-1">
            {{ phone }}
          </div>

          <div
            v-if="website"
            class="mt-2"
          >
            <a
              class="primary--text"
              :href="website"
              style="word-break: break-word"
            >{{ website }}</a>
          </div>
        </v-col>
        <v-col
          cols="12"
          lg="8"
          md="8"
          sm="6"
        >
          <v-row no-gutters>
            <v-col
              v-for="(item, index) in overviewInfo"
              :key="index"
              cols="6"
              md="6"
              sm="6"
              class="mb-2"
            >
              <div class="text-body-1 trsText--text text--lighten-1 mb-1">
                {{ item.label }}
              </div>
              <div class="text-body-1 trsText--text text--darken-1">
                {{ item.value }}
              </div>
            </v-col>
            <v-col
              cols="6"
            />
            <v-col
              cols="6"
            >
              <div class="text-body-1 trsText--text text--lighten-1 mb-1">
                Social Links
              </div>
              <div class="d-flex">
                <a
                  v-if="facebook"
                  :href="$formatUrl(facebook)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="facebook" /></a>
                <a
                  v-if="linkedin"
                  :href="$formatUrl(linkedin)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="linkedin" /></a>
                <a
                  v-if="twitter"
                  :href="$formatUrl(twitter)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="twitter" /></a>
                <a
                  v-if="instagram"
                  :href="$formatUrl(instagram)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="instagram" /></a>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !data && !overviewInfo">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
    <v-row v-if="!isOnOverview">
      <v-col
        v-if="vision && vision.length > 0"
        cols="12"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-2 font-weight-bold">
          Our Vision
        </div>
        <div
          class="trsText--text text-body-1 mt-5"
        >
          <common-rich-text-editor-view
            :value="vision"
          />
        </div>
      </v-col>
      <v-col
        v-if="history && history.length > 0"
        cols="12"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-5 font-weight-bold">
          Our History
        </div>
        <div
          class="trsText--text text-body-1 my-2"
        />

        <v-timeline
          v-if="history && history.length > 0"
          dense
          class="ml-n10"
        >
          <v-timeline-item
            v-for="(his, index) in history"
            :key="index"
            small
            color="trsText"
          >
            <span slot="opposite">{{ his.label }}</span>
            <div>
              <div class="text-body-1 trsText--text font-weight-bold">
                {{ his.label }}
              </div>
              <div class="trsText--text text-body-1">
                {{ his.text }}
              </div>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col
        v-if="milestones && milestones.length > 0"
        cols="12"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-5 font-weight-bold">
          Our Milestones
        </div>

        <div
          v-for="(milestone, mIndex) in milestones"
          :key="mIndex"
        >
          <div class="text-body-1 trsText--text d-flex">
            {{ mIndex + 1 }}. &nbsp;
            <more-text
              class="text-justify text-body-1 ml-1"
              :text="milestone['DRS.OIOPII.M.Pathway']"
              :max-length="500"
              :show-less="true"
            />
          </div>

          <v-timeline
            v-if="milestone['DRS.OIOPII.M.KeyMilestone'] && milestone['DRS.OIOPII.M.KeyMilestone'].length > 0"
            dense
          >
            <v-timeline-item
              v-for="(keyM, keyMIndex) in milestone['DRS.OIOPII.M.KeyMilestone']"
              :key="keyMIndex"
              small
              color="trsText"
            >
              <span slot="opposite">{{ keyM.label }}</span>
              <div>
                <div class="text-h4 trsText--text font-weight-bold">
                  {{ keyM.label }}
                </div>
                <div class="trsText--text text-body-1">
                  {{ keyM.text }}
                </div>
              </div>
            </v-timeline-item>
          </v-timeline>
        </div>
      </v-col>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </v-row>
  </div>
</template>

<script>
  import MoreText from '@/components/common/utils/MoreText'
  import SocialMediaIcon from '@/components/common/icons/SocialMediaIcon'
  export default {
    name: 'IssuerCompanyStory',

    components: {
      MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
      SocialMediaIcon,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      overviewInfo: [],
      mode: null,
      vision: '',
      history: [],
      milestones: [],
      phone: null,
      email: null,
      address: null,
      issuerName: null,
      notAvailable: false,
      website: '',
      linkedin: '',
      instagram: '',
      facebook: '',
      twitter: '',
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('issuer-tab-data') || {}
        const issuer = this.opportunity.issuer
        const details = (issuer && issuer.details) ? issuer.details : null

        this.website = this.data['DRS.IOPI.CI.Website'] || ''
        this.linkedin = this.data['DRS.IOPI.CI.LinkedIn'] || ''
        this.instagram = this.data['DRS.IOPI.CI.Instagram'] || ''
        this.facebook = this.data['DRS.IOPI.CI.Facebook'] || ''
        this.twitter = this.data['DRS.IOPI.CI.Twitter'] || ''
        this.issuerName = issuer.name
        this.contactName = (this.data['DRS.IOPI.SC.FirstName'] || '') + ' ' + (this.data['DRS.IOPI.SC.LastName'] || '')
        this.phone = this.data['DRS.IOPI.SC.PhoneNumber'] || ''
        this.email = this.data['DRS.IOPI.SC.Email'] || ''
        this.address = details ? details.address : null
        // this.address = {
        //   line1: this.data['DRS.IOPI.SA.Address1'] || '',
        //   line2: this.data['DRS.IOPI.SA.Address2'] || '',
        //   line3: this.data['DRS.IOPI.SA.Address3'] || '',
        //   city: this.data['DRS.IOPI.SA.City'] || '',
        //   province: { name: this.data['DRS.IOPI.SA.StateProvince'] } || '',
        //   postal: this.data['DRS.IOPI.SA.Postal'] || '',
        //   country: this.data['DRS.IOPI.SA.Country'] || '',
        // }

        this.overviewInfo = [
          // { label: 'Headquarters', value: (this.address && this.address.country && this.address.country.name) ? this.address.country.name : 'Not Available' },
          // { label: 'Sector', value: details && details.sector ? details.sector.name : 'Not Available' },
          // { label: 'Stage', value: issuer.stage && issuer.stage.name ? issuer.stage.name : 'Not Available' },
          // { label: 'Industry', value: details && details.industry ? details.industry.name : 'Not Available' },
          // { label: 'Founded', value: details && details.yearFounded ? details.yearFounded : 'Not Available' },
          { label: 'Headquarters', value: details && details.headquarters ? details.headquarters : 'Not Available' },
          { label: 'Sector', value: details && details.sector ? details.sector.name : 'Not Available' },
          // { label: 'Stage', value: this.data['DRS.IOPI.CI.Stage'] ? this.data['DRS.IOPI.CI.Stage'].name : 'Not Available' },
          { label: 'Industry', value: details && details.industry ? details.industry.name : 'Not Available' },
          { label: 'Founded', value: details && details.yearFounded ? details.yearFounded : 'Not Available' },
        ]

        this.vision = this.data['DRS.IOPI.CO.CompanyVision']
        this.history = this.data['DRS.IOPI.CO.CompanyHistory'] || []
        this.milestones = this.data['DRS.IOPI.M'] || []
        this.notAvailable = !this.vision && this.history.length === 0 && this.milestones.length === 0
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'comp', true)
        }
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'comp', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-timeline-item__dot--small {
    height: 26px !important;
    left: calc(50% - 12px);
    width: 26px !important;
      .v-timeline-item__inner-dot {
        height: 23px !important;
        margin: 1px;
        width: 23px !important;
        border: 3px solid var(--v-trsText-base);
      }
  }
</style>
