<template>
  <div>
    <common-common-preview-file
      v-if="captable && captable.signed_url"
      :url="captable && captable.signed_url"
      :mime-type="captable.mime_type"
      :has-download-btn="captable && captable.details && captable.details.download_allowed"
    />
  </div>
</template>

<script>
  export default {
    name: 'IssuerCaptable',
    components: {
    },
    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      forms: null,
      mode: null,
      captable: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        try {
          const captable = this.service.getFormData('captable')
          if (captable && captable.CapTable) {
            const doc = this.service.portal === this.CONSTS.PORTAL.ISSUER
              ? await this.service.getDocumentById(captable.CapTable)
              : await this.service.getDocumentsByOppAndId(this.opportunity.id, captable.CapTable)

            this.captable = doc && (
              this.service.portal === this.CONSTS.PORTAL.ISSUER
                ? doc
                : {
                  ...doc.dataroom_document,
                  details: doc.details,
                }
            )
          } else {
            this.$root.$emit('dr-hideTabs', 'captable', true)
          }
          this.$root.$emit('dr-hideListItem', 'captable', false)
        } catch (err) {
          // pass err
        }
      },
    },
  }
</script>
