<template>
  <div v-if="data">
    <v-row v-if="isOnOverview && (milestones || milestones.length > 0)" />

    <div v-else>
      <hr class="mb-2">
      <v-row dense>
        <v-col cols="12">
          <overview-nav-header
            title="Milestones"
            @click="$emit('setCurrentView', 'comp')"
          />
        </v-col>
      </v-row>
      <v-row
        dense
        class="mt-3"
      >
        <v-col
          v-for="(milestone, index) in milestones"
          :key="index"
          cols="12"
        >
          <hr class="mb-1 hr--light">
          <v-row dense>
            <v-col
              cols="12"
              class="trsText--text text-body-1"
            >
              <more-text
                class="text-justify"
                :text="milestone['DRS.OIOPII.M.Pathway']"
                :max-length="400"
                :show-less="true"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !milestones">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import OverviewNavHeader from './OverviewNavHeader'
  import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'IssuerCompanyOverviewHistory',

    components: {
      OverviewNavHeader,
      MoreText,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      history: [],
      milestones: [],
      mode: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('company-story')

        this.history = this.data['DRS.IOPI.CO.CompanyHistory']
        this.milestones = this.data['DRS.IOPI.M']
      },
    },
  }
</script>
