<template>
  <div v-if="!isOnOverview">
    <div v-if="leadInvestorsHasValue && !isOnOverview && leadInvestors && leadInvestors.length > 0">
      <v-row
        v-for="(item, index) in leadInvestors"
        :key="index"
      >
        <v-col
          cols="12"
          sm="9"
          lg="9"
          md="9"
        >
          <div class="text-h3 mb-1 primary--text font-weight-bold">
            {{ item['DRS.IOPII.LI.Name'] }}
          </div>
          <div
            v-if="item['DRS.IOPII.LI.PositionSize']"
            class="trsText--text text-body-1 text--lighten-1 mb-2"
          >
            {{ item['DRS.IOPII.LI.PositionSize'] }}%
          </div>
          <more-text
            class="text-justify text-body-1 mb-1"
            :text="item['DRS.IOPII.LI.Experience']"
            :max-length="500"
            :show-less="true"
          />
        </v-col>
        <v-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
        >
          <v-img
            height="229"
            width="229"
            :src="item['DRS.IOPII.LI.Image']"
            contain
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="!leadInvestorsHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && (!leadInvestors || leadInvestors.length === 0))">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="leadInvestors && leadInvestors.length > 0 && leadInvestorsHasValue">
      <hr class="mb-4">
      <overview-nav-header
        title="Lead Investors"
        @click="$emit('setCurrentView', 'lead-investors')"
      />
      <v-list class="row d-inline-flex w-100">
        <template v-for="(item, index) in leadInvestors">
          <v-list-item
            :key="index"
            class="pl-3 mb-8 col-6 col-md-4 col-lg-4"
          >
            <v-list-item-avatar
              v-if="item['DRS.IOPII.LI.Image']"
              class="ml-0 mr-2 my-0"
            >
              <v-img :src="item['DRS.IOPII.LI.Image']" />
            </v-list-item-avatar>
            <v-list-item-avatar v-if="!item['DRS.IOPII.LI.Image']">
              <v-icon
                x-large
              >
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content class="py-0">
              <div class="trsText--text text-body-1 text--light-1">
                {{ item['DRS.IOPII.LI.Name'] }}
              </div>
              <div
                v-if="item['DRS.IOPII.LI.PositionSize']"
                class="trsText--text text-body-1 text--lighten-1"
              >
                {{ item['DRS.IOPII.LI.PositionSize'] }}%
              </div>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
    <div v-if="!leadInvestorsHasValue && (mode == CONSTS.DR_MODES.DILIGENCE) && isOnOverview">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from './../../../../utils/MoreText'
  import OverviewNavHeader from './OverviewNavHeader'
  export default {
    name: 'IssuerLeadInvestors',

    components: {
      MoreText,
      OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      leadInvestors: null,
      mode: null,
    }),

    computed: {
      leadInvestorsHasValue () {
        return this.leadInvestors
          ? this.leadInvestors.some(leadInvestor => (
            leadInvestor['DRS.IOPII.LI.Name'] ||
            leadInvestor['DRS.IOPII.LI.Experience'] ||
            leadInvestor['DRS.IOPII.LI.Image'] ||
            leadInvestor['DRS.IOPII.LI.PositionSize'])) : false
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('issuer-tab-data')
        this.leadInvestors = this.data['IssuerTab.DRS.Master.Investors'] || ''
        if (!this.leadInvestorsHasValue && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'lead-investors', true)
          this.$root.$emit('dr-hideListItem', 'lead-investors', !this.leadInvestorsHasValue)
        }
        if (!this.leadInvestorsHasValue) {
          this.$root.$emit('dr-hideReadMore', 'lead-investors', true)
        }
      },
    },
  }
</script>
<style scoped>
 .w-100 {
   width: 100%;
 }
</style>
