I<template>
  <div>
    <v-row
      v-if="!isOnOverview"
      justify="center"
    >
      <div class="text-h3 trsText--text mb-2 font-weight-bold ">
        Coming soon
      </div>
    </v-row>
    <div v-else>
      <v-row>
        <v-col cols="12">
          <hr class="mb-4">
          <div
            class="text-h3 trsText--text mb-3 font-weight-bold cursor-pointer"
            @click="$emit('setCurrentView', 'cyndx-report')"
          >
            CrowdSmart Report
          </div>

          <div
            class="d-flex p-relative"
          >
            <v-img
              :src="require('../../../assets/crowd-smart.png')"
            />
          </div>
          <div
            class="trsText--text text-h4 mt-3"
          >
            Coming soon
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'IssuerCompanyStory',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
