<template>
  <div v-if="!isOnOverview">
    <v-row v-if="data">
      <v-col
        cols="12"
      >
        <v-timeline
          v-if="computedData && computedData.length > 0"
          dense
          class="ml-n10"
        >
          <v-timeline-item
            v-for="(his, index) in computedData"
            :key="index"
            small
            color="trsText"
          >
            <span slot="opposite">{{ his.label }}</span>
            <div>
              <div class="text-body-1 trsText--text font-weight-bold">
                {{ his.label }}
              </div>
              <div class="trsText--text text-body-1">
                {{ his.text }}
              </div>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-col>
    </v-row>
    <div v-if="((mode == CONSTS.DR_MODES.DILIGENCE) && !isAvailable)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>

  <div v-else>
    <div>
      <hr class="mb-1">
      <v-timeline
        v-if="computedData && computedData.length > 0"
        dense
        class="ml-n10"
      >
        <v-timeline-item
          v-for="(his, index) in computedData"
          :key="index"
          small
          color="trsText"
        >
          <span slot="opposite">{{ his.label }}</span>
          <div>
            <div class="text-body-1 trsText--text font-weight-bold">
              {{ his.label }}
            </div>
            <div class="trsText--text text-body-1">
              {{ his.text }}
            </div>
          </div>
        </v-timeline-item>
      </v-timeline>
    </div>
    <div v-if="((mode == CONSTS.DR_MODES.DILIGENCE) && !isAvailable)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'OppFutureMilestones',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      overview: '',
      mode: null,
      isAvailable: false,
    }),

    computed: {
      computedData () {
        try {
          if (this.isOnOverview) {
            return this.data.slice(0, 3)
          } else {
            return this.data
          }
        } catch (err) {
          return []
        }
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        const data = this.service.getFormData('product-services-form')
        this.data = data['DRS.OIOPII.M.KeyMilestone'] || []
        if ((!this.data || this.data.length === 0) && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideListItem', 'future-milestones', true)
          this.$root.$emit('dr-hideTabs', 'future-milestones', true)
        }
        if (this.data && Array.isArray(this.data) && this.data.length > 0) {
          if (this.data.length <= 3) {
            this.$root.$emit('dr-hideReadMore', 'future-milestones', true)
          }
          this.isAvailable = true
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
 .ck-content {
     font: normal normal 1.12rem/1.8rem $font-family-base!important;
  }
</style>
