<template>
  <div>
    <div v-if="!isOnOverview">
      <v-row>
        <v-col
          v-if="internalDrs['IDRS.TSS.Image']"
          md="6"
          sm="12"
          class="pb-md-1 pb-lg-1"
        >
          <hr class="mb-3">
          <h2 class="trsText--text font-weight-bold text-h3 mb-5">
            Market Size
          </h2>
          <v-hover v-slot="{ hover }">
            <v-card :elevation="hover ? 1 : 0">
              <v-img
                :src="internalDrs['IDRS.TSS.Image']"
                contain
                :class="{
                  'media-gallery-img-h-auto': $vuetify.breakpoint.mdAndUp,
                  'media-gallery-img': $vuetify.breakpoint.smAndUp,
                }"
              >
                <v-card-title>
                  <v-row class="fill-height flex-column">
                    <div class="text-right">
                      <common-trs-btn
                        v-if="hover"
                        type="tertiary"
                        class="download-btn"
                        color="white"
                        icon
                        large
                        target="_blank"
                        rel="noopener noreferrer"
                        :href="internalDrs['IDRS.TSS.Image']"
                      >
                        <v-icon
                          class="show-btns"
                        >
                          mdi-download
                        </v-icon>
                      </common-trs-btn>
                    </div>
                  </v-row>
                </v-card-title>
              </v-img>
            </v-card>
          </v-hover>
        </v-col>
        <v-col
          v-if="data['DRS.MI.MD.CurrentMarket']"
          md="6"
          sm="12"
          class="pb-md-1 pb-lg-1"
        >
          <hr class="mb-4">
          <div class="trsText--text text--lighten-1 font-weight-bold text-body-1">
            Our Current Market Size
          </div>
          <div class="trsText--text font-weight-bold text-font-48 mt-2">
            {{ data['DRS.MI.MD.CurrentMarket'] }}
          </div>
        </v-col>
      </v-row>
      <div v-if="marketCompetitorsInternalValue">
        <hr class="mb-3">
        <h2 class="trsText--text font-weight-bold text-h3 mb-5">
          Top Competitors
        </h2>
        <ol>
          <li
            v-for="(item, index) in marketCompetitors"
            :key="index"
            class="primary--text mt-4 text-h3"
          >
            <span
              :class="{ 'cursor-pointer': item['DRS.MI.MC.CompanyWebsite'] }"
              @click="goToWebPage(item['DRS.MI.MC.CompanyWebsite'])"
            >
              {{ item['DRS.MI.MC.CompanyName'] }}
            </span>
            <div
              v-if="item['DRS.MI.MC.MarketShare']"
              class="d-flex justify-space-between align-center py-1 mt-2 market-wrapper"
            >
              <div class="trsText--text text-body-1 text--lighten-1">
                Market Size
              </div>
              <div class="market-share trsText--text ">
                <div
                  :style="{
                    width: item['DRS.MI.MC.MarketShare'] + '%'
                  }"
                >
                  {{ item['DRS.MI.MC.MarketShare']+ '%' }}
                </div>
              </div>
            </div>
            <div v-if="item['DRS.MI.MC.Difference']">
              <div class="trsText--text text-body-1 text--lighten-1 mt-3">
                How our product/service improve on competition
              </div>
              <div class="trsText--text text-h4 mt-3">
                <!-- <more-text
                  class="text-justify text-body-1"
                  :text="item['DRS.MI.MC.Difference']"
                  :max-length="400"
                  :show-less="true"
                /> -->
                <common-rich-text-editor-view
                  :value="item['DRS.MI.MC.Difference']"
                />
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div v-if="industryReportsInternalValue">
        <hr class="mt-9 mb-2">
        <div class="trsText--text font-weight-bold text-h3">
          Industry Reports
        </div>
        <div
          v-for="(report, index) in industryReports"
          :key="index"
          class="mt-4"
        >
          <div
            v-if="report['DRS.MI.IR.Report']"
            class="d-flex"
          >
            <v-icon
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              :href="report['DRS.MI.IR.Report']"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-h4"
              style="text-decoration:none;"
            >
              {{ report['DRS.MI.IR.Title'] }}
            </a>
          </div>
          <div
            v-else-if="report.doc"
            class="d-flex"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="report.doc.signed_url"
              :mime-type="report.doc.mime_type"
              :has-download-btn="true"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  size="medium"
                  class="mr-2 trsText--text text--lighten-1"
                >
                  mdi-briefcase
                </v-icon>
                <a
                  class="primary--text text-h4 text-decoration-none"
                  v-on="on"
                >
                  {{ report['DRS.MI.IR.Title'] }}
                </a>
              </template>
            </common-common-preview-file-modal>
          </div>
        </div>
      </div>
      <div v-if="pressReleasesInternalValue">
        <hr class="mt-9 mb-2">
        <div
          class="trsText--text font-weight-bold text-h3"
        >
          Press Releases
        </div>
        <div
          v-for="(item, index) in pressReleases"
          :key="index"
          class="mt-4 d-flex"
        >
          <div
            v-if="item['DRS.IOPI.PR.Link']"
            class="d-flex"
          >
            <v-icon
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              :href="item['DRS.IOPI.PR.Link']"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-h4 text-decoration-none"
            >
              {{ item['DRS.IOPI.PR.Title'] }}
            </a>
          </div>
          <div
            v-else-if="item.doc"
            class="d-flex"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="item.doc.signed_url"
              :mime-type="item.doc.mime_type"
              :has-download-btn="true"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  size="medium"
                  class="mr-2 trsText--text text--lighten-1"
                >
                  mdi-briefcase
                </v-icon>
                <a
                  class="primary--text text-h4 text-decoration-none"
                  v-on="on"
                >
                  {{ item['DRS.IOPI.PR.Title'] }}
                </a>
              </template>
            </common-common-preview-file-modal>
          </div>
        </div>
      </div>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && noDataExists">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
    <div v-else>
      <v-row>
        <v-col
          v-if="internalDrs && internalDrs['IDRS.TSS.Image']"
          cols="12"
          md="6"
          lg="6"
        >
          <hr class="mt-9 mb-2">
          <div
            class="text-h3 trsText--text mb-2 font-weight-bold cursor-pointer"
            @click="$emit('setCurrentView', 'market-information')"
          >
            Market Size
          </div>

          <div
            class="d-flex row"
          >
            <v-hover v-slot="{ hover }">
              <v-card
                :elevation="hover ? 1 : 0"
                class="col-6"
              >
                <v-img
                  :src="internalDrs['IDRS.TSS.Image']"
                  contain
                  :class="{
                    'media-gallery-img-h-auto': $vuetify.breakpoint.mdAndUp,
                    'media-gallery-img': $vuetify.breakpoint.smAndUp,
                  }"
                >
                  <v-card-title>
                    <v-row class="fill-height flex-column">
                      <div class="text-right">
                        <common-trs-btn
                          v-if="hover"
                          type="tertiary"
                          class="download-btn"
                          color="white"
                          icon
                          large
                          target="_blank"
                          rel="noopener noreferrer"
                          :href="internalDrs['IDRS.TSS.Image']"
                        >
                          <v-icon
                            class="show-btns"
                          >
                            mdi-download
                          </v-icon>
                        </common-trs-btn>
                      </div>
                    </v-row>
                  </v-card-title>
                </v-img>
              </v-card>
            </v-hover>
          </div>
        </v-col>
        <v-col
          v-if="marketCompetitorsInternalValue"
          cols="12"
          md="6"
          lg="6"
        >
          <hr class="mt-9 mb-2">
          <div
            class="text-h3 trsText--text mb-0 font-weight-bold cursor-pointer"
          >
            Top Competitors
          </div>

          <div
            v-for="(item, index) in marketCompetitors"
            :key="index"
            cols="12"
            class="mt-4"
          >
            <hr class="mb-1 hr--light">
            <div
              cols="12"
              class="primary--text text-h4 cursor"
              :class="{ 'cursor-pointer': item['DRS.MI.MC.CompanyWebsite'] }"
              @click="goToWebPage(item['DRS.MI.MC.CompanyWebsite'])"
            >
              {{ item['DRS.MI.MC.CompanyName'] }}
            </div>
          </div>
        </v-col>
        <v-col
          v-if="pressReleasesInternalValue"
          cols="12"
          md="6"
          lg="6"
        >
          <hr class="mt-9 mb-2">
          <div
            class="trsText--text font-weight-bold text-h3"
          >
            Press Releases
          </div>
          <div
            v-for="(item, index) in pressReleases"
            :key="index"
            class="mt-4 d-flex"
          >
            <div
              v-if="item['DRS.IOPI.PR.Link']"
              class="d-flex"
            >
              <v-icon
                size="medium"
                class="mr-2 trsText--text text--lighten-1"
              >
                mdi-link
              </v-icon>
              <a
                :href="item['DRS.IOPI.PR.Link']"
                rel="noopener noreferrer"
                target="_blank"
                class="primary--text text-h4 text-decoration-none"
              >
                {{ item['DRS.IOPI.PR.Title'] }}
              </a>
            </div>
            <div
              v-else-if="item.doc"
              class="d-flex"
            >
              <common-common-preview-file-modal
                fullscreen
                :url="item.doc.signed_url"
                :mime-type="item.doc.mime_type"
                :has-download-btn="true"
              >
                <template v-slot:activator="{ on }">
                  <v-icon
                    size="medium"
                    class="mr-2 trsText--text text--lighten-1"
                  >
                    mdi-briefcase
                  </v-icon>
                  <a
                    class="primary--text text-h4 text-decoration-none"
                    v-on="on"
                  >
                    {{ item['DRS.IOPI.PR.Title'] }}
                  </a>
                </template>
              </common-common-preview-file-modal>
            </div>
          </div>
        </v-col>
        <v-col
          v-if="industryReportsInternalValue"
          cols="12"
          md="6"
          lg="6"
        >
          <hr class="mt-9 mb-2">
          <div class="trsText--text font-weight-bold text-h3">
            Industry Reports
          </div>
          <div
            v-for="(report, index) in industryReports"
            :key="index"
            class="mt-4"
          >
            <div
              v-if="report['DRS.MI.IR.Report']"
              class="d-flex"
            >
              <v-icon
                size="medium"
                class="mr-2 trsText--text text--lighten-1"
              >
                mdi-link
              </v-icon>
              <a
                :href="report['DRS.MI.IR.Report']"
                rel="noopener noreferrer"
                target="_blank"
                class="primary--text text-h4"
                style="text-decoration:none;"
              >
                {{ report['DRS.MI.IR.Title'] }}
              </a>
            </div>
            <div
              v-else-if="report.doc"
              class="d-flex"
            >
              <common-common-preview-file-modal
                fullscreen
                :url="report.doc.signed_url"
                :mime-type="report.doc.mime_type"
                :has-download-btn="true"
              >
                <template v-slot:activator="{ on }">
                  <v-icon
                    size="medium"
                    class="mr-2 trsText--text text--lighten-1"
                  >
                    mdi-briefcase
                  </v-icon>
                  <a
                    class="primary--text text-h4 text-decoration-none"
                    v-on="on"
                  >
                    {{ report['DRS.MI.IR.Title'] }}
                  </a>
                </template>
              </common-common-preview-file-modal>
            </div>
          </div>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && noDataExists && isOnOverview">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'OppMarketInformation',

    components: {
      // MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      pressReleases: [],
      marketCompetitors: [],
      industryReports: [],
      internalDrs: {},
      mode: null,
    }),

    computed: {
      pressReleasesInternalValue () {
        return this.pressReleases && this.pressReleases.length > 0
          ? this.pressReleases.some(pressRelease => (
            pressRelease['DRS.IOPI.PR.Title'] ||
            pressRelease['DRS.IOPI.PR.Link'] ||
            pressRelease['DRS.IOPI.PR.File'])) : false
      },
      marketCompetitorsInternalValue () {
        return this.marketCompetitors && this.marketCompetitors.length > 0
          ? this.marketCompetitors.some(marketCompetitor => (
            marketCompetitor['DRS.MI.MC.CompanyName'] ||
            marketCompetitor['DRS.MI.MC.CompanyWebsite'] ||
            marketCompetitor['DRS.MI.MC.MarketShare'] ||
            marketCompetitor['DRS.MI.MC.Difference'])) : false
      },
      industryReportsInternalValue () {
        return this.industryReports && this.industryReports.length > 0
          ? this.industryReports.some(industryReport => (
            industryReport['DRS.MI.IR.Title'] ||
            industryReport['DRS.MI.IR.Report'] ||
            industryReport['DRS.MI.IR.File'])) : false
      },
      noDataExists () {
        return !this.internalDrs['IDRS.TSS.Image'] && !this.industryReportsInternalValue && !this.marketCompetitorsInternalValue && !this.pressReleasesInternalValue
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      goToWebPage (link) {
        if (!link) { return }
        window.open(link.startsWith('http') ? link : `//${link}`, '_blank')
      },
      async loadData () {
        this.data = await this.service.getFormData('market-info') || ''
        this.internalDrs = await this.service.getFormData('market-info') || {}
        this.pressReleases = this.data['IssuerTab.DRS.Master.PressReleases'] || []

        // this.pressReleases = this.data['DRS.IOPI.CO.PressReleases'] || []

        this.industryReports = this.data['OpportunityTab.DRS.Master.MarketArticles']
        this.marketCompetitors = this.data['OpportunityTab.DRS.Master.MarketCompetition']
        if (this.noDataExists && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideListItem', 'market-information', true)
          this.$root.$emit('dr-hideTabs', 'market-information', true)
        }
        if (this.noDataExists) {
          this.$root.$emit('dr-hideReadMore', 'market-information', true)
        }
        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => data.dataroom_document)

        this.pressReleases = await Promise.all(this.pressReleases.map(async report => {
          if (report['DRS.IOPI.PR.File']) {
            try {
              const doc = await getDocFunc(report['DRS.IOPI.PR.File'])
              return {
                ...report,
                doc,
              }
            } catch (err) { return report }
          }
          return report
        }))
        this.industryReports = await Promise.all(this.industryReports.map(async item => {
          if (item['DRS.MI.IR.File']) {
            try {
              const doc = await getDocFunc(item['DRS.MI.IR.File'])
              return {
                ...item,
                doc,
              }
            } catch (err) { return item }
          }
          return item
        }))
      },
    },
  }
</script>
<style lang="scss" scoped>
  .market-share {
    height: 32px;
    width: 45%;
    background-color: var(--v-trsBack-lighten1);
    div {
      font-size: 14px;
      background-color: #D7E0E2;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .market-wrapper {
    border-top: 1px solid var(--v-trsText-lighten1);
    border-bottom: 1px solid var(--v-trsText-lighten1);
  }
  .text-font-48 {
    font-size: 3rem;
  }
  .v-card {
   .show-btns {
     display: none;
   }
   &:hover {
    opacity: 0.8;
    .show-btns {
      display: block;
    }
   }
    transition: opacity .4s ease-in-out;
  }
  .download-btn {
    background: rgb(0 0 0 / 40%);
  }
  ::v-deep .v-responsive__content {
      width: 100%!important;
      }
</style>
