<template>
  <div>
    <div class="opp-summary mb-5 pt-3">
      <div class="trsText--text text-body-1 font-weight-bold mb-1">
        Opportunity Details
      </div>
      <div class="mb-3 primary--text text-body-1">
        {{ opportunity.name }}
      </div>

      <template v-for="(sum, index) in opportunityData">
        <div
          v-if="sum.text"
          :key="'s'+index"
          class="trsText--text text--lighten-1 mb-1 text-body-1"
        >
          {{ sum.label }}
        </div>
        <div
          v-if="sum.text"
          :key="'v'+index"
          class="trsText--text mb-3 text-body-1"
        >
          {{ sum.text }}
        </div>
      </template>
    </div>
    <div class="issuer-summary pt-3">
      <div class="trsText--text text-body-1 font-weight-bold mb-1">
        Issuer Details
      </div>
      <div class="mb-3 primary--text text-body-1">
        {{ opportunity.issuer.name }}
      </div>

      <template v-for="(sum, index) in issuerData">
        <template v-if="(sum.text && mode == CONSTS.DR_MODES.PRESENTATION) || (mode == CONSTS.DR_MODES.DILIGENCE)">
          <div
            :key="'s'+index"
            class="trsText--text text--lighten-1 mb-1 text-body-1"
          >
            {{ sum.label }}
          </div>
          <div
            v-if="(sum.text && mode == CONSTS.DR_MODES.DILIGENCE) || (mode==CONSTS.DR_MODES.PRESENTATION)"
            :key="'v'+index"
            class="trsText--text mb-3 text-body-1"
          >
            {{ sum.text }}
          </div>
          <div
            v-if="(!sum.text && mode==CONSTS.DR_MODES.DILIGENCE)"
            :key="'v'+index"
            class="trsText--text mb-3"
          >
            <i>Not Available</i>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CommonDigitalRoadshowLandingOverviewKeyValue',

    components: {
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
    },

    data: () => ({
      issuerData: null,
      opportunityData: null,
      mode: null,
      terms: [],
    }),

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      issuerId () {
        return this.opportunity.issuer.id || this.opportunity.issuer.issuer_id
      },
    },

    created () {
      this.loadData()
      this.mode = this.service.getDrMode.call(this)
    },

    methods: {
      async loadData () {
        // Copy of Opportunity/Terms
        const { details } = this.opportunity

        const fields = this.CONSTS.OPPORTUNITY_DETAIL_FORM_TEMPLS[this.opportunity.type.id] || []
        if (fields) {
          this.terms = fields.filter(f => !!details[f.id]).map(f => {
            let value = details[f.id]
            if (f.input === 'currency') {
              value = this.$currencyWithPrecision(value)
            }
            return {
              label: f.label,
              text: value,
            }
          })
        }

        const newData = this.service.getFormData('issuer-tab-data')

        this.issuerSummary(newData)
        // Opp summary + terms
        this.opportunitySummary()
      },
      issuerSummary (newData) {
        const issuer = this.opportunity.issuer
        const details = issuer.details
        this.issuerData = [
          // {
          //   label: 'Structure',
          //   text: newData['DRS.IOPI.CI.Structure'] || '',
          // },
          {
            label: 'Structure',
            text: details.structure ? details.structure.name : '',
          },
          // {
          //   label: 'Founded',
          //   text: details && details.yearFounded ? details.yearFounded : '',
          // },
          // {
          //   label: this.publicBranding.drOptions.overviewTab.showCompanyStage ? 'Stage' : '',
          //   text: this.publicBranding.drOptions.overviewTab.showCompanyStage ? issuer.stage.name : '',
          // },
          // {
          //   label: 'Market',
          //   text: issuer.market && issuer.market.name ? issuer.market.name : '',
          // },
          // {
          //   label: 'NAICS Code',
          //   text: newData['DRS.IOPI.CI.Naics'] ? newData['DRS.IOPI.CI.Naics'] : '',
          // },
          {
            label: 'NAICS Code',
            text: details.naics || '',
          },
          // {
          //   label: 'ISIN #',
          //   text: newData['DRS.IOPI.CI.Isin'] ? newData['DRS.IOPI.CI.Isin'] : '',
          // },
          {
            label: 'ISIN #',
            text: details.isin || '',
          },
          // {
          //   label: 'Headquarters',
          //   text: details && details.address && details.address.country ? details.address.country.name : '',
          // },
          // {
          //   label: '# of Employees',
          //   text: newData['DRS.IOPI.CI.Employees'] ? newData['DRS.IOPI.CI.Employees'] : '',
          // },
          {
            label: '# of Employees',
            text: this.$numberFormatter(details.employees) || '',
          },
        ]
      },
      opportunitySummary () {
        const opp = this.opportunity
        this.opportunityData = opp.opportunity_type !== this.CONSTS.OPPORTUNITY_TYPE.SECONDARY ? [
          {
            label: 'Opportunity Type',
            text: (opp.type || {}).name,
          },
          // {
          //   label: 'Target Raise',
          //   text: this.$currency(opp.size),
          // },
          // {
          //   label: 'Minimum Investment',
          //   text: this.$currency(opp.minimum),
          // },
          {
            label: this.publicBranding.drOptions.overviewTab.showPreMoney ? 'Pre-Money Valuation' : '',
            text: this.publicBranding.drOptions.overviewTab.showPreMoney ? this.$currency(opp.pre) : '',
          },
          {
            label: this.publicBranding.drOptions.overviewTab.showPostMoney ? 'Post-Money Valuation' : '',
            text: this.publicBranding.drOptions.overviewTab.showPostMoney ? this.$currency(opp.post) : '',
          },
          {
            label: this.publicBranding.drOptions.overviewTab.showStartDate ? 'Start Date' : '',
            text: this.publicBranding.drOptions.overviewTab.showStartDate ? this.$date(opp.start_date) : '',
          },
          // {
          //   label: this.publicBranding.drOptions.overviewTab.showEndDate ? 'End Date' : '',
          //   text: this.publicBranding.drOptions.overviewTab.showEndDate ? this.$date(opp.end_date) : '',
          // },
        ] : [
          {
            label: 'Opportunity Type',
            text: (opp.type || {}).name,
          },
          {
            label: this.publicBranding.drOptions.overviewTab.showStartDate ? 'Start Date' : '',
            text: this.publicBranding.drOptions.overviewTab.showStartDate ? this.$date(opp.start_date) : '',
          },
        ]
        if (this.opportunity.details.drType !== this.CONSTS.DR_TYPES.GENERAL) {
          this.opportunityData = this.opportunityData.concat(this.terms)
        }
      },
    },
  }
</script>
