<template>
  <div>
    <div
      v-if="publicBranding.drOptions.overviewTab.showVideoTitle && (internalDrs['IDRS.V.Podcast'] || internalDrs['IDRS.V.Video'])"
      class="text-h3 trsText--text font-weight-bold mb-2"
    >
      Investor Presentation
    </div>
    <v-row :class="publicBranding.drOptions.overviewTab.showVideoTitle ? 'my-2' : 'mb-3'">
      <v-col
        v-if="internalDrs['IDRS.V.Video']"
        cols="12"
        sm="12"
        md="6"
        class="pt-0"
      >
        <div
          v-if="publicBranding.drOptions.overviewTab.showVideoTitle"
          class="text-h4 trsText--text font-weight-bold"
        >
          Video
        </div>
        <video-plyr-component
          :video-src="internalDrs['IDRS.V.Video']"
        />
      </v-col>
      <v-col
        v-if="internalDrs['IDRS.V.Podcast']"
        cols="12"
        sm="12"
        md="6"
        class="pt-0"
      >
        <div
          v-if="publicBranding.drOptions.overviewTab.showVideoTitle"
          class="text-h4 trsText--text font-weight-bold"
        >
          Podcast
        </div>
        <video-plyr-component
          :video-src="internalDrs['IDRS.V.Podcast']"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
  import VideoPlyrComponent from '@/components/common/video-plyr/VideoPlyr'
  export default {
    name: 'OverviewVideoPodcast',

    components: {
      VideoPlyrComponent,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalDrs: null,
    }),
    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    created () {
      this.loadData()
    },
    methods: {
      async loadData () {
        this.internalDrs = this.service.getFormData('internal-drs')
      },
    },
  }
</script>
