<template>
  <div v-if="data.length > 0">
    <v-row>
      <v-col cols="12">
        <hr
          class="mb-2"
        >
        <div class="text-h3 trsText--text font-weight-bold mb-3 pt-5">
          Terms
        </div>
        <opportunity-terms
          :opportunity="opportunity"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import OpportunityTerms from '@/components/common/opportunity/field/Terms'
  export default {
    name: 'OverviewTerms',

    components: {
      OpportunityTerms,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      portal: {
        type: String,
        required: false,
      },
    },

    data: () => ({
      data: [],
    }),

    computed: {
    },

    created () {
      // Copy of Opportunity/Terms
      const { details } = this.opportunity
      const fields = this.CONSTS.OPPORTUNITY_DETAIL_FORM_TEMPLS[this.opportunity.type.id] || []
      const result = fields.filter(f => !!details[f.id]).map(f => {
        let value = details[f.id]
        if (f.input === 'currency') {
          value = this.$currencyWithPrecision(value)
        }
        //  else if (f.input === 'number') {
        //   value = this.$numberFormatter(value)
        // }
        return {
          label: f.label,
          value: value,
        }
      })
      this.data = result.filter(r => r.value)
    },

    methods: {
    },
  }
</script>
