<template>
  <div v-if="data">
    <v-row>
      <v-col cols="12 company-description">
        <div v-if="desc || pitchDeckDoc">
          <hr
            v-if="!isPwa"
            class="mb-0"
          >
          <div class="trsText--text mb-3 pt-5 font-weight-bold text-h3">
            {{ publicBranding.drOptions.overviewTab.companyDescriptionTitle }}
          </div>
          <div
            v-if="pitchDeckDoc"
            class="pitch-deck cursor-pointer"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="pitchDeckDoc.signed_url"
              :mime-type="'pdf'"
              :has-download-btn="pitchDeckDoc.details && pitchDeckDoc.details.download_allowed"
            >
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <common-common-preview-file
                    :url="pitchDeckDoc.signed_url"
                    :mime-type="'pdf'"
                  />
                  <div class="pitch-deck-bottom pa-3 trsBack">
                    <div class="d-flex flex-column">
                      <span class="trsText--text text-body-2 font-weight-bold">
                        Pitch Deck
                      </span>
                      <em class="trsText--text pitch-update">
                        Updated {{ $date(psiFormMeta.modified_on) }}
                      </em>
                    </div>
                    <common-trs-btn
                      v-if="pitchDeckDoc.details && pitchDeckDoc.details.download_allowed"
                      type="secondary"
                      class="primary--text v-btn px-0"
                      target="_blank"
                      rel="noopener noreferrer"
                      :href="pitchDeckDoc.signed_url"
                      @click.stop
                    >
                      <v-icon class="download-icon">
                        mdi-download
                      </v-icon>
                    </common-trs-btn>
                  </div>
                </div>
              </template>
            </common-common-preview-file-modal>
          </div>
          <div v-if="desc">
            <common-rich-text-editor-view
              :value="desc"
            />
          </div>
          <div class="clear-both pt-5 pt-lg-0 pt-md-0" />
        </div>

        <overview-video-podcast
          :opportunity="opportunity"
          :service="service"
        />
        <div v-if="pitch">
          <hr
            v-if="!isPwa"
            class="mb-0"
          >
          <div class="trsText--text py-5 font-weight-bold text-h3">
            Elevator Pitch
          </div>
          <div
            v-for="(ele, index) in pitch"
            :key="index"
          >
            <div
              v-if="ele.value"
              class="border-color"
            />
            <div
              v-if="ele.value"
              class="primary--text text-h4 font-weight-bold pt-5 pb-1 pl-4"
              v-html="ele.label"
            />
            <!-- <more-text
              v-if="ele.value"
              :text="ele.value"
              :max-length="300"
              :show-less="true"
              class="pl-4"
            /> -->
            <div
              v-if="ele.value"
              class="mb-4 pl-4"
            >
              <common-rich-text-editor-view
                :value="ele.value"
              />
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import OverviewVideoPodcast from './OverviewVideoPodcast'
  export default {
    name: 'OverviewCompanyDescription',

    components: {
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
      OverviewVideoPodcast,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isPwa: {
        type: Boolean,
        default: false,
      },
      isTearsheet: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      desc: '',
      pitch: null,
      pitchDeckDoc: null,
      psiFormMeta: {},
    }),

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.data = this.service.getFormData('company-description')
        this.desc = this.data['DRS.IOPI.CI.CompanyDescription']
        this.psiFormMeta = this.service.getFormData('product-service-form-meta')

        let name = ''
        try {
          name = '<ul>'
          this.data['DRS.IOPI.EP.Name'].forEach((ele) => {
            name += `<li>${ele}</li>`
          })
          name += '</ul>'
        } catch (err) {
          name = ''
        }

        this.pitch = [
          {
            label: 'Our core product/service',
            value: name,
          },
          {
            label: 'The problem we’re solving',
            value: this.data['DRS.IOPI.EP.Problem'],
          },
          {
            label: 'Our solution to the problem',
            value: this.data['DRS.IOPI.EP.Solution'],
          },
          {
            label: 'Ideal customers',
            value: this.data['DRS.IOPI.EP.Customer'],
          },
          {
            label: 'How we’re different',
            value: this.data['DRS.IOPI.EP.Difference'],
          },
          {
            label: 'How we’ll make money',
            value: this.data['DRS.IOPI.EP.Economics'],
          },
        ]

        try {
          const psiData = this.service.getFormData('product-services-c')
          if (this.isPwa && Object.keys(this.data).length === 0 && !psiData) {
            this.$root.$emit('checkData', true)
          }
          const doc =
            psiData && psiData.PitchDeck
              ? this.service.portal === this.CONSTS.PORTAL.ISSUER
                ? await this.service.getDocumentById(psiData.PitchDeck)
                : await this.service.getDocumentsByOppAndId(
                  this.opportunity.id,
                  psiData.PitchDeck,
                )
              : null
          this.pitchDeckDoc = doc &&
            (this.service.portal === this.CONSTS.PORTAL.ISSUER
              ? doc
              : {
                ...doc,
                ...doc.dataroom_document,
              })

          // this.pitchDeckDocument =
          //   doc &&
          //   (this.service.portal === this.CONSTS.PORTAL.ISSUER
          //     ? doc.signed_url
          //     : doc.dataroom_document.signed_url)
        } catch (err) {
          console.log(err)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .border-color {
    height: 1px;
    width: 100%;
    background-color: #B9C5C7;
  }
  .pitch-deck {
    float: right;
    width: 398px;
    height: 278px;
    margin-left: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid var(--v-trsBack-base);
    position: relative;
  }
  .pitch-deck-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media only screen and (max-width: 640px) {
    .pitch-deck {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }
  .pitch-deck >>> .actions {
    display: none;
  }
  .pitch-deck >>> .pdf-viewer {
    border: none;
  }
  .clear-both {
    clear: both;
  }
  .pitch-update {
    font: normal italic 12px/14px $font-family-base;
  }
  .company-description {
    p {
      margin-bottom: 12px;
      span {
        font: normal normal 16px/26px $font-family-base;
      }
    }
  }
  .v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0 6px!important;
    min-width: 30px!important;
  }
  .v-btn {
    .download-icon {
      font-size: 16px;
    }
  }
</style>
