<template>
  <div class="d-md-flex mb-5 mt-3">
    <div
      v-if="publicBranding.drOptions.overviewTab.showCompanyStage"
      class="d-flex flex-column align-center text-center mb-6 mb-sm-0"
    >
      <div class="trsText--text mb-2 text-body-1 font-weight-bold">
        Company Stage
      </div>
      <div class="circle-container">
        <company-stage
          v-model="opportunity.issuer.stage"
          :hide-name="true"
        />
      </div>
      <div
        class="text-body-1 bottom-text trsText--text text--lighten-1 mt-2 "
      >
        {{ opportunity && opportunity.issuer && opportunity.issuer.stage && opportunity.issuer.stage.name }}
      </div>
    </div>
    <div class="d-flex flex-column align-center text-center ml-md-5 mb-6 mb-sm-0">
      <div class="trsText--text text-body-1 font-weight-bold mb-2">
        Market
      </div>
      <div class="circle-container">
        <company-market
          :value="companyMarket"
          :hide-name="true"
        />
      </div>
      <div class="text-body-1 trsText--text text--lighten-1 mt-2">
        {{ opportunity.issuer && opportunity.issuer.market && opportunity.issuer.market.name }}
      </div>
    </div>
    <div class="d-flex flex-column align-center text-center ml-md-5">
      <div class="trsText--text text-body-1 font-weight-bold mb-2">
        Target Raise
      </div>
      <div
        class="circle-container"
        style="border: none"
      >
        <div class="trsText--text text--lighten-1 text-body-2 font-weight-bold overflow-hidden">
          {{ $formatThousandReadable(opportunity.size) }}
        </div>
      </div>
      <div class="text-body-1 trsText--text text--lighten-1 mt-2">
        Est. by {{ $date(opportunity.end_date) }}
      </div>
    </div>
  </div>
</template>

<script>
  import CompanyStage from '@/components/common/opportunity/field/CompanyStage'
  import CompanyMarket from '@/components/common/opportunity/field/Market'

  export default {
    components: {
      CompanyStage,
      CompanyMarket,
    },
    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
    },

    data () {
      return {
      }
    },

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      companyMarket () {
        return this.opportunity.issuer.market || {}
      },
    },

    watch: {
    },

    created () {
    },

    methods: {
    },
  }
</script>

<style lang="scss" scoped>
  .circle-container{
    height: 83px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 83px;
    align-items: center;
  }
</style>
