<template>
  <div
    class="d-flex cursor-pointer overview-nav-header"
    @click="$emit('click')"
  >
    <div class="primary--text text-h4 font-weight-bold">
      {{ title }}
    </div>
    <div class="black--text text-h5 font-weight-bold">
      <v-icon>mdi-chevron-right</v-icon>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'OverviewNavHeader',

    components: {
    },

    props: {
      title: {
        type: String,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
