<template>
  <div>
    <div class="d-flex justify-space-between align-items-center">
      <span class="trsText--text text-h4 font-weight-regular">
        Bank Details
      </span>

      <!-- <plaid-link
        :token="linkToken"
        v-bind="{ onSuccess }"
      >
        <div class="primary--text text-caption font-weight-regular">
          <v-icon color="primary">
            mdi-login
          </v-icon>
          Link Bank Account
        </div>
      </plaid-link> -->
    </div>

    <common-trs-data-table
      :headers="headers"
      :items="accounts"
      :options.sync="options"
      :server-items-length="totalCount"
      :loading="isLoading"
      hide-pagination
    >
      <template v-slot:item.bank_name="{ item }">
        <div>{{ item.bank_name }}</div>
      </template>
      <template v-slot:item.accountNo="{ item }">
        <div>{{ item.mask }}</div>
      </template>
      <template v-slot:item.accountType="{ item }">
        <div>{{ $titlecase(item.account_type) }}</div>
      </template>
      <template v-slot:item.balance="{ item }">
        <div>{{ $currencyFormatter(item.balance) }}</div>
      </template>
      <template v-slot:item.actions="{ item }">
        <div class="d-flex">
          <confirm-account-setup-modal
            :entity="entityData"
            @openSetupAccountModal="() => {
              setupAccountModalOpen=true;
              selectedItem=item
            }"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                type="secondary"
                v-on="on"
              >
                Account Setup
              </common-trs-btn>
            </template>
          </confirm-account-setup-modal>
          <transfer-modal
            @openTransferModal="()=>{transferModalOpen=true;}"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                type="secondary"
                v-on="on"
              >
                Transfer
              </common-trs-btn>
            </template>
          </transfer-modal>
        </div>
      </template>

      <template v-slot:no-data>
        <div class="primary--text text-body-1 font-weight-regular d-flex justify-center">
          <span class="mr-1">Your bank account is not linked.&nbsp;</span>
          <plaid-link
            :token="linkToken"
            v-bind="{ onSuccess }"
          >
            <div style="text-decoration: underline;">
              Click Here
            </div>
          </plaid-link>
        </div>
      </template>
      <template v-slot:body.append>
        <tr v-if="accounts.length > 0">
          <td colspan="6">
            <div class="primary--text text-body-1 font-weight-regular d-flex justify-center">
              <plaid-link
                :token="linkToken"
                v-bind="{ onSuccess }"
              >
                <div style="text-decoration: underline;">
                  Link Another Bank Account
                </div>
              </plaid-link>
            </div>
          </td>
        </tr>
      </template>
    </common-trs-data-table>
    <setup-account-modal
      v-model="setupAccountModalOpen"
      :account="selectedItem"
      :entity="entityData"
    />
  </div>
</template>
<script>
  import PlaidLink from 'vue-plaid-link'
  import * as plaidServices from '@/components/common/services/plaid'
  import * as entitiesServices from '@/components/common/services/entities'
  import SetupAccountModal from './plaid/SetupAccountModal'
  import ConfirmAccountSetupModal from './plaid/ConfirmAccountSetupModal'
  import TransferModal from './Transfer/TransferModal'

  export default {
    name: 'PlaidTable',

    components: {
      PlaidLink,
      SetupAccountModal,
      ConfirmAccountSetupModal,
      TransferModal,
    },

    props: {
      investment: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
      linkToken: null,
      headers: [
        { text: 'Name of Bank', value: 'bank_name', sortable: false },
        { text: 'Account No', value: 'accountNo', sortable: false },
        { text: 'Account Type', value: 'accountType', sortable: false },
        { text: 'Balance', value: 'balance', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      isLoading: false,
      accounts: [],
      options: {},
      totalCount: 0,
      entityData: null,
      setupAccountModalOpen: false,
      selectedItem: null,
      transferModalOpen: false,
    }),

    computed: {
      entity () {
        return this.investment ? this.investment.entity : null
      },
    },

    watch: {
    },

    created () {
    },

    mounted () {
      this.loadData()
      this.generateLinkToken()
    },

    methods: {
      async loadData () {
        this.isLoading = true
        try {
          const [accountResp, entityResp] = await Promise.all([
            plaidServices.getAccounts(this.investment.entity.trellis_uid, {
              ...this.options,
              itemsPerPage: 10000,
            }),
            entitiesServices.getById(this.entity.trellis_uid, null, { base: 'tenant' }),
          ])

          this.entityData = entityResp
          this.accounts = []
          accountResp.results.map(result => {
            result.account_details.map(account => {
              this.accounts.push({
                ...result,
                ...account,
                id: account.account_id,
              })
            })
          })
          this.totalCount = accountResp.count
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load the document.',
          })
        }
        this.isLoading = false
      },
      async generateLinkToken () {
        const linkTokenResp = await plaidServices.getLinkToken(this.investment.entity.trellis_uid)
        this.linkToken = linkTokenResp.link_token
      },
      async onSuccess (data) {
        try {
          await plaidServices.addAccount(this.investment.entity.trellis_uid, {
            public_token: data,
          })

          this.loadData()
          this.$store.commit('app/showMessage', { text: 'Successfully connected to the account.' })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to connect the account.',
          })
        }
      },

    },
  }
  </script>
