<template>
  <div>
    <v-progress-circular
      v-if="loading"
      color="primary"
      indeterminate
    />
    <v-simple-table class="required-doc-table pr-md-2 pr-lg-2">
      <tbody>
        <tr
          v-for="(document, didx) of documents"
          :key="didx"
          class="cursor-pointer"
          @click="selectDocument(document, didx)"
        >
          <td class="primary--text text-subtitle-2 font-weight-medium word-wrap">
            {{ document.name }}
          </td>
          <td class="text-right">
            <span v-if="document.viewedStatus">
              <v-icon>mdi-check</v-icon>
            </span>
            {{ viewStatusText(document.viewedStatus) }}
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-dialog
      :value="!!selectedDocument"
    >
      <common-trs-modal-card
        v-if="selectedDocument"
      >
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>
            {{ selectedDocument.name }}
          </common-trs-modal-card-title-content>

          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="closeViewDocument"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <document
          v-if="selectedDocument"
          :mode="'view'"
          :doc="selectedDocument"
          :type="CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM"
          :opp-id="opportunity.id"
          :portal="portal"
          :status="status"
          :already-viewed-docs="opportunity.required_documents_viewed"
          :load-from="selectedDocument.loadFrom"
          @nextDoc="nextDoc"
          @prevDoc="prevDoc"
          @close="closeViewDocument"
          @viewDocument="viewDocument"
        />
      </common-trs-modal-card>
    </v-dialog>

    <subscription-item-status
      :status="status"
    />
  </div>
</template>
<script>
  import Document from '../../../documents/Document'
  import SubscriptionItemStatus from './SubscriptionItemStatus'

  export default {
    name: 'SubscriptionReviewDocuments',
    components: {
      Document,
      SubscriptionItemStatus,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      portal: {
        type: String,
        required: false,
      },
    },
    data: () => ({
      loading: false,
      documents: [],
      selectedDocument: null,
      selectedDocIndex: -1,
      needReload: false,
    }),
    computed: {
      stepCompleted () {
        return !this.loading && (!!this.opportunity.all_required_documents_viewed_date || this.documents.length === 0)
      },
      status () {
        const remainingDocs = this.documents.filter(doc => !doc.viewedStatus)
        if (this.loading) {
          return null
        }
        if (remainingDocs.length > 0) {
          return {
            text: `${remainingDocs.length} documents to review`,
          }
        }
        if (this.documents.length === 0) {
          return {
            text: 'No documents are required to review',
          }
        }
        return {
          level: 'success',
          text: 'All documents are reviewed',
        }
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
      opportunity () {
        console.log('opportunity changed')
        this.loadData()
      },
    },
    mounted () {
      this.loadData()
    },
    methods: {
      prevDoc () {
        if (this.selectedDocIndex > 0) {
          this.selectedDocIndex--
          this.selectedDocument = this.documents[this.selectedDocIndex]
        } else {
          this.$store.commit('app/showMessage', { text: 'Reached the end of the documents.' })
        }
      },
      nextDoc () {
        if (this.selectedDocIndex < this.documents.length - 1) {
          this.selectedDocIndex++
          this.selectedDocument = this.documents[this.selectedDocIndex]
        } else {
          this.$store.commit('app/showMessage', { text: 'Reached the end of the documents.' })
        }
      },
      async loadData () {
        this.loading = true
        try {
          const docs = await this.service.loadAllDataRoomDocuments(this.opportunity.id, true, true)

          this.documents = docs.map((doc, index) => {
            const { loadFrom } = doc
            const alreadyViewedDocs = this.opportunity.required_documents_viewed
            let viewedStatus = {}
            switch (loadFrom) {
              case this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC:
              case this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC:
                viewedStatus = (alreadyViewedDocs.data_room_docs || []).find(d => d.doc_id === doc.document_id)
                break
              case this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC:
                viewedStatus = (alreadyViewedDocs.tenant_compliance_docs || []).find(d => d.doc_id === doc.document_id)
                break
            }
            return {
              ...doc,
              viewedStatus,
              nextButtonAllowed: index < docs.length - 1,
              prevButtonAllowed: index > 0,
            }
          })
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load required documents',
          })
        }
        this.loading = false
      },
      viewStatusText (viewedStatus) {
        if (!viewedStatus) {
          return 'Need to view'
        } else {
          return `Viewed ${this.$date(viewedStatus.viewed_date)}`
        }
      },
      selectDocument (document, idx) {
        this.selectedDocument = document
        this.selectedDocIndex = idx
        this.needReload = false
      },
      closeViewDocument () {
        this.selectedDocument = null
        if (this.needReload) {
          this.$emit('triggerAction', 'reloadOpportunity')
        }
      },
      async viewDocument (item) {
        try {
          await this.service.viewDocument(item.loadFrom, this.opportunity.id, this.selectedDocument.document_id)
          this.needReload = true
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to mark the document as read',
          })
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .required-doc-table {
    table {
        tr {
          td {
              height: 39px!important;
          }
        }
    }
  }
  .word-wrap {
    word-break: break-word!important;
  }
</style>
