<template>
  <div class="d-flex flex-column">
    <div class="d-lg-flex d-md-flex d-sm-flex justify-space-between mb-0">
      <div class="trsText--text text--lighten-1 text-h3 font-weight-bold align-center d-flex">
        Investment History
      </div>
      <div
        :class="{
          'mt-2': $vuetify.breakpoint.smAndDown,
        }"
      >
        <common-trs-btn
          v-if="showCreateBtn"
          type="primary"
          :disabled="!canCreateSubscription"
          class="white--text"
          large
          @click="createHandle"
        >
          CREATE NEW INVESTMENT
        </common-trs-btn>

        <begin-k-y-c-btn
          v-if="!canCreateSubscription"
          :is-on-subscription="true"
        />
        <label
          v-if="!canCreateSubscription"
          class="primary--text text-body-2 align-self-center d-block mt-2"
        >
          KYC has not been completed for this user
        </label>
      </div>
    </div>
    <common-input-radio-group :value="investment && investment.trellis_iid">
      <v-simple-table class="investment-history-table">
        <tbody>
          <tr>
            <td
              width="10"
              class="pr-0"
            />
            <td>Investment ID</td>
            <td>Investment Amount</td>
            <td>Committed Amount</td>
            <td>Created As</td>
            <td>Status</td>
            <td>Last Activity</td>
          </tr>
          <tr v-if="investments.length === 0">
            <td colspan="5">
              No investments yet.
            </td>
          </tr>
          <tr
            v-for="inv of investments"
            :key="inv.id"
            class="cursor-pointer"
            :class="{
              'primary--text': investment && investment.id === inv.id
            }"
            @click="$emit('select-investment', inv.id)"
          >
            <td class="pr-0">
              <common-input-radio
                :value="inv.trellis_iid"
              />
            </td>
            <td>{{ inv.trellis_iid }}</td>
            <td>{{ inv.investment_amount ? $currency(inv.investment_amount) : '-' }}</td>
            <td>{{ inv.committed_amount ? $currency(inv.committed_amount) : '-' }}</td>
            <td>{{ getCreatedAs(inv) }}</td>
            <td>
              {{ getStatusText(inv) }}
              <v-icon
                v-if="docuSignInProgress(inv)"
                :color="investment && inv.trellis_iid === investment.trellis_iid ? 'primary': ''"
                class="ml-2"
                @click.stop="$emit('triggerAction', 'reloadOneInvestment', inv.id)"
              >
                mdi-refresh
              </v-icon>
            </td>
            <td>{{ $date(inv.modified_on) }}</td>
          </tr>
        </tbody>
      </v-simple-table>
    </common-input-radio-group>
  </div>
</template>
<script>
  import BeginKYCBtn from '../../components/BeginKYCBtn'

  export default {
    name: 'SubscriptionDealHistory',
    components: { BeginKYCBtn },
    props: {
      investments: {
        type: Array,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      opportunity: {
        type: Object,
        required: false,
      },
      opportunityStatus: {
        type: Object,
        required: false,
      },
      stepCompleted: {
        type: Object,
        required: true,
      },
      isDealDocAvailable: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      canCreateSubscription () {
        return this.profileData.is_eligible_for_investment || !!this.opportunity.details.kyc_post_subscription
      },
      profileData () {
        return this.$store.getters['account/profile']
      },
      showCreateBtn () {
        return (!this.investment || this.investment.id) &&
          !(this.opportunityStatus && this.opportunityStatus.closed) &&
          this.isDealDocAvailable &&
          this.canCreateSubscription
      },
    },
    methods: {
      docuSignInProgress (investment) {
        const initiatedOn = +new Date(investment.signing_initiated_on)
        const expired = +new Date() - initiatedOn
        return investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS && expired < this.CONSTS.DOCUSIGN_EXPIRE_TIME
      },
      getCreatedAs (investment) {
        return investment.entity ? investment.entity.name : investment.investor.name
      },
      getStatusText (investment) {
        if (investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS && !this.docuSignInProgress(investment)) {
          return this.CONSTS.DL_INVESTMENT_STATUS_TEXT[this.CONSTS.DL_INVESTMENT_STATUS.IOI_SENT]
        }
        if (this.CONSTS.DL_INVESTMENT_STATUS_TEXT[investment.status]) {
          return this.CONSTS.DL_INVESTMENT_STATUS_TEXT[investment.status]
        }
        if (this.CONSTS.DL_PAYMENT_STATUS_TEXT[investment.payment_status]) {
          return `Payment ${this.CONSTS.DL_PAYMENT_STATUS_TEXT[investment.payment_status]}`
        }
      },
      createHandle () {
        this.$emit('create')
      },
    },
  }
</script>
<style lang="scss" scoped>
  .investment-history-table {
    display: grid;
    table {
        tr {
          td {
            font: normal normal 0.875rem/1rem $font-family-base;
            height: 39px!important;
          }
        }
    }
  }
</style>
