<template>
  <div>
    <div
      v-if="!investment || !investment.entity || !canInvestAsIndividual"
    />
    <div v-else-if="!stepCompleted">
      <common-trs-btn
        v-if="showCreateBtn"
        type="secondary"
        large
        class="mb-lg-3"
        :loading="loading"
        @click="createInvestment({})"
      >
        <span>EDIT CONTRACT</span>
      </common-trs-btn>
      <v-dialog
        v-if="showPreForm"
        v-model="preFormVisible"
        max-width="800"
      >
        <template v-slot:activator="{ on, attrs }">
          <common-trs-btn
            type="secondary"
            large
            v-bind="attrs"
            :loading="loading"
            class="mb-lg-3"
            v-on="on"
          >
            <span>EDIT CONTRACT</span>
          </common-trs-btn>
        </template>
        <v-card>
          <v-card-title clos>
            <div>
              Fill in your data
              <v-icon
                @click="preFormVisible = false"
              >
                mdi-close
              </v-icon>
            </div>
          </v-card-title>
          <v-card-text>
            <form-templates-index
              :key="'post'"
              elevation="0"
              :template="preForm"
              :mode="'create'"
              max-width="100%"
              @submit="createInvestment($event)"
            />
          </v-card-text>
        </v-card>
      </v-dialog>
      <common-document-pdf-form
        v-if="showPDFForm"
        :key="investment.trellis_iid && loading"
        class="mt-5"
        :initial-visible="pdfFormInitialVisible"
        :doc-url="dealDocument.signed_url"
        :initial-data="investment.data_list"
        :no-sign-button="true"
        :guide-title="'Document Editing'"
        :guide-text="instructionText"
        :show-guide="true"
        @fill-form="saveDealFormData($event)"
        @close="closeForm"
      >
        <template v-slot:activator="{ on, attrs }">
          <common-trs-btn
            type="secondary"
            large
            v-bind="attrs"
            class="mb-lg-3"
            :loading="loading"
            v-on="on"
          >
            <span>EDIT CONTRACT</span>
          </common-trs-btn>
        </template>
      </common-document-pdf-form>
    </div>
    <subscription-item-status
      v-if="investment"
      :status="status"
    />
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'
  import FormTemplatesIndex from '@/components/common/fmsvc/form-templates/Index'

  export default {
    name: 'SubscriptionFillForm',
    components: {
      SubscriptionItemStatus,
      FormTemplatesIndex,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      intendedAudience: {
        type: String,
        default: null,
        required: false,
      },
      custodian: {
        validate: () => true,
        required: true,
      },
    },
    data: () => ({
      loading: false,
      preForm: null,
      preFormVisible: false,
      pdfFormInitialVisible: false,
    }),
    computed: {
      canInvestAsIndividual () {
        if (this.investment && this.investment.entity &&
          this.investment.entity.type === this.CONSTS.ENTITY_TYPE.INDIVIDUAL &&
          !this.opportunity.details.kyc_post_subscription) {
          return this.profileData.has_ssn
        }
        return true
      },
      profileData () {
        return this.$store.getters['account/profile']
      },
      instructionText () {
        if (this.opportunity.auto_approve_deal) {
          return 'Please edit this document and click the “Save Data” button at either the top right or bottom center of the form. You may return to this section as often as you need until you complete the form. Once complete, click on the “DOCUSIGN“ button of the ”Sign and Send Contract” from the Subscription Tab to digitally sign and send this document.'
        } else {
          return 'Please edit this document and click the “Save Data” button at either the top right or bottom center of the form. You may return to this section as often as you need until you complete the form. Once complete, click on the “Send for Review” button in the Advisor Review section.  Your Advisor will review the paperwork, and once approved, you will have the opportunity to sign.  At that time the “Sign and Send Contract” button will be activated and you can click the “Docusign” button to digitally sign your contract.'
        }
      },
      stepCompleted () {
        return this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_PENDING_REVIEW]
      },
      status () {
        if (this.stepCompleted) {
          return {
            level: 'success',
            text: `Completed at ${this.$date(this.investment.signed_deal_document.signed_deal_date)}`,
          }
        }
        return null
      },
      dealDocument () {
        try {
          const dealDoc = this.opportunity.deal_document.find(doc => doc.intended_audience === this.intendedAudience)
          const investmentDoc = this.investment && this.investment.details
          return investmentDoc || dealDoc
        } catch (e) {
          return null
        }
      },
      showPreForm () {
        return this.preForm && !this.investment.trellis_iid
      },
      showPDFForm () {
        return this.investment.trellis_iid
      },
      showCreateBtn () {
        return !this.preForm && !this.investment.trellis_iid && this.intendedAudience
      },
      allRequiredFieldsFilled () {
        return !(this.investment && this.investment.data_list.find(f => f.field_flag === 'required' && !f.value))
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
      investment: {
        handler (newInvestment, oldInvestment) {
          this.loadData()
          if (oldInvestment &&
            newInvestment &&
            !oldInvestment.trellis_iid &&
            newInvestment.trellis_iid
          ) {
            this.preFormVisible = false
            this.$nextTick(() => {
              this.pdfFormInitialVisible = false
            })
          } else {
            this.loading = false
          }
          if (this.investment && this.investment.id && this.allRequiredFieldsFilled) {
            this.$emit('completed', true)
          }
        },
        immediate: true,
      },
      intendedAudience: {
        handler (val) {
          if (val) {
            this.loadData()
          }
        },
        immediate: true,
      },
    },
    methods: {
      async loadData () {
        await this.getDealPreForm()
      },
      async getDealPreForm () {
        try {
          this.preForm = await this.service.getDealPreForm(this.opportunity.id, this.intendedAudience, this.dealDocument.doc_id)
        } catch (err) {
          console.log('No preform for this opportunity. Flow as it is.')
        }
      },
      async createInvestment (formData) {
        this.loading = true
        this.pdfFormInitialVisible = true
        try {
          if (Object.keys(formData).length !== 0) {
            formData = {
              form: this.preForm.id,
              response: formData,
            }
          }
          const entityId = this.investment.entity.trellis_uid
          const newInvestment = await this.service.createInvestment(
            this.opportunity.id,
            entityId,
            formData,
            this.intendedAudience,
            this.dealDocument.doc_id,
            this.custodian ? this.custodian.id : '',
          )
          this.$emit('triggerAction', 'newInvestment', newInvestment)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to create new investment',
          })
        }
        this.loading = false
      },
      async saveDealFormData (data) {
        try {
          await this.service.saveDealFormData(this.investment.trellis_iid, data)
          this.$store.dispatch('app/message', 'Saved your data')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save form data',
          })
        }
      },
      closeForm () {
        this.loading = true
        this.$emit('triggerAction', 'reloadInvestment')
      },
    },
  }
</script>
