<template>
  <div v-if="investment || stepCompleted">
    <!-- <wire-payment
      v-if="stepStarted"
      :investment="investment"
      :is-issuer="false"
      :is-on-roadshow="true"
      :show-chat="true"
      @load-data="reloadInvestment"
    /> -->
    <common-trs-btn
      type="secondary"
      large
      class="mb-lg-3"
      :disabled="!isButtonEnabled"
      :loading="sendingFund"
      @click="sendPaymentAcknowledgeMent"
    >
      <span>TRANSFER FUND</span>
    </common-trs-btn>

    <subscription-item-status
      :class="{ 'mt-5': status }"
      :status="status"
    />
  </div>
</template>
<script>
  // import WirePayment from '@/components/common/wire-payment/WirePayment'
  import * as wirePaymentService from '@/components/common/wire-payment/service'
  import SubscriptionItemStatus from './SubscriptionItemStatus'

  export default {
    name: 'SubscriptionFundCustodyTransfer',
    components: {
      // WirePayment,
      SubscriptionItemStatus,
    },
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      custodian: {
        validate: () => true,
      },
      investorCustodian: {
        validate: () => true,
      },
      investorCustodianBalance: {
        validate: () => true,
      },
      service: {
        validate: () => true,
      },
      opportunity: {
        validate: () => true,
      },
    },
    data: () => ({
      loading: false,
      loadingBalance: false,
      sendingFund: false,
    }),
    computed: {
      stepStarted () {
        return this.investment &&
          this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED &&
          this.investorCustodianBalance
          // true
      },
      stepCompleted () {
        return this.investment && this.checkPaymentStatus === this.CONSTS.PAYMENT_STATUS.CONFIRMED
      },
      isButtonEnabled () {
        return !this.stepCompleted &&
          this.stepStarted &&
          this.investorCustodianBalance.balance >= this.investment.committed_amount &&
          (this.checkPaymentStatus !== this.CONSTS.PAYMENT_STATUS.CONFIRMED && this.checkPaymentStatus !== this.CONSTS.PAYMENT_STATUS.SENT)
      },
      checkPaymentStatus () {
        let status = ''
        this.investment.payments.forEach((element) => {
          status = element.status
        })
        return status
      },
      status () {
        switch (this.checkPaymentStatus) {
          case this.CONSTS.DL_PAYMENT_STATUS.SENT:
            return {
              text: `Payment sent at ${this.$date(this.investment.payment_sent_on)}`,
            }
          case this.CONSTS.DL_PAYMENT_STATUS.CONFIRMED:
            return {
              level: 'success',
              text: `Payment confirmed at ${this.$date(this.investment.payment_confirmed_on)}`,
            }
        }
        return null
      },
    },
    watch: {
      investment: {
        handler (val) {
          console.log('invest changed', val)
        },
        deep: true,
        immediate: true,
      },
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      reloadInvestment () {
        this.$emit('triggerAction', 'reloadInvestment')
      },
      async sendPaymentAcknowledgeMent () {
        this.sendingFund = true
        try {
          const payload = {
            note: '',
            payment_status: 'SENT',
          }
          // eslint-disable-next-line no-unused-vars
          await wirePaymentService.sendPaymentAcknowledgeMent(
            this.investment.id,
            payload,
            this.investment.payments[0].id,
            { base: 'tenant' },
            false,
          )
          this.$store.commit('app/showMessage', { text: 'Fund was transferred successfully.' })

          this.reloadInvestment()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to transfer the fund.',
          })
        }
        this.sendingFund = false
      },
    },
  }
</script>
