<template>
  <div class="flex-fill">
    <div
      v-if="status"
      class="divider"
    />
    <div
      v-if="status"
      class="mt-4 trsText--text text-subtitle-2 font-weight-regular d-flex justify-space-between align-center"
    >
      <div class="d-flex align-items-center">
        <span v-if="status.level==='success'">
          <v-icon class="pr-1">mdi-check</v-icon>
        </span>
        <span v-if="status.level==='warning'">Warning</span>
        <span v-if="status.level==='danger'">Warning</span>
        <span v-if="status.level==='info'">Warning</span>
        <span v-html="status.text" />
        <v-progress-circular
          v-if="showSpin"
          indeterminate
          size="24"
          color="primary"
          class="ml-2"
        />
      </div>
      <div>
        <slot name="right-actions" />
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'SubscriptionItemStatus',
    props: {
      showSpin: {
        type: Boolean,
        default: false,
      },
      status: {
        validate: () => true,
      },
    },
  }
</script>
<style lang="scss" scoped>
  .divider {
    border-bottom: 1px solid var(--v-trsBack-base);
  }
</style>
