<template>
  <div>
    <sign-custodian-document
      v-if="showSignCustodianDocumentBtn"
      :opportunity="opportunity"
      :custodian="custodian"
      :investment="investment"
      :investor-custodian="investorCustodian"
      :service="service"
      @reload="reloadInvestment"
    >
      <template v-slot:activator="{ on, attrs, loading: loadingCustDoc }">
        <common-trs-btn
          type="secondary"
          large
          class="mb-lg-3"
          :disabled="!stepStarted"
          v-bind="attrs"
          :loading="loadingCustDoc"
          v-on="on"
        >
          <span>SIGN CUSTODY AGREEMENT</span>
        </common-trs-btn>
      </template>
    </sign-custodian-document>
    <div
      v-if="stepStarted && signedCustodianDocument && !counterSignedCustodianDocument"
    >
      <common-common-preview-file-modal
        key="signed-document"
        :title="'Custodian Document'"
        fullscreen
        :url="signedCustodianDocument.signed_url"
        :mime-type="signedCustodianDocument.mime_type"
        :has-download-btn="true"
      >
        <template v-slot:activator="{ on }">
          <common-trs-btn
            type="secondary"
            large
            class="mb-5"
            v-on="on"
          >
            View Signed Custodian Document
          </common-trs-btn>
        </template>
      </common-common-preview-file-modal>
    </div>
    <div
      v-if="stepStarted && counterSignedCustodianDocument"
    >
      <common-common-preview-file-modal
        key="counter-signed-document"
        :title="'Custodian Document'"
        fullscreen
        :url="counterSignedCustodianDocument.signed_url"
        :mime-type="counterSignedCustodianDocument.mime_type"
        :has-download-btn="true"
      >
        <template v-slot:activator="{ on }">
          <common-trs-btn
            type="secondary"
            large
            class="mb-5"
            v-on="on"
          >
            View Counter Signed Custodian Document
          </common-trs-btn>
        </template>
      </common-common-preview-file-modal>
    </div>

    <subscription-item-status
      :class="{ 'mt-5': status }"
      :status="status"
      :show-spin="signInProgress"
    />
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'
  import SignCustodianDocument from '@/components/common/custodian/SignCustodianDocument'

  export default {
    name: 'SubscriptionOpenCustody',
    components: { SubscriptionItemStatus, SignCustodianDocument },
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      custodian: {
        validate: () => true,
      },
      investorCustodian: {
        validate: () => true,
      },
      opportunity: {
        validate: () => true,
      },
      service: {
        validate: () => true,
      },
      investorCustodianBalance: { validate: () => true },
    },
    data: () => ({
      loading: false,
    }),
    computed: {
      signInProgress () {
        return this.investorCustodian && this.investorCustodian.custodian_account_status === 'SIGN_IN_PROGRESS'
      },
      showSignCustodianDocumentBtn () {
        // if investorCustodian is not yet created or not yet signed
        return this.stepStarted && (!this.investorCustodian || !this.signedCustodianDocument) && !this.signInProgress
      },
      signedCustodianDocument () {
        if (this.investorCustodian && this.investorCustodian.custodian_signed_document &&
          this.investorCustodian.custodian_signed_document.signed_url) {
          return this.investorCustodian.custodian_signed_document
        } else {
          return null
        }
      },
      counterSignedCustodianDocument () {
        if (this.investorCustodian &&
          this.investorCustodian.custodian_counter_signed_document &&
          this.investorCustodian.custodian_counter_signed_document.signed_url) {
          return this.investorCustodian.custodian_counter_signed_document
        } else {
          return null
        }
      },
      stepStarted () {
        return this.investment &&
          this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED &&
          this.investment.entity &&
          this.investment.entity.trellis_uid
      },
      stepCompleted () {
        return this.stepStarted &&
          this.signedCustodianDocument &&
          (!this.custodian.is_counter_signed_required ||
            (this.custodian.is_counter_signed_required && this.counterSignedCustodianDocument))
      },
      checkPaymentStatus () {
        let status = ''
        this.investment.payments.forEach((element) => {
          status = element.status
        })
        return status
      },
      status () {
        if (this.stepCompleted) {
          const finishedDate = this.custodian.is_counter_signed_required
            ? this.counterSignedCustodianDocument.counter_signed_custodian_date
            : this.signedCustodianDocument.counter_signed_custodian_date
          return {
            level: 'success',
            text: `Completed at ${this.$date(finishedDate)}`,
          }
        }
        if (this.signInProgress) {
          return {
            text: 'Sign in progress',
          }
        }
        if (this.signedCustodianDocument &&
          !this.counterSignedCustodianDocument &&
          this.custodian &&
          this.custodian.is_counter_signed_required) {
          return {
            text: 'Review may take up to 24 hours.',
          }
        }
        return null
      },
    },
    watch: {
      'investment.id': {
        handler (val) {
          this.loadData()
        },
        immediate: true,
      },
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    mounted () {
    },
    methods: {
      reloadInvestment () {
        this.$emit('triggerAction', 'reloadInvestment')
      },
      async loadData () {
        if (!this.stepStarted) {

        }
      },
    },
  }
</script>
