<template>
  <div class="d-flex flex-column my-4">
    <label class="trsText--text text--lighten-1 text-body-1 font-weight-bold">
      Select the deal document.
    </label>
    <common-input-select
      v-model="selectedAudience"
      :disabled="!!investment.id"
      class="mt-3"
      label="Intended Audience"
      color="primary"
      :items="audienceList"
      item-text="name"
      item-value="id"
      validate-on-blur
      hide-details
    />
  </div>
</template>
<script>
  export default {
    name: 'SubscriptionAudienceSelection',
    props: {
      entities: {
        type: Array,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      opportunity: {
        type: Object,
        required: true,
      },
    },
    data: () => ({
    }),
    computed: {
      selectedAudience: {
        get () {
          return (this.investment &&
            this.investment.details &&
            this.investment.details.intended_audience) ? this.investment.details.intended_audience : null
        },
        set (id) {
          this.$emit('select-audience', id)
        },
      },
      audienceList () {
        const list = []
        this.opportunity.deal_document.forEach(element => {
          list.push(element.intended_audience)
        })
        return list
      },
    },
  }
</script>
