<template>
  <div v-if="investment">
    <div
      v-if="showSignatories"
      class="d-flex align-center pb-5"
    >
      <label class="mr-auto text-body-2 font-weight-bold">Signatories</label>
      <common-trs-btn
        v-if="!newSignatory"
        text
        color="primary"
        class="text-body-2 font-weight-bold mb-3"
        @click="newSignatory = {}"
      >
        <v-icon>
          mdi-plus
        </v-icon>
        Add Signatory
      </common-trs-btn>
    </div>
    <div
      v-if="newSignatory"
      class="mb-4"
    >
      <validation-observer
        ref="observer"
        v-slot="{ valid }"
        class="ml-auto"
      >
        <v-row dense>
          <v-col
            cols="12"
            sm="6"
            md="6"
            lg="6"
            class="pb-lg-0 pb-md-0"
          >
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="First name"
            >
              <common-input-text-field
                v-model="newSignatory.first_name"
                :error-messages="errors"
                hide-details
              >
                <template v-slot:label>
                  First Name
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="6"
            lg="6"
            class="pb-lg-0 pb-md-0"
          >
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="Last name"
            >
              <common-input-text-field
                v-model="newSignatory.last_name"
                :error-messages="errors"
                hide-details
              >
                <template v-slot:label>
                  Last Name
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col
            cols="12"
            sm="6"
            md="6"
            lg="6"
          >
            <validation-provider
              v-slot="{ errors }"
              rules="required|email"
              name="Email"
            >
              <common-input-text-field
                v-model="newSignatory.email"
                :error-messages="errors"
                hide-details
              >
                <template v-slot:label>
                  Email
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="6"
            lg="6"
            class="d-flex align-center"
          >
            <common-trs-btn
              :disabled="!valid"
              large
              type="secondary"
              @click="addSignatory"
            >
              ADD
            </common-trs-btn>
            <common-trs-btn
              large
              type="secondary"
              class="ml-3"
              @click="newSignatory = null"
            >
              CANCEL
            </common-trs-btn>
          </v-col>
        </v-row>
      </validation-observer>
    </div>
    <v-simple-table
      v-if="showSignatories"
      class="signatories-table mb-5"
    >
      <tbody>
        <tr>
          <td>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</td>
          <td>{{ investment.entity.name }}</td>
          <td />
        </tr>
        <tr
          v-for="(signatory, sidx) of signatories"
          :key="signatory.email"
        >
          <td>
            {{ signatory.first_name }} {{ signatory.last_name }}
          </td>
          <td> {{ signatory.email }} </td>
          <td>
            <common-trs-btn
              icon
              @click="removeSignatory(sidx)"
            >
              <v-icon>mdi-close</v-icon>
            </common-trs-btn>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <common-trs-btn
      v-if="beforeSign"
      type="secondary"
      large
      :class="{ 'mb-5': !!status }"
      :loading="loading"
      :disabled="!enableDocSign"
      class="mb-lg-3"
      @click="sign"
    >
      <span>DocuSign</span>
    </common-trs-btn>
    <common-common-preview-file-modal
      v-if="stepCompleted"
      fullscreen
      :title="signedDealDocument.title"
      :url="signedDealDocument.document.signed_url"
      :mime-type="signedDealDocument.document.mime_type"
      :has-download-btn="true"
    >
      <template v-slot:activator="{ on }">
        <common-trs-btn
          type="secondary"
          large
          class="mb-5"
          v-on="on"
        >
          View Signed Deal Document
        </common-trs-btn>
      </template>
    </common-common-preview-file-modal>
    <div
      v-if="signInProgress && signatories.length > 1"
      class="py-3"
    >
      <label class="mr-auto font-weight-bold">Signatories</label>
    </div>
    <v-simple-table
      v-if="signInProgress && signatories.length > 1"
      class="signatories-table mb-5"
    >
      <tbody>
        <tr
          v-for="signatory of signatories"
          :key="signatory.signer_email"
        >
          <td>{{ signatory.signer_name }}</td>
          <td>{{ signatory.signer_email }}</td>
          <td>{{ signatory.status }}</td>
        </tr>
      </tbody>
    </v-simple-table>
    <subscription-item-status
      :status="status"
      :show-spin="signInProgress"
    />
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'

  export default {
    name: 'SubscriptionDocuSign',
    components: { SubscriptionItemStatus },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      intendedAudience: {
        type: String,
        required: false,
      },
    },
    data: () => ({
      loading: false,
      signatories: [],
      newSignatory: null,
    }),
    computed: {
      showSignatories () {
        return this.beforeSign && this.investment.status !== this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS
      },
      beforeSign () {
        return this.investment && this.investment.trellis_iid && this.stepStarted && !this.stepCompleted && !this.signInProgress
      },
      user () {
        return this.$store.getters['auth/user']
      },
      stepStarted () {
        return this.opportunity.auto_approve_deal || (this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_APPROVED])
      },
      stepCompleted () {
        return this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGNED]
      },
      signedDealDocument () {
        if (this.stepCompleted) {
          return {
            title: 'Signed Deal',
            signed_date: this.investment.signed_deal_document.signed_deal_date,
            document: this.investment.signed_deal_document,
          }
        }
        return null
      },
      signInProgress () {
        const initiatedOn = +new Date(this.investment.signing_initiated_on)
        const expired = +new Date() - initiatedOn
        const hasAdditionalSignatories = this.signatories.length > 1
        return this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS &&
          (hasAdditionalSignatories || expired < this.CONSTS.DOCUSIGN_EXPIRE_TIME)
      },
      status () {
        if (this.stepCompleted) {
          return {
            level: 'success',
            text: `Completed at ${this.$date(this.investment.signed_deal_document.signed_deal_date)}`,
          }
        }
        if (this.signInProgress) {
          return {
            text: 'Sign in progress',
          }
        }
        if (!this.allRequiredFieldsFilled) {
          return {
            text: 'Fill all required fields to sign the document.',
          }
        }
        return null
      },
      allRequiredFieldsFilled () {
        return !(this.investment && this.investment.data_list.find(f => f.field_flag === 'required' && !f.value))
      },
      enableDocSign () {
        return this.allRequiredFieldsFilled && this.investment.status !== this.CONSTS.DL_INVESTMENT_STATUS.DEAL_DECLINED
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
      investment: {
        async handler (v) {
          if (v && v.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS) {
            const data = await this.service.getDealSignatoriesStatus(this.investment.trellis_iid)
            this.signatories = data.signers
          } else {
            this.signatories = []
          }
        },
      },
    },
    methods: {
      addSignatory () {
        if (this.signatories.find(s => s.email === this.newSignatory.email)) {
          this.$store.dispatch('app/handleError', {
            message: 'Signatory with the same email already added.',
          })
          return
        }
        this.signatories.push(this.newSignatory)
        this.newSignatory = null
      },
      removeSignatory (idx) {
        this.signatories.splice(idx, 1)
      },
      async sign () {
        this.loading = true
        try {
          if (this.opportunity.auto_approve_deal && this.investment.status !== this.CONSTS.DL_INVESTMENT_STATUS.DEAL_APPROVED) {
            await this.service.sendDealForApprove(this.investment.trellis_iid)
          }
          const data = {}
          if (this.signatories.length > 0 && this.investment.status !== this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGN_IN_PROCESS) {
            data.additional_signatories = this.signatories.map(s => ({
              signer_name: `${s.first_name} ${s.last_name}`,
              signer_email: s.email,
            }))
          }
          const response = await this.service.getDealESign(this.investment.trellis_iid, data)
          this.$store.dispatch('app/loading', 'Redirecting...', { root: true })
          window.open(response.url, '_self')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to get Deal sign information',
          })
        }
        this.loading = false
      },
    },
  }
</script>
<style lang="scss" scoped>
  .signatories-table {
    border-top: 1px solid var(--v-trsBack-base);
    border-bottom: 1px solid var(--v-trsBack-base);
    table {
      tr {
        td {
          font: normal normal 0.875rem/20px $font-family-base;
          padding: 0px 0px!important;
        }
      }
    }
  }
</style>
