<template>
  <div v-if="investment && stepCompleted">
    <div class="trsText--text text-h5 d-flex align-center">
      <common-trs-btn
        type="secondary"
        large
        @click="goToTransactionDetail"
      >
        View Transaction
      </common-trs-btn>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'SubscriptionCertificate',
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
    },
    computed: {
      stepCompleted () {
        return this.investment && this.checkPaymentStatus === this.CONSTS.PAYMENT_STATUS.CONFIRMED
      },
      checkPaymentStatus () {
        let status = ''
        if (this.investment.payments) {
          this.investment.payments.forEach((element) => {
            status = element.status
          })
        }
        return status
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      goToTransactionDetail () {
        this.$router.push({
          name: 'Portfolios',
        })
      },
    },
  }
</script>
