<template>
  <div>
    <div
      v-if="!investment || !investment.entity"
    />
    <div v-else-if="stepStarted">
      <div>
        <begin-k-y-c-btn
          :is-on-subscription="false"
          :entity-disabled="true"
          :button-props="{ type: 'secondary', style: { marginLeft: '0px !important' } }"
          :show-invest-button="false"
        />
      </div>
    </div>
    <subscription-item-status
      v-if="investment"
      :status="status"
    />
  </div>
</template>
  <script>

  import BeginKYCBtn from '../../components/BeginKYCBtn'
  export default {
    name: 'SubscriptionKyc',
    components: {
      BeginKYCBtn,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      intendedAudience: {
        type: String,
        default: null,
        required: false,
      },
      custodian: {
        validate: () => true,
        required: true,
      },
    },
    data: () => ({
      loading: false,
    }),
    computed: {
      stepStarted () {
        return this.investment &&
          this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGNED]
      },
      profileData () {
        return this.$store.getters['account/profile']
      },
      stepCompleted () {
        return false
      },
      status () {
        if (this.stepCompleted) {
          return {
            level: 'success',
            text: `Completed at ${this.$date(this.investment.signed_deal_document.signed_deal_date)}`,
          }
        }
        return null
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      async loadData () {
        // pass
      },
      closeForm () {
        this.loading = true
        this.$emit('triggerAction', 'reloadInvestment')
      },
    },
  }
  </script>
