<template>
  <div v-if="investment || stepCompleted">
    <div v-if="isDev">
      Investment Amount:
      <span class="trsText--text text-h4 font-weight-medium">{{ $currencyFormatter(investment.committed_amount) }}</span>
    </div>
    <div
      v-if="isDev"
      class="my-3"
    >
      <span class="trsText--text text--lighten-2 text-h5 font-weight-medium">
        Select Payment Method:
      </span>
      <v-radio-group
        v-model="option"
        hide-details
        row
      >
        <v-radio
          label="Via Plaid Transfer"
          :value="'plaid'"
          class="my-1"
        />
        <v-radio
          label="Via Direct Transfer"
          :value="'direct'"
          class="my-1"
        />
      </v-radio-group>
    </div>
    <div
      v-if="option === 'direct'"
      class="mt-10"
    >
      <span
        v-if="showPlaid"
        class="trsText--text text-h4 font-weight-regular"
      >Direct Transfer Details</span>
      <wire-payment
        :investment="investment"
        :is-issuer="false"
        :is-on-roadshow="true"
        :show-chat="true"
        @load-data="reloadInvestment"
      />
    </div>
    <div
      v-if="option === 'plaid'"
      class="mt-10"
    >
      <plaid-table
        v-if="showPlaid"
        :investment="investment"
      />
    </div>
    <subscription-item-status
      :status="status"
      class="mt-5"
    />
  </div>
</template>
<script>
  import WirePayment from '@/components/common/wire-payment/WirePayment'
  import SubscriptionItemStatus from './SubscriptionItemStatus'
  import PlaidTable from './PlaidTable'

  export default {
    name: 'SubscriptionFundTransfer',

    components: {
      WirePayment,
      SubscriptionItemStatus,
      PlaidTable,
    },

    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
      option: 'direct',
    }),

    computed: {
      showPliad () {
        const isDev = location.host.includes('localhost') || location.host.includes('dev.trellisplatform.com')
        return isDev && this.opportunity.is_dwolla_feature_active
      },
      stepStarted () {
        return this.investment && this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED
      },
      stepCompleted () {
        return this.investment && this.checkPaymentStatus === this.CONSTS.PAYMENT_STATUS.CONFIRMED
      },
      checkPaymentStatus () {
        let status = ''
        this.investment.payments.forEach((element) => {
          status = element.status
        })
        return status
      },
      status () {
        switch (this.checkPaymentStatus) {
          case this.CONSTS.DL_PAYMENT_STATUS.SENT:
            return {
              text: `Payment sent at ${this.$date(this.investment.payment_sent_on)}`,
            }
          case this.CONSTS.DL_PAYMENT_STATUS.CONFIRMED:
            return {
              level: 'success',
              text: `Payment confirmed at ${this.$date(this.investment.payment_confirmed_on)}`,
            }
        }
        return null
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      reloadInvestment () {
        this.$emit('triggerAction', 'reloadInvestment')
      },
    },
  }
</script>
