<template>
  <div v-if="investment && investment.trellis_iid">
    <common-trs-btn
      v-if="!submitted && !stepCompleted"
      type="secondary"
      large
      :loading="loading"
      :disabled="!allRequiredFieldsFilled"
      @click="submitForReview"
    >
      <span>Submit for review</span>
    </common-trs-btn>
    <subscription-item-status
      :class="{ 'mt-5': status }"
      :status="status"
    />
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'

  export default {
    name: 'SubscriptionAdvisorReview',
    components: { SubscriptionItemStatus },
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
    },
    data: () => ({
      loading: false,
    }),
    computed: {
      stepCompleted () {
        return this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_APPROVED]
      },
      submitted () {
        return this.investment && this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_PENDING_REVIEW
      },
      status () {
        if (this.stepCompleted) {
          return {
            level: 'success',
            text: 'Approved',
          }
        }
        if (this.submitted) {
          return {
            text: 'Review may take up to 24 hours.',
          }
        }
        if (this.investment.deal_reject_reason) {
          return {
            text: `<b>Your Advisor rejected your documentation for the following reason</b>: ${this.investment.deal_reject_reason}`,
          }
        }
        if (!this.allRequiredFieldsFilled) {
          return {
            text: 'Fill all required fields to submit for advisor review.',
          }
        }
        return null
      },
      allRequiredFieldsFilled () {
        return !(this.investment && this.investment.data_list.find(f => f.field_flag === 'required' && !f.value))
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      async submitForReview () {
        this.$root.$confirm({
          entity: null,
          title: 'Submit for review',
          message: 'Are you sure you want to submit for review?',
          yesButton: 'Yes',
          noButton: 'No',
          maxWidth: 400,
        })
          .then(async (confirm) => {
            if (confirm) {
              this.loading = true
              try {
                await this.service.sendDealForApprove(this.investment.trellis_iid)
                this.$emit('triggerAction', 'reloadInvestment')
              } catch (err) {
                this.$store.dispatch('app/handleError', {
                  err,
                  message: 'Failed to submit document for review',
                })
              }
              this.loading = false
            }
          })
          .catch(() => {
          })
      },
    },
  }
</script>
