<template>
  <div v-if="investment">
    <common-common-preview-file-modal
      v-if="stepCompleted"
      fullscreen
      :title="counterSignedDealDocument.title"
      :url="counterSignedDealDocument.document.signed_url"
      :mime-type="counterSignedDealDocument.document.mime_type"
      :has-download-btn="true"
    >
      <template v-slot:activator="{ on }">
        <common-trs-btn
          type="secondary"
          large
          class="mb-5"
          v-on="on"
        >
          View Counter Signed Deal Document
        </common-trs-btn>
      </template>
    </common-common-preview-file-modal>
    <subscription-item-status
      :status="status"
    />
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'
  export default {
    name: 'SubscriptionIssuerReview',
    components: { SubscriptionItemStatus },
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
    },
    computed: {
      stepCompleted () {
        return this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED]
      },
      stepStarted () {
        return this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGNED]
      },
      counterSignedDealDocument () {
        if (this.stepCompleted) {
          return {
            title: 'Counter Signed Deal',
            signed_date: this.investment.counter_signed_deal_document.counter_signed_deal_date,
            document: this.investment.counter_signed_deal_document,
          }
        }
        return null
      },
      status () {
        if (this.stepCompleted) {
          return {
            level: 'success',
            text: `Completed at ${this.$date(this.investment.counter_signed_deal_document.counter_signed_deal_date)}`,
          }
        }
        if (this.stepStarted) {
          return {
            text: 'Review may take up to 24 hours.',
          }
        }
        return null
      },
    },
    watch: {
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
  }
</script>
