<template>
  <div
    v-if="investment && !investment.id"
    class="d-flex flex-column my-4"
  >
    <label
      v-if="custodianList.length > 0"
      class="trsText--text text--lighten-1 text-body-1 font-weight-bold"
    >
      Will you be using custody?
    </label>

    <validation-provider
      v-if="custodianList.length > 0"
      name="useCustody"
    >
      <common-input-radio-group
        v-model="useCustody"
        hide-details
        row
      >
        <common-input-radio
          label="Yes"
          :value="true"
        />
        <common-input-radio
          label="No"
          :value="false"
        />
      </common-input-radio-group>
    </validation-provider>

    <common-input-select
      v-if="useCustody && custodianList.length > 0"
      v-model="selectedCustodian"
      :disabled="!!investment.id"
      class="mt-3"
      label="Select Custodian"
      color="primary"
      :items="custodianList"
      item-text="name"
      item-value="id"
      validate-on-blur
      hide-details
      style="max-width: 200px"
      return-object
    />
  </div>
  <div
    v-else
    class="my-4"
  >
    <label
      v-if="selectedCustodian"
      class="trsText--text text--lighten-1 text-body-1 font-weight-bold"
    >
      Using {{ selectedCustodian.name }} Custodian.
    </label>
  </div>
</template>
<script>
  export default {
    name: 'SubscriptionCustodianSelection',
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      opportunity: {
        type: Object,
        required: true,
      },
      custodian: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
      useCustody: false,
    }),

    computed: {
      selectedCustodian: {
        get () {
          return this.custodian
        },
        set (val) {
          this.$emit('select-custodian', val)
        },
      },
      custodianList () {
        return this.opportunity.details.custodians || []
      },
    },

    watch: {
      useCustody: {
        handler (val) {
          if (val && this.custodianList.length > 0) {
            this.selectedCustodian = this.custodianList[0]
          }
        },
      },
    },
  }
</script>
