<template>
  <div v-if="investment || stepCompleted">
    <custodian-wiring-instruction
      :custodian="custodian"
      :opportunity="opportunity"
      :investment="investment"
    >
      <template v-slot:activator="{ on }">
        <common-trs-btn
          type="secondary"
          large
          class="mb-lg-3"
          :disabled="!stepStarted"
          v-on="on"
        >
          <span>VIEW WIRING INSTRUCTIONS</span>
        </common-trs-btn>
      </template>
    </custodian-wiring-instruction>

    <subscription-item-status
      v-if="investorCustodianBalance"
      :class="{ 'mt-5': status }"
      :status="status"
    >
      <template v-slot:right-actions>
        <v-progress-circular
          v-if="loadingBalance"
          indeterminate
          size="18"
          color="primary"
        />
        <common-trs-btn
          v-else
          type="tertiary"
          small
          @click="loadBalance"
        >
          Refresh
        </common-trs-btn>
      </template>
    </subscription-item-status>
  </div>
</template>
<script>
  import SubscriptionItemStatus from './SubscriptionItemStatus'
  import CustodianWiringInstruction from '@/components/common/custodian/WiringInstruction'

  export default {
    name: 'SubscriptionFundCustody',
    components: { SubscriptionItemStatus, CustodianWiringInstruction },
    props: {
      investment: {
        validate: () => true,
        required: true,
      },
      custodian: {
        validate: () => true,
      },
      investorCustodian: {
        validate: () => true,
      },
      service: {
        validate: () => true,
      },
      opportunity: {
        validate: () => true,
      },
      extraData: {
        validate: () => true,
      },
    },
    data: () => ({
      loading: false,
      loadingBalance: false,
      investorCustodianBalance: null,
    }),
    computed: {
      stepStarted () {
        return this.investment &&
          this.investment.status === this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED &&
          this.investorCustodianBalance &&
          this.investorCustodianBalance.custodian_account_status
      },
      stepCompleted () {
        return this.stepStarted &&
          this.investorCustodianBalance.balance >= this.investment.committed_amount
          // true
      },
      // stepCompleted () {
      //   return this.investment && this.checkPaymentStatus === this.CONSTS.PAYMENT_STATUS.CONFIRMED
      // },
      checkPaymentStatus () {
        let status = ''
        if (this.investment.payments) {
          this.investment.payments.forEach((element) => {
            status = element.status
          })
        }
        return status
      },
      status () {
        if (!this.investorCustodianBalance) {
          return null
        }

        const text = `Current Cash Balance: ${this.$currency(this.investorCustodianBalance.balance)}`
        if (this.stepCompleted) {
          return {
            level: 'success',
            text,
          }
        }

        return {
          text,
        }
      },
    },
    watch: {
      'investment.id': {
        handler (val) {
          this.loadData()
        },
        immediate: true,
      },
      investorCustodian: {
        handler (val) {
          this.loadData()
        },
        immediate: true,
      },
      stepCompleted: {
        immediate: true,
        handler (v) {
          this.$emit('completed', v)
        },
      },
    },
    methods: {
      reloadInvestment () {
        this.$emit('triggerAction', 'reloadInvestment')
      },
      async loadData () {
        await this.loadBalance()
      },
      async loadBalance () {
        // if it has account, loadbalance
        this.loadingBalance = true
        try {
          this.investorCustodianBalance = await this.service.getInvestorCustodianBalance(
            this.investment.entity.trellis_uid,
            this.custodian.name,
          )
        } catch (err) {
          this.investorCustodianBalance = null
          // this.$store.dispatch('app/handleError', {
          //   err,
          //   message: `Failed to load the ${this.custodian.name} balance.`,
          // })
        }
        this.loadingBalance = false
      },
    },
  }
</script>
