<template>
  <div class="d-flex flex-column">
    <label class="trsText--text text--lighten-1 text-body-1 font-weight-bold">
      Who are you investing as?
    </label>
    <v-radio-group
      v-model="selectedEntity"
      :disabled="!!investment.id"
      class="mt-2 ml-0"
      hide-details
    >
      <v-radio
        v-for="entity in entities"
        :key="entity.trellis_uid"
        :label="entity.name"
        :value="entity.trellis_uid"
      />
    </v-radio-group>
    <common-trs-btn
      v-if="!investment.id && false"
      type="primary"
      class="white--text"
      large
      @click="$emit('create')"
    >
      CREATE NEW INVESTMENT
    </common-trs-btn>
  </div>
</template>
<script>
  export default {
    name: 'SubscriptionEntitySelection',
    props: {
      entities: {
        type: Array,
        required: true,
      },
      investment: {
        validate: () => true,
        required: true,
      },
    },
    computed: {
      selectedEntity: {
        get () {
          return this.investment.entity ? this.investment.entity.trellis_uid : null
        },
        set (id) {
          this.$emit('select-entity', id)
        },
      },
    },
  }
</script>
