<template>
  <v-list
    nav
    dense
    class="pa-0"
  >
    <v-list-item-group
      v-model="internalValue"
      mandatory
      color="primary"
    >
      <template
        v-for="(item, index) in menuItems"
      >
        <v-divider
          v-if="!menuItems[index].isHidden"
          :key="`divider-${index}`"
        />
        <v-list-item
          v-if="!menuItems[index].isHidden"
          :key="index"
          class="pa-0 ma-0"
          flat
          active-class="white"
          :ripple="false"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.label" />
          </v-list-item-content>

          <v-list-item-action>
            <v-icon>mdi-chevron-right</v-icon>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list-item-group>
  </v-list>
</template>

<script>
  export default {
    name: 'Users',

    components: {
    },

    props: {
      value: {
        type: Number,
      },
      menuItems: {
        type: Array,
        default: () => ([]),
      },
    },

    data: () => ({
      menuTabs: null,
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
    created () {
    },
    mounted () {
    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-list-item--active:before {
    background: #FFF;
  }
  .v-list-item__action {
    margin: 10px 0!important;
  }
  .v-list-item__title {
    font:normal 500 1rem/1.5rem $font-family-base!important;
  }
</style>
