<template>
  <div>
    <common-trs-card class="trs-table-container-card">
      <common-trs-data-table
        :headers="headers"
        :items="details"
        :search="filters.message"
        :options.sync="options"
        :server-items-length="totalCount"
        :loading="loading"
      >
        <template v-slot:item.title="{ item }">
          <common-trs-a-link
            @click="showDetails(item)"
          >
            <span>{{ item.title }}</span>
          </common-trs-a-link>
        </template>
        <template v-slot:item.expires_at="{ item }">
          {{ $dateFrom(item.expires_at) }}
        </template>
        <template v-slot:no-data>
          <span> No Results Found. </span>
        </template>
      </common-trs-data-table>
    </common-trs-card>
  </div>
</template>

<script>
  import debounce from 'lodash.debounce'

  const TABLE_HEADERS = [
    { text: 'Title', value: 'title', sortable: true },
    { text: 'Type', value: 'type', sortable: true },
    { text: 'Severity', value: 'severity', sortable: true },
    { text: 'Expires At', value: 'expires_at', sortable: true },
  ]

  export default {
    name: 'DashboardDashboard',

    props: {
      preFilters: {
        type: Object,
        default: () => {},
      },
      hideFields: {
        validate: () => true,
        default: () => [],
      },
      filters: {
        type: Object,
        default: () => {},
      },
    },

    data () {
      return {
        loading: false,
        items: [],
        selected: 1,
        options: {
          sortDesc: [false],
          sortBy: ['timestamp'],
        },
        itemsPerPage: 10,
        headers: [],
      }
    },
    computed: {
      totalCount () {
        return this.$store.getters['systemNotifications/totalCount']
      },
      details () {
        return this.$store.getters['systemNotifications/systemNotifications']
      },
    },

    watch: {
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
        }, 500),
        deep: true,
      },
      hideFields: {
        handler (val) {
          this.headers = TABLE_HEADERS.filter(header => val.indexOf(header.value) === -1)
        },
        immediate: true,
      },
    },

    async created () {
      this.loadData()
    },

    methods: {
      showDetails (item) {
        this.$root.$confirm({
          entity: null,
          message: '',
          description: item.message_details.details,
          yesButton: 'Got it',
          maxWidth: 400,
          color: 'primary',
          icon: {
            name: 'mdi-information',
          },
        })
      },
      async loadData () {
      },
    },
  }
</script>
<style lang="scss" scoped>
  .content-box {
    overflow: auto;
  }
  .no-action-required {
    font-size: 18px;
    padding: 97px 20px;
  }
  .mdi-alert-circle-outline {
    font-size: 16px;
  }
</style>
