<template>
  <div
    v-if="value && value.name"
    class="d-flex flex-column justify-center align-center"
  >
    <v-img
      :src="iconName"
      max-width="40"
      max-height="40"
    />
    <span
      v-if="!hideName"
      class="text-h4 font-weight-light text-center mt-2"
    >{{ value.name }}</span>
  </div>
</template>

<script>
  export default {
    name: 'CompanyStage',

    props: ['value', 'hideName'],

    computed: {
      stageIcons () {
        return this.$store.getters['sharedData/stageIcons']
      },
      iconName () {
        if (Array.isArray(this.stageIcons)) {
          const stageIcon = this.stageIcons.find(icon => icon.stage === this.value.name)
          return stageIcon ? stageIcon.icon : ''
        }
        return ''
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
