<template>
  <v-avatar
    v-if="logo"
    size="75"
    color="#FFF"
    class="elevation-1"
  >
    <v-img
      :src="logo"
      contain
      max-height="50"
      max-width="50"
    />
  </v-avatar>
</template>

<script>
  export default {
    name: 'CommonOpportunityFieldIssuerLogo',

    components: {
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      logo () {
        return this.opportunity.issuer && this.opportunity.issuer.branding && this.opportunity.issuer.branding.logo ? this.opportunity.issuer.branding.logo : ''
      },
    },

    created () {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
