<template>
  <div
    v-if="value && value.name"
    class="d-flex flex-column justify-center align-center"
  >
    <v-img
      :src="iconName"
      max-width="40"
      max-height="40"
    />
    <span
      v-if="!hideName"
      class="text-h4 font-weight-light text-center mt-2"
    >{{ value.name }}</span>
  </div>
</template>

<script>
  export default {
    name: 'Market',

    props: {
      value: {
        type: Object,
        required: true,
      },
      hideName: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      iconName () {
        const baseUrl = this.CONSTS.STATIC_ASSET_BASE_URL
        if (this.value && this.value.id) {
          return `${baseUrl}${this.value.id}.png`
        }
        return ''
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
