<template>
  <div
    class="d-flex flex-column justify-center align-center"
  >
    <span
      class="text-h3 text-center"
    >{{ $currency(value) }}</span>
    <span
      class="text-h4 font-weight-light text-center"
    >{{ text }}</span>
  </div>
</template>

<script>
  export default {
    name: 'Market',

    props: ['text', 'value'],
  }
</script>
<style lang="scss" scoped>
</style>
