<template>
  <v-chip>
    {{ $humanFriendlyOpportunityStatus(value) }}
  </v-chip>
</template>

<script>
  export default {
    name: 'Status',

    props: ['value'],
  }
</script>
<style lang="scss" scoped>
</style>
