<template>
  <v-simple-table
    dense
  >
    <tbody>
      <tr
        v-for="(term, idx) of terms"
        :key="idx"
      >
        <td
          v-if="term.value"
          class="px-0 text-body1 font-weight-normal trsText--text"
        >
          {{ term.label }}
        </td>
        <td
          v-if="term.value"
          class="text-body1 font-weight-bold trsText--text"
        >
          {{ term.value }}
        </td>
      </tr>
    </tbody>
  </v-simple-table>
</template>
<script>
  export default {
    name: 'OpportunitySummaryTerm',
    props: {
      opportunity: {
        type: Object,
        default: () => ({}),
      },
    },
    computed: {
      terms () {
        const { details } = this.opportunity
        const fields = this.CONSTS.OPPORTUNITY_DETAIL_FORM_TEMPLS[this.opportunity.type.id] || []
        const result = fields.filter(f => !!details[f.id]).map(f => {
          const value = f.input === 'currency' ? this.$currency(details[f.id]) : details[f.id]
          return {
            label: f.label,
            value: value,
          }
        })
        return result
      },
    },
  }
</script>
<style lang="scss" scoped>
td { width: 50%; }
</style>
