<template>
  <div class="my-2">
    <div
      class="text-center"
    >
      Secured by
    </div>
    <v-img
      class="mr-3"
      :src="require('./BankVault-Logo-Light.png')"
      alt="Powred by BankVault"
      max-width="200px"
      contain
    />
  </div>
</template>

<script>
  export default {
    name: 'BankVaultPoweredBy',

    components: {
    },

    props: {
    },

    data: () => ({
    }),

    computed: {
    },

    watch: {
    },

    async created () {
    },

    methods: {
    },
  }
</script>

<style lang="sass">
</style>
