<template>
  <v-img
    :src="opportunity.issuer && opportunity.issuer.branding && opportunity.issuer.branding.logo ? opportunity.issuer.branding.logo : ''"
    contain
    max-height="135px"
    max-width="80%"
  />
</template>

<script>
  export default {
    name: 'CommonDigitalRoadshowLandingActionLogo',

    components: {
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
