<template>
  <div
    class="action-action-item d-flex ma-2 align-center justify-center flex-column"
    @click="$emit('click')"
  >
    <v-icon class="mb-1">
      {{ icon }}
    </v-icon>
    <span class="primary--text">{{ title }}</span>
  </div>
</template>

<script>
  export default {
    name: 'CommonDigitalRoadshowLandingActionActionItem',

    components: {
    },

    props: {
      title: {
        type: String,
        required: true,
      },
      icon: {
        type: String,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
.action-action-item {
  cursor: pointer;
  flex: 1;
}
</style>
