<template>
  <div
    v-if="showAction"
    class="actions-bottom"
  >
    <common-trs-logos-thumb
      max-height="40"
      max-width="40"
      contain
      class="mx-4"
    />
    <div
      class="flex-fill d-flex align-center justify-center"
    >
      <div
        v-if="portal === CONSTS.PORTAL.INVESTOR"
        class="text-h4 white--text text-center"
        :class="{
          'cursor-pointer': investments.length === 0,
          'mb-3': investments.length > 0
        }"
        @click="doTriggerAction"
      >
        {{ buttonText }}
        <br>

        <span
          v-if="investments.length > 0"
          class="text-h4 white--text text-center"
        >
          {{ $t('common.drs.minimumInv') }}:<span class="ml-2 font-weight-black">{{ $currency(opportunity.minimum) }}</span>
        </span>
        <span
          v-else
          class="text-caption"
        >
          {{ $t('common.drs.minimumInv') }}:<span class="ml-2 font-weight-black">{{ $currency(opportunity.minimum) }}</span>
        </span>
      </div>
      <div
        v-if="portal === CONSTS.PORTAL.FID_ADMIN"
        class="text-h4 white--text text-center"
        :class="{
          'cursor-pointer': investments.length === 0 && isFidSignatory,
          'mt-5':!isFidSignatory
        }"
        @click="doTriggerAction"
      >
        <span>
          {{ buttonText }}
        </span>
        <div
          v-if="!isFidSignatory"
          class="text-caption"
        >
          <span>
            To unlock the opportunity, the authorized signatory should sign the NDA
          </span>
        </div>
        <br>

        <span
          v-if="investments.length > 0 && isFidSignatory "
          class="text-h4 white--text text-center"
        >
          {{ $t('common.drs.minimumInv') }}:<span class="ml-2 font-weight-black">{{ $currency(opportunity.minimum) }}</span>
        </span>
        <span
          v-if="isFidSignatory"
          class="text-caption"
        >
          {{ $t('common.drs.minimumInv') }}:<span class="ml-2 font-weight-black">{{ $currency(opportunity.minimum) }}</span>
        </span>
      </div>
      <div
        v-if="portal === CONSTS.PORTAL.ISSUER"
        class="text-h4 white--text text-center cursor-pointer"
      >
        Actions
      </div>
    </div>

    <v-divider
      color="#DAE3E6"
      vertical
    />

    <div
      class="action-dropdown"
    />
  </div>
</template>

<script>
  // import ActionActionItem from './ActionActionItem'

  export default {
    name: 'CommonDigitalRoadshowLandingActions',

    components: {
      // ActionActionItem,
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: true,
      },
      investments: {
        type: Array,
        required: true,
      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      isFidSignatory () {
        return this.$store.getters['auth/roles'].includes(this.CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY)
      },
      isFiduciaryPortal () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },

      isInvestorPortal () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR
      },
      showUnlockOpp () {
        return !this.status.ndaSigned && !this.status.ndaCounterSigned
      },
      showAction () {
        return this.status.canDealSign || this.showUnlockOpp
      },
      buttonText () {
        if (this.showUnlockOpp) {
          return 'Unlock Opportunity'
        }
        if (this.status.canViewDeal && this.investments.length === 0 &&
          this.visibilityOpts.showIndicateInterestBtn) {
          return 'Indicate Interest'
        }
        return ''
      },
    },

    created () {
    },

    methods: {
      doTriggerAction () {
        if (this.showUnlockOpp) {
          if (this.isFiduciaryPortal && !this.isFidSignatory) {
            return
          } else {
            this.$emit('triggerAction', 'showNdaConfirmModal')
          }
        }
        if (this.status.canViewDeal && this.investments.length === 0) {
          this.$emit('triggerAction', 'showIoiModal')
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
.actions-bottom {
  height: 70px;
  background: linear-gradient(180deg, var(--v-primary-lighten1) 0%, var(--v-primary-base) 100%);
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
}
.action-dropdown {
  width: 70px;
  height: 70px;
}
</style>
