<template>
  <div
    class="actions elevation-2"
  >
    <div
      class="logo-container d-flex justify-center align-center"
    >
      <action-logo
        :opportunity="opportunity"
      />
    </div>
    <div
      class="actions-content pb-3"
    >
      <!-- <span
        class="text-h3 mt-4 font-weight-heavy font-italic"
        style="color: #5D686B;"
      >Invest</span> -->
      <!-- <div
        v-if="!drOptions.hideThumb"
        class="my-4"
      >
        <common-trs-logos-thumb
          max-width="200"
          contain
        />
      </div> -->
      <span
        v-if="opportunity.details.hideInvestmentTracker"
        class="subtitle mt-4"
        style="color: #5D686B;"
      >Target Raise:&nbsp;
        <span class="font-weight-black">{{ $currencyFormatter(opportunity.size) }}</span>
      </span>
      <span
        class="subtitle mt-4"
        style="color: #5D686B;"
      >{{ $t('common.drs.minimumInv') }}:&nbsp;
        <span class="font-weight-black">{{ $currency(opportunity.minimum) }}</span>
      </span>

      <investment-indicator
        v-if="!status.isSecondary && opportunity.details && !opportunity.details.hideInvestmentTracker"
        :service="service"
        :opportunity="opportunity"
      />
      <common-trs-btn
        v-if="lockUnlockOpp"
        class="mt-4"
        type="primary"
        large
        :disabled="isFiduciaryPortal && !isFidSignatory"
        @click="$emit('triggerAction', 'showNdaConfirmModal')"
      >
        Unlock Opportunity
      </common-trs-btn>
      <div
        v-else-if="isInvestorPortal && !profileData.is_eligible_for_investment
          && (status.isSecondary || !opportunity.details.kyc_post_subscription)"
        class="my-3"
      >
        <begin-k-y-c-btn />
      </div>
      <common-trs-btn
        v-if="!showUnlockOpp
          && isInvestorPortal
          && !status.isSecondary
          && !status.ndaSignInProgress
          && !waitingForCounterSign
          && canInvest"
        :disabled="!investEnabled"
        class="my-4 align-self-stretch mx-10"
        type="primary"
        large
        @click="$emit('triggerAction', 'showTab', 'subscription')"
      >
        INVEST
      </common-trs-btn>
      <trade-button
        v-if="isInvestorPortal && status.isSecondary && profileData.is_eligible_for_investment"
        :status="status"
        :portal="portal"
        :opportunity="opportunity"
      />
      <label
        v-if="!showUnlockOpp
          && isInvestorPortal
          && status.canViewDeal
          && !status.isSecondary
          && investments.length === 0
          && visibilityOpts.showIndicateInterestBtn"
        class="primary--text text-h5 mb-4 cursor-pointer"
        @click="$emit('triggerAction', 'showIoiModal')"
      >
        Indicate Interest
      </label>
    </div>
    <div
      v-if="!drOptions.hideThumb"
      class="actions-actions"
    >
      <action-action-item
        v-if="!drOptions.hideContact"
        title="Contact"
        icon="mdi-phone"
        class="py-2"
        @click="$emit('triggerAction', 'showContactModal')"
      />
    </div>
  </div>
</template>

<script>
  import ActionLogo from './ActionLogo'
  import ActionActionItem from './ActionActionItem'
  import TradeButton from './TradeButton'
  import InvestmentIndicator from './InvestmentIndicator.vue'
  import BeginKYCBtn from '../components/BeginKYCBtn'

  export default {
    name: 'CommonDigitalRoadshowLandingActions',

    components: {
      ActionLogo,
      ActionActionItem,
      TradeButton,
      InvestmentIndicator,
      BeginKYCBtn,
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: true,
      },
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      investments: {
        type: Array,
        required: true,
      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      canInvest () {
        return this.profileData.has_ssn || this.profileData.is_eligible_for_investment || this.opportunity.details.kyc_post_subscription
      },
      isFidSignatory () {
        return this.$store.getters['auth/roles'].includes(this.CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY)
      },
      isFiduciaryPortal () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      drOptions () {
        return this.$store.getters['publicBranding/s3Data'].drOptions || {}
      },
      isInvestorPortal () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR
      },
      isNotIssuerPortal () {
        return this.portal !== this.CONSTS.PORTAL.ISSUER
      },
      showUnlockOpp () {
        return !this.status.ndaSigned && !this.status.ndaCounterSigned && !this.status.ndaSignInProgress
      },
      lockUnlockOpp () {
        console.log(this.status)
        if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          return this.showUnlockOpp && !this.status.isSecondary && !this.isOpportunityApproved
        } else if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          return this.showUnlockOpp && !this.status.isSecondary && !this.investmentDone && !this.isDocumentSeen
        } else {
          return this.showUnlockOpp && this.isNotIssuerPortal && !this.status.isSecondary
        }
      },
      waitingForCounterSign () {
        return this.status.ndaSigned && !this.status.ndaCounterSigned
      },
      investEnabled () {
        const drsTabs = this.opportunity.details
          ? this.opportunity.details.drTabs
          : null
        return drsTabs && drsTabs.subscription
      },
      profileData () {
        return this.$store.getters['account/profile']
      },
    },
  }
</script>
<style lang="scss" scoped>
  .actions {
    height: 100%;
    background: #FFF;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid #EDF2F3;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116996);

    display: flex;
    flex-direction: column;
  }
  .logo-container {
    flex: 1;
    height: 100px;
    width: 100%;
  }
  .actions-content {
    background: #EDF2F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
