<template>
  <div class="outer-wrapper mt-5">
    <span class="ml-2 text-body-1 primary--text font-weight-bold">
      {{ percentage }} %
    </span>
    <common-input-slider
      v-model="totalInvestmentAmount"
      :min="0"
      :max="targetRaise"
      :track-color="'trs-back'"
      :color="'primary'"
      hide-details
      readonly
      class="investment-progress-tracker"
    />
    <div class="bottom-label-section text-body-1 d-flex justify-space-between px-2 mt-0">
      <div class="primary--text font-weight-bold amount-section">
        {{ $currencyFormatter(totalInvestmentAmount) }}
      </div>
      <div class="trsText--text text--lighten-1 amount-section text-right">
        {{ $currencyFormatter(targetRaise) }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InvestmentIndicator',

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
    },

    data: () => ({
      oppInvestments: {},
      totalInvestmentAmount: 0,
    }),

    computed: {
      targetRaise () {
        return this.opportunity.size || 1
      },
      percentage () {
        return ((100 * this.totalInvestmentAmount) / this.targetRaise).toFixed(2)
      },
      portal () {
        return this.$getPortal()
      },
    },

    created () {
      this.getInvestmentData()
    },

    methods: {
      async getInvestmentData () {
        try {
          let option = { base: 'tenant' }
          if (this.portal === this.CONSTS.PORTAL.ISSUER) {
            option = { base: 'issuer' }
          }
          this.oppInvestments = await this.service.getOppInvestments(this.opportunity.id, option)
          this.totalInvestmentAmount = this.oppInvestments.committed_amount + this.oppInvestments.external_investment_amount
        } catch (e) {}
      },
    },
  }
</script>

<style lang="scss" scoped>
  .outer-wrapper {
    width: 80%;
  }
  ::v-deep .v-slider__thumb {
    display: none;
  }
  ::v-deep .v-slider__track-container {
    height: 10px !important;
  }
  ::v-deep .v-slider__track-background, .v-slider__track-fill.trs-back {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  ::v-deep .theme--light.v-slider .v-slider__track-fill.primary {
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  ::v-deep .investment-progress-tracker .col{
    margin: 0 !important;
  }
  .amount-section {
    word-break: break-all;
    width: 50%;
  }
</style>
