<template>
  <common-common-side-modal
    class="ml-auto"
    title="Indication of Interest"
  >
    <template v-slot:activator="{ on }">
      <common-trs-btn
        v-if="canSubmit"
        color="black"
        type="primary"
        class="submit-ioi-btn white--text"
        :loading="loading"
        v-on="on"
      >
        <span>Indicate interest</span>
      </common-trs-btn>
    </template>
    <template v-slot="{ close }">
      <validation-observer
        v-slot="{ valid }"
      >
        <common-trs-modal-card-text>
          <div
            v-if="ioiSubmitted"
            class="mt-2 mb-3"
          >
            <label class="mb-1 d-inline-block">
              Submitted IOIs
            </label>
            <div
              v-for="inv of investments"
              :key="inv.id"
            >
              <div v-if="inv.ioi_amount">
                <span>
                  {{ inv.entity.name }} :
                  {{ $currency(inv.ioi_amount) }}
                  on
                  {{ $date(inv.ioi_date) }}</span>
                <br>
              </div>
            </div>
          </div>
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            name="entity"
          >
            <common-input-select
              v-if="entitiesSelect && entitiesSelect.length > 1"
              v-model="entityId"
              label="Investor"
              placeholder="Select Investor"
              :items="entitiesSelect"
              :error-message="errors"
            />
            <label
              v-if="entitiesSelect && entitiesSelect.length == 1"
              label="Investor"
              class="mt-2 mb-2"
            > {{ entitiesSelect[0].text }} </label>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            name="Amount"
          >
            <common-input-currency-input
              v-model="form.amount"
              class="mt-4"
              label="Amount"
              :error-messages="errors"
            />
          </validation-provider>
        </common-trs-modal-card-text>
        <common-trs-modal-card-actions>
          <common-trs-btn
            v-if="ioiAmount"
            class="mr-3 primary--text"
            type="tertiary"
            text
            :disabled="!valid"
            :loading="loading"
            @click="withdrawIoi(close)"
          >
            Withdraw
          </common-trs-btn>
          <common-trs-btn
            type="primary"
            text
            class="white--text"
            :disabled="!valid"
            :loading="loading"
            @click="submitIoi(close)"
          >
            Submit
          </common-trs-btn>
        </common-trs-modal-card-actions>
      </validation-observer>
    </template>
  </common-common-side-modal>
</template>

<script>
  import { api } from '@/api'
  export default {
    name: 'CommonDigitalRoadshowLandingActionsIoiBtn',

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
    },

    data: () => ({
      loading: false,
      investment: null,
      investments: [],
      entityId: null,
      form: {
        amount: 0,
      },
      entities: [],
      entitiesSelect: [],
    }),

    computed: {
      canSubmit () {
        return this.opportunity.status === this.CONSTS.DL_OPPORTUNITY_STATUS.NDA_EXECUTED
      },
      ioiAmount () {
        return this.investment?.ioi_amount
      },
      ioiDate () {
        return this.investment?.ioi_date
      },
      ioiSubmitted () {
        return this.investments.filter(inv => inv.ioi_amount).length > 0
      },
    },

    watch: {
      ioiAmount: {
        handler (val) {
          if (val) {
            this.form.amount = val
          }
        },
        immediate: true,
      },
      entityId: {
        handler (val) {
          this.$store.commit('auth/setCurrentEntityId', val)
          this.investment = this.investments.find(inv => `${inv.entity.trellis_uid}` === `${val}`)
        },
      },
    },

    async created () {
      await this.loadData()
      this.whiteListedEnities()
    },

    methods: {
      async loadData () {
        this.loading = true
        try {
          this.investments = await this.service.getDLInvestmentByOppId(this.opportunity.id)
          if (this.entities.length > 0) {
            this.entityId = this.entities[0].trellis_uid
          }
        } catch (err) {
          console.log('err: ', err)
        }
        this.loading = false
      },
      async withdrawIoi (close) {
        // this.loading = true
        try {
          this.form.amount = 0
          this.investment = await this.service.submitDLIoi(this.opportunity.id, 0)
          close()
          this.loadData()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to withdraw IOI',
          })
        }
        // this.loading = false
      },
      async submitIoi (close) {
        this.loading = true
        try {
          this.investment = await this.service.submitDLIoi(this.opportunity.id, +this.form.amount)
          close()
          this.loadData()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to submit IOI',
          })
        }
        this.loading = false
      },
      async whiteListedEnities () {
        const url = 'entities/investors/opportunities/' + this.opportunity.id
        const entitiesList = await api.get(url, null, { base: 'tenant' })
        this.entities = entitiesList.data
        this.updateEntities()
      },
      updateEntities () {
        this.entitiesSelect = this.entities
          .map(entity => ({
            text: entity.name,
            value: entity.trellis_uid,
          }))
        this.entityId = this.entitiesSelect.length === 1 ? this.entitiesSelect[0].value : null
      },
    },
  }
</script>
<style lang="scss" scoped>
  .submit-ioi-btn {
    position: relative;
  }
  .ioi_value {
    position: absolute;
    top: -25px;
    left: 0px;
    color: #000;
  }
</style>
