<template>
  <fragment>
    <div
      v-if="!status.ndaSignInProgress || status.ndaDeclined"
      :class="{
        'd-block': $vuetify.breakpoint.smAndDown,
        'd-flex mx-auto': $vuetify.breakpoint.mdAndUp,
        'd-flex mx-auto': $vuetify.breakpoint.lgAndUp,
      }"
    >
      <common-document-pdf-form
        v-if="showSignBtn"
        :key="preFormSubmittedNow"
        :initial-visible="preFormSubmittedNow"
        class="mt-5"
        :show-guide="true"
        :guide-title="'Document Editing'"
        :guide-text="'Please edit this document and click the “Save Data” button at either the top right or bottom center of the form. You may return to this section as often as you need until you complete the form. Once complete, click on the “Sign Document” button to go to DOCUSIGN. Once there select continue, start, sign and finish to digitally sign and send this document.'"
        :doc-url="ndaDocument.signed_url"
        :initial-data="dataList"
        @fill-form="fillNDAForm"
        @sign-pdf="eSignNDA"
      >
        <template v-slot:activator="{ on, attrs }">
          <common-trs-btn
            v-if="portal === CONSTS.PORTAL.FID_ADMIN"
            v-bind="attrs"
            type="primary"
            :loading="ndaEsignLoading"
            large
            :pem-roles-allowed="[CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY]"
            v-on="on"
          >
            <span>SIGN NDA</span>
            <v-icon
              class="ml-2"
            >
              mdi-draw
            </v-icon>
          </common-trs-btn>
          <common-trs-btn
            v-else
            v-bind="attrs"
            type="primary"
            :loading="ndaEsignLoading"
            large
            v-on="on"
          >
            <span>SIGN NDA</span>
            <v-icon
              class="ml-2"
            >
              mdi-draw
            </v-icon>
          </common-trs-btn>
        </template>
      </common-document-pdf-form>
      <v-dialog
        v-if="showPreformSignBtn"
        v-model="preFormVisible"
        max-width="800"
      >
        <template v-slot:activator="{ on, attrs }">
          <common-trs-btn
            v-if="portal === CONSTS.PORTAL.FID_ADMIN"
            v-bind="attrs"
            type="primary"
            :loading="preFormSubmitLoading"
            large
            :pem-roles-allowed="[CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY]"
            v-on="on"
          >
            <span>SIGN NDA</span>
            <v-icon
              class="ml-2"
            >
              mdi-draw
            </v-icon>
          </common-trs-btn>
          <common-trs-btn
            v-else
            v-bind="attrs"
            type="primary"
            :loading="preFormSubmitLoading"
            large
            v-on="on"
          >
            <span>SIGN NDA</span>
            <v-icon
              class="ml-2"
            >
              mdi-draw
            </v-icon>
          </common-trs-btn>
        </template>
        <common-trs-modal-card>
          <common-trs-modal-card-title>
            <common-trs-modal-card-title-content>
              Fill in your data
            </common-trs-modal-card-title-content>

            <common-trs-btn
              aria-label="Close"
              type="secondary"
              class="rounded-0"
              color="primary"
              size="large"
              icon
              text
              @click="preFormVisible=false"
            >
              <v-icon>mdi-close</v-icon>
            </common-trs-btn>
          </common-trs-modal-card-title>
          <common-trs-modal-card-text>
            <form-templates-index
              v-if="preForm"
              :key="'post'"
              elevation="0"
              :template="preForm"
              :mode="'create'"
              max-width="100%"
              @submit="submitPreForm($event)"
            />
          </common-trs-modal-card-text>
        </common-trs-modal-card>
      </v-dialog>

      <common-input-file-button
        v-if="status.ndaSigned === false && ndaDocument && portal === CONSTS.PORTAL.FID_ADMIN"
        :upload-function="directlyUploadSignedNDA()"
        :success-callback="directSignedNDAUploadSuccess"
        :file-type="CONSTS.FILE_TYPES.DOCUMENT"
      >
        <template v-slot="{ openFileDialog, loading, progress }">
          <common-trs-btn
            type="secondary"
            class="ml-3 primary--text"
            large
            :pem-roles-allowed="[CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY]"
            @click="openFileDialog"
          >
            Directly Upload NDA
            <v-icon class="ml-2">
              mdi-upload
            </v-icon>
            <v-progress-circular
              v-if="loading"
              :size="30"
              :rotate="270"
              :width="5"
              :value="progress"
              color="primary"
            >
              <span style="font-size: 10px">{{ progress.toFixed(0) }}</span>
            </v-progress-circular>
          </common-trs-btn>
        </template>
      </common-input-file-button>
      <div
        v-if="!profileData.includes(CONSTS.FID_ROLE.AUTHORIZED_SIGNATORY) && status.ndaSigned === false && ndaDocument && portal === CONSTS.PORTAL.FID_ADMIN"
        class="trsText--text text-h5 text-body-1 text--lighten-1 "
      >
        <v-icon color="primary">
          mdi-information
        </v-icon>
        <span class="primary--text">
          To unlock the opportunity, the authorized signatory should sign the NDA
        </span>
      </div>

      <direct-upload-nda-chat
        v-if="status.ndaSigned === false && ndaDocument && portal === CONSTS.PORTAL.INVESTOR"
        :status="status"
        :upload-allowed="true"
        :opportunity="opportunity"
        :notes="notes"
        @triggerAction="$emit('triggerAction', 'reloadOpportunity')"
        @close="$emit('close')"
      >
        <template v-slot:activator="{ on, attrs }">
          <common-trs-btn
            type="secondary"
            class="primary--text"
            large
            v-bind="attrs"
            :class="{
              'mt-3 ml-0': $vuetify.breakpoint.smAndDown,
              'ml-3': $vuetify.breakpoint.smAndUp,
            }"
            v-on="on"
            @click="getInvestorNotes(opportunity.id)"
          >
            Directly Upload NDA
            <v-icon class="ml-2">
              mdi-upload
            </v-icon>
          </common-trs-btn>
        </template>
      </direct-upload-nda-chat>

      <div v-if="status.ndaSigned && !status.ndaCounterSigned">
        Waiting for counter signature from the issuer. This may take up to 24 hours.
      </div>
    </div>
    <div
      v-if="status.ndaSignInProgress"
      class="mx-auto"
    >
      <span>{{ CONSTS.NDA_STATUS_TEXT[CONSTS.NDA_STATUS.NDA_SIGN_IN_PROCESS] }}</span>
      <span v-if="opportunity.is_nda_pre_signed">
        Please refresh your browser after 1 minute.
      </span>
    </div>
  </fragment>
</template>
<script>
  import DirectUploadNdaChat from '@/components/common/components/DirectUploadNdaChat'
  import FormTemplatesIndex from '@/components/common/fmsvc/form-templates/Index'
  import * as Opportunityservice from '@/services/opportunities'
  import { api } from '@/api'

  export default {
    name: 'NDABUttons',
    components: {
      FormTemplatesIndex,
      DirectUploadNdaChat,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: true,
      },
      notes: {
        type: Array,
        default: () => [],
      },
    },
    data: () => ({
      ndaEsignLoading: false,
      preForm: null,
      preFormVisible: false,
      preFormSubmitted: false,
      preFormSubmittedNow: false,
      preFormSubmitLoading: false,
    }),
    computed: {
      showPreformSignBtn () {
        return this.showNDAButton && this.preForm && !this.preFormSubmitted && !this.preFormSubmittedNow
      },
      showSignBtn () {
        return this.showNDAButton && (!this.preForm || (this.preForm && (this.preFormSubmittedNow || this.preFormSubmitted)))
      },
      ndaDocument () {
        return this.opportunity ? this.opportunity.nda_document : null
      },
      dataList () {
        return this.opportunity.data_list || []
      },
      showNDAButton () {
        return !this.status.ndaSigned && this.ndaDocument
      },
      profileData () {
        return this.$store.getters['auth/roles']
      },
    },
    watch: {
      opportunity (oldOpportunity, newOpportunity) {
        if (oldOpportunity && newOpportunity && this.preFormSubmitLoading) {
          this.preFormSubmitLoading = false
          this.preFormSubmittedNow = true
        }
      },
    },
    async mounted () {
      this.ndaEsignLoading = true
      if (!this.status.ndaSigned) {
        await this.getNDAPreForm()
      }
      this.preFormSubmitted = Object.keys(this.opportunity.pre_form_response || {}).length > 0
      this.ndaEsignLoading = false
    },
    methods: {
      async getInvestorNotes (id) {
        this.$emit('getInvestorNotes', id)
      },
      async fillNDAForm (data) {
        try {
          switch (this.portal) {
            case this.CONSTS.PORTAL.INVESTOR:
              await Opportunityservice.saveNDAFormData(this.opportunity.id, data)
              this.$store.dispatch('app/message', 'Saved your data')
              break
            case this.CONSTS.PORTAL.FID_ADMIN:
              await Opportunityservice.saveNDAForm(this.opportunity.id, data)
              this.$store.dispatch('app/message', { text: 'Saved your data' })
              break
            case this.CONSTS.PORTAL.ISSUER:
            default:
              break
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'NDA form fill failed.',
          })
          return true
        }
      },
      async eSignNDA (data) {
        let apiResponse
        this.ndaEsignLoading = true
        try {
          const result = await this.fillNDAForm(data)
          if (result) {
            this.ndaEsignLoading = false
            return
          }
          switch (this.portal) {
            case this.CONSTS.PORTAL.FID_ADMIN:
              apiResponse = await api.get(`opportunities/${this.opportunity.id}/nda/esign`)
              if (!this.opportunity.is_nda_pre_signed) {
                window.localStorage.setItem('docusign-redirect-notification', this.CONSTS.DL_NDA_REDIRECT_NOTIFICATION)
              }
              this.$store.dispatch('app/loading', 'Redirecting...', { root: true })
              window.open(apiResponse.data.url, '_self')
              break
            case this.CONSTS.PORTAL.INVESTOR:
              apiResponse = await Opportunityservice.getNDAEsign(this.opportunity.id)
              if (!this.opportunity.is_nda_pre_signed) {
                window.localStorage.setItem('docusign-redirect-notification', this.CONSTS.DL_NDA_REDIRECT_NOTIFICATION)
              }
              this.$store.dispatch('app/loading', 'Redirecting...', { root: true })
              window.open(apiResponse.url, '_self')
              break
            case this.CONSTS.PORTAL.ISSUER:
              apiResponse = await api.get(`opportunities/investors/${this.id}/nda/esign`)
              this.$store.dispatch('app/loading', 'Redirecting...', { root: true })
              window.open(apiResponse.data.url, '_self')
              break
            default:
              break
          }
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to sign nda',
          })
        }
        this.ndaEsignLoading = false
      },
      directSignedNDAUploadSuccess (res) {
        if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          this.$store.dispatch('app/message', { text: res.details || 'Successfully uploaded Signed NDA' })
        } else if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          this.$store.dispatch('app/message', res.details || 'Successfully uploaded Signed NDA')
        }
        this.$emit('triggerAction', 'reloadOpportunity')
        this.$emit('close')
      },
      directlyUploadSignedNDA () {
        return Opportunityservice.ndaDirectUpload(this.opportunity.id)
      },

      async getNDAPreForm () {
        try {
          this.preForm = await Opportunityservice.getNDAPreForm(this.opportunity.id)
        } catch (err) {
          try {
            await Opportunityservice.submitNDAForm(this.opportunity.id, {})
            this.$emit('triggerAction', 'reloadOpportunity')
          } catch (err) {
            this.$emit('triggerAction', 'reloadOpportunity')
          }
        }
      },
      async submitPreForm (data) {
        this.preFormSubmitLoading = true
        this.preFormVisible = false
        try {
          await Opportunityservice.submitNDAForm(this.opportunity.id, data)
          this.$emit('triggerAction', 'reloadOpportunity')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to fill NDA pre form.',
          })
          this.preFormSubmitLoading = false
        }
      },
    },
  }
</script>
