<template>
  <common-trs-btn
    v-if="isInvestorPortal && status.isSecondary"
    class="mt-4 align-self-stretch mx-10"
    type="primary"
    large
    :disabled="!oppTrades.trade || isViewer"
    @click="goMarket(oppTrades.trade)"
  >
    Trade
  </common-trs-btn>
</template>

<script>
  import * as TradeService from '@/components/common/services/trade'

  export default {

    name: 'CommonDigitalRoadshowLandingActionsTradeButton',

    components: {
    },
    props: {
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
    },
    data: () => ({
      trades: [],
    }),

    computed: {
      oppTrades () {
        const trade = this.trades.find(t => this.opportunity.ticker === t.symbol)
        return { ...this.opportunity, trade }
      },
      currentRole () {
        return this.$store.getters['auth/currentRole']
      },
      isViewer () {
        return this.CONSTS.INVESTOR_ROLES.VIEWER === this.currentRole
      },
      isInvestorPortal () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR
      },
    },
    mounted () {
      if (this.isInvestorPortal && this.status.isSecondary) {
        this.loadEntities()
        this.loadData()
      }
    },
    methods: {
      async loadEntities () {
        this.entities = await TradeService.getTradeEntities()
        if (this.entities && this.entities.length > 0) {
          this.entityId = this.entities[0].entity_uid
        }
      },
      async loadData () {
        try {
          const response = await TradeService.getTrades()
          this.trades = response.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load trades',
          })
        }
      },
      goMarket (trade) {
        window.open(`${this.CONSTS.TRADE_HOST_BY_DOMAIN_RESULT}/${trade.symbol}`, '_blank')
      },
    },
  }
</script>
