<template>
  <v-row dense>
    <v-col cols="12">
      <common-input-select
        v-model="internalValue.dataFileDocType"
        label="Document Type"
        :items="CONSTS.FORM_DATA_FILE_TYPES"
        :disabled="disabled"
      />
    </v-col>
    <v-col cols="12">
      <common-input-doc-level-input
        v-if="internalValue.dataFileCategory"
        v-model="internalValue.dataFileCategory"
        label="Document Level"
        :documents="[]"
        :disabled="disabled"
        @change="updateInternalValue"
      />
    </v-col>
    <v-col cols="12">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Name'"
      >
        <common-input-text-field
          v-model="internalValue.dataFileName"
          :error-messages="errors"
          color="primary"
          :label="'Name'"
          validate-on-blur
          :disabled="disabled"
        />
      </validation-provider>
    </v-col>
    <v-col cols="12">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Description'"
      >
        <common-input-text-field
          v-model="internalValue.dataFileDescription"
          :error-messages="errors"
          color="primary"
          :label="'Description'"
          validate-on-blur
          :disabled="disabled"
        />
      </validation-provider>
    </v-col>
    <v-col cols="4">
      <common-input-checkbox
        v-model="internalValue.dataFileDownloadAllowed"
        :disabled="disabled"
        mode="edit"
        label="Download Allowed"
      />
    </v-col>
    <v-col cols="4">
      <common-input-checkbox
        v-model="internalValue.watermarkEnabled"
        :disabled="disabled"
        mode="edit"
        label="Watermark Enabled"
      />
    </v-col>
    <v-col cols="4">
      <common-input-checkbox
        v-model="internalValue.showEditModal"
        :disabled="disabled"
        mode="edit"
        label="Show Edit Modal"
        hint="This will show a modal that will ask the user to add more information like comment when he select a document."
        persistent-hint
      />
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue: {
        handler (value) {
          if (!value.dataFileCategory) {
            this.internalValue.dataFileCategory = { Type: '0' }
          }
        },
        immediate: true,
      },
    },

    methods: {
      updateInternalValue () {
        // force update
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
