<template>
  <div v-if="wipValue">
    <validation-observer
      ref="observer"
      v-slot="{ valid }"
    >
      <v-card-title
        class="pa-0"
      >
        <h3 class="trsText--text text-h3 mb-3">
          {{ isPreview ? 'Preview' : isNew ? 'Create' : 'Edit' }} Form
        </h3>
      </v-card-title>
      <v-card-text class="px-0">
        <v-row>
          <v-col cols="6">
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              :name="'Name'"
            >
              <common-input-text-field
                v-model="wipValue.name"
                :disabled="isDisabled"
                :error-messages="errors"
                :hide-details="errors.length==0"
                color="primary"
                validate-on-blur
              >
                <template v-slot:label>
                  Name
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
          <v-col
            cols="6"
          >
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              :name="'Internal Name'"
            >
              <common-input-text-field
                v-model="wipValue.internal_name"
                :disabled="isDisabled"
                :error-messages="errors"
                :hide-details="errors.length==0"
                color="primary"
                validate-on-blur
              >
                <template v-slot:label>
                  Internal Name
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
          <v-col
            cols="6"
          >
            <validation-provider
              v-slot="{ errors }"
              rules=""
              :name="'Type'"
            >
              <common-input-select
                v-model="wipValue.type"
                :disabled="isDisabled"
                :error-messages="errors"
                :hide-details="errors.length==0"
                color="primary"
                :label="'Type (optional)'"
                validate-on-blur
                :items="CONSTS.BUIDER_FORM_TYPES"
              />
            </validation-provider>
          </v-col>
          <v-col cols="6">
            <validation-provider
              v-slot="{ errors }"
              rules=""
              :name="'Description'"
            >
              <common-input-text-field
                v-model="wipValue.description"
                :disabled="isDisabled"
                :error-messages="errors"
                color="primary"
                :hide-details="errors.length==0"
                :label="'Description (optional)'"
                validate-on-blur
              />
            </validation-provider>
          </v-col>
          <v-col cols="6">
            <validation-provider
              v-slot="{ errors }"
              rules=""
              :name="'Opening'"
            >
              <common-input-text-field
                v-model="wipValue.opening"
                :disabled="isDisabled"
                :error-messages="errors"
                :hide-details="errors.length==0"
                color="primary"
                :label="'Opening (optional)'"
                validate-on-blur
              />
            </validation-provider>
          </v-col>
          <v-col cols="6">
            <validation-provider
              v-slot="{ errors }"
              rules=""
              :name="'Closing'"
            >
              <common-input-text-field
                v-model="wipValue.closing"
                :disabled="isDisabled"
                :error-messages="errors"
                color="primary"
                :hide-details="errors.length==0"
                :label="'Closing (optional)'"
                validate-on-blur
              />
            </validation-provider>
          </v-col>

          <v-subheader class="pa-0 ml-3">
            Sections
          </v-subheader>
          <v-col cols="12">
            <v-expansion-panels
              class="mt-2"
              accordion
            >
              <draggable
                v-model="wipValue.sections"
                :disabled="isDisabled"
                style="width: 100%;font-size:10px"
                :options="{ handle:'.page-drag-handle' }"
              >
                <v-expansion-panel
                  v-for="(def, ind) in wipValue.sections"
                  :key="ind"
                  class="mb-5"
                >
                  <edit-form-section
                    v-model="wipValue.sections[ind]"
                    :disabled="isDisabled"
                    :index="ind"
                    :sections="wipValue.sections"
                    :is-common="isCommon"
                    @removeDefAt="removeDefAt"
                  />
                </v-expansion-panel>
              </draggable>
            </v-expansion-panels>
            <div class="d-flex justify-center align-center">
              <edit-form-add-section-modal
                :is-common="isCommon"
                @add="add"
              >
                <template v-slot:activator="{ on }">
                  <common-trs-btn
                    :disabled="isDisabled"
                    class="mb-4 primary--text"
                    type="secondary"
                    style="width:200px"
                    v-on="on"
                  >
                    Add section
                  </common-trs-btn>
                </template>
              </edit-form-add-section-modal>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions class="px-0 pt-3 pb-0">
        <v-spacer />
        <common-trs-btn
          text
          medium
          type="secondary"
          class="mr-2 ml-2 primary--text"
          @click="close"
        >
          Close
        </common-trs-btn>
        <common-trs-btn
          v-if="!isDisabled"
          type="primary"
          text
          medium
          class="mr-4 ml-2 white--text"
          :disabled="!valid"
          :loading="loading"
          @click="save"
        >
          Save
        </common-trs-btn>
        <common-trs-btn
          type="primary"
          text
          medium
          class="mr-4 white--text"
          :disabled="!valid || isDisabled"
          :loading="publishing"
          @click="publish"
        >
          {{ isDisabled ? 'Published' : 'Publish' }}
        </common-trs-btn>
      </v-card-actions>
    </validation-observer>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { api } from '@/api'
  import draggable from 'vuedraggable'
  import Proxyable from 'vuetify/lib/mixins/proxyable'
  import EditFormSection from './EditFormSection'
  import EditFormAddSectionModal from './EditFormAddSectionModal'

  export default {
    name: 'DashboardFormbuilderSectionsEditSection',

    components: {
      draggable,
      EditFormSection,
      EditFormAddSectionModal,
    },

    mixins: [Proxyable],

    props: {
      value: {
        type: Object,
        required: true,
        default: () => {},
      },
      isCommon: {
        type: Boolean,
      },
      isNew: {
        required: false,
      },
      isPreview: {
        type: Boolean,
        default: () => { return false },
      },
    },

    data: () => ({
      loading: false,
      publishing: false,
      loadingLatest: false,
      wipValue: null,
      portal: '',
    }),

    computed: {
      ...mapGetters({
        tenant: 'auth/tenant',
      }),
      isDisabled () {
        return this.wipValue &&
          (this.wipValue.is_published ||
            this.wipValue.is_archived ||
            (this.isCommon && this.portal === this.CONSTS.PORTAL.FID_ADMIN)
          )
      },
    },

    watch: {
      options: {
        handler () {
          this.loadData()
        },
        deep: true,
      },
    },

    async created () {
      this.wipValue = { ...this.value }
      this.portal = this.$getPortal()
    },

    methods: {
      beforeRouteLeave (to, from, next) {
        if (this.$refs.observer && this.$refs.observer.flags.dirty) {
          this.$root.$confirm({
            entity: null,
            message: 'There are unsaved changes on this page. Do you wish to save?',
            yesButton: 'Save Now',
            noButton: 'No',
            maxWidth: 400,
          })
            .then(async (confirm) => {
              if (confirm) {
                await this.save()
                next()
              }
            })
            .catch(() => {
              next()
            })
        } else {
          next()
        }
      },
      async publish () {
        this.$refs.observer.reset()
        this.publishing = true
        try {
          await this.doSave()
          await api.patch(`forms/${this.wipValue.id}`, { is_published: true }, { base: this.isCommon ? 'common' : '' })
          this.wipValue.is_published = true

          this.$store.dispatch('app/message', { text: 'Form is published successfully.' })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to publish form',
          })
        }
        this.publishing = false
      },
      async save () {
        this.$refs.observer.reset()
        this.loading = true
        this.wipValue.source = this.isCommon ? 'common' : ''

        try {
          await this.doSave()
          this.$emit('save', this.wipValue)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save form',
          })
        }
        this.loading = false
      },
      async doSave () {
        this.loading = true
        if (this.wipValue.id) {
          // eslint-disable-next-line
          const apiResponse = await api.put(`forms/${this.wipValue.id}`, this.wipValue, { base: this.isCommon ? 'common' : '' })

          this.$store.dispatch('app/message', { text: 'Form is saved successfully.' })
        } else {
          const apiResponse = await api.post('forms', this.wipValue, { base: this.isCommon ? 'common' : '' })

          this.$store.dispatch('app/message', { text: 'Form is created successfully.' })
          this.wipValue.id = apiResponse.data.id
        }
        this.loading = false
      },
      async close () {
        this.$emit('close')
      },
      add (section) {
        this.wipValue.sections = this.wipValue.sections.concat([{ ...section }])
      },
      removeDefAt (idx) {
        this.wipValue.sections = this.wipValue.sections.filter((i, x) => x !== idx)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .common-input-select {
    ::v-deep .common-input-select__selections {
      text-transform: none;
    }
  }
  .page-drag-handle, .branch-drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
