<template>
  <validation-observer
    v-slot="{ valid }"
  >
    <v-expansion-panel-header expand-icon="mdi-menu-down">
      <div class="d-flex justify-space-between">
        <div class="d-flex align-center">
          <v-icon
            color="primary"
            class="page-drag-handle"
          >
            mdi-drag
          </v-icon>
          {{ index + 1 }} - {{ internalValue.label }}
        </div>

        <div
          class="text-right"
          style="width:300px"
        >
          <common-app-confirm
            title="Delete Confirmation"
            message="Are you sure to delete the item?"
            yes-button="Yes"
            no-button="Cancel"
            :entity="internalValue"
            @yes="$emit('removeDefAt', index)"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                :disabled="disabled"
                type="tertiary"
                color="error"
                class="mr-3"
                icon
                v-on="on"
              >
                <v-icon>mdi-delete</v-icon>
              </common-trs-btn>
            </template>
          </common-app-confirm>
          <v-btn
            small
            :color="valid ? 'success' : 'error'"
            dark
            fab
            class="mr-4"
          >
            <v-icon
              v-if="valid"
              color="white"
            >
              mdi-check
            </v-icon>
            <v-icon
              v-if="!valid"
              color="white"
            >
              mdi-alert-outline
            </v-icon>
          </v-btn>
        </div>
      </div>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row dense>
        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Id'"
          >
            <common-input-text-field
              v-model="internalValue.id"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Id'"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Input'"
          >
            <common-input-select
              v-model="internalValue.input"
              :disabled="disabled"
              label="Input"
              color="primary"
              :items="FORM_DEF_INPUT_TYPES"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Label'"
          >
            <common-input-text-field
              v-model="internalValue.label"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Label'"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col cols="6">
          <validation-provider
            v-if="regexFieldAllowed"
            v-slot="{ errors }"
            rules="valid-regex"
            :name="'Regex'"
          >
            <common-input-text-field
              v-model="internalValue.regex"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Regex'"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <!-- <v-col cols="12">
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Long Label'"
          >
            <common-input-text-field
              v-model="internalValue.longLabel"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Long Label'"
              validate-on-blur
            />
          </validation-provider>
        </v-col> -->

        <v-col
          cols="6"
          class="d-flex"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Comment'"
            class="flex-fill mr-2"
          >
            <common-input-text-field
              v-model="internalValue.comment"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Comment (HTML Markup)'"
              validate-on-blur
            />
          </validation-provider>
          <a
            class="mt-5"
            type="primary"
            @click="showCommentPreview"
          >
            Preview
          </a>
        </v-col>

        <v-col cols="3">
          <validation-provider
            v-slot="{ errors }"
            :name="'Mandatory'"
          >
            <common-input-switch
              v-model="internalValue.mandatory"
              :disabled="disabled"
              :label="'Mandatory'"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col cols="3">
          <validation-provider
            v-slot="{ errors }"
            :name="'Multiple'"
          >
            <common-input-switch
              v-model="internalValue.multiple"
              :disabled="disabled"
              :label="'Multiple'"
              :error-messages="errors"
              validate-on-blur
              class="ml-2"
            />
          </validation-provider>
        </v-col>
      </v-row>

      <layout-fields
        v-model="internalValue"
        :disabled="disabled"
        :is-common="isCommon"
        :sections="sections"
        :current-section="currentSection"
      />

      <additional-fields
        v-model="internalValue"
        :disabled="disabled"
        :is-common="isCommon"
        :sections="sections"
      />

      <custom-validation
        v-model="internalValue.customRuleSets"
        :type="internalValue.input"
        :disabled="disabled"
      />

      <v-row
        dense
      >
        <v-col cols="12">
          <v-subheader class="text-h4">
            Visibility
          </v-subheader>
        </v-col>
        <v-col cols="12">
          <validation-provider
            v-slot="{ errors }"
            :name="'Control Visibility'"
          >
            <common-input-switch
              v-model="internalValue.ctrlVisibility"
              :disabled="disabled"
              :label="'Control Visibility'"
              :error-messages="errors"
              validate-on-blur
              class="ml-2"
              @change="onVisibilityChange"
            />
          </validation-provider>
        </v-col>
      </v-row>
      <definition-visibility
        v-if="internalValue.ctrlVisibility"
        v-model="internalValue.visibility"
        :disabled="disabled"
        :sections="sections"
        :is-common="isCommon"
      />
    </v-expansion-panel-content>
  </validation-observer>
</template>

<script>
  import AdditionalFields from './additional-fields/Index'
  import DefinitionVisibility from './DefinitionVisibility'
  import CustomValidation from './CustomValidation'
  import LayoutFields from './LayoutFields'

  import {
    FORM_DEF_INPUT_TYPES,
    FORM_DEF_DATA_SOURCE_TYPES,
  } from '@/constants'

  export default {
    name: 'DashboardFormsBuilderEditSectionDefinition',

    components: {
      AdditionalFields,
      DefinitionVisibility,
      CustomValidation,
      LayoutFields,
    },

    props: {
      value: {
        type: Object,
        required: true,
      },
      index: {
        type: Number,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
      currentSection: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      FORM_DEF_INPUT_TYPES: FORM_DEF_INPUT_TYPES.sort((v1, v2) => v1.text.localeCompare(v2.text)),
      FORM_DEF_DATA_SOURCE_TYPES,
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      regexFieldAllowed () {
        const allowedTypes = [
          this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT,
          this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT_LONG,
          this.CONSTS.FORM_DEF_INPUT_TYPE.NUMBER,
        ]
        return allowedTypes.indexOf(this.internalValue.input) !== -1
      },
    },

    watch: {
      internalValue (val) {
        if (val && this.internalValue) {
          if (val.dataSource !== this.internalValue.dataSource) {
            this.internalValue.default = ''
            this.internalValue.entity = ''
            this.internalValue.data = ''
          }
        }
      },
    },

    methods: {
      showCommentPreview () {
        this.$root.$confirm({
          entity: null,
          title: 'Preview comment',
          description: this.internalValue.comment,
          yesButton: 'Close',
          maxWidth: 400,
        })
          .then(async (confirm) => {
            // if (confirm) {
            // }
          })
          .catch(() => {
          })
      },
      onVisibilityChange (val) {
        if (val) {
          this.internalValue.visibility = {
            lvalue: '',
            rValue: '',
            lsection: '',
          }
        }
      },
    },
  }
</script>
