<template>
  <common-app-page-header-v2
    class="pa-0 trs-filter-input mb-2"
    :padding="24"
    :has-more-filters="false"
    :applied-filter="$getAppliedFilter(internalValue, availableKeys, hideFilters)"
  >
    <template v-slot:primary-filter="{ toggleExpanded, expanded }">
      <common-input-text-field
        v-model="internalValue.name"
        label="Search by Name"
        class="mr-5"
        color="primary"
        clearable
        hide-details
        single-line
        prepend-inner-icon="mdi-magnify"
        dense
      >
        <template v-slot:append>
          <common-trs-filter-card-expand-btn
            :expanded="expanded"
            @toggleExpanded="toggleExpanded"
          />
        </template>
      </common-input-text-field>
    </template>
    <template v-slot:actions>
      <slot name="actions" />
    </template>
    <template v-slot:content>
      <v-col
        v-if="hideFilters.indexOf('type') === -1"
        cols="12"
        sm="4"
      >
        <common-input-select
          v-model="internalValue.type"
          label="Type"
          color="primary"
          clearable
          hide-details
          :items="CONSTS.BUIDER_FORM_TYPES"
        />
      </v-col>
      <v-col
        v-if="hideFilters.indexOf('internal_name') === -1"
        cols="12"
        sm="4"
      >
        <common-input-text-field
          v-model="internalValue.internal_name"
          label="Internal Name"
          color="primary"
          clearable
          hide-details
        />
      </v-col>
    </template>
  </common-app-page-header-v2>
</template>

<script>
  export default {
    name: 'FormFilter',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      hideFilters: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
      availableKeys: [
        { key: 'name' },
        { key: 'type' },
        { key: 'internal_name' },
      ],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
