<template>
  <v-row
    v-if="isLayoutAvailable"
    dense
  >
    <v-col cols="12">
      <v-subheader class="text-h4">
        Layout Fields
      </v-subheader>
    </v-col>

    <v-col
      cols="6"
      md="3"
    >
      <common-input-select
        v-model="internalValue.columnNumber"
        :disabled="disabled"
        :label="'Column Number'"
        :items="columnOptions"
        hint="By default, it will be the first column."
        item-text="title"
        item-value="value"
        validate-on-blur
        clearable
      />
    </v-col>
    <v-col
      cols="6"
      md="3"
    >
      <common-input-text-field
        v-model="internalValue.marginTop"
        :disabled="disabled"
        :label="'Margin Top'"
        hint="By default, it will be 0."
        validate-on-blur
        clearable
      />
    </v-col>
  </v-row>
</template>

<script>

  export default {
    name: 'DashboardFormsBuilderEditLayoutFields',

    components: {
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      type: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      currentSection: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      isLayoutAvailable () {
        return this.currentSection && this.currentSection.layoutCols && !isNaN(this.currentSection.layoutCols)
      },
      columnOptions () {
        const options = []
        for (let i = 0; i < +this.currentSection.layoutCols; i++) {
          options.push({ title: `Column ${i + 1}`, value: i })
        }
        return options
      },
    },

    watch: {
      value: {
        handler (val) {
          if (!val) {
            this.internalValue = {}
          }
        },
        immediate: true,
      },
    },

    methods: {
      forceUpdate () {
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
