<template>
  <v-app>
    <v-main>
      <v-toolbar
        flat
        color="primary"
        dark
      >
        <v-toolbar-title>Style Guide</v-toolbar-title>
      </v-toolbar>
      <v-tabs
        v-model="currentTab"
        vertical
        style="height: 100%"
      >
        <v-tab>Color Guide</v-tab>
        <v-tab>Typography</v-tab>
        <v-tab>Buttons</v-tab>
        <v-tab>Form Elements</v-tab>
        <v-tab>Logos & Finger Print Icon</v-tab>
        <v-tab>Icons</v-tab>
        <v-tabs-items
          v-model="currentTab"
          vertical
        >
          <v-tab-item>
            <color-guide />
          </v-tab-item>
          <v-tab-item>
            <typography />
          </v-tab-item>
          <v-tab-item>
            <buttons />
          </v-tab-item>
          <v-tab-item>
            <form-elements />
          </v-tab-item>
          <v-tab-item>
            <logos />
          </v-tab-item>
          <v-tab-item>
            <icons />
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </v-main>
  </v-app>
</template>

<script>
  import ColorGuide from './components/ColorGuide'
  import Typography from './components/Typography'
  import Buttons from './components/Buttons'
  import FormElements from './components/FormElements'
  import Logos from './components/Logos'
  import Icons from './components/Icons'
  export default {
    name: 'StyleGuideIndex',

    components: {
      ColorGuide,
      Typography,
      Buttons,
      FormElements,
      Logos,
      Icons,
    },

    data: () => ({
      currentTab: null,
    }),

    computed: {
    },

    mounted () {
    },
  }
</script>
