<template>
  <common-trs-btn
    text
    icon
    :loading="loading"
    @click="deleteDocs"
  >
    <v-icon>
      mdi-delete-outline
    </v-icon>
  </common-trs-btn>
</template>
<script>
  import * as dataRoomService from '../../data-room'

  export default {
    name: 'DocumentsComponentsBulkDelete',
    props: {
      id: {
        type: String,
        required: true,
      },
      selectedDocuments: {
        type: Array,
        required: true,
      },
    },
    data () {
      return {
        loading: false,
      }
    },
    methods: {
      async deleteDocs () {
        const oppDocIds = this.selectedDocuments.filter(doc => doc.opportunity).map(doc => doc.document_id)
        const issuerDocIds = this.selectedDocuments.filter(doc => !doc.opportunity).map(doc => doc.document_id)
        console.log('issuerDocIds: ', issuerDocIds)
        let description = ''
        if (issuerDocIds.length > 0) {
          description += `
            <div class="text-left ml-3 mt-n5">
              <b>WARNING!!</b>
              <p>
                You are about to delete one or more Issuer files.
                Once deleted, these files will be removed from the Issuer Dataroom, and from every Opportunity associated with this Issuer.<br />
                Do you wish to continue?
              </p>
            </div>
          `
        }
        this.$root.$confirm({
          entity: null,
          title: 'Delete Documents',
          message: `Are you sure you want to delete ${this.selectedDocuments.length || 'all'} documents?`,
          description,
          yesButton: 'Yes',
          noButton: 'No',
          maxWidth: 450,
        })
          .then(async (confirm) => {
            if (confirm) {
              this.loading = true
              try {
                if (issuerDocIds.length > 0) {
                  await dataRoomService.issuerDocumentBulkDelete(issuerDocIds)
                }
                if (oppDocIds.length > 0) {
                  await dataRoomService.oppDocumentBulkDelete(this.id, oppDocIds)
                }
                this.$emit('refresh')
              } catch (err) {
                console.log('err: ', err)
                this.$store.dispatch('app/handleError', {
                  err,
                  message: 'Failed to delete document',
                })
              }
              this.loading = false
            }
          })
          .catch(() => {
          })
      },
    },
  }
</script>
