<template>
  <common-trs-btn
    v-if="btnText"
    type="primary"
    class="mt-5"
    large
    :pem-roles-allowed="permRolesAllowed"
    :loading="loading"
    @click="downloadDocuments"
  >
    {{ btnText }}
  </common-trs-btn>
</template>
<script>
  import * as serviceReqApi from '../../../services/service-request'

  export default {
    name: 'DocumentsComponentsBulkDownload',
    props: {
      id: {
        type: String,
        required: true,
      },
      selectedDocuments: {
        type: Array,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      allDocuments: {
        type: Array,
        required: true,
      },
      permRolesAllowed: {
        type: Array,
        required: false,
      },
    },
    data () {
      return {
        loading: false,
      }
    },
    computed: {
      downloadableDocuments () {
        return this.selectedDocuments.filter(doc => {
          return doc.details && doc.details.download_allowed
        })
      },
      btnText () {
        if (this.selectedDocuments.length > 0 && (this.selectedDocuments.length === this.allDocuments.length)) {
          return 'Download All'
        }
        if (this.downloadableDocuments.length > 0) {
          return `Download ${this.downloadableDocuments.length} Files`
        }
        return null
      },
    },
    methods: {
      async downloadDocuments () {
        this.loading = true
        try {
          const docIds = this.downloadableDocuments.map(doc => doc.document_id)
          if (docIds.length > 0) {
            const downloadAll = this.selectedDocuments.length === this.allDocuments.length
            await serviceReqApi.downloadSelectedDocsRequest(docIds, this.id, downloadAll)
          } else {
            await serviceReqApi.createRequest(this.id)
          }
          this.$store.commit('app/showMessage', { text: 'You request has been received.' }, { root: true })
          this.$router.push({
            name: 'ServiceRequest',
          })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load the investment',
          })
        }
        this.loading = false
      },
    },
  }
</script>
