<template>
  <common-trs-btn
    type="secondary"
    class="mt-5"
    large
    @click="goToBulkUploadStatus"
  >
    View Bulk Upload Status
  </common-trs-btn>
</template>
<script>

  export default {
    name: 'BulkUploadStatus',
    props: {
      id: {
        type: String,
        required: true,
      },
    },
    data: () => ({

    }),
    computed: {
    },
    methods: {
      goToBulkUploadStatus () {
        this.$router.push({
          name: 'BulkUploadList',
          query: {
            oppId: this.id,
          },
        })
      },
    },
  }
</script>
