<template>
  <v-dialog
    v-model="internalDialog"
    :fullscreen="$vuetify.breakpoint.smAndDown"
    :max-width="700"
    scrollable
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <common-trs-btn
        type="secondary"
        class="mt-3"
        :pem-roles-allowed="[
          CONSTS.ISSUER_ROLE.SUPERADMIN,
          CONSTS.ISSUER_ROLE.ISSUER_ADMIN
        ]"
        large
        v-on="on"
      >
        <v-icon class="mr-2">
          mdi-cog
        </v-icon>
        Set Preferences
      </common-trs-btn>
    </template>

    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Bulk Edit
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>

      <common-trs-modal-card-text>
        <common-input-checkbox
          label="Download Allowed"
          @change="handleFieldChange('download_allowed', $event)"
        />
        <common-input-checkbox
          label="Watermark Document"
          @change="handleFieldChange('watermark', $event)"
        />
      </common-trs-modal-card-text>

      <common-trs-modal-card-actions>
        <v-spacer />
        <common-trs-btn
          :loading="saving"
          type="primary"
          class="mr-4"
          @click="save"
        >
          Save
        </common-trs-btn>
      </common-trs-modal-card-actions>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import { api } from '@/api'

  export default {
    name: 'DocumentsComponentsBulkEdit',

    components: {
    },

    props: {
      oppId: {
        type: String,
        required: true,
      },
      selected: {
        type: Array,
        required: true,
      },
    },

    data: () => ({
      internalDialog: false,
      visible: false,
      saving: false,
      oppFormData: {},
      issuerFormData: {},
    }),

    computed: {
    },

    watch: {
      internalDialog: {
        handler (val) {
          if (val) {
            this.visible = true
            const oppDocIds = this.selected.filter(sel => sel.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC).map(sel => sel.document_id)
            const issuerDocIds = this.selected.filter(sel => sel.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC).map(sel => sel.document_id)
            this.oppFormData = {
              details: {
                download_allowed: false,
                watermark: false,
              },
              document_ids: oppDocIds,
            }
            this.issuerFormData = {
              details: {
                download_allowed: false,
                watermark: false,
              },
              document_ids: issuerDocIds,
            }
          } else {
            this.visible = false
          }
        },
        immediate: true,
      },
    },

    async created () {
    },

    methods: {
      async save () {
        this.saving = true
        try {
          if (this.oppId && this.oppFormData.document_ids.length > 0) {
            await api.patch(
              `opportunities/${this.oppId}/document/bulk-import`,
              this.oppFormData,
            )
          }
          if (this.issuerFormData.document_ids.length > 0) {
            await api.patch(
              'document/bulk-import',
              this.issuerFormData,
            )
          }
          this.$store.commit('app/showMessage', { text: `Successfully updated ${this.selected.length} document(s)` })
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load document',
          })
        }
        this.saving = false
        this.close(true)
      },
      handleFieldChange (field, value) {
        if (!this.oppFormData.details) { this.oppFormData.details = {} }
        if (!this.issuerFormData.details) { this.issuerFormData.details = {} }
        this.oppFormData.details[field] = this.issuerFormData.details[field] = value
      },
      close (doRefresh, level) {
        this.internalDialog = false
        if (doRefresh) {
          this.$emit('refresh', level)
        }
      },
    },
  }
</script>

<style lang="sass">
</style>
