<template>
  <v-dialog
    v-model="internalValue"
    :max-width="400"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
    <validation-observer
      v-slot="{ valid }"
    >
      <common-trs-modal-card>
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>
            Confirm
          </common-trs-modal-card-title-content>

          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="close"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <common-trs-modal-card-text>
          <div class="text-center ma-3">
            <div
              style="word-break: break-word;"
            >
              Do you want to delete this document?
            </div>
          </div>
        </common-trs-modal-card-text>
        <common-trs-modal-card-actions>
          <common-trs-btn
            class="mr-3 primary--text"
            type="tertiary"
            text
            @click="close"
          >
            No
          </common-trs-btn>

          <common-trs-btn
            :disabled="!valid"
            type="primary"
            text
            class="white--text"
            @click="onYes"
          >
            Yes
          </common-trs-btn>
        </common-trs-modal-card-actions>
      </common-trs-modal-card>
    </validation-observer>
  </v-dialog>
</template>

<script>
  import { api } from '@/api'
  export default {
    props: {
      doc: {
        type: Object,
        required: true,
      },
      oppId: {
        type: String,
        required: true,
      },
    },
    data () {
      return {
        internalValue: false,
        reason: '',
        loading: false,
      }
    },

    computed: {
    },

    watch: {
      internalValue (val) {
        if (val) {
          this.reason = ''
        }
      },
    },

    methods: {
      close (ev) {
        this.internalValue = false
        this.$emit('close', ev)
      },
      async onYes (ev) {
        this.loading = true
        try {
          if (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
            await api.delete(`opportunities/${this.oppId}/compliance-document/${this.doc.document_id}`)
          } else if (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC) {
            await api.delete(`document/${this.doc.document_id}`)
          } else {
            await api.delete(`opportunities/${this.oppId}/document/${this.doc.document_id}`)
          }
          this.$store.commit('app/showMessage', { text: 'Successfully deleted the document' })
          this.$emit('refresh')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to delete document',
          })
        }
        this.loading = false
        this.internalValue = false
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-dialog .v-card .v-card__title .v-icon.header-icon {
    top: 0px;
    left: 0px;
  }
  .v-dialog__content {
    z-index: 9999999 !important;
  }
</style>
