<template>
  <div
    :key="item.document_id"
    class="d-flex align-center"
  >
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <common-trs-btn
          v-if="showBAsButton"
          icon
          type="tertiary"
          color="text-light"
          :loading="loading.required"
          v-on="on"
          @click="toggleRequired"
        >
          <v-icon>
            {{ isDocRequired(item) ? 'mdi-flag' : 'mdi-flag-outline' }}
          </v-icon>
        </common-trs-btn>
        <label
          v-else
          class="ml-1 mr-2"
          v-on="on"
        >
          <v-icon size="18">
            {{ isDocRequired(item) ? 'mdi-flag' : 'mdi-flag-outline' }}
          </v-icon>
        </label>
      </template>
      Document {{ isDocRequired(item) ? '' : 'Not' }} Required
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <common-trs-btn
          v-if="showBAsButton"
          icon
          type="tertiary"
          color="text-light"
          :loading="loading.download"
          v-on="on"
          @click="toggleDownload"
        >
          <v-icon>
            {{ item.details && item.details.download_allowed ? 'mdi-download' : 'mdi-download-off-outline' }}
          </v-icon>
        </common-trs-btn>
        <label
          v-else
          class="ml-1 mr-2"
          v-on="on"
        >
          <v-icon size="18">
            {{ item.details && item.details.download_allowed ? 'mdi-download' : 'mdi-download-off-outline' }}
          </v-icon>
        </label>
      </template>
      Download {{ !item.details || !item.details.download_allowed ? 'Not' : '' }} Allowed
    </v-tooltip>
    <v-tooltip
      v-if="!isRoadshow"
      bottom
    >
      <template v-slot:activator="{ on }">
        <common-trs-btn
          v-if="showBAsButton && portal===CONSTS.PORTAL.ISSUER"
          icon
          type="tertiary"
          color="text-light"
          :loading="loading.watermark"
          v-on="on"
          @click="toggleWatermark"
        >
          <v-icon>
            {{ item.details && item.details.watermark ? 'mdi-water' : 'mdi-water-outline' }}
          </v-icon>
        </common-trs-btn>
        <label
          v-else
          class="ml-1 mr-2"
          v-on="on"
        >
          <v-icon size="18">
            {{ item.details && item.details.watermark ? 'mdi-water' : 'mdi-water-outline' }}
          </v-icon>
        </label>
      </template>
      Watermark {{ item.details && item.details.watermark ? 'Enabled': 'Disabled' }}
    </v-tooltip>
    <v-tooltip
      v-if="!isRoadshow && isEditableDoc(item)"
      bottom
    >
      <template v-slot:activator="{ on }">
        <common-trs-btn
          v-if="showBAsButton"
          icon
          type="tertiary"
          color="text-light"
          :class="!isDocRequired(item) ? 'cursor-pointer' : 'disabled-icon'"
          :loading="loading.docPrivate"
          v-on="on"
          @click="makeDocPrivate(item)"
        >
          <v-icon>
            {{ getPrivateIcon(item) }}
          </v-icon>
        </common-trs-btn>
        <label
          v-else
          class="ml-1 mr-2"
          v-on="on"
        >
          <v-icon size="18">
            {{ getPrivateIcon(item) }}
          </v-icon>
        </label>
      </template>
      <span v-if="getPrivateIcon(item) == 'mdi-lock-outline'">Private Document</span>
      <span v-if="getPrivateIcon(item) == 'mdi-lock-off-outline'">Private-Disabled Document</span>
      <span v-if="getPrivateIcon(item) == 'mdi-lock-open-variant-outline'">Public Document</span>
    </v-tooltip>
  </div>
</template>
<script>
  import * as documentServices from '@/components/common/services/documents'

  export default {
    name: 'CommonDigitalRoadshowDocumentsItemFlag',
    props: {
      oppId: {
        type: String,
        required: true,
      },
      doc: {
        type: Object,
        required: true,
      },
      canEdit: {
        type: Boolean,
        required: true,
      },
      isRoadshow: {
        type: Boolean,
        required: true,
      },
    },
    data () {
      return {
        loading: {},
      }
    },
    computed: {
      docTypes () {
        return this.$store.getters['documentTypes/docTypes']
      },
      portal () {
        return this.$getPortal()
      },
      item () {
        return {
          ...this.doc,
          document_type: Array.isArray(this.doc.document_type) ? (this.doc.document_type || []).map(type => type.id) : this.doc.document_type,
        }
      },
      showBAsButton () {
        return !this.isRoadshow && (
          (this.portal === this.CONSTS.PORTAL.FID_ADMIN && this.item.loadFrom !== this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC) ||
          (this.portal === this.CONSTS.PORTAL.ISSUER))
      },
    },
    methods: {
      isEditableDoc (item) {
        return item.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC || item.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC
      },
      getPrivateIcon (item) {
        let iconClass = null
        const isEditabledoc = this.isEditableDoc(item)
        if (isEditabledoc) {
          if (this.portal === this.CONSTS.PORTAL.ISSUER) {
            iconClass = this.getIssuerPortalPrivateIcon(item)
          } else if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
            iconClass = this.getTenantPortalPrivateIcon(item)
          }
        }
        return iconClass
      },
      getIssuerPortalPrivateIcon (item) {
        let iconClass = null
        if (item.is_issuer_private) {
          iconClass = 'mdi-lock-outline'
        } else if (item.isRequired) {
          iconClass = 'mdi-lock-off-outline'
        } else {
          iconClass = 'mdi-lock-open-variant-outline'
        }
        return iconClass
      },
      getTenantPortalPrivateIcon (item) {
        let iconClass = null
        if (item.is_tenant_private || item.is_private || item.is_issuer_private) {
          iconClass = 'mdi-lock-outline'
        } else if (item.isRequired || item.is_required) {
          iconClass = 'mdi-lock-off-outline'
        } else {
          iconClass = 'mdi-lock-open-variant-outline'
        }
        return iconClass
      },
      isDocRequired (item) {
        let isReq = false
        if (item.isRequired || item.is_required) {
          isReq = true
        }
        return isReq
      },
      async makeDocPrivate (item) {
        if (!this.isDocRequired(item)) {
          let message = null
          try {
            if (!this.loading.docPrivate) {
              this.$set(this.loading, 'docPrivate', true)
              if (this.portal === this.CONSTS.PORTAL.ISSUER) {
                message = await this.updateIssuerDoc(item)
              } else if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
                message = await this.updateTenantDoc(item)
              }
              await this.$emit('refresh')
              this.$store.dispatch('app/message', {
                text: message,
              })
              this.$set(this.loading, 'docPrivate', false)
            }
          } catch (err) {
            this.$set(this.loading, 'docPrivate', false)
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Sorry! Unable to process your request.',
            })
          }
        }
      },
      async toggleRequired () {
        if (!this.canEdit) { return }
        this.$set(this.loading, 'required', true)
        await this.save({
          ...this.item,
          isRequired: !this.item.isRequired,
        })
        this.$set(this.loading, 'required', false)
      },
      async toggleWatermark () {
        if (!this.canEdit) { return }
        this.$set(this.loading, 'watermark', true)
        await this.save({
          ...this.item,
          details: {
            ...(this.item.details || {}),
            watermark: !(this.item.details && this.item.details.watermark),
          },
        })
        this.$set(this.loading, 'watermark', false)
      },
      async toggleDownload () {
        if (!this.canEdit) { return }
        this.$set(this.loading, 'download', true)
        await this.save({
          ...this.item,
          details: {
            ...(this.item.details || {}),
            download_allowed: !(this.item.details && this.item.details.download_allowed),
          },
        })
        this.$set(this.loading, 'download', false)
      },
      validate (document) {
        if (document.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
          if (document.is_private && document.is_required) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          }
        } else {
          if (document.is_issuer_private && document.isRequired) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          } else if (document.is_tenant_private && document.isRequired) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          }
        }
        return true
      },
      async save (document) {
        // Internal Validation
        if (!this.canEdit || !this.validate(document)) {
          return
        }
        try {
          if (this.portal === this.CONSTS.PORTAL.FID_ADMIN && document.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
            this.saving = true
            await this.saveTenantDoc(document)
          } else if (this.portal === this.CONSTS.PORTAL.ISSUER) {
            this.saving = true
            if (document.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC) {
              await this.saveIssuerDoc(document)
            } else {
              await this.saveOppDoc(document)
            }
          }
          if (this.saving) {
            this.$emit('refresh')
          }
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save document',
          })
        }
        this.saving = false
      },
      async saveIssuerDoc (document) {
        let requiredDocTypeId = null
        this.docTypes.forEach(type => {
          if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
            requiredDocTypeId = type.id
          }
        })
        if (requiredDocTypeId && Array.isArray(document.document_type)) {
          if (document.isRequired && document.document_type.indexOf(requiredDocTypeId) === -1) {
            document.document_type.push(requiredDocTypeId)
          }
          if (!document.isRequired && document.document_type.indexOf(requiredDocTypeId) !== -1) {
            document.document_type.splice(document.document_type.indexOf(requiredDocTypeId), 1)
          }
        }
        await documentServices.uploadIssuerDocument(
          this.oppId,
          document,
          false,
          document.document_id,
        )
      },
      async saveOppDoc (document) {
        let requiredDocTypeId = null
        this.docTypes.forEach(type => {
          if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
            requiredDocTypeId = type.id
          }
        })
        if (requiredDocTypeId && Array.isArray(document.document_type)) {
          if (document.isRequired && document.document_type.indexOf(requiredDocTypeId) === -1) {
            document.document_type.push(requiredDocTypeId)
          }
          if (!document.isRequired && document.document_type.indexOf(requiredDocTypeId) !== -1) {
            document.document_type.splice(document.document_type.indexOf(requiredDocTypeId), 1)
          }
        }
        await documentServices.uploadOpportunityDocument(
          this.oppId,
          document,
          false,
          document.document_id,
        )
      },
      async saveTenantDoc (document) {
        document.is_required = !!document.isRequired
        await documentServices.uploadTenantDocument(
          this.oppId,
          document,
          false,
          document.document_id,
        )
      },
      async updateIssuerDoc (item) {
        let message = null
        if (item.is_issuer_private) {
          message = await this.removeIssuerDocPrivate(item)
        } else {
          message = await this.markIssuerDocPrivate(item)
        }
        return message
      },
      async updateTenantDoc (item) {
        let message = null
        const isIssuerDoc = item.loadFrom !== this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC
        if (!isIssuerDoc && item.is_private) {
          message = await this.removeTenantDocPrivate(item)
        } else if (!isIssuerDoc && !item.is_private) {
          message = await this.markTenantDocPrivate(item)
        } else if (isIssuerDoc && !item.is_tenant_private) {
          message = this.markIssuerDocTenantPrivate(item)
        } else if (isIssuerDoc && item.is_tenant_private) {
          message = this.removeIssuerDocTenantPrivate(item)
        }
        return message
      },
      async markIssuerDocPrivate (item) {
        await documentServices.setOppDocPrivate(this.oppId, item.document_id)
        return 'Document marked private successfully.'
      },
      async removeIssuerDocPrivate (item) {
        await documentServices.removeOppDocPrivate(this.oppId, item.document_id)
        return 'Document marked public successfully.'
      },
      async removeTenantDocPrivate (item) {
        await documentServices.removeTenantDocPrivate(this.oppId, item.document_id)
        return 'Document marked public successfully.'
      },
      async markTenantDocPrivate (item) {
        await documentServices.setTenantDocPrivate(this.oppId, item.document_id)
        return 'Document marked private successfully.'
      },
      async markIssuerDocTenantPrivate (item) {
        await documentServices.setDataroomDocPrivate(this.oppId, item.document_id)
        return 'Document marked private successfully.'
      },
      async removeIssuerDocTenantPrivate (item) {
        await documentServices.removeDataroomDocPrivate(this.oppId, item.document_id)
        return 'Document marked public successfully.'
      },
    },
  }
</script>
