<template>
  <div
    style="width: 50px;"
    class="text-center"
  >
    <v-menu
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <common-trs-btn
          light
          text
          type="secondary"
          class="rounded-0"
          icon
          v-bind="attrs"
          v-on="on"
        >
          <v-icon class="black--text">
            mdi-dots-horizontal
          </v-icon>
        </common-trs-btn>
      </template>
      <v-list dense>
        <v-list-item>
          <v-list-item-title>
            <label
              class="cursor-pointer"
              @click="onNameClicked"
            >
              View
            </label>
          </v-list-item-title>
        </v-list-item>
        <v-list-item v-if="canAddQnA">
          <common-common-modal max-width="700">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item-title
                v-bind="attrs"
                class="cursor-pointer"
                v-on="on"
              >
                Message
              </v-list-item-title>
            </template>
            <template v-slot:default="{ close }">
              <common-trs-modal-card>
                <common-trs-modal-card-title>
                  {{ messageModalTitle }}
                  <common-trs-btn
                    aria-label="Close"
                    type="secondary"
                    class="rounded-0"
                    color="primary"
                    size="large"
                    icon
                    text
                    @click="close"
                  >
                    <v-icon>mdi-close</v-icon>
                  </common-trs-btn>
                </common-trs-modal-card-title>
                <common-trs-modal-card-text>
                  <div class="d-flex">
                    Regarding:
                    <common-text-truncate
                      class="primary--text pl-2 cursor-pointer"
                      :text="doc.name"
                      :tooltip="true"
                      @click="$emit('onNameClicked')"
                    />
                  </div>
                  <communication-list-wrapper
                    :hide-filter-widget="true"
                    :hide-history="true"
                    :show-create-item="true"
                    :document-id="doc.document_id"
                    :document-type="doc.loadFrom"
                    :message-name="'Message'"
                    :placeholder="'Enter Your Message...'"
                    :base="portal === CONSTS.PORTAL.INVESTOR ? 'tenant' : ''"
                    :pre-filters="{ opportunity_id: id, document_id: doc.document_id }"
                    @created="messageCreated(close)"
                  />
                </common-trs-modal-card-text>
              </common-trs-modal-card>
            </template>
          </common-common-modal>
        </v-list-item>
        <v-list-item v-if="canEditByPortal">
          <v-list-item-title>
            <document-modal
              mode="edit"
              :type="type"
              :opp-id="id"
              :default-category="newCategory"
              :documents="documents"
              :doc="doc"
              :load-from="doc.loadFrom"
              @refresh="$emit('refresh')"
            >
              <template v-slot:activator="{ on }">
                <label
                  class="cursor-pointer"
                  v-on="{ ...on }"
                >
                  Edit
                </label>
              </template>
            </document-modal>
          </v-list-item-title>
        </v-list-item>
        <v-list-item v-if="canDeleteByPortal">
          <v-list-item-title>
            <document-delete-modal
              :type="type"
              :doc="doc"
              :opp-id="id"
              @refresh="$emit('refresh')"
            >
              <template v-slot:activator="{ on }">
                <label
                  class="cursor-pointer"
                  v-on="{ ...on }"
                >
                  Delete
                </label>
              </template>
            </document-delete-modal>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
  import DocumentModal from '../DocumentModal'
  import DocumentDeleteModal from './DeleteModal'
  import CommunicationListWrapper from '@/components/common/communication/ListWrapper'
  import CommonTextTruncate from '@/components/core/common/TruncateText'

  export default {
    name: 'CommonDigitalRoadshowDocumentsEditActions',

    components: {
      CommunicationListWrapper,
      DocumentModal,
      CommonTextTruncate,
      DocumentDeleteModal,
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      doc: {
        type: Object,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      newCategory: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      portal () {
        return this.$getPortal()
      },
      canEditByPortal () {
        const portal = this.$getPortal()

        const isIssuerDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC && portal === this.CONSTS.PORTAL.ISSUER)

        const isOppDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC && portal === this.CONSTS.PORTAL.ISSUER)

        const isTenantDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC && portal === this.CONSTS.PORTAL.FID_ADMIN)

        return isOppDoc || isIssuerDoc || isTenantDoc
      },
      canDeleteByPortal () {
        const portal = this.$getPortal()

        const isIssuerDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC && portal === this.CONSTS.PORTAL.ISSUER)
        // const isIssuerDoc = false

        const isOppDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC && portal === this.CONSTS.PORTAL.ISSUER)

        const isTenantDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC && portal === this.CONSTS.PORTAL.FID_ADMIN)

        return isOppDoc || isIssuerDoc || isTenantDoc
      },
      canAddQnA () {
        const portal = this.$getPortal()
        const isTenantDoc = (this.doc.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC && portal === this.CONSTS.PORTAL.FID_ADMIN)
        return !this.doc.is_folder && portal !== this.CONSTS.PORTAL.ISSUER &&
          !(isTenantDoc && portal === this.CONSTS.PORTAL.FID_ADMIN)
      },
      messageModalTitle () {
        const portal = this.$getPortal()
        switch (portal) {
          case this.CONSTS.PORTAL.FID_ADMIN:
            return 'Message for Issuer'
          case this.CONSTS.PORTAL.INVESTOR:
            return 'Please ask your question'
          default:
            return 'Ask a question.'
        }
      },
    },

    watch: {
    },

    created () {
    },

    destroyed () {
    },

    methods: {
      onNameClicked () {
        this.$emit('onNameClicked', this.doc)
      },
      messageCreated (close) {
        this.$store.commit('app/showMessage', { text: 'Your message sent successfully.' })
        close()
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
