<template>
  <document-modal
    mode="create"
    :type="type"
    :opp-id="id"
    :default-category="newCategory"
    :documents="documents"
    :load-from="loadFrom"
    @refresh="$emit('refresh')"
  >
    <template v-slot:activator="{ on }">
      <v-tooltip
        bottom
      >
        <template v-slot:activator="{ attrs, on: tooltip }">
          <common-trs-btn
            ref="newBtn"
            type="secondary"
            v-bind="attrs"
            class="mt-5"
            large
            v-on="{ ...on, ...tooltip }"
          >
            New Document
          </common-trs-btn>
        </template>
        <span>New Document</span>
      </v-tooltip>
    </template>
  </document-modal>
</template>

<script>
  import DocumentModal from '../DocumentModal'
  export default {
    name: 'CommonDigitalRoadshowDocumentsNewBtn',

    components: {
      DocumentModal,
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      newCategory: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      loadFrom () {
        const portal = this.$getPortal()
        if (portal === this.CONSTS.PORTAL.FID_ADMIN) {
          return this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC
        } else if (portal === this.CONSTS.PORTAL.ISSUER && !!this.id) {
          return this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC
        } else if (portal === this.CONSTS.PORTAL.ISSUER && !this.id) {
          return this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC
        }
        return ''
      },
    },

    watch: {
    },

    created () {
    },

    destroyed () {
    },

    methods: {
      openWithFile (files) {
        this.$refs.newBtn.$el.click()
        setTimeout(() => {
          const fileEvent = new Event('new-file-select')
          fileEvent.data = files
          document.dispatchEvent(fileEvent)
        }, 200)
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
