<template>
  <document-bulk-modal
    v-if="isIssuer"
    mode="create"
    :type="type"
    :opp-id="id"
    :default-category="newCategory"
    :documents="documents"
    :load-from="loadFrom"
    persistent
    @refresh="$emit('refresh')"
  >
    <template v-slot:activator="{ on }">
      <v-tooltip
        bottom
      >
        <template v-slot:activator="{ attrs, on: tooltip }">
          <common-trs-btn
            ref="newBtn"
            type="secondary"
            class="mt-5"
            v-bind="attrs"
            :pem-roles-allowed="[
              CONSTS.ISSUER_ROLE.SUPERADMIN,
              CONSTS.ISSUER_ROLE.ISSUER_ADMIN
            ]"
            large
            v-on="{ ...on, ...tooltip }"
          >
            New Bulk Upload
          </common-trs-btn>
        </template>
        <span>New Bulk Upload</span>
      </v-tooltip>
    </template>
  </document-bulk-modal>
</template>

<script>
  import DocumentBulkModal from '../DocumentBulkModal'
  export default {
    name: 'CommonDigitalRoadshowDocumentsNewBulkBtn',

    components: {
      DocumentBulkModal,
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      newCategory: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      isIssuer () {
        const portal = this.$getPortal()
        return portal === this.CONSTS.PORTAL.ISSUER
      },
      loadFrom () {
        const portal = this.$getPortal()
        if (portal === this.CONSTS.PORTAL.FID_ADMIN) {
          return this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC
        } else if (portal === this.CONSTS.PORTAL.ISSUER) {
          return this.CONSTS.DR_DOC_LOAD_FROM.OPP
        }
        return ''
      },
    },

    watch: {
    },

    created () {
    },

    destroyed () {
    },

    methods: {
      openWithFile (file) {
        this.$refs.newBtn.$el.click()
        setTimeout(() => {
          const fileEvent = new Event('new-bulk-file-select')
          fileEvent.data = file
          document.dispatchEvent(fileEvent)
        }, 200)
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
