<template>
  <div
    v-if="portal === CONSTS.PORTAL.ISSUER"
    :class="{
      'new-doc-dropzone px-12 pt-10 pb-5 mt-3': true,
      'drag-highlight': dragHighlight !== 0
    }"
    @drop.prevent="onDrop"
    @dragover.prevent="onDragover"
    @dragleave.prevent="onDragleave"
  >
    <input
      ref="file"
      type="file"
      multiple
      @change="handleFileSelect"
    >
    <v-icon size="70">
      mdi-text-box-plus-outline
    </v-icon>
    <label class="trsText--text text-body-1 text-center mt-3">
      Drag folder or files to <br>upload or
      <a
        class="primary--text text-decoration-underline"
        @click.prevent="onBrowse"
      >browse</a>
    </label>
  </div>
  <div
    v-else
    :class="{
      'new-doc-dropzone px-12 pt-10 pb-5 mt-3': true,
    }"
  >
    <input
      ref="file"
      type="file"
      multiple
      @change="handleFileSelect"
    >
    <v-icon size="70">
      mdi-text-box-plus-outline
    </v-icon>
    <label class="trsText--text text-body-1 text-center mt-3">
      <a
        class="primary--text text-decoration-underline"
        @click.prevent="onBrowse"
      >Browse</a> to select a file to upload.
    </label>
  </div>
</template>
<script>
  import fileDragMixin from '@/components/core/mixins/file-drag'
  import { getFileFromEntry, getAllFileEntries } from '@/components/core/utils/file'

  export default {
    name: 'CommonDigitalRoadshowDocumentNewDocDropzone',
    mixins: [fileDragMixin],
    computed: {
      portal () {
        return this.$getPortal()
      },
    },
    watch: {
      dragHighlight () {
        if (this.dragHighlight > 1) {
          this.clearFileInput()
        }
      },
    },
    methods: {
      onDragover (event) {
        event.preventDefault()
      },
      onDragleave (event) {
      },
      async onDrop (ev) {
        ev.preventDefault()

        const fileEntries = await getAllFileEntries(ev.dataTransfer.items)
        const files = await Promise.all(fileEntries.map(getFileFromEntry))
        this.$emit('file-select', files)
      },
      onBrowse (ev) {
        this.$refs.file.click()
      },
      handleFileSelect (event) {
        const files = []
        event.target.files.forEach(file => {
          files.push({ file, fullPath: `/${file.name}` })
        })
        this.$emit('file-select', files)
      },
      clearFileInput () {
        this.$refs.file.value = null
      },
    },
  }
</script>
<style lang="scss" scoped>
.new-doc-dropzone {
  border: 5px dashed var(--v-trsText-lighten1);
  position: relative;
  display: flex;
  flex-direction: column;
  &.drag-highlight {
    border-color: var(--v-primary-base);
  }
  // > input {
  //   cursor: pointer;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0;
  //   z-index: 1;
  // }
  > input {
    display: none;
  }
}
</style>
