<template>
  <div
    class="common-digital-roadshow-documents-table"
    @drop="handleDrop"
    @dragover.prevent.stop="handleDragOver"
  >
    <common-trs-data-table
      :headers="headers"
      :items="documents"
      :options.sync="options"
      :loading="loading || updating"
      :item-class="getItemClassName"
      show-select
    >
      <template v-slot:body.prepend>
        <tr v-if="filterCategory.length > 0">
          <td colspan="1" />
          <td>
            <v-icon>
              mdi-folder
            </v-icon>
          </td>
          <td colspan="10">
            <label
              class="doc-title cursor-pointer trsText--text text-body-1 font-weight-medium"
              @click="$emit('folder-upward')"
            >
              ..
            </label>
          </td>
        </tr>
      </template>
      <template v-slot:header.data-table-select>
        <div class="d-flex align-center">
          <common-input-checkbox
            v-bind="allItemsSelected"
            @change="$emit('all-item-select', $event)"
          />
        </div>
      </template>
      <template v-slot:item.data-table-select="{ item }">
        <div class="d-flex align-center">
          <v-tooltip
            v-if="item.is_important"
            bottom
          >
            <template v-slot:activator="{ on }">
              <label
                class="mr-3 mb-2 cursor-pointer"
                v-on="on"
              >
                <v-icon
                  size="10"
                  color="orange"
                >
                  mdi-circle
                </v-icon>
              </label>
            </template>
            Important document
          </v-tooltip>
          <common-input-checkbox
            :key="item.document_id"
            v-bind="itemSelected(item)"
            @change="$emit('item-select', item, $event)"
          />
        </div>
      </template>
      <template v-slot:item.icon="{ item }">
        <v-icon v-if="item.is_folder">
          mdi-folder
        </v-icon>
        <span
          v-else
          class="trsText--text text-caption"
        >
          {{ getFileType(item) }}
        </span>
      </template>
      <template v-slot:item.name="{ item }">
        <div
          class="cursor-pointer d-flex flex-column"
        >
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <label
                v-line-clamp="item.is_folder ? 2 : 1"
                :draggable="portal === CONSTS.PORTAL.ISSUER"
                class="doc-title cursor-pointer trsText--text text-body-1 font-weight-medium"
                @dragstart="handleDragStart"
                v-on="on"
                @click="handleRowClick(item)"
              >{{ item.name }}</label>
            </template>
            <span>{{ item.name }}</span>
          </v-tooltip>

          <div class="d-flex flex-row align-center mt-1">
            <div
              v-if="item.loadFrom"
              class="cursor-pointer trsText--text text-caption"
              style="min-width: 170px"
            >
              <span>{{ getLoadFromText(item) }}</span>
              <span class="ml-2">{{ getPrivateLayerText(item) }}</span>
            </div>
            <document-flags
              v-if="!item.is_folder"
              :is-roadshow="isRoadshow"
              :opp-id="id"
              :doc="item"
              :can-edit="canEdit"
              @refresh="$emit('refresh')"
            />
          </div>
        </div>
      </template>
      <template v-slot:item.is_favourite="{ item }">
        <common-trs-btn
          v-if="!item.is_folder"
          :loading="favLoading[item.document_id]"
          type="tertiary"
          icon
          color="text-light"
          class="mx-auto"
          @click="markOrDeleteFav(item)"
        >
          <v-icon>
            {{ item.is_favourite ? 'mdi-star' : 'mdi-star-outline' }}
          </v-icon>
        </common-trs-btn>
      </template>
      <template v-slot:item.file_count="{ item }">
        {{ getSize(item) }}
      </template>
      <template v-slot:item.modified_on="{ item }">
        {{ $date(item.modified_on) }}
      </template>
      <template v-slot:item.comments="{ item }">
        <label v-if="!item.is_folder">
          2
          <v-icon>mdi-comment-outline</v-icon>
        </label>
      </template>
      <template v-slot:item.actions="{ item }">
        <document-edit-actions
          :id="id"
          :doc="item"
          :type="type"
          :new-category="{ Type: '0' }"
          :documents="documents"
          @onNameClicked="handleRowClick(item)"
          @refresh="$emit('refresh')"
        />
      </template>
    </common-trs-data-table>
  </div>
</template>
<script>
  import DocumentEditActions from './components/EditActions'
  import DocumentFlags from './components/DocumentFlags'
  import * as DataRoomService from '../data-room'

  const TABLE_HEADERS = [
    { text: '', width: 50, value: 'icon', sortable: false },
    { text: 'Name', value: 'name', sortable: true },
    { text: 'Updated', width: 80, value: 'modified_on', sortable: true },
    { text: 'Documents', width: 110, align: 'center', value: 'file_count', sortable: true },
    { text: 'Starred', width: 70, align: 'center', value: 'is_favourite', sortable: true },
    { text: '', width: 20, value: 'actions', sortable: false },
  ]
  export default {
    name: 'CommonDigitalRoadshowDocumentsTable',
    components: {
      DocumentEditActions,
      DocumentFlags,
    },
    props: {
      id: {
        type: String,
        required: true,
      },
      portal: {
        type: String,
        required: true,
      },
      canEdit: {
        type: Boolean,
        required: true,
      },
      loading: {
        type: Boolean,
        default: () => false,
      },
      service: {
        validate: () => true,
      },
      allDocuments: {
        type: Array,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      sort: {
        type: Object,
        required: true,
      },
      selectedDocuments: {
        type: Array,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      filterCategory: {
        type: Array,
        default: () => [],
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
    },
    data () {
      return {
        pagination: {
          page: 1,
          perPage: 5,
        },
        options: {},
        favLoading: {},
        updating: false,
      }
    },
    computed: {
      pageCount () {
        return Math.ceil(this.documents / this.pagination.perPage)
      },
      headers () {
        return TABLE_HEADERS
      },
      allItemsSelected () {
        return {
          value: this.selectedDocuments.length > 0,
          indeterminate: (this.selectedDocuments.length > 0) && (this.selectedDocuments.length < this.allDocuments.length),
        }
      },
    },
    watch: {
      sort (v) {
        this.options.sortBy = [this.sort.field]
        this.options.sortDesc = [this.sort.direction]
      },
    },
    methods: {
      getItemClassName (item) {
        if (item.is_important) {
          return 'orange lighten-5 important'
        }
        return ''
      },
      handleDragStart (ev) {
        window.preventGlobalDrag = true
        const itemIconElem = ev.target.closest('td').previousSibling.querySelector('*')
        ev.dataTransfer.setDragImage(itemIconElem, -10, 0)
        const parentRowElem = ev.target.closest('tr')
        const itemIndex = Array.prototype.indexOf.call(parentRowElem.parentElement.children, parentRowElem)
        this.dragIndex = itemIndex
      },
      async handleDrop (ev) {
        if (this.portal !== this.CONSTS.PORTAL.ISSUER) { return }
        try {
          ev.preventDefault()
          ev.stopPropagation()
          const baseIndex = this.options.itemsPerPage * (this.options.page - 1)
          const parentRowElem = ev.target.closest('tr')
          if (!parentRowElem || parentRowElem.parentElement.tagName === 'THEAD') { return }
          let targetIndex = Array.prototype.indexOf.call(parentRowElem.parentElement.children, parentRowElem)
          parentRowElem.classList.remove('drop-ready')

          if (this.filterCategory.length > 0) {
            this.dragIndex -= 1
            targetIndex -= 1
          }

          const sourceItem = this.documents[baseIndex + this.dragIndex]
          const targetItem = targetIndex === -1
            ? { is_folder: true, category: this.filterCategory }
            : this.documents[baseIndex + targetIndex]

          if (!targetItem.is_folder || this.dragIndex === targetIndex) { return }

          this.updating = true

          let documentsToChange = []
          let folderCategory = ''
          if (sourceItem.is_folder) {
            folderCategory = Object.values(sourceItem.category).slice(0, -1).join('>>>')
            documentsToChange = this.allDocuments.filter(doc => {
              return doc.category && Object.values(doc.category).slice(0, -1).join('>>>').startsWith(folderCategory)
            })
          } else {
            documentsToChange.push(sourceItem)
          }
          const targetCategory = Object.values(targetItem.category).slice(0, -1)
          const folderUpdatePayload = documentsToChange.map(doc => {
            const updatedCategoryList = []
            const docCategoryList = doc.category
              ? Object.values(doc.category).slice(0, -1)
              : {}
            let idx = 0
            while (targetCategory[idx] === docCategoryList[idx]) {
              updatedCategoryList.push(targetCategory[idx])
              idx = idx + 1
            }
            if (targetCategory[idx]) {
              updatedCategoryList.push(targetCategory[idx])
            } else {
              idx = idx + 1
            }
            while (docCategoryList[idx]) {
              updatedCategoryList.push(docCategoryList[idx])
              idx = idx + 1
            }
            const updatedCategory = updatedCategoryList.reduce((cat, item) => {
              return {
                ...cat,
                [cat.Type]: item,
                Type: cat.Type + 1,
              }
            }, { Type: 0 })
            return {
              document_id: doc.document_id,
              category: updatedCategory,
            }
          })
          await DataRoomService.issuerBulkCategoryUpdate(folderUpdatePayload)
          this.$emit('refresh')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to update document categories',
          })
        }
        this.updating = false
      },
      handleDragOver (ev) {
        ev.preventDefault()
        ev.stopPropagation()
        const baseIndex = this.options.itemsPerPage * (this.options.page - 1)

        const parentRowElem = ev.target.closest('tr')
        if (!parentRowElem || parentRowElem.parentElement.tagName === 'THEAD') { return }
        const targetIndex = Array.prototype.indexOf.call(parentRowElem.parentElement.children, parentRowElem)
        parentRowElem.parentElement.children.forEach((elem, idx) => {
          if (
            (idx + targetIndex === 0 && this.filterCategory.length > 0) ||
            (idx === targetIndex && this.documents[baseIndex + targetIndex - (this.filterCategory.length > 0 ? 1 : 0)].is_folder)
          ) {
            elem.classList.add('drop-ready')
          } else {
            elem.classList.remove('drop-ready')
          }
        })
      },
      itemSelected (item) {
        if (item.is_folder) {
          const folderCategory = Object.values(item.category).slice(0, -1).join('>>>')
          const selectedDocIds = this.selectedDocuments.map(doc => doc.document_id)
          const folderDocs = this.allDocuments.filter(doc => {
            const docCategory = doc.category ? Object.values(doc.category).slice(0, -1).join('>>>') : ''
            const categoryMatches = docCategory.startsWith(folderCategory)
            return categoryMatches
          })
          const fodlerSelectedDocs = folderDocs.filter(doc => selectedDocIds.includes(doc.document_id))
          return {
            value: fodlerSelectedDocs.length === folderDocs.length,
            indeterminate: fodlerSelectedDocs.length > 0 && fodlerSelectedDocs.length < folderDocs.length,
          }
        } else {
          return {
            value: this.selectedDocuments.findIndex(doc => doc.document_id === item.document_id) !== -1,
          }
        }
      },
      handleRowClick (doc) {
        this.$emit('item-click', doc)
      },
      getLoadFromText (doc) {
        switch (doc.loadFrom) {
          case this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC:
            return 'Issuer Doc'
          case this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC:
            return 'Tenant Doc'
          case this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC:
            return 'Opp Doc'
        }
        return null
      },
      getPrivateLayerText (doc) {
        if (doc.is_issuer_private) {
          return 'Issuer Private'
        }
        if (doc.is_private) {
          return 'Tenant Private'
        }
        if (doc.is_tenant_private) {
          return 'Tenant Private'
        }
        return null
      },
      getFileType (doc) {
        return ((doc.details && doc.details.file_type) || doc.name.split('.').pop().slice(0, 3)).toUpperCase()
      },
      getSize (item) {
        return item.file_count || (item.details && item.details.file_size && this.$fileSizeString(item.details.file_size))
      },
      async markOrDeleteFav (doc) {
        // TODO: should remove FAKE_OPP_ID once correct issuer favorite toggle api is added! check with @Aashish, @Sudesh
        this.$set(this.favLoading, doc.document_id, true)
        const fakeOppId = 'eb84663f-aaae-4dde-b874-f95597955b17'
        if (doc.is_favourite) {
          await this.service.removeDocumentFav(this.id || fakeOppId, doc)
        } else {
          await this.service.markDocumentFav(this.id || fakeOppId, doc)
        }
        this.$set(this.favLoading, doc.document_id, false)
        this.$emit('refresh')
      },
    },
  }
</script>
<style lang="scss" scoped>
.common-digital-roadshow-documents-table ::v-deep .doc-title {
  // max-width: 8vw;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  // white-space: nowrap;
}
.common-digital-roadshow-documents-table ::v-deep .v-data-table-header th:first-child {
  opacity: 1;
}
.common-digital-roadshow-documents-table ::v-deep tr.drop-ready {
  background-color: var(--v-accent-darken1);
}
::v-deep.v-data-table .v-data-table__wrapper > table > tbody > tr > td,
::v-deep.v-data-table .v-data-table__wrapper > table > thead > tr > th,
::v-deep.v-data-table .v-data-table__wrapper > table > tfoot > tr > td {
  padding: 5px 0px !important;
}
</style>
