<template>
  <div class="trs-card__text-action-wrapper">
    <common-page-loader
      v-if="loading"
    />
    <div
      v-else-if="mode !== 'view'"
      class="trs-card__text-action-wrapper"
    >
      <document-bulk-form
        v-model="document"
        :mode="mode"
        :type="type"
        :opp-id="oppId"
        :saving="saving"
        :uploading-progress="uploadingProgress"
        :documents="documents"
        :load-from="loadFrom"
        @save="save"
      />
    </div>
  </div>
</template>

<script>
  import * as documentServices from '@/components/common/services/documents'
  import DocumentBulkForm from './DocumentBulkForm'

  export default {
    name: 'DashboardComponentsDocument',

    components: {
      DocumentBulkForm,
    },

    props: {
      oppId: {
        type: String,
        required: true,
      },
      doc: {
        type: Object,
        default: () => ({}),
      },
      mode: {
        type: String,
        validate: (val) => ['edit', 'view', 'create'].indexOf(val) !== -1,
      },
      type: {
        type: String,
        validate: (val) => this.CONSTS.FR_DOCUMENT_TYPES.indexOf(val) !== -1,
      },
      defaultCategory: {
        type: Object,
        default: () => ({ Type: '0' }),
      },
      documents: {
        type: Array,
        default: () => [],
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      loadFrom: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      document: null,
      backupDocument: null,
      loading: false,
      saving: false,
      uploadingProgress: 0,
      error: '',
    }),

    computed: {
      docId () {
        return this.doc.id
      },
      docTypes () {
        return this.$store.getters['documentTypes/docTypes']
      },
      changedProps () {
        return {
          docId: this.doc ? this.docId : '',
          mode: this.mode,
          type: this.type,
        }
      },
      portal () {
        return this.$getPortal()
      },
    },

    watch: {
      changedProps: {
        handler () {
          this.loadDocument()
        },
        deep: true,
        immediate: true,
      },
    },

    async created () {
    },

    methods: {
      async saveBulkDoc () {
        const progressCallback = (progress) => {
          this.uploadingProgress = progress
        }

        await documentServices.uploadBulkImport(this.oppId, this.document, progressCallback)
      },
      async save () {
        this.saving = true
        try {
          await this.saveBulkDoc()
          this.$emit('close', true)
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to upload document',
          })
        }
        this.saving = false
      },
      async loadDocument () {
        this.loading = true
        this.document = {
          details: {
            download_allowed: false,
            watermark: false,
          },
          retain_duplicates: true,
        }
        this.loading = false
      },
      viewDocument (item) {
        this.$emit('viewDocument', item)
      },
    },
  }
</script>

<style lang="sass">
</style>
