<template>
  <div class="trs-card__text-action-wrapper">
    <common-page-loader
      v-if="loading"
    />
    <div
      v-else-if="mode !== 'view'"
      class="trs-card__text-action-wrapper"
    >
      <document-form
        v-model="document"
        :mode="mode"
        :type="type"
        :opp-id="oppId"
        :saving="saving"
        :uploading-progress="uploadingProgress"
        :upload-multi-file-status="uploadMultiFileStatus"
        :documents="documents"
        :load-from="loadFrom"
        @save="save"
      />
    </div>
    <div
      v-else
      class="trs-card__text-action-wrapper"
    >
      <document-view
        v-model="document"
        :is-open="isOpen"
        :mode="mode"
        :type="type"
        :opp-id="oppId"
        :doc-id="docId"
        :saving="saving"
        :uploading-progress="uploadingProgress"
        :documents="documents"
        :status="status"
        :already-viewed-docs="alreadyViewedDocs"
        :load-from="loadFrom"
        @close="$emit('close', false)"
        @prevDoc="(preview) => $emit('prevDoc', preview)"
        @nextDoc="(preview) => $emit('nextDoc', preview)"
        @viewDocument="viewDocument"
      />
    </div>
  </div>
</template>

<script>
  import * as documentServices from '@/components/common/services/documents'
  import DocumentForm from './DocumentForm'
  import DocumentView from './DocumentView'
  import { api } from '@/api'

  const DEFAULT_OPP_DOC = documentServices.getOppDefaultDoc()
  const DEFAULT_TENANT_DOC = documentServices.getTenantDefaultDoc()

  export default {
    name: 'DashboardComponentsDocument',

    components: {
      DocumentForm,
      DocumentView,
    },

    props: {
      oppId: {
        type: String,
        required: true,
      },
      doc: {
        type: Object,
        default: () => ({}),
      },
      mode: {
        type: String,
        validate: (val) => ['edit', 'view', 'create'].indexOf(val) !== -1,
      },
      type: {
        type: String,
        validate: (val) => this.CONSTS.FR_DOCUMENT_TYPES.indexOf(val) !== -1,
      },
      defaultCategory: {
        type: Object,
        default: () => ({ Type: '0' }),
      },
      documents: {
        type: Array,
        default: () => [],
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      loadFrom: {
        type: String,
        default: '',
      },
      isOpen: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
      document: null,
      backupDocument: null,
      loading: false,
      saving: false,
      uploadingProgress: 0,
      uploadMultiFileStatus: null,
      error: '',
    }),

    computed: {
      docId () {
        return this.doc.document_id
      },
      docTypes () {
        return this.$store.getters['documentTypes/docTypes']
      },
      changedProps () {
        return {
          docId: this.doc ? this.docId : '',
          mode: this.mode,
          type: this.type,
        }
      },
      portal () {
        return this.$getPortal()
      },
    },

    watch: {
      changedProps: {
        handler () {
          this.loadDocument()
        },
        deep: true,
        immediate: true,
      },
    },

    async created () {
    },

    methods: {
      async saveOppDoc () {
        const progressCallback = (progress) => {
          this.uploadingProgress = progress
        }

        // Process of adding required doc type where isRequired is true
        let requiredDocTypeId = null
        this.docTypes.forEach(type => {
          if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
            requiredDocTypeId = type.id
          }
        })
        if (requiredDocTypeId && Array.isArray(this.document.document_type)) {
          if (this.document.isRequired && this.document.document_type.indexOf(requiredDocTypeId) === -1) {
            this.document.document_type.push(requiredDocTypeId)
          }
          if (!this.document.isRequired && this.document.document_type.indexOf(requiredDocTypeId) !== -1) {
            this.document.document_type.splice(this.document.document_type.indexOf(requiredDocTypeId), 1)
          }
        }

        // If it's not multi uploading
        if (!Array.isArray(this.document.file)) {
          const createdDoc = await documentServices.uploadOpportunityDocument(
            this.oppId,
            this.document,
            this.mode === 'create',
            this.docId,
            progressCallback,
          )

          // if is_issuer_document has changed, make sure to re-fill
          if (this.document.is_issuer_private !== this.backupDocument.is_issuer_private) {
            if (this.mode === 'create') {
              if (this.document.is_issuer_private) {
                // create private record
                await documentServices.setOppDocPrivate(this.oppId, createdDoc.document_id)
              }
            } else {
              if (this.document.is_issuer_private) {
                // create private record
                await documentServices.setOppDocPrivate(this.oppId, this.document.document_id)
              } else {
                // if edit mode and private is false then delete
                await documentServices.removeOppDocPrivate(this.oppId, this.document.document_id)
              }
            }
          }
          return createdDoc
        } else {
          const documents = this.document.file.map(file => {
            const paths = file.fullPath.split('/').slice(1, -1)

            const rootCat = { ...this.document.category }
            paths.forEach(p => {
              rootCat[+rootCat.Type] = p
              rootCat.Type = +rootCat.Type + 1
            })
            return {
              ...this.document,
              name: file.file.name,
              category: rootCat,
              uploaded: false,
              progress: 0,
              error: null,
              file: file.file,
              fullPath: file.fullPath,
            }
          })
          this.uploadMultiFileStatus = documents

          const uploadDocument = async (index) => {
            const progressCallback = (progress) => {
              this.uploadingProgress = progress
              this.uploadMultiFileStatus[index] = {
                ...this.uploadMultiFileStatus[index],
                progress: progress,
              }
              this.uploadMultiFileStatus = [...this.uploadMultiFileStatus]
            }
            const document = this.uploadMultiFileStatus[index]

            const createdDoc = await documentServices.uploadOpportunityDocument(
              this.oppId,
              document,
              this.mode === 'create',
              this.docId,
              progressCallback,
            )
            this.uploadMultiFileStatus[index].uploadedDoc = createdDoc
          }

          const BULK_SIZE = 1
          for (let i = 0; i < this.uploadMultiFileStatus.length; i += BULK_SIZE) {
            const items = this.uploadMultiFileStatus.slice(i, Math.min(this.uploadMultiFileStatus.length, i + BULK_SIZE))
            console.log(items)
            await Promise.all(items.map((item, ind) => uploadDocument(ind + i)))
          }
        }
      },
      async saveOppDocFromTenant () {
        // if is_issuer_document has changed, make sure to re-fill
        if (this.document.is_tenant_private !== this.backupDocument.is_tenant_private) {
          if (this.mode !== 'create') {
            if (this.document.is_tenant_private) {
              // create private record
              await documentServices.setDataroomDocPrivate(this.oppId, this.document.document.doc_id)
            } else {
              // if edit mode and private is false then delete
              await documentServices.removeDataroomDocPrivate(this.oppId, this.document.document.doc_id)
            }
          }
        }
        return this.document
      },
      async saveTenantDoc () {
        const progressCallback = (progress) => {
          this.uploadingProgress = progress
        }

        // On edit mode we need to handle other way
        // if is_private has changed, make sure to re-fill
        if (this.document.is_private !== this.backupDocument.is_private) {
          if (this.mode !== 'create') {
            if (this.document.is_private) {
              // create private record
              await documentServices.setTenantDocPrivate(this.oppId, this.document.document_id)
            } else {
              // if edit mode and private is false then delete
              await documentServices.removeTenantDocPrivate(this.oppId, this.document.document_id)
            }
          }
        }
        const createdDoc = await documentServices.uploadTenantDocument(
          this.oppId,
          this.document,
          this.mode === 'create',
          this.document.document_id,
          progressCallback,
        )

        // if is_private has changed, make sure to re-fill
        if (this.document.is_private !== this.backupDocument.is_private) {
          if (this.mode === 'create') {
            if (this.document.is_private) {
              // create private record
              await documentServices.setTenantDocPrivate(this.oppId, createdDoc.document_id)
            } else {
              // create private record
              await documentServices.removeTenantDocPrivate(this.oppId, createdDoc.document_id)
            }
          }
        }

        await documentServices.markImportant(this.oppId, createdDoc.document_id, this.document.is_important)

        const blackListTags = this.document.enableBlackList && this.document.details.blacklisted_entity_tags
          ? this.document.details.blacklisted_entity_tags.map(tag => tag.id)
          : []
        await documentServices.updateBlacklistTag(this.oppId, createdDoc.document_id, blackListTags)
        return createdDoc
      },
      async saveIssuerDoc () {
        // Process of adding required doc type where isRequired is true
        let requiredDocTypeId = null
        this.docTypes.forEach(type => {
          if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
            requiredDocTypeId = type.id
          }
        })
        if (requiredDocTypeId && Array.isArray(this.document.document_type)) {
          if (this.document.isRequired && this.document.document_type.indexOf(requiredDocTypeId) === -1) {
            this.document.document_type.push(requiredDocTypeId)
          }
          if (!this.document.isRequired && this.document.document_type.indexOf(requiredDocTypeId) !== -1) {
            this.document.document_type.splice(this.document.document_type.indexOf(requiredDocTypeId), 1)
          }
        }

        // https://trellisteam.atlassian.net/browse/TPI-11018
        // Only on create and isRequired. it should set is_required true
        if (this.mode === 'create' && this.document.isRequired) {
          this.document.is_required = true
        }

        // If it's not multi uploading
        if (!Array.isArray(this.document.file)) {
          const progressCallback = (progress) => {
            this.uploadingProgress = progress
          }
          const createdDoc = await documentServices.uploadIssuerDocument(
            this.oppId,
            this.document,
            this.mode === 'create',
            this.document.document_id ? this.document.document_id : this.docId,
            progressCallback,
          )

          return createdDoc
        } else {
          const documents = this.document.file.map(file => {
            const paths = file.fullPath.split('/').slice(1, -1)

            const rootCat = { ...this.document.category }
            paths.forEach(p => {
              rootCat[+rootCat.Type] = p
              rootCat.Type = +rootCat.Type + 1
            })
            return {
              ...this.document,
              name: file.file.name,
              category: rootCat,
              uploaded: false,
              progress: 0,
              error: null,
              file: file.file,
              fullPath: file.fullPath,
            }
          })
          this.uploadMultiFileStatus = documents

          const uploadDocument = async (index) => {
            const progressCallback = (progress) => {
              this.uploadingProgress = progress
              this.uploadMultiFileStatus[index] = {
                ...this.uploadMultiFileStatus[index],
                progress: progress,
              }
              this.uploadMultiFileStatus = [...this.uploadMultiFileStatus]
            }
            const document = this.uploadMultiFileStatus[index]
            const createdDoc = await documentServices.uploadIssuerDocument(
              this.oppId,
              document,
              this.mode === 'create',
              document.document_id ? document.document_id : this.docId,
              progressCallback,
            )
            this.uploadMultiFileStatus[index].uploadedDoc = createdDoc
          }

          const BULK_SIZE = 1
          for (let i = 0; i < this.uploadMultiFileStatus.length; i += BULK_SIZE) {
            const items = this.uploadMultiFileStatus.slice(i, Math.min(this.uploadMultiFileStatus.length, i + BULK_SIZE))
            console.log(items)
            await Promise.all(items.map((item, ind) => uploadDocument(ind + i)))
          }
        }
      },
      validate () {
        if (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
          if (this.document.is_private && this.document.is_required) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          }
        } else {
          if (this.document.is_issuer_private && this.document.isRequired) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          } else if (this.document.is_tenant_private && this.document.isRequired) {
            this.$store.commit('app/showMessage', { text: 'Private document cannot be required.', color: 'error' })
            return false
          }
        }
        return true
      },
      async save () {
        // Internal Validation
        if (!this.validate()) {
          return
        }
        this.saving = true
        try {
          let createdDoc
          if (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
            createdDoc = await this.saveTenantDoc()
          } else if (this.loadFrom !== this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC &&
            this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
            // If fid-admin and it's opportunities document, you are only allowed to edit is_private
            createdDoc = await this.saveOppDocFromTenant()
          } else if (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC &&
            this.portal === this.CONSTS.PORTAL.ISSUER) {
            createdDoc = await this.saveIssuerDoc()
          } else {
            createdDoc = await this.saveOppDoc()
          }
          this.$emit('close', true)
          createdDoc && this.$emit('docCreated', createdDoc)
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to save document',
          })
        }
        this.saving = false
      },
      async loadOppDoc () {
        if (this.mode === 'create') {
          this.document = {
            ...JSON.parse(JSON.stringify(DEFAULT_OPP_DOC)),
            category: this.defaultCategory,
          }
          if (this.type === this.CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM) {
            const TYPE = this.docTypes.find(v => v.name === 'DATA_ROOM_DOCUMENT')
            if (TYPE) {
              this.document.document_type = [TYPE.id]
            }
          } else if (this.type === this.CONSTS.FR_DOCUMENT_TYPE.DEAL) {
            const TYPE = this.docTypes.find(v => v.name === 'DEAL_DOCUMENT')
            if (TYPE) {
              this.document.document_type = [TYPE.id]
            }
          }
        } else {
          if (this.type === this.CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM ||
            this.type === this.CONSTS.FR_DOCUMENT_TYPE.DEAL) {
            let url = ''
            if (this.portal === this.CONSTS.PORTAL.INVESTOR ||
              this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
              url = `opportunities/${this.oppId}/dataroom/${this.docId}`
            } else {
              url = `opportunities/${this.oppId}/document/${this.docId}`
            }

            const resp = await api.get(url)
            this.document = resp.data

            if (this.portal === this.CONSTS.PORTAL.INVESTOR ||
              this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
              this.document.document = this.document.dataroom_document
            }
            if (!this.document.category) {
              this.document.category = { Type: '0' }
            } else if (Number.isNaN(this.document.category.Type)) {
              this.document.category.Type = '0'
            }

            if (this.document.details &&
              this.document.details.download_allowed &&
              this.document.document.signed_url) {
              this.document.download_allowed = this.document.details.download_allowed
            } else {
              this.document.download_allowed = false
            }

            this.document.isRequired = false
            if (this.document.document_type && Array.isArray(this.document.document_type)) {
              this.document.document_type.forEach(type => {
                if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
                  this.document.isRequired = true
                }
              })
            }

            this.document.document_type = this.document.document_type.map(doc => doc.id)
            this.document.id = this.docId
          } else {
            this.document = JSON.parse(JSON.stringify(DEFAULT_OPP_DOC))
          }
        }
      },
      async loadTenantDoc () {
        if (this.mode === 'create') {
          this.document = {
            ...JSON.parse(JSON.stringify(DEFAULT_TENANT_DOC)),
            category: this.defaultCategory,
          }
        } else {
          if (!this.doc || !this.doc.document_id) {
            this.document = {
              ...JSON.parse(JSON.stringify(DEFAULT_TENANT_DOC)),
              category: this.defaultCategory,
            }
          }

          if (this.type === this.CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM ||
            this.type === this.CONSTS.FR_DOCUMENT_TYPE.DEAL) {
            const url = `opportunities/${this.oppId}/compliance-document/${this.doc.document_id}`

            const resp = await api.get(url)
            this.document = resp.data

            if (!this.document.category) {
              this.document.category = { Type: '0' }
            } else if (Number.isNaN(this.document.category.Type)) {
              this.document.category.Type = '0'
            }

            this.document.document = this.document.compliance_document
            if (this.document.details &&
              this.document.details.download_allowed &&
              this.document.document.signed_url) {
              this.document.download_allowed = this.document.details.download_allowed
            } else {
              this.document.download_allowed = false
            }

            this.document.isRequired = false

            this.document.id = this.docId
          } else {
            this.document = JSON.parse(JSON.stringify(DEFAULT_OPP_DOC))
          }
        }
      },
      async loadIssuerDoc () {
        if (this.mode === 'create') {
          this.document = {
            ...JSON.parse(JSON.stringify(DEFAULT_OPP_DOC)),
            category: this.defaultCategory,
          }

          const TYPE = this.docTypes.find(v => v.name === 'ISSUER_DOCUMENT')
          if (TYPE) {
            this.doc.document_type = [TYPE.id]
          }
        } else {
          if (this.portal === this.CONSTS.PORTAL.INVESTOR ||
            this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
            const issuerDoc = (await api.get(`opportunities/${this.oppId}/dataroom/${this.docId}`)).data
            this.document = {
              ...issuerDoc,
              document: issuerDoc.dataroom_document,
            }
          } else {
            const url = `document/${this.doc.document_id}`
            const resp = await api.get(url)

            this.document = {
              ...resp.data,
              document: {
                signed_url: resp.data.signed_url,
                mime_type: resp.data.mime_type,
              },
            }
          }

          if (!this.document.category) {
            this.document.category = { Type: '0' }
          } else if (Number.isNaN(this.document.category.Type)) {
            this.document.category.Type = '0'
          }
          if (this.document.details &&
            this.document.details.download_allowed &&
            this.document.document.signed_url) {
            this.document.download_allowed = this.document.details.download_allowed
          } else {
            this.document.download_allowed = false
          }

          if (!this.document.details) {
            this.document.details = {}
          }

          this.document.isRequired = false
          if (this.document.document_type && Array.isArray(this.document.document_type)) {
            this.document.document_type.forEach(type => {
              if (type.is_required && type.name === 'REQUIRED_DOCUMENT') {
                this.document.isRequired = true
              }
            })
          }
          this.document.document_type = this.document.document_type.map(doc => doc.id)
          this.document.id = this.docId
        }
      },
      async loadDocument () {
        this.loading = true
        try {
          if (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC) {
            await this.loadTenantDoc()
          } else if (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC) {
            await this.loadIssuerDoc()
          } else {
            // Opp doc
            await this.loadOppDoc()
          }
          this.backupDocument = JSON.parse(JSON.stringify(this.document))

          this.document = {
            ...this.document,
            nextButtonAllowed: this.doc.nextButtonAllowed,
            prevButtonAllowed: this.doc.prevButtonAllowed,
          }
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load document',
          })
        }
        this.loading = false
      },
      viewDocument (item) {
        this.$emit('viewDocument', item)
      },
    },
  }
</script>

<style lang="sass">
</style>
