<template>
  <validation-observer
    ref="observer"
    v-slot="{ valid }"
    class="trs-card__text-action-wrapper"
  >
    <common-trs-modal-card-text>
      <v-row no-gutters>
        <!-- <v-col cols="12">
          <common-input-doc-level-input
            v-model="internalDoc.category"
            label="Document Level"
            :documents="documents"
          />
        </v-col> -->
        <v-col cols="12">
          <common-input-file
            id="document-bulk-form-file-input"
            :error-messages="fileErrors"
            color="primary"
            validate-on-blur
            accept=".zip"
            :hint="'Max 500MB .zip is allowed'"
            persistent-hint
            :file-type="CONSTS.FILE_TYPES.ZIP"
            @change="selectFile"
          >
            <template v-slot:append-outer>
              <v-progress-circular
                v-if="saving"
                :rotate="270"
                :size="50"
                :width="10"
                :value="uploadingProgress"
                color="primary"
              >
                {{ uploadingProgress }}
              </v-progress-circular>
            </template>
          </common-input-file>

          <div
            v-if="internalDoc.document"
            class="mb-4"
          >
            <common-common-preview-file
              :url="internalDoc.document.signed_url"
              :mime-type="internalDoc.document.mime_type"
            />
          </div>
        </v-col>
        <v-col>
          <v-row>
            <v-col
              cols="12"
            >
              <!-- <common-input-checkbox
                v-model="internalDoc.isRequired"
                label="Required Document?"
              /> -->
              <common-input-checkbox
                v-model="internalDoc.details.download_allowed"
                label="Download Allowed"
              />
              <common-input-checkbox
                v-model="internalDoc.details.watermark"
                label="Watermark Document"
              />
              <common-input-checkbox
                v-model="internalDoc.retain_duplicates"
                label="Keep Files with Duplicate file names"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </common-trs-modal-card-text>
    <common-trs-modal-card-actions>
      <v-spacer />
      <common-trs-btn
        :disabled="!valid || !isFileValid"
        :loading="saving"
        type="primary"
        class="mr-4"
        @click="save"
      >
        Save
      </common-trs-btn>
    </common-trs-modal-card-actions>
  </validation-observer>
</template>

<script>
  export default {
    name: 'DashboardComponentsDocumentBulkForm',

    components: {
    },

    props: {
      value: {
        type: Object,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      saving: {
        type: Boolean,
        required: true,
      },
      uploadingProgress: {
        type: Number,
        default: 0,
      },
      documents: {
        type: Array,
        default: () => [],
      },
      loadFrom: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      fileErrors: [],
    }),

    computed: {
      issuerData () {
        return this.$store.getters['account/details']
      },
      portal () {
        return this.$getPortal()
      },
      internalDoc: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      isFileValid () {
        if (this.internalDoc.document || this.internalDoc.file) {
          return true
        }
        return false
      },
    },

    watch: {
      internalDoc: {
        handler (val) {
          if (val.details && this.issuerData && this.issuerData.details) {
            val.details.download_allowed = this.issuerData.details.download_allowed || false
            val.details.watermark = this.issuerData.details.watermark || false
          } else {
            val.details.download_allowed = this.internalDoc && this.internalDoc.details.download_allowed
            val.details.watermark = this.internalDoc && this.internalDoc.details.watermark
          }
        },
        immediate: true,
      },
    },

    created () {
      document.addEventListener('new-bulk-file-select', this.handleDropFileSelect)
    },

    destroyed () {
      document.removeEventListener('new-bulk-file-select', this.handleDropFileSelect)
    },

    methods: {
      handleDropFileSelect (event) {
        const file = event.data
        this.selectFile(file)
        document.querySelector('#document-bulk-form-file-input .v-file-input__text').innerHTML = file.name
      },
      async selectFile (ev) {
        this.internalDoc = { ...this.internalDoc, file: ev }
      },
      save () {
        this.$emit('save', this.internalDoc)
      },
    },
  }
</script>

<style lang="sass">
</style>
