<template>
  <v-dialog
    v-model="internalDialog"
    :fullscreen="$vuetify.breakpoint.smAndDown"
    :max-width="700"
    scrollable
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <template
      v-for="(_, slot) of $slots"
      v-slot:[slot]
    >
      <slot :name="slot" />
    </template>
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          {{ title }}
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>

      <document-bulk
        v-if="internalDialog"
        :mode="mode"
        :doc="doc"
        :type="type"
        :opp-id="oppId"
        :default-category="defaultCategory"
        :documents="documents"
        :load-from="loadFrom"
        @close="close"
        @docCreated="(doc) => $emit('docCreated', doc)"
      />
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import DocumentBulk from './DocumentBulk'

  export default {
    name: 'DashboardComponentsDocumentModal',

    components: {
      DocumentBulk,
    },

    props: {
      oppId: {
        type: String,
        required: true,
      },
      doc: {
        type: Object,
        default: () => ({}),
      },
      mode: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      defaultCategory: {
        type: Object,
      },
      documents: {
        type: Array,
        default: () => [],
      },
      loadFrom: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      internalDialog: false,
      visible: false,
    }),

    computed: {
      title () {
        let title = ''
        if (this.mode) {
          title += this.mode.slice(0, 1).toUpperCase() + this.mode.slice(1)
        }
        return title + ' Bulk File'
      },
    },

    watch: {
      internalDialog: {
        handler (val) {
          if (val) {
            this.visible = true
          } else {
            this.visible = false
          }
        },
        immediate: true,
      },
    },

    async created () {
    },

    methods: {
      close (doRefresh, level) {
        this.internalDialog = false
        if (typeof doRefresh === 'boolean' && doRefresh) {
          this.$emit('refresh', level)
        }
      },
    },
  }
</script>

<style lang="sass">
</style>
