<template>
  <validation-observer
    ref="observer"
    v-slot="{ valid }"
    class="trs-card__text-action-wrapper"
  >
    <common-trs-modal-card-text>
      <v-row no-gutters>
        <v-col cols="12">
          <common-input-doc-level-input
            v-model="internalDoc.category"
            label="Document Level"
            :documents="documents"
            :disabled="disabledEditing"
          />
        </v-col>
        <v-col
          v-if="!Array.isArray(internalDoc.file)"
          cols="12"
        >
          <common-input-file
            id="document-form-file-input"
            :error-messages="fileErrors"
            color="primary"
            validate-on-blur
            :disabled="disabledEditing"
            :file-type="CONSTS.FILE_TYPES.ALL_DOCS"
            @change="selectFile"
          >
            <template v-slot:append-outer>
              <v-progress-circular
                v-if="saving"
                :rotate="270"
                :size="50"
                :width="10"
                :value="uploadingProgress"
                color="primary"
              >
                {{ uploadingProgress }}
              </v-progress-circular>
            </template>
          </common-input-file>

          <div
            v-if="internalDoc.document"
            class="mb-4"
          >
            <common-common-preview-file
              :url="internalDoc.document.signed_url"
              :mime-type="internalDoc.document.mime_type"
            />
          </div>
        </v-col>
        <v-col
          v-else
          cols="12"
        >
          <div class="primary--text mb-2">
            {{ internalDoc.file.length }} files selected.
          </div>

          <div
            v-if="uploadMultiFileStatus"
            style="max-height: 300px"
            class="overflow-auto"
          >
            <v-simple-table
              class="custom-simple-table"
              dense
            >
              <thead>
                <tr>
                  <th class="text-left">
                    Name
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(fileStatus, index) in uploadMultiFileStatus"
                  :key="{index}"
                >
                  <td class="py-3">
                    {{ fileStatus.fullPath }}
                  </td>
                  <td>
                    <v-progress-circular
                      v-if="saving"
                      :rotate="270"
                      :size="50"
                      :width="10"
                      :value="fileStatus.progress"
                      color="primary"
                    >
                      {{ fileStatus.progress }}
                    </v-progress-circular>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </div>
        </v-col>

        <v-col
          v-if="!Array.isArray(internalDoc.file)"
          cols="12"
        >
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Name'"
          >
            <common-input-text-field
              v-model="internalDoc.name"
              :error-messages="errors"
              color="primary"
              :label="'Name'"
              validate-on-blur
              :disabled="disabledEditing"
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="!Array.isArray(internalDoc.file)"
          cols="12"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Description'"
          >
            <common-input-text-field
              v-model="internalDoc.description"
              :error-messages="errors"
              color="primary"
              :label="'Description (optional)'"
              validate-on-blur
              :disabled="disabledEditing"
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="!Array.isArray(internalDoc.file)"
          cols="12"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Comment'"
          >
            <common-input-textarea
              v-if="internalDoc.details"
              v-model="internalDoc.details.comment"
              :error-messages="errors"
              color="primary"
              :label="'Leave comments (optional)'"
              validate-on-blur
              :disabled="disabledEditing"
              hide-details
              rows="3"
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="portal === CONSTS.PORTAL.FID_ADMIN &&
            (loadFrom === CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC ||
              (isCreatingFromTenant && (loadFrom !== CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC)))"
        >
          <v-row class="my-5">
            <v-col cols="6">
              <common-input-checkbox
                v-model="internalDoc.is_required"
                label="Required Document"
                :disabled="disabledEditing"
                dense
                hide-details
              />
            </v-col>
            <v-col
              v-if="internalDoc.details"
              cols="6"
            >
              <common-input-checkbox
                v-model="internalDoc.details.download_allowed"
                mode="edit"
                label="Download Allowed"
                :disabled="disabledEditing"
                dense
                hide-details
              />
            </v-col>
            <v-col
              v-if="mode=='create'"
              cols="6"
            >
              <common-input-checkbox
                v-model="internalDoc.is_private"
                label="Private Tenant Document?"
                :disabled="disabledEditing"
                dense
                hide-details
              />
            </v-col>
            <v-col cols="6">
              <common-input-checkbox
                v-model="internalDoc.is_important"
                label="Mark document as important?"
                :disabled="disabledEditing"
                dense
                hide-details
              />
            </v-col>
          </v-row>
          <v-row v-if="!internalDoc.is_required">
            <v-col cols="12">
              <p>Do you want to restrict document access?</p>
              <common-input-switch
                v-model="internalDoc.enableBlackList"
                class="mt-0"
                :ripple="false"
                hide-details
                dense
                @input="onEnablieBlackListChanged"
              />
            </v-col>

            <v-col
              v-if="internalDoc.enableBlackList"
              cols="12"
            >
              <p class="black--text pt-4 font-weight-medium">
                Please select the tags for which you want to hide the document
              </p>
              <v-col
                cols="6"
                class="px-0 py-0"
              >
                <p class="trsText--text text-body-2 pt-2">
                  Note: The document will be hidden from all the entities under the selected tags
                </p>
                <div class="mb-5">
                  <common-trs-chip
                    v-for="(tag, index) in blackListTags"
                    :key="index"
                    close
                    class="mr-2 mb-2"
                    @click:close="onRemoveBlacklistTag(index)"
                  >
                    {{ tag.name }}
                  </common-trs-chip>
                </div>
                <div class="tag-input">
                  <common-app-entity-item-selector
                    v-model="blackListTags"
                    color="primary"
                    :label="blackListTags.length > 0 ? '' : 'Select tags'"
                    validate-on-blur
                    :entity="'entity-tag'"
                    :include="'tenant'"
                    hide-details
                    return-object
                    multiple
                    :filled="false"
                    placeholder="Search..."
                    class="mx-0"
                    @change="$emit('change', $event)"
                  >
                    <template v-slot:selection>
                      <div class="text-none" />
                    </template>
                    <template v-slot:prepend-inner>
                      <div class="text-none text-no-wrap trsText--text mt-1">
                        {{ blackListTags.length > 0 ? `${blackListTags.length} Selected` : '' }}
                      </div>
                    </template>
                  </common-app-entity-item-selector>
                </div>
              </v-col>
            </v-col>
          </v-row>
          <v-row v-if="internalDoc.is_required">
            <v-col cols="6">
              <p class="trsText--text text-body-2 pt-2">
                Note: You cannot hide the document if it's required.
              </p>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="portal === CONSTS.PORTAL.ISSUER && loadFrom === CONSTS.DR_DOC_LOAD_FROM.OPP_DOC">
          <v-row>
            <v-col
              cols="12"
            >
              <common-input-checkbox
                v-model="internalDoc.isRequired"
                label="Required Document"
                :disabled="disabledEditing"
              />
              <common-input-checkbox
                v-if="internalDoc.details"
                v-model="internalDoc.details.download_allowed"
                label="Download Allowed"
                :disabled="disabledEditing"
              />
              <common-input-checkbox
                v-if="internalDoc.details"
                v-model="internalDoc.details.watermark"
                label="Watermark Document"
                :disabled="disabledEditing"
              />
              <common-input-checkbox
                v-if="mode=='create'"
                v-model="internalDoc.is_issuer_private"
                label="Private Issuer Document?"
                :disabled="disabledEditing"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="portal === CONSTS.PORTAL.ISSUER && loadFrom === CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC">
          <v-row>
            <v-col
              cols="12"
            >
              <common-input-checkbox
                v-model="internalDoc.isRequired"
                label="Required Document"
                :disabled="disabledEditing"
              />
              <common-input-checkbox
                v-if="internalDoc.details"
                v-model="internalDoc.details.download_allowed"
                label="Download Allowed"
                :disabled="disabledEditing"
              />
              <common-input-checkbox
                v-if="internalDoc.details"
                v-model="internalDoc.details.watermark"
                label="Watermark Document"
                :disabled="disabledEditing"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="disabledEditingFidAdmin">
          <v-row>
            <v-col
              cols="12"
            >
              <common-input-checkbox
                v-if="mode=='create'"
                v-model="internalDoc.is_tenant_private"
                label="Private Tenant Document?"
              />
            </v-col>
          </v-row>
        </v-col>

        <!-- <v-col
          v-if="type === CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM"
          cols="12"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Type'"
          >
            <common-input-select
              v-model="internalDoc.document_type"
              label="Type"
              color="primary"
              clearable
              :items="docTypes"
              item-text="name"
              item-value="id"
              validate-on-blur
              :error-messages="errors"
              multiple
            />
          </validation-provider>
        </v-col> -->
        <!-- <v-col cols="12">
          <common-common-bullet-input
            v-model="internalDoc.data_list"
            mode="edit"
            :input-templ="{
              label: 'Data List',
              mandatory: false,
            }"
          />
        </v-col> -->
      </v-row>
    </common-trs-modal-card-text>
    <common-trs-modal-card-actions>
      <v-spacer />
      <common-trs-btn
        :disabled="!valid || !isFileValid"
        :loading="saving"
        type="primary"
        class="mr-4"
        @click="save"
      >
        Save
      </common-trs-btn>
    </common-trs-modal-card-actions>
  </validation-observer>
</template>

<script>
  export default {
    name: 'DashboardComponentsDocumentForm',

    components: {
    },

    props: {
      value: {
        type: Object,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      saving: {
        type: Boolean,
        required: true,
      },
      uploadingProgress: {
        type: Number,
        default: 0,
      },
      uploadMultiFileStatus: {
        validate: () => true,
      },
      documents: {
        type: Array,
        default: () => [],
      },
      loadFrom: {
        type: String,
        default: '',
      },
      mode: {
        type: String,
        validate: (val) => ['edit', 'view', 'create'].indexOf(val) !== -1,
      },
    },

    data: () => ({
      fileErrors: [],
    }),

    computed: {
      issuerData () {
        return this.$store.getters['account/details']
      },
      portal () {
        return this.$getPortal()
      },
      isCreatingFromTenant () {
        const portal = this.$getPortal()
        return portal === this.CONSTS.PORTAL.FID_ADMIN && !this.internalDoc.id
      },
      isCreatingFromIssuer () {
        const portal = this.$getPortal()
        return portal === this.CONSTS.PORTAL.ISSUER && !this.internalDoc.id
      },
      isTenantDoc () {
        return this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC
      },
      disabledEditing () {
        return this.disabledEditingFidAdmin || this.disabledEditingIssuer
      },
      disabledEditingFidAdmin () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN && !this.isTenantDoc
      },
      disabledEditingIssuer () {
        return false
      },
      docTypes () {
        try {
          return this.$store.getters['documentTypes/docTypes'].filter(x => {
            return x.name.indexOf('DATA_ROOM') !== -1 || x.name.indexOf('REQUIRED') !== -1
          })
        } catch (err) {
          return []
        }
      },
      internalDoc: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      blackListTags: {
        get () {
          return this.internalDoc.details.blacklisted_entity_tags || []
        },
        set (val) {
          this.$emit('input', {
            ...this.internalDoc,
            details: {
              ...this.internalDoc.details,
              blacklisted_entity_tags: val,
            },
          })
        },
      },
      isFileValid () {
        if (this.internalDoc.document || this.internalDoc.file) {
          return true
        }
        return false
      },
    },

    watch: {
      internalDoc: {
        handler (val) {
          if (val.details && this.issuerData && this.issuerData.details && this.mode !== 'edit') {
            val.details.download_allowed = this.issuerData.details.download_allowed || false
            val.details.watermark = this.issuerData.details.watermark || false
          } else {
            val.details.download_allowed = this.internalDoc && this.internalDoc.details.download_allowed
            val.details.watermark = this.internalDoc && this.internalDoc.details.watermark
          }

          if (val.details && val.details.blacklisted_entity_tags && val.details.blacklisted_entity_tags.length > 0 && !val.enableBlackList) {
            this.internalDoc.enableBlackList = true
          }
        },
        immediate: true,
      },
    },

    created () {
      document.addEventListener('new-file-select', this.handleDropFileSelect)
    },

    destroyed () {
      document.removeEventListener('new-file-select', this.handleDropFileSelect)
    },

    methods: {
      onEnablieBlackListChanged (ev) {
        this.internalDoc = {
          ...this.internalDoc,
          enableBlackList: ev,
        }
        this.$set(this.internalDoc, 'enableBlackList', ev)
        if (!ev) this.internalDoc.details.blacklisted_entity_tags = []
      },
      handleDropFileSelect (event) {
        const files = event.data
        if (files.length > 1) {
          this.selectFile(files)
        } else {
          this.selectFile(files[0].file)
          document.querySelector('#document-form-file-input .v-file-input__text').innerHTML = files[0].file.name
        }
      },
      async selectFile (ev) {
        this.internalDoc = { ...this.internalDoc, file: ev }
      },
      save () {
        this.$emit('save', this.internalDoc)
      },
      onRemoveBlacklistTag (idx) {
        this.blackListTags.splice(idx, 1)
      },
    },
  }
</script>

<style lang="sass">
</style>
