<template>
  <div v-if="!value && false">
    <common-app-page-header
      title="Document"
      @goBack="goBack"
    >
      <template v-slot:title="{ parsedTitle }">
        <div
          class="text-h4 display-md-2 flex-fill ml-3 overflow-limit mr-3"
        >
          <div>
            {{ parsedTitle }}
          </div>
        </div>
      </template>
    </common-app-page-header>
  </div>
  <div
    v-else
    style="position: relative; display: flex; flex-direction: column;"
  >
    <div
      v-if="value.description"
      cols="12"
      class="text-start mt-2 mx-2 mb-4"
    >
      <div class="text-body-2 font-weight-light">
        Description
      </div>
      <span>{{ value.description }}</span>
    </div>

    <v-fade-transition
      v-if="value.details && value.details.comment"
    >
      <v-alert
        type="success"
        class="px-2 py-2 mb-4 mx-2"
        text
      >
        {{ value.details.comment }}
      </v-alert>
    </v-fade-transition>

    <common-common-preview-file
      :url="value.document.signed_url"
      :mime-type="value.document.mime_type"
      :has-download-btn="value.download_allowed"
    />
    <div class="mb-4" />
    <div class="bottom">
      <div>
        <common-input-checkbox
          v-if="requiredDoc"
          v-model="viewed"
          label="I acknowledge that I have reviewed this document."
        />
      </div>

      <div class="d-flex justify-space-between mt-2">
        <div
          style="min-width:  150px"
          class="text-center"
        >
          <common-trs-btn
            v-if="value.prevButtonAllowed"
            type="secondary"
            class="mb-2"
            @click="prevDoc"
          >
            Previous Document
          </common-trs-btn>
        </div>
        <div
          style="min-width:  150px"
          class="text-center"
        >
          <common-trs-btn
            v-show="(requiredDoc && viewed) || !requiredDoc"
            type="primary"
            class="mb-2"
            @click="goBack"
          >
            Done
          </common-trs-btn>
        </div>
        <div
          style="min-width:  150px"
          class="text-center"
        >
          <common-trs-btn
            v-if="value.nextButtonAllowed"
            type="secondary"
            class="mb-2"
            @click="nextDoc"
          >
            Next Document
          </common-trs-btn>
        </div>
      </div>

      <div class="pb-4" />
      <div v-if="canSeeActivity">
        <document-activity
          :opp-id="oppId"
          :doc-id="docId"
          :portal="portal"
        />
      </div>
    </div>
  </div>
</template>

<script>
  // import InfoItem from '../InfoItem'
  import DocumentActivity from './DocumentActivity'
  import { docIsViewed } from '../data-room'

  export default {
    name: 'DashboardComponentsDocumentView',

    components: {
      // InfoItem,
      // FolderHierachy: () => 'FolderHierachy',
      DocumentActivity,
    },

    props: {
      oppId: {
        type: String,
        default: '',
      },
      docId: {
        type: String,
        default: '',
      },
      value: {
        type: Object,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      saving: {
        type: Boolean,
        required: true,
      },
      uploadingProgress: {
        type: Number,
        default: 0,
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      loadFrom: {
        type: String,
        default: '',
      },
      isOpen: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
      viewed: false,
      docOpendedAt: new Date(),
    }),

    computed: {
      portal () {
        return this.$getPortal()
      },
      canSeeActivity () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      requiredDoc () {
        const isRequired = (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC && this.value.isRequired) ||
          (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC && this.value.isRequired) ||
          (this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC && this.value.is_required)

        const notAlreadyViewed = (
          this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.OPP_DOC &&
          !docIsViewed(this.alreadyViewedDocs, 'data_room_docs', this.value.document.doc_id)
        ) || (
          this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.ISSUER_DOC &&
          !docIsViewed(this.alreadyViewedDocs, 'data_room_docs', this.value.document.doc_id)
        ) || (
          this.loadFrom === this.CONSTS.DR_DOC_LOAD_FROM.TENANT_DOC &&
          !docIsViewed(this.alreadyViewedDocs, 'tenant_compliance_docs', this.value.document_id)
        )

        return this.portal === this.CONSTS.PORTAL.INVESTOR &&
          isRequired &&
          notAlreadyViewed
      },
    },

    watch: {
      viewed: {
        handler (val) {
          if (val) {
            this.$emit('viewDocument', {
              doc: this.value,
              loadFrom: this.loadFrom,
            })
          }
        },
      },
      // value: {
      //   handler (val, prevVal) {
      //     if (!prevVal && val) {
      //       this.docOpendedAt = new Date()
      //     }
      //     if (prevVal && val !== prevVal) {
      //       this.logStartReview(prevVal)
      //     }
      //   },
      //   immediate: true,
      // },
    },

    async created () {
    },

    methods: {
      goBack () {
        this.$emit('close')
      },
      prevDoc () {
        this.$emit('prevDoc')
      },
      nextDoc () {
        this.$emit('nextDoc')
      },
      edit () {
        this.$emit('edit', this.internalDoc)
      },
    },
  }
</script>
<style lang="scss" scoped>
::v-deep .pdfvuer,
::v-deep .pdf-preview > div,
::v-deep .office-preview > .root {
  min-height: calc(100vh - 250px);
  height: 100%;
}
::v-deep .pdf-preview > div {
  display: flex;
  flex-direction: column;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

#pdf-js-viewer {
  min-height: auto;
}
</style>
