<template>
  <v-container>
    <activities-list
      :pre-filters="{
        doc_id: docId,
        activity_type: CONSTS.ACTIVITY_TYPE.DATAROOM_DOCUMENTS_VIEWED,
        source_name: currentFidName,
      }"
      :hide-filters="['resource', 'activity_type']"
      :hide-fields="['resource', 'activity_type']"
    />
  </v-container>
</template>

<script>
  import ActivitiesList from '@/components/common/activities/ActivitiesList'

  export default {
    name: 'DocumentActivity',

    components: {
      ActivitiesList,
    },

    props: {
      oppId: {
        type: String,
        default: '',
      },
      docId: {
        type: String,
        default: '',
      },
    },

    computed: {
      currentFidName () {
        return this.$store.getters['auth/fiduciary'].name
      },
      user () {
        return this.$store.getters['auth/user']
      },
    },

    methods: {
    },
  }
</script>
