<template>
  <div>
    <wrapper
      v-if="viewDoc"
      :id="id"
      :title="title"
      :opportunity="opportunity"
      :service="roadshowService"
      :portal="portal"
      :type="CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM"
      :already-viewed-docs="alreadyViewedDocs"
      :can-edit="canEdit"
      :status="status"
      :reload-all="reloadAll"
      :is-roadshow="isRoadshow"
      v-on="$listeners"
    />

    <div
      v-if="!viewDoc"
      class="text-center"
    >
      <div
        class="error-message"
      >
        {{ error }}
      </div>

      <common-trs-btn
        v-if="lockUnlockOpp"
        type="primary"
        class="white--text"
        :to="{ name: 'OpportunityDetail', params: { id }, query:{tab: 'nda-documents'} }"
      >
        Sign NDA
      </common-trs-btn>
    </div>
  </div>
</template>

<script>
  import DigitalRoadshowService from '../service'
  import { PORTAL } from '@/constants'
  export default {
    name: 'CommonDigitalRoadshowDocumentsIndex',

    components: {
      Wrapper: () => import('./Wrapper'),
    },

    props: {
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      id: {
        type: String,
        required: true,
      },
      canEdit: {
        type: Boolean,
        default: true,
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      opportunity: {
        type: Object,
        required: true,
      },
      reloadAll: {
        type: Boolean,
        default: false,
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
      title: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      roadshowService: null,
    }),

    computed: {
      portal () {
        return window.location.pathname.split('/')[1]
      },
      viewDoc () {
        if (this.portal && this.portal === PORTAL.FID_ADMIN) {
          return (this.status.ndaSigned && this.status.ndaCounterSigned) || this.isOpportunityApproved
        } else if (this.portal && this.portal === PORTAL.INVESTOR) {
          return (this.status.ndaSigned && this.status.ndaCounterSigned) || (this.investmentDone || this.isDocumentSeen)
        } else {
          return (this.status.ndaSigned && this.status.ndaCounterSigned)
        }
      },
      error () {
        if (this.status.ndaSigned === false) {
          if (this.status.ndaDeclined) {
            return 'NDA is Declined!'
          }
          return 'NDA must be signed first to view the document.'
        } else if (this.status.ndaCounterSigned === false) {
          return 'NDA must be counter signed to view the document.'
        }
        return ''
      },
      lockUnlockOpp () {
        if (this.portal && this.portal === PORTAL.FID_ADMIN) {
          return this.status.ndaSigned === false && !this.status.ndaDeclined && !this.isOpportunityApproved
        } else if (this.portal && this.portal === PORTAL.INVESTOR) {
          return this.status.ndaSigned === false && !this.status.ndaDeclined && (!this.investmentDone || !this.isDocumentSeen)
        } else {
          return this.status.ndaSigned === false && !this.status.ndaDeclined
        }
      },
    },

    created () {
      this.roadshowService = new DigitalRoadshowService(this.portal)
    },

    methods: {
    },
  }
</script>

<style lang="scss" scoped>
  .error-message {
    padding: 30px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }
</style>
