<template>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div>
      <div class="d-flex justify-space-between">
        <label class="text-h4 font-weight-medium">{{ title }}</label>
        <bulk-delete-btn
          v-if="showDeleteBtn"
          :id="id"
          :selected-documents="selectedDocuments"
          @refresh="refresh"
        />
      </div>
      <span v-if="selectedFileSize">
        {{ $fileSizeString(selectedFileSize) }}
      </span>
      <div
        v-if="showNewBtns"
        class="d-flex flex-column"
      >
        <new-doc-dropzone
          :key="newDocKey"
          @file-select="handleFileSelect"
        />
        <document-new-bulk-btn
          :id="id"
          ref="newDocBulk"
          :type="type"
          :new-category="newCategory"
          :documents="allDocuments"
          @refresh="refresh"
        />
        <document-new-btn
          :id="id"
          ref="newDoc"
          :type="type"
          :new-category="newCategory"
          :documents="allDocuments"
          @refresh="refresh"
        />
        <bulk-upload-status-btn
          v-if="portal === CONSTS.PORTAL.ISSUER"
          :id="id"
        />
      </div>
      <div
        v-if="canEdit && selectedDocuments.length > 0"
        class="d-flex flex-column"
      >
        <bulk-edit
          :selected="selectedDocuments"
          :opp-id="id"
          @refresh="refresh"
        />
        <bulk-download-btn
          v-if="portal !== CONSTS.PORTAL.ISSUER"
          :id="id"
          :selected-documents="selectedDocuments"
          :documents="documents"
          :all-documents="allDocuments"
        />
      </div>
    </div>
  </div>
</template>
<script>
  import DocumentNewBtn from './components/NewBtn'
  import DocumentNewBulkBtn from './components/NewBulkBtn'
  import BulkUploadStatusBtn from './components/BulkUploadStatusBtn'
  import BulkEdit from './components/BulkEdit'
  import NewDocDropzone from './components/NewDocDrop'
  import BulkDownloadBtn from './components/BulkDownloadBtn.vue'
  import BulkDeleteBtn from './components/BulkDeleteBtn.vue'

  export default {
    name: 'CommonDigitalRoadshowDocumentsRightSection',
    components: {
      BulkEdit,
      BulkDeleteBtn,
      BulkDownloadBtn,
      BulkUploadStatusBtn,
      DocumentNewBtn,
      DocumentNewBulkBtn,

      NewDocDropzone,
    },
    props: {
      id: {
        type: String,
        required: true,
      },
      canEdit: {
        type: Boolean,
        required: true,
      },
      loading: {
        type: Boolean,
        default: () => false,
      },
      portal: {
        type: String,
        required: true,
      },
      documents: {
        type: Array,
        required: true,
      },
      selectedDocuments: {
        type: Array,
        required: true,
      },
      allDocuments: {
        type: Array,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      newCategory: {
        type: Object,
        default: () => ({ Type: 0 }),
      },
    },
    data () {
      return {
        newDocKey: 0,
      }
    },
    computed: {
      showDeleteBtn () {
        return this.portal === this.CONSTS.PORTAL.ISSUER &&
          this.selectedDocuments.length > 0
      },
      title () {
        if (this.selectedDocuments.length === 0) {
          return 'All Documents'
        } else {
          return `${this.selectedDocuments.length} Files selected`
        }
      },
      showNewBtns () {
        return this.canEdit && this.selectedDocuments.length === 0
      },
      selectedFileSize () {
        return this.selectedDocuments.reduce((size, doc) => {
          return size + ((doc.details && doc.details.file_size) || 0)
        }, 0)
      },
    },
    watch: {
      loading () {
        this.newDocKey += 1
      },
    },
    methods: {
      refresh () {
        this.$emit('refreshDocuments')
      },
      async handleFileSelect (files) {
        // const allFiles = await getAllFileEntries(files)
        // console.log(files)

        if (files.length === 0) { return }
        if (files[0].file.type.includes('zip')) {
          this.$refs.newDocBulk.openWithFile(files[0].file)
        } else {
          this.$refs.newDoc.openWithFile(files)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .h-100 {
    height: 100%;
  }

  .justify-content-between {
    justify-content: space-between;
  }
</style>
