<template>
  <div>
    <div>
      <div class="top-filter ">
        <div class="d-flex align-center">
          <div class="d-flex flex-column">
            <div
              v-if="title"
              class="trsText--text text-h3 font-weight-medium"
            >
              {{ title }}
            </div>
            <div class="breadcrumb">
              <span
                class="cursor-pointer"
                @click="filters.category = []"
              >All Files</span>
              <span
                v-for="(category, idx) of filters.category"
                :key="idx"
                @click="filters.category = filters.category.slice(0, idx + 1)"
              >
                / <span class="cursor-pointer">{{ category }}</span>
              </span>
            </div>
          </div>
          <div class="ml-auto d-flex align-center">
            <v-menu
              offset-y
            >
              <template v-slot:activator="{ on, attrs }">
                <label
                  v-bind="attrs"
                  class="mr-5"
                  v-on="on"
                >
                  <v-icon class="black--text">
                    mdi-sort-variant
                  </v-icon>
                  Sort
                </label>
              </template>
              <v-list>
                <v-list-item
                  @click="handleSort({
                    field: 'name',
                    desc: 1
                  })"
                >
                  Alphabetical (A-Z)
                </v-list-item>
                <v-list-item
                  @click="handleSort({
                    field: 'name',
                    desc: -1
                  })"
                >
                  Alphabetical (Z-A)
                </v-list-item>
                <v-list-item
                  @click="handleSort({
                    field: 'modified_on',
                    desc: 1
                  })"
                >
                  Last Modified (ascending)
                </v-list-item>
                <v-list-item
                  @click="handleSort({
                    field: 'modified_on',
                    desc: -1
                  })"
                >
                  Last Modified (descending)
                </v-list-item>
              </v-list>
            </v-menu>
            <common-input-text-field
              v-model="filters.searchTxt"
              dense
              single-line
              prepend-inner-icon="mdi-magnify"
              hide-details
              color="primary"
              :label="'Search'"
            >
              <template v-slot:append>
                <common-trs-filter-card-expand-btn
                  :expanded="expanded"
                  @toggleExpanded="toggleExpanded"
                />
              </template>
            </common-input-text-field>
          </div>
        </div>
        <v-expand-transition>
          <div
            v-if="expanded"
            class="d-flex justify-end"
          >
            <common-input-checkbox
              v-model="filters.starred"
              :disabled="loading"
              label="Starred"
            />
            <common-input-checkbox
              v-model="filters.required"
              :disabled="loading"
              class="ml-7"
              label="Required Documents"
            />
            <common-input-checkbox
              v-if="portal === CONSTS.PORTAL.FID_ADMIN"
              v-model="filters.has_restricted_access"
              :disabled="loading"
              class="ml-7"
              label="Restricted Documents"
            />
          </div>
        </v-expand-transition>
        <div
          v-if="isRoadshow && portal !== CONSTS.PORTAL.ISSUER"
          class="d-flex justify-end"
        >
          <bulk-download-btn
            :id="id"
            :selected-documents="selectedDocuments"
            :documents="documents"
            :all-documents="allDocuments"
          />
        </div>
      </div>
      <v-row>
        <v-col :cols="isRoadshow ? 12 : 9">
          <doc-table
            :id="id"
            :portal="portal"
            :loading="loading"
            :is-roadshow="isRoadshow"
            :service="service"
            :documents="documents"
            :all-documents="allDocuments"
            :sort="filters.sort"
            :type="type"
            :can-edit="canEdit"
            :selected-documents="selectedDocuments"
            :filter-category="filters.category"
            @item-click="handleItemClick"
            @item-select="handleItemSelect"
            @all-item-select="handleAllItemSelect"
            @refresh="loadDocuments"
            @folder-upward="filters.category = filters.category.slice(0, -1)"
          />
        </v-col>
        <v-col
          v-if="!isRoadshow"
          cols="3"
        >
          <right-section
            :id="id"
            :documents="documents"
            :all-documents="allDocuments"
            :portal="portal"
            :type="type"
            :can-edit="canEdit"
            :loading="loading"
            :selected-documents="selectedDocuments"
            :new-category="newCategory"
            @refreshDocuments="loadDocuments"
          />
        </v-col>
      </v-row>
    </div>
    <v-dialog
      :value="!!selectedDoc"
    >
      <common-trs-modal-card
        v-if="selectedDoc"
      >
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>
            {{ selectedDoc.name }}
          </common-trs-modal-card-title-content>

          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="closeViewDocument"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <document
          id="activedoc"
          :is-open="!!selectedDoc"
          :mode="'view'"
          :doc="selectedDoc"
          :type="type"
          :opp-id="id"
          :documents="documents"
          :portal="portal"
          :status="status"
          :already-viewed-docs="alreadyViewedDocs"
          :load-from="selectedDoc.loadFrom"
          @prevDoc="prevDoc"
          @nextDoc="nextDoc"
          @close="closeViewDocument"
          @viewDocument="viewDocument"
        />
      </common-trs-modal-card>
    </v-dialog>
  </div>
</template>
<script>
  import BulkDownloadBtn from './components/BulkDownloadBtn.vue'
  import * as serviceReqApi from '../../services/service-request'
  import * as documentServices from '@/components/common/services/documents'
  import moment from 'moment-timezone'

  export default {
    name: 'CommonDigitalRoadshowDocumentsWrapper',

    components: {
      BulkDownloadBtn,
      Document: () => import('./Document'),
      DocTable: () => import('./DocumentsTable'),
      RightSection: () => import('./RightSection'),
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      title: {
        type: String,
        default: '',
      },
      service: {
        validate: () => true,
      },
      portal: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      canEdit: {
        type: Boolean,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      opportunity: {
        type: Object,
        required: true,
      },
      reloadAll: {
        type: Boolean,
        default: false,
      },
      isRoadshow: {
        type: Boolean,
        default: false,
      },
    },
    data: () => ({
      loading: false,
      selectedDocuments: [],
      allDocuments: [],
      selectedDoc: null,
      filters: {
        category: [],
        sort: {
          field: 'name',
          direction: 1,
        },
        searchTxt: '',
        required: false,
        starred: false,
      },
      expanded: false,
      docOpendedAt: null,
    }),
    computed: {
      isTenantPortal () {
        const portal = this.$getPortal()
        return portal === this.CONSTS.PORTAL.FID_ADMIN || portal === this.CONSTS.PORTAL.INVESTOR
      },
      documents () {
        return this.allDocuments.filter(doc => {
          if (this.filters.category.length > 0) {
            return doc.category && Object.values(doc.category).slice(0, -1).join('>>>').startsWith(this.filters.category.join('>>>'))
          }
          if (this.filters.starred) {
            return doc.is_favourite
          }
          if (this.filters.has_restricted_access) {
            return doc.details && doc.details.blacklisted_entity_tags && doc.details.blacklisted_entity_tags.length > 0
          }
          return true
        }).reduce((grouped, doc) => {
          if (!doc.category && this.filters.category.length === 0) {
            grouped.push(doc)
          } else if (doc.category) {
            const docCategory = Object.values(doc.category).slice(this.filters.category.length, -1)[0]
            if (docCategory) {
              const gIdx = grouped.findIndex(group => group.is_folder && group.name === docCategory)
              if (gIdx !== -1) {
                grouped[gIdx].file_count = grouped[gIdx].file_count + 1
                if (+new Date(grouped[gIdx].modified_on) < +new Date(doc.modified_on)) {
                  grouped[gIdx].modified_on = doc.modified_on
                }
              } else {
                grouped.push({
                  category: { ...this.filters.category, [this.filters.category.length]: docCategory, Type: 1 },
                  is_folder: true,
                  name: docCategory,
                  file_count: 1,
                  modified_on: doc.modified_on,
                })
              }
            } else {
              grouped.push(doc)
            }
          }
          return grouped
        }, []).filter(doc => {
          const categoryMatches = doc.category && Object.values(doc.category).slice(this.filters.category.length, -1).find(category => category.toLowerCase().includes(this.filters.searchTxt.toLowerCase()))
          const nameMatches = doc.name.toLowerCase().includes(this.filters.searchTxt.toLowerCase())
          return nameMatches || categoryMatches
        }).sort((doc1, doc2) => {
          const val1 = doc1[this.filters.sort.field]
          const val2 = doc2[this.filters.sort.field]
          switch (this.filters.sort.field) {
            case 'name':
              return val1.localeCompare(val2) * this.filters.sort.direction
            case 'modified_on':
              return (+new Date(val1) - new Date(val2)) * this.filters.sort.direction
            default:
              return (val1 - val2) * this.filters.sort.direction
          }
        })
      },
      newCategory () {
        return {
          ...this.filters.category.reduce((cat, item, idx) => {
            return {
              ...cat,
              [idx]: item,
            }
          }, {}),
          Type: 0,
        }
      },
      requiredDoc () {
        return this.filters.required
      },
    },
    watch: {
      opportunity: {
        handler () {
          this.loadDocuments()
        },
      },
      requiredDoc: {
        handler (val) {
          this.loadDocuments(val)
        },
      },
    },
    created () {
      document.addEventListener('ws-message', this.wsMessageHandle)
      this.loadDocuments()
    },
    destroyed () {
      document.removeEventListener('ws-message', this.wsMessageHandle)
    },
    methods: {
      logStartReview () {
        if (!this.docOpendedAt) {
          return
        }

        const doc = this.selectedDoc
        let paths = ''
        for (let i = 0; i < doc.category.Type; i++) {
          paths += '/' + doc.category[i]
        }
        paths += '/' + doc.name
        const startTime = moment(this.docOpendedAt).format('dddd, MMMM Do YYYY, HH:mm:SS ZZ')
        const duration = moment.duration(moment().diff(moment(this.docOpendedAt))).humanize()

        const log = `Start At: ${startTime}
        <br />
        Duration: ${duration}
        <br />
        Document Path: ${paths}`

        if (this.portal === this.CONSTS.PORTAL.INVESTOR || this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          documentServices.addDocReviewLog(this.id, this.selectedDoc.document_id, {
            log_details: log,
          })
        }
        this.docOpendedAt = new Date()
      },
      wsMessageHandle (event) {
        try {
          if (['DATAROOM_UPLOAD_COMPLETE'].includes(event.detail.data.payload['focus-item'])) {
            this.loadDocuments()
          }
        } catch (err) {
          // slient pass
        }
      },
      toggleExpanded () {
        this.expanded = !this.expanded
      },
      handleSort (sort) {
        this.filters.sort.field = sort.field
        this.filters.sort.direction = sort.desc
      },
      prevDoc (preview, selectedDoc) {
        const doc = this.selectNextDoc(selectedDoc || this.selectedDoc, false)
        if (preview) {
          return doc
        }
        if (doc) {
          this.selectDocument(doc)
        } else {
          this.$store.commit('app/showMessage', { text: 'Reached the end of the documents.' })
        }
      },
      nextDoc (preview, selectedDoc) {
        const doc = this.selectNextDoc(selectedDoc || this.selectedDoc, true)
        if (preview) {
          return doc
        }
        if (doc) {
          this.selectDocument(doc)
        } else {
          this.$store.commit('app/showMessage', { text: 'Reached the end of the documents.' })
        }
      },
      selectDocument (doc) {
        if (doc) {
          this.docOpendedAt = new Date()
        } else {
          this.docOpendedAt = null
        }
        this.selectedDoc = doc
      },
      closeViewDocument () {
        this.logStartReview()
        this.selectDocument(null)
      },
      async viewDocument (item) {
        try {
          await this.service.viewDocument(item.loadFrom, this.id, this.selectedDoc.document_id)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to acknowledge',
          })
        }
      },
      handleItemClick (item) {
        if (item.is_folder) {
          this.filters.category = this.filters.category.concat(item.category[this.filters.category.length])
        } else {
          this.selectDocument(item)
        }
      },
      async handleItemSelect (item, select) {
        if (item.is_folder) {
          const folderCategory = Object.values(item.category).slice(0, -1).join('>>>')
          const folderDocs = this.allDocuments.filter(doc => {
            const docCategory = doc.category ? Object.values(doc.category).slice(0, -1).join('>>>') : ''
            const categoryMatches = docCategory.startsWith(folderCategory)
            return categoryMatches
          })
          const selectedDocIds = this.selectedDocuments.map(doc => doc.document_id)
          const folderDocIds = folderDocs.map(doc => doc.document_id)
          if (select) {
            this.selectedDocuments = this.selectedDocuments.concat(folderDocs.filter(doc => {
              return !selectedDocIds.includes(doc.document_id)
            }))
          } else {
            this.selectedDocuments = this.selectedDocuments.filter(doc => !folderDocIds.includes(doc.document_id))
          }
        } else {
          if (!select) {
            this.selectedDocuments.splice(this.selectedDocuments.findIndex(doc => doc.document_id === item.document_id), 1)
          } else {
            this.selectedDocuments.push(item)
          }
        }
      },
      handleAllItemSelect (select) {
        if (select) {
          this.selectedDocuments = this.allDocuments.filter(doc => {
            if (this.filters.category.length > 0) {
              return doc.category && Object.values(doc.category).slice(0, -1).join('>>>').startsWith(this.filters.category.join('>>>'))
            }
            if (this.filters.starred) {
              return doc.is_favourite
            }
            return true
          }).filter(doc => {
            const categoryMatches = doc.category && Object.values(doc.category).slice(this.filters.category.length, -1).find(category => category.toLowerCase().includes(this.filters.searchTxt.toLowerCase()))
            const nameMatches = doc.name.toLowerCase().includes(this.filters.searchTxt.toLowerCase())
            return nameMatches || categoryMatches
          })
        } else {
          this.selectedDocuments = []
        }
      },
      async loadDocuments (isRequired = false) {
        this.loading = true
        try {
          this.selectedDocuments = []
          this.allDocuments = await this.service.loadAllDataRoomDocuments(this.id, isRequired, this.isTenantPortal)
          // Pre process: remove trailing spaces on category
          this.allDocuments = this.allDocuments.map(doc => {
            const refinedCategory = doc.category ? Object.values(doc.category).slice(0, -1).reduce((cat, item) => {
              return {
                ...cat,
                [cat.Type]: item.trim(),
                Type: cat.Type + 1,
              }
            }, { Type: 0 }) : null
            return {
              ...doc,
              category: refinedCategory,
            }
          })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load documents',
          })
        }
        this.loading = false
      },
      async downloadAll () {
        try {
          await serviceReqApi.createRequest(this.opportunity.id)
          this.$store.commit('app/showMessage', { text: 'You request has been received.' }, { root: true })
          this.$router.push({
            name: 'ServiceRequest',
          })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load the investment',
          })
        }
      },
    },
  }
</script>
