<template>
  <common-page-loader v-if="loading" />
  <common-trs-page-container
    v-else
    id="forms"
  >
    <template v-slot:page-content>
      <common-trs-card
        class="px-0"
      >
        <template v-slot:after-heading>
          <div class="trsText--text text-h3 font-weight-light">
            {{ isNew ? 'Create' : 'Edit' }} Form
          </div>
        </template>

        <edit-form
          ref="editForm"
          v-model="form"
          :is-common="isCommon"
          :is-new="isNew"
          @save="save"
          @close="close"
        />
      </common-trs-card>
    </template>
  </common-trs-page-container>
</template>

<script>
  // import { api } from '@/api'
  import EditForm from './components/EditForm'
  import * as formsSrvc from '@/components/common/services/forms'

  export default {
    name: 'DashboardFormbuilderEditForm',

    components: {
      EditForm,
    },

    data: () => ({
      loading: false,
      form: null,
    }),

    computed: {
      formId () {
        return this.$route.params.id
      },
      isNew () {
        return !this.formId
      },
      source () {
        return this.$route.query.source
      },
      cloneId () {
        return this.$route.query.cloneId
      },
      isCommon () {
        return this.source === this.CONSTS.FORM_COMMON
      },
      cloneLoadFrom () {
        return this.$route.query.cloneLoadFrom
      },
    },

    watch: {
      formId () {
        this.loadData()
      },
    },

    beforeRouteLeave (to, from, next) {
      this.$refs.editForm.beforeRouteLeave(to, from, next)
    },

    async created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true

        if (this.isNew) {
          this.form = formsSrvc.createNewForm(this.source)
          if (this.cloneId) {
            const cloneForm = await formsSrvc.getFormById(this.cloneId, { base: this.cloneLoadFrom })

            const nonAllowed = ['id', 'is_published', 'is_archived']
            for (const key in cloneForm) {
              if (nonAllowed.indexOf(key) === -1) {
                this.form[key] = cloneForm[key]
              }
            }
            this.form.name = cloneForm.name + ' copy'
            this.form.is_published = false
          }
        } else {
          try {
            this.form = await formsSrvc.getFormById(this.formId, { base: this.isCommon ? 'common' : '' })
          } catch (err) {
            // handle err
            this.$router.push({ name: 'FormBuilderForms' })
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Invalid Form',
            })
          }
        }

        this.loading = false
      },
      save (editedForm) {
      },
      close () {
        this.$router.push({ name: 'FormBuilderForms' })
      },
    },
  }
</script>

<style lang="sass">
</style>
