<template>
  <div>
    <form-filter
      v-model="filters"
    >
      <template v-slot:actions>
        <div class="d-flex align-center float-right">
          <common-trs-btn
            text
            large
            type="primary"
            class="mr-auto white--text"
            :to="{ name: 'FormBuilderForms.CreateForm', query: { source: isCommon ? CONSTS.FORM_COMMON : '' } }"
          >
            <v-icon>
              mdi-plus
            </v-icon>
            New Form
          </common-trs-btn>
          <common-input-switch
            v-model="isCommon"
            :disabled="CONSTS.API_DEFAULT_SERVICE !== 'tenant'"
            class="mr-5 ml-5"
            :label="`Common`"
          />
        </div>
      </template>
    </form-filter>

    <common-trs-card class="trs-table-container-card">
      <common-trs-data-table
        :headers="headers"
        :items="forms"
        :options.sync="options"
        :server-items-length="totalCount"
        :loading="loading"
      >
        <template v-slot:item.is_published="{ item }">
          <div class="text-center">
            <v-icon
              v-if="item.is_published"
              small
              class="trsText--text"
            >
              mdi-check
            </v-icon>
          </div>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <common-trs-btn
                class="mx-1 rounded-0 trsText--text"
                type="tertiary"
                icon
                text
                v-bind="attrs"
                @click="copyWizardLink(item)"
                v-on="on"
              >
                <v-icon
                  small
                  dark
                >
                  mdi-clipboard-outline
                </v-icon>
              </common-trs-btn>
            </template>
            <span>Copy form wizard link</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <common-trs-btn
                type="tertiary"
                class="mx-1 rounded-0 trsText--text"
                icon
                text
                :to="{ name: 'FormBuilderForms.EditForm', params: { id: item.id }, query: { source: isCommon ? CONSTS.FORM_COMMON : '' } }"
                v-on="tooltip"
              >
                <v-icon
                  small
                  dark
                  class="trsText--text"
                >
                  {{ item.is_published ? 'mdi-eye' : 'icon-edit trsText--text' }}
                </v-icon>
              </common-trs-btn>
            </template>
            <span>{{ item.is_published ? 'View' : 'View/Edit' }}</span>
          </v-tooltip>
          <v-menu
            bottom
            left
          >
            <template v-slot:activator="{ on, attrs }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <common-trs-btn
                    type="tertiary"
                    class="mx-1 rounded-0 trsText--text"
                    icon
                    text
                    v-bind="attrs"
                    v-on="{ ...on, ...tooltip}"
                  >
                    <v-icon
                      small
                      dark
                    >
                      {{ 'mdi-content-copy' }}
                    </v-icon>
                  </common-trs-btn>
                </template>
                <span>Copy</span>
              </v-tooltip>
            </template>

            <v-list>
              <v-list-item
                :to="{ name: 'FormBuilderForms.CreateForm', query: { source: isCommon ? CONSTS.FORM_COMMON : '', cloneId: item.id, cloneLoadFrom: isCommon ? CONSTS.FORM_COMMON : '' } }"
              >
                <v-list-item-title>Copy</v-list-item-title>
              </v-list-item>
              <v-list-item
                v-if="portal === CONSTS.PORTAL.FID_ADMIN && isCommon"
                :to="{ name: 'FormBuilderForms.CreateForm', query: { source: '', cloneId: item.id, cloneLoadFrom: 'common' } }"
              >
                <v-list-item-title>Copy as tenant form</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <common-app-confirm
            title="Delete Confirmation"
            message="Are you sure you want to delete this form?"
            yes-button="Yes"
            no-button="No"
            :entity="item"
            @yes="deleteItem"
          >
            <template v-slot:activator="{ on }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <span>
                    <common-trs-btn
                      type="tertiary"
                      :disabled="item.is_published ||
                        (isCommon && portal === CONSTS.PORTAL.FID_ADMIN)"
                      class="mx-1 rounded-0 trsText--text"
                      icon
                      text
                      v-on="{ ...on, ...tooltip}"
                    >
                      <v-icon
                        small
                        dark
                        class="icon-delete trsText--text"
                      />
                    </common-trs-btn>
                  </span>
                </template>
                <span>Delete</span>
              </v-tooltip>
            </template>
          </common-app-confirm>
        </template>

        <template v-slot:no-data>
          <!-- <common-trs-btn color="primary" @click="initialize">Reset</common-trs-btn> -->
          <span> No Results Found. </span>
        </template>
      </common-trs-data-table>
    </common-trs-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { api } from '@/api'
  // import EditFormModal from './components/EditFormModal'
  import * as formsSrvc from '@/components/common/services/forms'
  import { getFullLink } from '@/services/utils'
  import debounce from 'lodash.debounce'

  const defaultForm = {
    name: '',
    description: '',
    multiple: false,
    definition: [],
  }

  export default {
    name: 'DashboardFormbuilderForms',

    components: {
      // EditFormModal,
      FormFilter: () => import('./components/FormFilter'),
    },

    data: () => ({
      loading: false,
      newForm: {},

      options: {},
      forms: [],
      totalCount: 0,
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Internal Name', value: 'internal_name' },
        { text: 'Description', value: 'description', sortable: false },
        { text: 'Published', value: 'is_published', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false, width: '200px' },
      ],
      isCommon: true,
      filters: {},
    }),

    computed: {
      ...mapGetters({
        tenant: 'auth/tenant',
      }),
      portal () {
        return this.$getPortal()
      },
    },

    watch: {
      options: {
        handler () {
          this.loadData()
        },
        deep: true,
      },
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
          this.loadData()
        }, 500),
        deep: true,
      },
      isCommon (val) {
        this.options.page = 1
        this.loadData()
      },
    },

    methods: {
      async copyWizardLink (item) {
        try {
          const link = getFullLink(`/forms/wizard/${item.id}?source=${this.isCommon ? this.CONSTS.FORM_COMMON : ''}`)
          await this.$copyText(link)
          this.$store.commit('app/showMessage', { text: 'Form link is copied in clipboard' }, { root: true })
        } catch (err) {
          // pass
          console.log(err)
        }
      },
      async deleteItem (ev, item) {
        this.loading = true
        try {
          await api.delete(`forms/${item.id}`, { base: this.isCommon ? 'common' : '' })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to delete form',
          })
        }
        await this.loadData()
        this.loading = false
      },
      update (item) {
        this.loadData()
        this.newForm = {}
      },
      create () {
        this.newForm = { ...defaultForm }
      },
      async loadData () {
        this.loading = true
        try {
          const resp = await formsSrvc.getForms({
            ...this.options,
            filters: this.filters,
            query: ['id', 'name', 'description', 'is_published', 'internal_name'],
          }, { base: this.isCommon ? 'common' : '' })
          this.totalCount = resp.count
          this.forms = resp.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load forms',
          })
        }
        this.loading = false
      },
    },
  }
</script>

<style lang="sass">
</style>
