<template>
  <common-trs-page-container
    :padding="0"
  >
    <common-app-page-header-v2
      icon="mdi-form-select"
      title="Form Builder"
    />
    <common-trs-page-nav-horizontal>
      <common-tab
        :to="{ name: 'FormBuilderSections' }"
        :ripple="false"
      >
        Sections
      </common-tab>
      <common-tab
        :to="{ name: 'FormBuilderForms' }"
        :ripple="false"
      >
        Forms
      </common-tab>
    </common-trs-page-nav-horizontal>
    <router-view />
  </common-trs-page-container>
</template>

<script>
  export default {
    name: 'DashboardFormbuilderIndex',

    components: {
    },

    data: () => ({
    }),

    computed: {
    },

    watch: {
    },

    async created () {
    },

    methods: {
    },
  }
</script>

<style lang="sass">
</style>
