<template>
  <common-trs-filter-card
    class="pa-0 trs-filter-input"
    :applied-filter="$getAppliedFilter(internalValue, availableKeys, [])"
  >
    <template v-slot:primary-filter="{ }">
      <common-input-text-field
        v-model="internalValue.message"
        label="Notification"
        color="primary"
        clearable
        hide-details
        prepend-inner-icon="mdi-magnify"
      />
    </template>
  </common-trs-filter-card>
</template>

<script>
  export default {
    name: 'AdminUserFilter',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      label: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      availableKeys: [
        { key: 'message' },
      ],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
