<template>
  <common-trs-page-container
    :padding="0"
  >
    <template v-slot:page-content>
      <common-app-page-header-v2
        title="Actions and Notifications"
        icon="icon-chat-messages"
      >
        <template
          v-slot:primary-filter="{ }"
        >
          <common-input-text-field
            v-model="filters.message"
            label="Search"
            color="primary"
            clearable
            hide-details
            prepend-inner-icon="mdi-magnify"
            dense
            single-line
          />
        </template>
      </common-app-page-header-v2>
      <common-trs-card class="pb-0">
        <common-trs-page-nav-horizontal
          v-model="currentTab"
        >
          <common-tab>
            Actions ({{ actions.length }})
          </common-tab>

          <common-tab>
            Notifications ({{ notifications.length }})
          </common-tab>

          <common-tab>
            System Notifications ({{ $store.getters['systemNotifications/totalCount'] }})
          </common-tab>
        </common-trs-page-nav-horizontal>
      </common-trs-card>

      <v-tabs-items
        v-model="currentTab"
        class="transparent pa-3 pt-0"
      >
        <v-tab-item>
          <actions
            :actions="actions"
            :filters="filters"
          />
        </v-tab-item>

        <v-tab-item>
          <notifications
            :notifications="notifications"
            :filters="filters"
          />
        </v-tab-item>

        <v-tab-item>
          <system-notifications-summary
            :filters="filters"
          />
        </v-tab-item>
      </v-tabs-items>
    </template>
  </common-trs-page-container>
</template>

<script>
  import actions from './Actions'
  import notifications from './Notifications'
  import SystemNotificationsSummary from '@/components/common/system-notifications/Summary'
  export default {
    name: 'AdminUsers',

    components: {
      actions,
      notifications,
      SystemNotificationsSummary,
    },

    props: {
      alerts: {
        validate: () => true,
        default: () => [],
      },
    },

    data: () => ({
      currentTab: null,
      filters: {},
    }),

    computed: {
      actions () {
        return this.alerts.filter(item => item.action !== 'View')
      },
      notifications () {
        return this.alerts.filter(item => item.action === 'View')
      },
    },
    created () {
      this.currentTab = this.$route.query.tab ? parseInt(this.$route.query.tab) : 0
    },
  }
</script>

<style lang="scss">
</style>
