<template>
  <div>
    <common-trs-card class="trs-table-container-card">
      <common-trs-data-table
        :headers="headers"
        :items="notifications"
        :search="filters.message"
        :options.sync="options"
        :items-per-page="itemsPerPage"
        :loading="loading"
      >
        <template v-slot:item.message="{ item }">
          <common-trs-a-link
            @click="showDetails(item)"
          >
            <span>
              {{ item.message }} </span>
          </common-trs-a-link>
        </template>
        <template v-slot:item.timestamp="{ item }">
          {{ $date(item.timestamp) }}
        </template>
        <template v-slot:no-data>
          <span> No Results Found. </span>
        </template>
      </common-trs-data-table>
    </common-trs-card>
  </div>
</template>

<script>
  import debounce from 'lodash.debounce'

  const TABLE_HEADERS = [
    { text: 'Message', value: 'message', sortable: true },
    { text: 'Date', value: 'timestamp', sortable: true },
  ]
  export default {
    name: 'AdminUsers',

    components: {
    },

    props: {
      preFilters: {
        type: Object,
        default: () => {},
      },
      hideFields: {
        validate: () => true,
        default: () => [],
      },
      query: {
        validate: () => true,
        default: null,
      },
      notifications: {
        validate: () => true,
        default: () => [],
      },
      filters: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      loading: false,
      alerts: [],
      options: {
        sortDesc: [false],
        sortBy: ['timestamp'],
      },
      itemsPerPage: 10,
      headers: [],
    }),

    watch: {
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
        }, 500),
        deep: true,
      },
      hideFields: {
        handler (val) {
          this.headers = TABLE_HEADERS.filter(header => val.indexOf(header.value) === -1)
        },
        immediate: true,
      },
    },

    methods: {
      showDetails (alert) {
        const routeConfig = this.CONSTS.ACTION_ROUTE_MAP[alert.navigate_to]
        if (!routeConfig) {
          console.log('No route defined for ', alert)
          return
        }
        const routeName = routeConfig.route
        const routeParams = Object.keys(routeConfig.params || {}).reduce((res, key) => {
          res[key] = alert[routeConfig.params[key]]
          return res
        }, {})
        const routeQuery = routeConfig.query
        this.$router.push({
          name: routeName,
          params: routeParams,
          query: routeQuery,
        })
      },
    },
  }
</script>

<style lang="scss">
</style>
