<template>
  <p>
    <span>{{ calcedText }}</span>
    <span
      v-if="!showFullText && (text.length > maxLength)"
      class="primary--text cursor-pointer"
      @click="showFullText = true"
    >
      ...see more
    </span>
    <span
      v-if="showFullText && showLess && (text.length > maxLength)"
      class="primary--text cursor-pointer"
      @click="showFullText = false"
    >
      ...see less
    </span>
  </p>
</template>
<script>
  export default {
    name: 'MoreText',
    props: {
      text: {
        type: String,
        required: true,
      },
      maxLength: {
        type: Number,
        required: false,
      },
      showLess: {
        type: Boolean,
        required: false,
      },
    },
    data () {
      return {
        showFullText: false,
      }
    },
    computed: {
      calcedText () {
        return this.showFullText || !this.maxLength ? this.text : this.text.slice(0, this.maxLength)
      },
    },
    created () {
      this.showFullText = this.text.length < this.maxLength
    },
  }
</script>
<style scoped>
</style>
