<template>
  <common-trs-page-container>
    <template v-slot:page-content>
      <common-app-page-header-v2
        title="Service Requests"
        :padding="0"
        class="mb-10"
        icon="icon-service-request"
      >
        <template v-slot:primary-filter="{ }">
          <common-input-text-field
            v-model="filter.status"
            label="Search by status"
            color="primary"
            clearable
            hide-details
            prepend-inner-icon="mdi-magnify"
            single-line
            dense
            @input="loadRequests"
          />
        </template>
      </common-app-page-header-v2>
      <div>
        <common-trs-data-table
          :loading="loading"
          :headers="headers"
          :items="requests"
          :server-items-length="totalCount"
          :hide-default-header="false"
          :disable-custom-footer="true"
          @pagination="handlePageUpdate"
        >
          <template
            v-slot:[`item.trellis_srid`]="{item}"
          >
            SR-{{ item.trellis_srid }}
          </template>
          <template
            v-slot:[`item.opportunity_name`]="{item}"
          >
            <label
              class="primary--text cursor-pointer font-weight-medium"
              @click="$openUrl($router.resolve({ name: 'DigitalRoadshow.Landing', params: { id: item.opp_id }, query: { mode: CONSTS.DR_MODES.PRESENTATION } }).href)"
            >
              {{ item.opportunity_name || '-' }}
            </label>
          </template>
          <template
            v-slot:[`item.created_on`]="{item}"
          >
            {{ $date(item.created_on) }}
          </template>
          <template
            v-slot:[`item.requester_name`]="{item}"
          >
            {{ item.requester_name || item.created_by }}
          </template>
          <template
            v-slot:[`item.entity_name`]="{ item }"
          >
            {{ item.details.entity_name || '-' }}
          </template>
          <template
            v-slot:[`item.status`]="{item}"
          >
            {{ statusText(item.status) }}
          </template>
          <template
            v-slot:[`item.type`]="{item}"
          >
            {{ typeText(item.type) }}
          </template>
          <template
            v-slot:[`item.actions`]="{item}"
          >
            <span>
              <v-tooltip
                v-if="showDownloadButton(item)"
                bottom
              >
                <template v-slot:activator="{ on, attrs }">
                  <common-trs-btn
                    :loading="reqLoading === item.id"
                    :download="''"
                    type="tertiary"
                    icon
                    :v-bind="attrs"
                    v-on="on"
                    @click="loadAndDownload(item.id)"
                  >
                    <v-icon class="icon-download-outlined trsText--text" />
                  </common-trs-btn>
                </template>
                <span>Download</span>
              </v-tooltip>
            </span>
            <span>
              <v-tooltip
                v-if="item.retry"
                bottom
              >
                <template v-slot:activator="{ on, attrs }">
                  <common-trs-btn
                    v-feature="CONSTS.FID_FEATURE.SERVICE_REQUEST"
                    :loading="loading"
                    type="tertiary"
                    icon
                    :v-bind="attrs"
                    v-on="on"
                    @click="retryAction(item)"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </common-trs-btn>
                </template>
                <span>Retry</span>
              </v-tooltip>
            </span>
          </template>
        </common-trs-data-table>
      </div>
    </template>
  </common-trs-page-container>
</template>
<script>
  import * as serviceRequestApi from '../services/service-request'
  import { downloadAsFile } from '@/services/utils'

  const TABLE_HEADERS = [
    { sortable: false, text: 'ID', value: 'trellis_srid' },
    { sortable: false, text: 'Type', value: 'type' },
    { sortable: false, text: 'Opportunity', value: 'opportunity_name' },
    { sortable: false, text: 'Requested date', value: 'created_on' },
    { sortable: false, text: 'Requested by', value: 'requester_name' },
    { sortable: false, text: 'Investor', value: 'entity_name' },
    { sortable: false, text: 'Status', value: 'status' },
    { sortable: false, text: 'Action', value: 'actions' },
  ]

  export default {
    name: 'ServiceRequest',

    props: {
      hideFields: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
      loading: false,
      reqLoading: null,
      requests: [],
      totalCount: 0,
      page: 1,
      limit: 10,
      headers: [],
      filter: {},
    }),

    computed: {
      portal () {
        return this.$getPortal()
      },
    },

    watch: {
      hideFields: {
        handler (val) {
          this.headers = TABLE_HEADERS.filter(header => val.indexOf(header.text) === -1)
        },
        immediate: true,
      },
    },

    destroyed () {
      document.removeEventListener('ws-message', this.wsMessageHandle)
    },
    mounted () {
      this.loadRequests()
      document.addEventListener('ws-message', this.wsMessageHandle)
    },
    methods: {
      wsMessageHandle (event) {
        try {
          if (event.detail.data.payload['focus-item'] === 'SERVICE_REQUEST_COMPLETED') {
            this.loadRequests()
          }
        } catch (err) {
          // Do nothing
        }
      },
      statusText (status) {
        switch (status) {
          case 'CREATED':
            return 'PENDING'
          case 'COMPLETED':
            return 'COMPLETED'
          default:
            return status.replace(/_/g, ' ')
        }
      },
      typeText (type) {
        switch (type) {
          case 'DOWNLOAD_ALL_DATAROOM_DOCUMENTS':
            return 'DOWNLOAD DATAROOM'
          default:
            return type.replace(/_/g, ' ')
        }
      },
      handlePageUpdate ({ page, itemsPerPage: limit }) {
        this.page = page
        this.limit = limit
        this.loadRequests()
      },
      retryAction (item) {
        if (item.type.toLowerCase().indexOf('paxos') > -1) {
          this.retryPaxosAction(item.id)
        }
      },
      async loadRequests () {
        this.loading = true
        const base = this.portal === this.CONSTS.PORTAL.TR_ADMIN ? 'my-base' : 'tenant'
        try {
          const res = await serviceRequestApi.getRequestList(this.page, this.limit, this.filter, base)
          this.requests = res.results
          this.totalCount = res.count
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load service requests',
          })
        }
        this.loading = false
      },
      async loadAndDownload (id) {
        this.reqLoading = id
        const base = this.portal === this.CONSTS.PORTAL.TR_ADMIN ? 'my-base' : 'tenant'
        try {
          const res = await serviceRequestApi.getRequestDetail(id, base)
          await Promise.all(res.details.document_details.map(d => downloadAsFile(d.signed_url)))
        } catch (err) {
          console.log('here:', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load download.',
          })
        }
        this.reqLoading = null
      },
      async retryPaxosAction (id) {
        try {
          this.loading = true
          await serviceRequestApi.retryPaxosAction(id)
          this.loadRequests()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to create paxos account. Please retry later.',
          })
        }
        this.loading = false
      },
      showDownloadButton (item) {
        if (item.type.indexOf('PAXOS') > -1) {
          return false
        } else if (item.status === 'COMPLETED') {
          return true
        }
      },
    },
  }
</script>
