<template>
  <div>
    <p
      v-if="!loading && !pendingApproval && !isOnSubscription"
      class="text-center trsText--text text-body-2 mt-2"
    >
      This is <strong>View Only</strong> account.<br>
      To invest, please complete KYC
    </p>
    <div
      v-if="invite"
      class="d-flex"
    >
      <div
        v-if="pendingApproval"
        class="d-flex flex-column"
      >
        <p
          v-if="!isOnSubscription"
          class="text-center mb-2"
        >
          KYC Approval Pending
        </p>
        <common-trs-btn
          v-if="showInvestButton"
          :type="buttonProps.type || 'primary'"
          :disabled="true"
          class="white--text"
          large
        >
          {{ isOnSubscription ? 'CREATE NEW INVESTMENT' : 'INVEST' }}
        </common-trs-btn>
      </div>
      <common-trs-btn
        v-else
        :type="buttonProps.type || 'primary'"
        :style="buttonProps.style"
        large
        class="white--text mx-auto"
        text
        :loading="loading"
        @click="continueKYC"
      >
        CONTINUE KYC
      </common-trs-btn>
    </div>
    <common-common-side-modal
      v-else
      ref="inviteModal"
      scrollable
      :max-width="670"
      class="d-flex mx-auto"
      @internalDialogChanged="kycModalChanged"
    >
      <template v-slot:activator="{ on, attrs }">
        <common-trs-btn
          :type="buttonProps.type || 'primary'"
          large
          class="white--text mx-auto"
          :style="buttonProps.style"
          text
          v-bind="attrs"
          :loading="loading"
          v-on="on"
        >
          BEGIN KYC
        </common-trs-btn>
      </template>
      <template v-slot="{ close }">
        <common-trs-modal-card>
          <common-trs-modal-card-text>
            <div class="text-center px-12 pt-12 pb-8 trsText--text text-body-2">
              <p>
                You are about to initiate the <strong class="primary--text font-weight-bold">Know your Customer (KYC)</strong> process.
              </p>
              <p class="mt-10">
                You will be redirected to a different website. A link will also be sent to your email address, if you wish to complete this process later.
              </p>
              <p class="font-weight-bold mt-8">
                Make sure you have one of the following documents ready with you.
              </p>
              <div class="my-10 primary--text mt-6">
                <label>Passport</label>
                <label class="mx-10">Driver's license</label>
                <label>Identity Card</label>
              </div>
              <div
                v-if="shouldShowInviteTypeSelect"
                class="my-10 d-flex mt-6 align-center justify-center"
              >
                <span class="mr-5">
                  Please select invite type.
                </span>
                <common-input-select
                  v-model="inviteType"
                  :items="allowedInviteTypes"
                  single-line
                  dense
                  hide-details
                  style="max-width: 200px;"
                  class="mx-3"
                />
                <common-input-text-field
                  v-if="inviteType === CONSTS.INVITE_TYPES.ENTITY"
                  v-model="entityName"
                  placeholder="Entity Name"
                  single-line
                  dense
                  hide-details
                  style="max-width: 200px;"
                  class="mx-3"
                />
              </div>
              <div v-if="alradyInvitedAsEntity">
                You already invited an entity , please contact the fiduciary for another entity invite or you can continue as an individual
              </div>
              <div class="mx-14 d-flex">
                <common-trs-btn
                  type="secondary"
                  class="white--text mx-auto"
                  @click="close"
                >
                  Cancel
                </common-trs-btn>
                <common-trs-btn
                  type="primary"
                  class="white--text mx-auto"
                  :loading="inviting"
                  :disabled="alradyInvitedAsEntity"
                  @click="inviteUser"
                >
                  Proceed
                </common-trs-btn>
              </div>
            </div>
          </common-trs-modal-card-text>
        </common-trs-modal-card>
      </template>
    </common-common-side-modal>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import DigitalRoadshowService from '../../service'
  import * as CONSTS from '@/constants'

  export default {
    name: 'BeginKYCBtn',

    components: {},

    props: {
      isOnSubscription: {
        type: Boolean,
        default: false,
      },
      buttonProps: {
        type: Object,
        default: () => ({}),
      },
      entityDisabled: {
        type: Boolean,
        default: false,
      },
      showInvestButton: {
        type: Boolean,
        default: true,
      },
    },

    data: () => ({
      inviting: false,
      emailInput: '',
      invite: null,
      loading: false,
      inviteType: CONSTS.INVITE_TYPES.INDIVIDUAL,
      entityName: '',
    }),
    computed: {
      allowedInviteTypes () {
        return !this.entityDisabled
          ? this.CONSTS.KYC_INVITE_TYPES_SELECT_OPTIONS
          : this.CONSTS.KYC_INVITE_TYPES_SELECT_OPTIONS.filter(t => t.value === this.CONSTS.INVITE_TYPES.INDIVIDUAL)
      },
      alradyInvitedAsEntity () {
        // return this.inviteType === CONSTS.INVITE_TYPES.ENTITY && this.invite
        return false
      },
      shouldShowInviteTypeSelect () {
        return this.entities.length > 0
      },
      entities () {
        return this.$store.getters['auth/entities']
      },
      ...mapGetters({
        tokenDecoded: 'auth/tokenDecoded',
        user: 'auth/user',
      }),
      pendingApproval () {
        return this.invite && this.invite.approval_status === this.CONSTS.INVITE_APPROVAL_STATUS.PENDING
      },
    },

    watch: {
      inviteType () {
        this.entityName = ''
      },
    },

    created () {
      this.roadshowService = new DigitalRoadshowService(this.portal)
    },
    mounted () {
      this.loadInvite()
    },
    methods: {
      kycModalChanged (visible) {
        if (visible) {
          this.inviteType = CONSTS.INVITE_TYPES.INDIVIDUAL
          this.entityName = ''
        }
      },
      changeInviteType () {
        this.$refs.observer.reset()
      },
      async loadInvite () {
        this.loading = true
        try {
          this.invite = await this.roadshowService.getInvitation()
        } catch (err) {
          console.log('err: ', err)
        }
        this.loading = false
      },
      async inviteUser () {
        this.inviting = true
        const email = this.user.username

        try {
          const payload = {
            invite_type: this.inviteType,
            username: email,
            entity_name: '',
          }
          if (this.inviteType === this.CONSTS.INVITE_TYPES.ENTITY) {
            payload.entity_name = this.entityName
          }

          const res = await this.roadshowService.sendInvitation(payload)
          window.open(res.kyc_url, '_blank')
          this.$store.commit('app/showMessage', { text: 'Invite has been sent. please check your email.' })
          this.$refs.inviteModal.close()
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: `Failed to invite user ${email}`,
          })
        }
        this.inviting = false
      },
      continueKYC () {
        window.open(this.invite.kyc_url, '_blank')
      },
    },
  }
</script>
