<template>
  <v-dialog
    v-model="internalValue"
    max-width="768"
    :fullscreen="isOnMobile"
  >
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <v-spacer />
        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <v-row class="ma-3">
          <v-col
            v-if="data"
            md="5"
            sm="12"
            class="text-center"
          >
            <v-icon class="title-icns mb-1">
              mdi-email-outline
            </v-icon>
            <div class="trsText--text font-weight-bold title-txt mb-2">
              Primary Contact
            </div>
            <div class="primary--text text-body-1">
              {{ firstName }} {{ lastName }}
            </div>
            <div class="primary--text text-body-1">
              {{ email }}
            </div>
            <div class="primary--text text-body-1">
              {{ phone }}
            </div>
          </v-col>
          <v-col
            md="7"
            sm="12"
            class="text-center"
          >
            <v-icon class="title-icns mb-1">
              mdi-comment-question-outline
            </v-icon>
            <div class="trsText--text font-weight-bold title-txt mb-2">
              Ask us a question
            </div>
            <div class="trsText--text text-body-1">
              You can submit a question online and the issuer will get back to you at their earliest convenience.
            </div>
            <common-trs-btn
              class="mt-2 mb-3"
              type="primary"
              large
              @click="postQuestion"
            >
              Post a question
            </common-trs-btn>
            <!-- <div>
              <common-trs-a-link
                target="_blank"
                rel="noopener noreferrer"
                class="text-body-1"
              >
                Frequently Asked Questions
              </common-trs-a-link>
            </div> -->
          </v-col>
          <!-- <v-col
            md="4"
            sm="12"
            class="text-center"
          >
            <v-icon class="title-icns mb-1">
              mdi-calendar-blank-outline
            </v-icon>
            <div class="trsText--text font-weight-bold title-txt mb-2">
              Schedule a Meeting
            </div>
            <div class="trsText--text text-body-1">
              Set up a meeting with the issuer to learn more about the opportunity.
            </div>
            <common-trs-btn
              class="mt-2"
              type="primary"
              large
            >
              SELECT A TIME
            </common-trs-btn>
          </v-col> -->
        </v-row>
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      portal: {
        type: String,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      tab: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
    },

    data () {
      return {
        data: null,
        firstName: null,
        lastName: null,
        phone: null,
        email: null,
      }
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },
    created () {
      this.loadData()
    },

    methods: {
      postQuestion () {
        this.$emit('triggerAction', 'showTab', 'communication')
        this.close()
      },
      close (ev) {
        this.internalValue = false
      },
      async loadData () {
        const data = this.service.getFormData('company-story')
        this.data = data['DRS.IOPI.SC'] ? data['DRS.IOPI.SC'][0] || {} : {}
        this.firstName = this.data['DRS.IOPI.SC.FirstName']
        this.lastName = this.data['DRS.IOPI.SC.LastName']
        this.phone = this.data['DRS.IOPI.SC.PhoneNumber']
        this.email = this.data['DRS.IOPI.SC.Email']
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-dialog .v-card .v-card__title .v-icon.header-icon {
    top: 0px;
    left: 0px;
  }
  .title-txt{
    font-size: 24px;
  }
  .title-icns{
    color: var(--v-trsText-lighten1);
    font-size: 30px;
  }
</style>
