<template>
  <v-dialog
    v-model="internalValue"
    max-width="1024"
    :fullscreen="isOnMobile"
  >
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Investments
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <div class="ma-3">
          <component
            :is="InvestorOpportunityDeal"
            v-if="InvestorOpportunityDeal"
            :opportunity="{ opportunity }"
            roadshow
          />
        </div>
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>
<script>
  export default {
    name: 'InvestmentsModal',
    props: {
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      value: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
    },
    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      InvestorOpportunityDeal () {
        try {
          const c = require('@/views/dashboard/opportunities/components/OpportunityDeal').default
          return c
        } catch (err) {
          return null
        }
      },
    },
    methods: {
      close (ev) {
        this.internalValue = false
      },
    },
  }
</script>
<style scoped>
.v-dialog {
  overflow: visible;
}
.v-dialog .v-card .v-card__title .v-icon.header-icon {
  top: 0px;
  left: 0px;
}
</style>
