<template>
  <v-dialog
    v-model="internalValue"
    :max-width="isInvestorPortal ? 1024 : 768"
    :fullscreen="$vuetify.breakpoint.smAndDown"
  >
    <common-trs-modal-card>
      <validation-observer
        :key="value"
        v-slot="{ valid }"
      >
        <common-trs-modal-card-title>
          <v-spacer />

          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="close"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <common-trs-modal-card-text class="d-flex justify-center flex-column">
          <v-card
            :width="isInvestorPortal ? 768 : 480"
            elevation="0"
            class="mx-auto"
          >
            <label class="primary--text text-h3">
              {{ investment && "Edit/Withdraw " }}
              Indicate interest
            </label>
            <p class="mt-5 trsText--text text-body-1">
              {{ opportunity.details.shortDesc }}
            </p>
            <v-row>
              <v-col
                cols="12"
                class="pb-0 pt-0"
              >
                <label class="trsText--text text-body-2 text--lighten-1">
                  Opportunity Name
                </label>
                <div class="trsText--text text-body-1">
                  {{ opportunity.name }}
                </div>
              </v-col>
              <v-col
                cols="12"
                class="pb-0 pt-2"
              >
                <label class="trsText--text text-body-2 text--lighten-1">
                  Issuer
                </label>
                <div class="trsText--text text-body-1">
                  {{ opportunity.issuer.name }}
                </div>
              </v-col>
              <v-col
                cols="12"
                class="pt-2"
              >
                <label class="trsText--text text-body-2 text--lighten-1">
                  Minimum Investment
                </label>
                <div class="trsText--text text-body-1">
                  {{ $currency(opportunity.minimum) }}
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="ioiSubmitted"
                :cols="isInvestorPortal ? 3 : 12"
              >
                <v-list-item
                  v-for="inv of investments"
                  :key="inv.id"
                  class="px-0"
                  @click="selectInvestment(inv)"
                >
                  <div class="d-flex flex-column text-caption flex-grow-1">
                    <em class="trsText--text text-body-1 text--lighten-1"> Indication of interest </em>
                    <span class="text-body-1 primary--text">{{ inv.entity.name }} </span>
                    <div class="d-flex justify-space-between text-body-2">
                      <span>{{ $date(inv.ioi_date) }}</span>
                      <span>{{ $currency(inv.ioi_amount) }}</span>
                    </div>
                  </div>
                </v-list-item>
              </v-col>
              <v-col v-if="isInvestorPortal">
                <validation-provider
                  v-if="entitiesSelect"
                  v-slot="{ errors }"
                  rules="required"
                  name="entity"
                >
                  <common-input-select
                    v-model="entityId"
                    label="Invest by"
                    placeholder="Select Entity"
                    :items="entitiesSelect"
                    :error-message="errors"
                    :hide-details="errors.length === 0"
                    class="mb-4"
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  :rules="`required|min_value:${opportunity.minimum}`"
                  :custom-messages="{
                    min_value: 'Does not meet the minimum investment requirement.'
                  }"
                  name="Amount"
                >
                  <common-input-currency-input
                    v-model="form.amount"
                    label="How much do you want to invest?"
                    :error-messages="errors"
                    :hide-details="errors.length === 0"
                  />
                </validation-provider>
                <v-divider class="mt-4" />
                <div class="d-flex mt-4">
                  <common-trs-btn
                    text
                    type="secondary"
                    class="primary--text"
                    @click="internalValue=false"
                  >
                    Cancel
                  </common-trs-btn>
                  <v-spacer />
                  <common-trs-btn
                    v-if="investment && investment.ioi_amount > 0"
                    class="mr-2"
                    @click="withdrawIoi"
                  >
                    Withdraw
                  </common-trs-btn>
                  <common-trs-btn
                    :disabled="!valid && !loading"
                    :loading="loading"
                    type="primary"
                    @click="submitIoi()"
                  >
                    Submit
                    <v-icon right>
                      mdi-send
                    </v-icon>
                  </common-trs-btn>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </common-trs-modal-card-text>
      </validation-observer>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import { api } from '@/api'
  export default {
    name: 'CommonDigitalRoadshowLandingIoiModal',

    props: {
      value: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      portal: {
        type: String,
        required: true,
      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
      loading: false,
      investment: null,
      investments: [],
      entityId: null,
      form: {
        amount: 0,
      },
      entities: [],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      isInvestorPortal () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR
      },
      canSubmit () {
        return this.opportunity.status === this.CONSTS.DL_OPPORTUNITY_STATUS.NDA_EXECUTED ||
          this.opportunity.status === this.CONSTS.DL_OPPORTUNITY_STATUS.BIG_BOYS_SEEN
      },
      ioiAmount () {
        return this.investment?.ioi_amount
      },
      ioiDate () {
        return this.investment?.ioi_date
      },
      ioiSubmitted () {
        return this.investments.filter(inv => inv.ioi_amount).length > 0
      },
      entitiesSelect () {
        return this.entities
          .map(entity => ({
            text: entity.name,
            value: entity.trellis_uid,
          }))
      },
    },

    watch: {
      ioiAmount: {
        handler (val) {
          if (val) {
            this.form.amount = val
          }
        },
        immediate: true,
      },
      internalValue (val) {
        if (val) {
          this.loadData()
        }
      },
      entityId: {
        handler (val) {
          this.$store.commit('auth/setCurrentEntityId', val)
          this.investment = this.investments.find(inv => `${inv.entity.trellis_uid}` === `${val}`)
          this.form.amount = this.investment ? this.investment.ioi_amount : 0
        },
      },
      value () {
        this.entityId = null
        this.form = {
          amount: 0,
        }
      },
    },

    methods: {
      close (ev) {
        this.internalValue = false
      },
      async loadData () {
        this.loading = true
        try {
          this.investments = await this.service.getDLInvestmentByOppId(this.opportunity.id)
          await this.whiteListedEnities()
        } catch (err) {
          console.log('err: ', err)
        }
        this.loading = false
      },
      async withdrawIoi () {
        this.loading = true
        try {
          this.investment = await this.service.submitDLIoi(this.opportunity.id, 0)
          this.close()
          this.loadData()
          this.form.amount = 0
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to withdraw IOI',
          })
        }
        this.loading = false
      },
      async submitIoi () {
        this.loading = true
        try {
          this.investment = await this.service.submitDLIoi(this.opportunity.id, +this.form.amount)
          this.close()
          this.loadData()
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to submit IOI',
          })
        }
        this.loading = false
      },
      selectInvestment (investment) {
        this.entityId = investment.entity.trellis_uid
      },
      async whiteListedEnities () {
        const url = 'entities/investors/opportunities/' + this.opportunity.id
        const entitiesList = await api.get(url, null, { base: 'tenant' })
        this.entities = entitiesList.data
        if (entitiesList.data.length === 1) {
          this.entityId = this.entities[0].trellis_uid
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-dialog .v-card .v-card__title .v-icon.header-icon {
    top: 0px;
    left: 0px;
  }
</style>
