<template>
  <v-dialog
    v-model="internalValue"
    max-width="768"
    :fullscreen="isOnMobile"
  >
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <v-spacer />

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <div class="ma-3 d-flex align-center justify-center flex-column">
          <v-img
            :src="require('../../assets/doc-sign.svg')"
            max-width="100"
          />
          <span
            class="text-h3 mt-4 font-weight-heavy"
            style="color: #5D686B;"
          >Unlock this Opportunity</span>
          <p
            class="trsText--text text-body-1 mt-4 font-weight-heavy text--lighten-1 text-center"
            style="max-width: 380px; word-break: break-word;"
          >
            The following opportunity contains sensitive information that has been curated by the issuer.
          </p>
        </div>
        <direct-upload-nda-chat
          v-if="status.ndaDeclined"
          :status="status"
          :upload-allowed="false"
          :show-send-btn="true"
          :notes="notes"
          :opportunity="opportunity"
          @close="close"
        >
          <template v-slot:activator="{ on, attrs }">
            <div class="d-flex justify-center">
              <div>
                <div
                  v-if="status.ndaDeclined"
                  v-bind="attrs"
                  class="primary--text mr-1"
                >
                  NDA was declined
                </div>
              </div>
              <div v-if="!checkPortal">
                <v-icon
                  small
                  v-bind="attrs"
                  class="icon-chat-messages trsText--text"
                  v-on="on"
                  @click="getInvestorNotes(opportunity.id)"
                />
                <v-badge
                  v-if="opportunity.new_note"
                  class="new-note-badge ml-1 mb-4"
                  dot
                  color="blue lighten-1"
                  overlap
                />
              </div>
            </div>
          </template>
        </direct-upload-nda-chat>
      </common-trs-modal-card-text>
      <common-trs-modal-card-actions>
        <nda-btns
          :opportunity="opportunity"
          :portal="portal"
          :status="status"
          :notes="notes"
          v-on="$listeners"
          @close="close"
          @triggerAction="$emit('triggerAction', 'reloadOpportunity')"
          @getInvestorNotes="getInvestorNotes"
        />
      </common-trs-modal-card-actions>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import * as directNdaService from '@/components/common/services/directNda'
  import NdaBtns from '../actions/NdaBtns'
  import DirectUploadNdaChat from '@/components/common/components/DirectUploadNdaChat'
  export default {
    components: {
      NdaBtns,
      DirectUploadNdaChat,
    },
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => true,
      },
      portal: {
        type: String,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      tab: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
    },

    data () {
      return {
        notes: [],
      }
    },

    computed: {
      checkPortal () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    methods: {
      async getInvestorNotes (id) {
        this.loading = true
        try {
          const response = await directNdaService.getInvestorNotes(id, { base: 'tenant' })
          this.notes = response.notes
          this.$emit('triggerAction', 'reloadOpportunity')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load data',
          })
        }
        this.loading = false
      },
      close (ev) {
        this.internalValue = false
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-dialog .v-card .v-card__title .v-icon.header-icon {
    top: 0px;
    left: 0px;
  }
</style>
