<template>
  <v-card
    class="theme--light wrapper mt-0  mb-5 mb-md-12 mb-lg-12"
    elevation="0"
  >
    <v-card-text class="trsBack lighten-1 pa-6 pa-lg-12 pa-md-12 mt-0">
      <v-row align-content="center">
        <v-col
          cols="2"
          class="py-2"
        >
          <v-img
            :src="icon"
          />
        </v-col>
        <v-col class=" pt-1">
          <v-row no-gutters>
            <v-col
              lg="10"
              md="10"
              sm="10"
            >
              <label class="trsText--text text-h4 font-weight-bold">
                {{ title }}
              </label>
              <p class="trsText--text text-h5 text-body-1 mt-1 mb-3">
                {{ description }}
              </p>
            </v-col>
            <v-col
              cols="12"
            >
              <label
                v-if="inProgress"
                class="trsText--text text-h4 d-flex"
              >
                <v-progress-circular
                  v-if="showSpin"
                  indeterminate
                  size="24"
                  color="primary"
                  class="mr-2"
                />
                <span class="mr-1 primary--text">{{ progressText }}</span>
                <slot name="chat-bubble" />
              </label>
              <slot
                v-else
                name="action-btn"
              >
                <common-trs-btn
                  type="primary"
                  large
                  @click="$emit('click-btn')"
                >
                  {{ btnLabel }}
                </common-trs-btn>
              </slot>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script>
  export default {
    name: 'PreActionIndicator',
    props: {
      icon: {
        type: String,
      },
      title: {
        type: String,
      },
      description: {
        type: String,
      },
      btnLabel: {
        type: String,
      },
      inProgress: {
        type: Boolean,
      },
      progressText: {
        type: String,
      },
      showSpin: {
        type: Boolean,
      },
    },
  }
</script>
<style lang="scss" scoped>
  .wrapper {
    border: 2px dashed var(--v-trsBack-base);
  }
</style>
