<template>
  <div
    class="d-flex align-center flex-fill"
    :class="{
      'justify-center': isOnMobile,
      'flex-column': isOnMobile,
    }"
  >
    <div
      v-if="isOnMobile"
      class="logo-container"
    >
      <action-logo
        :opportunity="opportunity"
      />
    </div>
    <div
      class="opp-title white--text text-left text-h1 "
      :class="{
        'text-h2': isOnMobile,
        'text-center': isOnMobile,
      }"
    >
      {{ opportunity.name }}
    </div>
  </div>
</template>

<script>
  import ActionLogo from '../actions/ActionLogo'
  export default {

    components: {
      ActionLogo,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      portal: {
        type: String,
        required: true,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
    },

    data () {
      return {
      }
    },

    computed: {
    },

    watch: {
    },

    methods: {
    },
  }
</script>

<style lang="scss" scoped>
  .opp-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.5s ease;
    white-space: break-word;
  }
  .logo-container {
    width: 100px;
    height: 100px;
    padding: 15px;
    background: #FFF;
    border-radius: 50%;
    display: flex;

    align-items: center;
    justify-center: center;
  }
</style>
