<template>
  <div>
    <div>
      <v-container
        class="pa-0 d-flex"
        style="position: relative; z-index: 99;"
        :style="{
          'padding-right': !isOnMobile ? '300px !important' : 'inherit'
        }"
      >
        <v-tabs
          v-model="tabIndex"
          :height="$vuetify.breakpoint.smAndDown ? 40 : 60"
          :slider-size="5"
          :vertical="false"
          :grow="false"
          next-icon="mdi-arrow-right"
          prev-icon="mdi-arrow-left"
          class="pl-md-3 pl-lg-3"
          :show-arrows="true"
          :class="{'fixed-position': scrollPosition > 300}"
        >
          <v-tab
            v-if="showTab('overview')"
            class="cust-tabs-drs-main"
            @click="onTabClicked('overview')"
          >
            Overview
            <v-icon
              v-if="tabLocked('overview')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('custom')"
            @click="onTabClicked('custom')"
          >
            Summary
            <v-icon
              v-if="tabLocked('custom')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('opportunity')"
            @click="onTabClicked('opportunity')"
          >
            Opportunity
            <v-icon
              v-if="tabLocked('opportunity')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('issuer')"
            @click="onTabClicked('issuer')"
          >
            {{ issuerTabTitle }}
            <v-icon
              v-if="tabLocked('issuer')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('sponsor')"
            @click="onTabClicked('sponsor')"
          >
            Sponsor
            <v-icon
              v-if="tabLocked('sponsor')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('dataroom')"
            @click="onTabClicked('dataroom')"
          >
            Data Room
            <v-icon
              v-if="tabLocked('dataroom')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('financials')"
            @click="onTabClicked('financials')"
          >
            Financials
            <v-icon
              v-if="tabLocked('financials')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('communication')"
            @click="onTabClicked('communication')"
          >
            Discussion
            <v-icon
              v-if="tabLocked('communication')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('crowdsmart')"
            @click="onTabClicked('crowdsmart')"
          >
            Crowdsmart
            <v-icon
              v-if="tabLocked('crowdsmart')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
          <v-tab
            v-if="showTab('subscription')"
            @click="onTabClicked('subscription')"
          >
            Subscription
            <v-icon
              v-if="tabLocked('subscription')"
              size="16"
              class="ml-2"
            >
              mdi-lock
            </v-icon>
          </v-tab>
        </v-tabs>
        <div
          v-if="!isOnMobile"
          class="actions-container"
          :style="{
            right: '0px',
            width: '300px',
            'max-height': '500px'
          }"
        >
          <actions
            :is-opportunity-approved="isOpportunityApproved"
            :is-document-seen="isDocumentSeen"
            :investment-done="investmentDone"
            :opportunity="opportunity"
            :service="service"
            :portal="portal"
            :status="status"
            :investments="investments"
            :visibility-opts="visibilityOpts"
            @triggerAction="triggerAction"
          />
        </div>
      </v-container>
    </div>

    <v-tabs-items
      v-model="currentTab"
      class="py-5"
      style="z-index: 0"
    >
      <v-tab-item
        v-if="showTab('overview')"
        value="overview"
      >
        <component
          :is="OverviewComponent"
          :is-opportunity-approved="isOpportunityApproved"
          :is-document-seen="isDocumentSeen"
          :investment-done="investmentDone"
          :opportunity="opportunity"
          :service="service"
          :status="status"
          :portal="portal"
          :reload-opportunity="reloadOpportunity"
          :is-on-mobile="isOnMobile"
          :form-data-loading="formDataLoading"
          @triggerAction="triggerAction"
        />
      </v-tab-item>
      <v-tab-item
        v-if="showTab('custom')"
        value="custom"
      />
      <v-tab-item
        v-if="showTab('opportunity')"
        value="opportunity"
      />
      <v-tab-item
        v-if="showTab('issuer')"
        value="issuer"
      />
      <v-tab-item
        v-if="showTab('sponsor')"
        value="sponsor"
      />
      <v-tab-item
        v-if="showTab('dataroom')"
        value="dataroom"
      />
      <v-tab-item
        v-if="showTab('financials')"
        value="financials"
      />
      <v-tab-item
        v-if="showTab('communication')"
        value="communication"
      />
      <v-tab-item
        v-if="showCrowdsmart"
        value="crowdsmart"
      />
      <v-tab-item
        v-if="showTab('subscription') && portal === PORTAL.INVESTOR && !status.isSecondary"
        value="subscription"
      />
    </v-tabs-items>
  </div>
</template>

<script>
  import { PORTAL } from '@/constants'
  import Dataroom from '../landing/tabs/Dataroom.vue'

  import Overview from './tabs/Overview'
  import OverviewSpv from './tabs/OverviewSpv'
  import OverviewFund from './tabs/OverviewFund'

  import Actions from './actions/Index'

  export default {
    name: 'CommonDigitalRoadshowLandingTabs',

    components: {
      Actions,
      Dataroom,
    },

    props: {
      service: {
        validate: () => true,
      },
      portal: {
        type: String,
        required: true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      opportunity: {
        validate: () => true,
        required: true,

      },
      visibilityOpts: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
      currentTab: 'overview',
      tabIndex: null,
      scrollPosition: null,
      PORTAL,
      tabSequence: [
        'overview',
        'custom',
        'opportunity',
        'issuer',
        'sponsor',
        'dataroom',
        'financials',
        'communication',
        'crowdsmart',
        'subscription',
      ],
      isOpportunityApproved: false,
      isDocumentSeen: false,
      investmentDone: false,
      investments: [],
      formDataLoading: false,
    }),

    computed: {
      issuerTabTitle () {
        switch (this.opportunity.details.drType) {
          case this.CONSTS.DR_TYPES.SPV:
            return 'Company'
          // case this.CONSTS.DR_TYPES.FUND:
          //   return 'Sponsor'
        }
        return 'Issuer'
      },
      OverviewComponent () {
        switch (this.opportunity.details.drType) {
          case this.CONSTS.DR_TYPES.GENERAL:
            return Overview
          case this.CONSTS.DR_TYPES.SPV:
            return OverviewSpv
          case this.CONSTS.DR_TYPES.FUND:
            return OverviewFund
        }
        return null
      },
      drTabs () {
        return this.opportunity.details
          ? this.opportunity.details.drTabs
          : null
      },
      showCrowdsmart () {
        return this.issuerHasCrowdsmart || this.privateReportCreated
      },
      issuerHasCrowdsmart () {
        return this.portal !== this.CONSTS.PORTAL.ISSUER && this.opportunity.details.crowdsmart && (this.opportunity.details.crowdsmart.integrated === 'yes')
      },
    },

    mounted () {
      let defaultTab = 'overview'
      for (let i = 0; i < this.tabSequence.length; i++) {
        if (this.showTab(this.tabSequence[i])) {
          defaultTab = this.tabSequence[i]
          break
        }
      }
      this.currentTab = this.tab || defaultTab
      this.tabIndex = this.getTabIndex(this.currentTab)
    },

    created () {
      window.addEventListener('scroll', this.updateScroll)
    },

    methods: {
      tabLocked (tabId) {
        if (tabId === 'overview') {
          return false
        }
        return true
      },
      reloadOpportunity () {
        this.$emit('triggerAction', 'reloadOpportunity')
      },
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
      getTabIndex (tabId, tabIndex) {
        let index = 0
        for (let i = 0; i < this.tabSequence.length; i++) {
          if (this.tabSequence[i] === tabId) {
            return index
          }
          if (this.showTab(this.tabSequence[i])) {
            index++
          }
        }
        // wrong tabId
        return tabIndex
      },
      onTabClicked (tabId) {
        this.tabIndex = this.getTabIndex(tabId, this.tabIndex)
        if (tabId) {
          this.triggerAction('showSignUpModal')
        } else {
          this.currentTab = tabId
        }
      },
      showTab (id) {
        if (!this.drTabs) {
          return true
        }
        switch (id) {
          case 'crowdsmart':
            return this.showCrowdsmart
          case 'subscription':
            return this.drTabs[id] && this.portal === PORTAL.INVESTOR && !this.status.isSecondary
        }
        return this.drTabs[id]
      },
      updateScroll () {
        this.scrollPosition = window.scrollY
      },
    },
    destroy () {
      window.removeEventListener('scroll', this.updateScroll)
    },
  }
</script>
<style lang="scss" scoped>
  .v-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .v-tabs-items {
      flex: 1;
      overflow: auto;
      ::v-deep .v-window__container,
      ::v-deep .v-window-item,
      ::v-deep .v-container {
        height: 100%;
      }
      ::v-deep .v-container {
        max-height: 100%;
      }
    }
    ::v-deep .v-item-group {
      .v-slide-group__prev {
          justify-content: start;
        }
    }
  }
  ::v-deep .v-tab {
    padding: 0px 6px !important;
    margin-right: 2rem;
    min-width: auto;
    font: normal bold 12px/14px $font-family-base;
    letter-spacing: 0px;
    &.v-tab--active {
      border-bottom: 4px solid var(--v-primary-base) !important;
    }
  }
  .actions-container {
    position: absolute;
    right: 0px;
    bottom: -20px;
  }
  .tab-container {
    border-bottom: 1px solid #cacaca;
  }
  @media (min-width:960px) {
    .fixed-position {
     position: fixed;
     top: 0;
     z-index: 999;
     width:inherit;
     max-width:inherit;
     height: 60px;
    }
  }
</style>
