<template>
  <div>
    <div
      v-if="opportunity"
      style="{
          paddingBottom: isOnMobile ? '70px' : '0px',
        }"
    >
      <v-img
        :class="{
          'v-image--sm': this.$vuetify.breakpoint.smAndDown,
          'v-image--md': this.$vuetify.breakpoint.mdAndDown,
          'back-image': true,
        }"
        :src="opportunity && opportunity.details && opportunity.details.logo ? opportunity.details.logo : ''"
        :gradient="`to top, rgba(0, 0, 0, ${logoOverlayPercent}), rgba(0, 0, 0, ${logoOverlayPercent})`"
        height="350"
        style="z-index: 1"
      >
        <v-responsive
          height="350px"
        >
          <v-container
            class="on-image-content pa-0"
            :class="{
              'd-flex': true
            }"
          >
            <top-title
              :opportunity="opportunity"
              :portal="portal"
              :is-on-mobile="isOnMobile"
            />
            <div
              v-if="!isOnMobile"
              class="actions-container"
              :style="{
                'min-width': '300px',
              }"
            />
          </v-container>
        </v-responsive>
      </v-img>

      <div
        class="tabs-container"
        :style="{
          'padding-bottom': isOnMobile ? '70px': ''
        }"
      >
        <tabs
          ref="tabs"
          :opportunity="opportunity"
          :status="status"
          :service="service"
          :is-on-mobile="isOnMobile"
          :visibility-opts="visibilityOpts"
          :portal="portal"
          @triggerAction="triggerAction"
        />
        <footer-component
          :opportunity="opportunity"
        />
      </div>
      <!-- <actions-index-bottom
        v-if="isOnMobile && !status.isSecondary"
        :opportunity="opportunity"
        :service="service"
        :portal="portal"
        :status="status"
        :visibility-opts="visibilityOpts"
        @triggerAction="triggerAction"
      /> -->
      <sign-up-modal
        v-model="showSignUpModal"
        :opportunity="opportunity"
        :service="service"
        :portal="portal"
        :status="status"
        :is-on-mobile="isOnMobile"
        :visibility-opts="visibilityOpts"
        :tearsheet-data="tearsheetData"
        @triggerAction="triggerAction"
      />
    </div>
  </div>
</template>

<script>
  import Tabs from './Tabs'
  import FooterComponent from '../landing/Footer'
  import TearsheetDigitalRoadshowService from './service'

  import TopTitle from '../landing/components/TopTitle'

  import defaultTheme from '@/components/core/styles/theme'
  import SignUpModal from './components/SignUpModal'
  import * as CONSTS from '@/constants'

  export default {
    name: 'TearsheetDigitalRoadshow',

    components: {
      Tabs,
      FooterComponent,
      TopTitle,
      SignUpModal,
    },

    props: {
      tearsheetData: {
        validate: () => true,
      },
    },

    data: () => ({
      formDataLoading: true,
      opportunity: null,
      status: {
      },
      service: null,
      showSignUpModal: false,

      portal: CONSTS.PORTAL.INVESTOR,
    }),

    computed: {
      logoOverlayPercent () {
        return !isNaN(this.opportunity.details.logoOverlayPercent)
          ? +this.opportunity.details.logoOverlayPercent / 100
          : 0.5
      },
      isOnMobile () {
        return this.$vuetify.breakpoint.smAndDown
      },
      isOpportunityApproved () {
        return this.opportunity.status === 'APPROVED'
      },
      isDocumentSeen () {
        return this.opportunity.status === 'BIG_BOYS_SEEN'
      },
      investmentDone () {
        return this.opportunity.has_investment_record
      },
      visibilityOpts () {
        return {
          showIndicateInterestBtn: this.drOptions.showIndicateInterestBtn,
        }
      },
      drOptions () {
        return this.publicBranding.drOptions || {}
      },
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },
    watch: {
      routeName: function (action) {
        const route = this.CONSTS.ROUTES_MAPPING[action.navigate_to]
        if (action && action.navigate_to && route) {
          this.loadOpportunity()
        }
      },
      tearsheetData: {
        handler (val) {
          this.opportunity = val.opportunity
        },
        immediate: true,
      },
    },
    created () {
      this.service = new TearsheetDigitalRoadshowService(this.portal)
      document.addEventListener('scroll', this.handleScroll)
      this.loadOpportunity()
      this.loadMode()
      this.loadFormData()
    },

    destroyed () {
      document.removeEventListener('scroll', this.handleScroll)
      this.restoreMode()
    },

    methods: {
      loadMode () {
        const mode = this.service.getDrMode.call(this)
        if (mode === this.CONSTS.DR_MODES.DILIGENCE) {
          this.themeBackUp = this.$vuetify.theme.themes.light
          this.$vuetify.theme.themes.light = defaultTheme
        } else {}
      },
      restoreMode () {
        const mode = this.service.getDrMode.call(this)
        if (mode === this.CONSTS.DR_MODES.DILIGENCE) {
          this.$vuetify.theme.themes.light = this.themeBackUp
        } else {}
      },
      triggerAction (actionName, param) {
        switch (actionName) {
          case 'showContactModal':
            this.showContactModal = true
            break
          case 'reloadOpportunity':
            this.loadOpportunity()
            break
          case 'showSignUpModal' :
            this.showSignUpModal = true
            break
          case 'showTab':
            if (this.$refs.tabs) {
              this.$refs.tabs.onTabClicked(param)
            }
            break
        }
      },
      handleScroll () {
      },
      initStatus () {
        this.status.isSecondary = this.opportunity.opportunity_type === this.CONSTS.OPPORTUNITY_TYPE.SECONDARY

        if (this.tearsheetData && this.tearsheetData.user) {
          if (this.tearsheetData.user.is_existing_tenant_user) {
            this.status.signUpTitle = 'Sign In'
            this.status.signUpMessage = `You are already a user of ${this.tearsheetData.tenant.name}. Please register.`
            this.status.signUpMode = 'signin'
          } else if (this.tearsheetData.user.trellis_uid) {
            this.status.signUpTitle = 'Sign Up'
            this.status.signUpMessage = 'Please register to unlock the opportunity.'
            this.status.signUpMode = 'signin_tenant'
          } else {
            this.status.signUpTitle = 'Sign Up'
            this.status.signUpMessage = 'Please register to unlock the opportunity.'
            this.status.signUpMode = 'signup_init'
          }
        }
      },
      wsMessageHandle (event) {
        try {
          if (this.status.ndaSignInProgress && [this.CONSTS.NDA_STATUS.NDA_SIGNED, this.CONSTS.NDA_STATUS.NDA_EXECUTED, this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS.BIG_BOYS_SEEN].includes(event.detail.data.payload['focus-item'])) {
            this.loadOpportunity()
          }
        } catch (err) {
          console.log('Socket message handle err: ', err)
        }
      },
      async loadFormData () {
        this.formDataLoading = true
        try {
          this.service.loadForms(this.tearsheetData)
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load form data',
          })
        }
        this.formDataLoading = false
      },
      async loadOpportunity () {
        this.opportunity = this.tearsheetData.opportunity
        this.opportunity = {
          opportunity_unlocked_status: {},
          ...this.opportunity,
          details: {
            drType: this.CONSTS.DR_TYPES.GENERAL,
            ...this.opportunity.details,
          },
        }
        // init status
        this.initStatus()
      },
    },
  }
</script>
<style lang="scss" scoped>
  .loading-container {
    width: 100vw;
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-image {
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0
  }
  .on-image-content {
    height: 100%;
  }
  .tabs-container {
    background: #FFF;
    min-height: calc(100vh - 500px);
  }
</style>
