<template>
  <v-card>
    <div
      class="d-flex justify-center align-center rounded"
      style="position:relative"
    >
      <div class="event-video-thumbnail">
        <video-plyr-component
          :video-src="data.url"
        />
      </div>
      <div class="action-section d-flex align-center justify-center my-2 p-absolute">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              color="white"
              v-bind="attrs"
              class="mr-0"
              v-on="on"
            >
              <v-icon>mdi-play-circle-outline</v-icon>
            </v-btn>
          </template>
          <span>Play</span>
        </v-tooltip>
      </div>
    </div>
    <div>
      <div
        class="trsText--text text-caption font-weight-bold text--lighten-1 pl-2 mt-3"
      >
        {{ category }}
      </div>
      <v-card-title class="trsText--text text-h5 font-weight-semibold pl-2">
        {{ data.title }}
      </v-card-title>
      <v-card-text class="trsText--text text-body-2 pl-2">
        {{ data.content }}
      </v-card-text>
    </div>
  </v-card>
</template>

<script>
  import VideoPlyrComponent from '@/components/common/video-plyr/VideoPlyr'
  export default {
    name: 'HelpVideoItem',
    components: {
      VideoPlyrComponent,
    },
    props: {
      data: {
      },
      category: {
        type: String,
      },
    },
  }
</script>
<style lang="scss" scoped>
  .v-card{
    padding: 12px;
    margin: 0px;
  }
  .event-video-thumbnail{
    ::v-deep .row {
      .col {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    ::v-deep .plyr--video {
      border-radius: 4px;
      height:200px;
      .plyr__controls {
        display: none!important;
      }
      .plyr__video-wrapper {
        height: 200px;
      }
      .plyr__control {
        display: none!important;
      }
    }
  }
</style>
