<template>
  <div
    class="mx-2"
  >
    <v-row>
      <v-col
        v-for="(video, index) in videoData"
        :key="index"
      >
        <help-video-item
          :data="video"
          :category="category"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
  import HelpVideoItem from './HelpVideoItem'
  export default {
    components: {
      HelpVideoItem,
    },
    props: {
      category: {
        type: String,
      },
      videoData: {
      },
    },
    data: () => ({
    }),
  }
</script>

<style lang="scss" scoped>
</style>
