@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cz9gnt');
  src:  url('fonts/icomoon.eot?cz9gnt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cz9gnt') format('truetype'),
    url('fonts/icomoon.woff?cz9gnt') format('woff'),
    url('fonts/icomoon.svg?cz9gnt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user-profile:before {
  content: "\e93c";
}
.icon-issuer-data:before {
  content: "\e93b";
}
.icon-notification-indicator:before {
  content: "\e93a";
}
.icon-upload-file:before {
  content: "\e938";
}
.icon-edit:before {
  content: "\e939";
}
.icon-delete:before {
  content: "\e936";
  color: #009f46;
}
.icon-users:before {
  content: "\e937";
}
.icon-notification:before {
  content: "\e927";
}
.icon-user-approved:before {
  content: "\e934";
}
.icon-nda:before {
  content: "\e935";
}
.icon-reminder:before {
  content: "\e925";
}
.icon-preview-window:before {
  content: "\e926";
  color: #009f46;
}
.icon-indication-interest:before {
  content: "\e928";
}
.icon-investment-approvals:before {
  content: "\e929";
}
.icon-doc-view-table:before {
  content: "\e92a";
}
.icon-actions:before {
  content: "\e92b";
}
.icon-investment:before {
  content: "\e92c";
}
.icon-download-outlined:before {
  content: "\e92d";
}
.icon-edit-outlined:before {
  content: "\e92e";
}
.icon-preview-edit:before {
  content: "\e92f";
}
.icon-document-view:before {
  content: "\e930";
}
.icon-chat-messages:before {
  content: "\e931";
}
.icon-outline-integration:before {
  content: "\e932";
}
.icon-documents-outline:before {
  content: "\e933";
}
.icon-access-control:before {
  content: "\e93d";
}
.icon-right-nav:before {
  content: "\e923";
  color: #179d4e;
}
.icon-left-nav:before {
  content: "\e924";
  color: #179d4e;
}
.icon-trade:before {
  content: "\e91d";
}
.icon-documents:before {
  content: "\e91e";
}
.icon-service-request:before {
  content: "\e922";
}
.icon-resource-library:before {
  content: "\e91f";
}
.icon-transactions:before {
  content: "\e920";
}
.icon-portfolio:before {
  content: "\e921";
}
.icon-CapTable .path1:before {
  content: "\e914";
  color: rgb(23, 157, 78);
}
.icon-CapTable .path2:before {
  content: "\e915";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path3:before {
  content: "\e916";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path4:before {
  content: "\e917";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path5:before {
  content: "\e918";
  margin-left: -0.806640625em;
  color: rgb(16, 156, 81);
}
.icon-CapTable .path6:before {
  content: "\e919";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path7:before {
  content: "\e91a";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path8:before {
  content: "\e91b";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path9:before {
  content: "\e91c";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-Transaction-Services:before {
  content: "\e912";
  color: #179d4e;
}
.icon-Closing-Services:before {
  content: "\e900";
  color: #179d4e;
}
.icon-Communications:before {
  content: "\e901";
  color: #109c51;
}
.icon-Digital-Locker:before {
  content: "\e902";
  color: #109c51;
}
.icon-Document-Processing:before {
  content: "\e903";
  color: #109c51;
}
.icon-Financing-Readiness:before {
  content: "\e904";
  color: #179d4e;
}
.icon-Identity-Agent .path1:before {
  content: "\e905";
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path2:before {
  content: "\e906";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path3:before {
  content: "\e907";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path4:before {
  content: "\e908";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path5:before {
  content: "\e909";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path6:before {
  content: "\e90a";
  margin-left: -1.0595703125em;
  color: rgb(255, 255, 255);
}
.icon-Identity-Agent .path7:before {
  content: "\e90b";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path8:before {
  content: "\e90c";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity:before {
  content: "\e90d";
  color: #179d4e;
}
.icon-KnowPass:before {
  content: "\e90e";
  color: #179d4e;
}
.icon-Microservices:before {
  content: "\e90f";
  color: #179d4e;
}
.icon-Opportunity-Management:before {
  content: "\e910";
  color: #179d4e;
}
.icon-Trading:before {
  content: "\e911";
  color: #179d4e;
}
.icon-Wealth-Management:before {
  content: "\e913";
  color: #179d4e;
}
.icon-checkmark:before {
  content: "\e93e";
  color: #ffffff;;
}
