@font-face {
  font-family: 'icomoon';
  src:  url('../components/common/icomoon/fonts/icomoon.eot');
  src:  url('../components/common/icomoon/fonts/icomoon.eot') format('embedded-opentype'),
    url('../components/common/icomoon/fonts/icomoon.ttf') format('truetype'),
    url('../components/common/icomoon/fonts/icomoon.woff') format('woff'),
    url('../components/common/icomoon/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-discuss-line:before {
  content: "\e93e";
}
.icon-ic_help_outline:before {
  content: "\e93d";
}
.icon-user-profile:before {
  content: "\e93c";
}
.icon-issuer-data:before {
  content: "\e93b";
}
.icon-notification-indicator:before {
  content: "\e93a"!important;
}
.icon-upload-file:before {
  content: "\e938"!important;
}
.icon-edit:before {
  content: "\e939"!important;
}
.icon-delete:before {
  content: "\e936"!important;
}
.icon-users:before {
  content: "\e937"!important;
}
.icon-notification:before {
  content: "\e927"!important;
}
.icon-user-approved:before {
  content: "\e934"!important;
}
.icon-nda:before {
  content: "\e935"!important;
}
.icon-reminder:before {
  content: "\e925"!important;
}
.icon-preview-window:before {
  content: "\e926"!important; 
}
.icon-indication-interest:before {
  content: "\e928"!important;
}
.icon-investment-approvals:before {
  content: "\e929"!important;
}
.icon-doc-view-table:before {
  content: "\e92a"!important;
}
.icon-actions:before {
  content: "\e92b"!important;
}
.icon-investment:before {
  content: "\e92c"!important;
}
.icon-download-outlined:before {
  content: "\e92d"!important;
}
.icon-edit-outlined:before {
  content: "\e92e"!important;
}
.icon-preview-edit:before {
  content: "\e92f"!important;
}
.icon-document-view:before {
  content: "\e930"!important;
}
.icon-chat-messages:before {
  content: "\e931"!important;
}
.icon-outline-integration:before {
  content: "\e932"!important;
}
.icon-documents-outline:before {
  content: "\e933"!important;
}
.icon-right-nav:before {
  content: "\e923"!important; 
}
.icon-left-nav:before {
  content: "\e924"!important; 
}
.icon-trade:before {
  content: "\e91d"!important;
}
.icon-documents:before {
  content: "\e91e"!important;
}
.icon-service-request:before {
  content: "\e922"!important;
}
.icon-resource-library:before {
  content: "\e91f"!important;
}
.icon-transactions:before {
  content: "\e920"!important;
}
.icon-portfolio:before {
  content: "\e921"!important;
}
.icon-access-control:before {
  content: "\e93d";
}
.icon-CapTable .path1:before {
  content: "\e914";
  color: rgb(23, 157, 78);
}
.icon-CapTable .path2:before {
  content: "\e915";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path3:before {
  content: "\e916";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path4:before {
  content: "\e917";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path5:before {
  content: "\e918";
  margin-left: -0.806640625em;
  color: rgb(16, 156, 81);
}
.icon-CapTable .path6:before {
  content: "\e919";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path7:before {
  content: "\e91a";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path8:before {
  content: "\e91b";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-CapTable .path9:before {
  content: "\e91c";
  margin-left: -0.806640625em;
  color: rgb(23, 157, 78);
}
.icon-Transaction-Services:before {
  content: "\e912";
  color: #179d4e;
}
.icon-Closing-Services:before {
  content: "\e900";
  color: #179d4e;
}
.icon-Communications:before {
  content: "\e901";
  color: #109c51;
}
.icon-Digital-Locker:before {
  content: "\e902";
  color: #109c51;
}
.icon-Document-Processing:before {
  content: "\e903";
  color: #109c51;
}
.icon-Financing-Readiness:before {
  content: "\e904";
  color: #179d4e;
}
.icon-Identity-Agent .path1:before {
  content: "\e905";
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path2:before {
  content: "\e906";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path3:before {
  content: "\e907";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path4:before {
  content: "\e908";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path5:before {
  content: "\e909";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path6:before {
  content: "\e90a";
  margin-left: -1.0595703125em;
  color: rgb(255, 255, 255);
}
.icon-Identity-Agent .path7:before {
  content: "\e90b";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity-Agent .path8:before {
  content: "\e90c";
  margin-left: -1.0595703125em;
  color: rgb(16, 156, 81);
}
.icon-Identity:before {
  content: "\e90d";
  color: #179d4e;
}
.icon-KnowPass:before {
  content: "\e90e";
  color: #179d4e;
}
.icon-Microservices:before {
  content: "\e90f";
  color: #179d4e;
}
.icon-Opportunity-Management:before {
  content: "\e910";
  color: #179d4e;
}
.icon-Trading:before {
  content: "\e911";
  color: #179d4e;
}
.icon-Wealth-Management:before {
  content: "\e913";
  color: #179d4e;
}
.icon-eye:before {
  content: "\e93e";
  color: #179d4e;
}
.icon-checkmark:before {
  content: "\e93e";
  font-size: 7px;
  color: #ffffff;
}