<template>
  <div>
    <v-row v-if="!isOnOverview">
      <v-col
        v-if="captable"
        cols="12"
      >
        <common-common-preview-file
          v-if="captable"
          :url="captable"
          :mime-type="'pdf'"
        />
      </v-col>
      <v-col
        v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !captable"
        cols="12"
      >
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col
        v-if="captable"
        cols="6"
      >
        <common-common-preview-file
          v-if="captable"
          :url="captable"
          :mime-type="'pdf'"
        />
      </v-col>
      <v-col
        v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !captable"
        cols="12"
      >
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    name: 'IssuerCaptable',
    components: {
    },
    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      forms: null,
      mode: null,
      captable: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        try {
          const form = this.service.getFormData('spv-onboarding-2')
          const captable = form['SPV.COII.CT.CapTable']

          if (captable) {
            const doc = this.service.portal === this.CONSTS.PORTAL.ISSUER
              ? await this.service.getDocumentById(captable)
              : await this.service.getDocumentsByOppAndId(this.opportunity.id, captable)

            this.captable = doc && (
              this.service.portal === this.CONSTS.PORTAL.ISSUER
                ? doc.signed_url
                : doc.dataroom_document.signed_url
            )
          } else {
            if (this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
              this.$root.$emit('dr-hideTabs', 'issuer-captable-spv', true)
              this.$root.$emit('dr-hideListItem', 'issuer-captable-spv', true)
            }
          }
          if (!captable) {
            this.$root.$emit('dr-hideReadMore', 'issuer-captable-spv', true)
          }
        } catch (err) {
          // pass err
        }
      },
    },
  }
</script>
