<template>
  <div v-if="leadInvestorsHasValue && !isOnOverview && leadInvestors && leadInvestors.length > 0">
    <v-row
      v-for="(item, index) in leadInvestors"
      :key="index"
    >
      <v-col md="12">
        <hr class="mb-4">
        <div class="text-h3 mb-1 primary--text font-weight-bold">
          {{ item.Name }}
        </div>
        <div
          v-if="item.PositionSize"
          class="trsText--text text-body-1 text--lighten-1 mb-2"
        >
          {{ item.PositionSize }}%
        </div>
        <more-text
          class="text-justify text-body-1 mb-1"
          :text="item.Experience"
          :max-length="500"
          :show-less="true"
        />
      </v-col>
    </v-row>
    <div v-if="!leadInvestorsHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && (!leadInvestors || leadInvestors.length === 0))">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="leadInvestors && leadInvestors.length > 0 && leadInvestorsHasValue">
      <hr class="mb-4">
      <overview-nav-header
        title="Lead Investors"
        @click="$emit('setCurrentView', 'lead-investors')"
      />
      <v-list class="mt-1">
        <template v-for="(item, index) in leadInvestors">
          <v-list-item
            :key="index"
            class="pa-0 list-items"
          >
            <v-list-item-avatar
              v-if="item.Headshot"
              class="ml-0 mr-2 my-0"
            >
              <v-img :src="item.Headshot" />
            </v-list-item-avatar>
            <v-list-item-avatar v-if="!item.Headshot">
              <v-icon
                x-large
              >
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content class="py-0">
              <div class="trsText--text text-body-2 text--light-1">
                {{ item.Name }}
              </div>
              <div
                v-if="item.PositionSize"
                class="trsText--text text-body-2 text--lighten-1"
              >
                {{ item.PositionSize }}%
              </div>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
    <div v-if="!leadInvestorsHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && (!leadInvestors || leadInvestors.length === 0) && !isOnOverview)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from './../../../../utils/MoreText'
  import OverviewNavHeader from '../components/OverviewNavHeader'
  export default {
    name: 'IssuerLeadInvestors',

    components: {
      MoreText,
      OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      leadInvestors: null,
      mode: null,
    }),

    computed: {
      leadInvestorsHasValue () {
        return this.leadInvestors
          ? this.leadInvestors.some(leadInvestor => (
            leadInvestor.Name !== '' ||
            leadInvestor.Experience !== '' ||
            leadInvestor.PositionSize !== '')) : null
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.leadInvestors = this.service.getFormData('lead-investors')
        if ((!this.leadInvestors || this.leadInvestors.length === 0) && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'lead-investors', true)
        }
        this.$root.$emit('dr-hideListItem', 'lead-investors', !this.leadInvestorsHasValue)
      },
    },
  }
</script>
