<template>
  <div v-if="!isOnOverview && overview">
    <v-row>
      <v-col
        cols="12"
      >
        <common-rich-text-editor-view
          :value="overview"
        />
      </v-col>
    </v-row>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !overview">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>

  <div v-else>
    <div v-if="overview">
      <v-row>
        <v-col
          cols="12"
        >
          <!-- <more-text
            class="text-justify text-body-1"
            :text="overview"
            :max-length="500"
            :show-less="true"
          /> -->
          <common-rich-text-editor-view
            :value="overview"
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !overview && isOnOverview">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
//   import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'OppUseOfFunds',

    components: {
      //   MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      overview: '',
      mode: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        const data = this.service.getFormData('spv-company')
        this.overview = data['DRS.F.UF.Use']
        if (!this.overview && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideListItem', 'use-of-funds', true)
          this.$root.$emit('dr-hideTabs', 'use-of-funds', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
 .ck-content {
     font: normal normal 1.12rem/1.8rem $font-family-base!important;
  }
</style>
