<template>
  <div v-if="!isOnOverview">
    <v-row v-if="data">
      <v-col
        cols="12"
      >
        <div
          class="text-h3 trsText--text mb-2 font-weight-bold cursor-pointer"
          @click="$emit('setCurrentView', 'product-services')"
        >
          Key Products & Services
        </div>

        <!-- <more-text
            class="text-justify text-body-1 mb-0"
            :text="overview"
            :max-length="500"
            :show-less="true"
          />  -->
        <common-rich-text-editor-view
          :value="overview"
        />
      </v-col>
      <v-col
        v-for="(product, index) in data"
        :key="index"
        cols="12"
        class="mb-7"
      >
        <hr class="mb-2">
        <div
          class="text-h3 trsText--text mb-2 font-weight-bold"
          v-html="`${product.ProductService} ${product.RevenePercentage ? `(${product.RevenePercentage})` : '' }`"
        />

        <common-rich-text-editor-view
          class="trsText--text text-body-1 my-2"
          :value="product.Difference"
        />

        <common-rich-text-editor-view
          class="trsText--text text-body-1 my-2"
          :value="product.Marketing"
        />

        <common-rich-text-editor-view
          class="trsText--text text-body-1 my-2"
          :value="product.Revenue"
        />

        <common-rich-text-editor-view
          class="trsText--text text-body-1 my-2"
          :value="product.Sales"
        />

        <div
          v-if="product.docs && product.docs.length > 0"
        >
          <div
            class="trsText--text text-body-1 my-2 font-weight-bold"
          >
            Product Collateral Documents
          </div>
          <div
            v-for="(doc, productIndex) in product.docs"
            :key="productIndex"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="doc.signed_url"
              :mime-type="doc.mime_type"
              :has-download-btn="true"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  size="medium"
                  class="mr-2 trsText--text text--lighten-1"
                >
                  mdi-briefcase
                </v-icon>
                <a
                  class="primary--text text-h4 text-decoration-none"
                  v-on="on"
                >
                  {{ doc.name }}
                </a>
              </template>
            </common-common-preview-file-modal>
          </div>
        </div>
        <div
          v-if="product.CollateralLink && product.CollateralLink.length > 0"
        >
          <div
            class="trsText--text text-body-1 my-2 font-weight-bold mt-6"
          >
            Product Collateral Links
          </div>
          <div
            v-for="(url, urlIndex) in product.CollateralLink"
            :key="urlIndex"
            cols="12"
            class="d-flex"
          >
            <v-icon
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              :href="url"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-h4"
              style="text-decoration:none;"
            >
              {{ url }}
            </a>
          </div>
        </div>
      </v-col>
    </v-row>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !data">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>

  <div v-else>
    <div v-if="overview">
      <hr class="mb-1">
      <v-row dense>
        <v-col
          cols="12"
        >
          <div
            class="text-h3 trsText--text mb-2 font-weight-bold cursor-pointer"
            @click="$emit('setCurrentView', 'product-services')"
          >
            Key Products & Services
          </div>

          <!-- <more-text
            class="text-justify text-body-1 mb-0"
            :text="overview"
            :max-length="500"
            :show-less="true"
          />  -->
          <common-rich-text-editor-view
            :value="overview"
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !overview && isOnOverview">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import { extractDot } from '@/components/common/digital-roadshow-new2/parse-form'
  // import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'OppProductServices',

    components: {
      // MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      overview: '',
      mode: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        const data = this.service.getFormData('spv-company') || ''
        this.data = data['SPV.PSI.PSD'] || []
        this.data = this.data.map(item => extractDot(item))

        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => ({ ...data, ...data.dataroom_document }))

        if (Array.isArray(this.data)) {
          this.data = await Promise.all(this.data.map(async product => {
            if (product.CollateralFile && Array.isArray(product.CollateralFile)) {
              try {
                const docs = await Promise.all(product.CollateralFile
                  .filter(docId => docId)
                  .map(docId => getDocFunc(docId)),
                )
                product.docs = docs
              } catch (err) { return product }
            }
            if (product.CollateralLink && Array.isArray(product.CollateralLink)) {
              product.CollateralLink = product.CollateralLink.filter(link => link)
            }
            return product
          }))
        }

        this.overview = data['SPV.PSI.O.Overview']
        if (!this.overview && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideListItem', 'product-services', true)
          this.$root.$emit('dr-hideTabs', 'product-services', true)
        }
        if (!this.data || this.data.length === 0) {
          this.$root.$emit('dr-hideReadMore', 'product-services', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
 .ck-content {
     font: normal normal 1.12rem/1.8rem $font-family-base!important;
  }
</style>
