<template>
  <div v-if="managementTeamMembersHasValue && !isOnOverview && managementTeamMembers && managementTeamMembers.length > 0">
    <v-row
      v-for="(item, index) in managementTeamMembers"
      :key="index"
      class="mt-lg-3 mt-md-3 px-3"
    >
      <v-col
        cols="12"
        class="pa-0"
      >
        <hr class="mb-0 issuer-mgmnt-table-top-border">
      </v-col>
      <v-col
        cols="12"
        sm="9"
        lg="9"
        md="9"
        class="pl-lg-0 pl-lg-0 pt-5"
      >
        <a
          v-if="item && item['SPV.COII.MT.Link']"
          :href="item['SPV.COII.MT.Link']"
          rel="noopener noreferrer"
          target="_blank"
          class="text-h3 mb-1 primary--text"
          style="text-decoration:none;"
        >
          {{ item['SPV.COII.MT.FirstName'] }} {{ item['SPV.COII.MT.LastName'] }}
          <common-linkedin-link
            v-if="item && item['SPV.COII.MT.Link']"
            :link="item['SPV.COII.MT.Link']"
          />
        </a>
        <span
          v-else-if="item"
          class="text-h3 mb-1 primary--text"
          style="text-decoration:none;"
        >
          {{ item['SPV.COII.MT.FirstName'] }} {{ item['SPV.COII.MT.LastName'] }}
        </span>
        <div class="trsText--text text-body-1 text--lighten-1 mb-4">
          {{ item['SPV.COII.MT.Title'] }}
        </div>

        <more-text
          class="text-justify text-body-1"
          :text="item['SPV.COII.MT.Bio']"
          :max-length="500"
          :show-less="true"
        />

        <div
          v-if="item && item['SPV.COII.MT.Articles'] && item['SPV.COII.MT.Articles'].length > 0"
        >
          <div
            class="text-h3 mt-3"
          >
            Articles
          </div>
          <a
            v-for="(article, index) in item['SPV.COII.MT.Articles']"
            :key="index"
            :href="article"
            target="_blank"
            class="text-body mb-1 primary--text d-block"
          >
            {{ article }}
          </a>
        </div>
      </v-col>
      <v-col
        cols="12"
        sm="3"
        md="3"
        lg="3"
        class="pr-lg-0 pr-lg-0 pt-5"
      >
        <v-img
          height="229"
          width="229"
          :src="item['SPV.COII.MT.Headshot']"
          contain
        />
      </v-col>
    </v-row>
    <div v-if="!managementTeamMembersHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE))">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="managementTeamMembers && managementTeamMembers.length > 0 && managementTeamMembersHasValue">
      <hr class="mb-4">
      <overview-nav-header
        title="Management team"
        @click="$emit('setCurrentView', 'management-table')"
      />
      <v-list class="row d-inline-flex w-100">
        <template v-for="(item, index) in managementTeamMembers">
          <v-list-item
            :key="index"
            class="pl-3 mb-7 col-6 col-md-4 col-lg-4"
          >
            <v-list-item-avatar
              v-if="item['SPV.COII.MT.Headshot']"
              class="ml-0 mr-2 my-0"
            >
              <v-img :src="item['SPV.COII.MT.Headshot']" />
            </v-list-item-avatar>
            <v-list-item-avatar v-if="!item['SPV.COII.MT.Headshot']">
              <v-icon
                large
              >
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content class="py-0">
              <div class="trsText--text text-body-1 text--light-1">
                {{ item['SPV.COII.MT.FirstName'] }} {{ item['SPV.COII.MT.LastName'] }}
              </div>
              <div class="trsText--text text-body-1 text--lighten-1">
                {{ item['SPV.COII.MT.Title'] }}
              </div>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
    <div v-if="!managementTeamMembersHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && isOnOverview)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from '@/components/common/utils/MoreText'
  import OverviewNavHeader from '../components/OverviewNavHeader'

  export default {
    name: 'IssuerManagementTable',

    components: {
      OverviewNavHeader,
      MoreText,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      mode: null,
      managementTeamMembers: null,
    }),

    computed: {
      managementTeamMembersHasValue () {
        return this.managementTeamMembers
          ? this.managementTeamMembers.some(managementTeamMember => (
            managementTeamMember['SPV.COII.MT.Title'] ||
            managementTeamMember['SPV.COII.MT.Link'] ||
            managementTeamMember['SPV.COII.MT.Headshot'] ||
            managementTeamMember['SPV.COII.MT.LastName'] ||
            managementTeamMember['SPV.COII.MT.FirstName'])) : false
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('spv-company') || []
        this.managementTeamMembers = this.data['SPV.COI.MT'] || ''

        this.$emit('managementTeam', this.managementTeamMembers)
        if (!this.managementTeamMembersHasValue && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'management-table', true)
          this.$root.$emit('dr-hideListItem', 'management-table', !this.managementTeamMembersHasValue)
        }
        if (!this.managementTeamMembersHasValue) {
          this.$root.$emit('dr-hideReadMore', 'management-table', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  // .list-items{
  //   &:not(:first-of-type) {
  //    margin-top: 0.875rem;
  //   }
  // }
  .v-list--three-line .v-list-item {
     min-height: 20px;
  }
  .issuer-mgmnt-table-top-border {
     border-color: var(--v-trsBack-base);
  }
  .w-100{
    width: 100%;
  }
</style>
