<template>
  <div v-if="form">
    <div>
      <hr class="mb-5">
      <v-row
        dense
      >
        <v-col
          cols="12"
          lg="4"
          md="4"
          sm="6"
        >
          <div class="text-body-1 trsText--text text--lighten-1 mb-2">
            Contact Information
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ details.firstName ? details.firstName : '' }}
            {{ details.lastName ? ' ' + details.lastName : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ details.phoneNumber ? details.phoneNumber : '' }}
          </div>
          <div
            v-if="details.email"
            class="text-body-1 trsText--text text--darken-1 mb-2"
          >
            <a
              class="primary--text"
              :href="`mailto:${details.email}`"
              style="word-break: break-all;"
            >{{ details.email }}</a>
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ details.address && details.address.line1 ? details.address.line1 : '' }}
          </div>
          <div
            v-if=" details.address.line2 || details.address.line3"
            class="text-body-1 trsText--text text--darken-1 mb-2"
          >
            {{ details.address && details.address.line2 ? details.address.line2 : '' }}
            {{ details.address && details.address.line3 ? details.address.line3 : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ details.address && details.address.city ? details.address.city : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            {{ details.address && details.address.province && details.address.province.name ? details.address.province.name : '' }}
            {{ details.address && details.address.postal ? details.address.postal : '' }}
            {{ details.address && details.address.country && details.address.country.name ? details.address.country.name : '' }}
          </div>
          <div class="text-body-1 trsText--text text--darken-1 mb-2">
            <a
              class="primary--text"
              :href="data['DRS.IOPI.CI.Website']"
              style="word-break: break-all;"
              target="_blank"
            >{{ data['DRS.IOPI.CI.Website'] }}</a>
          </div>
        </v-col>
        <v-col
          cols="12"
          lg="8"
          md="8"
          sm="6"
        >
          <v-row
            no-gutters
            class="flex-column"
            style="max-height: 350px"
          >
            <v-col
              v-for="(item, index) in overviewInfo"
              :key="index"
              cols="6"
              md="6"
              sm="6"
              class="mb-2"
            >
              <div class="text-body-1 trsText--text text--lighten-1 mb-2">
                {{ item.label }}
              </div>
              <div
                class="text-body-1 trsText--text text--darken-1"
                v-html="item.value"
              />
            </v-col>
            <v-col
              v-if="facebook || linkedin || twitter || instagram"
              cols="6"
            >
              <div class="text-body-1 trsText--text text--lighten-1 mb-1">
                Social Links
              </div>
              <div class="d-flex">
                <a
                  v-if="facebook"
                  :href="$formatUrl(facebook)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="facebook" /></a>
                <a
                  v-if="linkedin"
                  :href="$formatUrl(linkedin)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="linkedin" /></a>
                <a
                  v-if="twitter"
                  :href="$formatUrl(twitter)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="twitter" /></a>
                <a
                  v-if="instagram"
                  :href="$formatUrl(instagram)"
                  target="_blank"
                  class="text-decoration-none mr-3"
                ><social-media-icon media="instagram" /></a>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <v-row v-if="!isOnOverview">
      <v-col
        v-if="details.companyVision"
        cols="12"
        class="pb-0 mb-4"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-2 font-weight-bold">
          Vision
        </div>
        <div
          v-if="details.companyVision"
          class="trsText--text text-body-1 mt-2"
        >
          <common-rich-text-editor-view
            :value="details.companyVision"
          />
        </div>
      </v-col>
      <v-col
        v-if="details.history && details.history.length > 0"
        cols="12"
        class="pb-0 mb-7"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-2 font-weight-bold">
          History
        </div>
        <v-timeline
          v-if="details.history && details.history.length > 0"
          dense
          class="ml-n10"
        >
          <v-timeline-item
            v-for="(his, index) in details.history"
            :key="index"
            small
            color="trsText"
          >
            <span slot="opposite">{{ his.label }}</span>
            <div>
              <div class="text-body-1 trsText--text font-weight-bold">
                {{ his.label }}
              </div>
              <div class="trsText--text text-body-1">
                {{ his.text }}
              </div>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col
        v-if="details.milestones && details.milestones.length > 0"
        cols="12"
        class="pb-0 mb-7"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-2 font-weight-bold">
          Milestones
        </div>
        <v-timeline
          dense
          class="ml-n10"
        >
          <v-timeline-item
            v-for="(milestones, index) in details.milestones"
            :key="index"
            small
            color="trsText"
          >
            <span slot="opposite">{{ milestones.label }}</span>
            <div>
              <div class="text-body-1 trsText--text font-weight-bold">
                {{ milestones.label }}
              </div>
              <div class="trsText--text text-body-1">
                {{ milestones.text }}
              </div>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </v-row>
  </div>
</template>

<script>
  // import MoreText from '@/components/common/utils/MoreText'
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  import SocialMediaIcon from '@/components/common/icons/SocialMediaIcon'
  export default {
    name: 'SponsorCompanyStory',

    components: {
      CommonRichTextEditorView,
      // MoreText,
      SocialMediaIcon,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: null,
      mode: null,
      notAvailable: true,
      details: {
        address: {},
      },
      linkedin: '',
      instagram: '',
      facebook: '',
      twitter: '',
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        // Load information
        this.form = this.service.getFormData('spv-company')
        this.data = this.form

        // Load data
        // const issuer = this.opportunity.issuer
        // const details = (issuer && issuer.details) ? issuer.details : issuer.details
        // this.details.address = details ? details.address : null
        this.details.address = {
          line1: this.data['SPV.COI.CI.Address1'] || '',
          line2: this.data['SPV.COI.CI.Address2'] || '',
          line3: this.data['SPV.COI.CI.Address3'] || '',
          city: this.data['SPV.COI.CI.City'] || '',
          province: { name: this.data['SPV.COI.CI.State'] } || '',
          postal: this.data['SPV.COI.CI.Postal'] || '',
          country: this.data['SPV.COI.CI.Country'] || '',
        }

        this.details.firstName = this.data['SPV.COI.SC.FirstName']
        this.details.lastName = this.data['SPV.COI.SC.LastName']
        this.details.phoneNumber = this.data['SPV.COI.SC.Phone']
        this.details.email = this.data['SPV.COI.SC.Email']
        this.details.companyVision = this.data['SPV.COI.CO.CompanyVision'] || ''
        this.details.history = this.data['SPV.COI.CO.CompanyHistory'] || []
        this.details.milestones = this.data['SPV.COI.M.KeyMilestone'] || []
        this.linkedin = this.data['SPV.COI.CI.LinkedIn'] || ''
        this.instagram = this.data['SPV.COI.CI.Instagram'] || ''
        this.facebook = this.data['SPV.COI.CI.Facebook'] || ''
        this.twitter = this.data['SPV.COI.CI.Twitter'] || ''

        this.overviewInfo = [
          { label: 'Headquarters', value: this.data['SPV.COI.CI.Headquarters'] ? this.data['SPV.COI.CI.Headquarters'] : 'Not Available' },
          { label: 'Stage', value: this.data['SPV.COI.CI.Stage'] ? this.data['SPV.COI.CI.Stage'].name : 'Not Available' },
          { label: 'Founded', value: this.data['SPV.COI.CI.Founded'] ? this.data['SPV.COI.CI.Founded'] : 'Not Available' },
          { label: 'Industry', value: this.data['SPV.COI.CI.Industry'] ? this.data['SPV.COI.CI.Industry'].name : 'Not Available' },
          { label: 'Sector', value: this.data['SPV.COI.CI.Market1'] ? this.data['SPV.COI.CI.Market1'].name : 'Not Available' },
        ]

        if (this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.overviewInfo = this.overviewInfo.filter(overview => overview.value !== 'Not Available')
        }

        this.notAvailable = !this.details.companyVision && this.details.history.length === 0 && this.details.milestones.length === 0
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'comp', true)
        }
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'comp', true)
          this.$root.$emit('dr-hideListItem', 'comp', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
