I<template>
  <div v-if="!isOnOverview">
    <div v-if="boardOfDirectorsHasValue && boardOfDirectors && boardOfDirectors.length > 0">
      <v-row
        v-for="(item, index) in boardOfDirectors"
        :key="index"
        class="mt-lg-3 mt-md-3 px-3"
      >
        <v-col
          cols="12"
          class="pa-0"
        >
          <hr class="mb-0 issuer-mgmnt-table-top-border">
        </v-col>
        <v-col
          cols="12"
          sm="9"
          lg="9"
          md="9"
          class="pl-lg-0 pl-lg-0 pt-5"
        >
          <a
            v-if="item && item['SPV.COII.BD.Link']"
            :href="item['SPV.COII.BD.Link']"
            rel="noopener noreferrer"
            target="_blank"
            class="text-h3 mb-1 primary--text"
            style="text-decoration:none;"
          >
            {{ item['SPV.COII.BD.FirstName'] }} {{ item['SPV.COII.BD.LastName'] }}
            <common-linkedin-link
              v-if="item && item['SPV.COII.BD.Link']"
              :link="item['SPV.COII.BD.Link']"
            />
          </a>
          <span
            v-else-if="item"
            class="text-h3 mb-1 primary--text"
            style="text-decoration:none;"
          >
            {{ item['SPV.COII.BD.FirstName'] }} {{ item['SPV.COII.BD.LastName'] }}
          </span>
          <div class="trsText--text text-h4 text--lighten-1 mb-4">
            {{ item['SPV.COII.BD.Title'] }}
          </div>
          <more-text
            class="text-justify text-body-1"
            :text="item['SPV.COII.BD.Bio']"
            :max-length="500"
            :show-less="true"
          />
          <div
            v-if="item && item['SPV.COII.BD.Articles'] && item['SPV.COII.BD.Articles'].length > 0"
          >
            <div
              class="text-h3 mt-3"
            >
              Articles
            </div>
            <a
              v-for="(article, index) in item['SPV.COII.BD.Articles']"
              :key="index"
              :href="article"
              target="_blank"
              class="text-body mb-1 primary--text d-block"
            >
              {{ article }}
            </a>
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
          class="pr-lg-0 pr-lg-0 pt-5"
        >
          <v-img
            height="229"
            width="229"
            :src="item['SPV.COII.BD.Headshot']"
            contain
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="!boardOfDirectorsHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE))">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="boardOfDirectors && boardOfDirectors.length > 0 && boardOfDirectorsHasValue">
      <hr class="mb-3">
      <overview-nav-header
        title="Board of Directors"
        @click="$emit('setCurrentView', 'board-of-directors')"
      />
      <v-list class="row d-inline-flex w-100">
        <template v-for="(item, index) in boardOfDirectors">
          <v-list-item
            :key="index"
            class="pl-3 mb-7 col-6 col-md-4 col-lg-4"
          >
            <v-list-item-avatar
              v-if="item['SPV.COII.BD.Headshot']"
              class="ml-0 mr-2 my-0"
            >
              <v-img
                :src="item['SPV.COII.BD.Headshot']"
              />
            </v-list-item-avatar>
            <v-list-item-avatar v-if="!item['SPV.COII.BD.Headshot']">
              <v-icon
                large
              >
                mdi-account-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content class="py-0">
              <div class="trsText--text text-body-1 text--light-1">
                {{ item['SPV.COII.BD.FirstName'] }} {{ item['SPV.COII.BD.LastName'] }}
              </div>
              <div class="trsText--text text-body-1 text--lighten-1">
                {{ item['SPV.COII.BD.Title'] }}
              </div>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
    <div v-if="!boardOfDirectorsHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && isOnOverview)">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from '@/components/common/utils/MoreText'
  import OverviewNavHeader from '../components/OverviewNavHeader'
  export default {
    name: 'IssuerBoardOfDirectorsSpv',

    components: {
      MoreText,
      OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      forms: null,
      boardOfDirectors: null,
      mode: null,
    }),

    computed: {
      boardOfDirectorsHasValue () {
        return this.boardOfDirectors
          ? this.boardOfDirectors.some(boardOfDirector => (
            boardOfDirector['SPV.COII.BD.Title'] ||
            boardOfDirector['SPV.COII.BD.Link'].length !== 0 ||
            boardOfDirector['SPV.COII.BD.Articles'].length !== 0 ||
            boardOfDirector['SPV.COII.BD.Headshot'] ||
            boardOfDirector['SPV.COII.BD.LastName'] ||
            boardOfDirector['SPV.COII.BD.FirstName'] ||
            boardOfDirector['SPV.COII.BD.Bio'])) : false
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        this.data = await this.service.getFormData('spv-company') || []
        this.boardOfDirectors = this.data['SPV.COII.BD'] || ''
        if (!this.boardOfDirectorsHasValue && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'board-of-directors', !this.boardOfDirectorsHasValue)
          this.$root.$emit('dr-hideListItem', 'board-of-directors', !this.boardOfDirectorsHasValue)
        }
        if (!this.boardOfDirectorsHasValue) {
          this.$root.$emit('dr-hideReadMore', 'board-of-directors', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .list-items {
    &:not(:first-of-type) {
      margin-top: 0.875rem;
    }
  }
  .v-list--three-line .v-list-item {
    min-height: 20px;
  }
  .w-100{
    width: 100%;
  }
</style>
