<template>
  <v-row>
    <v-col
      v-for="(listItem, index) in listItems"
      :key="index"
      :class="[listItem.hideListItem ? 'hideList': '']"
      :cols="listItem.col"
      :sm="listItem.sm"
      :md="listItem.md"
    >
      <component
        :is="listItem.comps"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
        :is-on-overview="true"
        @setCurrentView="$emit('setCurrentView', $event)"
      />
    </v-col>
  </v-row>
</template>

<script>
  import IssuerCompanyStory from './IssuerCompanyStorySpv'
  import IssuerManagementTable from './IssuerManagementTableSpv'
  import IssuerBoardOfDirectors from './IssuerBoardOfDirectorsSpv'
  import IssuerLeadInvestors from './IssuerLeadInvestorsSpv'
  import OppProductServices from '../components/OppProductServices'
  import OppMarketInformation from '../components/OppMarketInformation'
  import OppUseOfFunds from '../components/OppUseOfFunds'
  import IssuerCaptableSpv from './IssuerCaptableSpv'

  export default {
    name: 'IssuerCompanyStory',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      listItems: [
        { id: 'comp', comps: IssuerCompanyStory, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'management-table', comps: IssuerManagementTable, col: 12, sm: 12, md: 6, hideListItem: false },
        { id: 'board-of-directors', comps: IssuerBoardOfDirectors, col: 12, sm: 12, md: 6, hideListItem: false },
        { id: 'lead-investors', comps: IssuerLeadInvestors, col: 12, sm: 12, md: 6, hideListItem: false },
        { id: 'use-of-funds', comps: OppUseOfFunds, col: 12, md: 12, lg: 12, hideListItem: false },
        { id: 'product-services', comps: OppProductServices, col: 12, md: 12, lg: 12, hideListItem: false },
        { id: 'market-information', comps: OppMarketInformation, col: 12, md: 12, lg: 12, hideListItem: false },
        { id: 'issuer-captable-spv', comps: IssuerCaptableSpv, col: 12, md: 12, lg: 12, hideListItem: false },
      ],
    }),

    computed: {
    },
    watch: {
    },

    created () {
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.listItems = this.listItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })
    },

    methods: {
    },
  }
</script>

<style lang="scss" scoped>
.hideList {
  display:none !important;
}
</style>
