<template>
  <div v-if="form">
    <div
      v-if="!isOnOverview"
      class="px-3"
    >
      <v-row>
        <v-col
          cols="12"
          class="pb-0 px-0 hide-section"
        >
          <hr class="mb-4">
          <div class="text-h3 trsText--text font-weight-bold">
            Current Investment
          </div>
        </v-col>
      </v-row>

      <v-row
        v-for="(item, index) in data"
        :key="index"
        class="mt-0"
      >
        <v-col
          cols="12"
          sm="9"
          lg="9"
          md="9"
          class="pl-lg-0 pl-md-0 pt-5"
        >
          <a
            class="text-h3 mb-1 mt-2 primary--text"
            :href="item.Url"
            target="_blank"
          >
            {{ item.RoundName }}
          </a>
          <common-rich-text-editor-view
            :value="item.Overview"
          />

          <div
            v-if="item.Date"
            class="trsText--text text-body-2 text--lighten-1 mb-2 font-weight-semibold mt-1"
          >
            Date of the Investment: {{ item.Date }}
          </div>

          <div
            v-for="(item, index) in item.Pressrelease"
            :key="index"
            class="mt-4 d-flex"
          >
            <div
              v-if="item"
              class="d-flex"
            >
              <v-icon
                size="medium"
                class="mr-2 trsText--text text--lighten-1"
              >
                mdi-link
              </v-icon>
              <a
                :href="item"
                rel="noopener noreferrer"
                target="_blank"
                class="primary--text text-body-1 text-decoration-none"
              >
                {{ item }}
              </a>
            </div>
          </div>
          <div v-if="item.pressReleases">
            <div
              v-for="(item, docIndex) in item.pressReleases"
              :key="docIndex"
              class="mt-4 d-flex"
            >
              <div
                class="d-flex"
              >
                <common-common-preview-file-modal
                  fullscreen
                  :url="item.signed_url"
                  :mime-type="item.mime_type"
                  :has-download-btn="true"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      size="medium"
                      class="mr-2 trsText--text text--lighten-1"
                    >
                      mdi-briefcase
                    </v-icon>
                    <a
                      class="primary--text text-body-1 text-decoration-none"
                      v-on="on"
                    >
                      Document {{ docIndex + 1 }}
                    </a>
                  </template>
                </common-common-preview-file-modal>
              </div>
            </div>
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
          class="py-5"
        >
          <v-img
            height="229"
            width="229"
            :src="item.LogoImage"
            contain
          />
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0"
        >
          <div class="d-block team-profile-section" />
        </v-col>

        <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
          <div class="trs--text text-body-1 font-italic">
            Not Available
          </div>
        </div>
      </v-row>
    </div>

    <div v-else>
      <hr class="mb-4 hide-section">
      <div
        class="trsText--text font-weight-bold text-h3 cursor-pointer hide-section"
        @click="$emit('setCurrentView', 'current-investment')"
      >
        Current Investment
      </div>
      <div v-if="!notAvailable">
        <v-list>
          <template v-for="(item, index) in data">
            <v-list-item
              :key="index"
              class="pa-0 list-items d-inline-flex col-6 col-md-4 col-lg-4"
            >
              <div class="d-flex align-center">
                <div>
                  <v-list-item-avatar
                    v-if="item.LogoImage"
                    class="ml-0 mr-2 my-0"
                  >
                    <v-img :src="item.LogoImage" />
                  </v-list-item-avatar>
                  <v-list-item-avatar v-if="!item.LogoImage">
                    <v-icon
                      large
                    >
                      mdi-account-circle
                    </v-icon>
                  </v-list-item-avatar>
                </div>
                <div>
                  <v-list-item-content class="py-0">
                    <div class="trsText--text text-body-1 text--light-1">
                      <a
                        class="text-h3 mb-1 mt-2 primary--text"
                        :href="item.Url"
                        target="_blank"
                      >
                        {{ item.RoundName }}
                      </a>
                    </div>
                    <div class="trsText--text text-body-1 text--lighten-1">
                      {{ item.Date }}
                    </div>
                  </v-list-item-content>
                </div>
              </div>
            </v-list-item>
          </template>
        </v-list>

        <div
          class="primary--text show-all text-body-1 mt-2 hide-section"
        >
          <a
            text
            color="primary"
            @click="$emit('setCurrentView', 'current-investment')"
          >
            View All Investments
          </a>
        </div>
      </div>

      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic mt-2">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  export default {
    name: 'OppCurrentInvestmentFund',

    components: {
      CommonRichTextEditorView,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: [],
      mode: null,
      notAvailable: true,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        // Load information
        this.form = this.service.getFormData('fund-opportunity')
        if (this.form) {
          this.data = this.form['FDRSOF.FH']
        }

        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => data.dataroom_document)

        this.data = this.$extractDotFromArray(this.data)
        this.data = await Promise.all(this.data.map(async ele => {
          if (ele.Pressreleasefile && Array.isArray(ele.Pressreleasefile)) {
            try {
              const pressReleases = await Promise.all(ele.Pressreleasefile.map(getDocFunc))
              return {
                ...ele,
                pressReleases,
              }
            } catch (err) { return ele }
          }
          return ele
        }))

        // Set notAvailable
        this.notAvailable = !this.data ||
          !Array.isArray(this.data) ||
          this.data.filter(ele => ele.RoundName).length === 0

        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'current-investment', true)
          this.$root.$emit('dr-hideListItem', 'current-investment', true)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'current-investment', true)
        }
      },
    },
  }
</script>
