<template>
  <div v-if="teamMembersHasValue && !isOnOverview && teamMembers && teamMembers.length > 0">
    <!-- <v-row>
      <v-col
        cols="12"
      >
        <hr class="mb-4 issuer-mgmnt-table-top-border">
        <div class="text-h3 trsText--text font-weight-bold">
          Investment Team
        </div>
      </v-col>
    </v-row> -->
    <v-row
      v-for="(item, index) in teamMembers"
      :key="index"
      class="mt-0 px-3"
    >
      <v-col
        cols="12"
        sm="9"
        lg="9"
        md="9"
        class="pl-lg-0 pl-md-0 pt-5"
      >
        <div
          v-if="!(item && item.Articles && item.Articles[0])"
          class="text-h3 mb-1 primary--text mt-2"
        >
          {{ item.FirstName }} {{ item.LastName }}
          <common-linkedin-link
            v-if="item && item.LinkedIn"
            :link="item.LinkedIn"
          />
        </div>
        <div class="trsText--text text-body-1 text--lighten-1 mb-4">
          {{ item.Title }}
        </div>
        <more-text
          class="text-justify text-body-1"
          :text="item.Bio"
          :max-length="500"
          :show-less="true"
        />

        <div
          v-if="item.Qualifications && Array.isArray(item.Qualifications)"
          class="d-flex"
        >
          <template
            v-for="(qualification, index) in item.Qualifications"
          >
            <v-icon
              v-if="qualification"
              :key="index"
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              v-if="qualification"
              :key="index"
              :href="qualification"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-body-1 text-decoration-none"
            >
              {{ qualification }}
            </a>
          </template>
        </div>
      </v-col>
      <v-col
        cols="12"
        sm="3"
        md="3"
        lg="3"
        class="py-5"
      >
        <v-img
          height="229"
          width="229"
          :src="item.Headshot"
          contain
        />
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0"
      >
        <div class="d-block team-profile-section" />
      </v-col>
    </v-row>

    <div v-if="!teamMembersHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && (!teamMembers || teamMembers.length === 0))">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </div>

  <div v-else>
    <hr class="mb-4 hide-section">
    <!-- <div
      class="trsText--text font-weight-bold text-h3 cursor-pointer hide-section"
      @click="$emit('setCurrentView', 'investment-team')"
    >
      Investment Team
    </div> -->
    <div v-if="teamMembers && teamMembers.length > 0 && teamMembersHasValue">
      <v-list>
        <template v-for="(item, index) in teamMembers">
          <v-list-item
            :key="index"
            class="pa-0 list-items d-inline-flex col-6 col-md-4 col-lg-4"
          >
            <div class="d-flex">
              <div>
                <v-list-item-avatar
                  v-if="item.Headshot"
                  class="ml-0 mr-2 my-0"
                >
                  <v-img :src="item.Headshot" />
                </v-list-item-avatar>
                <v-list-item-avatar v-if="!item.Headshot">
                  <v-icon
                    large
                  >
                    mdi-account-circle
                  </v-icon>
                </v-list-item-avatar>
              </div>
              <div>
                <v-list-item-content class="py-0">
                  <div class="trsText--text text-body-1 text--light-1">
                    {{ item.FirstName }} {{ item.LastName }}
                  </div>
                  <div class="trsText--text text-body-1 text--lighten-1">
                    {{ item.Title }}
                  </div>
                </v-list-item-content>
              </div>
            </div>
          </v-list-item>
        </template>
      </v-list>
      <div
        class="primary--text show-all text-body-1 mt-1 hide-section"
      >
        <a
          @click="$emit('setCurrentView', 'investment-team')"
        >
          View All
        </a>
      </div>
    </div>
    <div v-if="!teamMembersHasValue && ((mode == CONSTS.DR_MODES.DILIGENCE) && (!teamMembers || teamMembers.length === 0) && !isOnOverview)">
      <div class="trs--text text-body-1 font-italic mt-2">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from '@/components/common/utils/MoreText'
  // import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'

  export default {
    name: 'OppInvestmentTeamFund',

    components: {
      MoreText,
      // CommonRichTextEditorView,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: null,
      mode: null,
      teamMembers: null,
      notAvailable: true,
    }),

    computed: {
      teamMembersHasValue () {
        return this.teamMembers
          ? this.teamMembers.some(member => (
            member.Title !== '' ||
            member.Link !== '' ||
            member.Headshot !== '' ||
            member.LastName !== '' ||
            member.FirstName !== '' ||
            member.Bio !== '')) : null
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        // Load information
        this.form = this.service.getFormData('fund-opportunity')
        this.data = this.form

        // Load data
        this.teamMembers = this.$extractDotFromArray(this.data['FDRSOF.UFIT']) || []

        // Set notAvailable
        this.notAvailable = (!this.teamMembers || this.teamMembers.length === 0)
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'investment-team', true)
          this.$root.$emit('dr-hideListItem', 'investment-team', this.notAvailable)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'investment-team', this.notAvailable)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  // .list-items{
  //   &:not(:first-of-type) {
  //    margin-top: 0.875rem;
  //   }
  // }
  .v-list--three-line .v-list-item {
     min-height: 20px;
  }
  .issuer-mgmnt-table-top-border {
     border-color: var(--v-trsBack-base);
  }
  .team-profile-section {
    border-bottom: 1px solid var(--v-trsBack-base);
  }
</style>
