<template>
  <div v-if="form">
    <v-row
      v-if="!isOnOverview"
      no-gutters
    >
      <v-col
        v-if="data.overview"
        cols="12"
      >
        <div class="trsText--text mb-1 font-weight-bold text-h3">
          Market/Industry
        </div>

        <common-rich-text-editor-view
          :value="data.overview"
        />
      </v-col>

      <v-col
        v-if="data.articles.length > 0 && data.articles[0]['FDRSOF.IRA.Title'] && (data.articles[0]['FDRSOF.IRA.Link'] || data.articles[0].signed_url)"
        cols="12"
      >
        <div class="trsText--text font-weight-bold text-h3 mt-3 mb-3">
          Industry Reports
        </div>
        <v-col
          v-for="(item, index) in data.articles"
          :key="'article' + index"
          cols="12"
          class="pt-0 pb-5"
        >
          <div
            v-if="item && item['FDRSOF.IRA.Link'] && item['FDRSOF.IRA.Title']"
            class="d-flex"
          >
            <v-icon
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              :href="item['FDRSOF.IRA.Link']"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-body-1 text-decoration-none"
            >
              {{ item['FDRSOF.IRA.Title'] }}
            </a>
          </div>
          <div
            v-else-if="item && item.signed_url"
            class="d-flex"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="item.signed_url"
              :mime-type="item.mime_type"
              :has-download-btn="true"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  size="medium"
                  class="mr-2 trsText--text text--lighten-1"
                >
                  mdi-briefcase
                </v-icon>
                <a
                  class="primary--text text-body-1 text-decoration-none"
                  v-on="on"
                >
                  <span v-if="item['FDRSOF.IRA.Title']">{{ item['FDRSOF.IRA.Title'] }}</span>
                  <span v-else>Document {{ index + 1 }}</span>
                </a>
              </template>
            </common-common-preview-file-modal>
          </div>
        </v-col>
      </v-col>

      <v-col
        v-if="data.pressRs.length > 0 && data.pressRs[0]['FDRSOF.PR.Title'] && (data.pressRs[0]['FDRSOF.PR.Link'] || data.pressRs[0].signed_url)"
        cols="12"
      >
        <div class="trsText--text font-weight-bold text-h3 mt-3 mb-3">
          Press Releases
        </div>

        <v-col
          v-for="(item, index) in data.pressRs"
          :key="'article' + index"
          cols="12"
          class="pt-0 pb-5"
        >
          <div
            v-if="item && item['FDRSOF.PR.Link'] && item['FDRSOF.PR.Title']"
            class="d-flex"
          >
            <v-icon
              size="medium"
              class="mr-2 trsText--text text--lighten-1"
            >
              mdi-link
            </v-icon>
            <a
              :href="item['FDRSOF.PR.Link']"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-body-1 text-decoration-none"
            >
              {{ item['FDRSOF.PR.Title'] }}
            </a>
          </div>
          <div
            v-else-if="item && item.signed_url"
            class="d-flex"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="item.signed_url"
              :mime-type="item.mime_type"
              :has-download-btn="true"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  size="medium"
                  class="mr-2 trsText--text text--lighten-1"
                >
                  mdi-briefcase
                </v-icon>
                <a
                  class="primary--text text-body-1 text-decoration-none"
                  v-on="on"
                >
                  <span v-if="item['FDRSOF.PR.Title']">{{ item['FDRSOF.PR.Title'] }}</span>
                  <span v-else>Document {{ index + 1 }}</span>
                </a>
              </template>
            </common-common-preview-file-modal>
          </div>
        </v-col>
      </v-col>

      <v-col
        v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable"
        cols="12"
      >
        <div class="trs--text text-body-1 font-italic mt-2">
          Not Available
        </div>
      </v-col>
    </v-row>

    <div v-else>
      <v-row>
        <v-col
          v-if="data.overview"
          cols="12"
        >
          <div class="trsText--text mb-1 font-weight-bold text-h3">
            Market/Industry
          </div>

          <common-rich-text-editor-view
            :value="data.overview"
          />
        </v-col>
        <v-col
          v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable"
          cols="12"
        >
          <div class="trs--text text-body-1 font-italic mt-2">
            Not Available
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  // import MoreText from '@/components/common/utils/MoreText'
  // import OverviewNavHeader from '../components/OverviewNavHeader'

  export default {
    name: 'OppMarketInformationFund',

    components: {
      CommonRichTextEditorView,
      // MoreText,
      // OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: {},
      mode: null,
      notAvailable: true,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        // Load information
        this.form = this.service.getFormData('fund-opportunity')

        this.data.overview = this.form['FDRSOF.MI.Overview'] || ''
        this.data.articles = this.form['FDRSOF.IRA'] || []
        this.data.pressRs = this.form['FDRSOF.PR'] || []

        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => data.dataroom_document)

        this.data.articles = await Promise.all(this.data.articles.map(async ele => {
          try {
            const pressReleases = await getDocFunc(ele['FDRSOF.IRA.File'])
            return {
              ...ele,
              docId: ele['FDRSOF.IRA.File'],
              ...pressReleases,
            }
          } catch (err) { return ele }
        }))
        this.data.pressRs = await Promise.all(this.data.pressRs.map(async ele => {
          try {
            const pressReleases = await getDocFunc(ele['FDRSOF.PR.File'])
            return {
              ...ele,
              docId: ele['FDRSOF.PR.File'],
              ...pressReleases,
            }
          } catch (err) { return ele }
        }))

        // Set notAvailable
        this.notAvailable = !this.data.overview &&
          this.data.articles.length === 0 &&
          this.data.articles.filter(ele => ele).length === 0 &&
          this.data.pressRs.length === 0

        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'market-information', true)
          this.$root.$emit('dr-hideListItem', 'market-information', true)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'market-information', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
