<template>
  <v-row>
    <v-col
      v-for="(listItem, index) in listItems"
      :key="index"
      :cols="listItem.col"
      :md="listItem.md"
    >
      <component
        :is="listItem.comps"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
        :is-on-overview="true"
        @setCurrentView="$emit('setCurrentView', $event)"
      />
    </v-col>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
      <div class="trs--text text-body-1 font-italic">
        Not Available
      </div>
    </div>
  </v-row>
</template>

<script>
  // import OppProductServices from './OppProductServices'
  // import OppMarketInformationFund from './OppMarketInformationFund'
  // import OppCyndxReport from './OppCyndxReport'
  // import OppCrowdSmart from './OppCrowdSmart'
  import OppUseOfFundsFund from './OppUseOfFundsFund'
  import OppCurrentInvestmentFund from './OppCurrentInvestmentFund'
  import OppInvestmentTeamFund from './OppInvestmentTeamFund'

  export default {
    name: 'OppOverview',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      listItems: [
        { id: 'use-of-funds', comps: OppUseOfFundsFund, col: 12, md: 12, lg: 12, hideListItem: false },
        // { id: 'use-of-funds', comps: OppUseOfFundsFund, col: 12, md: 12, lg: 12, hideListItem: false },
        { id: 'investment-team', comps: OppInvestmentTeamFund, col: 12, md: 12, lg: 12, hideListItem: false },
        { id: 'current-investment', comps: OppCurrentInvestmentFund, col: 12, md: 12, lg: 12, hideListItem: false },
      ],
      mode: null,
      showMarketInfo: false,
      showUseOfFunds: false,
      showProductServices: false,
      showTab: false,
      show: false,
    }),

    computed: {
      notAvailable () {
        return this.listItems.filter(el => !el.hideListItem).length === 0
      },
    },

    created () {
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.listItems = this.listItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })
      this.mode = this.service.getDrMode.call(this)
    },
    methods: {
    },
  }
</script>
