<template>
  <div v-if="!isOnOverview && data">
    <v-row>
      <v-col
        cols="12"
        class="pt-0 pb-0 mb-2"
      >
        <common-rich-text-editor-view
          :value="fundStructure"
          class="pt-2"
        />
      </v-col>
      <v-col
        v-if="investmentStrategy"
        cols="12"
      >
        <hr class="mb-4">
        <div class="trsText--text font-weight-bold text-h3">
          Investment Strategy
        </div>

        <common-rich-text-editor-view
          class="pt-2 mb-3"
          :value="investmentStrategy"
        />
      </v-col>
    </v-row>

    <v-row
      v-if="galleryImgs.length > 0"
      class="mb-0"
    >
      <v-col
        cols="12"
      >
        <hr
          class="mb-4"
        >
        <div class="text-h3 trsText--text font-weight-bold mb-1">
          Media Gallery
        </div>
      </v-col>
      <v-col
        v-for="(item, index) in galleryImgs"
        :key="index"
        cols="6"
      >
        <v-img
          :src="item"
          contain
          class="grey lighten-2"
          :class="{
            'media-gallery-img-h-auto': $vuetify.breakpoint.mdAndUp,
            'media-gallery-img': $vuetify.breakpoint.smAndUp,
          }"
        />
      </v-col>
    </v-row>
    <v-row v-if="mediaGallery && mediaGallery.length > 4">
      <v-col
        class="d-flex justify-center"
        cols="12 pb-0"
      >
        <a
          v-if="!showAllImgs"
          rel="noopener noreferrer"
          target="_blank"
          class="text-h4 primary--text font-weight-bold"
          @click="showAllImgs = true"
        >
          View All Media
        </a>
        <a
          v-if="showAllImgs"
          rel="noopener noreferrer"
          target="_blank"
          class="text-h4 primary--text font-weight-bold"
          @click="showAllImgs = false"
        >
          Show Less
        </a>
      </v-col>
    </v-row>

    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
      <div class="trs--text text-body-1 font-italic mt-2">
        Not Available
      </div>
    </div>
  </div>

  <div v-else>
    <div v-if="fundStructure || investmentStrategy">
      <hr class="mb-4">
      <v-row
        v-if="fundStructure"
        dense
      >
        <v-col
          cols="12"
          class="pt-0 pb-0 mb-2"
        >
          <common-rich-text-editor-view
            :value="fundStructure"
            class="pt-2"
          />
        </v-col>
      </v-row>
      <v-row
        v-if="!fundStructure && investmentStrategy"
        dense
      >
        <v-col
          v-if="investmentStrategy"
          cols="12"
        >
          <hr class="mb-4">
          <div class="trsText--text font-weight-bold text-h3">
            Investment Strategy
          </div>

          <common-rich-text-editor-view
            class="pt-2 mb-3"
            :value="investmentStrategy"
          />
        </v-col>
      </v-row>
    </div>
    <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && !fundStructure && !investmentStrategy">
      <div class="trs--text text-body-1 font-italic mt-2">
        Not Available
      </div>
    </div>
  </div>
</template>

<script>
  // import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'OppUseOfFundsFund',

    components: {
      // MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      fundStructure: '',
      mode: null,
      investmentStrategy: '',
      mediaGallery: [],
      showAllImgs: false,
      notAvailable: false,
    }),

    computed: {
      galleryImgs () {
        try {
          const data = !this.showAllImgs ? this.mediaGallery.slice(0, 4) : this.mediaGallery
          return data
        } catch (err) {
          return []
        }
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        // Load information
        this.form = this.service.getFormData('fund-opportunity')
        this.data = this.form

        // Load data
        this.fundStructure = this.data['FDRSOF.FS.Structure'] || ''
        this.investmentStrategy = this.data['FDRSOF.UF.Strategy'] || ''

        // Set notAvailable
        this.notAvailable = !this.fundStructure && !this.investmentStrategy
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'use-of-funds', true)
          this.$root.$emit('dr-hideListItem', 'use-of-funds', true)
        }
        if (!this.fundStructure || !this.investmentStrategy) {
          this.$root.$emit('dr-hideReadMore', 'use-of-funds', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .media-gallery-img-h-auto {
      height: 100%;
  }
  .media-gallery-img {
      height: 324px;
      font-size:12px;
      ::v-deep .v-image__image {
        background-size: cover;
      }
      ::v-deep .v-responsive__content {
      width: 100%!important;
      }
  }
  ::v-deep .v-timeline-item__dot--small {
    height: 26px !important;
    left: calc(50% - 12px);
    width: 26px !important;
      .v-timeline-item__inner-dot {
        height: 23px !important;
        margin: 1px;
        width: 23px !important;
        border: 3px solid var(--v-trsText-base);
      }
  }
</style>
