<template>
  <div>
    <div
      v-if="publicBranding.drOptions.overviewTab.showVideoTitle && (internalDrs['SPV.O.CD.PitchVideoOne'] || internalDrs['SPV.O.CD.PitchVideoTwo'])"
      class="text-h3 trsText--text font-weight-bold mb-2"
    >
      Investor Presentation
    </div>
    <v-row :class="publicBranding.drOptions.overviewTab.showVideoTitle ? 'my-2' : 'mb-3'">
      <v-col
        v-if="internalDrs['SPV.O.CD.PitchVideoOne']"
        class="pt-0 pb-0"
        cols="12"
        sm="12"
        md="6"
      >
        <div
          v-if="publicBranding.drOptions.overviewTab.showVideoTitle"
          class="text-h4 trsText--text font-weight-bold"
        >
          Video
        </div>
        <video-plyr-component
          :video-src="internalDrs['SPV.O.CD.PitchVideoOne']"
        />
      </v-col>
      <v-col
        v-if="internalDrs['SPV.O.CD.PitchVideoTwo']"
        class="pt-0"
        cols="12"
        sm="12"
        md="6"
      >
        <div
          v-if="publicBranding.drOptions.overviewTab.showVideoTitle"
          class="text-h4 trsText--text font-weight-bold"
        >
          Podcast
        </div>
        <video-plyr-component
          :video-src="internalDrs['SPV.O.CD.PitchVideoTwo']"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
  import VideoPlyrComponent from '@/components/common/video-plyr/VideoPlyr'
  export default {
    name: 'OverviewVideoPodcastSpv',

    components: {
      VideoPlyrComponent,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalDrs: null,
    }),
    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      cols () {
        if (this.internalDrs['SPV.O.CD.PitchVideoOne'] && this.internalDrs['SPV.O.CD.PitchVideoTwo']) {
          return 6
        } else {
          return 12
        }
      },
    },

    created () {
      this.loadData()
    },
    methods: {
      async loadData () {
        this.internalDrs = this.service.getFormData('spv-overview')
      },
    },
  }
</script>
