<template>
  <div v-if="data">
    <v-row>
      <v-col cols="12 company-description pb-0">
        <div v-if="desc || pitchDeckDoc">
          <hr
            v-if="!isPwa"
            class="mb-0"
          >
          <div class="trsText--text mb-3 pt-8 font-weight-bold text-h3">
            Fund Summary
          </div>
          <div
            v-if="pitchDeckDoc"
            class="pitch-deck cursor-pointer"
          >
            <common-common-preview-file-modal
              fullscreen
              :url="pitchDeckDoc.signed_url"
              :mime-type="'pdf'"
              :has-download-btn="pitchDeckDoc.details && pitchDeckDoc.details.download_allowed"
            >
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <common-common-preview-file
                    :url="pitchDeckDoc.signed_url"
                    :mime-type="'pdf'"
                  />
                  <div class="pitch-deck-bottom pa-3 trsBack">
                    <div class="d-flex flex-column">
                      <span class="trsText--text text-body-2 font-weight-bold">
                        Pitch Deck
                      </span>
                      <em class="trsText--text pitch-update">
                        Updated {{ $date(psiFormMeta.modified_on) }}
                      </em>
                    </div>
                    <common-trs-btn
                      v-if="pitchDeckDoc.details && pitchDeckDoc.details.download_allowed"
                      type="secondary"
                      class="primary--text v-btn px-0"
                      target="_blank"
                      rel="noopener noreferrer"
                      :href="pitchDeckDoc.signed_url"
                      @click.stop
                    >
                      <v-icon class="download-icon">
                        mdi-download
                      </v-icon>
                    </common-trs-btn>
                  </div>
                </div>
              </template>
            </common-common-preview-file-modal>
          </div>
          <!-- <more-text
            :text="desc"
            :max-length="400"
            :show-less="true"
          /> -->
          <div v-if="desc">
            <common-rich-text-editor-view
              :value="desc"
            />
          </div>
          <div class="clear-both pt-5 pt-lg-0 pt-md-0" />
        </div>
        <div>
          <overview-video-podcast-fund
            :opportunity="opportunity"
            :service="service"
          />
        </div>
        <div v-if="pitch">
          <div class="trsText--text pb-4 font-weight-bold text-h3">
            Elevator Pitch
          </div>
          <div
            v-for="(ele, index) in pitch"
            :key="index"
          >
            <hr
              v-if="ele.value"
              class="border-color"
            >
            <div
              v-if="ele.value"
              class="primary--text text-h4 font-weight-bold pt-5 pb-1"
              v-html="ele.label"
            />
            <!-- <more-text
              v-if="ele.value"
              :text="ele.value"
              :max-length="400"
              :show-less="true"
              class="mb-4"
            /> -->
            <div
              v-if="ele.value"
              class="mb-4"
            >
              <common-rich-text-editor-view
                :value="ele.value"
              />
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  // import MoreText from '@/components/common/utils/MoreText'
  import OverviewVideoPodcastFund from './OverviewVideoPodcastFund'
  export default {
    name: 'OverviewCompanyDescription',

    components: {
      // MoreText,
      CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
      OverviewVideoPodcastFund,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isPwa: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      desc: '',
      pitch: null,
      pitchDeckDoc: null,
      psiFormMeta: {},
    }),

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.data = this.service.getFormData('fund-overview')
        this.desc = this.data['FDRSOF.FS.Summary']
        this.pitch = [
          {
            label: 'Value Proposition',
            value: this.data['FDRSOF.P.Value'],
          },
          {
            label: 'Opportunity',
            value: this.data['FDRSOF.P.Opportunity'],
          },
          {
            label: 'How we\'re different',
            value: this.data['FDRSOF.P.Different'],
          },
        ]

        try {
          if (this.isPwa && Object.keys(this.data).length === 0 && !this.data) {
            this.$root.$emit('checkData', true)
          }
          const pitchDeckDoc = this.data['FDRSOF.FS.PitchDeck']
          const doc =
            pitchDeckDoc
              ? this.service.portal === this.CONSTS.PORTAL.ISSUER
                ? await this.service.getDocumentById(pitchDeckDoc)
                : await this.service.getDocumentsByOppAndId(
                  this.opportunity.id,
                  pitchDeckDoc,
                )
              : null

          this.pitchDeckDoc =
            doc &&
            (this.service.portal === this.CONSTS.PORTAL.ISSUER
              ? doc
              : {
                ...doc,
                ...doc.dataroom_document,
              })
        } catch (err) {
          console.log(err)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .border-color {
    border-color: var(--v-trsBack-base) !important;
    background-color: var(--v-trsBack-base);
  }
  .pitch-deck {
    float: right;
    width: 398px;
    height: 278px;
    margin-left: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid var(--v-trsBack-base);
    position: relative;
  }
  .pitch-deck-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media only screen and (max-width: 640px) {
    .pitch-deck {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }
  .pitch-deck >>> .actions {
    display: none;
  }
  .pitch-deck >>> .pdf-viewer {
    border: none;
  }
  .clear-both {
    clear: both;
  }
  .pitch-update {
    font: normal italic 12px/14px $font-family-base;
  }
  .company-description {
    p {
      margin-bottom: 12px;
      span {
        font: normal normal 16px/26px $font-family-base;
      }
    }
  }
  .v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0 6px!important;
    min-width: 30px!important;
  }
  .v-btn {
    .download-icon {
      font-size: 16px;
    }
  }
</style>
