<template>
  <div v-if="(galleryImgs && galleryImgs.length > 0)">
    <v-row class="mb-0">
      <v-col cols="12 pt-0 pb-0">
        <hr
          class="mb-0"
        >
        <div class="text-h3 trsText--text font-weight-bold mt-4 mb-3">
          Media Gallery
        </div>
      </v-col>
    </v-row>
    <v-row
      class="mt-0"
      dense
    >
      <v-col
        v-for="(item, index) in galleryImgs"
        :key="index"
        cols="6"
      >
        <v-hover v-slot="{ hover }">
          <v-card
            :elevation="hover ? 12 : 2"
          >
            <v-img
              :src="item"
              contain
              class="grey lighten-2"
              :class="{
                'media-gallery-img-h-auto': $vuetify.breakpoint.mdAndUp,
                'media-gallery-img': $vuetify.breakpoint.smAndUp,
              }"
            >
              <v-card-title>
                <v-row class="fill-height flex-column">
                  <div class="text-right">
                    <common-trs-btn
                      v-if="hover"
                      type="tertiary"
                      class="download-btn"
                      color="white"
                      icon
                      large
                      target="_blank"
                      rel="noopener noreferrer"
                      :href="item"
                    >
                      <v-icon
                        class="show-btns"
                      >
                        mdi-download
                      </v-icon>
                    </common-trs-btn>
                  </div>
                </v-row>
              </v-card-title>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
    <v-row v-if="internalDrs && internalDrs['SPV.O.MG.Media'].length > 4">
      <v-col
        class="d-flex justify-center"
        cols="12 pb-0"
      >
        <a
          v-if="!showAllImgs"
          rel="noopener noreferrer"
          target="_blank"
          class="text-h4 primary--text font-weight-bold"
          @click="showAllImgs = true"
        >
          View All Media
        </a>
        <a
          v-if="showAllImgs"
          rel="noopener noreferrer"
          target="_blank"
          class="text-h4 primary--text font-weight-bold"
          @click="showAllImgs = false"
        >
          Show Less
        </a>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    name: 'OverviewMediaGallerySpv',

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalDrs: null,
      showAllImgs: false,
      images: [],
    }),

    computed: {
      galleryImgs () {
        try {
          const data = !this.showAllImgs ? this.images.slice(0, 4) : this.images
          return data
        } catch (err) {
          return []
        }
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.internalDrs = this.service.getFormData('spv-overview')
        this.images = (this.internalDrs['SPV.O.MG.Media'] || []).filter(img => !!img)
      },
    },
  }
</script>
<style lang="scss" scoped>
 .media-gallery-img-h-auto {
    height: 100%;
 }
 .media-gallery-img {
    height: 324px;
    font-size:12px;
    ::v-deep .v-image__image {
      background-size: cover;
    }
 }
 .v-card {
   .show-btns {
     display: none;
   }
   &:hover {
    opacity: 0.8;
    .show-btns {
      display: block;
    }
   }
    transition: opacity .4s ease-in-out;
  }
  .download-btn {
    background: rgb(0 0 0 / 40%);
  }
</style>
