<template>
  <div class="d-md-flex mb-5 mt-3">
    <div
      v-if="publicBranding.drOptions.overviewTab.showCompanyStage"
      class="d-flex flex-column align-center text-center mb-6 mb-sm-0"
    >
      <div class="trsText--text mb-2 text-body-1 font-weight-bold">
        Company Stage
      </div>
      <div class="circle-container">
        <company-stage
          v-model="opportunity.issuer.stage"
          :hide-name="true"
        />
      </div>
      <div
        class="text-body-1 bottom-text trsText--text text--lighten-1 mt-2 "
      >
        {{ opportunity && opportunity.issuer && opportunity.issuer.stage && opportunity.issuer.stage.name }}
      </div>
    </div>
    <div class="d-flex flex-column align-center text-center ml-md-5 mb-6 mb-sm-0">
      <div class="trsText--text text-body-1 font-weight-bold mb-2">
        Market
      </div>
      <div class="circle-container">
        <company-market
          :value="opportunity.issuer.market"
          :hide-name="true"
        />
      </div>
      <div class="text-body-1 trsText--text text--lighten-1 mt-2">
        {{ opportunity.issuer && opportunity.issuer.market && opportunity.issuer.market.name }}
      </div>
    </div>
    <div class="d-flex flex-column align-center text-center ml-md-5">
      <div class="trsText--text text-body-1 font-weight-bold mb-2">
        Target Raise
      </div>
      <div
        class="circle-container"
        style="border: none"
      >
        <div class="trsText--text text--lighten-1 text-body-1 font-weight-bold">
          {{ $formatThousandReadable(opportunity.size) }}
        </div>
      </div>
      <div class="text-body-1 trsText--text text--lighten-1 mt-2">
        Est. by {{ $date(opportunity.end_date) }}
      </div>
    </div>
    <!-- <div
      v-if="employees"
      class="d-flex flex-column align-center text-center ml-md-5"
    >
      <div class="trsText--text text-body-1 font-weight-bold mb-2">
        Employees
      </div>
      <div class="circle-container">
        <div class="trsText--text text--lighten-1 text-body-1 font-weight-bold">
          {{ employees }}
        </div>
      </div>
      <div class="text-body-1 trsText--text text--lighten-1 mt-2" />
    </div> -->
  </div>
</template>

<script>
  import CompanyStage from '@/components/common/opportunity/field/CompanyStage'
  import CompanyMarket from '@/components/common/opportunity/field/Market'

  export default {
    components: {
      CompanyStage,
      CompanyMarket,
    },
    props: {
      opportunity: {
        type: Object,
        default: () => {},
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data () {
      return {
        employees: '',
      }
    },

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    watch: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        const fundSponsor = this.service.getFormData('spv-overview')
        this.employees = fundSponsor['FDRSS.SFO.Employees']
      },
    },
  }
</script>

<style lang="scss" scoped>
  .circle-container{
    height: 83px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 83px;
    align-items: center;
  }
</style>
