I<template>
  <div
    v-if="publicBranding.drOptions.overviewTab.showMap"
    class="mt-6 mb-6 mb-lg-13 mb-md-13"
  >
    <hr class="">
    <div class="d-flex align-center justify-space-between mb-4 mt-3">
      <div class="text-h3 trsText--text font-weight-bold">
        Countries of Operation
      </div>
      <div class="toggle-btn-container">
        <v-btn-toggle
          v-model="mapToggle"
          class="pa-1"
          mandatory
        >
          <common-trs-btn>
            MAP
          </common-trs-btn>
          <common-trs-btn>
            LIST
          </common-trs-btn>
        </v-btn-toggle>
      </div>
    </div>
    <vue-world-map
      v-if="showMap && (mapToggle === 0)"
      id="worldmap"
      class="world-map"
      :class="{'world-map-md vue-world-map-md': $vuetify.breakpoint.mdAndUp,
      }"
      :country-data="countriesOfOperation"
      :country-colors="true"
      :default-country-fill-color="map.defaultCountryFillColor"
      :high-color="map.highColor"
      :country-stroke-color="map.countryStrokeColor"
      :low-color="map.lowColor"
    />
    <div v-if="showMap && (mapToggle === 1)">
      <v-simple-table
        class="countries-list-table"
        dense
      >
        <thead>
          <tr>
            <th class="text-left">
              #
            </th>
            <th class="text-left">
              Country Name
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(country, index) in companyData"
            :key="index"
          >
            <td>{{ index +1 }}</td>
            <td>{{ country.name }}</td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
  import VueWorldMap from 'vue-world-map'
  export default {
    components: {
      VueWorldMap,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
    },

    data: () => ({
      map: {
        defaultCountryFillColor: 'white',
        highColor: '#023c56',
        lowColor: '#023c56',
        countryStrokeColor: '#023c56',
        companyData: null,
      },
      countriesOfOperation: {},
      showMap: false,
      showMapOverlay: false,
      mapToggle: 0,
    }),

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        const data = this.service.getFormData('spv-overview')
        this.companyData = data['SVP.COI.CI.Countries'] || []
        this.companyData.forEach((country, index) => {
          this.countriesOfOperation[country.id] = index
        })
        this.showMap = true
      },
    },
  }
</script>
<style lang="scss" scoped>
  .world-map {
    background-color: #EDF2F3;
    max-height: 100%;
  }
  .world-map-md {
    height:385px!important;
  }
  #worldmap .vue-world-map {
    max-height: 100%;
  }
  .vue-world-map-md {
    height:385px!important;
  }
  .toggle-btn-container {
    border: 1px solid var(--v-trsBack-base);
    border-radius: 4px;
  }
  ::v-deep .theme--light.v-btn {
    color: #5B606C !important;
    font-weight: 500;
    background-color: var(--v-accent-lighten5) !important;
    border: 0;
    margin-bottom: 0 !important;
    height: 32px !important;
  }
  ::v-deep .v-btn.v-item--active.v-btn--active {
    background-color: var(--v-primary-base) !important;
    color: var(--v-accent-lighten5) !important;
    border-radius: 4px;
  }
  ::v-deep .v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0 17px !important;
  }
  .countries-list-table {
    .v-data-table__wrapper {
      table {
        th,td {
            font: normal normal 1rem/1.625rem $font-family-base;
            color: var(--v-trsText-lighten1);
            padding: 19px 0px!important;
          }
      }
    }
  }
</style>
