<template>
  <div v-if="form">
    <v-row v-if="!isOnOverview">
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </v-row>

    <div v-else>
      <hr class="mb-4">
      <v-row
        dense
        class="mb-2"
      >
        <v-col
          cols="12"
          lg="4"
          md="4"
          sm="6"
        >
          <div class="text-body-2 trsText--text text--lighten-1 mb-1">
            Contact Information
          </div>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-2 font-italic">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    //   import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'SponsorCaptable',

    components: {
    //   MoreText,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: null,
      mode: null,
      notAvailable: true,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        // Load information
        this.form = null
        this.data = this.form.xx

        // Set notAvailable
        this.notAvailable = false
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'sponsor-prior-fund', true)
          this.$root.$emit('dr-hideListItem', 'sponsor-prior-fund', true)
        }

        // Load data
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
