<template>
  <div
    v-if="form"
    class="my-7"
  >
    <v-row v-if="!isOnOverview">
      <common-common-preview-file
        v-if="captable"
        :url="captable"
        :mime-type="'pdf'"
      />
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </v-row>

    <div v-else>
      <!-- Empty Overview -->
      <hr class="mb-4">
      <v-row
        dense
        class="mb-2"
      >
        <v-col
          cols="12"
          lg="6"
          md="6"
          sm="6"
          class="pt-lg-0 pt-md-0"
        >
          <common-common-preview-file
            v-if="captable"
            :url="captable"
            class="captable-overview-preview"
            :mime-type="'pdf'"
          />
        </v-col>
        <v-col
          v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable"
          cols="12"
        >
          <div class="trs--text text-body-2 font-italic">
            Not Available
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
    //   import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'SponsorCaptable',

    components: {
    //   MoreText,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      data: null,
      mode: null,
      notAvailable: true,
      captable: null,
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      async loadData () {
        // Load information
        this.form = this.service.getFormData('fund-sponsor')
        this.data = this.form['FDRSS.CT.CapTable']

        // Set notAvailable
        this.notAvailable = !this.data
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'sponsor-captable', true)
          this.$root.$emit('dr-hideListItem', 'sponsor-captable', true)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'sponsor-captable', true)
        }

        // Load data
        const doc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? await this.service.getDocumentById(this.data)
          : await this.service.getDocumentsByOppAndId(this.opportunity.id, this.data)

        this.captable = doc && (
          this.service.portal === this.CONSTS.PORTAL.ISSUER
            ? doc.signed_url
            : doc.dataroom_document.signed_url
        )
      },
    },
  }
</script>
<style lang="scss" scoped>
  .captable-overview-preview {
    .pdfvuer {
      max-height: 360px!important;
    }
  }
</style>
