<template>
  <div v-if="form">
    <v-row v-if="!isOnOverview">
      <v-col
        cols="12"
        class="pt-0"
      >
        <v-row
          class="hide-section"
        >
          <v-col
            cols="12"
          >
            <hr class="mb-4 issuer-mgmnt-table-top-border">
            <div class="text-h3 trsText--text font-weight-bold">
              Sponsor Team
            </div>
          </v-col>
        </v-row>
        <v-row
          v-for="(item, index) in data"
          :key="index"
          class="mt-0 px-3"
        >
          <v-col
            cols="12"
            class="pa-0"
          />
          <v-col
            cols="12"
            sm="9"
            lg="9"
            md="9"
            class="pl-lg-0 pl-lg-0 pt-7"
          >
            <div
              class="text-h3  mb-1 primary--text"
            >
              {{ item.FirstName }} {{ item.LastName }}
              <common-linkedin-link
                v-if="item && item.LinkedIn && item.LinkedIn"
                :link="item.LinkedIn"
              />
            </div>
            <div class="trsText--text text-body-1 text--lighten-1 mb-4">
              {{ item.Title }}
            </div>
            <more-text
              class="text-justify text-body-1"
              :text="item.Bio"
              :max-length="500"
              :show-less="true"
            />

            <div
              v-if="item.Articles && Array.isArray(item.Articles)"
            >
              <template
                v-for="(article, index) in item.Articles"
              >
                <div :key="index">
                  <v-icon
                    size="medium"
                    class="mr-2 trsText--text text--lighten-1"
                  >
                    mdi-link
                  </v-icon>
                  <a
                    v-if="article"
                    :key="index"
                    :href="article"
                    rel="noopener noreferrer"
                    target="_blank"
                    class="primary--text text-body-1 text-decoration-none"
                  >
                    {{ article }}
                  </a>
                </div>
              </template>
            </div>
          </v-col>
          <v-col
            cols="12"
            sm="3"
            md="3"
            lg="3"
            class="pt-5"
          >
            <v-img
              height="229"
              width="229"
              :src="item.Headshot"
              contain
            />
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 hide-section"
          >
            <div class="d-block team-profile-section" />
          </v-col>
        </v-row>
      </v-col>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic px-2">
          Not Available
        </div>
      </div>
    </v-row>
    <div v-else>
      <v-row>
        <v-col
          cols="12"
        >
          <div v-if="data && data.length > 0">
            <overview-nav-header
              title="Sponsor Team"
              class="text-body-1"
              @click="$emit('setCurrentView', 'sponsor-sponsor-team')"
            />
            <v-list class="row d-inline-flex w-100">
              <template v-for="(item, index) in data">
                <v-list-item
                  :key="index"
                  class="pl-3 mb-7 col-6 col-md-4 col-lg-4"
                >
                  <v-list-item-avatar
                    v-if="item.Headshot"
                    class="ml-0 mr-2 my-0"
                  >
                    <v-img :src="item.Headshot" />
                  </v-list-item-avatar>
                  <v-list-item-avatar v-if="!item.Headshot">
                    <v-icon
                      large
                    >
                      mdi-account-circle
                    </v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content class="py-0">
                    <div class="trsText--text text-body-2 text--light-1">
                      {{ item.FirstName }} {{ item.LastName }}
                    </div>
                    <div class="trsText--text text-body-2 text--lighten-1">
                      {{ item.Title }}
                    </div>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list>
          </div>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MoreText from '@/components/common/utils/MoreText'
  import OverviewNavHeader from '../components/OverviewNavHeader'
  export default {
    name: 'SponsorSponsorTeam',

    components: {
      MoreText,
      OverviewNavHeader,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: [],
      mode: null,
      notAvailable: true,
      historyData: [],
      details: {
        history: {},
      },
    }),

    computed: {
    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        // Load information
        this.form = this.service.getFormData('spv-sponsor')
        if (this.form) {
          this.data = this.form['FDRSS.ST']
        }

        this.data = this.$extractDotFromArray(this.data)

        // Set notAvailable
        this.notAvailable = !this.data || this.data.length === 0 || !this.data[0].FirstName || !this.data[0].LastName
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'sponsor-sponsor-team', true)
          this.$root.$emit('dr-hideListItem', 'sponsor-sponsor-team', true)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'sponsor-sponsor-team', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
 .team-profile-section {
    border-bottom: 1px solid var(--v-trsBack-base);
  }
  .list-items{
    &:not(:first-of-type) {
     margin-top: 0.875rem;
    }
  }
  .v-list--three-line .v-list-item {
     min-height: 20px;
  }
  .issuer-mgmnt-table-top-border {
     border-color: var(--v-trsBack-base);
  }
  .w-100{
    width: 100%;
  }
</style>
