<template>
  <v-row>
    <v-col
      v-for="(listItem, index) in listItems"
      :key="index"
      :class="[listItem.hideListItem ? 'hideList': '']"
      :cols="listItem.col"
      :sm="listItem.sm"
      :md="listItem.md"
    >
      <component
        :is="listItem.comps"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
        :is-on-overview="true"
        @setCurrentView="$emit('setCurrentView', $event)"
      />
    </v-col>
  </v-row>
</template>

<script>
  import SponsorCompanyStory from './SponsorCompanyStory'
  import SponsorSponsorTeam from './SponsorSponsorTeam'
  import SponsorAdvisoryBoard from './SponsorAdvisoryBoard'
  import SponsorPriorFund from './SponsorPriorFund'
  // import SponsorCaptable from './spv/SponsorCaptable'

  export default {
    name: 'SponsorOverview',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      listItems: [
        { id: 'sponsor-company-story', comps: SponsorCompanyStory, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'sponsor-sponsor-team', comps: SponsorSponsorTeam, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'sponsor-advisory-board', comps: SponsorAdvisoryBoard, col: 12, sm: 12, md: 12, hideListItem: false },
        { id: 'sponsor-prior-fund', comps: SponsorPriorFund, col: 12, sm: 12, md: 12, hideListItem: false },
      ],
      updatedlistItems: [],
    }),

    computed: {
    },
    watch: {
    },

    created () {
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.listItems = this.listItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      loadData () {
        this.data = this.service.getFormData('fund-sponsor')
      },
    },
  }
</script>

<style lang="scss" scoped>
.hideList {
  display:none !important;
}
</style>
