<template>
  <div v-if="form">
    <v-row v-if="!isOnOverview">
      <v-col
        cols="12"
        class="hide-section"
      >
        <hr class="mb-4">
        <div class="text-h3 trsText--text mb-2 font-weight-bold">
          Prior Fund
        </div>
      </v-col>
      <v-col
        v-for="(item, index) in data"
        :key="index"
        cols="12"
      >
        <div
          class="text-h3 mb-1 primary--text"
        >
          <a
            v-if="item.FundURL"
            :key="index"
            :href="item.FundURL"
            rel="noopener noreferrer"
            target="_blank"
            class="primary--text text-body-1 text-decoration-none"
          >
            {{ item.Name }}
          </a>
          <span v-else>{{ item.Name }}</span>
        </div>
        <div
          v-if="item.Dollars"
          class="trsText--text text-body-1 text--lighten-1 mb-2"
        >
          {{ $currencyWithPrecision(item.Dollars, 'USD', 0) }}
        </div>
        <common-rich-text-editor-view
          :value="item.Overview"
        />
        <!-- <div
          class="trsText--text text-body-1 text--lighten-1 mb-2"
        >
          {{ getTerms(item) }}
        </div> -->
      </v-col>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-1 font-italic px-2">
          Not Available
        </div>
      </div>
    </v-row>

    <div v-else>
      <!-- Empty overview -->
      <v-row
        dense
        class="mb-2"
      >
        <v-col
          v-for="(item, index) in data"
          :key="index"
          cols="12"
          class="pt-lg-0 pt-md-0"
        >
          <div
            class="text-h3 mb-1 primary--text"
          >
            <a
              v-if="item.FundURL"
              :key="index"
              :href="item.FundURL"
              rel="noopener noreferrer"
              target="_blank"
              class="primary--text text-body-1 text-decoration-none"
            >
              {{ item.Name }}
            </a>
          </div>
          <div
            v-if="item.Dollars"
            class="trsText--text text-body-1 text--lighten-1 mb-2"
          >
            {{ $currencyWithPrecision(item.Dollars, 'USD', 0) }}
          </div>
        </v-col>
      </v-row>
      <div v-if="(mode == CONSTS.DR_MODES.DILIGENCE) && notAvailable">
        <div class="trs--text text-body-2 font-italic">
          Not Available
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  // import MoreText from '@/components/common/utils/MoreText'
  export default {
    name: 'SponsorPriorFund',

    components: {
      CommonRichTextEditorView,
      // MoreText,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnOverview: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      form: null,
      data: [],
      mode: null,
      notAvailable: true,
    }),

    computed: {

    },

    created () {
      this.mode = this.service.getDrMode.call(this)
      this.loadData()
    },

    methods: {
      getTerms (item) {
        return [item.IRR, item.NetReturn, item.GrossReturn]
          .filter(ele => !!ele)
          .map(ele => this.$currencyWithPrecision(ele, 'USD', 0))
          .join(', ')
      },
      loadData () {
        // Load information
        this.form = this.service.getFormData('fund-sponsor')
        if (this.form) {
          this.data = this.form['FDRSS.PF']
        }
        this.data = this.$extractDotFromArray(this.data)
        // Set notAvailable
        this.notAvailable = !this.data || this.data.length === 0 || !this.data[0].FundURL || !this.data[0].Name || !this.data[0].Dollars
        if (this.notAvailable && this.mode === this.CONSTS.DR_MODES.PRESENTATION) {
          this.$root.$emit('dr-hideTabs', 'sponsor-prior-fund', true)
          this.$root.$emit('dr-hideListItem', 'sponsor-prior-fund', true)
        }
        if (this.notAvailable) {
          this.$root.$emit('dr-hideReadMore', 'sponsor-prior-fund', true)
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
