<template>
  <v-container
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <v-row
        v-if="portal === CONSTS.PORTAL.FID_ADMIN"
      >
        <v-col
          class="tab-information"
        >
          <v-tabs
            v-model="currentTab"
          >
            <v-tab
              key="answers"
            >
              Investor Communication
            </v-tab>
            <v-tab
              key="questions"
            >
              My Communications
            </v-tab>
            <v-tabs-items
              v-model="currentTab"
              class="transparent"
            >
              <v-tab-item
                key="answers"
                class="py-2"
              >
                <fid-communication-list-wrapper
                  :pre-filters="{ opportunity_id: opportunity.id }"
                  :show-create-item="false"
                  :hide-filter="true"
                >
                  <template v-slot:item="{ item, update }">
                    <communication-card-item
                      :item="item"
                      :can-reply="true"
                      :can-delete="false"
                      :show-badge="true"
                      :hide-own-ans-by="true"
                      :show-oppo-name="false"
                      @update="update"
                    />
                  </template>
                </fid-communication-list-wrapper>
              </v-tab-item>
              <v-tab-item
                key="questions"
                class="py-2"
              >
                <communication-list-wrapper
                  :pre-filters="{ opportunity_id: opportunity.id }"
                  :show-create-item="true"
                >
                  <template v-slot:item="{ item, update, remove }">
                    <communication-card-item
                      :item="item"
                      :can-reply="false"
                      :show-oppo-name="false"
                      @update="update"
                      @remove="remove"
                    />
                  </template>
                </communication-list-wrapper>
              </v-tab-item>
            </v-tabs-items>
          </v-tabs>
        </v-col>
      </v-row>
      <v-row
        v-else
        dense
      >
        <v-col
          cols="12"
          sm="12"
          class="tab-information"
        >
          <communication-list-wrapper
            :base="base"
            :pre-filters="{ opportunity_id: opportunity.id }"
            :show-create-item="canCreate"
          >
            <template v-slot:item="{ item, update, remove }">
              <communication-card-item
                :item="item"
                :can-reply="canReply"
                :can-delete="canDelete"
                :show-oppo-name="false"
                @update="update"
                @remove="remove"
              />
            </template>
          </communication-list-wrapper>
        </v-col>
      </v-row>
    </div>

    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        :is-on-discussion-tab="true"
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import FidCommunicationListWrapper from '@/components/common/communication/FidAdminListWrapper'
  import SideBar from './SidebarV1'
  export default {
    name: 'Users',

    components: {
      CommunicationListWrapper: () => import('@/components/common/communication/ListWrapper'),
      CommunicationCardItem: () => import('@/components/common/communication/CardItem'),
      FidCommunicationListWrapper,
      SideBar,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      portal: {
        type: String,
        required: true,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
    },

    data: () => ({
      currentTab: 0,
    }),

    computed: {
      base () {
        if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          return 'tenant'
        }
        return ''
      },
      canReply () {
        return this.portal === this.CONSTS.PORTAL.ISSUER
      },
      canDelete () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR || this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      canCreate () {
        return this.portal === this.CONSTS.PORTAL.INVESTOR || this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
    },
    methods: {
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
