<template>
  <v-container v-if="loading">
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
  </v-container>

  <v-container
    v-else
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
    :style="{
    }"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <component
        :is="hasCrowdsmart ? 'common-trs-page-nav-horizontal': 'div'"
        v-if="portal === CONSTS.PORTAL.FID_ADMIN"
      >
        <common-tab v-if="hasCrowdsmart">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span v-on="on">Shared</span>
            </template>
            <div>
              Shared thoughts for this opportunity from <br>investors and fiduciary administrators.
            </div>
          </v-tooltip>
        </common-tab>
        <common-tab v-if="hasCrowdsmart">
          Private
        </common-tab>
        <v-tab-item
          v-if="hasCrowdsmart"
          class="mx-5"
        >
          <crowdsmart-report-pane
            :report-data="report"
            :is-raodshow="isRaodshow"
          />
        </v-tab-item>
        <component
          :is="hasCrowdsmart ? 'v-tab-item': 'div'"
          class="mx-5"
        >
          <crowdsmart-report-pane
            v-if="privateReportCreated"
            :is-raodshow="isRaodshow"
            :report-data="privateReport"
          />
          <div
            v-else
            class="container d-flex flex-column align-start"
          >
            <label class="trsText--text text-body-1 text--light-1 mb-2">Do you want to initiate a private evaluation?</label>
            <common-trs-btn
              default
              type="primary"
              :loading="privateLoading"
              class="mr-0 white--text"
              @click="createPrivateEval"
            >
              Yes
            </common-trs-btn>
          </div>
        </component>
      </component>
      <div v-if="portal === CONSTS.PORTAL.INVESTOR">
        <crowdsmart-report-pane
          :report-data="report"
          :is-raodshow="isRaodshow"
        />
      </div>
    </div>
  </v-container>
</template>
<script>
  import CrowdsmartReportPane from './components/CrowdsmartReportPane'

  export default {
    name: 'CrowdsmartReport',
    components: {
      CrowdsmartReportPane,
    },
    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      isRaodshow: {
        type: Boolean,
        default: () => false,
      },
      portal: {
        type: String,
        default: '',
      },
    },
    data () {
      return {
        tab: '',
        privateLoading: false,
        loading: false,
        report: null,
        privateReport: null,
      }
    },
    computed: {
      privateReportCreated () {
        return this.opportunity.details.is_crowdsmart_private_evaluation_created
      },
      hasCrowdsmart () {
        return this.opportunity.details.crowdsmart && (this.opportunity.details.crowdsmart.integrated === 'yes')
      },
    },
    mounted () {
      this.load()
    },
    methods: {
      async load () {
        this.loading = true
        if (this.hasCrowdsmart) {
          this.report = await this.service.getCrowdsmartReport(this.opportunity.id)
        }
        if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          this.privateReport = await this.service.getCrowdsmartReport(this.opportunity.id, true)
        }
        this.loading = false
      },
      async createPrivateEval () {
        this.privateLoading = true
        try {
          await this.service.createCrowdsmartPrivateEval(this.opportunity.id)
          this.$store.dispatch('app/message', { text: 'Successfully created private evaluation.' })
          this.$emit('triggerAction', 'reloadOpportunity')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to create private evaluation',
          })
        }
        this.privateLoading = false
      },
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
