<template>
  <v-container
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <common-rich-text-editor-view
        :value="opportunity.description"
      />
      <div v-if="!opportunity.description">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </div>
    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import CommonRichTextEditorView from '@/components/common/rich-text-editor/Viewer'
  import SideBar from './SidebarV1'
  export default {
    name: 'CommonDigitalRoadshowLandingTabsCustom',

    components: {
      CommonRichTextEditorView,
      SideBar,
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
      formDataLoading: {
        type: Boolean,
        required: false,
      },
    },
    data: () => ({
      mode: null,
    }),
    created () {
      this.mode = this.service.getDrMode.call(this)
    },
    methods: {
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
<style lang="scss">
</style>
