<template>
  <v-container
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
  >
    <div
      class="flex-fill pr-md-10 pl-md-2"
      style="min-width: 0px"
    >
      <documents-index
        :id="id"
        :title="'Documents'"
        :opportunity="opportunity"
        :is-opportunity-approved="isOpportunityApproved"
        :is-document-seen="isDocumentSeen"
        :investment-done="investmentDone"
        :can-edit="canEdit"
        :status="status"
        :already-viewed-docs="alreadyViewedDocs"
        :is-roadshow="true"
      />
    </div>

    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import DocumentsIndex from '../../documents/Index'
  import SideBar from './SidebarV1'
  export default {
    name: 'CommonDigitalRoadshowLandingTabsCustom',

    components: {
      DocumentsIndex,
      SideBar,
    },

    props: {
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      id: {
        type: String,
        required: true,
      },
      canEdit: {
        type: Boolean,
        default: true,
      },
      status: {
        type: Object,
        required: false,
      },
      alreadyViewedDocs: {
        type: Object,
        required: false,
      },
      opportunity: {
        type: Object,
        required: true,
      },
      reloadAll: {
        type: Boolean,
        default: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
    },
    data: () => ({
    }),
    created () {
    },
    methods: {
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
<style lang="scss">
</style>
