<template>
  <v-container>
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          v-if="loading"
          class="ml-2"
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col
        v-if="document"
        cols="12"
      >
        <common-app-page-header
          :has-back-button="false"
          title="Deal Document"
        >
          <template v-slot:actions>
            <common-trs-btn
              :download="''"
              target="_blank"
              rel="noopener noreferrer"
              :href="document.signed_url"
              class="mr-2 primary--text"
              type="secondary"
              text
              outlined
            >
              <v-icon class="mr-2 icon-download-outlined" />
              Download
            </common-trs-btn>
            <common-common-side-modal
              v-if="InvestorOpportunityDeal && status.canDealSign"
              title="Sign Deal Document"
              class="ml-auto"
            >
              <template v-slot:activator="{ on }">
                <common-trs-btn
                  type="primary"
                  class="px-3 white--text"
                  v-on="on"
                >
                  View
                </common-trs-btn>
              </template>
              <template v-slot="{ }">
                <component
                  :is="InvestorOpportunityDeal"
                  v-if="InvestorOpportunityDeal"
                  :opportunity="{ opportunity }"
                  roadshow
                />
              </template>
            </common-common-side-modal>
          </template>
        </common-app-page-header>
      </v-col>
    </v-row>

    <div class="mb-4" />

    <common-common-preview-file
      v-if="document"
      :url="document.signed_url"
      :mime-type="document.mime_type"
    />
  </v-container>
</template>

<script>
  import { api } from '@/api'

  export default {
    name: 'DealDocument',

    components: {
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: true,
      },
      portal: {
        type: String,
        required: true,
      },
    },

    data: () => ({
      loading: false,
      esinging: false,
      document: null,
    }),

    computed: {
      InvestorOpportunityDeal () {
        try {
          const c = require('@/views/dashboard/opportunities/components/OpportunityDeal').default
          return c
        } catch (err) {
          return null
        }
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true
        let apiResponse = {}
        try {
          switch (this.portal) {
            case this.CONSTS.PORTAL.ISSUER:
              apiResponse = await api.get(`opportunities/${this.opportunity.id}/deal-document`)
              this.document = apiResponse.data.deal_document
              break
            case this.CONSTS.PORTAL.FID_ADMIN:
            case this.CONSTS.PORTAL.INVESTOR:
              this.document = this.opportunity.deal_document
              break
            default:
              break
          }
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load deal document',
          })
        }
        this.loading = false
      },
    },
  }
</script>
