<template>
  <v-container v-if="formDataLoading">
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
  </v-container>
  <v-container
    v-else
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
    :style="{}"
  >
    <div class="flex-fill pr-md-15 pl-md-5">
      <tab-nav
        v-if="financials"
        :menu-items="menuItems"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :financials="financials"
        :service="service"
        :status="status"
      />
      <financials-report
        v-if="(financialStatement && financialStatement.signed_url)"
        :url="financialStatement.signed_url"
        :download-allowed="financialStatement && financialStatement.details && financialStatement.details.download_allowed"
        text="Download Full Report"
      />
    </div>
    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import TabNav from './TabNavV1'
  import FinancialsBalanceSheet from './components/FinancialsBalanceSheet'
  import FinancialsCashFlow from './components/FinancialsCashFlow'
  import FinancialsIncomeStatements from './components/FinancialsIncomeStatements'
  import FinancialsReport from './components/FinancialsReport'
  import SideBar from './SidebarV1'
  export default {

    components: {
      TabNav,
      SideBar,
      FinancialsReport,
    },

    props: {
      opportunity: {
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      formDataLoading: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
      menuItems: [
        { id: 'financials-income-statements', label: 'Income Statement', comps: FinancialsIncomeStatements },
        { id: 'financials-balance-sheet', label: 'Balance Sheet', comps: FinancialsBalanceSheet },
        { id: 'financials-cash-flow', label: 'Cash Flow', comps: FinancialsCashFlow },
      ],
      currentView: null,
      loading: false,
      financials: null,
      financialStatement: null,
    }),

    computed: {
      TabContentComponent () {
        if (typeof this.currentView !== 'undefined' && this.menuItems[this.currentView]) {
          return this.menuItems[this.currentView].comps
        }
        return null
      },
    },

    created () {
      this.loadData()
    },

    methods: {
      setCurrentView (view) {
        const menuItem = this.menuItems.findIndex(item => item.id === view)
        this.currentView = menuItem
      },
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
      async loadData () {
        const data = await this.service.getFinancials(this.opportunity.id, null)
        this.financials = data

        const form = this.service.getFormData('financials') || {}
        const statement = form['DRS.F.FI.Model']

        const getDocFunc = this.service.portal === this.CONSTS.PORTAL.ISSUER
          ? this.service.getDocumentById
          : (docId) => this.service.getDocumentsByOppAndId(this.opportunity.id, docId).then(data => data.dataroom_document)

        if (statement) {
          const doc = await getDocFunc(statement)
          this.financialStatement = doc
        }
      },
    },
  }
</script>
