<template>
  <v-container v-if="formDataLoading">
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
  </v-container>
  <v-container
    v-else
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
    :style="{}"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <tab-nav
        :menu-items="menuItems"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
      />
    </div>

    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import TabNav from './TabNavV1'
  import IssuerCompanyStory from './components/IssuerCompanyStoryV1'
  import IssuerManagementTable from './components/IssuerManagementTableV1'
  import IssuerLeadInvestors from './components/IssuerLeadInvestorsV1'
  import IssuerCustomers from './components/IssuerCustomersV1'
  import IssuerCaptable from './components/IssuerCaptable'
  import IssuerFundingHistory from './components/IssuerFundingHistoryV1'
  import IssuerBoardOfDirectors from './components/IssuerBoardOfDirectorsV1'
  import SideBar from './SidebarV1'
  export default {
    name: 'TabIssuerV1',
    components: {
      TabNav,
      SideBar,
    },
    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      formDataLoading: {
        type: Boolean,
        required: true,
      },
    },
    data: () => ({
      menuItems: [
        { id: 'comp', label: 'Company Story', comps: IssuerCompanyStory },
        { id: 'management-table', label: 'Management Team', comps: IssuerManagementTable },
        { id: 'board-of-directors', label: 'Board Of Directors', comps: IssuerBoardOfDirectors },
        { id: 'lead-investors', label: 'Lead Investors', comps: IssuerLeadInvestors },
        { id: 'funding-history', label: 'Funding History', comps: IssuerFundingHistory },
        { id: 'customers', label: 'Customers', comps: IssuerCustomers },
        { id: 'captable', label: 'Cap Table', comps: IssuerCaptable, hasOverview: false },
      ],
      currentView: null,
      loading: false,
      forms: [],
    }),

    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      TabContentComponent () {
        if (typeof this.currentView !== 'undefined' && this.menuItems[this.currentView]) {
          return this.menuItems[this.currentView].comps
        }
        return null
      },
    },
    mounted () {
      this.$root.$on('dr-hideTabs', (id, value) => {
        this.menuItems = this.menuItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              isHidden: value,
            }
          }
          return item
        })
      })
    },

    methods: {
      setCurrentView (view) {
        const menuItem = this.menuItems.findIndex(item => item.id === view)
        this.currentView = menuItem
      },
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
