<template>
  <v-container v-if="formDataLoading">
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
  </v-container>
  <v-container
    v-else
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
    :style="{
    }"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <tab-nav
        :menu-items="menuItems"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
      />
    </div>
    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import TabNav from './TabNavV1'

  import OppProductServices from './components/OppProductServices'
  import OppMarketInformation from './components/OppMarketInformation'
  import OppUseOfFunds from './components/OppUseOfFunds'
  import OppFutureMilestones from './components/OppFutureMilestones'

  import SideBar from './SidebarV1'
  export default {
    name: 'TabOpportunity',

    components: {
      TabNav,
      SideBar,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      formDataLoading: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
      menuItems: [
        { id: 'use-of-funds', label: 'Use of Funds', comps: OppUseOfFunds, hasOverview: false },
        { id: 'future-milestones', label: 'Future Milestones', comps: OppFutureMilestones },
        { id: 'product-services', label: 'Products & Services', comps: OppProductServices },
        { id: 'market-information', label: 'Market Information', comps: OppMarketInformation },
      ],

      loading: false,
      forms: [],
    }),

    computed: {
    },

    created () {
    },

    mounted () {
    },

    methods: {
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
