<template>
  <v-container v-if="formDataLoading">
    <v-row>
      <v-col class="text-center pa-0">
        <v-progress-circular
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
  </v-container>
  <v-container
    v-else
    class="d-flex pt-6"
    style="position: relative; z-index: 1;"
    :style="{
    }"
  >
    <div class="flex-fill pr-md-10 pl-md-2">
      <tab-nav
        :menu-items="menuItems"
        :is-on-mobile="isOnMobile"
        :opportunity="opportunity"
        :service="service"
        :status="status"
      />
    </div>
    <div
      v-if="!isOnMobile"
      class="pl-5"
      :style="{
        'min-width': '300px',
        'width': '300px',
      }"
    >
      <side-bar
        @triggerAction="triggerAction"
      />
    </div>
  </v-container>
</template>

<script>
  import TabNav from './TabNavV1'
  import OppMarketInformationFund from './spv/OppMarketInformationFund'
  import OppUseOfFundsFund from './spv/OppUseOfFundsFund'
  import OppInvestmentTeamFund from './spv/OppInvestmentTeamFund'
  import OppCurrentInvestmentFund from './spv/OppCurrentInvestmentFund'
  import SideBar from './SidebarV1'
  export default {
    name: 'TabOpportunity',

    components: {
      TabNav,
      SideBar,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      formDataLoading: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
      menuItems: [
        { id: 'use-of-funds', label: 'Fund Structure', comps: OppUseOfFundsFund },
        { id: 'investment-team', label: 'Investment Team', comps: OppInvestmentTeamFund },
        { id: 'market-information', label: 'Market Information', comps: OppMarketInformationFund },
        { id: 'current-investment', label: 'Current Investment', comps: OppCurrentInvestmentFund },
      ],
      currentView: null,

      loading: false,
      forms: [],
    }),

    computed: {
      TabContentComponent () {
        if (typeof this.currentView !== 'undefined' && this.menuItems[this.currentView]) {
          return this.menuItems[this.currentView].comps
        }
        return null
      },
    },

    created () {
    },
    mounted () {
      this.$root.$on('dr-hideTabs', (id, value) => {
        this.menuItems = this.menuItems.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              isHidden: value,
            }
          }
          return item
        })
      })
    },

    methods: {
      setCurrentView (view) {
        const menuItem = this.menuItems.findIndex(item => item.id === view)
        this.currentView = menuItem
      },
      triggerAction (actionName, ...args) {
        this.$emit('triggerAction', actionName, ...args)
      },
    },
  }
</script>
