<template>
  <div class="o-badge">
    <v-icon
      color="#fff"
      size="10"
    >
      {{ icon }}
    </v-icon>
    <span class="font-weight-light">{{ text }}</span>
  </div>
</template>

<script>
  export default {
    name: 'CommonDigitalRoadshowLandingTabsOverview',

    components: {
    },

    props: {
      icon: {
        type: String,
        default: 'mdi-check',
      },
      text: {
        type: String,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
  .o-badge {
    width: 40px;
    height: 40px;
    padding: 4px;
    background: #75a466;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 10px;
  }
</style>
