<template>
  <v-container class="mt-1">
    <v-row>
      <v-col
        cols="12"
        md="2"
        class="pr-lg-5"
      >
        <overview-key-value
          v-if="!formDataLoading"
          :opportunity="opportunity"
          :service="service"
        />
      </v-col>
      <v-col
        cols="12"
        md="10"
        class="description pl-lg-15 mt-0 pb-0"
      >
        <div>
          <pre-action-indicator
            v-if="lockUnlockOpp"
            title="Unlock this Opportunity"
            description="The following opportunity contains sensitive information that has been curated by the issuer."
            btn-label="sign NDA"
            :icon="require('../../assets/doc-sign.svg')"
            :show-spin="status.ndaSignInProgress"
            :in-progress="!!preActionMessage"
            :progress-text="preActionMessage"
            @click-btn="$emit('triggerAction', 'showNdaConfirmModal')"
          >
            <template
              v-slot:chat-bubble
            >
              <direct-upload-nda-chat
                :status="status"
                :opportunity="opportunity"
                :upload-allowed="false"
                :show-send-btn="true"
                :notes="notes"
                @triggerAction="$emit('triggerAction', 'reloadOpportunity')"
                @close="$emit('close')"
              >
                <template v-slot:activator="{ on, attrs }">
                  <div
                    v-if="!checkPortal"
                    style="min-width: 20px"
                  >
                    <v-icon
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="getInvestorNotes(opportunity.id)"
                    >
                      mdi-message-text
                    </v-icon>
                    <v-badge
                      v-if="opportunity.new_note"
                      class="new-note-badge ml-1 mb-4"
                      dot
                      color="blue lighten-1"
                      overlap
                    />
                  </div>
                </template>
              </direct-upload-nda-chat>
            </template>
            <template v-slot:action-btn>
              <direct-upload-nda-chat
                v-if="status.ndaDeclined"
                :status="status"
                :opportunity="opportunity"
                :upload-allowed="false"
                :show-send-btn="true"
                :notes="notes"
                @triggerAction="$emit('triggerAction', 'reloadOpportunity')"
                @close="$emit('close')"
              >
                <template v-slot:activator="{ on, attrs }">
                  <div class="d-flex">
                    <div>
                      <div
                        class="mr-1 text-h4 primary--text mb-2"
                        v-bind="attrs"
                      >
                        NDA was declined
                      </div>
                    </div>
                    <div v-if="!checkPortal">
                      <v-icon
                        small
                        v-bind="attrs"
                        v-on="on"
                        @click="getInvestorNotes(opportunity.id)"
                      >
                        mdi-message-text
                      </v-icon>
                      <v-badge
                        v-if="opportunity.new_note"
                        class="new-note-badge ml-1 mb-4"
                        dot
                        color="blue lighten-1"
                        overlap
                      />
                    </div>
                  </div>
                </template>
              </direct-upload-nda-chat>
              <nda-btns
                :opportunity="opportunity"
                :portal="portal"
                :status="status"
                :notes="notes"
                v-on="$listeners"
                @triggerAction="$emit('triggerAction', 'reloadOpportunity')"
                @getInvestorNotes="getInvestorNotes"
              />
            </template>
          </pre-action-indicator>
        </div>
        <v-container v-if="formDataLoading">
          <v-row class="mt-3">
            <v-col class="text-center pa-0">
              <v-progress-circular
                color="primary"
                indeterminate
              />
            </v-col>
          </v-row>
        </v-container>
        <div v-else>
          <slot name="content">
            <overview-fab-details
              v-if="opportunity"
              :opportunity="opportunity"
            />
            <overview-company-description
              :is-on-mobile="isOnMobile"
              :opportunity="opportunity"
              :service="service"
              :status="status"
            />
            <overview-terms
              :opportunity="opportunity"
              :service="service"
            />
            <overview-countries-of-operation
              :opportunity="opportunity"
              :service="service"
            />
            <overview-media-gallery
              :opportunity="opportunity"
              :service="service"
            />
            <!-- <common-rich-text-editor-view
              :value="opportunity.description"
            /> -->
          </slot>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import * as directNdaService from '@/components/common/services/directNda'
  import DirectUploadNdaChat from '@/components/common/components/DirectUploadNdaChat'
  import OverviewKeyValue from './components/OverviewKeyValue'
  import PreActionIndicator from '../components/PreActionIndicator'
  import OverviewFabDetails from './components/OverviewFabDetails'
  import OverviewCompanyDescription from './components/OverviewCompanyDescription'
  import OverviewCountriesOfOperation from './components/OverviewCountriesOfOperation'
  import OverviewMediaGallery from './components/OverviewMediaGallery'
  import OverviewTerms from './components/OverviewTerms'
  import NdaBtns from '../actions/NdaBtns'

  export default {
    name: 'CommonDigitalRoadshowLandingTabsOverview',

    components: {
      // CommonRichTextEditorView: () => import('@/components/common/rich-text-editor/Viewer'),
      DirectUploadNdaChat,
      OverviewKeyValue,
      PreActionIndicator,
      OverviewFabDetails,
      OverviewCompanyDescription,
      OverviewCountriesOfOperation,
      OverviewMediaGallery,
      OverviewTerms,
      NdaBtns,
    },

    props: {
      isOpportunityApproved: {
        type: Boolean,
      },
      isDocumentSeen: {
        type: Boolean,
      },
      investmentDone: {
        type: Boolean,
      },
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: false,
      },
      formDataLoading: {
        type: Boolean,
        required: false,
      },
    },
    data () {
      return {
        notes: [],
      }
    },
    computed: {
      checkPortal () {
        return this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      lockUnlockOpp () {
        if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          return !this.status.isSecondary && this.status.ndaStatusMessage !== '' && !this.isOpportunityApproved
        } else if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          return !this.status.isSecondary && this.status.ndaStatusMessage !== '' && (!this.investmentDone || !this.isDocumentSeen)
        } else {
          return !this.status.isSecondary && this.status.ndaStatusMessage !== ''
        }
      },
      preActionMessage () {
        if (this.status.ndaSignInProgress) {
          let suffix = ''
          if (this.opportunity.is_nda_pre_signed) {
            suffix = '. Please refresh your browser after 1 minute.'
          }
          return 'NDA Sign In progress' + suffix
        }
        if (this.status.ndaSigned && !this.status.ndaCounterSigned) {
          return 'Waiting for counter signature from the issuer. This may take up to 24 hours.'
        }
        return ''
      },
    },
    methods: {
      async getInvestorNotes (id) {
        this.loading = true
        try {
          const response = await directNdaService.getInvestorNotes(id, { base: 'tenant' })
          this.notes = response.notes
          // this.$emit('triggerAction', 'reloadOpportunity')
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load data',
          })
        }
        this.loading = false
      },
    },
  }
</script>
<style lang="scss">
  .issuer-summary,
    .opp-summary {
      border-top: 1px solid var(--v-trsText-lighten1);
      position: relative;
      padding-top: 12px;
    }
  .badge-container {
    position: absolute;
    right: -20px;
    top: 0px;
  }
</style>
