<template>
  <div>
    <a
      v-for="(item, index) in items"
      :key="index"
      :href="`#${menuItems[index].id}`"
      :class="{ activeC: active_el == menuItems[index].id }"
      class="item-anchor"
      @click="activate(menuItems[index].id)"
    >
      <v-tooltip right>
        <template v-slot:activator="{ on, attrs }">
          <div
            v-bind="attrs"
            class="circle-dot mb-2 cursor-pointer"
            v-on="on"
          />
        </template>
        <span>{{ menuItems[index].label }}</span>
      </v-tooltip>
    </a>
  </div>
</template>

<script>
  export default {
    name: 'SideNavAnchor',
    components: {
    },

    props: {

      isOnMobile: {
        type: Boolean,
        required: true,
      },
      menuItems: {
        type: Array,
        default: () => ([]),
      },

    },

    data: () => ({
      active_el: 1,
      mode: null,
      items: [],
    }),

    computed: {

    },

    watch: {
      menuItems: {
        handler (val) {
          if (val) {
            this.items = val.map(ele => {
              const inheritProps = {
                id: ele.id,
              }
              if (ele.hasOverview === false) {
                inheritProps.hasOverview = ele.hasOverview
              }

              return {
                isHidden: false,
                hideListItem: false,
                col: 12,
                md: 12,
                lg: 12,
                onOverview: true,
                hasOverview: true,
                // inherit from original menu items
                ...inheritProps,
              }
            })
          }
        },
        immediate: true,
      },
    },

    created () {
      this.$root.$on('dr-hideTabs', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              isHidden: value,
            }
          }
          return item
        })
      })
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })
      this.$root.$on('dr-hideReadMore', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideReadMore: value,
            }
          }
          return item
        })
      })
      // this.mode = this.service.getDrMode.call(this)
    },
    methods: {
      toggleOverview (selectedItem) {
        this.items = this.items.map(item => {
          if (selectedItem.id === item.id) {
            return {
              ...item,
              onOverview: !item.onOverview,
            }
          } else {
            return item
          }
        })
      },
      activate: function (el) {
        this.active_el = el
      },
    },
  }
</script>

<style lang="scss" >
  .anchor-container {
    position: fixed;
    top: 60%;
    left: 45px;
    z-index: 9999;
    .circle-dot {
      width: 18px;
      height: 18px;
      background-color: var(--v-trsBack-lighten3);
      border: 2px solid #B9C5C7;
      border-radius: 50%;

      &:hover {
        border-color: var(--v-primary-base);
      }
      // &.activeC, &:active {
      //   background-color: var(--v-primary-base);
      //   border-color: var(--v-primary-base);
      // }
    }

    .activeC {
      .circle-dot {
        background-color: var(--v-primary-base);
        border-color: var(--v-primary-base);
      }
    }
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 37px;
  }
  @media (min-width:1460px) and (max-width:1904px) {
    .anchor-container {
      left: 80px!important;
    }
  }
</style>
