<template>
  <div :class="{'fixed-position': scrollPosition > 360}">
    <div class="d-flex flex-column">
      <div v-if="!isOnDiscussionTab">
        <div class="divider mb-2" />
        <div class="trsText--text text--lighten-1 text-body-2 font-weight-bold">
          Have a question about the opportunity?
        </div>
        <div class="trsText--text text--lighten-1 text-caption my-2">
          If you have a question about the opportunity you can submit questions to the issuer.
        </div>
        <common-trs-btn
          type="secondary"
          class="align-self-start"
          @click="submitQuestion"
        >
          <span>SUBMIT QUESTION</span>
        </common-trs-btn>
      </div>
      <div
        class="divider mb-2"
        :class="isOnDiscussionTab ? '' : 'mt-4'"
      />
      <div class="trsText--text text--lighten-1 text-body-2 font-weight-bold">
        Do you have technical difficulties or questions about the process?
      </div>
      <div class="trsText--text text--lighten-1 text-caption my-2">
        If you have a question about the Trellis platform or submitting an interest in investments, you can contact with any questions.
      </div>
      <common-trs-btn
        type="secondary"
        class="align-self-start"
        :href="contactLink"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>CONTACT</span>
      </common-trs-btn>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'SidebarV1',
    props: {
      isOnDiscussionTab: {
        type: Boolean,
        default: false,
      },
    },
    data: function () {
      return {
        scrollPosition: null,
      }
    },
    computed: {
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      contactLink () {
        return `mailto:${this.$getPublicBrandingHelpAddress()}`
      },
    },
    mounted () {
      window.addEventListener('scroll', this.updateScroll)
    },
    methods: {
      updateScroll () {
        this.scrollPosition = window.scrollY
      },

      submitQuestion () {
        this.$emit('triggerAction', 'showTab', 'communication')
      },
    },
    destroy () {
      window.removeEventListener('scroll', this.updateScroll)
    },
  }
</script>
<style lang="scss" scoped>
  .divider {
    border-bottom: 1px solid var(--v-trsBack-base);
  }
  .v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0 29px!important;
  }
  .fixed-position {
    position: fixed;
    top: 61px;
    width: 282px;
  }
</style>
