<template>
  <v-container class="pb-md-0 pb-lg-0 subscription d-flex">
    <div class="flex-fill pr-md-15 pl-md-5">
      <v-row>
        <v-col
          cols="12"
          class="tab-information"
        >
          <subscription-deal-history
            :investments="investments"
            :investment="investment"
            :opportunity="opportunity"
            :opportunity-status="status"
            :step-completed="stepCompleted"
            :is-deal-doc-available="isDealDocAvailable"
            @triggerAction="triggerAction"
            @create="createNewInvestment"
            @select-investment="selectInvestment"
          />
          <v-progress-circular
            v-if="loading"
            color="primary"
            indeterminate
            class="mt-5"
          />
          <div
            v-if="investment"
            class="my-5 trsText--text text--lighten-1 text-h3 font-weight-bold"
          >
            <span v-if="!investment.id">New Investment</span>
            <span v-if="investment.id">
              Continue Investment ({{ $currency(investment.investment_amount) }})
            </span>
          </div>
          <div class="mb-10">
            <subscription-entity-selection
              v-if="investment"
              :investment="investment"
              :entities="entities"
              @select-entity="selectInvestEntity"
            />
            <subscription-audience-selection
              v-if="investment &&
                (opportunity && opportunity.deal_document && opportunity.deal_document.length > 1)
                && !isSelectedAudDeleted"
              :investment="investment"
              :opportunity="opportunity"
              :entities="entities"
              @select-audience="selectAudience"
            />
            <subscription-custodian-selection
              v-if="opportunity.details.custody_enabled"
              :investment="investment"
              :opportunity="opportunity"
              :custodian="custodian"
              @select-custodian="selectCustodian"
            />
          </div>
          <div
            v-if="showIndividualKYC"
            style="width: 100px"
            class="mb-2"
          >
            <begin-k-y-c-btn
              :is-on-subscription="true"
            />
          </div>
          <div
            v-for="(step, sidx) of steps"
            :key="sidx"
            class="px-5 pt-6 pb-4 d-flex step-item mb-4"
          >
            <div class="step-icon mr-5">
              <common-trs-icon
                :name="step.icon"
                :size="49"
                :color="stepCompleted[sidx] ? 'primary': 'grey'"
              />
            </div>
            <div class="flex-fill d-flex flex-column ml-2">
              <label
                class="text-h4 font-weight-medium"
                :class="stepCompleted[sidx] ? 'primary--text': 'trsText--text text--lighten-1'"
              >
                {{ sidx + 1 }}. {{ step.title }}
              </label>
              <p class="trsText--text text-h4 mt-1 mb-3">
                {{ step.description }}
              </p>
              <component
                :is="step.component"
                v-if="step.component"
                :investment="investment"
                :opportunity="opportunity"
                :service="service"
                :portal="portal"
                :intended-audience="intendedAudience"
                :custodian="custodian"
                :investor-custodian="investorCustodian"
                :investor-custodian-balance="investorCustodianBalance"
                :extra-data="step.extraData"
                @triggerAction="triggerAction"
                @completed="setCompleted(sidx, $event)"
              />
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
    <div
      class="pl-5"
      style="min-width: 300px; width: 300px;"
    >
      <subscription-sidebar
        v-on="$listeners"
      />
    </div>
  </v-container>
</template>
<script>
  import SubscriptionDealHistory from './components/SubscriptionDealHistory'
  import SubscriptionSidebar from './components/SubscriptionSidebar'
  import SubscriptionEntitySelection from './components/SubscriptionEntitySelection'
  import SubscriptionCustodianSelection from './components/SubscriptionCustodianSelection'
  import SubscriptionReviewDocuments from './components/SubscriptionReviewDocuments'
  import SubscriptionFillForm from './components/SubscriptionFillForm'
  import SubscriptionDocuSign from './components/SubscriptionDocuSign'
  import SubscriptionIssuerReview from './components/SubscriptionIssuerReview'
  import SubscriptionFundTransfer from './components/SubscriptionFundTransfer'
  import SubscriptionAdvisorReview from './components/SubscriptionAdvisorReview'
  import SubscriptionCertificate from './components/SubscriptionCertificate'
  import SubscriptionAudienceSelection from './components/SubscriptionAudienceSelection'
  import SubscriptionOpenCustody from './components/SubscriptionOpenCustody'
  import SubscriptionFundCustody from './components/SubscriptionFundCustody'
  import SubscriptionFundCustodyTransfer from './components/SubscriptionFundCustodyTransfer'
  import SubscriptionKyc from './components/SubscriptionKyc'
  import * as captableService from '@/components/common/captable/services/captable'
  import BeginKYCBtn from '../components/BeginKYCBtn'

  export default {
    name: 'SubscriptionPane',
    components: {
      SubscriptionDealHistory,
      SubscriptionEntitySelection,
      SubscriptionCustodianSelection,
      SubscriptionSidebar,
      SubscriptionAudienceSelection,
      BeginKYCBtn,
    },
    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      service: {
        validate: () => false,
      },
      status: {
        type: Object,
        required: false,
      },
      portal: {
        type: String,
        required: false,
      },
      investments: {
        type: Array,
        required: true,
      },
    },
    data: () => ({
      steps: [],
      loading: false,
      investment: null,
      entities: [],
      stepCompleted: {},
      intendedAudience: null,

      custodian: null,
      investorCustodian: null,
      investorCustodianBalance: null,

      captableEnabled: false,
    }),
    computed: {
      showIndividualKYC () {
        if (this.investment &&
          this.investment.entity &&
          this.investment.entity.type === this.CONSTS.ENTITY_TYPE.INDIVIDUAL &&
          !this.opportunity.details.kyc_post_subscription
        ) {
          return !this.profileData.has_ssn
        }
        return false
      },
      profileData () {
        return this.$store.getters['account/profile']
      },
      currentFid () {
        return this.$store.getters['auth/currentFid']
      },
      routeName () {
        return this.getRouteName()
      },
      isDealDocAvailable () {
        return this.opportunity && this.opportunity.deal_document && this.opportunity.deal_document.length > 0
      },
      isSelectedAudDeleted () {
        if (this.intendedAudience) {
          const data = this.opportunity.deal_document.find(d => d.intended_audience === this.intendedAudience)
          return !data
        } else {
          return false
        }
      },
    },
    watch: {
      routeName (action) {
        const route = this.CONSTS.ROUTES_MAPPING[action.navigate_to]
        if (action && action.navigate_to && route) {
          this.init()
        }
      },
      investments () {
        if (!this.investment) {
          this.init()
        }
      },
    },
    mounted () {
      this.updateIntendedAud()
      this.init()
      document.addEventListener('ws-message', this.wsMessageHandle)
    },
    destroyed () {
      document.removeEventListener('ws-message', this.wsMessageHandle)
    },
    methods: {
      wsMessageHandle (event) {
        try {
          if (this.CONSTS.DL_INVESTMENT_STATUS.DEAL_SIGNED === event.detail.data.payload['focus-item'] &&
            (event.detail.data.payload.resource_id === this.opportunity.id)) {
            this.selectInvestment(this.investment.id)
          } else if (event.detail.data.payload['focus-item'] === 'CUSTODIAN_SIGNED') {
            this.selectInvestment(this.investment.id)
          }
        } catch (err) {
          console.log('Socket message handle err: ', err)
        }
      },
      getRouteName () {
        return this.$store.getters['wsMessage/routeName']
      },
      async init () {
        this.loading = true
        try {
          await this.$store.dispatch('sharedData/updateOpportunityId', this.opportunity.id)
          await captableService.getTokenForTenant()
          this.captableEnabled = true
        } catch (err) {
          console.log(err)
        }

        await this.loadEntities()
        const initialInvestment = this.$route.query && this.$route.query.investment
          ? this.$route.query.investment
          : this.investments[0] && this.investments[0].trellis_iid
        if (initialInvestment) {
          const inv = this.investments.find(inv => `${inv.trellis_iid}` === `${initialInvestment}`)
          inv && await this.selectInvestment(inv.id)
        }
        this.loadSteps()
        this.loading = false
      },
      loadSteps () {
        // const completedOpenCustodyFlow = this.investorCustodian &&
        //   this.custodian &&
        //   !!this.investorCustodian.custodian_signed_document &&
        //   !!this.investorCustodian.custodian_signed_document.signed_url &&
        //   (!this.custodian.is_counter_signed_required ||
        //     (this.custodian.is_counter_signed_required && this.investorCustodian.custodian_counter_signed_document && this.investorCustodian.custodian_counter_signed_document.signed_url))
        const ALL_STEPS = [
          {
            icon: 'icon-Wealth-Management',
            title: 'Read Required Documents',
            description: '',
            component: SubscriptionReviewDocuments,
          },
          {
            icon: 'icon-Financing-Readiness',
            title: 'Complete & Review Contract',
            description: 'Trellis will pre-fill the investment contract with your information. Once you verify and/or edit your information, you can proceed to signature.',
            component: SubscriptionFillForm,
          },
          {
            icon: 'icon-Closing-Services',
            title: 'Advisor Review',
            description: `Your account requires ${this.currentFid?.fiduciary?.name} to review deals before they are final.`,
            component: SubscriptionAdvisorReview,
            // If Advisor review is not required, remove the step.
            hideIf: !!this.opportunity.auto_approve_deal,
          },
          {
            icon: 'icon-Financing-Readiness',
            title: 'Sign & Send Contract',
            description: 'Once the contract is signed and sent, the issuer will be notified and will counter-sign the contract.',
            component: SubscriptionDocuSign,
          },
          {
            icon: 'icon-Identity',
            title: 'Perform KYC/AML check',
            description: 'Issuers require KYC/AML checks prior to accepting an investment. Your signed investment will be sent for counter-signature once you have completed this process.',
            component: SubscriptionKyc,
            hideIf: !(this.opportunity.details.kyc_post_subscription &&
              !this.profileData.has_ssn),
          },
          {
            icon: 'icon-Closing-Services',
            title: 'Issuer Review',
            description: 'Once you complete the contract and sign it, the issuer will also sign the deal and notify you of fund transfer information.',
            component: SubscriptionIssuerReview,
          },
          {
            icon: 'icon-Closing-Services',
            title: 'Open Custody Account',
            description: 'Now that the deal documentation is fully executed, you will need to open your custody account to complete the transaction.',
            component: SubscriptionOpenCustody,
            // hide if custodian not selected for this investment
            // or investorCustodian is null and investorCustodianBalance is not null
            hideIf: !this.custodian ||
              (this.custodian &&
                !this.investorCustodian &&
                this.investorCustodianBalance &&
                this.investorCustodianBalance.custodian_account_status),
              // (this.custodian &&
              //   !completedOpenCustodyFlow &&
              //   this.investorCustodianBalance) ||
              // (this.custodian &&
              //   !this.investorCustodian &&
              //   this.investorCustodianBalance),
          },
          {
            icon: 'icon-Closing-Services',
            title: 'Fund Custody Account',
            description: 'Your custody account is open. You will need to fund your account to complete the transaction.',
            component: SubscriptionFundCustody,
            // hide if custodian not selected for this investment
            hideIf: !this.custodian,
            extraData: {
              issuerReviewCompleted: this.investment && this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.investment.status] >= this.CONSTS.DL_INVESTMENT_STATUS_STEPS[this.CONSTS.DL_INVESTMENT_STATUS.DEAL_EXECUTED],
            },
          },
          {
            icon: 'icon-Transaction-Services',
            title: 'Fund Transfer',
            description: 'Your cash balance is sufficient. Please approve fund transfer to complete the transaction.',
            component: SubscriptionFundCustodyTransfer,
            // hide if custodian not selected for this investment
            hideIf: !this.custodian,
          },
          {
            icon: 'icon-Transaction-Services',
            title: 'Fund Transfer',
            description: 'Once the contract is signed, You will see the routing information for the opportunity issuer.',
            component: SubscriptionFundTransfer,
            hideIf: this.custodian,
          },
          {
            icon: 'icon-Digital-Locker',
            title: this.captableEnabled ? 'Digital Stock Certificate Issued' : 'Congratulations, you have completed the transaction!',
            description: '',
            component: SubscriptionCertificate,
          },
        ]

        this.steps = ALL_STEPS.filter(step => !step.hideIf)
      },
      async loadEntities () {
        try {
          this.entities = await this.service.getOppWhiteListedEnities(this.opportunity.id)
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load entities',
          })
        }
      },
      createNewInvestment () {
        this.investment = {
          payments: [],
          data_list: [],
        }
        if (this.entities.length === 1) {
          this.$set(this.investment, 'entity', this.entities[0])
        }
        this.custodian = null
        this.investorCustodian = null
        this.investorCustodianBalance = null
        this.updateIntendedAud()
        this.loadSteps()
      },
      async selectInvestment (id) {
        this.loading = true
        try {
          this.investment = await this.service.getOneIvestment(id)
          const idx = this.investments.findIndex(inv => inv.trellis_iid === this.investment.trellis_iid)
          this.investments[idx] = this.investment
          this.intendedAudience = this.investment.details.intended_audience
          await this.loadCustodianData()
          this.loadSteps()
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load the investment',
          })
        }
        this.loading = false
      },
      async loadCustodianData () {
        this.custodian = null
        this.investorCustodian = null
        this.investorCustodianBalance = null
        if (this.investment) {
          this.custodian = this.investment.details.custodian
          if (this.custodian) {
            try {
              this.investorCustodian = await this.service.getInvestorCustodianById(this.custodian.id, this.investment.entity.trellis_uid)
            } catch (err) {
              // pass
            }
            try {
              this.investorCustodianBalance = await this.service.getInvestorCustodianBalance(
                this.investment.entity.trellis_uid,
                this.custodian.name,
              )
            } catch (err) {
              // pass
            }
          }
        }
      },
      selectInvestEntity (entityId) {
        const entity = this.entities.find(e => e.trellis_uid === entityId)
        this.$set(this.investment, 'entity', entity)
      },
      selectAudience (audience) {
        this.intendedAudience = audience
      },
      selectCustodian (custodian) {
        this.custodian = custodian
      },
      setCompleted (index, v) {
        this.$set(this.stepCompleted, index, v)
      },
      triggerAction (actionName, ...args) {
        switch (actionName) {
          case 'newInvestment':
            this.investments.unshift(args[0])
            this.selectInvestment(args[0].id)
            break
          case 'reloadInvestment':
            this.selectInvestment(this.investment.id)
            break
          case 'reloadOneInvestment':
            this.selectInvestment(args[0])
            break
          default:
            this.$emit('triggerAction', actionName, ...args)
        }
      },
      updateIntendedAud () {
        if (this.opportunity && this.opportunity.deal_document && this.opportunity.deal_document.length === 1) {
          this.intendedAudience = this.opportunity.deal_document[0].intended_audience
        } else {
          this.intendedAudience = null
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .step-item {
    border: 1px solid var(--v-trsBack-base);
    &:last-child {
      margin-bottom: 8px!important;
    }
  }
  .step-icon {
    width: 49px;
    height: 49px;
    border-radius: 10px;
  }
  .investment-history-card-pr {
    padding-right: 110px;
  }
</style>
