<template>
  <div>
    <div
      class="anchor-container"
    >
      <side-nav-anchor
        v-if="showAnchor"
        :menu-items="menuItems"
        :is-on-mobile="isOnMobile"
      />
    </div>
    <v-row>
      <v-col
        v-for="(item, index) in items"
        :key="index"
        :cols="item.col"
        :md="item.md"
        :lg="item.lg"
        class="pt-0 mb-2 tab-information"
      >
        <a
          :id="menuItems[index].id"
          class="target-tab-content"
        />
        <hr
          v-if="!item.hideListItem"
          class="mb-4 custom-hr-style"
        >
        <div
          v-if="!item.hideListItem"
          class="text-h3 trsText--text mb-2 pt-3 font-weight-bold"
        >
          {{ menuItems[index].label }}
        </div>
        <div
          :id="menuItems[index].id"
          class="tab-nav-content"
        >
          <component
            :is="menuItems[index].comps"
            v-if="!item.hideListItem"
            :is-on-mobile="isOnMobile"
            :opportunity="opportunity"
            :financials="financials"
            :service="service"
            :status="status"
            :is-on-overview="item.onOverview"
          />
        </div>
        <div
          v-if="item.hasOverview && !item.hideReadMore"
          class="primary--text cursor-pointer text-right text-body-1"
          @click="toggleOverview(item)"
        >
          {{ item.onOverview ? 'Read More' : 'Read Less' }}
        </div>
      </v-col>
      <div v-if="notAvailable && mode !== CONSTS.DR_MODES.PRESENTATION">
        <div class="trs--text text-body-1 font-italic">
          Not Available
        </div>
      </div>
    </v-row>
  </div>
</template>

<script defer>
  import SideNavAnchor from './SideNavAnchor'
  export default {

    name: 'TabNav',

    components: {
      SideNavAnchor,
    },

    props: {
      opportunity: {
        type: Object,
        required: true,
      },
      service: {
        validate: () => true,
      },
      status: {
        type: Object,
        required: false,
      },
      isOnMobile: {
        type: Boolean,
        required: true,
      },
      menuItems: {
        type: Array,
        default: () => ([]),
      },
      financials: {
        required: false,
      },
    },

    data: () => ({
      mode: null,
      observer: null,
      showAnchor: false,
      items: [],
    }),

    computed: {
      notAvailable () {
        return this.items.filter(el => !el.isHidden).length === 0
      },
    },

    watch: {
      menuItems: {
        handler (val) {
          if (val && (!this.items || this.items.length === 0)) {
            this.items = val.map(ele => {
              const inheritProps = {
                id: ele.id,
              }
              if (ele.hasOverview === false) {
                inheritProps.hasOverview = ele.hasOverview
              }

              return {
                isHidden: false,
                hideListItem: false,
                hideReadMore: false,
                col: 12,
                md: 12,
                lg: 12,
                onOverview: true,
                hasOverview: true,
                // inherit from original menu items
                ...inheritProps,
              }
            })
          }
        },
        immediate: true,
      },
    },

    created () {
      this.mode = this.service.getDrMode.call(this)

      this.$root.$on('dr-hideTabs', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              isHidden: value,
            }
          }
          return item
        })
      })
      this.$root.$on('dr-hideListItem', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideListItem: value,
            }
          }
          return item
        })
      })
      this.$root.$on('dr-hideReadMore', (id, value) => {
        this.items = this.items.map((item) => {
          if (item.id === id) {
            return {
              ...item,
              hideReadMore: value,
            }
          }
          return item
        })
      })
      this.mode = this.service.getDrMode.call(this)
    },
    mounted () {
      window.addEventListener('scroll', this.updateAnchor)
    },
    beforeDestroy () {
      window.removeEventListener('scroll', this.updateAnchor)
    },
    methods: {
      toggleOverview (selectedItem) {
        this.items = this.items.map(item => {
          if (selectedItem.id === item.id) {
            return {
              ...item,
              onOverview: !item.onOverview,
            }
          } else {
            return item
          }
        })
        const notOnOverview = this.items.filter(item => !item.onOverview)
        if (notOnOverview && notOnOverview.length > 0) {
          this.showAnchor = true
        } else { this.showAnchor = false }
      },
      updateAnchor () {
        const anchorList = [...document.getElementsByClassName('v-window-item--active')[0].getElementsByClassName('item-anchor')]
        let shouldKeepFind = true
        anchorList.forEach(element => {
          element.classList.remove('activeC')
        })
        const items = []
        document.getElementsByClassName('v-window-item--active')[0].getElementsByClassName('target-tab-content').forEach((item) => {
          items.push(item)
        })
        let shouldKeepFindForNextItem = true

        const updateAnchor = (item) => {
          if (this.showAnchor) {
            anchorList.forEach(element => {
              element.classList.remove('activeC')
            })
            const selectedAnchor = anchorList.find(a => a.hash === '#' + item.id)
            // console.log('found ----------------', i, selectedAnchor)
            selectedAnchor && selectedAnchor.classList.add('activeC')
          }
        }
        // console.clear()
        for (let i = 0; i < items.length; i++) {
          const item = items[i]
          const nextItem = items[i + 1]
          const itemBoundRect = item.getBoundingClientRect()
          const nextItemBoundRect = nextItem ? nextItem.getBoundingClientRect() : null
          // console.log(i, itemBoundRect.top, nextItemBoundRect ? nextItemBoundRect.top : null, window.innerHeight)

          if (!shouldKeepFindForNextItem) {
            return
          }
          // fully contained
          if (itemBoundRect.top > 0 && nextItemBoundRect && nextItemBoundRect.top < window.innerHeight) {
            shouldKeepFind = false
            shouldKeepFindForNextItem = false
            // console.log(i, 'case 1')
            updateAnchor(item)
          } else if (itemBoundRect.top > 0 && itemBoundRect.top < window.innerHeight &&
            (!nextItemBoundRect || (nextItemBoundRect && nextItemBoundRect.top > window.innerHeight && shouldKeepFind))) {
            shouldKeepFind = false
            // console.log(i, 'case 2')
            updateAnchor(item)
          } else if (itemBoundRect.top < 0 && nextItemBoundRect && nextItemBoundRect.top > 0 && shouldKeepFind) {
            // console.log(i, 'case 3')
            updateAnchor(item)
          }
        }
      },
    },

  }
</script>
<style lang="scss" >
  .tab-nav-content {
    .text-h3 {
      font-size: 1.125rem !important
    }
    hr {
      outline: none;
      border: none;
    }
    .hide-section, .team-profile-section, .overview-nav-header {
      display: none !important
    }
  }
  .custom-hr-style {
    border: 1px solid rgba(185, 197, 199, 0.7);
    border-width: thin 0 0 0!important;
  }
  .anchor-container {
    position: fixed;
    top:45%;
    left: 40px;
  }
  .target-tab-content {
    display: block;
    position: relative;
    visibility: hidden;
  }
  @media (min-width: 1360px) {
    .tab-information {
      max-width: 780px;
    }
  }
</style>
