<template>
  <div
    class="editor-container"
    :class="{
      ready: loading
    }"
  >
    <div
      v-if="loading"
      class="d-flex align-center justify-center"
    >
      <v-progress-circular
        color="primary"
        indeterminate
        size="30"
      />
    </div>
    <ckeditor
      v-model="internalValue"
      :editor-url="editorUrl"
      :config="editorConfig"
      @ready="onEditorReady"
    />
  </div>
</template>

<script>
  /* eslint-disable */
  import CKEditor from 'ckeditor4-vue'

  export default {
    name: 'CoomRichTextEditor',

    components: {
      ckeditor: CKEditor.component,
    },

    props: {
      value: {
        type: String,
        default: '',
      },
    },

    data () {
      return {
        loading: true,
        editorUrl: 'https://cdn.ckeditor.com/4.16.0/full/ckeditor.js',
        editorConfig: {
          // toolbarGroups: [
          //   { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
          //   { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
          //   { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
          //   { name: 'forms', groups: [ 'forms' ] },
          //   '/',
          //   { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
          //   { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
          //   { name: 'links', groups: [ 'links' ] },
          //   { name: 'insert', groups: [ 'insert' ] },
          //   '/',
          //   { name: 'styles', groups: [ 'styles' ] },
          //   { name: 'colors', groups: [ 'colors' ] },
          //   { name: 'tools', groups: [ 'tools' ] },
          //   { name: 'others', groups: [ 'others' ] },
          //   { name: 'about', groups: [ 'about' ] }
          // ],
          preset: 'full',
          toolbar: [
            // { name: 'document', items: [ 'Source', '-', 'Save', 'NewPage', 'ExportPdf', 'Preview', 'Print', '-', 'Templates' ] },
            { name: 'document', items: [ 'Source' ] },
            // { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
            // { name: 'editing', items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
            // { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
            // '/',
            { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike'] },  //'Subscript', 'Superscript', ,  '-', 'CopyFormatting', 'RemoveFormat' 
            { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent',  'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
            // { name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
            { name: 'insert', items: [ 'Image', 'Table'] },
            // '/',
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
            // { name: 'tools', items: [ 'ShowBlocks' ] },
            // { name: 'about', items: [ 'About' ] },
          ],
        },
      }
    },

    created () {
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    methods: {
      onEditorReady () {
        this.loading = false
      },
    },
  }
</script>

<style lang="scss" scoped>
.editor-container {
  .cke {
    display: none;
  }
  &.ready {
    .cke {
      display: block;
    } 
  }
}
</style>
