<template>
  <ckeditor
    v-model="internalValue"
    :editor="editor"
    :config="editorConfig"
  />
</template>

<script>
  /* eslint-disable */
  import CKEditor from '@ckeditor/ckeditor5-vue2'
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

  export default {
    name: 'CoomRichTextEditor',

    components: {
      ckeditor: CKEditor.component,
    },

    props: {
      value: {
        type: String,
        default: '',
      },
    },

    data () {
      return {
        editor: ClassicEditor,
        editorConfig: {
          toolbar: [
            'heading',
            '|',
            'bold',
            'italic',
            'link',
            '-',
            'CopyFormatting',
            'RemoveFormat',
            '|',
            'NumberedList',
            'BulletedList',
            '|',
            'basicstyles',
            '|',
            'Outdent',
            'Indent',
            // '|',
            // 'insertTable',
            // 'mergeTableCells',
            // 'tableColumn',
            // 'tableRow',
            '|',
            'blockQuote',
            'mediaEmbed',
            '|',
            'undo',
            'redo',
          ],
          // ["undo", "redo", "bold", "italic", "blockQuote", "ckfinder", "imageTextAlternative", "imageUpload", "heading", "imageStyle:full", "imageStyle:side", "link", "numberedList", "bulletedList", "mediaEmbed", "insertTable", "tableColumn", "tableRow", "mergeTableCells"]
        },
      }
    },

    created () {
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
