<template>
  <div
    class="editor-container"
    :class="{
      ready: loading
    }"
  >
    <!-- <div
      v-if="loading"
      class="d-flex align-center justify-center"
    >
      <v-progress-circular
        color="primary"
        indeterminate
        size="30"
      />
    </div> -->
    <editor
      v-model="internalValue"
      api-key="q2ykx7fm90s3zk58rl2or94e9xcbmha7bae3bleqwneev0hl"
      :init="init"
      @activate="activate"
    />
  </div>
</template>

 <script>
  import Editor from '@tinymce/tinymce-vue'
  import { uploadStaticAsset } from '@/components/core/services/common'

  export default {
    name: 'CommonRichTextEditor',
    components: {
      editor: Editor,
    },

    props: {
      value: {
        type: String,
        default: '',
      },
    },

    data () {
      return {
        loading: true,
        init: {
          height: 300,
          menubar: true,
          // plugins: [
          //   'advlist autolink lists link image charmap print preview anchor',
          //   'searchreplace visualblocks code fullscreen',
          //   'insertdatetime media table paste code help wordcount',
          // ],
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tableofcontents footnotes mergetags autocorrect',
          // eslint-disable-next-line no-multi-str
          toolbar: 'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify |  spellcheckdialog |\
                bullist numlist outdent indent | removeformat | help',

          // plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
          // toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          // toolbar_mode: 'floating',
          // tinycomments_mode: 'embedded',
          // tinycomments_author: 'Author name',

          images_upload_handler: async function (blobInfo, success, failure) {
            try {
              const res = await uploadStaticAsset(blobInfo.blob(), 'common')
              success(res.url)
            } catch (err) {
              failure(err)
            }
          },
        },
      }
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    methods: {
      activate () {
        this.loading = false
      },
    },
  }
 </script>

<style lang="scss" scoped>
.editor-container {
  width: 100%;
  &.ready {
  }
}
</style>
