<template>
  <div
    class="app-bar"
  >
    <div
      class="mx-5 mt-4"
    >
      <common-trs-btn
        v-if="!drawer"
        small
        type="tertiary"
        icon
        class="ma-0"
        color="#FFF"
        @click="toggleDrawer"
      >
        <v-icon
          class="icon-right-nav"
          style="font-size:24px"
        />
      </common-trs-btn>
    </div>

    <!-- <div
      class="logo-container"
      :style="{
        width: '150px',
        height: '100px'
      }"
    >
      <v-img
        :src="opportunity.issuer && opportunity.issuer.branding && opportunity.issuer.branding.logo ? opportunity.issuer.branding.logo : ''"
        contain
        max-height="60"
      />
    </div>

    <div
      class="opp-title white--text"
      :class="{
        fixed: fixedTitle,
      }"
    >
      {{ opportunity.name }}
    </div> -->
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'CommonDigitalRoadshowLandingAppbar',

    components: {
    },

    props: {
      opportunity: {
        validate: () => true,
        required: true,
      },
      fixedTitle: {
        type: Boolean,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      drawer: {
        get () {
          return this.$store.state.app.drawer
        },
        set (val) {
          this.$store.commit('app/SET_DRAWER', val)
        },
      },
    },

    methods: {
      ...mapMutations('app', {
        setDrawer: 'SET_DRAWER',
      }),

      toggleDrawer () {
        this.drawer = !this.drawer
      },
    },
  }
</script>
<style lang="scss" scoped>
  .app-bar {
    height: auto;
    position: absolute;
    top: 6px;
    width: auto;
    z-index: 9!important;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    z-index: 10;
    .v-image {
      background: #FFF;
    }
  }
  .opp-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease;
    opacity: 0;
    margin-left: 30px;
    display: flex;
    align-items: center;
    &.fixed {
      opacity: 1
    }
  }
</style>
