<template>
  <div
    id="drs-footer"
    style="z-index: 99"
    class="trsBack lighten-1 pa-8 text-body-2 font-weight-light p-relative"
  >
    <v-row
      no-gutters
    >
      <v-col
        class="pt-1"
      >
        <div class="">
          For questions and issues, please send an email to
        </div>
        <div>
          <a
            :href="help.href"
            class="mr-0 text-decoration-none primary--text font-weight-medium"
            :target="help.href === '#' ? '_self' : '_blank'"
            v-text="help.text"
          />
        </div>
      </v-col>

      <v-spacer class="hidden-sm-and-down" />

      <v-col
        cols="12"
        md="auto"
        class="text-right"
        :class="{
          'mt-2': $vuetify.breakpoint.smAndDown,
        }"
      >
        <div>
          {{ brand }}
        </div>
        <div
          class="pt-1"
        >
          <span
            v-for="(link, i) in links"
            :key="i"
            class="pl-3"
          >
            <a
              :href="link.href"
              class="mr-0 text-decoration-none primary--text font-weight-medium"
              rel="noopener"
              :target="link.href === '#' ? '_self' : '_blank'"
              v-text="link.text"
            />
          </span>
        </div>
        <div class="pt-1">
          &copy; {{ new Date().getFullYear() }} All Rights Reserved
        </div>
      </v-col>
    </v-row>
    <hr class="my-8 v-divider theme--light">
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
        sm="12"
        md="2"
      />
      <v-col
        cols="12"
        sm="12"
        md="8"
      >
        <div
          class="trsText--text text-body-1 mb-2"
          v-html="legalDisclaimer"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
  import { BUILD_NUMBER } from '@/constants'
  export default {
    name: 'CommonDigitalRoadshowFooter',

    props: {
      opportunity: {
        type: Object,
        requried: true,
      },
    },

    data: () => ({
    }),

    computed: {
      brand () {
        const defaultText = 'Powered by Trellis Software Inc.'
        const drOptions = this.publicBranding.drOptions || {}
        return (drOptions.poweredByText || defaultText) + ' ' + BUILD_NUMBER
      },
      legalDisclaimer () {
        return this.opportunity.details.disclaimer || this.publicBranding.default_digital_roadshow_disclaimer
      },
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      links () {
        const info = this.$getPublicBrandingFooterInfo(this.publicBranding)
        return [
          {
            text: 'Contact Us',
            href: `mailto:${info.contact}`,
          },
          {
            text: 'Terms and Conditions',
            href: info.terms,
          },
          {
            text: 'Privacy',
            href: info.privacy_policy,
          },
        ]
      },
      help () {
        return {
          text: this.$getPublicBrandingHelpAddress(this.publicBranding),
          href: `mailto:${this.$getPublicBrandingHelpAddress()}`,
        }
      },
    },
  }
</script>
