<template>
  <wrapper
    :id="id"
    :service="roadshowService"
    :portal="portal"
    :tab="tab"
  />
</template>

<script>
  import DigitalRoadshowService from '../service'

  export default {
    name: 'CommonDigitalRoadshowLandingIndex',

    components: {
      Wrapper: () => import('./Wrapper'),
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      tab: {
        type: String,
        required: false,
      },
    },

    data: () => ({
      roadshowService: null,
    }),

    computed: {
      portal () {
        return this.$getPortal()
      },
    },

    created () {
      this.roadshowService = new DigitalRoadshowService(this.portal)
    },

    methods: {
    },
  }
</script>
<style>
#crowdsmart-embed-app {
  z-index: 10;
}
</style>
