<template>
  <div>
    <div
      v-if="loading"
      class="loading-container"
    >
      <v-progress-circular
        v-if="loading"
        color="primary"
        indeterminate
        size="30"
      />
    </div>
    <div
      v-if="!loading && !opportunity"
    >
      <v-container
        class="error-page fill-height"
        tag="section"
      >
        <v-row
          class="text-center"
          justify="center"
        >
          <v-col
            cols="auto"
          >
            <div class="text-h2 mb-5 mt-10 white--text">
              Sorry, you are not able access this opportunity. Please contact the support team.
            </div>

            <common-trs-btn
              type="primary"
              class="white--text"
              depressed
              @click="goBack"
            >
              Get me out of here!
            </common-trs-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div
      v-if="opportunity"
      style="{
        paddingBottom: isOnMobile ? '70px' : '0px',
      }"
    >
      <v-img
        :class="{
          'v-image--sm': this.$vuetify.breakpoint.smAndDown,
          'v-image--md': this.$vuetify.breakpoint.mdAndDown,
          'back-image': true,
        }"
        :src="opportunity && opportunity.details && opportunity.details.logo ? opportunity.details.logo : ''"
        :gradient="`to top, rgba(0, 0, 0, ${logoOverlayPercent}), rgba(0, 0, 0, ${logoOverlayPercent})`"
        height="350"
        style="z-index: 1"
      >
        <v-responsive
          height="350px"
        >
          <v-container
            class="on-image-content pa-0"
            :class="{
              'd-flex': true
            }"
          >
            <top-title
              :opportunity="opportunity"
              :portal="portal"
              :is-on-mobile="isOnMobile"
            />
            <div
              v-if="!isOnMobile"
              class="actions-container"
              :style="{
                'min-width': '300px',
              }"
            />
          </v-container>
        </v-responsive>
      </v-img>

      <appbar
        :opportunity="opportunity"
        :fixed-title="false"
      />

      <div
        class="tabs-container"
        :style="{
          'padding-bottom': isOnMobile ? '70px': ''
        }"
      >
        <tabs
          ref="tabs"
          :is-opportunity-approved="isOpportunityApproved"
          :is-document-seen="isDocumentSeen"
          :investment-done="investmentDone"
          :opportunity="opportunity"
          :service="service"
          :portal="portal"
          :status="status"
          :tab="tab"
          :is-on-mobile="isOnMobile"
          :form-data-loading="formDataLoading"
          :investments="investments"
          :visibility-opts="visibilityOpts"
          @triggerAction="triggerAction"
        />
        <footer-component
          :opportunity="opportunity"
        />
      </div>
      <actions-index-bottom
        v-if="isOnMobile && !status.isSecondary"
        :opportunity="opportunity"
        :service="service"
        :portal="portal"
        :status="status"
        :investments="investments"
        :visibility-opts="visibilityOpts"
        @triggerAction="triggerAction"
      />
    </div>
    <contact-modal
      v-if="opportunity"
      v-model="showContactModal"
      :opportunity="opportunity"
      :portal="portal"
      :service="service"
      :is-on-mobile="isOnMobile"
      @triggerAction="triggerAction"
    />
    <nda-confirm-modal
      v-model="showNdaConfirmModal"
      :opportunity="opportunity"
      :service="service"
      :portal="portal"
      :status="status"
      :tab="tab"
      :is-on-mobile="isOnMobile"
      @triggerAction="triggerAction"
    />
    <ioi-modal
      v-model="showIoiModal"
      :opportunity="opportunity"
      :service="service"
      :portal="portal"
      :status="status"
      :tab="tab"
      :is-on-mobile="isOnMobile"
      :visibility-opts="visibilityOpts"
      @triggerAction="triggerAction"
    />
    <investments-modal
      v-model="showInvestmentModal"
      :opportunity="opportunity"
      :is-on-mobile="isOnMobile"
      @triggerAction="triggerAction"
    />
  </div>
</template>

<script>
  import Appbar from './Appbar'
  import Tabs from './Tabs'
  import FooterComponent from './Footer'

  import ContactModal from './components/ContactModal'
  import NdaConfirmModal from './components/NdaConfirmModal'
  import IoiModal from './components/IoiModal'
  import InvestmentsModal from './components/InvestmentsModal'

  import TopTitle from './components/TopTitle'

  import ActionsIndexBottom from './actions/IndexBottom'

  import defaultTheme from '@/components/core/styles/theme'
  export default {
    name: 'CommonDigitalRoadshowLandingWrapper',

    components: {
      Appbar,
      Tabs,
      FooterComponent,
      ContactModal,
      NdaConfirmModal,
      IoiModal,
      InvestmentsModal,
      TopTitle,
      ActionsIndexBottom,
    },

    props: {
      id: {
        type: String,
        required: true,
      },
      service: {
        validate: () => true,
      },
      portal: {
        type: String,
        required: true,
      },
      tab: {
        type: String,
        required: false,
      },
    },

    data: () => ({
      loading: false,
      formDataLoading: true,
      opportunity: null,
      status: {
        ndaSigned: false,
        ndaDeclined: false,
        ndaCounterSigned: false,
        canReivew: false,
        canSignDeal: false,
        canDealSign: false,
        canViewDeal: false,
        ndaStatusMessage: '',
        isSecondary: false,
        ndaSignInProgress: false,
        closed: false,
      },

      showContactModal: false,
      showNdaConfirmModal: false,
      showIoiModal: false,
      showInvestmentModal: false,
      investments: [],

      themeBackUp: {},
    }),

    computed: {
      logoOverlayPercent () {
        return !isNaN(this.opportunity.details.logoOverlayPercent)
          ? +this.opportunity.details.logoOverlayPercent / 100
          : 0.5
      },
      isOnMobile () {
        return this.$vuetify.breakpoint.smAndDown
      },
      isOpportunityApproved () {
        return this.opportunity.status === 'APPROVED'
      },
      isDocumentSeen () {
        return this.opportunity.status === 'BIG_BOYS_SEEN'
      },
      investmentDone () {
        return this.opportunity.has_investment_record
      },
      routeName () {
        return this.getRouteName()
      },
      visibilityOpts () {
        return {
          showIndicateInterestBtn: this.drOptions.showIndicateInterestBtn,
        }
      },
      drOptions () {
        return this.publicBranding.drOptions || {}
      },
      publicBranding () {
        return this.$store.getters['publicBranding/s3Data']
      },
      isFidViewer () {
        return this.$store.getters['auth/isFidViewer']
      },
      privateReportCreated () {
        return this.opportunity.details.is_crowdsmart_private_evaluation_created && this.portal === this.CONSTS.PORTAL.FID_ADMIN
      },
      issuerHasCrowdsmart () {
        return this.opportunity.details.crowdsmart && (this.opportunity.details.crowdsmart.integrated === 'yes')
      },
    },
    watch: {
      routeName: function (action) {
        const route = this.CONSTS.ROUTES_MAPPING[action.navigate_to]
        if (action && action.navigate_to && route) {
          this.loadOpportunity()
        }
      },
    },
    created () {
      this.loading = false
      this.loadOpportunity()
      document.addEventListener('scroll', this.handleScroll)

      this.loadMode()
    },

    destroyed () {
      document.removeEventListener('scroll', this.handleScroll)
      document.removeEventListener('ws-message', this.wsMessageHandle)
      const crowdSmartElem = document.querySelector('iframe#crowdsmart-embed-app')
      if (crowdSmartElem) {
        crowdSmartElem.parentElement.removeChild(crowdSmartElem)
      }
      const scriptElem = document.querySelector('script#crowdsmart-embed-script')
      if (scriptElem) {
        scriptElem.parentElement.removeChild(scriptElem)
      }
      this.restoreMode()
    },

    methods: {
      goBack () {
        return this.$router.push({ name: 'DashboardIndex' })
      },
      getRouteName () {
        return this.$store.getters['wsMessage/routeName']
      },
      loadMode () {
        const mode = this.service.getDrMode.call(this)
        if (mode === this.CONSTS.DR_MODES.DILIGENCE) {
          this.themeBackUp = this.$vuetify.theme.themes.light
          this.$vuetify.theme.themes.light = defaultTheme
        } else {}
      },
      restoreMode () {
        const mode = this.service.getDrMode.call(this)
        if (mode === this.CONSTS.DR_MODES.DILIGENCE) {
          this.$vuetify.theme.themes.light = this.themeBackUp
        } else {}
      },
      triggerAction (actionName, param) {
        switch (actionName) {
          case 'showNdaConfirmModal':
            this.showNdaConfirmModal = true
            break
          case 'showContactModal':
            this.showContactModal = true
            break
          case 'showIoiModal':
            this.showIoiModal = true
            break
          case 'showInvestmentModal':
            this.showInvestmentModal = true
            break
          case 'reloadOpportunity':
            this.loadOpportunity()
            break
          case 'showTab':
            if (this.$refs.tabs) {
              this.$refs.tabs.onTabClicked(param)
            }
            break
        }
      },
      handleScroll () {
      },
      initStatus () {
        this.status.ndaStatusMessage = ''
        if (this.opportunity.closed_by) {
          this.status.closed = true
        }
        if (this.portal === this.CONSTS.PORTAL.ISSUER) {
          this.status.ndaSigned = true
          this.status.ndaCounterSigned = true
          this.status.canViewDeal = true
        } else if (this.portal === this.CONSTS.PORTAL.FID_ADMIN) {
          if (this.opportunity.nda_status === this.CONSTS.NDA_STATUS.NDA_SIGNED) {
            this.status.ndaSigned = true
          } else if (this.CONSTS.NDA_STATUS_STEPS[this.opportunity.nda_status] >= this.CONSTS.NDA_STATUS_STEPS.NDA_EXECUTED) {
            this.status.ndaSigned = true
            this.status.ndaCounterSigned = true
          }
          if (this.CONSTS.NDA_STATUS.NDA_DECLINED === this.opportunity.nda_status) {
            this.status.ndaDeclined = true
          }
          if (this.opportunity.nda_status === this.CONSTS.NDA_STATUS.NDA_EXECUTED) {
            this.status.canViewDeal = true
          }
        } else if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
          if (this.opportunity.status === 'NDA_SIGNED') {
            this.status.ndaSigned = true
          } else if (this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS[this.opportunity.status] >= this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS.NDA_EXECUTED) {
            this.status.ndaSigned = true
            this.status.ndaCounterSigned = true
          }
          if (this.CONSTS.DL_OPPORTUNITY_STATUS.NDA_DECLINED === this.opportunity.nda_status ||
            this.CONSTS.DL_OPPORTUNITY_STATUS.NDA_DECLINED === this.opportunity.status) {
            this.status.ndaDeclined = true
          }
          if (this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS.BIG_BOYS_SEEN > this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS[this.opportunity.status]) {
            this.status.canReview = true
          }
          if (
            (this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS.NDA_EXECUTED <= this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS[this.opportunity.status]) ||
            (this.opportunity.status === this.CONSTS.DL_OPPORTUNITY_STATUS.APPROVED && this.opportunity.is_nda_required === false)
          ) {
            this.status.canViewDeal = true
            this.status.canDealSign = true
          }
        }

        if (this.status.ndaSigned === false) {
          if (this.status.ndaDeclined) {
            this.status.ndaStatusMessage = 'NDA is Declined!'
          }
          this.status.ndaStatusMessage = 'NDA must be signed first before viewing the document.'
        } else if (this.status.ndaCounterSigned === false) {
          this.status.ndaStatusMessage = 'NDA must be counter signed before viewing the document.'
        }

        this.status.isSecondary = this.opportunity.opportunity_type === this.CONSTS.OPPORTUNITY_TYPE.SECONDARY
        if (this.status.isSecondary) {
          this.status.ndaSigned = true
          this.status.ndaCounterSigned = true
        }

        if (this.opportunity.opportunity_unlocked_status.is_opportunity_unlocked) {
          this.status.ndaSigned = true
          this.status.ndaCounterSigned = true
          this.status.ndaStatusMessage = ''
        }

        const ndaStatus = this.portal === this.CONSTS.PORTAL.INVESTOR ? this.opportunity.status : this.opportunity.nda_status
        const initiatedOn = +new Date(this.opportunity.signing_initiated_on)
        const expired = +new Date() - initiatedOn
        this.status.ndaSignInProgress = ndaStatus === this.CONSTS.NDA_STATUS.NDA_SIGN_IN_PROCESS && expired < this.CONSTS.DOCUSIGN_EXPIRE_TIME

        document.addEventListener('ws-message', this.wsMessageHandle)
      },
      wsMessageHandle (event) {
        try {
          if (this.status.ndaSignInProgress && [this.CONSTS.NDA_STATUS.NDA_SIGNED, this.CONSTS.NDA_STATUS.NDA_EXECUTED, this.CONSTS.DL_OPPORTUNITY_STATUS_STEPS.BIG_BOYS_SEEN].includes(event.detail.data.payload['focus-item'])) {
            this.loadOpportunity()
          }
        } catch (err) {
          console.log('Socket message handle err: ', err)
        }
      },
      async loadFormData () {
        this.formDataLoading = true
        try {
          await Promise.all([
            this.service.loadIssuerForms(this.opportunity.issuer.issuer_id),
            this.service.loadOpportunityForms(this.opportunity.id),
          ])
        } catch (err) {
          console.log(err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load form data',
          })
        }
        this.formDataLoading = false
      },
      async loadOpportunity () {
        this.loading = true
        try {
          this.opportunity = await this.service.getOpportunityById(this.id)
          this.opportunity = {
            opportunity_unlocked_status: {},
            ...this.opportunity,
            details: {
              drType: this.CONSTS.DR_TYPES.GENERAL,
              ...this.opportunity.details,
            },
          }
          // init status
          this.initStatus()

          // Regardless load forms
          await this.loadFormData()
          if (this.portal === this.CONSTS.PORTAL.INVESTOR) {
            await this.loadInvestments()
          }
          // TODO :: This block is to be uncommented later if Crowdsmart is required in the DRS section
          // if (this.portal !== this.CONSTS.PORTAL.ISSUER && this.status.ndaCounterSigned && (this.issuerHasCrowdsmart || this.privateReportCreated) && !this.isFidViewer) {
          //   window.CROWDSMART_TOKEN_USER = { token: this.$store.getters['auth/user'].trellis_uid }
          //   const res = await this.service.getCrowdsmartScript(this.opportunity.id)
          //   const tags = res.embed_tag.split('>\n<s')

          //   const r = /(\S+)=["']?((?:.(?!["']?\s+(?:\S+)=|\s*\/?[>"']))+.)["']?/g
          //   const scriptAttrs = [...('<s' + tags[1]).matchAll(r)]
          //   const cssHref = r.exec(tags[0] + '>')[2]
          //   const scriptSrc = scriptAttrs[0][2]

          //   if (!document.querySelector(`link[href="${cssHref}"]`)) {
          //     const linkTag = document.createElement('link')
          //     linkTag.setAttribute('href', cssHref)
          //     linkTag.setAttribute('rel', 'stylesheet')
          //     linkTag.setAttribute('text', 'text/css')
          //     document.head.appendChild(linkTag)
          //   }
          //   if (!document.querySelector(`script[src="${scriptSrc}"]`)) {
          //     const scriptTag = document.createElement('script')
          //     scriptTag.setAttribute('src', scriptSrc)
          //     scriptTag.setAttribute(scriptAttrs[2][1], scriptAttrs[2][2])
          //     scriptTag.setAttribute(scriptAttrs[1][1], scriptAttrs[1][2])
          //     document.head.appendChild(scriptTag)
          //   }
          // }
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load opportunity',
          })
          // this.$router.back()
        }
        this.loading = false
      },
      async loadInvestments () {
        try {
          const tempInvestments = []
          const investments = await this.service.getDLInvestmentByOppId(this.id)
          for (let i = 0; i < investments.length; i++) {
            const inv = investments[i]
            if (!inv.investor || inv.status === this.CONSTS.DL_INVESTMENT_STATUS.IOI_SENT) {
              continue
            }
            tempInvestments.push(inv)
          }
          this.investments = tempInvestments.sort((inv1, inv2) => {
            return new Date(inv2.modified_on) - new Date(inv1.modified_on)
          })
        } catch (err) {
          console.log('err: ', err)
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load investments',
          })
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .loading-container {
    width: 100vw;
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-image {
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0
  }
  .on-image-content {
    height: 100%;
  }
  .tabs-container {
    background: #FFF;
    min-height: calc(100vh - 500px);
  }
</style>
