<template>
  <v-card
    class="card-item ma-0 px-1"
    :class="base === 'tenant' && answered && !item.is_read ? 'active' : ''"
  >
    <v-row
      v-if="showOppoName"
      class="font-size card-title pa-3 mb-5"
    >
      <v-col
        cols="12"
        md="3"
      >
        <div class="d-flex">
          Re:
          <common-text-truncate
            class="primary--text pl-2 cursor-pointer"
            :text="item.document_name || item.opportunity_name"
            :tooltip="true"
            @click="handleItemClick"
          />
        </div>
      </v-col>
      <v-col
        v-if="item.response"
        cols="12"
        md="4"
      >
        <div>
          Answered: {{ $date(item.modified_on) }} at {{ $time(item.modified_on) }} by
          <span class="primary--text">{{ item.respondent_name || msgSource }}</span>
          <span v-if="msgSource">, {{ msgSource }}</span>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <div>
          Asked: {{ $date(item.created_on) }} at {{ $time(item.created_on) }} by
          <span class="primary--text">{{ item.requestor_name }}</span>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="1"
      />
    </v-row>

    <v-row
      v-if="!showOppoName"
      class="font-size card-title pa-3 mb-5"
    >
      <v-col
        v-if="item.document_id"
        cols="12"
        md="3"
      >
        <div class="d-flex">
          Re:
          <common-text-truncate
            class="primary--text pl-2 cursor-pointer"
            :text="item.document_name"
            :tooltip="true"
            @click="handleItemClick"
          />
        </div>
      </v-col>
      <v-col
        v-if="item.response"
        cols="12"
        md="6"
      >
        <div>
          Answered: {{ $date(item.modified_on) }} at {{ $time(item.modified_on) }} by
          <span class="primary--text">{{ item.respondent_name || msgSource }}</span>
          <span v-if="msgSource">, {{ msgSource }}</span>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <div>
          Asked: {{ $date(item.created_on) }} at {{ $time(item.created_on) }} by
          <span class="primary--text">{{ item.requestor_name }}</span>
        </div>
      </v-col>
    </v-row>

    <div class="px-3">
      <v-row
        dense
        class="mt-0"
      >
        <v-col
          cols="12"
          sm="9"
          md="9"
          lg="9"
          class="pt-0"
        >
          <div class="font-weight-medium text-h4 mb-4">
            {{ item.request }}
          </div>
          <div
            v-if="item.response"
            class="text-h5"
          >
            {{ item.response }}
          </div>
          <div
            v-if="canReply"
            class="mt-5 mb-5"
          >
            <div
              v-if="isReplying"
              class="ml-2"
            >
              <validation-observer
                ref="observer"
                v-slot="{ valid }"
              >
                <validation-provider
                  v-slot="{ errors }"
                  :name="'Response'"
                  :rules="{ required: true }"
                >
                  <common-input-textarea
                    v-model="response"
                    :hide-details="!errors"
                    single-line
                    placeholder="Write response..."
                    :error-messages="errors"
                  />
                </validation-provider>
                <div class="d-flex mt-2">
                  <v-spacer />
                  <common-trs-btn
                    class="white--text"
                    outlined
                    text
                    small
                    type="primary"
                    :disabled="!valid"
                    @click="sendReply"
                  >
                    Send
                  </common-trs-btn>
                </div>
              </validation-observer>
            </div>
          </div>
          <div
            v-if="!canReply"
            class="mt-5 mb-5"
          />
        </v-col>
        <v-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
          class="text-lg-right text-md-right text-center d-flex justify-end mt-n3"
        >
          <div
            v-if="!isReplying && canReply"
          >
            <common-trs-btn
              class="white--text mt-2"
              outlined
              text
              small
              type="secondary"
              @click="isReplying = true"
            >
              Answer
            </common-trs-btn>
          </div>
          <div
            v-if="answered && !item.is_read && base == 'tenant'"
          >
            <common-trs-a-link
              text
              type="tertiary"
              class="action-btn is-read"
              @click="readMarked"
            >
              <v-icon
                size="22"
                class="trsText--text"
              >
                mdi-comment-check-outline
              </v-icon>
              <div
                class="trsText--text text-caption font-weight-light"
              >
                Mark as Read
              </div>
            </common-trs-a-link>
          </div>
          <div
            v-if="!answered && base == 'tenant'"
          >
            <common-trs-a-link
              v-if="isReminder"
              text
              type="tertiary"
              class="action-btn is-read"
              @click="sendReminder"
            >
              <v-icon
                size="22"
                class="trsText--text"
              >
                mdi-bell-ring-outline
              </v-icon>
              <div
                class="trsText--text text-caption font-weight-light"
              >
                Reminder
              </div>
            </common-trs-a-link>
            <v-tooltip
              v-else
              bottom
            >
              <template v-slot:activator="{on: tooltip }">
                <common-trs-a-link
                  text
                  type="tertiary"
                  class="action-btn is-read"
                  v-on="{...tooltip }"
                >
                  <v-icon
                    size="22"
                    class="grey--text"
                  >
                    mdi-bell-ring-outline
                  </v-icon>
                  <div
                    class="grey--text text-caption font-weight-light"
                  >
                    Reminder
                  </div>
                </common-trs-a-link>
              </template>
              <span>You have already sent a reminder. Kindly wait for 24hrs before sending another.</span>
            </v-tooltip>
          </div>
          <div
            v-if="canDelete"
          >
            <common-app-confirm
              title="Delete Confirmation"
              message="Are you sure to delete the communication?"
              yes-button="Yes"
              no-button="Cancel"
              @yes="$emit('remove', item.id)"
            >
              <template v-slot:activator="{ on }">
                <common-trs-a-link
                  text
                  type="tertiary"
                  class="action-btn ml-4"
                  v-on="on"
                >
                  <v-icon
                    size="19"
                    class="trsText--text"
                  >
                    mdi-delete-outline
                  </v-icon>
                  <small
                    size="small"
                    class="trsText--text font-weight-light"
                  >
                    Delete
                  </small>
                </common-trs-a-link>
              </template>
            </common-app-confirm>
          </div>
        </v-col>
      </v-row>
    </div>
    <v-dialog
      :value="!!document"
    >
      <common-trs-modal-card
        v-if="document"
      >
        <common-trs-modal-card-title>
          <common-trs-modal-card-title-content>
            {{ document.name }}
          </common-trs-modal-card-title-content>

          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="closeViewDocument"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <document
          mode="view"
          :opp-id="item.opportunity_id"
          :doc="document"
          :type="CONSTS.FR_DOCUMENT_TYPE.DATA_ROOM"
          :value="{}"
          :load-from="document.loadFrom"
        />
        <common-common-preview-file
          :url="document.signed_url"
          :mime-type="document.mime_type"
        />
      </common-trs-modal-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import CommonTextTruncate from '@/components/core/common/TruncateText'
  import Document from '@/components/common/digital-roadshow-new2/documents/Document'
  import moment from 'moment'

  const MSG_SOURCES = {
    ISSUER: 'issuer',
    FIDUCIARY: 'fiduciary',
  }
  export default {
    name: 'CommunicationCardItem',

    components: {
      Document,
      CommonTextTruncate,
    },

    props: {
      item: {
        type: Object,
        required: true,
      },
      showOppoName: {
        type: Boolean,
        default: true,
      },
      canReply: {
        type: Boolean,
        default: true,
      },
      canDelete: {
        type: Boolean,
        default: true,
      },
      showBadge: {
        type: Boolean,
        default: false,
      },
      hideOwnAnsBy: {
        type: Boolean,
        default: false,
      },
      answered: {
        type: Boolean,
        default: false,
      },
      base: {
        type: String,
        default: '',
      },
    },

    data: () => ({
      isReplying: false,
      response: '',
      msgSourceList: MSG_SOURCES,
      document: null,
      docLoading: false,
    }),

    computed: {
      msgSource () {
        return this.item.source ? this.item.source.toLowerCase() : ''
      },
      showAnswerBy () {
        return (this.hideOwnAnsBy && this.msgSource === this.msgSourceList.FIDUCIARY) ? false : (this.showBadge && this.item.response)
      },
      isReminder () {
        if (this.item.details === undefined) {
          return true
        } else if (this.item.details && !this.item.details.notify_respondent) {
          return true
        } else {
          const diff = moment.utc() - moment.utc(this.item.details.notify_time)
          return diff > (24 * 60 * 60 * 1000)
        }
      },
    },

    methods: {
      sendReply (id, data) {
        this.$emit('update', this.item.id, { response: this.response })
        this.response = ''
        this.isReplying = false
      },
      readMarked () {
        this.$emit('update', this.item.id, { is_read: true })
      },
      sendReminder () {
        this.$emit('update', this.item.id, { notify_respondent: true })
      },
      handleItemClick () {
        if (this.item.document_id) {
          this.viewDocument()
        } else {
          if (!this.$route.name.startsWith('OpportunityDetail')) {
            this.$router.push({
              name: 'OpportunityDetailNda',
              params: {
                id: this.item.opportunity_id,
              },
            })
          }
        }
      },
      viewDocument () {
        this.document = {
          document_id: this.item.document_id,
          name: this.item.document_name,
          loadFrom: this.item.document_type,
        }
      },
      closeViewDocument () {
        this.document = null
      },
    },
  }
</script>
<style lang="scss" scoped>
  .card-item {
    border-radius: 0px;
    border: 0px;
    border-top: 2px solid var(--v-trsBack-base);
  }
  .active {
    border-left: 3px solid var(--v-primary-base);
  }
  .card-title {
    font-size: 13px;
  }
  .action-btn {
    width: 56px;
    display: block;
    text-align: center;
  }
  .response {
    border-left: 5px solid var(--v-trsBack-base);
  }
  .answer-by-section {
    width: 150px;
  }
  .is-read {
    width: 87px;

    .v-icon {
      margin-top: 5px;
    }
  }
</style>
