<template>
  <div>
    <common-trs-card
      v-if="alerts.length > 0"
      class="alert-table px-5"
    >
      <v-row class="d-flex justify-space-between mt-3 pl-3">
        <div class="font-weight-medium">
          Communications ({{ alerts.length }})
        </div>
        <div
          v-if="alerts.length > 3"
          class="primary--text text-subtitle-1 font-weight-regular ml-auto pr-3"
        >
          <div
            class=" cursor-pointer ttrsText--text text-caption primary--text font-weight-medium"
            @click="goToSeeAll"
          >
            See All
          </div>
        </div>
      </v-row>
      <v-divider class="mt-3" />
      <v-row>
        <v-simple-table class="px-3">
          <tbody>
            <tr
              v-for="(alert, index) of filteredAlerts"
              :key="index"
              class="need-attention-item"
            >
              <td class="text-caption pr-10 px-0 py-2">
                <common-text-truncate
                  class="text--lighten-1 font-weight-regular text-start"
                  :text="alert.message"
                  :tooltip="false"
                />
                <div class="d-flex font-weight-bold">
                  <span>"</span>
                  <common-text-truncate
                    class="black--text text-start"
                    :text="alert.message"
                    :tooltip="false"
                  />
                  <span>"</span>
                </div>
              </td>

              <td class="trsText--text text-caption font-weight-regular px-0">
                <div>{{ $date(alert.timestamp) }}</div>
              </td>
            </tr>
            <tr
              v-if="alerts.length === 0"
              class="alert-table"
            >
              <td class="trsText--text text-h5 text-center mx-3">
                You have no notifications
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                class="text-center py-5"
              >
                <common-trs-btn
                  type="secondary"
                  color="primary"
                  size="large"
                  text
                  @click="close"
                >
                  New Question
                </common-trs-btn>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-row>
    </common-trs-card>
    <common-trs-card
      v-else
      class="alert-table"
    >
      <div class="trsText--text text-h5 text-center mx-3">
        You have no notifications
      </div>
    </common-trs-card>
  </div>
</template>
<script>
  import CommonTextTruncate from '@/components/core/common/TruncateText'
  export default {
    name: 'NavCard',
    components: {
      CommonTextTruncate,
    },
    props: {
      alerts: {
        type: Array,
        required: true,
        default: () => [],
      },
      seeAllAlerts: {
        type: String,
        default: '',
      },
    },
    data () {
      return {
        showAll: false,
        currentTab: 0,
      }
    },
    computed: {
      filteredAlerts () {
        return this.showAll ? this.alerts : this.alerts.slice(0, 3)
      },
    },
    methods: {
      goToSeeAll () {
        this.$emit('see-all', true)
        this.$router.push({ name: this.seeAllAlerts })
      },
    },
  }
</script>
<style lang="scss" scoped>
  .mdi-alert-circle-outline {
    font-size: 16px;
  }
  .alert-table {
    border-top: 3px solid var(--v-primary-base);
    border-radius: 0px !important;
  }
</style>
