<template>
    <div class="d-flex flex-column px-4 text-center mt-2">
      <img
        style="width: 50px; margin: auto"
        class="m-auto"
        :src="require('@/components/common/assets/Transfer/completeIcon.png')"
      >
      <span
        class="mt-4"
        style="font-size: 16px; font-weight: 400; color: #4F4D4D"
      >
        From Chase Bank
      </span>
      <span
        style="font-size: 20px; font-weight: 700; color: #033C56"
      >
        $600,000
      </span>
      <span
        class="mt-2 mb-4"
        style="font-size: 14px; font-weight: 400; color: #444444"
      >
      Completed
      </span>
      <div
        class="py-2 mx-8"
        style="font-size: 12px; font-weight: 500; color: #4F4D4D; border-top: 1px solid #D7E0E2; border-bottom: 1px solid #D7E0E2;"
      >
        01 January 2023 07:46 am
      </div>
      <div class="detail-section">
        <div>
          <p class="header">Transaction ID</p>
          <p class="detail">
            300386874489
          </p>
        </div>
        <div>
          <p class="header">To: Green Planet</p>
          <p class="detail">
            greenplanet@gmail.com
          </p>
        </div>
        <div>
          <p class="header">From: Chase Bank</p>
          <p class="detail">
            bankchase@gmail.com xxxxxx3602
          </p>
        </div>
        <div>
          <p class="header">Plaid Transaction ID</p>
          <p class="detail">
            300386874359
          </p>
        </div>
      </div>
      <div class="text-center mt-4 mb-4">
        <common-trs-btn
          class="mb-4"
          style="background-color: white; width: 200px; margin: auto; border: 1px solid #B9C5C7; color: #27566D; text-transform: initial; font-size: 16px; font-weight: 500;"
          @click="()=>{$emit('continue')}"
        >
          Continue
        </common-trs-btn>
      </div>
    </div>
  </template>
<script>
  export default {
    name: 'CompleteModalForm',
  }
</script>

<style lang="scss" scoped>
  .detail-section {
    border: 1px solid #D7E0E2;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    .header {
      font-size: 12px;
      font-weight: 400;
      color: #444444;
      margin-bottom: 4px
    }
    .detail {
      font-size: 14px;
      font-weight: 400;
      color: #033C56;
    }
  }
</style>
