<template>
  <div class="d-flex flex-column px-4 text-center mt-16">
    <img
      style="width: 50px; margin: auto"
      class="m-auto mt-10"
      :src="require('@/components/common/assets/Transfer/transfer1.png')"
    >
    <div class="d-flex mt-4">
      <img
        style="width: 80px; margin: auto"
        class="m-auto self-center"
        :src="require('@/components/common/assets/Transfer/plaid.png')"
      >
      <span>------------</span>
      <img
        style="width: 80px; margin: auto"
        class="m-auto self-center"
        :src="require('@/components/common/assets/Transfer/chase.png')"
      >
    </div>
    <span
      class="mt-8"
      style="font-size: 16px; font-weight: 600; color: #444444"
    >
      Unlink account
    </span>
    <span
      class="mt-2 mb-10"
      style="font-size: 14px; font-weight: 400; color: #444444"
    >
      Are you sure you want to unlink your Chase saving account?
    </span>
    <div class="text-center mt-16 mb-4">
      <common-trs-btn
        class="mb-4"
        style="background-color: white; width: 200px; margin: auto; border: 1px solid #B9C5C7; color: #27566D; text-transform: initial; font-size: 16px; font-weight: 500;"
        @click="()=>{$emit('continue')}"
      >
        Confirm
      </common-trs-btn>
      <common-trs-btn
        @click="()=>{$emit('cancel')}"
        style="background-color: white; width: 200px; margin: auto; border: none; color: #27566D; text-transform: initial; font-size: 16px; font-weight: 500;"
      >
        Cancel
      </common-trs-btn>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'ConfirmModalForm',
  }
</script>
