<template>
    <div class="d-flex flex-column px-4 text-center mt-4 pb-16">
      <img
        style="width: 200px; margin: auto"
        class="m-auto mt-10"
        :src="require('@/components/common/assets/Transfer/chase.png')"
      >
      <span
        class="mt-8"
        style="font-size: 16px; font-weight: 600; color: #444444"
      >
        {{ isSuccess ? 'Successfully Done!' : 'Transferring money' }}
      </span>
      <span
        class="mt-2 mb-10"
        style="font-size: 14px; font-weight: 400; color: #444444"
      >
        {{ isSuccess ? 'Payment Sent.' : 'This may take upto 5 mins.' }}
      </span>
      <common-page-loader v-if="!isSuccess" />
      <img
        :src="require('@/components/common/assets/Transfer/success.png')"
        v-if="isSuccess"
      />
    </div>
</template>
  <script>
  export default {
    name: 'ProcessModalForm',
    data: () => ({
      isSuccess: false,
    }),
    mounted () {
      setTimeout(() => {
        this.isSuccess = true
      }, 2000)
      setTimeout(() => {
        this.$emit('continue')
      }, 4000)
    },
  }
  </script>
