<template>
    <v-dialog
      v-model="internalDialog"
      :max-width="300"
      :hide-overlay="false"
      persistent
    >
      <template v-slot:activator="{ on }">
        <slot
          name="activator"
          v-bind="{ on }"
        />
      </template>
      <common-trs-modal-card>
        <common-trs-modal-card-title>
          <common-trs-btn
            text
            color="#2A3333"
            type="tertiary"
            class="back-btn"
            x-small
            v-if="step===3"
          >
            <v-icon>mdi-keyboard-backspace</v-icon>
          </common-trs-btn>
          <common-trs-modal-card-title-content>
            {{ step===3 ? 'Confirmation' : '' }}
          </common-trs-modal-card-title-content>
          <common-trs-btn
            aria-label="Close"
            type="secondary"
            class="rounded-0"
            color="primary"
            size="large"
            icon
            text
            @click="close"
          >
            <v-icon>mdi-close</v-icon>
          </common-trs-btn>
        </common-trs-modal-card-title>
        <div v-if="step===1">
          <confirm-modal-form
            @continue="step=2"
            @cancel="close"
          >
          </confirm-modal-form>
        </div>
        <div v-if="step===2">
          <process-modal-form
            @continue="step=3"
          ></process-modal-form>
        </div>
        <div v-if="step===3">
          <complete-modal-form
            @continue="close"
          ></complete-modal-form>
        </div>
      </common-trs-modal-card>
    </v-dialog>
  </template>
  <script>
  import ConfirmModalForm from './ConfirmModalForm'
  import ProcessModalForm from './ProcessModalForm'
  import CompleteModalForm from './CompleteModalForm'
  export default {
    name: 'TransferModal',
    components: {
      ConfirmModalForm,
      ProcessModalForm,
      CompleteModalForm,
    },
    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalDialog: false,
      isChecked: false,
      step: 1,
    }),

    methods: {
      close () {
        this.internalDialog = false
        this.isChecked = false
        this.step = 1
      },
    },
  }
</script>
